
body {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: Arial, sans-serif;
    color: #636466;
    overflow-x: hidden;
}


.clear {
    clear: both;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin: auto;
    background: #0070B7;
    padding: 2px;
    height: 20px;
    line-height: 20px;
}

.formatArrowPos, .formatArrowNeg {
    background-size: 80%;
    background-repeat: no-repeat !important;
    width: 15px;
}

.formatArrowPos {
    /*background: url('images/arrowup.png');*/
}

.formatArrowNeg {
    /*background: url('images/arrowdown.png');*/
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 3px solid #776F67;
    font-weight: 700;
    font-size: 12px;
}

/*.formatColourPos::before{content:"+";}*/

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

input, select {
    padding: 0px 7px;
    line-height: 25px;
    height: auto;
}

.wide-input {
    width: 195px;
}

input[type=number] {
    background: #fff;
    height: 15px;
    line-height: 15px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    /*font-weight: normal;
    cursor: pointer;
    font-size: 20px;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 7px 20px 7px 20px;
    height: auto;
    line-height: normal;
    width: 195px;
    background: #D31145;
    color: #fff;*/
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: normal;
    padding: 8px;
    width: 100px;
    color: #ffffff;
    background-color: #72869e;
    border: #007a9f;
    line-height: 15px;
    height: 30px;
}

    input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        background-color: #00549e;
        border: #00549e;
        color: #fff;
        -webkit-transition: background-color .3s ease;
        -moz-transition: background-color .3s ease;
        -o-transition: background-color .3s ease;
        transition: background-color .3s ease;
        box-shadow: none;
    }


.IRQuoteModule {
    font-size: 14px;
}

.table-look {
    border-bottom: 1px solid #efeeee;
}

    .table-look tbody {
    }

.IRMiniquoteModule .table-look {
    border-bottom: 0;
}

.table-look td, .table-look th {
    height: 25px;
    line-height: 25px;
    /*position: relative;*/
    width: 50px;
}

.table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    /*    border-bottom: solid 1px #E3DED2;*/
}

.table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    text-align: center;
    padding: 0 0 0 0;
}

.table-look th {
    width: 244px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #efeeee;
    text-align: center;
    font-weight: bold;
    border: #efeeee;
    font-size: 14px;
    color: #00549e;
}

.customResponsiveVertical th {
    width: 100%;
}

.table-look td {
    border: 0;
    padding: 2px;
    line-height: 20px;
    border-bottom: none;
    font-size: 14px;
    text-align: center;
}

    .table-look td.formatColourPos, *.formatColourPos {
        color: green;
    }

    .table-look td.formatColourNeg, *.formatColourNeg {
        color: red;
    }

    .table-look th.column-first, .table-look td.column-first {
        border-left: none;
        font-size: 14px;
    }

    .table-look td.column-first {
    }

    .table-look th.column-last, .table-look td.column-last {
    }

.IRMiniquoteChartModule .timestamp {
    margin-bottom: 10px;
    max-width: initial;
    text-align: left;
    font-size: 10px;
}

/* IRMiniquoteModule ===================================================== */
.disclaimer-IRMiniquote {
    display: none;
}

.IRMiniquoteModule {
    font-weight: 400;
    font-size: 14px;
}

    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
        padding: 0;
        color: #D31145;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    height: auto;
}

table.miniquoteChartTable {
    width: 100%;
    font-size: 14px;
}

.miniquoteChartTable td {
    line-height: 18px;
    text-align: right;
}

    .miniquoteChartTable td.lastColumn {
        text-align: right;
        /*width: 90px;*/
    }

.miniquoteChartTable .Symbol {
    vertical-align: middle;
    font-size: 28px;
    width: 40%;
    height: 40px;
}

.IRMiniQuoteQuoteModule .last {
    font-weight: 400;
    font-size: 15px;
    display: inline;
}

.IRMiniQuoteQuoteModule .currency {
    font-size: 15px;
    font-weight: 400;
    padding-left: 0px;
    display: inline;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    text-align: left;
    font-weight: 400;
}

.IRMiniQuoteQuoteModule .closeDate {
    font-weight: 300;
    display: none;
}

.IRMiniQuoteQuoteModule .delayed {
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
}

.IRMiniQuoteQuoteModule .change {
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    width: 11px;
    height: 15px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 19px;
    width: 100%;
    text-align: left;
    display: block;
    float: left;
    background-image: url('images/arrowRight.png');
    background-repeat: no-repeat;
    background-position: 13% center;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}

.miniquoteChartWrapper div {
    line-height: 18px;
    color: #3C4144;
    text-indent: 5px;
}

    .miniquoteChartWrapper div.Header {
        font-weight: 700;
    }

    .miniquoteChartWrapper div.Data {
        padding-bottom: 3px;
    }

    .miniquoteChartWrapper div.formatColourNeg {
        color: red;
    }

    .miniquoteChartWrapper div.formatColourPos {
        color: green;
    }

/* End =================================================================== */


/* IRChart =============================================================== */


/*IRChartPlaceholderArea{width: 99%;}*/

.IRChartPlaceholderArea .IRChartPlaceholder {
    /* width: 99% <--- iPhone 6+ fix to stop iFrame expanding. */
}

.IRChartHTMLPlaceholder {
    height: 200px;
    min-width: 250px;
    clear: both;
}

.IRChartColour {
    color: #00aeef;
}

.IRChartComparisonBodyListHeader {
    border-left: 5px solid #D31145;
}

.basicButtonLook.color596C80:hover {
    border-left: 5px solid #596C80;
}

.basicButtonLook.color596C80.active {
    border-left: 5px solid #596C80;
}

.color596C80.active span {
    border-left: 5px solid #596C80;
}

.colorIndicator.color596C80.active {
    border-left: 5px solid #596C80;
    padding-right: 4px;
}

.highcharts-series highcharts-tracker {
}


.IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartMenuTrigger {
    background-color: #FFF;
}

.IRChartChangePeriodCustom {
    height: 25px;
    line-height: 25px;
    /* width: 400px; */
    width: 450px;
    margin: 0px auto;
}

.IRChartPlaceholderArea .IRChartChangePeriodOuterCustom {
    width: 100%;
    position: absolute;
    /*bottom: -40px;*/
}

.IRChartChangePeriodCustom div {
    background: #fff;
    text-transform: uppercase;
    /*font-weight: bold;*/
    margin: 0 0.25em 0 0;
}

.chartChangePeriodCustom div#max {
    border-right: 0;
}

div.highcharts-axis-labels.highcharts-xaxis-labels {
    top: -5px !important;
}

.IRChartPlaceholderArea .IRChartChangePeriodCustom div.activePeriod, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
    background: #00aeef;
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriodCustom div {
    color: #000;
    margin: 0px 2px 2px 0px;
    background-color: #fff;
    border: 1px solid #596C80;
    display: table-cell;
    float: none;
    width: auto;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}

    .IRChartPlaceholderArea .IRChartChangePeriodCustom div:hover {
        background-color: #223243;
        border: 1px solid #223243;
        color: #fff;
        -webkit-transition: background-color .3s ease;
        -moz-transition: background-color .3s ease;
        -o-transition: background-color .3s ease;
        transition: background-color .3s ease;
    }

.IRChartPlaceholderArea .IRChartChangePeriodCustom {
    width: 100%;
    border-spacing: 2px;
    display: table;
    table-layout: fixed;
}

.IRChartHTMLPlaceholder {
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    color: #000 !important;
    fill: #000 !important;
}

.IRMiniquoteChartPlaceholder .highcharts-xaxis-labels text, .IRMiniquoteChartPlaceholder .highcharts-yaxis-labels {
    font-size: 10px !important;
}

.IRMiniquoteChartPlaceholder rect {
    fill: #fff;
}

.chartNavBarRange {
    margin-top: 5px;
}

.IRChartNavigation .IRChartCompanyName {
    font-weight: bold;
}

.IRChartNavigation .updated {
    float: right;
    padding-right: 10px;
}

.IRQuoteModule .updated {
    padding: 8px;
    color: #999999;
    text-align: right;
}

/* End ====================================================================== */


/* IRChartNavigationBottom Design =========================================== */

.buttonWrapper {
    position: relative;
    float: left;
    text-align: right;
    width: 100%;
    top: 70px;
}

    .buttonWrapper .buttonLook {
        background: #000;
        color: #fff;
        font-size: 20px;
        float: left;
        margin-left: 20px;
        float: right;
        padding: 0px 30px 0px 30px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: 20px;
        margin-bottom: 20px;
        display: none;
    }

.IRChartNavigationBottom {
    font-size: 13px;
    float: left;
    width: 100%;
    position: relative;
    top: 60px;
    margin-top: 10px;
}

    .IRChartNavigationBottom .navBottomRow {
        float: left;
        width: 33%;
    }

        .IRChartNavigationBottom .navBottomRow .buttonLook {
            display: block;
            position: relative;
            width: 80%;
            background-color: #de076e;
            text-align: center;
            color: white;
            line-height: 30px;
            height: 30px;
            cursor: pointer;
        }

    .IRChartNavigationBottom .featureCheckbox {
        display: block;
        padding-left: 30px;
        height: 30px;
        line-height: 30px;
        background-image: url(inc/checkbox_false.png);
        background-position: left center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .IRChartNavigationBottom .navBottomRow .buttonLook {
        display: block;
        position: relative;
        width: 80%;
        background-color: #de076e;
        text-align: center;
        color: white;
        line-height: 30px;
        height: 30px;
        cursor: pointer;
    }

    .IRChartNavigationBottom .navBottomRow h2, .legend h2 {
        color: #666;
        font-weight: 400;
        font-size: 15px;
        padding: 0;
        text-transform: uppercase;
        margin-bottom: 10px;
        border: none;
    }

.legend {
    clear: both;
}

.IRChartNavigationBottom .diagramSelect, .IRChartNavigationBottom .chartModeSelect {
    display: block;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    background-image: url(inc/radio_false.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.IRChartNavigationBottom .diagramSelect, .IRChartNavigationBottom .chartModeSelect {
    display: block;
    padding-left: 30px;
    height: 25px;
    line-height: 25px;
    background-image: url(inc/radio_false.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 20px 20px;
}

.IRChartNavigationBottom .featureCheckbox {
    display: block;
    padding-left: 25px;
    height: 25px;
    line-height: 25px;
    background-image: url(inc/checkbox_false.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 20px 20px;
    -webkit-transition: opacity 0.125s linear;
    transition: opacity 0.125s linear;
}

.IRChartNavigationBottom .diagramSelect.checked, .IRChartNavigationBottom .chartModeSelect.checked {
    background-image: url(inc/radio_true.png);
}

.IRChartNavigationBottom .featureCheckbox.checked {
    background-image: url(inc/checkbox_true.png);
}

/* End ====================================================================== */

/* IRDetailedSharePrice ===================================================== */

.IRQuoteHorizontalModule .quote {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 37px;
}

    .IRQuoteHorizontalModule .quote .current, .IRQuoteHorizontalModule .quote .change {
        margin: 20px;
        margin-left: 0;
        width: 200px;
        float: left;
    }

    .IRQuoteHorizontalModule .quote .current {
        color: #164172;
        font-size: 30px;
        float: left;
        margin: 0;
        margin-top: 45px;
    }

    .IRQuoteHorizontalModule .quote .change {
        float: left;
        color: #616161;
        font-size: 16px;
        margin-top: 45px;
    }

        .IRQuoteHorizontalModule .quote .change div {
            margin-bottom: 15px;
            font-weight: 300;
        }

.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look td {
}

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 50px;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    font-size: 19.7px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.IRQuoteHorizontalModule h3 {
    text-align: left;
    font-weight: normal;
    font-size: 22px;
    font-weight: 300;
    float: left;
    width: 100%;
    color: #06038d;
}

.IRDetailedSharePrice.table-look th {
}

.IRDetailedSharePrice th, .IRDetailedSharePrice td {
    padding-top: 0;
    padding-bottom: 0;
}

.IRDetailedSharePrice td {
    font-size: 14px;
    font-weight: 300;
}

.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}

/* End ======================================================================== */



/* IRPerformanceModule ============================================================ */
.IRPerformanceModule .table-look th, .IRPerformanceModule .table-look td {
    text-align: right;
    /*font-size: 13px;*/
}

    .IRPerformanceModule .table-look th.column-first, .IRPerformanceModule .table-look td.column-first {
        text-align: left;
    }

    .IRPerformanceModule .table-look th.column-last, .IRPerformanceModule .table-look td.column-last {
        /*padding-right: 10px;*/
    }
/* End ======================================================================== */

/* IRNewsModule ============================================================ */

.IRNewsModule {
    font-size: 14px;
    background: transparent;
}

    .IRNewsModule .filter-wrapper {
        width: 100%;
        float: left;
    }

.news-filter-wrapper {
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
    padding: 0.91em;
}

.IRNewsModule h2 {
    font-size: 24px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    display: none;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #666666;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.IRNewsModule input:focus, .IRNewsModule textarea:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #c6007e;
}

.news-filter-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    /*overflow: hidden;*/
    width: 100%;
}

.IRNewsModule .search-for-box {
    width: 46%;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/

.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/selectDown.png);
    border: 1px solid #e1e1e1;
    width: 183px;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

    .IRNewsModule .news-filter-wrapper select:focus, .IRNewsModule .news-filter-wrapper #from-month:focus, .IRNewsModule .news-filter-wrapper #to-month:focus, .IRNewsModule .news-filter-wrapper #from-year:focus, .IRNewsModule .news-filter-wrapper #to-year:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #c6007e;
    }

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    width: 183px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: left;
}

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 5px;
    line-height: 30px;
    height: 30px;
    width: 183px;
    font-size: 14px;
}

    .IRNewsModule .news-filter-wrapper .searchText::-webkit-input-placeholder {
        color: #343434;
    }

.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
}

.IRNewsModule .search-for-box input {
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    width: 114px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    padding: 0 5px;
    font-weight: 300;
    margin-right: 5px;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    font-weight: 400;
    padding: 0 5px;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 64px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.IRNewsModule .datepicker {
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 385px;
    width: 46%;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .IRNewsTool .IRDataGroup div {
        border-bottom: 0;
    }

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .filter-wrapper .submitButton {
    margin-left: 46%;
}

.IRNewsModule .submitButton {
    margin-top: 20px;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(images/calendar.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    /*margin-right: 63px;*/
}

/* NewsContent ======================================================== */

.IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
}

.IRNewsModule .NewsDataGroupWrapper {
    border-bottom: 1px solid #3684c3;
    float: left;
    width: 100%;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    width: 58%;
    font-size: 14px;
}

.IRNewsTool .IRDataGroup div {
}

.IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    font-weight: 300;
    font-size: 14px;
    width: 18%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    font-size: 14px;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    width: 17%;
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    width: 140px;
    text-align: center;
}

    .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    }

.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 16px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .IRDate {
    width: 23%;
    color: #666666;
}

.IRNewsModule .IRNewsTool .IRData.file-type {
    width: 24%;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool .IRData.IRTitle {
}

.IRNewsModule .IRNewsTool .IRHeader.IRTitle, .IRNewsModule .IRNewsTool IRData.IRTitle {
    width: 55%;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRHeader.file-type {
    width: 17%;
}

.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /*width: initial;*/
    width: 20px;
}

    /* JR: removed width: initial;*/

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('../images/pdficonsmall.png');
        float: left;
        margin-top: 0px;
        height: 52px;
        width: 13px;
        /* JR: changed from 10 to 13 */
        background-repeat: no-repeat;
        background-position: left center;
    }

.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
}

    .IRNewsPagination .IRNewsPaginationPageNew {
        font-weight: 400;
        color: #164172;
    }

        .IRNewsPagination .IRNewsPaginationPageNew.active {
            font-weight: 300;
            color: #164172;
        }

    .IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('images/prev.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('images/next.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

.IRNewsTableFooter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.IRNewsPaginationPageNew {
    width: 42px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.IRNewsTableFooter .IRNewsPagination {
    font-size: 14px;
    padding-right: 25px;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
}

.IRNewsPagination .IRNewsPageNumber {
    font-size: 16px;
    font-weight: normal;
    color: #497FC4;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #757575;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .IRNewsTool .IRData.IRDataHover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

div.IRNewsTool .IRHeaderGroup div, .IRNewsTool .IRDataGroup div {
}

.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
    font-size: 14px;
    background: url(images/checkbox.png) left center no-repeat;
    line-height: 30px;
    margin-bottom: 10px;
}

    .IRNewsModule .news-filter-box .checkbox.checked {
        background: url(images/checkbox-active.png) left center no-repeat;
        font-weight: 400;
    }

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

/* ============================================================================ */


/* ORDERS =============================================================== */

.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: #72869e;
}
td.totalVolumeAsk {
    text-align: right;
}
td.TotalVolumeTitle  {
    text-align: center;
}




/* IRCalcModule =============================================================== */

.IRCalcModule {
    font-size: 14px;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.IRCalcModule #calc-form, .IRCalcModule #calculate-button {
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

.IRCalcModule #amount-invested {
    margin-bottom: 10px;
}

.IRCalcModule input[type=number] {
    padding-left: 0;
    text-indent: 10px;
}

.input-wrapper.wide-input.radio {
    text-align: right;
}

/* End ======================================================================== */


/* IRLookupModule =============================================================== */

.IRChartLookupPlaceholder {
    margin-bottom: 10px;
    height: 250px;
}

.input-row {
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
}

.IRLookupResultsTable tr {
    border-bottom: 1px solid #dbdad4;
}
/* End ======================================================================== */


/* Calc and Lookup ============================================================ */

    .formDivider .input-row label {
        line-height: 38px;
        font-size: 18px;
    }

label {
    font-size: 13px;
}

.radio label {
    position: relative;
}

.disclaimer.disclaimer-IRPerformance, .disclaimer.disclaimer-IROrders, .disclaimer.disclaimer-IRQuote, .disclaimer.disclaimer-IRTrades, .disclaimer.disclaimer-IRCalc {
    display: none;
}


@media only screen and (max-width: 800px) {
    .formDivider {
        width: 100%;
        float: left;
        padding: 0px;
    }
}

/* Email Alerts Module ======================================================== */

.emailAlerts p, .checkBoxText {
    color: #555555;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.emailAlerts h2 {
    color: #3684c3;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

input[type=email] {
    line-height: 31px;
    height: 31px;
}

.emailAlerts input[type=email] {
    width: 68%;
    margin-right: 2%;
    padding-right: 0;
    padding-left: 0;
}

.emailAlerts .loginField {
    width: 99%;
    float: left;
    max-width: 400px;
}

.emailAlerts .buttonStyle {
    width: 28%;
}

.inputTextTitle {
    font-size: 14px;
    font-weight: 400;
    float: left;
    min-width: 140px;
    line-height: 31px;
    height: 31px;
}

input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    /*min-width: 140px;*/
}

.emailAlerts .divideLine {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 37px;
    margin-top: 37px;
}

.checkboxRelease {
    float: left;
    margin-right: 10px;
    line-height: 23px;
}

.emailAlerts .blockOuter {
    margin-top: 20px;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    margin-top: 30px;
}

/* End ======================================================================== */


/* Trades module ============================================================== */

.dataTables_scrollHead {
    padding-right: 0px;
}

.IRTradesModule .table-look {
    width: 100% !important;
}

    .IRTradesModule .table-look .column-last {
        padding-right: 17px;
    }

    .IRTradesModule .table-look th.column-last {
        /*padding-right: 34px;*/
    }

.IRTradesModule .hidden {
    display: none;
}

.IRTradesModule .table-seperator {
    background: none;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
}

table.IRTradesModule td.strong {
    font-weight: bold;
}

.IRTradesModule .table-look th {
}

.IRTradesModule .table-look td {
    font-weight: 300;
}

.IRTradesModule .table-look th, .IRTradesModule .table-look td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
}

.IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage, .IRTradesModule th.change, .IRTradesModule td.change {
    text-align: right;
}

.IRTradesModule th {
}

.IRTradesModule .table-look td {
}

    .IRTradesModule .table-look td.formatColourPos {
    }

    .IRTradesModule .table-look td.formatColourNeg {
    }

/*.IRTradesModule .table-look .formatArrowDef {
        background-image: url(../1984/images/formatArrowDefSimple.png);
        width: 9px;
        height: 9px;
        display: inline-block;

    }*/

.table-seperator tr {
}

.IRTradesModule .table-look td.table-seperator {
}

.table-seperator div {
    padding: 0px 5px;
    position: absolute;
    font-weight: normal;
    left: 50%;
    /*width: 100px;*/
    top: 5px;
    margin-left: -50px;
    background: #F0F0F0;
    height: 20px;
}

.table-seperator hr {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #bdc1c9 !important;
    border-width: 1px;
    border-top: 1px solid #cacaca;
}

.IRTradesDisclaimer {
    display: none;
}

/* End ======================================================================== */
.toggleFullscreen.buttonLook {
    text-align: right;
    padding: 5px;
    cursor: pointer;
    color: #223243;
}

/* Profile ======================================================================== */
.profile-wrapper td.Data {
    border-top: 1px solid #B6BABE;
    border-bottom: 1px solid #B6BABE;
}

.profile-wrapper th.Header {
    background-color: transparent;
}


/* MiniquoteChart ======================================================================== */

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .change {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    width: auto;
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .last {
    display: inline-block;
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .currency, .IRMiniquoteChartModule .IRMiniQuoteQuoteModule .last {
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    height: auto;
}

.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 170px;
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .symbol {
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
}

/* End ======================================================================== */
.IRChartNavigation div {
    font-size: 13px;
}

.chartLastPriceTime {
    font-size: 10px;
}

.chartLastPriceTime, .chartLastPrice {
    font-weight: bold;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ef8938;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    font-size: 13px;
    /*background-image: url(images/arrowdown.png);*/
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 12px;
    box-sizing: border-box;
    width: 240px;
}

.IRChartToolMenu.IRChartChangeListing {
    background: #f3f4f4;
    text-align: right;
    padding: 4px;
}

:focus {
    outline: none;
}

.separate-div {
    width: 100%;
    height: 30px;
    background-color: #f3f4f4;
    margin-top: 200px;
}
.IRChartPlaceholderArea .IRChartChangePeriod div {
    background: transparent;
    border: none;
}
.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #00aeef;
    color: #fff;
}
.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background-color: #00549e;
    color: #fff;
}

.radioBtn {
    top: -15px;
    margin: 0 28px 0 0;
    cursor: pointer;
}

    .radioBtn:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #ccc;
        opacity: .8;
        top: 50%;
        margin-top: -8px;
    }

    .radioBtn.checked:before {
        background: #00aeef;
    }
/*.formDivider .input-row label {
        line-height: 40px;
        font-size: 16px;
        padding-right: 10px;
    }*/

.radio label {
    position: relative;
    vertical-align: bottom;
    padding-right: 22px;
    font-size: 13px;
}

select#from-day, select#from-month, select#from-year, select#to-day, select#to-month, select#to-year, select#frequency, select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-image: url(images/arrowdown2.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 0px;
}
.IRCalcModule #amount-invested {
    height: 30px;
    box-sizing: border-box;
    min-width: 189px;
}

input[type=submit] {
    font-size: 14px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 4px;
    color: #fff;
    text-decoration: none;
    background-color: #00aeef;
    letter-spacing: 0.075em;
    padding: 5px 10px;
    box-shadow: none;
    height: 30px;
    min-width: 189px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input#amount-invested, select#frequency, select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 189px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
}

.IRPerformanceModule .Data {
    text-align: left;
}
.IRPerformanceModule.vertical .Data {
    text-align: right;
}
table.IRPerformanceModule.table-look.vertical {
    display: none;
}
.IRPerformanceModule.vertical tbody {
    width: 100%;
    display: inline-table;
}
.IRPerformanceModule .table-look.vertical th {
    background: transparent;
    color: #00549e;
    text-align: left;
    font-size: 12px;
    border: none;
}
.IRPerformanceModule .table-look.vertical td {
    background: transparent;
    text-align: right;
    font-size: 12px;
}
.profile-wrapper .IRTable.table-look th {
    color: #00549e;
    font-size: 14px;
    border: none;
    text-align: left;
}
.profile-wrapper .IRTable.table-look td {
    color: #636466;
    text-align: right;
    border: none;
    font-size: 14px;
}

.disclaimer.disclaimer-IRChart,
.disclaimer.disclaimer-IRCalc2 {
    display: none;
}
.profile-wrapper .table-look {
    border-bottom: 2px solid #00549e;
    border-top: 2px solid #00549e;
}

.miniquoteDetailsWrapper .Data.last {
    font-size: 14px;
    font-weight: bold;
    color: #43af4a;
}
.miniquoteDetailsWrapper .Data.share-price {
    color: #055d9c;
}
/* @media only screen =========================================================*/

@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input {
        min-width: 175px;
    }
}

@media only screen and (max-width: 700px) {
    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 53%;
    }

    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        width: 50%;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 50%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
        min-width: 70px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 183px !important;
    }
}

@media only screen and (max-width: 600px) {

    table.IRPerformanceModule.table-look.vertical {
        display: block;
    }
    table.IRPerformanceModule.table-look.horizontal.responsive {
        display: none;
    }
}

.IRCalcModule .vertical {
    display: none;
}

@media only screen and (min-width: 572px) {
    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }



    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .profile-wrapper td.Data {
        text-align: right;
    }
    .table-look th, .table-look td {
        padding-left: 0;
        padding-right: 0;
    }

    .table-look .vertical th {
        border: 1px;
    }

    .IRChartNavigation, .IRChartPlaceholderArea, .IRChartPlaceholder, .IRChartPlaceholderArea .IRChartChangePeriodOuter, .IRChartPlaceholderArea .IRChartChangePeriod {
        padding-left: 0;
        padding-right: 0;
    }

    input[type=submit] {
    }

    .IRDetailedSharePrice.table-look th {
        padding-left: 10px;
        background-color: #fff;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        color: #282828;
        text-transform: none;
    }

    .IRDetailedSharePrice.vertical td {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        font-weight: normal;
        font-size: 14px;
        height: initial;
        line-height: initial;
        white-space: initial;
        color: #282828;
        border-bottom: 0;
    }

    .IRDetailedSharePrice.table-look th {
        width: 45%;
        background: none;
    }

    .IRDetailedSharePrice.horizontal {
        display: none !important;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }

    .divideLine.horizontal {
        display: none;
    }

    .IRTradesModule .formatArrowPos, .IRTradesModule .formatArrowNeg {
        display: inline-block;
    }

    .IRQuoteHorizontalModule h3 {
        padding-left: 10px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 100%;
        text-align: center;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div {
            float: none;
            display: inline-block;
        }
}

@media (max-width: 500px) {
    .chartChangePeriod {
        width: 400px;
    }
}

@media only screen and (max-width: 480px) {

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical {
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        border: none;
    }

        .IRCalcModule .vertical th {
            line-height: 30px;
            height: 30px;
            width: 100%;
            font-weight: bold;
            background-color: #fff;
            border: none;
            color: #0e4b84;
            text-align: left;
        }

        .IRCalcModule .vertical td {
            font-weight: normal;
            text-align: right;
            background-color: #fff;
            border-right: 0;
            border-left: 0;
        }

        .IRCalcModule .vertical tr {
            background: #fff;
        }

            .IRCalcModule .vertical tr:nth-child(2n) {
                background-color: #f5f6f3;
            }
}

@media only screen and (max-width: 400px) {

    chartChangePeriod {
        width: 200px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}


@media (max-width: 550px) {
    .IRChartNavigationBottom .navBottomRow {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }

    .buttonWrapper .buttonLook {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
        float: left;
        text-align: center;
        margin-left: 0;
    }

    navBottomRow h2 {
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
    }

    .separate-div {
        margin-top: 440px;
    }
}


/* End ======================================================================== */


/* IRChartChangePeriodCustom Media Queries ==================================== */

.IRChartChangePeriodOuterCustom {
}

@media (max-width: 1120px) {
    .IRChartPlaceholderArea .IRChartChangePeriodCustom {
        width: 100%;
        border-spacing: 0px;
        display: block;
    }

    #m3, #Max {
        margin-right: 0px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriodCustom div {
        color: #666;
        margin: 0px 2px 2px 0px;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #666;
        display: block;
        float: left;
        width: 24.5%;
        text-align: center;
        cursor: pointer;
    }
}

@media (max-width: 500px) {

    .table-look th.bid, .table-look td.bid {
        text-align: center;
        padding-right: 10px;
    }
    .IRMiniquoteChart.table-look th.change {
        text-align: left;
    }
}

@media (max-width: 400px) {

    .table-look th.change, .table-look td.change {
        text-align: center;
        padding-right: 0;
    }
}

@media (max-width: 350px) {


    .IRChartPlaceholderArea .IRChartChangePeriodCustom {
        width: 100%;
    }

        .IRChartPlaceholderArea .IRChartChangePeriodCustom div {
            width: 11%;
            font-size: 14px;
        }

    #m3, #Max {
        margin-right: 2px;
    }

    .table-look th.last, .table-look td.last {
        text-align: center;
        padding-right: 10px;
    }

.customResponsiveVertical {
    display: none;
}
}
@media screen and (max-width: 300px) {
    select#frequency, select#format, .IRCalcModule #amount-invested {
        min-width: 0px;
        width: 125px;
    }
}

@media (max-width: 600px) {
    .horizontal.responsive .IRElement5 {
        display: table-cell;
    }
}
@media (max-width: 500px) {
    .horizontal.responsive .IRElement4 {
        display: none;
    }
}

select::-ms-expand {
    display: none;
}
.miniquoteDetailsWrapper {
    height: 24px;
    line-height: 24px;
}

div#highcharts-0 {
    height: 150px;
}
.IRMiniquoteChart.table-look {
    border-bottom: none;
    border: 0;
}
.IRMiniquoteChart.table-look th {
    border: none;
    text-align: left;
    font-weight: bold;
    color: #00549e;
    background: transparent;
}
.IRMiniquoteChart.table-look td {
    border: 0;
    border-bottom: none;
    font-size: 14px;
    text-align: right;
}