@font-face {
    font-family: 'FM Light';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154570/fm_light-webfont.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154570/fm_light-webfont.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: 'FM Regular';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154570/fm_regular-webfont.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154570/fm_regular-webfont.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: 'FM Bold';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154570/fm_bold-webfont.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154570/fm_bold-webfont.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: 'Brown Bold';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154570/BrownStd-Bold.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "LandsecBrownWeb-Regular";
    src: url("fonts/LandsecBrownWeb-Regular.eot");
    src: url("fonts/LandsecBrownWeb-Regular.eot?#iefix") format("embedded-opentype"),
         url("fonts/LandsecBrownWeb-Regular.woff2") format("woff2"),
         url("fonts/LandsecBrownWeb-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LandsecBrownWeb-Bold";
    src: url("fonts/LandsecBrownWeb-Bold.eot");
    src: url("fonts/LandsecBrownWeb-Bold.eot?#iefix") format("embedded-opentype"),
         url("fonts/LandsecBrownWeb-Bold.woff2") format("woff2"),
         url("fonts/LandsecBrownWeb-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FM-BoldWEB";
    src: url("fonts/FM-BoldWEB.eot");
    src: url("fonts/FM-BoldWEB.eot?#iefix") format("embedded-opentype"),
         url("fonts/FM-BoldWEB.woff2") format("woff2"),
         url("fonts/FM-BoldWEB.woff") format("woff"),
         url('fonts/FM-BoldWEB.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FM-LightItalicWEB";
    src: url("fonts/FM-LightItalicWEB.eot");
    src: url("fonts/FM-LightItalicWEB.eot?#iefix") format("embedded-opentype"),
         url("fonts/FM-LightItalicWEB.woff2") format("woff2"),
         url("fonts/FM-LightItalicWEB.woff") format("woff"),
         url('fonts/FM-LightItalicWEB.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FM-LightWEB";
    src: url("fonts/FM-LightWEB.eot");
    src: url("fonts/FM-LightWEB.eot?#iefix") format("embedded-opentype"),
         url("fonts/FM-LightWEB.woff2") format("woff2"),
         url("fonts/FM-LightWEB.woff") format("woff"),
         url('fonts/FM-LightWEB.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: "FM-LightWEB", Sans-Serif;
	if; */
}
body {
    font-family: "FM-LightWEB", Sans-Serif;
    font-size: 20px;
    overflow-x: hidden;
    color: #1C1C1B;
}



.disclaimer {
    font-size: 11px;
}

.disclaimer.disclaimer-IRMiniquoteChart {
    display: none;
}


.table-look th, .table-look td {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    height: 40px;
}


.table-look th {
    /*font-weight: bold;*/
    text-align: center;
    font-family: "FM-BoldWEB", sans-serif;
}

.table-look td {
    /* font-weight: bold; */
    text-align: left;
    border: none;
}

/* IRChart =============================================================== */


.IRChartModule {
    margin-top: 20px;
}

.IRQuoteModule .updated {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    font-size: 16px;
    color: #8e8e8d;
}

.IRChartColour {
    color: #7ac142;
}

.IRQuoteModule th.Header {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #0E6e98;
    background: #FAFAFA;
}

.IRQuoteModule td.Data {
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*    border-bottom: 1px solid #FAFAFA;*/
    font-family: "FM-BoldWEB", sans-serif;
    font-size: 18px;
    color: #1c1c1b;
}

.IRQuoteModule td.Data.formatColourPos {
    color: green;
}
.IRQuoteModule td.Data.formatColourNeg {
    color: red;
}

.table-look th.column-last, .table-look td.column-last {
    text-align: right;
}

.table-look th.column-first, .table-look td.column-first {
    text-align: left;
}

.IRChartPlaceholderArea .IRChartPlaceholder {
    box-sizing: initial;
}


.IRChartPlaceholderArea .IRChartChangePeriod div {
    border: none;
    /*
    font-size: 14px;
    color: #7ac142;
*/
    font-size: 16px;
    color: #0e6e98;
    font-family: "FM-BoldWEB", sans-serif;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
        background-color: #0e6e98;
        text-decoration: none;
        -webkit-transition: background-color .15s ease-out;
        transition: background-color .15s ease-out;
        color: #fff;
    }


    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        /*text-transform: uppercase;*/
        color: #fff;
        background-color: #0e6e98;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
            background-color: #0e6e98;
            text-decoration: none;
            -webkit-transition: background-color .15s ease-out;
            transition: background-color .15s ease-out;
            color: #fff;
            box-shadow: none;
        }

.IRChartNavigation .IRChartTA .pop-submit {
    color: #fff;
    background: #515054;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

    .IRChartNavigation .IRChartTA .pop-submit:hover {
        color: #fff;
    }

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 22px;
    line-height: 22px;
    /* width: 400px; */
    margin: auto;
    box-sizing: border-box;
}

.highcharts-yaxis-labels text:last-child {
    display: none;
}

.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.highcharts-axis-labels.highcharts-xaxis-labels span {
    font-size: 11px;
    color: #1c1c1b;
}

.highcharts-axis-labels.highcharts-xaxis-labels text {
    font-size: 16px !important;
    fill: #1c1c1b !important;
    fill-opacity: 0;  
}

.highcharts-navigator-handle-right rect,
.highcharts-navigator-handle-right path,
.highcharts-navigator-handle-left rect,
.highcharts-navigator-handle-left path {
    stroke: #1c1c1b;
    
}   


.tooltipHTML {
    box-shadow: none;
/*
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
*/
    font-size: 14px;
    width: 190px;
    padding: 5px;
}

/*
.IRChartNavigation .IRChartTA .IRChartTABody div.IRChartTABodyListHeader, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div.IRChartComparisonBodyListHeader, .IRChartNavigation .IRChartSettings .IRChartSettingsBody .IRChartSettingsBodyListHeader {
    color: #1c1c1b;
    font-size: 16pt;
    text-align: left;
}
*/

    .tooltipHTML .IRChartTooltipDate {
        font-size: 16px;
        font-weight: 700;
/*        border-bottom: 1px solid #8e8e8d;*/
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .tooltipHtmlComparison div, .tooltipHtmlTA div, .tooltipHTML div {
        color: #1c1c1b;
        font-size: 16px;
    }

.IRChartSettings .basicButtonLook.selectableItem.active,
.IRChartSettings .basicButtonLook.selectableItem:hover {
    border-left: none;
}

.IRChartSettings .basicButtonLook.selectableItem {
    color: #0e6e98;
    font-size: 16px;
}

.IRChartSettings .basicButtonLook.selectableItem.active {
    color: #1c1c1b;
    font-size: 16px;
}

.highcharts-tooltip span {
    color: #515054;
}

.tooltipHTML .IRChartTooltipDate, .tooltipHTML div.IRChartTooltipVolume span {
    color: #333;
}

.IRChartCompanyName {
    /* color: #333; */
}

.IRChartCurrency {
    color: #333;
    font-size: 12px;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 14px !important;
    color: #1c1c1b;
}

table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
    display: none;
}

.highcharts-background {
    fill: transparent;
}

.icon-enlarge:before {
    content: "\e989";
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRChartNavigation {
    border-bottom: 1px solid #eee;
    border-top: 0;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 */
    background: #FAFAFA;
    height: 40px;
    line-height: 40px;
}

    .IRChartNavigation .IRChartView, .IRChartNavigation .IRChartTA, .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR, .IRChartNavigation .IRChartCC, .IRChartNavigation .IRChartFullscreen, .IRChartNavigation .IRChartSettings, .IRChartNavigation .IRChartListings, .IRChartNavigation .IRChartMenuTrigger {
        background-color: transparent;
        /*        color: #7ac142;*/
        /* font-size: 11px; */
        font-size: 16px;
        color: #0e6e98;
    }

        .IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody div, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div, .IRChartNavigation .IRChartTSR .IRChartTSRBody div, .IRChartNavigation .IRChartSettings .IRChartSettingsBody div, .IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody div, .IRChartNavigation .IRChartTA .IRChartTABody div, .IRChartNavigation .IRChartCC .IRChartCCBody div {
            font-size: 14px;
            font-weight: 400;
            
        }

            .IRChartNavigation .IRChartTA .IRChartTABody div.IRChartTABodyListHeader, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div.IRChartComparisonBodyListHeader, .IRChartNavigation .IRChartSettings .IRChartSettingsBody .IRChartSettingsBodyListHeader {
                color: #1c1c1b;
                font-size: 16px;
                text-align: left;
                padding-left: 4px;

            }


        .IRChartNavigation .IRChartView:hover, .IRChartNavigation .IRChartTA:hover, .IRChartNavigation .IRChartCC:hover, .IRChartNavigation .IRChartComparison:hover, .IRChartNavigation .IRChartTSR:hover, .IRChartNavigation .IRChartSettings:hover, .IRChartNavigation .IRChartFullscreen:hover, .IRChartNavigation .IRChartListings:hover {
            background-color: #35a9e1;
            color: #fff;
        }

    .IRChartNavigation .IRChartCompanyName {
        font-size: 24px;
        color: #1c1c1b;
        font-family: "FM-BoldWEB", sans-serif;
    }
/*
.highcharts-series rect{
    fill: #ff0000 !important;
}*/

/*
.IRChartPlaceholderArea .IRChartPlaceholder .highcharts-container svg path {
    fill: none;
    
}
*/

.table-top-info {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 16px;
    color: #1c1c1b;
}

    .table-top-info div {
        display: inline-block;
        margin-right: 10px;
    }


.chartLastPrice, .chartLastPriceTime {
    color: #ffffff;
}

.IRChartModule .IRChartPlaceholderArea .IRChartCurrency {
}

div.tooltipHtmlNewsDate {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div.tooltipHtmlNewsHeadline.hooverable:last-child {
    color: #515054;
    font-size: 16px;
}
/* End ====================================================================== */

/* IRChartMini ============================================================== */

.IRChartOuter .IRChartCurrency {
    z-index: 100 !important;
    top: 0;
    font-size: 16px;
}

.IRChartHeader .IRChartClientName {
    background: #fff;
}

.IRChartHTMLMiniPlaceholder .highcharts-background {
    fill: transparent;
}


.IRChartHTMLMiniPlaceholder .highcharts-container rect{fill: transparent;}

.IRMiniquoteChart .Data {
    font-family: "FM-BoldWEB", Arial, sans-serif;
}

.IRMiniquoteChart .Data.sharePrice {
    font-size: 16px;
}

.IRMiniquoteChart .Data.formatColourPos,
.IRMiniquoteChart .Data.formatColourNeg {
    font-size: 40px;
}

.IRMiniquoteChart .Data.change {
    font-size: 18px;
}

.IRMiniquoteChart.table-look {
    margin-bottom: 20px;
}


.IRMiniquoteChartModule .footerCont {
    margin-top: 20px;
    margin-left: 5px;
    font-family: "FM-BoldWEB", sans-serif;
    color: #35a9e1;
}

.IRMiniquoteChartModule .footerCont .cube {
    width: 14px;
    height: 14px;
    background-color: #35a9e1;
    display: inline-block;
    margin-right: 5px;
}
.IRMiniquoteChart .Data.last {
    color: #35a9e1;
    font-size: 40px;
}
.highcharts-axis-labels.highcharts-xaxis-labels text {
    text-anchor: inherit;
}

.IRMiniquoteChartPlaceholder .highcharts-container svg rect,
.IRMiniquoteChartPlaceholder .highcharts-grid path,
.IRMiniquoteChartPlaceholder .highcharts-container svg .highcharts-axis path {
    stroke: none;
}

.line {
    height: 1px;
    background: #1c1c1b;
    margin-left: 10px;
    margin-right: 10px;
}

.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 230px;
}

.IRMiniquoteChartPlaceholder .highcharts-container svg .highcharts-axis-labels.highcharts-yaxis-labels text {
    font-size: 16px !important;
    font-family: "LandsecBrownWeb-Bold", sans-serif !important;
    color: #1c1c1b !important;
    fill: #1c1c1b !important;
}
/* End ====================================================================== */


/* IRChart Comparison Colours =============================================== */
.basicButtonLook.color7FFF00:hover {
    border-left: 5px solid #7FFF00;
}

.basicButtonLook.color7FFF00.active {
    border-left: 5px solid #7FFF00;
}

.color7FFF00.active span {
    border-left: 5px solid #7FFF00;
}

.colorIndicator.color7FFF00.active {
    border-left: 5px solid #7FFF00;
    padding-right: 4px;
}

.basicButtonLook.color00BFFF:hover {
    border-left: 5px solid #00BFFF;
}

.basicButtonLook.color00BFFF.active {
    border-left: 5px solid #00BFFF;
}

.color00BFFF.active span {
    border-left: 5px solid #00BFFF;
}

.colorIndicator.color00BFFF.active {
    border-left: 5px solid #00BFFF;
    padding-right: 4px;
}



.basicButtonLook.colorFFC300:hover {
    border-left: 5px solid #FFC300;
}

.basicButtonLook.colorFFC300.active {
    border-left: 5px solid #FFC300;
}

.colorFFC300.active span {
    border-left: 5px solid #FFC300;
}

.colorIndicator.colorFFC300.active {
    border-left: 5px solid #FFC300;
    padding-right: 4px;
}



.basicButtonLook.color000000:hover {
    border-left: 5px solid #000000;
}

.basicButtonLook.color000000.active {
    border-left: 5px solid #000000;
}

.color000000.active span {
    border-left: 5px solid #000000;
}

.colorIndicator.color000000.active {
    border-left: 5px solid #000000;
    padding-right: 4px;
}


.basicButtonLook.color96EAFF:hover {
    border-left: 5px solid #96EAFF;
}

.basicButtonLook.color96EAFF.active {
    border-left: 5px solid #96EAFF;
}

.color96EAFF.active span {
    border-left: 5px solid #96EAFF;
}

.colorIndicator.color96EAFF.active {
    border-left: 5px solid #96EAFF;
    padding-right: 4px;
}






.basicButtonLook.colorC1D6D6:hover {
    border-left: 5px solid #C1D6D6;
}

.basicButtonLook.colorC1D6D6.active {
    border-left: 5px solid #C1D6D6;
}

.colorC1D6D6.active span {
    border-left: 5px solid #C1D6D6;
}

.colorIndicator.colorC1D6D6.active {
    border-left: 5px solid #C1D6D6;
    padding-right: 4px;
}


/* End ====================================================================== */
/* Media Queries  =========================================================== */
@media only screen and (max-width: 700px) {
    .IRQuoteModule .IRElement4 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .IRQuoteModule .IRElement3, .IRQuoteModule td.Data.IRElement3 {
        text-align: right;
    }
}

@media only screen and (max-width: 400px) {
    .table-top-info div {
        display: block;
        margin-bottom: 5px;
        text-align: left;
    }

    .IRQuoteModule .IRElement2 {
        display: none;
    }

    .IRQuoteModule .IRElement1, .IRQuoteModule td.Data.IRElement1 {
        text-align: right;
    }
}



/* End ====================================================================== */
