* {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.disclaimer a:link {
    font-size: 10px;
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 12px;
}


.IRQuoteModule {
    font-size: 12px;
}




.tooltipHTML {
    background-color: #fff;
}
.IRChartPlaceholderArea .IRChartPlaceholder {
    height: 400px;
}
.IRChartPlaceholderArea {
    height: 400px;
}
.IRChartModule {
    height: 440px;
}
.IRChartPlaceholderArea .IRChartChangePeriodOuter {
    bottom: 55px;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}
.IRChartComparison {
    display: none;
}


.table-look {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid #00afec;
    border-bottom: 1px solid #ced7dd;
}

    .table-look th, .table-look td {
        border: 1px solid #ced7dd;
        border-top: none;
        border-bottom: none;
        white-space: nowrap;
        text-align: center;
        padding: 6px 5px 4px 5px;
    }

    .table-look th {
        border-collapse: collapse;
        background-color: #ffffff;
        color: inherit;
        font-weight: normal;
    }

/*
    Client specific          
*/
.IRTicker {
    background: #404040;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
    width: 80px;
}

.IRLastPrice {
    font-size: 40px;
}

.IRHeader {
    text-transform: uppercase;
    font-weight: bold;
}

.subHeader {
    font-weight: bold;
}

.dataRow2 {
}

    .dataRow2 td {
        border-right: 1px solid #888;
        height: 75px;
    }


/**/
.bold {
    font-weight: bold;
}

.clientBorderTop {
    background-image: url('images/dashboard_top.jpg');
    background-repeat: repeat-x;
    height: 45px;
}

.clientBorderBottom {
    position: relative;
    top: -10px;
    background-image: url('images/dashboard_bottom.jpg');
    background-repeat: repeat-x;
    height: 40px;
}

    .clientBorderBottom .subGroup3 {
        position: relative;
        top: 10px;
        left: 10px;
    }

.contentBox1 {
    clear: left;
}

    .contentBox1 div {
        float: left;
        padding-left: 10px;
        line-height: 20px;
        text-indent: 20px;
    }

.subHeader1 {
    font-size: 16px;
    background-image: url('../logo.png');
    background-size: 24%;
    background-repeat: no-repeat;
    background-position-x: 8px;
}

.contentBox2 {
    clear: left;
}

    .contentBox2 div {
        float: left;
        padding-left: 10px;
        line-height: 20px;
        width: auto;
        height: auto;
        margin-top: 0px;
    }

.subgroup2 {
    text-align: center;
}

.subHeader2 {
    display: block;
    font-weight: normal;
    line-height: 20px;
    /*background-attachment: scroll;*/
    /*background-clip: border-box;*/
    background: -webkit-linear-gradient(left, #140757, #ed1c24); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #140757, #ed1c24); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #140757, #ed1c24); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #140757, #ed1c24); /* Standard syntax (must be last) */
    /*background-image: none;*/
    background-origin: padding-box;
    /*background-size: auto;*/
    color: rgb(255, 255, 255);
    display: block;
    font-family: din, sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 58px;
    zoom: 1;
}

div.IRQuoteLastPrice {
    color: rgb(34, 34, 34);
    display: inline;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    zoom: 1;
    vertical-align: middle;
}

.contentBox3 {
}

.contentBox3 {
        padding-top: 10px;
    clear: left;
    line-height: 12px;
}

.subGroup3 {
    float: left;
}
.timestampWrapper {
        display: inline-block;
    padding-left: 10px;
}

.contentBox2 .subHeader3,
.contentBox3 .subHeader3 {
    font-weight: bold;
    padding-left: 10px;
}

.contentBox2 .subData,
.contentBox3 .subData {
    padding-left: 10px;
}
/* End ==================================================== */


/* Media Queries ========================================== */

@media only screen and (max-width: 700px) {
    .contentBox2 .subHeader3 {
        padding-left: 0px;
    }

    .contentBox3 .subHeader3, .contentBox3 .subData {
        padding-left: 20px !important;
    }
    .timestampWrapper, .highLowWrapper {
        padding-left: 0px;
            width: 100%;
    }

    .subGroup3 {
        margin-bottom: 7px;
    }
}

@media only screen and (max-width: 450px) {
    .IRChartPlaceholderArea .IRChartChangePeriod div#m3, .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}

@media only screen and (max-width: 445px) {
    .subgroup2 .subGroup3 .subData {
        padding-left: 15px;
    }
    .contentBox2 .subGroup3, .contentBox3 .subGroup3 {
        width: 46%;
        float: left;
    }
    .timestampWrapper .subGroup3 .subData {
        /*padding-left: 10px !important;*/
    }
    .contentBox2 .subHeader3, .contentBox2 .subData {
        float: left;
        white-space: nowrap;
        padding: 0;
    }

    .contentBox3 div.subGroup3, .contentBox2 div.subgroup2 {
        padding-left: 10px;
    }

    .contentBox2 div {
        padding-left: 0;
    }

    .contentBox3 div.subHeader3, .contentBox3 div.subData {
        padding-left: 0 !important;
    }
}

/* End ==================================================== */
