body {
}


.disclaimer {
    clear: both;
}

.IRChartColour {
    color: #0284AA;
}


.IRChartHTMLPlaceholder {
}

*.formatColourPos {
    color: green;
}

.formatArrowPos {
    margin-right: 2px;
    margin-left: 2px;
}

th.volume, th.high, th.low {
    text-transform: capitalize;
}

/*.IRChartModule, .IRChartPlaceholderArea, .IRChartHTMLPlaceholder {
    height: 321px;
}

    .IRChartPlaceholderArea .IRChartPlaceholder {
        height: 321px;    
    }*/


/*
    Chart Mini    
*/
.IRChartHTMLMiniPlaceholder {
    height: 150px;
}

/*
    IRChart    
*/
.IRChartPlaceholderArea .IRChartPlaceholder {
    height: 500px;
}

.IRChartPlaceholderArea {
    height: 500px;
}

/*
    IRChart DOM    
*/
.IRChartHTMLPlaceholder {
    height: 432px;
}


.IRChartScrollOnYAxis {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 440px;
    /*background-color: rgba(255,255,0,0.5);*/
}


/* IRQuoteCombinedModule ============================================ */
.quoteCombinedWrapper .IRChartOuter .IRChartHTMLMiniPlaceholder{height: 170px;}
.quoteCombinedWrapper .IRChartOuter .IRChartCurrency {top: 0; z-index: 999;}
.IRChartOuter .IRChartClientName {height: 0;}
.IRQuoteCombinedModuleWrapper {
    width: 685px;
    font-size: 11px
}

    .IRQuoteCombinedModule.instrumentSelection {
        position: relative;
        border: 0px solid red;
        height: 30px;
    }
    .IRQuoteCombinedModule .instrument:hover{font-weight: bold;}
.IRQuoteModuleTable {
    background-image: url(../2122/pics/QuoteBG.png);
    background-repeat: no-repeat;
    width: 222px;
    height: 133px;
    padding: 5px 0px 0px 0px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 11px;
    float: right;
}

.quoteCombinedWrapper {
    width: 100%;
    float: left;
    color: #A0A0A0;
    margin: 0px 0px 2px 0px;
    font-size: 8px;
    line-height: 9px;
    width: 685px;
}

    .quoteCombinedWrapper .IRChartOuter {
        width: 62%;
        float: left;
    }

/*.quoteCombinedWrapper .IRQuoteModule {
        width: 205px;
        float: left;
        margin-top: 30px;
    }*/

.IRQuoteModule .content {
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.quoteCombinedWrapper .IRChartClientName, .quoteCombinedWrapper .IRChartCurrency {
    font-size: 12px;
}

.quoteCombinedWrapper .table-look .Header {
    text-align: left;
    text-transform: uppercase;
    background: transparent;
    color: #A0A0A0;
    border-right: 0;
    float: left;
}

.quoteCombinedWrapper .IRChartHTMLPlaceholder .highcharts-container {
    height: 140px;
}

.quoteCombinedWrapper .table-look .Data {
    border-left: 0;
    text-align: right;
}

    .quoteCombinedWrapper .table-look .Data.timestamp {
        text-align: left;
        font-size: 8px;
        margin-top: 2px;
        float: left;
        margin-bottom: 5px;
    }

.quoteCombinedWrapper .table-look .exchangeShort {
    font-size: 7px;
}

.quoteCombinedWrapper .contentLine {
    border-bottom: dotted 1px #ADADAD;
    padding-top: 2px;
    padding-bottom: 2px;
    clear: both;
}

.quoteCombinedWrapper .exchangeShort {
    float: right;
}

.quoteCombinedWrapper .Header.timestamp {
    border-bottom: 0;
    padding-bottom: 0;
    float: left;
}

.quoteCombinedWrapper .Header.informationUpdate {
    border-top: 0;
    width: 100%;
    float: left;
    border-bottom: 0;
    padding-bottom: 0;
}

.quoteCombinedWrapper .tableHeader {
    color: #1777AA;
    font-size: 9px;
    font-weight: bold;
    text-align: left;
    background: initial;
    width: 100%;
    float: left;
    padding-bottom: 5px;
}

.quoteCombinedWrapper .Data.informationUpdate {
    width: 100%;
    border-top: 0;
    padding-top: 0;
    float: left;
    color: #A0A0A0;
    margin: 0px 0px 2px 0px;
    font-size: 8px;
    line-height: 9px;
    text-align: left;
    clear: both;
}

.quoteCombinedWrapper .selectedExchangeLink {
    margin-top: 30px;
    float: right;
    text-align: right;
    text-transform: uppercase;
    display: none;
}
.quoteCombinedWrapper .selectedExchangeLink.CUR0{display: block;}
.quoteCombinedWrapper .selectedExchangeLink.active{display: block;}
    .quoteCombinedWrapper .selectedExchangeLink a {
        text-decoration: none;
        font-size: 11px;
        color: #1A92CE;
    }

        .quoteCombinedWrapper .selectedExchangeLink a:hover {
            text-decoration: underline;
        }
/* End ============================================================== */


/*
    Debug Hit boxes    
*/
/*.IRChartScrollOnYAxis {
    background-color: rgba(0,255,255,0.1);
}
.IRChartNavigation {
    background-color: rgba(255,0,255,0.1);
}

.IRChartNavigation .IRChartCompanyName {
    background-color: rgba(255,255,0,0.1);
}

.IRChartNavigation .IRChartView .IRChartViewHeader,
.IRChartNavigation .IRChartTA .IRChartTAHeader,
.IRChartNavigation .IRChartComparison .IRChartComparisonHeader,
.IRChartNavigation .IRChartFullscreen .IRChartFullscreenHeader,
.IRChartNavigation .IRChartListings .IRChartListingsHeader {
    background-color: rgba(0,0,255,0.1);
}

.IRChartChangePeriodOuter {
    background-color: rgba(255,0,0,0.1);
}
.IRChartChangePeriod {
    background-color: rgba(255,255,0,0.1);
}*/

/*.IRChartTAPlaceholder, .IRChartComparisonPlaceholder {
    background-color: rgba(0,255,255,0.1);
}*/


.table-look th, .table-look td {
    border: 1px solid #eee;
    color: inherit;
    font-weight: normal;
}

.table-look th, .chartChangePeriod div.activePeriod {
    background: #1857A7;
    color: #FFF;
}

@media only screen and (min-width: 572px) {
    #calc-form .from-label, #calc-form .to-label, label.dividend-label, label.invested-label, #calc-form-md .from-label, #calc-form-md .to-label, .IRCalcModule .amount-invested-label, #calc-form-md-amount .from-label, #calc-form-md-amount .to-label, #calc-form-md-share .from-label, #calc-form-md-share .to-label {
        padding-left: 10px;
        line-height: 20px;
    }

    #calc-form .from-label, #calc-form .to-label, label.dividend-label {
        line-height: 24px;
    }

    .IRToolCalcResultsTable.vertical {
        display: none;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .table-look.vertical {
        display: none;
    }

    .labels-and-button {
        display: block;
        float: left;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    .time-mobile {
        display: none;
    }

    .tdmobileview {
        display: none;
    }

    .trmobileview {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none !important;
    }
}

@media only screen and (max-width: 571px) {
    .IRNewsTool.horizontal, table.IRNewsTool.horizontal, table.IRNewsTool, table.horizontal, table.table-look, table.responsive {
        visibility: visible;
        display: inline-table;
        width: 100%;
        table-layout: inherit;
    }

    .IRNewsTool.vertical td span {
        font-size: 10px;
    }

    .IRNewsTool.vertical .date {
        width: 70%;
    }

    .IRNewsModule .IRNewsTool th, .IRNewsModule .IRNewsTool td {
        width: 60%;
    }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical td {
        text-align: right;
        padding: 5px;
    }

    .IROrdersModule .progress {
        height: 12px !important;
    }

    .m9, .benchmark tr td:nth-child(6) {
        display: none;
        visibility: hidden;
    }

    .table-look th, .table-look td {
        text-align: left;
    }

    .IRDetailedSharePrice .horizontal {
        display: none;
    }

    .IROrdersModule.horizontal {
        display: block !important;
    }

    .IRQuoteHorizontalModule {
        display: none !important;
    }

    label.dividend-label {
        width: 50px;
    }

    th.column-last, td.column-last {
        padding-bottom: 4px;
    }

    .detailed-share-price th {
        min-width: 90px;
    }

    .detailed-share-price td {
        width: 65%;
    }

    .IRToolCalcResultsTable.horizontal {
        display: none !important;
    }

    .IRQuoteVerticalModule th.column-last, .IRQuoteVerticalModule td.column-last {
        border-bottom: 1px solid #f4f4f4;
    }

    .IRToolCalcResultsTable th.Header {
        width: 40%;
    }

    .detailed-share-price-records th, .detailed-share-price-summary th, .detailed-share-price-market th {
        font-weight: 400;
        padding-left: 5px;
    }

    .IRCalcModule #calc-form {
        height: 150px;
        padding-top: 5px;
        margin-bottom: 10px;
    }

    .IRNewsTool {
        border: 1px solid #000000;
    }

        .IRNewsTool td.data {
            border: 0px;
        }
}
