body {
    font-family: Arial;
    font-size: 10pt;
    color: #333;
    overflow: hidden;
    height: 100%;
    background: #000000;
}
.displayNone{  
    display:none;
}
.IRMiniquoteChart table-look horizontal{

}
.activeExchange{

}
.HeaderTase, .HeaderNasdaq, .customGraph, .customData{
    text-align:center!important;
    width:50%!important;

}
 .table-look th.customHeader {
     background-color: #e8e8e8;
     height: 26px;
         color: #428bca;

 }
.activeExchange:hover{
    cursor: pointer;
    color:#003399;
}
.customHeader .img {
    background-image: url(../images/selected.png);
    background-repeat: no-repeat;
    padding-right: 20px;
    background-position: right center;
    background-size: 16px 16px;
     
}
 .table-look th.customHeader.passiveExchange .img {
    background-image: url(../images/deselected.png);
}
.passiveExchange {
    background-color: #e8e8e8 !important;
    color: #428bca!important;
}

    .passiveExchange:hover {
        text-decoration:underline;
         cursor: pointer;
         color:#003399!important;
    }

.IRMiniquoteChartPlaceholder {
    height: 210px;
   
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.IRChartColour {
    color: #003399;
}

.table-look {
    border: none;
}

.listing-select {
    float: right;
}

input {
    height: 24px;
    line-height: 24px;
}

    input[type=submit] {
        line-height: 34px;
        height: 34px;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        -webkit-appearance: none;
    }

        input[type=submit]:hover {
            background-color: #fff;
            color: #003399;
        }

.table-look th, .table-look td {
    font-weight: 400;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    border: none;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
}

.table-look th {
    background-color: #003399;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    color: #ffffff;
}

.table-look td {
    font-weight: normal;
    color: #333;
    background-color: transparent;
}

.IRMiniquoteModule .table-look td {
    color: #757575;
}

.table-look td.formatColourPos {
    color: green;
}

.table-look td.formatColourNeg {
    color: red;
}

.IRChartNavigation .IRChartComparison {
    display: none;
}

div.chartCurrentPriceBox, div.chartCurrentPriceBoxArrow div {
    background-color: #003399 !important;
}

div.chartCurrentPriceBox {
    border: 1px solid #003399 !important;
}

.IRLookupModule .IRLookupResultsTable.horizontal th,
.IRLookupModule .IRLookupResultsTable.horizontal td {
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    border: none;
}

.tooltipHTML div span.subHeader {
    width: 60px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: initial;
    max-width: 450px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        background-color: #003399;
        color: #fff;
    }


.IRLookupModule .IRLookupResultsTable.horizontal th {
    font-weight: bold;
}

.IRPerformanceModule .Header {
    text-align: right;
}

.IRPerformanceModule tbody tr:hover {
    background-color: initial;
}

.IRPerformanceModule tbody tr.TRData:hover {
    background-color: #f5f5f5;
}

.formatArrowNeg, .formatArrowPos {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-position: center center;
}

.formatArrowPos {
    background-image: url(../images/up.gif);
}

.formatArrowNeg {
    background-image: url(../images/down.gif);
}

/* IRCalcModule ============================================= */

#result-section {
    margin-top: 40px;
}

.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label {
    float: left;
    line-height: 24px;
    height: 24px;
}

.IRCalcModule label, .IRCalcModule input[type="radio"] {
    float: left;
    line-height: 24px;
    height: 24px;
}


/*.IRCalcModule .IRToolCalcResultsTable.horizontal th {
    text-align: center;
}

.IRCalcModule .IRToolCalcResultsTable.horizontal td {
    text-align: center;
}*/

.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
}
/* End ====================================================== */

/* IRMiniquoteChart ========================================= */


.IRMiniquoteModule tbody tr:hover {
    background-color: transparent;
}

/*.IRMiniquoteChart, .IRMiniquoteChart table, .disclaimer-miniquote {
    width: 100%;
    color: #757575;
}*/


.disclaimer {
    color: rgba(255, 255, 255, 0.6);
    display: none;
}

.IRMiniquoteChart th, .IRMiniquoteChart td {
    height: 26px;
    line-height: 26px;
    width:50%!important;
}

.IRMiniquoteChart td {
    padding: 0;
}

.IRMiniquoteChart table td {
    text-align: center;
}

.last-table .Data {
    line-height: 48px;
    font-size: 38px;
    color: rgba(255,255,255,0.6);
    padding: 9px 0px 0px 12px;
    font-weight: bold;
}

.last-table .changePercent {
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0px 0px 12px;
}


.IRMiniquoteChart .Data.last, .IRMiniquoteChart .low {
    border-bottom: 1px solid #ddd;
}


/* END ======================================================*/

/* IRQuoteDualModule ======================================= */
.IRQuoteDualModule.table-look th, .IRQuoteDualModule.table-look td {
    font-size: 10px;
}

.IRQuoteDualModule.table-look th {
    line-height: 13px;
    font-size: 10px;
    background-color: #CED2E5;
    color: #00348B;
    text-align: center;
    font-weight: normal;
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #FFFFFF;
}

.IRQuoteDualModule.table-look td {
    line-height: 13px;
    background-color: #E5E7F1;
    color: #00348B;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.IRQuoteDualModule .exchange {
    width: 108px;
}

.IRQuoteDualModule.table-look .column-first {
    text-align: left;
}

.IRQuoteDualModule th.column-first, .IRQuoteDualModule th.column-last {
    visibility: hidden;
}

.IRQuoteDualModule .column-last {
    width: 60px;
}
/* End ===================================================== */
.IRMiniquoteModule {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #fff;
    padding: 20px;
}
.IRMiniquoteModule h2 {
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.Data.last {
    font-size: 36px;
    margin-bottom: 20px;
    margin-right: -60px;
}
.IRMiniQuoteQuoteModule.table-look.responsive {
    width: 190px;
}
.Data.change {
    font-size: 14px;
    float: right;
    margin-top: -6px;
}
.arrow-image {
    background: url("images/arrow2.png") no-repeat center;
    top: 0;
    right: 0;
    position: absolute;
    padding: 25px;
    background-size: 40px;
}
.chart-image {
    background: url("images/chart.png") no-repeat center;
    width: 100%;
    height: 100px
}
.bottom-div {
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 20px;
    padding-right: 20px;
    font-size: 11px;
}
a {
    color: #fff;
}
/* Media Queries =========================================== */
@media screen and (max-width: 600px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.vertical {
        display: table;
    }

    iframe.calc {
        height: 500px !important;
    }
}


@media screen and (max-width: 600px) {
    .horizontal.responsive .IRElement3 {
        display: none;
    }

    .IRCalcModule .input-wrapper input[type=submit], .IRCalcModule .submitButton, .IRLookupModule .submitButton, .IRLookupModule .input-wrapper input[type=submit] {
        width: 100%;
        float: left;
        clear: both;
    }

    .IRCalcModule .submitbuttonWrapper, .IRLookupModule .submitbuttonWrapper {
        margin-top: 10px;
    }
}

@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }

    .inputFieldAmountInvested input {
        width: 80%;
    }

    .horizontal.responsive .IRElement3 {
        display: none;
    }
}
/* End ===================================================== */

