@import url("//hello.myfonts.net/count/30bab1");


@font-face {
    font-family: 'AvenirLT-Medium';
    src: url('../fonts/30BAB1_0_0.eot');
    src: url('../fonts/30BAB1_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/30BAB1_0_0.woff2') format('woff2'),url('../fonts/30BAB1_0_0.woff') format('woff'),url('../fonts/30BAB1_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'AvenirLT-Roman';
    src: url('../fonts/30BAB1_1_0.eot');
    src: url('../fonts/30BAB1_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/30BAB1_1_0.woff2') format('woff2'),url('../fonts/30BAB1_1_0.woff') format('woff'),url('../fonts/30BAB1_1_0.ttf') format('truetype');
}


@font-face {
    font-family: 'AvenirLT-Heavy';
    src: url('../fonts/30BAB1_2_0.eot');
    src: url('../fonts/30BAB1_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/30BAB1_2_0.woff2') format('woff2'),url('../fonts/30BAB1_2_0.woff') format('woff'),url('../fonts/30BAB1_2_0.ttf') format('truetype');
}

body {
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    font-family: 'AvenirLT-Medium', sans-serif;
}

*, p {
    color: #333;
    /*font-family: 'AvenirLT-Medium', sans-serif;*/
    font-family: 'AvenirLT-Roman', Arial, sans-serif;
    letter-spacing: 0.585px;
}

strong {
    font-weight: bold;
}

/*
    show/hide elements
*/

.unsubscribeNextToButton {
    display: block;
}

/*
    end show/hide elements
*/


.pageRegister .input-wrapper {
    width: 70%;
    float: left;
    max-width: 400px;
}

.requiredFieldMSG {
    color: red;
    font-weight: normal;
}

.buttonStyle {
    letter-spacing: 0.585px;
    color: #333;
    width: 100px;
    font-weight: 400;
    border: 0;
    background-color: #d7d7d7;
    padding: 0 20px;
    line-height: 24px;
    height: 24px;
    cursor: pointer;
    box-shadow: none;
    -webkit-appearance: none;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
}

    .buttonStyle:hover {
        background-color: #007d79;
        border: 0;
        color: #fff;
        box-shadow: none;
    }

.pageVerification.pageVerification_bottom .blockNoBorder {
    width: 100%;
}

.closeBox {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #007d79;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -15px;
    right: 0px;
    cursor: pointer;
}

.dialogueBox, .subPageLoginConfirm, .pageVerification {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: 0px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    left: 30px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
}

    .dialogueBox p {
        line-height: 20px;
    }

    .dialogueBox h3 {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
    }

.emailToConfirm {
    width: 100%;
    float: left;
}

.pageVerification_placedAtSubmitbutton .buttonStyle, .pageVerification_placedAtSubmitbutton .buttonStyle:hover, .formLoginConfirm.buttonStyle, .formLoginConfirm.buttonStyle:hover {
    width: initial;
}

#dialogueBox_register {
    bottom: 40px;
    line-height: 22px;
    padding-left: 20px;
}

#dialogueBox_unsubscribe {
    top: 0px;
}

.blockNoBorder {
    max-width: 400px;
    width: 70%;
    float: left;
}

    .blockNoBorder .unsubscribeNextToButton {
        min-width: 120px;
        width: 20%;
        text-decoration: none;
        color: #333;
        background-color: #EEE;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        line-height: 24px;
        height: 24px;
        float: left;
        margin-left: 10px;
        margin-top: 0;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            color: #FFFFFF;
            background-color: #000;
            border: 0;
        }

    .blockNoBorder .formRegister-wrapper {
        float: right;
    }

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }

p {
    display: inline;
    height: auto;
    line-height: 16px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.subPageLogin span {
    letter-spacing: 1px;
}

.inputTextTitle {
    letter-spacing: 1px;
    min-width: 123px;
    line-height: 22px;
}

.requiredField {
    font-weight: bold;
}

.disclaimerHighlight {
    font-size: 11px;
}

input.informationInput {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    float: left;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 300px;
    word-spacing: 0px;
    height: 22px;
}

    input.informationInput:focus {
        border: 1px solid #c6007e;
    }

b {
    font-weight: bold;
}

.pageRegister {
    padding-left: 2%;
    padding-right: 2%;
}

.divideLine {
    margin-top: 20px;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.checkboxOuter {
    margin-bottom: 6px;
}

.checkBoxText {
    letter-spacing: 1px;
    margin-left: 0.909em;
    line-height: 1.364em;
    font-weight: bold;
}

.blockInner {
    margin-top: 0px;
}

.requiredField {
    font-size: 14px;
}

.subPageLogin input.informationInput {
    width: 79%;
    position: relative;
}

.header {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-weight: 500;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    letter-spacing: 1.44px;
}

h2.header {
    color: #007d79;
}

.cleanLink {
    float: left;
    top: 50px;
    margin-top: 5px;
}

.subPageLogin {
    min-height: 140px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.register-wrapper {
    width: 100%;
    float: left;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        margin-bottom: 3px;
        display: block;
        line-height: initial;
        text-transform: none;
        line-height: 1.5;
    }

    .register-wrapper p {
        margin-bottom: 10px;
    }

.subPageLogin span {
    min-width: 120px;
    color: #333;
    width: 20%;
    float: left;
}

.hidden {
    display: none;
}

.semiTransparantOverlay, .transparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 900;
}

.registrationLightBox, .subPageLoginConfirm {
    z-index: 999;
    max-width: 400px;
}

.blockNoBorder.pageVerification_placedAtSubmitbutton {
    width: 100%;
    float: initial;
    margin-right: 0;
}

#dialogueBox_register {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.subPageLoginConfirm, .dialogueBox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    left: 0;
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 25px;
}

.registrationLightBox {
    word-break: normal;
    white-space: normal;
    width: 100%;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
}

.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}

strong {
    font-weight: bold;
}

.blockInner {
    max-width: initial;
}

h2 {
    display: block;
    height: 16px;
    line-height: 16px;
    margin-top: 23px;
    margin-bottom: 22px;
    margin: 0 0 1em;
    color: #007d79;
    padding: 0;
    width: 100%;
    height: 39px;
    font-size: 15px;
    font-weight: 400;
}

.pageVerification_top p, .pageVerification_bottom p {
    margin-bottom: 3px;
    display: block;
    text-transform: none;
}

.pageVerification_top .goToHome {
    line-height: 24px;
    text-decoration: none;
    border: 0;
    background: #007d79;
    color: #fff;
    height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

    .pageVerification_top .goToHome:hover {
        border: 0px;
        color: #fff;
        background-color: #20245a;
    }

.blockOuterWrapper {
    display: inline-block;
    width: 100%;
}

.blockOuter label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

input[type=text] {
}


/* @media only screen =========================================================*/

@media only screen and (max-width: 500px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .input-wrapper .buttonStyle {
        float: right;
        width: 100%;
    }

    .pageRegister .input-wrapper {
        width: 100%;
        padding-left: 0%;
        max-width: initial;
    }

    .blockOuter {
        width: 100%;
        padding-left: 0%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

    .blockNoBorder .unsubscribeNextToButton {
        width: 100%;
        float: left;
        padding: 10px 0px 10px 0px;
        text-align: center;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            width: 100%;
            float: left;
            padding: 10px 0px 10px 0px;
            text-align: center;
        }

    .blockNoBorder {
        width: 100%;
        float: right;
        margin-right: 0;
        margin-bottom: 10px;
        max-width: none;
    }

        .blockNoBorder .buttonStyle, .blockNoBorder .buttonStyle:hover {
            position: initial;
            float: right;
            width: 100%;
            margin-left: 0;
        }

    .subPageLogin {
        margin-bottom: 0;
    }

    input[type=text] {
        width: 100%;
    }

    .pageVerification_placedAtSubmitbutton .buttonStyle, .pageVerification_placedAtSubmitbutton .buttonStyle:hover, .formLoginConfirm.buttonStyle, .formLoginConfirm.buttonStyle:hover {
        width: 100%;
        margin: 0;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput {
        width: 70%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .unsubscribeNextToButton {
        min-width: 90px;
    }

    .blockNoBorder .buttonStyle {
        width: 120px;
    }
}

/* Ënd ========================================================================*/
