
body {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #464646;
    padding-left: 0;
    padding-right: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.clear {
    clear: both;
}

select {
    height: 30px;
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 15px;
    font-size: 13px;
    color: inherit;
}

    select::-ms-expand {
        display: none;
    }

a {
    color: inherit;
}

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.last .formatArrowNeg {
    width: 18px;
    height: 18px;
    background-size: contain;
    vertical-align: 8px;
}

.last .formatArrowPos {
    width: 18px;
    height: 18px;
    background-size: contain;
    vertical-align: 8px;
}

.IRQuoteModule .name {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 15px;
}

.IRQuoteModule .updated {
    text-align: right;
    margin-bottom: 15px;
    font-size: inherit;
    color: #95989d;
}


/* IRPerformanceModule =================================================== */

.IRPerformanceModule.table-look th {
    text-align: right;
}

    .IRPerformanceModule.table-look th.name {
        text-align: left;
    }
/* End =================================================================== */



/* IRMiniquoteModule ===================================================== */
.disclaimer-IRMiniquote {
    display: none;
}

table.miniquoteChartTable {
    width: 100%;
}

.miniquoteChartTable td {
    max-width: 100px;
}

    .miniquoteChartTable td.lastColumn {
        text-align: right;
        width: 90px;
    }

.miniquoteChartTable .Symbol {
    vertical-align: middle;
    font-size: inherit;
    width: 40%;
}

.IRMiniQuoteQuoteModule .mQuoteTable {
    width: 100%;
    line-height: 1.7;
}

.mQuoteTable td.first-col {
    width: 30%;
}

.mQuoteTable td.last-col {
    text-align: right;
}

.IRMiniQuoteQuoteModule .updated {
}

.IRMiniQuoteQuoteModule .last, .IRMiniQuoteQuoteModule .currency {
    font-size: 28px;
    line-height: 1.1;
    color: #b40041;
    font-size: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

/*
.IRMiniQuoteQuoteModule .last:after{
    content: "p";
}
*/

.IRMiniQuoteQuoteModule .currency {
    font-size: 21px;
}

.IRMiniQuoteQuoteModule .change {
    font-weight: bold;
    margin-bottom: 15px;
}

    .IRMiniQuoteQuoteModule .change .decimals {
        display: block;
    }

}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    text-align: left;
    font-weight: 400;
}

.IRMiniQuoteQuoteModule .closeDate {
    font-weight: 300;
    display: none;
}

.IRMiniQuoteQuoteModule .delayed {
    font-size: 11px;
    color: #999;
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.miniquoteChartWrapper div {
    line-height: 18px;
    color: #3C4144;
    text-indent: 5px;
}

    .miniquoteChartWrapper div.Header {
        font-weight: 700;
    }

    .miniquoteChartWrapper div.Data {
        padding-bottom: 3px;
    }

    .miniquoteChartWrapper div.formatColourNeg {
        color: red;
    }

    .miniquoteChartWrapper div.formatColourPos {
        color: green;
    }

/* End =================================================================== */


/* IRChart =============================================================== */


/*IRChartPlaceholderArea{width: 99%;}*/

.IRChartPlaceholderArea .IRChartPlaceholder {
    /* width: 99% <--- iPhone 6+ fix to stop iFrame expanding. */
}

.IRChartHTMLPlaceholder {
    height: 200px;
    min-width: 250px;
    clear: both;
}

.IRChartColour {
    color: #C72052;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div#max {
        border-right: 0;
    }

div.highcharts-axis-labels.highcharts-xaxis-labels {
    top: -5px !important;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover,
.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background: #b40041;
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    color: #333;
    background: transparent;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 470px;
}

.IRChartHTMLPlaceholder {
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    color: #000 !important;
    fill: #000 !important;
}

.chartNavBarRange {
    margin-top: 5px;
}

.IRChartNavigation div.IRChartNavigationInner {
    display: none;
}

.IRChartNavigation .updated {
    float: right;
    padding-right: 10px;
}

/* End ====================================================================== */

