
body {
    font-family: arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #333;
    overflow-x: hidden;
}

.table-look th.column-last, .table-look td.column-last {
    padding-right: 2%;
}

/* IRChart =============================================================== */

.IRQuoteModule .updated {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}

.IRChartColour {
    color: #00E830; /*HER FILBERT*/
}

.IRQuoteModule th.Header {
    height: 32px;
    line-height: 32px;
    color: #333;
    font-weight: normal;
}
.IRQuoteModule td.Data {
    height: 32px;
    line-height: 34px;
}


.IRChartPlaceholderArea .IRChartPlaceholder {
    box-sizing: initial;
}


.IRChartPlaceholderArea .IRChartChangePeriod div {
    width: 40px;
    border: 1px solid #ddd;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    text-transform: uppercase;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    color: #fff;
    background: #00E830; /*HER FILBERT*/
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
    background: #00E830 /*HER FILBERT*/;
}

.table-look th {
    font-weight: bold;
    color: #505253;
    font-size: 16px;
    border: 0;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 10px;
    background: #f2f3f3;
}

.table-look.horizontal td {
    border-bottom: 1px solid #f2f3f3;
}

.table-look th, .table-look td {
    white-space: nowrap;
    text-align: left;
    padding: 6px 5px 4px 5px;
    border: 1px solid #ffffff;
}
.table-look td {
    height: 42px;
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}

.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartCompanyName{
    color: #333;

}

.IRChartCurrency {
    color: #333;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}
table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
    display: none;
}

.highcharts-background {
    fill: #fff;
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRChartNavigation {
    border-bottom: 1px solid #eee;
}

.IRChartNavigation .IRChartView, .IRChartNavigation .IRChartTA, .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR, .IRChartNavigation .IRChartFullscreen, .IRChartNavigation .IRChartListings, .IRChartNavigation .IRChartMenuTrigger {
    background-color: #00E830;
    color: #fff;

}

/* End ====================================================================== */

/* @media only screen ======================================================== */

@media only screen and (max-width: 720px) {

    .IRQuoteHorizontalModule h3 {
        font-size: 18px;
    }

}

@media only screen and (max-width: 673px) {
    .section-then, .section-now {
        float: none;
        border: none;
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    #result-section {
        height: 300px;
    }
}
@media (max-width: 600px) {
    table.IRQuoteModule.table-look.horizontal.customResponsive {
        display: none;
    }
    table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
        display: table;
    }
    .IRQuoteModule tr {
        border: none;
    }
    .table-look th {
        background: #fff;
    }
}
@media only screen and (min-width: 500px) {
    #tableV {
        display: none;
    }
}


@media only screen and (max-width: 479px) {
    .graph-section {
        display: none;
    }

    .lookup-result-wrapper {
        margin-top: 61px;
        border: 1px solid gray;
    }

    .blankFromSeletion {
        display: none;
    }
}

@media (max-width: 540px) {

    .yearlyStackedChart-wrapper, .chart-wrapper, .graph-section {
        display: none;
    }


    .IRChartPlaceholderArea .IRChartChangePeriodCustom #d5 {
        display: none;
    }


    .navBottomRow {
        width: 100%;
        float: none;
    }

    .navBottomRow:not(.responsive) .buttonLook{
        display: none;
    }

    .navBottomRow .buttonLook{
        width: 100%;
    }

    .navBottomRow.responsive{
        display: block;
    }

    .navBottomRow.responsive .buttonLook{
        margin: 12px 0;
    }
}


@media (max-width: 480px) {

    .IRChartPlaceholderArea .IRChartChangePeriodCustom div#y5 {
        display: none;
    }
}

@media (max-width: 403px) {


    .IRChartPlaceholderArea .IRChartChangePeriodCustom div#m3 {
        display: none;
    }
}

@media (max-width: 350px) {

    .IRChartPlaceholderArea .IRChartChangePeriodCustom div#max,
    .IRChartPlaceholderArea .IRChartChangePeriodCustom div#Max {
        display: none;
    }

    #d1 span, #d5 span, #m1 span, #m3 span, #y1 span, #y2 span, #y5 span{
        display: none;
    }
    #d1:after {
        content: '1D';
    }
    #d5:after {
        content: '5D';
    }#m1:after {
         content: '1M';
     }#m3:after {
          content: '3M';
      }#y1:after {
           content: '1Y';
       }#y2:after {
            content: '2Y';
        }#y5:after {
             content: '5Y';
         }
}

@media (max-width: 320px) {
    .result-box {
        height: 180px;
    }
}


