*, body { 
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #404040;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #404040;
    
}

.table-look-horizontal {
    border: 1px solid #EEEEEE;
}

    .table-look-horizontal th, .table-look-horizontal td {
        height: 20px;
        line-height: 20px;
        border: none;
    }

    .table-look-horizontal th {
        border-bottom: 1px solid #354049;
        font-weight: 500;
        color: #404040;
    }

    .table-look-horizontal td {
        border-bottom: 1px solid #EEEEEE;
    }

.IRChartClientName {
    border-color: #EEEEEE;
    font-size: 16px;
    font-weight: 300;
    color: #404040;
    background-color: #F5F5F5;
}

.IRChartCurrency {
    color: #404040;
}

.chartCurrentPriceBox .chartLastPrice {
    color: #ffffff;
}

.chartChangePeriod {
    border-top: 1px solid #EEEEEE;
}

    .chartChangePeriod div {
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
    }

        .chartChangePeriod div.activePeriod {
            background-color: #0255A9;
        }

.disclaimer {
}

.disclaimer {
    font-family: Verdana;
    font-size: 10px;
    color: #777;
}

    .disclaimer a:link, .disclaimer a:visited {
        font-family: Verdana;
        font-size: 10px;
        color: #777;
        text-decoration: none;
    }

    .disclaimer a:hover {
        font-family: Verdana;
        color: #000;
    }

.inputTextTitle {
    padding-top: 10px;
    line-height: 20px;
}
input[type=text] {
    padding: 10px;
    line-height: 20px;
}



.buttonStyle {
    color: #FFF;
    height: 38px;
    border: 1px solid #0255A1;
    background-color: #0255A1;
    padding: 7px 10px 7px 10px;
}

    .buttonStyle:hover {
        color: #FFF;
        height: 38px;
        border: 1px solid #0255A1;
        background-color: #0255A1;
    }


.IRChartHTMLPlaceholder {
    height: 200px;
}


    #d1 span, #d5 span, #m1 span, #m3 span, #y1 span, #y2 span, #y5 span{
        display: none;
    }
    #d1:after {
        content: '1D';
    }
    #d5:after {
        content: '5D';
    }#m1:after {
        content: '1M';
    }#m3:after {
        content: '3M';
    }#y1:after {
        content: '1Y';
    }#y2:after {
        content: '2Y';
    }#y5:after {
        content: '5Y';
    }

/* @media only screen =========================================================*/
@media only screen and (max-width: 500px) {
     .column-last,  .column-last {
        display:none;
        }

}
/* End ======================================================================== */