*, body {
    background: #ffffff !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    color: #333 !important;
}

h2 {
    font-size: 18px !important;
    font-weight: bold !important;
    color: #0b0042 !important;
}

.inputTextTitle {
    line-height: 20px !important;
    float: none !important; 
    font-weight: bold !important;
    font-size: 14px !important;
    width: 100% !important;
    margin-bottom: 5px !important;
}
input[type=text] {
    padding: 10px !important;
    line-height: 20px !important;
    height: 30px !important;
    box-sizing: border-box !important;
}
.buttonStyle {
    color: #FFF !important;
    height: 30px !important;
    border: 1px solid #FFC734 !important;
    background-color: #FFC734 !important;
    padding: 7px 10px 7px 10px !important;
    min-width: 140px !important;
    border-radius: 4px; 
    float: right !important;
    line-height: inherit !important;
    line-height: inherit !important;
}

    .buttonStyle:hover {
        color: #FFF !important;
        height: 30px !important;
        border: 1px solid #3D9DB8 !important;
        background-color: #3D9DB8 !important;
        cursor: pointer !important;
    }

.inputText {
    color: #808080 !important;
    width: 100% !important;
}

.blockInner:first-child {
    margin-top: 0 !important;
}
input.inputTextField.unsubscribeEmail {
    width: 100% !important;
}
.cleanLink {
    cursor: pointer !important;
    text-decoration: underline !important;
}
.blockNoBorder {
    display: inline-block !important;
    width: 100% !important;
}
.inputText, .blockInner {
    max-width: none !important;
}
@media only screen and (max-width: 505px) {
    input[type=text]{
        width: 100% !important;
    }
    input.inputTextField.unsubscribeEmail {
    width: 100% !important;
    }
}
