
body {
    font-family: 'DinMedium', Arial;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #647783;
    overflow: hidden;
}

a {
}

    a:hover {
        color: #00c8d7;
    }

h2 {
    color: #00c8d7;
    font-family: 'DinBold';
    font-weight: 400;
}

.formatArrowNeg, .formatArrowPos {
    background-size: 15px 15px;
    background-repeat: no-repeat;
    height: 30px;
    width: 25px;
    vertical-align: middle;
}

.IRMiniquoteModuleDisclaimer {
    display: none;
}

.clear {
    clear: both;
}

.formatArrowPos, .formatArrowNeg {
    background-size: 16px;
    height: 17px;
}

.formatArrowPos {
    background-image: url(images/arrow-up.png);
}

.formatArrowNeg {
    background-image: url(images/arrow-down.png);
}

input[type=number], input[type=submit] {
    background-color: transparent;
    border: 1px solid #c3c3c2;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 5%;
}

.table-look th.column-last, .table-look td.column-last {
    padding-right: 2%;
}

/* IRCalcModule ========================================================== */

.IRCalcModule #result-section {
    margin-top: 30px;
}

.IRCalcModule label, .IRLookupModule label {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.IRCalcModule select, .IRLookupModule select {
    border: 1px solid #c3c3c2;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999999;
    background-repeat: no-repeat;
    background-position: right;
    min-width: 60px;
    width: 28%;
}

.IRCalcModule .calculate-button-wrapper {
    float: left;
    width: 100%;
}

.IRCalcModule .input-row, .IRLookupModule .input-row {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    height: auto;
}

.IRCalcModule .amount-invested-wrapper .input-wrapper input {
    height: 40px;
    line-height: 40px;
    border: 1px solid #c3c3c2;
    padding-left: 1%;
}


.IRToolCalcResultsTable.table-look th {
    font-size: 14px;
    border: 0;
}

.IRToolCalcResultsTable.table-look td {
    padding: 0 0 0 10px;
    height: 47px;
    line-height: 47px;
    border-bottom: 1px solid #dcdcdc;
}

    .IRToolCalcResultsTable.table-look th.column-last, .IRToolCalcResultsTable.table-look td.column-last {
        padding-right: 2%;
    }
/* End =================================================================== */

/* IRLookupModule ======================================================== */
.IRChartLookupPlaceholder {
    display: none;
}

.lookupDatepickerWrapper, .lookupfrequencyWrapper {
    width: 49%;
    float: left;
}

.lookupDatepickerWrapper {
    margin-right: 1%;
}

    .lookupDatepickerWrapper .from-label, .lookupfrequencyWrapper .frequency-label {
        width: 100%;
    }

    .lookupDatepickerWrapper .input-wrapper, .lookupfrequencyWrapper .input-wrapper {
        position: relative;
        float: left;
        width: 100%;
    }

.lookupfrequencyWrapper #lookup-button {
    margin-top: 20px;
    text-align: center;
    padding: 0px 10px 5px 10px;
    width: 100%;
}


.IRLookupResultsTable.table-look th {
    border: 0;
    padding-left: 10px;
    color: #505253;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 10px;
    background: #f2f3f3;
}

.IRLookupResultsTable.table-look td {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 14px;
}

.IRLookupResultsTable.table-look tr:nth-child(odd) {
    background: #f2f3f3;
}

.IRLookupResultsTable.table-look tr:nth-child(even) {
}
/* End =================================================================== */

/* IRChart =============================================================== */

.IRQuoteModule .updated {
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
    font-size: 12px;
}

div#IRChartNavigationClearComparison.basicButtonLook, div#IRChartNavigationClearTA.basicButtonLook, div#IRChartNavigationClear.basicButtonLook {
    color: #fff;
    text-align: center;
    line-height: 25px;
    height: 25px;
    background: #dc002d;
}

    div#IRChartNavigationClearComparison.basicButtonLook:hover, div#IRChartNavigationClearTA.basicButtonLook:hover, div#IRChartNavigationClear.basicButtonLook:hover {
        background: #aa0023;
        color: #fff;
    }

.IRChartColour {
    color: #231f20;
}

.IRChartPlaceholderArea .IRChartPlaceholder {
    box-sizing: initial;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    text-transform: uppercase;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    color: #fff;
    background: #dc002d;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
        background: #aa0023;
    }

.table-look th {
    font-weight: bold;
    color: #505253;
    font-size: 16px;
    border: 0;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 10px;
    background: #f2f3f3;
}

.table-look.horizontal th, .table-look.horizontal td {
    border-left: 0;
    border-right: 0;
}

.table-look.horizontal td {
    border-bottom: 1px solid #f2f3f3;
}

.table-look td {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    border-bottom: 0px solid #dcdcdc;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}

.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #333;
}

.IRChartCurrency {
    color: #333;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}
/* End ====================================================================== */


/* IRNewsModule ============================================================ */
.IRNewsModule .visibilityHidden {
    visibility: hidden;
}

.IRNewsModule .displayNoneClass {
    display: none;
}

.IRNewsModule .filter-wrapper {
    width: 100%;
    float: left;
}

.news-filter-wrapper {
    width: 100%;
    ;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
    background: #f4f4f4;
    border: 1px solid #019d54;
    padding: 0.91em;
}

.IRNewsModule h2 {
    border-bottom: 1px solid #b2b2b2;
    padding: 6px 0 10px;
    color: #019d54;
    font-size: 14px;
    font-weight: bold;
}

.IRNewsModule input, .IRNewsModule textarea {
    border: 1px solid #bdbdbd;
    cursor: pointer;
    padding: 0;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #999999;
    background-repeat: no-repeat;
    background-position: right;
    min-width: 60px;
    float: left;
    width: 40%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.IRNewsModule .newsSubmit {
    width: 100px;
}


.IRNewsModule .placeholder {
    color: #aaa;
}

.news-filter-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.IRNewsModule .search-for-box {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box #allRNSnews {
    font-weight: bold;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}


.IRNewsModule .search-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    width: 48%;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    padding: 0;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #999999;
    background-repeat: no-repeat;
    background-position: right;
    min-width: 60px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: right;
}

.IRNewsModule .news-filter-wrapper #searchtext {
    cursor: text;
    padding-left: 5px;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
}


.IRNewsModule .news-filter-wrapper label {
    /*cursor: pointer;*/
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 80px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
}

.IRNewsModule .search-for-box input {
    padding-left: 5px;
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .IRDataCustom.IRNewsDownloadIcon {
    background-image: url('images/download.png');
    background-repeat: no-repeat;
    width: 10%;
    min-width: 25px;
    background-position: right 10px top 12px;
    padding-right: 0;
    padding-left: 1%;
}

.IRDataCustom.IRNewsDownloadIcon a {
    width: 10%;
    min-width: 22px;
    height: 30px;
    cursor: pointer;
    display: block;
    text-align: right;
    float: right;
    margin-top: 11px;
    margin-right: 7%;
}

.IRNewsModule .IRDataCustom.IRNewsDownloadIcon.DataHover {
    background-image: url('images/download.png');
    background-repeat: no-repeat;
    width: 10%;
    min-width: 22px;
    background-position: right 10px top 12px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
}

.IRNewsModule #from-month, .IRNewsModule #to-month {
    margin-right: 3px;
    width: 110px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    padding: 0;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #999999;
    background-repeat: no-repeat;
    background-position: right;
    min-width: 60px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.IRNewsModule #from-year, .IRNewsModule #to-year {
    width: 60px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    padding: 0;
    font-size: 14px;
    color: #999999;
    background-repeat: no-repeat;
    background-position: right;
    float: left;
    text-indent: 3%;
}


.IRNewsModule .datepicker {
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 385px;
    width: 48%;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: right;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
    -webkit-appearance: none;
}

.IRNewsModule .news-range .submitButton {
    padding-left: 288px;
}

.IRNewsModule .submitButton {
    text-align: right;
    float: left;
    /*margin-top: 20px;
    
    margin-left: 50%;
    margin-bottom: 20px;*/
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(images/calendar.gif);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}


/* NewsContent ======================================================== */
h2.newsArticleHeader {
    font-family: 'DinMedium', Arial;
    font-size: 16px;
    /*font-weight: bold;*/
}

.IRNewsModule .IRNewsTool th {
    font-size: 1.00em;
    line-height: 59px;
    height: 59px;
    padding: 0;
    border-left: 0;
    border-right: 0;
    text-transform: capitalize;
    font-weight: bold;
    text-transform: uppercase;
}

.IRNewsModule .IRNewsTool td {
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    height: 47px;
    line-height: 47px;
    border-left: 0;
    border-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}


.IRNewsModule .IRNewsTool th, .IRNewsModule .IRNewsTool td {
    border-right: 0px;
    border-left: 0px;
    padding-left: 0;
    padding-right: 0;
    float: left;
    text-align: left;
    font-size: 12px;
}

.IRNewsModule .IRNewsTool .date {
    width: 20%;
    min-width: 70px;
}

.IRNewsModule .IRNewsTool .time {
    width: 12%;
}



.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
}

.IRNewsTool td.title {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper td.download {
    width: 33%;
}
/* End ======================================================================== */


/* IRNewsPagination ============================================== */

.IRNewsModule .IRNewsTool th.pagination {
    width: 41%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}



.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
}

.IRNewsTableFooter .IRNewsPagination {
    padding-right: 25px;
    font-size: 1em;
    padding: 0.65em 0em 0.65em 0.91em;
    padding-right: 5px;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
}

.IRNewsPagination .IRNewsPageNumber.active {
    color: #019D56;
    text-decoration: underline;
}

.IRNewsPagination .IRNewsPageNumber {
    color: #A4A4A4;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool th.title, .IRNewsModule .IRNewsTool td.title {
    width: 60%;
    text-align: left;
}

.IRNewsModule .IRNewsTool td.data {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .IRNewsTool th.data, .IRNewsModule .IRNewsTool td.data {
    width: 30%;
}

.IRNewsModule .IRNewsTool th.download, .IRNewsModule .IRNewsTool td.download {
    width: 20%;
}

.IRNewsModule .IRNewsTool td.DataHover {
    background-color: transparent;
    text-decoration: none;
}

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    width: 44%;
    font-size: 14px;
    border: 1px solid #bdbdbd;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}


/* End ======================================================================== */


/* IRNewsHeadline ============================================================= */

.IRNewsHeadlineTool {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    color: #fff;
    overflow: hidden;
}

    .IRNewsHeadlineTool .date {
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
    }

    .IRNewsHeadlineTool .title {
        font-size: 26px;
        text-transform: uppercase;
        line-height: 32px;
        text-overflow: ellipsis;
        margin-top: 20px;
        height: 100px;
        overflow: hidden;
    }



.IRNewsHeadlineModule a {
    color: #fff;
    text-decoration: none;
}

.newsHeadlineDisclaimer {
    display: none;
}

.IRNewsHeadlineTool.table-look {
    margin-top: 67px;
}
/* End ======================================================================== */

/* IRMiniquoteModule ========================================================== */
.IRMiniquoteModule {
    font-size: 16px;
    height: 40px;
    background: #de076e;
    color: #fff;
    max-width: 320px;
}

    .IRMiniquoteModule .lastPriceWrapper, .IRMiniquoteModule .lastPriceChangeWrapper, .IRMiniquoteModule .marketCapWrapper {
        width: 50%;
        float: left;
        text-align: center;
        line-height: 40px;
    }

    .IRMiniquoteModule .lastPriceWrapper {
        width: 47%;
        padding-left: 3%;
    }

    .IRMiniquoteModule .lastPriceChangeWrapper {
        width: 45%;
        padding-right: 5%;
        font-family: 'DinRegular';
        font-weight: 400;
    }


    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        text-align: center;
        line-height: 38px;
        height: 38px;
        font-size: 16px;
        margin-top: 5px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }

    .IRMiniquoteModule .lastPriceLabel, .IRMiniquoteModule .changeLabel, .IRMiniquoteModule .marketCapLabel {
        font-family: 'DinBold';
        float: left;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
}

.IRMiniQuoteQuoteModule .last, .IRMiniquoteModule .changeMiniquote, .IRMiniquoteModule .marketCap {
    /*font-size: 32px;
    line-height: 32px;
    font-weight: bold;*/
}

.IRMiniQuoteQuoteModule .currency {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-top: 28px;
    padding-left: 5px;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

/*.IRMiniQuoteQuoteModule .change {
    margin-top: 10px;
}*/

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule.table-look {
    width: initial;
    border: 0;
    margin-top: 0;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    background-image: url(../2166/images/arrow.png);
    width: 11px;
    height: 16px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #00c8d7;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}
/* End =================================================================== */



/* IRDetailedSharePrice ===================================================== */
.IRQuoteHorizontalModule span {
    padding: 0;
    margin: 0 5px 0 0;
    font-size: 0.917em;
    float: left;
    padding-top: 4px;
    margin-bottom: 5px;
}

IRMiniquoteModule. DetailedSharePrice {
    height: initial;
}

.IRDetailedSharePrice.table-look th {
    text-transform: uppercase;
}

.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
    border: 0;
    font-size: 14px;
}

.IRDetailedSharePrice.table-look td {
    height: 47px;
    line-height: 47px;
    padding-left: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.exchangeCity {
    font-family: 'DinRegular';
    font-weight: 400;
}


table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 50px;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    font-size: 19.7px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.sharePriceTools h2 {
    margin: 0;
    font-weight: 400;
    padding-bottom: 5px;
    color: #21201E;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 28px;
}


.IRQuoteHorizontalModule h3 {
    text-align: left;
    font-size: 16px;
    float: left;
    width: 100%;
    color: #00c8d7;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.IRDetailedSharePrice.table-look th {
    color: #fff;
    font-size: 14px;
    border: 0;
    height: 59px;
    line-height: 59px;
    padding-left: 10px;
    background: #00c8d7;
}

.IRDetailedSharePrice th, .IRDetailedSharePrice td {
    padding: 0;
    text-align: left;
    width: 110px;
}

.IRDetailedSharePrice td {
    border-bottom-color: #019D54;
}

.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}
/* End ======================================================================== */


/* IRNewsModule =============================================================== */

.IRNewsModule {
    overflow: hidden;
}

    .IRNewsModule .textArea {
        color: #333333;
        line-height: 38px;
        min-width: 150px;
        font-size: 14px;
        float: left;
    }


    .IRNewsModule .newsSubmit {
        margin-top: 0;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        font-size: 14px;
        height: 62px;
        min-width: 178px;
        width: 10%;
        float: left;
        line-height: 62px;
        background-color: #00c8d7;
        box-shadow: none;
    }

        .IRNewsModule .newsSubmit:hover {
            color: #fff;
            background: #000;
            box-shadow: none;
            background-color: #000;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            -webkit-perspective: 1000;
        }

div.IRNewsTool .IRHeaderGroup div.IRHeader {
    text-transform: uppercase;
    font-weight: bold;
    color: #db1e30;
    font-size: 14px;
    border: 0;
    height: 59px;
    line-height: 59px;
    padding: 0 0 0 10px;
    padding-left: 1%;
    border-bottom: 1px solid #eee;
}

div.IRNewsTool div.DataHover {
    background: transparent;
}

div.IRNewsTool .IRHeaderGroup {
    display: none;
}

.IRNewsModule .news-filter-wrapper input {
    line-height: 30px;
    height: 30px;
}

.search-for-box, .filterRow {
    width: 45%;
    float: left;
}

.filter-wrapper .datepicker {
    width: 100%;
    float: left;
}

    .filter-wrapper .datepicker #from-month, .filter-wrapper .datepicker #to-month {
        width: 205px;
    }

    .filter-wrapper .datepicker #from-year, .filter-wrapper .datepicker #to-year {
        width: 153px;
    }

.IRNewsModule .datepicker .search-from {
    float: left;
    width: 50%;
}

.IRNewsModule .news-filter-wrapper input, .IRNewsModule .news-filter-wrapper select {
    border: 1px solid #c3c3c2;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 205px;
    font-size: 14px;
    color: #999999;
}

.IRNewsModule .news-filter-wrapper select {
    background-image: url(../1838/images/selectDownCustom.png);
}

.IRNewsModule .news-filter-wrapper .search-for-box input.searchText {
    width: 370px;
    text-indent: 2%;
}

div.IRNewsTool .IRDataGroup, div.IRNewsTool .IRHeaderGroup {
    font-size: 14px;
    text-align: left;
    color: #333333;
}



    /*div.IRNewsTool .IRDataGroup:nth-child(even) {
        background: #f7f9f9;
    }*/


    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle {
        width: 70%;
        padding-left: 0;
    }





    div.IRNewsTool .IRHeaderGroup div.IRHeader, div.IRNewsTool .IRDataGroup div.IRDataCustom {
        height: 47px;
        line-height: 47px;
        border-bottom: 0;
    }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRNewsDownloadIcon {
            padding-left: 1%;
            padding-right: 0;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle {
            padding-right: 0;
        }

        div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDate, div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload {
            width: 19%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 17px;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRShowYear {
            width: 19%;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle .IRTitleHeadline, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle .IRTitleHeadline {
            width: 100%;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDate, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload {
            height: 27px;
            line-height: 27px;
            border-left: 0;
            border-right: 0;
            padding-top: 20px;
            padding-bottom: 0;
            cursor: pointer;
        }

        div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload {
            width: 16%;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle {
            height: 78px;
            line-height: 27px;
            padding-left: 0;
            padding-top: 20px;
        }

            div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle .IRTitleHeadline, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle .IRTitleHeadline a {
                text-transform: uppercase;
                color: #dc002d;
                font-size: 18px;
                /*white-space: nowrap;*/
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
                width: 100%;
            }

                div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle .IRTitleHeadline:hover, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle .IRTitleHeadline a:hover {
                    color: #003a78;
                }

            div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle .showDate {
                font-size: 16px;
                text-transform: initial;
                color: #676869;
            }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDate {
            font-size: 18px;
            color: #676869;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRShowYear {
            text-indent: 1%;
        }

    div.IRNewsTool .IRDataGroup div.IRDataCustom {
        float: left;
    }

div.IRNewsTool .IRDataCustom {
    height: 100px;
}

div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRNewsDownloadIcon {
    border-bottom: 1px solid #eee;
}

div.IRNewsTool .IRDataGroup div.IRDataCustom.IRNewsDownloadIcon {
    height: 98px;
}

div.IRNewsTool .IRDataGroup .dateYear {
    border-bottom: 0;
}

div.IRNewsTool .IRHeaderGroup .IRHeader.file-type {
    padding-left: 0;
    padding-right: 0;
    width: 24%;
    text-indent: 1%;
}

div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadKB {
    text-align: right;
}

div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadPDF {
    width: 100%;
    min-width: 23px;
}

    div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('images/pdficon.png');
        float: left;
        margin-top: 0px;
        height: 47px;
        width: 20px;
        /* JR: changed from 10 to 13; */
        background-repeat: no-repeat;
        background-position: left center;
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        text-indent: 5000px;
    }

    div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadPDF .iconPDF, .headerAttachment {
        display: none;
    }

.IRNewsTableFooter {
    border-top: 1px solid #e6eced;
    width: 100%;
    text-align: center;
    margin-right: 0px;
    padding-top: 10px;
    height: 60px;
    float: left;
}

.IRNewsPagination {
    text-align: center;
    margin: initial;
    max-width: initial;
}

.IRNewsModule .select_inner .close_box {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #00c8d7;
    /*position: fixed;*/
    margin-left: 33%;
    margin-top: -15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.IRNewsPagination .IRNewsPageNumber {
    cursor: pointer;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    color: #c5252b;
    font-weight: normal;
    padding: 3px 15px;
    height: 100px;
}

.IRNewsPagination .active {
    color: #ff6000;
}

.IRNewsPageNumber:hover {
    color: #ff6000;
    text-decoration: underline;
}

.select-wrapper .ul.hasAttachments {
    background: url("images/pdficon.png") no-repeat;
}

.IRNewsTool .IRDataGroup div .select_inner .headerAttachment {
    font-weight: bold;
    padding-left: 3%;
    height: 50px;
    line-height: 50px;
    background-color: #f0f0f0;
}

.select_wrapper .select_inner .li:last-child {
    border: none;
    border-radius: 0 0 5px 5px;
}

.select_wrapper .ul.hasAttachments .li {
    background: #fff url('images/pdficon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
    /*padding: 0 0 0 35px;*/
    overflow: hidden;
    /*width: 100%;*/
    height: 40px;
    line-height: 40px;
    text-indent: 35px;
    overflow: hidden;
    width: 97%;
}

.IRTitle .li.attachment {
    background: #fff url('images/pdficon.png');
    text-indent: 45px;
    font-size: 16px;
    text-transform: initial;
}

.select_wrapper .ul.hasAttachments .li:hover {
    background: 10px center;
    background-image: url('images/pdficon.png');
    background-repeat: no-repeat;
    padding: 0 35px;
    background-color: #f0f0f0;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.select_wrapper .ul.hasAttachments .li:first-child {
    border-radius: 5px 5px 0 0;
}

.select_wrapper .select_inner {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #687278;
    display: none;
    position: absolute;
    width: 150%;
    top: -50%;
    left: -100%;
    z-index: 3;
    overflow: hidden;
}

.IRNewsModule table tr td.Data.download a div {
    float: left;
    line-height: 47px;
    height: 47px;
    background-image: url('../2166/images/pdficonsmall.png');
}

.IRNewsModule .datepickerWrapper {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

IRNewsModule .IRNewsTool .IRDataGroup div.IRDataCustom {
    border-bottom: 1px solid #f0f0f0;
}

.IRNewsModule .datepicker .search-from, .IRNewsModule .search-to {
    width: 25%;
    float: left;
}

.IRNewsModule .submitButton {
    width: 50%;
    float: left;
}

.IRNewsModule .from-label, .IRNewsModule .to-label {
    width: 100%;
}

.IRNewsModule #from-year, .IRNewsModule #to-year {
    width: 96%;
    line-height: 62px;
    height: 62px;
    margin-top: 0;
    margin-bottom: 0;
}

.IRNewsModule .newsSubmit {
    width: 96%;
}

#calculate-button, .IRNewsModule .submitButton input, #lookup-button, .IRNewsModule .submitButton {
    color: #fff;
    font-weight: normal;
    -webkit-appearance: none;
}

    #calculate-button, .IRNewsModule .submitButton input, #lookup-button {
        background-color: #dc002d;
        text-transform: uppercase;
        border-radius: 0;
    }

        .IRNewsModule .submitButton input:hover, #lookup-button:hover, #calculate-button:hover {
            background-color: #aa0023;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            -webkit-perspective: 1000;
            color: #fff;
        }

/*  News Article ======================= */
.IRArticleModule .attachmentList {
    margin-bottom: 40px;
    float: left;
}

.IRArticleModule h2 {
    color: initial;
}

.IRArticleModule a {
    text-decoration: none;
    font-style: normal;
    float: left;
    height: 20px;
    line-height: 20px;
    font-family: 'DinMedium', Arial;
    width: 100%;
}

.IRArticleModule .attachmentIcon {
    background-image: url('images/pdficon.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 25px;
    float: left;
}
/*
Pagination
*/
.IRNewsPagination {
    width: 300px;
    height: 15px;
    margin: auto;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.IRNewsPaginationPageNew {
    float: left;
    cursor: pointer;
    width: 25px;
    line-height: 16px;
    text-align: center;
    color: #aaa;
    font-size: 16px;
}

    .IRNewsPaginationPageNew.active {
        color: #00628D;
    }

.IRNewsPaginationPagePrev {
    text-align: center;
}

.IRNewsPaginationPageNext {
    text-align: center;
}

.IRNewsPaginationPagePrev, .IRNewsPaginationPageNext {
    width: 50px;
}



/* End ======================================================================= */

/* IRPerformanceModule ======================================================= */

.IRPerformanceModule.table-look th {
    text-align: right;
}

    .IRPerformanceModule.table-look th.column-first {
        text-align: left;
    }

.IRPerformanceModule.table-look tr:nth-child(odd) {
    background: #f2f3f3;
}
/* End ======================================================================= */


/* IRSharePriceTools ========================================================= */
.performanceDisclaimer, .chartDisclaimer, .calcDisclaimer, .lookupDisclaimer {
    display: none;
}

#lookupiframe {
    height: 350px;
}

/* End ======================================================================= */


/* @media only screen ======================================================== */
@media only screen and (max-width: 800px) {


    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }
}


@media only screen and (min-width: 721px) {
    .IRDetailedSharePrice.vertical, .vertical-header, .IRToolCalcResultsTable.vertical {
        display: none;
    }
}


@media only screen and (max-width: 720px) {

    .IRDetailedSharePrice.horizontal, .horizontal-header, .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.table-look th, .IRToolCalcResultsTable.table-look td {
        text-align: left;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding-left: 10px;
    }

    .IRToolCalcResultsTable.table-look th {
        text-transform: uppercase;
        width: 70%;
    }

    .IRCalcModule .amount-invested-label {
        width: 100%;
        float: left;
        position: relative;
    }

    .IRCalcModule .amount-invested-wrapper .input-wrapper {
        width: 100%;
        float: left;
        position: relative;
    }

        .IRCalcModule .amount-invested-wrapper .input-wrapper input {
            width: 99%;
            float: left;
            text-indent: 10px;
            padding: 0;
        }

    .IRCalcModule .input-wrapper.calculate-button, .IRCalcModule #calculate-button {
        width: 100%;
        text-align: center;
        background-image: none;
        position: relative;
        margin-top: 10px;
    }

    .IRCalcModule #result-section {
        margin-top: 30px;
        float: left;
        width: 100%;
    }


    .IRQuoteHorizontalModule h3 {
        font-size: 18px;
    }

    .IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
        font-size: 14px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 700px) {

    .IRNewsTool tbody {
        border-top: 1px solid #bdbdbd;
    }

    .select_wrapper .select_inner {
        left: -3%;
        width: 103%;
    }

    .IRNewsTool .IRDataGroup div .select_inner .headerAttachment, .select_wrapper ul.hasAttachments li {
        height: 40px;
        line-height: 40px;
    }

    .IRNewsModule .search-for-box {
        float: left;
        margin-bottom: 5px;
        width: 100%;
    }

        .IRNewsModule .search-for-box input {
            width: 100%;
            height: 38px;
            line-height: 38px;
            border: 1px solid #bdbdbd;
            padding-left: 0;
            text-indent: 5px;
        }

    .IRNewsModule .news-filter-wrapper .search-to, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-for-box, .IRNewsModule .search-filter-wrapper #select-filter {
        width: 100% !important;
    }


    /*.IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 70%;
        float: left;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 28%;
        float: right;
        min-width: 60px;
    }

    #calculate-button, .IRNewsModule .submitButton input, #lookup-button, .IRNewsModule .submitButton {
        margin-left: 0;
        width: 100%;
    }
        */
    .IRNewsModule .IRNewsTool thead {
        display: none;
    }

    .IRNewsModule .IRNewsTool .date, .IRNewsModule .IRNewsTool td.title, .IRNewsModule .IRNewsTool td.download {
        width: 98%;
        padding-left: 2%;
        line-height: 20px;
        height: 20px;
        border: 0;
    }

    /*.IRNewsModule .textArea, .search-for-box, .filterRow, .IRNewsModule .datepicker .search-from, .IRNewsModule .news-filter-wrapper .search-for-box input.searchText, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
    }

    .IRNewsModule .submitButton {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 25px;
    }*/

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 0;
        width: 100%;
        color: #000;
        border: 2px solid #000;
        background: initial;
        background-image: none;
        height: 40px;
        line-height: 40px;
        background-color: transparent;
        text-transform: uppercase;
        padding-top: 0;
        text-align: center;
    }

        .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
            color: #fff;
            background: #000;
        }



    .IRNewsModule table tr td.Data.download a div {
        line-height: 20px;
        height: 20px;
    }

    .IRNewsTool tr {
        border-bottom: 1px solid #bdbdbd;
        height: 70px;
    }

    .IRNewsModule .IRNewsTool .date {
        padding-top: 5px;
    }

    .IRNewsModule .IRNewsTool .download {
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 330px) {
    .IRNewsHeadlineModule a, .IRNewsHeadlineTool .title {
        /*font-size: 16px;
        line-height: normal;*/
    }
}





@media only screen and (max-width: 600px) {
    .IRDataCustom.IRNewsDownloadIcon a {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: block;
        text-align: left;
        float: left;
        margin-top: 11px;
        margin-left: 1%;
    }


    div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        text-indent: 3%;
    }

    .visibilityHidden {
        display: none;
    }

    .IRNewsTool .IRDataGroup DIV .select_inner {
        left: 0;
        width: 100%;
    }

    .IRNewsModule .select_inner .close_box {
        margin-left: 90%;
        text-indent: 0;
    }

    DIV.IE876.IRNewsTool .IRDataGroup DIV.IRDownload.IRDataCustom .IRDownloadPDF {
        width: 100%;
    }

    div.IRNewsTool .IRDataGroup div.IRDataCustom, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRNewsDownloadIcon {
        border-bottom: 0;
    }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRNewsDownloadIcon {
            height: 47px;
            background-position: 3% center;
            width: 100%;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload {
            width: 100%;
        }

    .IRNewsModule .search-for-box .textArea, div.IRNewsTool .IRHeaderGroup {
        display: none;
    }

    div.IRNewsTool .IRHeaderGroup {
        border-bottom: 0;
    }

    div.IRNewsTool .IRDataGroup {
        border-bottom: 1px solid #f4f4f4;
    }

        DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRDataCustom {
            border-bottom: 0;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle {
            width: 99%;
            height: 50px;
            line-height: 25px;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDate, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload {
            width: 100%;
            height: 28px;
            line-height: 28px;
            border-bottom: 0;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDate, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRTitle {
            padding-top: 3px;
        }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRShowYear {
            text-indent: 3%;
            height: 50px;
            line-height: 50px;
            background: #f2f3f3;
        }

    .div.IRNewsTool .IRDataCustom {
        width: 100%;
        float: left;
    }

    .IRNewsModule .news-filter-wrapper .search-for-box input.searchText, .IRNewsModule .news-filter-wrapper input, .IRNewsModule .news-filter-wrapper select {
        line-height: 32px;
        height: 32px;
    }

    .IRNewsTool .IRDataGroup div .select_inner {
        height: initial;
    }

    .IRNewsModule .textArea {
        font-weight: normal;
    }

    .div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadPDF {
        text-align: left;
    }

    .filter-wrapper .datepicker #from-month, .filter-wrapper .datepicker #to-month {
        width: 67%;
    }

    div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadPDF, div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadKB {
        float: left;
        text-align: left;
    }

    div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadPDF {
        width: 100%;
    }

        div.IRNewsTool .IRDataGroup div.IRDataCustom.IRDownload .IRDownloadPDF .iconPDF {
            top: 0;
            padding-right: 2%;
            background-position: left 7px;
            height: 25px;
            background-image: url('images/pdficon.png');
        }

    .filter-wrapper .datepicker #from-year, .filter-wrapper .datepicker #to-year {
        width: 28%;
        float: right;
        min-width: 60px;
    }

    .IRNewsModule .news-filter-wrapper input, .IRNewsModule .news-filter-wrapper select {
        margin: 0;
    }

    .IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 70%;
        float: left;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 28%;
        float: right;
        min-width: 60px;
    }

    #calculate-button, .IRNewsModule .submitButton input, #lookup-button, .IRNewsModule .submitButton {
        margin-left: 0;
        width: 100%;
    }

    .IRNewsModule .datepicker .search-from, .IRNewsModule .search-to {
        width: 100%;
    }


    .IRNewsModule .textArea, .search-for-box, .filterRow, .IRNewsModule .datepicker .search-from, .IRNewsModule .news-filter-wrapper .search-for-box input.searchText, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
    }

    .IRNewsModule .submitButton {
        width: 100%;
        margin-left: 0;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 550px) {
    #lookupiframe {
        height: 500px;
    }

    .IRPerformanceModule.horizontal.responsive .months6 {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    #tableV {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #tableH {
        display: none !important;
    }

    .lookupDatepickerWrapper, .lookupfrequencyWrapper {
        width: 98%;
        margin-left: 1%;
    }

    .lookupDatepickerWrapper {
        margin-right: 0;
    }

    .lookupfrequencyWrapper select {
        width: 100%;
    }
}

@media only screen and (max-width: 460px) {
    .IRPerformanceModule.horizontal.responsive .months1 {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .IRNewsPagination {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .IRNewsTableFooter .IRNewsPagination {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 250px) {
    #lookupiframe {
        height: 500px;
    }
}

/* End ======================================================================== */

.table-look {
    border: none;
    margin-top: 35px;
}

@media only screen and (max-width: 326px) {
    .IRNewsHeadlineTool .title {
        font-size: 16px;
        line-height: normal;
    }

    .IRNewsHeadlineTool .title {
        margin-top: 28px;
    }
}

@media only screen and (max-width: 320px) {
    .IRMiniquoteModule {
        height: 70px;
    }

        .IRMiniquoteModule .lastPriceWrapper, .IRMiniquoteModule .lastPriceChangeWrapper, .IRMiniquoteModule .marketCapWrapper {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            line-height: 35px;
        }

        .IRMiniquoteModule .lastPriceLabel {
            float: initial;
        }
}
