* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.IRQuoteModule {
    font-size: 15px;
    border-top: 2px solid #7fc0d4;
    margin-bottom: 20px;
}

.companyInfoWrapper {
    color: #003e5c;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
}

.IRQuoteModule .companyInfoWrapper .chartName {
    width: 58%;
    float: left;
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.table-look {
    border-top: 2px solid #7fc0d4;
    border-bottom: 1px solid #a8a9a3;
}

.table-look th:first-child {
    border-radius: 3px 0 0 3px;
}

.table-look th.column-first, .table-look td.column-first {
    text-align: left;
}

.table-look th, .table-look td {
    border-bottom: 1px solid #cccccc;
    text-align: right;
}

.table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    height: 40px;
    text-align: left;
    line-height: 40px;
}

#chartLast {
    font-size: 74px;
    font-weight: 300;
    width: 25%;
    min-width: 260px;
}


td#chartLast.Data.symbol.column-first {
    vertical-align: middle;
}

.table-look td.Data.change {
    color: #2bc4b6;
}

.formatArrowNeg {
    display: inline-block;
    background-image: url(http://ir.euroinvestor.com/Solutionsstaging/WilliamDemant/2412/images/arrowdown.png);
    background-position: center center;
}

.formatArrowPos {
    display: inline-block;
    background-image: url(http://ir.euroinvestor.com/Solutionsstaging/WilliamDemant/2412/images/arrowup.png);
    background-position: center center;
}

.formatArrowNeg, .formatArrowPos {
    background-repeat: no-repeat;
    line-height: 22px;
    height: 17px;
    width: 18px;
    vertical-align: middle;
    background-size: 17px;
}

