/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2e5705");


@font-face {
    font-family: 'Gesta-Bold';
    src: url('webfonts/2E5705_0_0.eot');
    src: url('webfonts/2E5705_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E5705_0_0.woff2') format('woff2'),url('webfonts/2E5705_0_0.woff') format('woff'),url('webfonts/2E5705_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'Gesta-Light';
    src: url('webfonts/2E5705_1_0.eot');
    src: url('webfonts/2E5705_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E5705_1_0.woff2') format('woff2'),url('webfonts/2E5705_1_0.woff') format('woff'),url('webfonts/2E5705_1_0.ttf') format('truetype');
}


@font-face {
    font-family: 'Gesta-Medium';
    src: url('webfonts/2E5705_2_0.eot');
    src: url('webfonts/2E5705_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E5705_2_0.woff2') format('woff2'),url('webfonts/2E5705_2_0.woff') format('woff'),url('webfonts/2E5705_2_0.ttf') format('truetype');
}


@font-face {
    font-family: 'Gesta-Regular';
    src: url('webfonts/2E5705_3_0.eot');
    src: url('webfonts/2E5705_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E5705_3_0.woff2') format('woff2'),url('webfonts/2E5705_3_0.woff') format('woff'),url('webfonts/2E5705_3_0.ttf') format('truetype');
}



body {
    font-size: .75em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #333;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    font-family: 'Gesta-Medium', Arial, sans-serif;
}

.clear {
    clear: both;
}

.disclaimer {
    top: 0;
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 1px solid #ccc;
    font-weight: 700;
    font-size: 12px;
}

div.IRNewsTool div.DataHover, *.DataHover {
    background-color: #fff !important;
    height: 60px !important;
}
/*.formatColourPos::before{content:"+";}*/

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}

input, select {
    padding: 0px 7px;
    line-height: 34px;
    height: auto;
    height: 34px;
}

    input[type="radio"] {
        vertical-align: middle;
    }

.wide-input {
    width: 195px;
}

label {
    line-height: 34px;
    height: 34px;
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    font-weight: normal;
    cursor: pointer;
    font-size: 17px;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 7px 20px 7px 20px;
    height: auto;
    line-height: normal;
    width: 175px;
    background: #b0013a;
    color: #fff;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 0;
    transition: all .3s;
    font-family: 'Gesta-Bold', Arial, sans-serif;
    text-transform: uppercase;
}

    input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        background-color: #970132;
        color: #fff;
        border: 0;
    }


.IRQuoteModule {
    font-size: 14px;
}

    .IRQuoteModule .name {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .IRQuoteModule .updated {
        text-align: right;
        margin-bottom: 15px;
        /*font-size: 12px;*/
        /*font-weight: bold;*/
        color: #e1e5e8;
    }

.table-look {
    margin-bottom: 10px;
    table-layout: fixed;
}

.IRMiniquoteModule .table-look {
    border-bottom: 0;
}


.table-look td, .table-look th {
    line-height: 48px;
    position: relative;
    text-align: center;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid #e1e5e8;
    padding: 0;
}


.IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    padding: 0 0 0 0;
}

.table-look th {
    font-weight: 500;
    color: #fff;
    background: #e41e13;
}

.table-look td {
}

    .table-look td.formatColourPos, *.formatColourPos {
        color: green;
    }

    .table-look td.formatColourNeg, *.formatColourNeg {
        color: red;
    }

    .table-look th.column-first, .table-look td.column-first {
        text-align: center;
        /*    padding-left: 10px;*/
    }

    .table-look th.column-last, .table-look td.column-last {
        text-align: center;
    }

.timestamp {
    text-align: center;
}

/* IRMiniquoteModule ===================================================== */
.disclaimer-IRMiniquote {
    display: none;
}

.IRMiniquoteModule {
}

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    font-size: 14px;
    padding-bottom: 28px;
}

table.miniquoteChartTable {
    width: 100%;
    font-size: 12px;
}

.miniquoteChartTable td {
    max-width: 100px;
}

    .miniquoteChartTable td.lastColumn {
        text-align: right;
        width: 90px;
    }

.miniquoteChartTable .Symbol {
    vertical-align: middle;
    font-size: 16px;
    width: 40%;
}

.IRMiniQuoteQuoteModule h3 {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.IRMiniQuoteQuoteModule .updated {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #1C2023;
}

.IRMiniQuoteQuoteModule .last {
    font-size: 48px;
    line-height: 48px;
    display: inline-block;
    font-weight: 500;
    color: #B0013A;
    font-size: 64px;
    margin: 0;
    font-family: 'Gesta-Regular', Arial, sans-serif;
}

.IRMiniQuoteQuoteModule .currency {
    font-size: 22px;
    display: inline-block;
    font-weight: 300;
    margin-left: -12px;
    font-weight: 700;
}

.IRMiniQuoteQuoteModule .change {
    font-weight: 700;
    font-size: 15px;
    color: #B0013A;
}

    .IRMiniQuoteQuoteModule .change .decimals {
        display: inline-block;
        margin-right: 13px;
    }

}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    text-align: left;
    font-weight: 400;
}

.IRMiniQuoteQuoteModule .closeDate {
    font-weight: 300;
    display: none;
}

.IRMiniQuoteQuoteModule .delayed {
    font-weight: 300;
    margin-bottom: 0px;
}

.IRMiniQuoteQuoteModule .bottom-link {
    border-top: 1px solid #cccccc;
    padding-top: 14px;
}

    .IRMiniQuoteQuoteModule .bottom-link a {
        color: inherit;
        font-size: 15px;
        padding-left: 12px;
        text-decoration: none;
        position: relative;
        font-weight: 300;
    }

        .IRMiniQuoteQuoteModule .bottom-link a:hover {
            text-decoration: underline;
        }

        .IRMiniQuoteQuoteModule .bottom-link a:before {
            content: "\f2fb";
            text-decoration: none;
            position: absolute;
            top: 2px;
            left: 2px;
            ;
        }

.IRMiniQuoteQuoteModule .arrow {
    width: auto;
    height: auto;
}

    .IRMiniQuoteQuoteModule .arrow.formatArrowPos {
        background-image: none;
    }

.IRMiniQuoteQuoteModule *:before {
    color: inherit;
    font-size: inherit;
    position: relative;
    font-family: 'Material-Design-Iconic-Font';
}

.IRMiniQuoteQuoteModule .arrow.formatArrowPos:before, .IRMiniQuoteQuoteModule .arrow.formatArrowNeg:before {
    margin-right: 4px;
}



.IRMiniQuoteQuoteModule .arrow.formatArrowNeg {
    background-image: none;
}



.IRMiniQuoteQuoteModule .sharePriceLink a {
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 19px;
    width: 100%;
    text-align: left;
    display: block;
    float: left;
    background-image: url('images/arrowRight.png');
    background-repeat: no-repeat;
    background-position: 13% center;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}

.miniquoteChartWrapper div {
    line-height: 18px;
    text-indent: 5px;
}

    .miniquoteChartWrapper div.Header {
        font-weight: 700;
    }

    .miniquoteChartWrapper div.Data {
        padding-bottom: 3px;
    }

    .miniquoteChartWrapper div.formatColourNeg {
        color: red;
    }

    .miniquoteChartWrapper div.formatColourPos {
        color: green;
    }

/* End =================================================================== */


/* IRChart =============================================================== */


/*IRChartPlaceholderArea{width: 99%;}*/

.IRChartPlaceholderArea .IRChartPlaceholder {
    /* width: 99% <--- iPhone 6+ fix to stop iFrame expanding. */
}



.IRChartHTMLPlaceholder {
    height: 200px;
    min-width: 250px;
    clear: both;
}


.IRChartColour {
    color: #e41e13;
}


.tooltipHTML {
    background-color: #fff;
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px 2px #ccc;
    box-shadow: 0px 0px 2px 2px #ccc;
    font-family: 'Fira sans', sans-serif;
    font-size: 14px;
    width: 140px;
    padding: 10px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }




.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div {
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        background: #fff;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0.25em 0 0;
    }

        .chartChangePeriod div#max {
            border-right: 0;
        }

div.highcharts-axis-labels.highcharts-xaxis-labels {
    top: -5px !important;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background: #e41e13;
    color: #fff;
    border: 0px solid #e41e13;
    transition: all .3s;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
        background-color: #e41e13;
        color: #fff;
        border: 0px solid #e41e13;
    }

.IRChartNavigation .IRChartCompanyName {
    font-size: 16px;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    margin-right: -1px;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    font-weight: 300;
    border: 0px solid transparent;
    border-radius: 5px;
}


    .IRChartPlaceholderArea .IRChartChangePeriod div:first-child {
        border-left: 0;
    }



.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    fill: #000 !important;
}

.chartNavBarRange {
    margin-top: 5px;
}


.IRChartNavigation .updated {
    float: right;
    padding-right: 10px;
}

/* End ====================================================================== */


/* IRDetailedSharePrice ===================================================== */

.IRDetailedSharePrice.first {
    table-layout: auto;
}

.IRQuoteHorizontalModule .quote {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 37px;
}

    .IRQuoteHorizontalModule .quote .current, .IRQuoteHorizontalModule .quote .change {
        margin: 20px;
        margin-left: 0;
        width: 200px;
        float: left;
    }

    .IRQuoteHorizontalModule .quote .current {
        color: #164172;
        font-size: 30px;
        float: left;
        margin: 0;
        margin-top: 45px;
    }

    .IRQuoteHorizontalModule .quote .change {
        float: left;
        color: #616161;
        font-size: 16px;
        margin-top: 45px;
    }

        .IRQuoteHorizontalModule .quote .change div {
            margin-bottom: 15px;
            font-weight: 300;
        }

.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look tr {
}

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 30px;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    font-size: 19.7px;
    padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.IRQuoteHorizontalModule h3 {
    font-weight: bold;
    font-size: 22px;
    color: #b0013a;
    line-height: normal;
    /*text-transform: uppercase;*/
}

    .IRQuoteHorizontalModule h3 .currency {
        text-transform: none;
    }

.IRDetailedSharePrice.table-look th {
}

.IRDetailedSharePrice td {
}

.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}

/* End ======================================================================== */


/* IRNewsModule ============================================================ */
.IRNewsModule {
    font-size: 14px;
    background: transparent;
}

    .IRNewsModule .filter-wrapper {
        width: 100%;
        float: left;
    }

.news-filter-wrapper {
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
}

.IRNewsModule h2 {
    font-size: 24px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    display: none;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #666666;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.news-filter-wrapper {
    /*overflow: hidden;*/
    width: 100%;
}

.IRNewsModule .date-wrapper {
    width: 100%;
    float: left;
    line-height: normal;
    text-align: center;
    border-bottom: 1px solid #e1e5e8;
    padding-bottom: 40px;
}

    .IRNewsModule .date-wrapper .date-selector {
        float: left;
        height: 30px;
        line-height: 34px;
        font-size: 16px;
        padding: 0 20px;
        color: #a2aaad;
        text-decoration: none;
        border-radius: 6px 6px 0 0;
        margin-right: 5px;
        font-family: 'Gesta-Bold', Arial, sans-serif;
        min-width: 50px;
        text-transform: uppercase;
    }

        .IRNewsModule .date-wrapper .date-selector:hover {
            color: #000;
        }

.date-wrapper .date-selector.active, .date-wrapper .date-selector.active:hover {
    color: #000;
}

.IRNewsModule .date-wrapper a:after {
    content: "/";
    padding-left: 20px;
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    color: #a2aaad;
}

.date-wrapper .date-selector:last-child:after {
    content: "";
}


.IRNewsModule .search-for-box {
    width: 46%;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
    display: none;
}

.IRNewsModule .news-filter-box #allRNSnews {
    font-weight: bold;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/
.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/selectDown.png);
}

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    width: 183px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: left;
}

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 5px;
    line-height: 24px;
    height: 24px;
    width: 167px;
}


.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    display: none;
}

.IRNewsModule .search-for-box input {
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    width: 114px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    font-weight: 300;
    display: none;
}

.IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    font-weight: 300;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 64px;
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
}


.IRNewsModule .news-filter-wrapper #to-year {
    display: none !important;
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    display: none;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border-bottom: 2px solid #4c4c4c;
}

    .IRNewsTool .IRDataGroup div {
        border-bottom: 0;
    }

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .filter-wrapper .submitButton {
    margin-left: 46%;
}

.IRNewsModule .submitButton {
    margin-top: 20px;
    display: none;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(images/calendar.gif);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    /*margin-right: 63px;*/
}

.IRNewsModule .heading {
    font-size: 2.333em;
    color: #003772;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e5e8;
    width: 100%;
    clear: both;
    display: inline-block;
    margin-top: 15px;
    line-height: normal;
    font-weight: 700;
}

/* NewsContent ======================================================== */
div.IRNewsTool .IRDataGroup {
    padding: 26px 0px 23px 8px;
    border-bottom: 1px solid #e1e5e8;
    box-sizing: border-box;
    clear: initial;
    height: 100px;
    padding: 0;
    clear: none;
}

    /*div.IRNewsTool .IRDataGroup:nth-of-type(3n) {
        margin-right: 0;
    }*/


    div.IRNewsTool .IRDataGroup:last-child {
        border-bottom: 2px solid #4c4c4c;
    }

div.IRNewsTool .IRHeaderGroup {
    display: none;
}

.IRNewsModule .NewsDataGroupWrapper {
    float: left;
    width: 100%;
}

.IRNewsCategoryTitle {
    font-size: 14px;
    color: #B0013A;
    text-transform: uppercase;
    font-family: 'Gesta-Bold', Arial, sans-serif;
    letter-spacing: 1.4px;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    display: inline-block;
    color: #1C2023;
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-transform: none;
    white-space: normal;
}

    DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData:hover {
        color: #B0013A;
        text-decoration: none;
        height: 66px;
    }

.IRNewsTool .IRDataGroup .IRTitle.IRData:hover {
    text-decoration: underline;
}


.IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    font-size: 14px;
    padding: 0;
    border: 0;
    height: auto;
    color: #B0013A;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    cursor: initial;
    font-weight: 300;
    /*letter-spacing: -0.3px;*/
    font-weight: 700;
    color: #a2aaad;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Gesta-Medium', Arial, sans-serif;
    width: 25%;
    min-width: 150px;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    width: 15%;
    float: right;
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    min-width: 140px;
}

    .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    }

.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 16px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .IRDate {
    width: 23%;
    color: #666666;
}

.IRNewsModule .IRNewsTool .IRData.file-type {
    width: 24%;
    font-weight: bold;
}




.IRNewsModule .IRNewsTool .IRHeader.IRTitle, .IRNewsModule .IRNewsTool .IRData.IRTitle {
    width: 55%;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRHeader.file-type {
    width: 17%;
}

.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /*width: initial;*/
    width: 20px;
}
    /* JR: removed width: initial;*/
    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('images/pdficon.png');
        float: left;
        margin-top: 39px;
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        top: 0;
    }

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
    margin-left: 10px;
    color: #000;
}

.IRNewsPagination {
    max-width: none;
    padding: 0;
}

    .IRNewsPagination .IRNewsPaginationPageNew.active {
        font-size: 16px;
        color: #e41e13;
        padding-bottom: 15px;
        border-bottom: 2px solid #e41e13;
        width: 15px;
        font-weight: 700;
    }

    .IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('images/prev.png');
        background-repeat: no-repeat;
        background-position: center center;
        width: 20px;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('images/next.png');
        background-repeat: no-repeat;
        background-position: center center;
        width: 20px;
    }

.IRNewsTableFooter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.IRNewsPaginationPageNew {
    width: auto;
    display: inline-block;
    cursor: pointer;
    margin: 0px 12px;
    font-size: 17px;
    color: #a2aaad;
    font-weight: 500;
    line-height: 28px;
    font-weight: 700;
}

    .IRNewsPaginationPageNew:hover {
        color: #e41e13;
    }

.IRNewsTableFooter .IRNewsPagination {
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */ user-select: none;
}

.IRNewsPagination .IRNewsPageNumber {
    font-size: 16px;
    font-weight: normal;
    color: #172F67;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #757575;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

div.IRNewsTool .IRHeaderGroup div, .IRNewsTool .IRDataGroup div {
}


.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
}

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

.IRNewsModule .news-filter-wrapper .search-from {
    display: none;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

/* ============================================================================ */


/* IRCalcModule =============================================================== */

.IRCalcModule {
    font-size: 14px;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.IRCalcModule #calc-form {
    margin-top: 10px;
}

.IRCalcModule #amount-invested {
    margin-bottom: 10px;
}

.IRCalcModule input[type=number] {
    padding-left: 0;
    text-indent: 10px;
}

.IRCalcModule .buttonWrapper {
    margin-bottom: 20px;
}

/*.IRCalcModule label{line-height: 34px; height: 34px; float:left;}*/

/* End ======================================================================== */


/* IRLookupModule =============================================================== */

.IRChartLookupPlaceholder {
    margin-bottom: 10px;
    height: 250px;
}

.IRLookupModule select {
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 6px;
    padding-right: 24px;
    text-overflow: ellipsis;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    padding-left: 16px;
    padding-right: 15px;
    font-family: inherit;
    font-size: 16px;
    line-height: 2.5;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #B3B1A8;
    margin-left: 2px;
}

    .IRLookupModule select:focus {
        border: 1px solid #22A8DA;
        outline: none;
    }

.input-row {
    height: 50px;
}

table.IRLookupResultsTable th {
    /*
    font-size: 14px;
*/
}

/* End ======================================================================== */


/* Calc and Lookup ============================================================ */

.formDivider {
    /*width: 40%;
    float: left;
    margin: 0 5%;*/
}

    .formDivider .input-row label {
        line-height: 38px;
        font-size: 14px;
    }

.radio label {
    position: relative;
    vertical-align: bottom;
}

@media only screen and (max-width: 800px) {
    .formDivider {
        width: 100%;
        float: left;
        padding: 0px;
    }
}

/* Email Alerts Module ======================================================== */

.emailAlerts p, .checkBoxText {
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.emailAlerts h2 {
    color: #3684c3;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

input[type=email] {
    line-height: 31px;
    height: 31px;
}

.emailAlerts input[type=email] {
    width: 68%;
    margin-right: 2%;
    padding-right: 0;
    padding-left: 0;
}

.emailAlerts .loginField {
    width: 99%;
    float: left;
    max-width: 400px;
}

.emailAlerts .buttonStyle {
    width: 28%;
}

.inputTextTitle {
    font-size: 14px;
    font-weight: 400;
    float: left;
    min-width: 140px;
    line-height: 31px;
    height: 31px;
}

.emailAlerts .divideLine {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 37px;
    margin-top: 37px;
}

.checkboxRelease {
    float: left;
    margin-right: 10px;
    line-height: 23px;
}

.emailAlerts .blockOuter {
    margin-top: 20px;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    margin-top: 30px;
}

/* End ======================================================================== */


/* Trades module ============================================================== */

.IRTradesModule .table-look {
    width: 100% !important;
}

    .IRTradesModule .table-look .column-last {
    }

    .IRTradesModule .table-look th.column-last {
    }

.IRTradesModule .hidden {
    display: none;
}

.IRTradesModule .table-seperator {
    background: none;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
}

table.IRTradesModule td.strong {
    font-weight: bold;
}

.IRTradesModule h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.IRTradesModule .table-look th {
}

.IRTradesModule .table-look td {
    font-weight: 300;
}

.IRTradesModule .table-look th, .IRTradesModule .table-look td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage, .IRTradesModule th.change, .IRTradesModule td.change {
    text-align: right;
}


.table-seperator div {
    padding: 0px 5px;
    position: absolute;
    font-weight: normal;
    left: 50%;
    /*width: 100px;*/
    top: 5px;
    margin-left: -50px;
    background: #F0F0F0;
    height: 20px;
}

.table-seperator hr {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #bdc1c9 !important;
    border-width: 1px;
    border-top: 1px solid #cacaca;
}

.IRTradesDisclaimer {
    display: none;
}

/* End ======================================================================== */


/* MiniquoteChart ======================================================================== */

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .change {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    width: auto;
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .last {
    display: inline-block;
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .currency, .IRMiniquoteChartModule .IRMiniQuoteQuoteModule .last {
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    height: auto;
}

.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 120px;
}

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .symbol {
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
}

.IRMiniquoteChartModule .disclaimerRKD {
    width: 100%;
    border: 0px;
    font-size: 11px;
    color: #888888;
    text-align: center;
}

    .IRMiniquoteChartModule .disclaimerRKD a {
        color: inherit;
    }

.IRMiniquoteChartModule h1 {
    position: static;
    color: inherit;
    display: block;
    font-size: initial;
}
/* End ======================================================================== */

/* IRNewsHeadline tool ======================================================== */

.IRNewsHeadlineTool {
    border: 0;
    font-family: 'Gesta-Bold', Arial, sans-serif;
}

    .IRNewsHeadlineTool .Data {
        margin-bottom: 23px;
    }

        .IRNewsHeadlineTool .Data.date {
            display: block;
            font-size: 19px;
            margin-bottom: 0px;
            color: #70787A;
            line-height: 1.25;
        }

        .IRNewsHeadlineTool .Data.title {
            display: inline-block;
            color: #1C2023;
            font-size: 23px;
            margin: .25rem 0 1rem;
            -webkit-transition: color .3s;
            transition: color .3s;
            line-height: 32px;
            height: 96px;
            overflow: hidden;
            margin-bottom: 40px;
        }

            .IRNewsHeadlineTool .Data .title:hover {
                cursor: pointer;
                color: #B0013A;
            }

.Data.newsHeadlineWrapper {
    border: 1px solid #EAEAEA;
    border-top: 5px solid #B0013A;
    box-sizing: border-box;
    width: 32%;
    margin-right: 2%;
    clear: initial;
    height: 240px;
    padding: 17px;
    padding-bottom: 0;
    clear: none;
    height: 226px;
    float: left;
}

    .Data.newsHeadlineWrapper:nth-of-type(3n) {
        margin-right: 0;
    }
/* End ======================================================================== */


/* @media only screen =========================================================*/

@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input {
        min-width: 175px;
    }
}

@media only screen and (max-width: 700px) {
    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 53%;
    }

    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        width: 50%;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 50%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
        min-width: 70px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 183px !important;
    }

    .Data.newsHeadlineWrapper {
        width: 100%;
        float: left;
        height: 139px;
    }

    .IRNewsHeadlineTool .Data.title {
        height: 60px;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 690px) {


    .IRNewsModule .NewsDataGroupWrapper {
        margin-left: 0;
    }

    .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        width: 100%;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        padding-top: 0;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDate br, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData.IRNewsCategoryTitle {
            display: none;
        }

    DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
        height: 64px;
    }
}


@media only screen and (max-width: 600px) {

    div.IRNewsTool .IRDataGroup {
        width: 100%;
        height: 220px;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDate {
            font-size: 19px;
            margin-top: 20px;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRTitle {
            font-size: 24px;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
            margin-top: 18px;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
            font-size: 21px;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
            height: 60px;
            line-height: 60px;
            float: left;
            width: 100%;
        }

    .IRNewsModule .date-wrapper .date-selector {
        font-size: 24px;
        padding-bottom: 50px;
    }

        .IRNewsModule .date-wrapper .date-selector:first-child {
            padding-left: 0;
        }
}

@media only screen and (min-width: 572px) {
    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {

    .IRQuoteHorizontalModule h3 {
        line-height: 1;
    }

    .IRDetailedSharePrice.table-look tr {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

    .IRDetailedSharePrice.table-look tr, .IRDetailedSharePrice.table-look td {
        border-left: 0;
    }

    .table-look th.column-first, .table-look td.column-first {
    }

    .table-look .vertical th {
        border: 1px;
    }

    .table-look.vertical tbody {
        display: table;
        width: 100%;
    }

    .IRChartNavigation, .IRChartPlaceholderArea, .IRChartPlaceholder, .IRChartPlaceholderArea .IRChartChangePeriodOuter, .IRChartPlaceholderArea .IRChartChangePeriod {
        padding-left: 0;
        padding-right: 0;
    }

    input[type=submit] {
    }

    .IRDetailedSharePrice.table-look th {
        padding-left: 10px;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-transform: none;
        border-bottom: 1px solid #000;
        border-top: 1px solid #fff;
    }

    .IRDetailedSharePrice.vertical td {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        font-weight: normal;
        font-size: 14px;
        height: initial;
        line-height: initial;
        white-space: initial;
        text-align: right;
        border-top: 1px solid #e1e5e8;
    }

    .IRDetailedSharePrice.table-look th {
        width: 45%;
        text-align: left;
    }

        .IRDetailedSharePrice.table-look th.column-last {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10px;
            border-bottom: 1px solid #fff;
        }


    .IRDetailedSharePrice.horizontal {
        display: none !important;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }

    .IRLookupModule #lookup-button {
        width: 100%;
    }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical {
        margin-top: 20px;
        display: inline-block;
    }

        .IRCalcModule .vertical th {
            line-height: 34px;
            height: 34px;
            width: 50%;
            border: none;
            /* background: transparent; */
            /* color: inherit; */
            text-align: left;
            text-indent: 10px;
            border-bottom: 1px solid #000;
        }

        .IRCalcModule .vertical td {
            font-weight: normal;
            text-align: right;
            border-right: 0;
            border-left: 0;
            width: 50%;
            line-height: 34px;
            height: 34px;
        }

        .IRCalcModule .vertical tr {
            background: #fff;
            border-top: 1px solid #e1e5e8;
            border-bottom: 1px solid #e1e5e8;
        }

            .IRCalcModule .vertical tr:nth-child(2n) {
            }

    .divideLine.horizontal {
        display: none;
    }

    .IRTradesModule .formatArrowPos, .IRTradesModule .formatArrowNeg {
        display: inline-block;
    }

    .IRCalcModule .calculateButton, .IRCalcModule #calculate-button {
        margin-top: 5px;
        width: 100%;
    }

    .input-wrapper.lookupButton {
        width: 100%;
    }

    .IRQuoteHorizontalModule h3 {
        padding-left: 10px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 100%;
        text-align: center;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div {
            float: none;
            display: inline-block;
        }
}

@media (max-width: 500px) {
    .chartChangePeriod {
        width: 400px;
    }

    .IRTradesModule th.change, .IRTradesModule td.change {
        display: none;
    }

    .IRTradesModule .updated img {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        margin-right: 2%;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}

@media (max-width: 700px) {
    .IRElement11 {
        display: none;
    }
}

@media (max-width: 600px) {
    .IRElement10 {
        display: none;
    }

    .IRCalcModule .buttonWrapper, .IRLookupModule .buttonWrapper {
        width: 100%;
    }
}

/* End ======================================================================== */




/* Media queries from ir.style.css =================== */


@media (max-width: 690px) {
    .horizontal.customResponsive .IRElement7 {
        display: none;
    }

    .horizontal.customResponsive .IRElement6 {
        border-top-right-radius: 10px;
    }
}

@media (max-width: 600px) {

    .horizontal.customResponsive .IRElement6 {
        display: none;
    }

    .horizontal.customResponsive .IRElement5 {
        display: none;
    }

    .horizontal.customResponsive .IRElement4 {
        border-top-right-radius: 10px;
    }
}

@media (max-width: 500px) {
    .horizontal.customResponsive .IRElement4 {
        display: none;
    }

    .horizontal.customResponsive .IRElement3 {
        border-top-right-radius: 10px;
    }
}

@media (max-width: 400px) {
    .horizontal.customResponsive .IRElement3 {
        display: none;
    }

    .horizontal.customResponsive .IRElement2 {
        border-top-right-radius: 10px;
    }
}


@media (max-width: 300px) {
    .horizontal.customResponsive .IRElement2 {
        display: none;
    }
}
