
body {
    color: #333;
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;
}

#lookup-table-form div label {
    font-weight: 500;
}

    input[type=text] {
        
        border: 0;
        border-radius: 0;
        background-color: #f6f6f5;
        text-align: center;
    }

.js-from, .js-to {
    background-image: url('images/calendar.png');
    background-repeat: no-repeat;
    background-position: 140px 12px;
    width: 170px;
    cursor: pointer;
    margin-right: 20px;
}

#lookup-table-form{
    float: left;
    margin-bottom: 10px;
}

#lookup-table-form div {
    float: left;
    margin-right: 10px;
}
#lookup-table-form div label {
    margin-right: 10px;
    font-weight: bold;
}
#lookup-table-form div input {
    width: 80px;
}

#lookup-table-form .submit {
    width: 100px;
    height: 25px;
    outline: none;
    float: left;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to bottom, #57B5D3 0%, #207D9B 100%);
    color: #fff;
    border-radius: 3px;
}

#lookup-table-form .submit:hover{
    background: linear-gradient(to bottom, #57B5D3 0%, #207D9B 100%);
    color: #fff;
    text-decoration: underline;
}

.table-look th, .table-look td {
    padding: 5px 3px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.table-look td {

}

.table-look th {
    font-weight: bold;
}

.ui-widget {
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 10px #a8a9a3;
}

.ui-widget-header {
    background: none;
    color: #333;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #c2c2c2;
}


.ui-datepicker-calendar thead tr th {
    font-weight: bold;
    color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #c2c2c2;
    border: 0;
    background: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
}

.ui-datepicker .ui-datepicker-next {
    border: 0px solid transparent;
}

    .ui-datepicker .ui-datepicker-next span {
        background: url(images/arrow-right.png) center center no-repeat;
    }

    .ui-datepicker .ui-datepicker-next.ui-state-hover {
        top: 2px;
        right: 2px;
        border: 0;
        background: none;
    }

.ui-datepicker .ui-datepicker-prev.ui-state-hover {
    top: 2px;
    left: 2px;
    border: 0;
    background: none;
}

.ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover.ui-state-hover span {
    background: url(images/arrow-right-hover.png) center center no-repeat;
}

.ui-datepicker .ui-datepicker-prev span {
    background: url(images/arrow-left.png) center center no-repeat;
}

.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover.ui-state-hover span {
    background: url(images/arrow-left-hover.png) center center no-repeat;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover {
    color: #333;
    background: #deded8;
}

.ui-state-default.ui-state-active {
    color: #ffffff;
    background: #207D9B;
}

.ui-state-default:active, .ui-widget-content .ui-state-default:active {
    color: #ffffff;
    background: #207D9B;
}


@media only screen and (max-width: 670px) {
    #lookup-table-form .submit, #lookup-table-form .lookupSubmitButtonWrapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    #lookup-table-form div::after {
        content: none;
    }

    input, button, label {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    input[type=text] {
        text-align: left;
    }

    .lookup-table {
        margin-top: 20px;
    }

    .lookup-table.table-only {
        margin-top: 0;
    }
}

@media only screen and (max-width: 571px) {
    input, button {
        width: 100%;
    }

    .js-from, .js-to {
        background-image: none;
    }
}
