<html>
	<body>
		<h1>Low-End Offering</h1>
		<p>This template include our standard solution setup for low-end clients.</p>
		<p>The template is not meant to be modified except [to be defined] and is basically used to get the deal with the client.</p>
		<p>If the client later desire changes beyond those included in the low-end offering, they need to upgrade. </p>
		<p>To ensure client satisfaction, it is essential to communicate clearly what the limitations are for the low-end offering, so they are never surprised about the need to upgrade. </p>
	</body>
</html>