body {
    font-family: Arial, Helvetica, sans-serif;
}

.table-look-horizontal {
    border: 1px solid #0284AA;
}

    .table-look-horizontal th, .table-look-horizontal td {
        border: 1px solid #0284AA;
    }

    .table-look-horizontal th {
        background-color: #0284AA;
        color: #ffffff;
    }


.detailed-share-price {
    width: 100%;
}

    .detailed-share-price th, .detailed-share-price td {
        font-size: 11px;
        padding: 5px 10px;
        letter-spacing: -0.5px;
    }

    .detailed-share-price tr:nth-child(2n) td {
        background: #f4f4f4;
    }

    .detailed-share-price tr:nth-child(2) td {
        background: #dbdbdb;
        color: #000;
    }

.debugStatus {
    clear: both;
}

.IRChartHTMLMiniPlaceholder {
    height: 400px;
}


.IRMiniQuote {
    font-family: Arial, Helvetica, sans-serif;
    color: #083B32;
    font-size: 21px;
    line-height: 24px;
}

.MQLast {
    line-height: 53px;
    font-size: 53px;
    color: #083B82;
}

.MQChange {
    color: #DF7662;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 24px;
}

.MQTimeStamp {
    line-height: 24px;
    font-size: 21px;
}

.MQDivider {
    margin-bottom: 15px;
}