@font-face {
    font-family: 'AvenirMedium';
    src: url('fonts/Avenir-Medium.woff2') format('woff2'); /* Pretty Modern Browsers */
}
body {
    overflow: hidden;

}

#lookup-table-form div label {
    font-weight: 500;
    font-size: 14px;
}

input, button {
    height: 30px !important;
    width: 140px;
}

input, button, label {
    margin-top: 20px;
    margin-bottom: 20px;
}

    input[type=text] {
        border-width: 0px 0px 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(157, 157, 156);
        font-family: "AvenirMedium", Arial, sans-serif;
        border-radius: 0;
        background-color: transparent;
        font-size: 14px;
        color: rgb(124, 124, 123);
        font-weight: 500;
        text-align: center;
    }

#datepicker-from, #datepicker-to {
    margin-left: -20px;
}

.js-from, .js-to {
    background-image: url('images/l_calendar.png');
    background-repeat: no-repeat;
    background-position: 140px 6px;
    width: 165px;
    cursor: pointer;
    margin-right: 40px;
}

#lookup-table-form .submit {
    margin-top: 19px;
    margin-bottom: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    height: 43px;
}
/*
#lookup-table-form div::after{
  content: "";
  background: url("images/l_calendar.png") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin-top: 32px;
  margin-left: 10px;
}*/

#lookup-table-form .submit {
    font-weight: normal;
    cursor: pointer;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 4px 30px;
    height: auto;
    line-height: normal;
    width: 195px;
    color: #fff;
    border: 1px solid #006b8c;
    background-color: #006b8c;
}

    #lookup-table-form .submit:hover {
        color: #006b8c;
        background: #fff;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        box-shadow: none;
    }



#lookup-table-form div.excelButtonWrapper {
    text-align: right;
    float: right;
}

#lookup-table-form div.downloadHistoricalData {
    float: right;
    font-weight: normal;
    cursor: pointer;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 4px 30px;
    height: auto;
    line-height: normal;
    width: 100px;
    text-align: center;
    color: #006b8c;
    margin-bottom: 10px;
    border: 1px solid #006b8c;
    background-color: transparent;
}

    #lookup-table-form div.downloadHistoricalData:hover {
        color: #fff;
        background: #006b8c;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        box-shadow: none;
    }

#lookup-table-form .submit:hover {
    opacity: 1;
}

a:-webkit-any-link {
    color: #7c7c7b;
}

#excel {
    font-family: "AvenirMedium", Arial, sans-serif;
    position: absolute;
    right: 0px;
    top: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #7c7c7b;
}

    #excel:before {
        position: relative;
        content: "";
        background: url("images/dl_arrow.png") no-repeat;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-right: 5px;
        top: 10px;
    }

.table-look th, .table-look td, label {
    border-width: 0px 0px 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(157, 157, 156);
    padding-bottom: 7px;
}

.table-look th, .table-look td {
    padding: 0;
}

.table-look th {
    height: 30px;
    line-height: 30px;
}

.table-look td {
    line-height: 30px;
    height: auto;
}

.table-look th {
    font-size: 14px;
    border-top: 1px solid #a8a9a3;
    border-bottom: 1px solid #a8a9a3;
    margin-bottom: 10px;
}

.ui-widget {
    font-family: "AvenirMedium", Arial, sans-serif;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 10px #a8a9a3;
}

.ui-widget-header {
    background: none;
    color: #7c7c7b;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #c2c2c2;
    font-size: 17px;
    font-weight: 400;
}


.ui-datepicker-calendar thead tr th {
    font-weight: 500;
    color: #7c7c7b;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #c2c2c2;
    border: 0;
    background: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
}

.ui-datepicker .ui-datepicker-next {
    border: 0px solid transparent;
}

    .ui-datepicker .ui-datepicker-next span {
        background: url(images/arrow-right.png) center center no-repeat;
    }

    .ui-datepicker .ui-datepicker-next.ui-state-hover {
        top: 2px;
        right: 2px;
        border: 0;
        background: none;
    }

.ui-datepicker .ui-datepicker-prev.ui-state-hover {
    top: 2px;
    left: 2px;
    border: 0;
    background: none;
}

.ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover.ui-state-hover span {
    background: url(images/arrow-right-hover.png) center center no-repeat;
}

.ui-datepicker .ui-datepicker-prev span {
    background: url(images/arrow-left.png) center center no-repeat;
}

.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover.ui-state-hover span {
    background: url(images/arrow-left-hover.png) center center no-repeat;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover {
    color: #7c7c7b;
    background: #deded8;
}

.ui-state-default.ui-state-active {
    color: #ffffff;
    background: #2bc4b6;
}

.ui-state-default:active, .ui-widget-content .ui-state-default:active {
    color: #ffffff;
    background: #2bc4b6;
}

.table-look2 td.Data.change.formatColourPos, .table-look2 td.Data.change.formatColourDef {
    color: #2bc4b6;
}

.table-look2 td.Data.change.formatColourNeg {
    color: #e34a27;
}

.table-look2 .formatColourPos {
    color: #2bc4b6;
}

.table-look2 .formatColourNeg {
    color: #e34a27;
}



.fromDivWrapper {
    float: left;
}

@media only screen and (max-width: 740px) {
    #lookup-table-form div.excelButtonWrapper {
        width: 100%;
        float: left;
    }

    #lookup-table-form div.downloadHistoricalData {
        margin-top: 0;
    }
}



@media only screen and (max-width: 670px) {

}

@media only screen and (max-width: 600px) {
    #lookup-table-form div::after {
        content: none;
    }

    /*input, button, label {
        margin-top: 5px;
        margin-bottom: 0px;
    }*/

    #excel {
        display: none;
    }

    /*input[type=text] {
        text-align: left;
    }*/

    .lookup-table {
        margin-top: 10px;
    }

        .lookup-table.table-only {
            margin-top: 0;
        }
}

@media only screen and (max-width: 571px) {
        #lookup-table-form .submit, #lookup-table-form .lookupSubmitButtonWrapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    input, button {
        width: 100%;
    }

    /*.js-from, .js-to {
        background-image: none;
    }*/

    #lookup-table-form div.downloadHistoricalData, #lookup-table-form div.excelButtonWrapper {
        margin-bottom: 0;
    }

    #lookup-table-form .submit {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 571px) {
    .fromDivWrapper {
        float: none;
        margin-top: 20px;
    }

    .js-from, .js-to {
        background-image: url(images/l_calendar.png);
        background-repeat: no-repeat;
        background-position: 95% 6px;
        width: 100%;
        cursor: pointer;
        margin-right: 40px;
    }

    #datepicker-from, #datepicker-to {
        margin-left: 0px;
        margin-top: -22px;
        z-index: 1000;
    }

    input, button, label {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
