@font-face {
    font-family: "ProximaNova";
    src: url("fonts/ProximaNova-Regular.ttf") format('truetype'), url("fonts/ProximaNova-Regular.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("fonts/ProximaNova-Bold.ttf") format('truetype'), url("fonts/ProximaNova-Bold.woff") format('woff');
    font-weight: bold;
}

body {
    padding: 0;
    /*overflow: hidden;*/
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.table-look {
    border: 0;
}





/* IRNewsModule ============================================================ */

.IRNewsModule {
    font-size: 14px;
    background: transparent;
}

    .IRNewsModule .filter-wrapper {
        width: 100%;
        float: left;
    }

.news-filter-wrapper {
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
    padding: 0.91em;
}

.IRNewsModule h2 {
    font-size: 36px;
    color: #161f39;
    line-height: 36px;
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}



.IRNewsModule .placeholder {
    color: #aaa;
}

.IRNewsModule input:focus, .IRNewsModule textarea:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #c6007e;
}

.news-filter-wrapper {
    padding: 10px;
    margin-bottom: 30px;
    /*overflow: hidden;*/
    width: 100%;
}

.IRNewsModule .search-for-box {
    width: 370px;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/

.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/selectDown.png);
    border: 1px solid #e1e1e1;
    width: 183px;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

    .IRNewsModule .news-filter-wrapper select:focus, .IRNewsModule .news-filter-wrapper #from-month:focus, .IRNewsModule .news-filter-wrapper #to-month:focus, .IRNewsModule .news-filter-wrapper #from-year:focus, .IRNewsModule .news-filter-wrapper #to-year:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #c6007e;
    }

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    width: 183px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 370px;
    float: left;
    margin-left: 30px;
}

    .IRNewsModule .news-filter-wrapper .filterRow ul li {
        float: left;
    }

        .IRNewsModule .news-filter-wrapper .filterRow ul li input[type="radio"] {
            position: absolute;
            left: -999999px;
        }

        .IRNewsModule .news-filter-wrapper .filterRow ul li .radio {
            padding-left: 25px;
            background: url(images/radio.png) left center no-repeat;
            font-size: 16px;
            cursor: pointer;
            margin-right: 20px;
        }

            .IRNewsModule .news-filter-wrapper .filterRow ul li .radio.active {
            }

        .IRNewsModule .news-filter-wrapper .filterRow ul li input[type="radio"]:checked + label {
            background: url(images/radio-active.png) left center no-repeat;
        }

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    height: 40px;
    min-width: 370px;
    font-size: 14px;
    color: #777777;
}

    .IRNewsModule .news-filter-wrapper .searchText::-webkit-input-placeholder {
        color: #777;
    }

.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    width: 100%;
}

.IRNewsModule .search-for-box input {
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #777777;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #select-filter {
    min-width: 200px;
    height: 40px;
    line-height: 40px;
    color: #777777;
    font-size: 14px;
    border: 1px solid #ccc;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    margin-right: 5px;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 0 5px;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #777777;
    float: right;
}

.IRNewsModule .news-filter-wrapper #select-filter {
    width: 100%;
}

.IRNewsModule .datepicker {
    float: left;
}

.bottom-controls {
    width: 100%;
    float: left;
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 370px;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-per-page {
    float: left;
    margin-top: 30px;
    width: 370px;
    margin-right: 30px;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
    margin-left: 30px;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .IRNewsTool .IRDataGroup div {
        border-bottom: 0;
    }

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .submitButton {
    margin-top: 40px;
    float: left;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url('../images/calendar.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    /*margin-right: 63px;*/
}

.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/select.png);
}

/* NewsContent ======================================================== */

/*.IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    display: none;
}*/

.IRNewsModule .NewsDataGroupWrapper {
    border-bottom: 1px solid #3684c3;
    float: left;
    width: 100%;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    width: 59%;
    font-size: 16px;
    font-weight: 400;
    color: #585852;
}

.IRNewsTool .IRDataGroup div {
}

.IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    font-weight: 300;
    font-size: 14px;
    width: 18%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    font-size: 18px;
    font-weight: 700;
    width: 21%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate {
   font-size: 24px;
    color: #333;
    line-height: 21px;
    padding-bottom: 20px;
    border-bottom: 2px solid #019ada;
    width: 100%;
    float: left;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    text-transform: uppercase;
}

div.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader.IRTitle, .IRNewsModule .IRNewsTool .IRHeader.file-type {
    display: none;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDate, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    color: #666;
    height: 57px;
    padding: 10px;
    line-height: 38px;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    font-weight: 400;
    color: #019ada;
    font-style: normal;
    font-size: 16px;
}

/*div.IRNewsTool .IRDataGroup:nth-child(2n), div.IRNewsTool .IRHeaderGroup:nth-child(2n) {
    background: #f5f5f5;
}*/

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    width: 20%;
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    width: 100px;
    padding: 0;
    text-align: center;
    margin-top: 0;
    font-size: 18px;
}

    .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    }

.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 16px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .IRDate {
    width: 23%;
    color: #666666;
}

.IRNewsModule .IRNewsTool .IRData.file-type {
    width: 24%;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool .IRData.IRTitle {
}

.IRNewsModule .IRNewsTool .IRHeader.IRTitle, .IRNewsModule .IRNewsTool IRData.IRTitle {
    width: 55%;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRHeader.file-type {
    width: 28%;
}

.IRNewsModule .tab-container ul li.li-tab {
    width: 32%;
    float: left;
    margin-right: 2%;
}

    .IRNewsModule .tab-container ul li.li-tab select {
        width: 100%;
        background: #eeeeeb;
        border: 0;
        height: 50px;
        line-height: 50px;
        background-image: url(images/select.png);
        background-repeat: no-repeat;
        background-position: 93% 50%;
        font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
        -webkit-appearance: none;
    }

    .IRNewsModule .tab-container ul li.li-tab.tab-3 {
        margin-right: 0;
    }

/*.IRNewsModule .search-filter-wrapper, .IRNewsModule .datepicker, .IRNewsModule .submitButton {
    display: none;
}*/
.search-filter-wrapper, .select-filter, .textArea, .datepicker .search-from, #to-month, .submitButton {
    display: none;
}


.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

.IRNewsTool .IRDataGroup div {
    color: #585852;
    font-size: 16px;
    font-weight: 400;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /*background: url(images/pdficon.png) no-repeat left center;*/
    width: 20px;
}

    /* JR: removed width: initial;*/

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('images/pdficon.png');
        float: left;
        margin-top: 0px;
        height: 30px;
        width: 20px;
        /* JR: changed from 10 to 13 */
        background-repeat: no-repeat;
        background-position: left center;
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        text-indent: 5000px;
        overflow: hidden;
    }

.IRNewsModule .select_inner .close_box {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #019ada;
    /* position: fixed; */
    margin-left: 33%;
    margin-top: -15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.select_wrapper .ul.hasAttachments .li {
    background: #fff url('images/pdficon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
    /* padding: 0 0 0 35px; */
    overflow: hidden;
    /* width: 100%; */
    height: 40px;
    line-height: 40px;
    text-indent: 35px;
    overflow: hidden;
    width: 97%;
}

.select_wrapper .select_inner {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #687278;
    display: none;
    position: absolute;
    /* left: 0; */
    width: 150%;
    top: -50%;
    left: -100%;
    z-index: 3;
    overflow: visible;
}

.IRNewsTool .IRDataGroup div .select_inner .headerAttachment {
    font-weight: bold;
    padding-left: 3%;
    height: 50px;
    line-height: 50px;
    background-color: #f0f0f0;
    width: 97%;
}

.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
}

    .IRNewsPagination .IRNewsPaginationPageNew.active {
        font-weight: 700;
        color: #666666;
    }

    .IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('images/prev.png');
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('images/next.png');
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
    }

.IRNewsTableFooter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.IRNewsPaginationPageNew {
    width: 42px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #019ada;
}
.IRNewsPaginationPageNew:hover {
    color: #2a6596;
}

.IRNewsTableFooter .IRNewsPagination {
    font-size: 14px;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
    margin-top: 15px;
}

.IRNewsPagination .IRNewsPageNumber {
    font-size: 16px;
    font-weight: normal;
    color: #2bc4b6;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #585852;
        background-color: #deded8;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .IRNewsTool .IRData.IRDataHover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}


.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}











/*.datepicker {
    display: block !important;
}*/
/*#to-month, #from-month, #from-year {
    display: none !important;
}*/

.IRNewsModule .news-filter-wrapper .newsSubmit {
    color: #000;
    border: 2px solid #000;
    margin-left: 46%;
    width: 142px;
    background: initial;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
}

    .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        color: #fff;
        background: #000;
    }

.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
}

.IRNewsModule .IRNewsTool .IRDate {
    width: 23%;
    color: #666666;
}

.IRNewsModule .IRNewsTool .IRData.file-type {
    width: 24%;
    font-weight: bold;
}




.IRNewsModule .IRNewsTool .IRHeader.IRTitle, .IRNewsModule .IRNewsTool IRData.IRTitle {
    width: 55%;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRHeader.file-type {
    width: 24%;
}

.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /*width: initial;*/
    width: 100%;
}
/* JR: removed width: initial;*/
/*div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('images/pdficon.png');
        float: left;
        margin-top: 0px;
        height: 47px;
        width: 20px; /* JR: changed from 10 to 13 */
/*background-repeat: no-repeat;
        background-position: left center;
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        text-indent: 5000px;
    }*/

.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
}

.IRNewsTableFooter .IRNewsPagination {
    padding-right: 25px;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
}

.IRNewsPagination .IRNewsPageNumber {
    font-weight: normal;
    color: #50c9ba;
    /*display: inline-block;*/
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-top: 20px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #000;
        background: #deded8;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .IRNewsTool .IRData.IRDataHover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

div.IRNewsTool .IRHeaderGroup div, .IRNewsTool .IRDataGroup div {
}

    .IRNewsTool .IRDataGroup div .select_inner .headerAttachment {
        font-weight: bold;
        padding-left: 3%;
        height: 50px;
        line-height: 50px;
        background-color: #f0f0f0;
        width: 100%;
        color: #818180;
        font-weight: normal;
    }

.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
}

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

.newsAttachments option:first-child {
    border-radius: 5px 5px 0 0;
}

.newsAttachments option {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
}
/* ============================================================================ */
/* Select Reminder ============================================================ */
.select_wrapper {
    /*background: url("images/pdficon.png") no-repeat;*/
    background-position: left center;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    float: left;
    width: 100%;
    color: #0083A9;
    display: block;
    height: 30px;
}

    .select_wrapper:hover {
        background-position: left center;
    }

    .select_wrapper span {
        display: block;
        margin: 0 30px 0 0px;
        /*text-indent: 30px;*/
        text-indent: 100%;
        overflow: hidden;
    }


    .select_wrapper .select_inner {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        color: #687278;
        display: none;
        position: absolute;
        /* left: 0; */
        width: 225%;
        top: -50%;
        left: -125%;
        z-index: 3;
        overflow: visible;
    }

        .select_wrapper .select_inner li {
            border-bottom: 1px solid #eee;
            padding: 0 15px;
            overflow: hidden;
        }

            .select_wrapper .select_inner li:hover {
                background: #eee;
            }

            .select_wrapper .select_inner li:last-child {
                border: none;
                border-radius: 0 0 5px 5px;
            }

/*.select_wrapper .select_inner li:first-child {
                border-radius: 5px 5px 0 0;
            }*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF, .headerAttachment {
    display: none;
}





/* End ======================================================================== */

/* @media only screen =========================================================*/
@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input {
        min-width: 175px;
    }
}

@media only screen and (max-width: 700px) {

    .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        width: 50%;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 50%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
        min-width: 70px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 55%;
    }

    .IRNewsModule .newsSubmit {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 600px) {

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    /* width: 97%; */
    margin-left: 0;
    margin-right: 0;
    /*padding-left: 3%;*/
    padding-right: 0;
}

    .IRNewsTool {
        border-top: 0;
    }

    .IRNewsModule .IRNewsTool .IRData {
        height: 100px;
        line-height: 100px;
        padding-left: 10px;
    }



    .IRNewsModule .news-filter-box .checkbox {
        width: 70%;
        min-width: 80% !important;
        margin-top: 5px;
        background-size: initial !important;
        background-position-y: 0 !important;
    }

    .IRNewsModule .datepicker .textArea.from-label, .IRNewsModule .datepicker .textArea.to-label, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
        height: 30px;
        line-height: 30px;
    }

    .IRNewsModule .filterRow .textArea {
        min-width: 0;
        padding-right: 20px;
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .entriesPerPage {
        width: 100%;
        float: left;
    }

    .IRNewsModule .news-filter-wrapper .search-to, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-for-box {
        width: 100% !important;
    }

    .IRNewsModule .search-for-box .textArea {
        display: none;
    }

    .IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 70%;
        float: left;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 28%;
        float: right;
        min-width: 60px;
    }
    .IRNewsModule .select-date #to-year{width: 100%;}
    .IRNewsModule .newsSubmit {
        margin-right: 0px;
    }

    .IRNewsModule .search-for-box input {
        width: 100%;
        height: 32px;
        line-height: 32px;
        border: 1px solid #bdbdbd;
        padding-left: 0;
        text-indent: 5px;
    }

    .IRNewsModule .IRNewsTool .time {
        display: none;
    }

    .IRNewsModule .IRNewsTool .IRHeader.IRTitle {
        width: 75%;
        font-weight: bold;
    }

    .IRNewsModule .IRNewsTool IRData.IRTitle {
        width: 100%;
        border-bottom: 0;
        height: 40px;
        line-height: 40px;
    }

    .IRNewsModule .IRNewsTool .IRData.file-type {
        width: 100%;
        padding-left: 0px;
        height: 40px;
        line-height: 40px;
    }


    .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRHeader.IRDate, .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRData.IRDate {
        width: 100%;
        border-bottom: 0;
        height: 20px;
        line-height: 20px;
    }

    .IRNewsTool .iconPDF {
        margin-top: 11px;
    }

    /*.IRNewsModule {
        padding: 10px;
    }*/

    .news-filter-wrapper {
        border-bottom: 2px solid #cacaca;
        margin-bottom: 20px;
        padding: 0;
    }

    .IRNewsModule .newsSubmit {
        margin-top: 0px;
    }

    .IRNewsModule .submitButton {
        margin-bottom: 20px;
    }

    .IRNewsModule .IRNewsTool .IRHeader {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .IRNewsTableFooter .IRNewsPagination {
        max-width: initial;
        text-align: center;
        background: transparent;
        border-top: 0;
    }

    div.IRNewsTool .IRDataGroup div.IRData {
        padding-left: 3%;
    }

    .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsTool .IRDataGroup div {
        height: 25px;
        line-height: 25px;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRTitle, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 0;
    }

    /*div.IRNewsTool .IRDataGroup div.IRData.IRTitle, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        text-indent: 3%;
    }*/

    .select_wrapper .select_inner {
        left: -3%;
        width: 103%;
    }

        .select_wrapper .select_inner li, .IRNewsTool .IRDataGroup div .select_inner .headerAttachment {
            height: 40px;
            line-height: 40px;
        }


    div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        /*padding-left: 3%;*/
        padding-right: 0;
    }

    .newsAttachments .select_wrapper div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        margin-top: 0;
        margin-left: 0px;
        height: 25px;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
        top: 0;
    }

    /* JR Removed width: initial;*/
    /*div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
            background-image: url('images/pdficon.png');
            top: 0px;
            height: 25px;
        }*/

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        top: 0;
        width: 20px;
    }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
        width: 20px;
    }
}

@media only screen and (min-width: 572px) {

    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .IRNewsTool {
        border: 0;
    }

    input[type=submit] {
        height: 40px;
        line-height: 40px;
    }

    .IRDetailedSharePrice.table-look th {
        height: 60px;
        line-height: 60px;
        padding-left: 10px;
        background: #e5e5e5;
        font-weight: bold;
    }

    .IRDetailedSharePrice.vertical td {
        height: 60px;
        line-height: 60px;
        padding-left: 10px;
        font-weight: normal;
    }

    .IRDetailedSharePrice.table-look th {
        width: 45%;
    }

    .IRDetailedSharePrice.horizontal {
        display: none !important;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }

    .IRCalcModule #calculate-button {
        margin-top: 5px;
        width: 182px;
    }

    .IRLookupModule #lookup-button {
        width: 182px;
    }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical th {
        line-height: 60px;
        height: 60px;
        font-weight: bold;
    }

    .IRCalcModule .vertical td {
        font-weight: normal;
    }

    .divideLine.horizontal {
        display: none;
    }

    .IRTradesModule .formatArrowPos, .IRTradesModule .formatArrowNeg {
        display: inline-block;
    }
}

@media only screen and (max-width: 500px) {
    .chartChangePeriod {
        width: initial;
    }

    .IRTradesModule th.change, .IRTradesModule td.change {
        display: none;
    }

    .IRTradesModule .updated img {
        display: none;
    }

    .select_wrapper .select_inner {
        left: -3%;
        width: 103%;
    }
}

@media only screen and (max-width: 480px) {
    /*div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        text-indent: 3%;
    }*/
}

@media only screen and (max-width: 400px) {
    .IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage {
        display: none;
    }
}
/* End ======================================================================== */
