
@font-face {
  font-family: 'OpenSansHebrew';
  src: url('OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),  url('OpenSansHebrew-Regular.woff') format('woff'), url('OpenSansHebrew-Regular.ttf')  format('truetype'), url('OpenSansHebrew-Regular.svg#OpenSansHebrew-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url('OpenSansHebrew-Bold.eot?#iefix') format('embedded-opentype'),  url('OpenSansHebrew-Bold.woff') format('woff'), url('OpenSansHebrew-Bold.ttf')  format('truetype'), url('OpenSansHebrew-Bold.svg#OpenSansHebrew-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
