body {
    font-family: 'verdana', sans-serif;
    font-size: 14px;
    color: #666;
    background-color: transparent;
    overflow: hidden;
    float: left;
    width: 100%;
    /*height: 780px;*/
}

.tabs-container {
}

li.tabitem {
    float: left;
    list-style-type: none;
    height: 40px;
    line-height: 40px;
}
/*div#tab-1, div#tab-2 {
    margin-top: 10px;
}*/
a.link-target {
    color: #666;
}
a.link-target.current{
    color: #ED2F23;
    font-size: 20px;
}
th.miniquoteHeader {
    width: 100px;
}

.IRChartNavigation {
    /*display: none;*/
    position: relative;
    z-index: 1000;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #FFF;
    border: 1px solid #FFF;
    border-bottom: 1px solid #fff;
}

    .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR {
        position: relative;
        /*background-color: #E7E7E9;*/
    }

.table-look {
    border: 1px solid #fff;
}

    .table-look th, .table-look td {
        border: none;
        padding: 5px;
        line-height: 26px;
    }

    .table-look .column-first {
        padding-left: 5px;
    }

    .table-look .column-last {
        padding-right: 5px;
    }

    .table-look th {
        background-color: #656565;
        border: 0;
        color: #FFF;
        /*border-bottom: 1px dotted #929296;*/
    }

    .table-look td {
    	border-bottom: 1px solid #656565;
    }

.IRChartColour {
    color: #E30008;
}

rect {
    fill: transparent;
    stroke: #eee;
}

.updatedWrapper {
    text-align: right;
    margin-top: 5px;
}

.IRChartHTMLPlaceholder {
}

*.formatColourPos {
    color: green;
}
select {
    border: 2px solid #ed1c24;
    height: 35px;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 65px;
    background-image: url(images/arrowdown2.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    padding-left: 5px;
    border-radius: 0px;
    background-color: #fff;
}
.input-row {
    position: relative;
    height: 45px;
    line-height: 40px;
}
input[type=submit] {
    box-shadow: none;
    color: inherit;
    background: #ed1c24;
    line-height: 20px;
    padding: 11px 25px;
    height: auto;
    border: 0;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
    input[type=submit]:hover {
        box-shadow: none;
        color: #fff;
    }
    
    label {
    font-weight: bold;
    color: #3e3d40;
    display: block;
    width: 130px;
    margin-bottom: 10px;
}

#frequency, #format, #lookup-button {
    width: 125px;
}

.formatArrowPos {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
}

.IRMiniQuoteQuoteModule .formatArrowPos, .IRMiniQuoteQuoteModule .formatArrowNeg {
    height: 25px;
}

.IRMiniQuoteQuoteModule.table-look th {
    color: inherit;
}
/*.IRMiniQuoteQuoteModule .formatArrowPos {
    background-image: url(images/arrowup.png);
    width: 20px;
    height: 25px;
    background-repeat: no-repeat;
}
.IRMiniQuoteQuoteModule .formatArrowNeg {
    background-image: url(images/arrowdown.png);
    width: 20px;
    height: 25px;
    background-repeat: no-repeat;
}*/

.IRChartPlaceholderArea .IRChartChangePeriod div {
    border-radius: 3px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        background-color: #9B9B9E;
        color: #fff;
        border-radius: 3px;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
            background-color: #9B9B9E;
            -webkit-transition: background-position 0.1s linear;
            -moz-transition: background-position 0.1s linear;
            -o-transition: background-position 0.1s linear;
            transition: background-position 0.1s linear;
        }



/*.IRChartModule, .IRChartPlaceholderArea, .IRChartHTMLPlaceholder {
    height: 321px;
}

    .IRChartPlaceholderArea .IRChartPlaceholder {
        height: 321px;    
    }*/


/*
    Chart Mini    
*/
.IRChartHTMLMiniPlaceholder {
    height: 150px;
}

/*
    IRChart    
*/
.IRChartPlaceholderArea .IRChartPlaceholder {
    height: 500px;
}

.IRChartPlaceholderArea {
    height: 500px;
}

/*
    IRChart DOM    
*/
.IRChartHTMLPlaceholder {
    height: 432px;
}


.IRChartScrollOnYAxis {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 440px;
    /*background-color: rgba(255,255,0,0.5);*/
}

.chartLinkWrapper {
    margin-top: 10px;
}

    .chartLinkWrapper a {
        text-decoration: none;
    }

.statusTable th, .statusTable td {
    text-align: left;
    padding: 4px;
    border: 1px solid #aaa;
}


.IRMiniquoteChartModule .IRMiniquoteChartPlaceholderArea .IRMiniquoteChartPlaceholder {
    height: 150px;
}

.IRMiniquoteModule.sharepriceWrapper {
    background-color: transparent;
}

.IRMiniQuoteQuoteModule.table-look {
    border: none;
    background-color: transparent;
}

    .IRMiniQuoteQuoteModule.table-look th {
        background-color: transparent;
        text-align: left;
    }

    .IRMiniQuoteQuoteModule.table-look td {
        text-align: left;
    }
    /*.IRMiniQuoteQuoteModule.formatArrowPos {
        height: 20px;
    }*/
    .IRMiniQuoteQuoteModule.table-look .Data.last {
        font-size: 35px;
        padding-bottom: 10px;
    }

.IRMiniquoteModuleWrapper .data-delayed {
    margin-top: 10px;
    font-size: 11px;
}

.lookup-iframe {
    width: 100%; 
    height: 700px; 
    border: none;
}

.lookup li.tabitem {
    float: none;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
}
.lookup li.tabitem a {
    text-decoration: none;
    color: #a7a7a7;
}

.exchange-span {
    width: 10px;
    height: 10px;
    background: #a7a7a7;
    display: inline-block;
    margin-right: 5px;
}

.lookup ul {
    padding-left: 30px;
}

.current {
    color: #ed1c24 !important;
}

.current-span {
    background: #ed1c24;
}
:focus {
    outline: none;
}

.lookup-table {
    width: 100%;
    height: 520px;
    border-bottom: 2px solid #777;
}

.to {
    display: inline-block;
}

.from {
    display: inline-block;
    margin-right: 100px;
}

.submit {
    box-shadow: none;
    background: #ed1c24;
    line-height: 40px;
    height: 40px;
    border: 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 125px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.disclaimer.disclaimer-IRLookup {
    margin-top: 20px;
    font-size: 9px;
}
/*
    Responsive begin
*/
/*
    IRQuoteModule    
*/
@media (max-width: 950px) {

    .horizontal.responsive .IRElement9 {
        display: none;
    }
}

@media (max-width: 900px) {

    .horizontal.responsive .IRElement8 {
        display: none;
    }
}

@media (max-width: 810px) {
    th.miniquoteHeader {
    width: 50%;

}
    .quoteWrapper {
        width: 100% !important;
    }

    .IRMiniquoteChartModule .table-wrapper {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .IRMiniquoteChartModule .miniquoteData {
        text-align: right;
    }
}

@media (max-width: 800px) {

    .horizontal.responsive .IRElement7 {
        display: none;
    }
}

@media (max-width: 700px) {

    .horizontal.responsive .IRElement6 {
        display: none;
    }
}

@media (max-width: 600px) {

    .horizontal.responsive .IRElement5 {
        display: none;
    }

    .horizontal.responsive .IRElement4 {
        text-align: right;
        padding-right: 5px;
    }
}

@media (max-width: 520px) {
     .to {
        display: block;
        margin-top: 20px;
    }
    .lookup-table {
        height: 440px;
    }
}

@media (max-width: 500px) {

    .horizontal.responsive .IRElement4 {
        display: none;
    }

    .horizontal.responsive .IRElement3 {
        text-align: right;
        padding-right: 5px;
    }
}

@media (max-width: 400px) {

    .horizontal.responsive .IRElement3 {
        display: none;
    }

    .horizontal.responsive .IRElement2 {
        text-align: right;
        padding-right: 5px;
    }
    label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .from, .to {
        width: 100%;
        text-align: center;
    }
    .submit {
        width: 100%;
    }
}

@media (max-width: 300px) {

    .horizontal.responsive .IRElement2 {
        display: none;
    }

    .horizontal.responsive .IRElement1 {
        text-align: right;
        padding-right: 5px;
    }
}

.hidder {
    position: absolute;
    visibility: hidden;
}

.tabs.lookup {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.disclaimer.disclaimer-IRLookup2 {
    font-size: 9px;
    display: block;
}

tr:nth-child(2n+1) {
    background: #eee;
}