body {
    color: #585852;
}

#lookup-table-form div label {
    font-weight: 500;
    font-size: 18px;
}

input,
button {
    height: 43px !important;
    width: 140px;
}


/*
input,
button,
label,
select {
    margin-top: 20px;
}
*/

input[type=text] {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: #585852;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
}

.input-row {
    height: auto;
}

.priceLookupHead {
    color: #001a73;
    font-size: 32px;
    border-bottom: 1px solid #e3e3e3;
}

.js-from,
.js-to {
    background-image: url('images/l_calendar.png');
    background-repeat: no-repeat;
    background-position: 140px 12px;
    width: 170px;
    cursor: pointer;
    margin-right: 20px;
}

#format {
    font-size: 14px;
    width: 170px;
    height: 43px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e3e3e3;
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 15px;
    background-image: url(images/selectDown.png);
    background-repeat: no-repeat;
    background-position: 146px;
    padding: 0 0 0 15px;
}

.s-hidden {
    visibility: hidden;
    padding-right: 10px;
}

select {
    position: relative;
}

.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
}

.styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
}

.styledSelect:active,
.styledSelect.active {
    background-color: #eee;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
}

.options li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
}

#lookup-table-form .submit,
#lookup-button {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    height: 43px;
}


/*
#lookup-table-form div::after{
  content: "";
  background: url("images/l_calendar.png") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin-top: 32px;
  margin-left: 10px;
}*/

#lookup-table-form #lookup-button {
    padding: 0 0;
    text-align: center;
}

.input-wrapper.lookupButton {
    position: relative;
    /*    float: right;*/
}

#lookup-table-form .submit,
#lookup-table-form #lookup-button {
    color: #fff;
    border: 1px solid #ed8c00;
    background-color: #ed8c00;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
    cursor: pointer;
    width: 140px;
    border-radius: 8px 8px 0;
}

#lookup-table-form .submit:hover,
#lookup-table-form #lookup-button:hover {
    background-color: #fff;
    color: #ed8c00;
}

#lookup-table-form div.excelButtonWrapper {
    text-align: right;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lookup-table-form div.downloadHistoricalData {
    /*
    text-align: right;
    font-size: 14px;
    margin-top: 36px;
    float: right;
    background-image: url("images/dl_arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    width: 62px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
*/
    color: #fff;
    border: 1px solid #ed8c00;
    background-color: #ed8c00;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
    cursor: pointer;
    width: 140px;
    border-radius: 8px 8px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    height: 43px;
}

#lookup-table-form .excelButtonWrapper .downloadHistoricalData:hover {
    background-color: #fff;
    color: #ed8c00;
}

a:-webkit-any-link {
    color: #585852;
}

.IRLookupModule .table-look th.column-first,
.IRLookupModule .table-look td.column-first,
.IRLookupModule .table-look th.column-last,
.IRLookupModule .table-look td.column-last {
    padding: 0 30px;
}

#excel {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0px;
    top: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #585852;
}

#excel:before {
    position: relative;
    content: "";
    background: url("images/dl_arrow.png") no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    top: 10px;
}

.table-look {
    border: none;
}

.table-look th,
.table-look td,
label {
    font-family: Arial, Helvetica, sans-serif;
    color: #585852;
}

.table-look th,
.table-look td {
    padding: 0;
}

.table-look th {
    height: 40px;
    line-height: 40px;
}

.table-look td {
    line-height: 30px;
    height: auto;
}

.table-look th {
    font-size: 16px;
    font-weight: 600 !important;
    /*
    border-top: 1px solid #a8a9a3;
    border-bottom: 1px solid #a8a9a3;
*/
    border: none;
    margin-bottom: 10px;
}

.customDropdown {
    margin: 10px;
    padding: 10px;
    border: 2px solid purple;
    width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.customDropdown > ul {
    display: none;
}

.customDropdown:hover > ul {
    display: block;
    background: #f9f9f9;
    border-top: 1px solid purple;
}

.customDropdown:hover > ul > li {
    padding: 5px;
    border-bottom: 1px solid #4f4f4f;
}

.customDropdown:hover > ul > li:hover {
    background: white;
}

.customDropdown:hover > ul > li:hover > a {
    color: red;
}

#lookup-button {
    display: none;
}

#lookup-table-form {
    border-bottom: 1px solid #e3e3e3;
}

.input-row.lookupRow {
    margin-top: 20px;
}

.ui-widget {
    width: 368px;
    height: 335px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    padding: 18px;
    z-index: 2000 !important;
}

.ui-datepicker-title {
    font-size: 16px;
    text-align: center;
    color: #000c8a;
}

.ui-widget-header {
    background: none;
    color: #585852;
    border-radius: 0;
    border: 0;
    font-size: 17px;
    font-weight: 400;
}

.ui-datepicker-calendar thead tr th {
    font-weight: 500;
    color: #000c8a;
}

.ui-datepicker td {
    padding: 8px;
    border: 1px solid #d4d4d4;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    color: #d4d4d4;
    border: 0;
    background: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
}

.ui-datepicker .ui-datepicker-next {
    border: 0px solid transparent;
}

.ui-datepicker .ui-datepicker-next span {
    background: url(images/datapicker_arrow_right.svg) center center no-repeat;
}

.ui-datepicker .ui-datepicker-next.ui-state-hover {
    top: 2px;
    right: 2px;
    border: 0;
    background: none;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover {
    top: 2px;
    left: 2px;
    border: 0;
    background: none;
}

.ui-datepicker-trigger {
    visibility: hidden;
    position: absolute;
}
.ui-datepicker-calendar .ui-state-default {
    color: #ed8c00;
}

.ui-datepicker-calendar .ui-datepicker-unselectable .ui-state-default {
    color: #d4d4d4;
}


/*
.ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover.ui-state-hover span {
    background: url(images/arrow-right-hover.png) center center no-repeat;
}
*/

.ui-datepicker .ui-datepicker-prev span {
    background: url(images/datapicker_arrow_left.svg) center center no-repeat;
}


/*
.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover.ui-state-hover span {
    background: url(images/arrow-left-hover.png) center center no-repeat;
}
*/


/*
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover {
    color: #585852;
    background: #deded8;
}
*/

.ui-state-default.ui-state-active {
    color: #ffffff;
}

.ui-datepicker-current-day {
    background-color: #ed8c00;
    color: #ffffff;
}

.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled {
    border: none;
}

.ui-state-default:active,
.ui-widget-content .ui-state-default:active {
    color: #ffffff;
    background: #2bc4b6;
}

.table-look2 td.Data.change.formatColourPos,
.table-look2 td.Data.change.formatColourDef {
    color: #2bc4b6;
}

.table-look2 td.Data.change.formatColourNeg {
    color: #e34a27;
}

.table-look2 .formatColourPos {
    color: #2bc4b6;
}

.table-look2 .formatColourNeg {
    color: #e34a27;
}

.lookupRow {
    margin-top: 40px;
    width: 115px;
    text-align: right;
}

.IRLookupModule #lookup-table-form .lookupRow .input-label.format-label {
    font-size: 15px;
    line-height: 40px;
}

.dropdown {
    text-align: left;
    color: #343C3F;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #ed8c00;
    display: inline-block;
    border-radius: 6px;
    font-size: 14px;
    color: #444444;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    overflow: hidden;
    left: 139px;
    width: 170px;
}

.dropdown.closed {
    border-color: #e3e3e3;
}

.dropdown.closed .dropdown-menu {
    margin-top: 0px;
}

.dropdown.closed .dropdown-menu li {
    height: 0px;
}

.dropdown.closed .title {
    border-bottom: none;
}

.dropdown.closed .title:after {
    margin-top: -16px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.dropdown .title {
    width: 170px;
    position: relative;
    height: 40px;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ed8c00;
}

.dropdown .title:after {
    display: block;
    content: url(images/arrow_drop_down.svg);
    position: absolute;
    right: 0;
    top: 24px;
    margin-top: -16px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown .dropdown-menu {
    position: relative;
    overflow: hidden;
    max-height: 200px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-sizing: "border-box";
    -moz-box-sizing: "border-box";
    box-sizing: "border-box";
}

.dropdown ul {
    position: absolute;
    top: 0;
    width: 100%;
}

.dropdown ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: margin-top 0.5s, height 0.5s;
    -moz-transition: margin-top 0.5s, height 0.5s;
    transition: margin-top 0.5s, height 0.5s;
}

.dropdown ul li:hover {
    background-color: #fffaf1;
    color: #343C3F;
}

@media only screen and (max-width: 740px) {
    /*
    #lookup-table-form div.excelButtonWrapper {
        width: 100%;
        float: left;
    }
*/
    #lookup-table-form div.downloadHistoricalData {
        margin-top: 0;
    }
}

@media only screen and (max-width: 670px) {
    #lookup-table-form .submit,
    #lookup-table-form .lookupSubmitButtonWrapper,
    #lookup-table-form div.downloadHistoricalData,
    #lookup-table-form .lookup-button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #lookup-table-form #lookup-button {
        width: 100%;
        float: left;
    }
    .input-wrapper.lookupButton {
        float: none;
    }
    #lookup-table-form div.excelButtonWrapper {
        width: 100%;
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    #lookup-table-form div::after {
        /*        content: none;*/
    }
    input,
    button,
    label,
    select {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #excel {
        display: none;
    }
    input[type=text] {
        text-align: left;
    }
    .lookup-table {
        margin-top: 10px;
    }
    .lookup-table.table-only {
        margin-top: 0;
    }
}

@media only screen and (max-width: 571px) {
    #lookup-table-form {
        margin: 30px 0;
    }
    input,
    button,
    #format {
        width: 100%;
    }
    .js-from,
    .js-to {
        background-image: none;
    }
    #lookup-table-form div.downloadHistoricalData,
    #lookup-table-form div.excelButtonWrapper {
        margin-bottom: 0;
    }
    #lookup-table-form .submit {
        margin-bottom: 10px;
    }
    #format {
        background-position: 99%;
    }
    #lookup-table-form div:nth-child(3) .input-wrapper {
        left: 0;
        top: 33px;
        width: 100%;
    }
    #lookup-table-form div:nth-child(3) {
        padding-bottom: 80px;
    }
    .dropdown {
        left: 0;
        top: 33px;
        width: 100%;
    }
    .input-row.lookupRow {
        margin-top: 0;
        padding-bottom: 30px;
    }
}