
/* Fonts */
@font-face {
    font-family: DINWeb;
    src: url("inc/fonts/DINWeb.eot");
}

@font-face {
    font-family: DINWeb;
    src: url("inc/fonts/DINWeb.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Light;
    src: url("inc/fonts/DINWeb-Light.eot");
}

@font-face {
    font-family: DINWeb-Light;
    src: url("inc/fonts/DINWeb-Light.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("inc/fonts/DINWeb-Medium.eot");
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("inc/fonts/DINWeb-Medium.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Bold;
    src: url("inc/fonts/DINWeb-Bold.eot");
}

@font-face {
    font-family: DINWeb-Bold;
    src: url("inc/fonts/DINWeb-Bold.woff") format("woff");
}
/* end of fonts */

body {
    font-family: 'DINWeb', Arial;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #647783;
    overflow-x: hidden;
}

a {
}

    a:hover {
        color: #00c8d7;
    }

h2 {
    padding-top: 5px !important;
    color: #647783;
    font-family: 'DINWeb-Bold';
    font-weight: 400;
}

.formatArrowNeg, .formatArrowPos {
    background-size: 15px 15px;
    background-repeat: no-repeat;
    height: 30px;
    width: 25px;
    vertical-align: middle;
}

.IRMiniquoteModuleDisclaimer {
    display: none;
}

.clear {
    clear: both;
}

.formatArrowPos, .formatArrowNeg {
    background-size: 16px;
    height: 17px;
}

.formatArrowPos {
    background-image: url(images/arrow-up.png);
}

.formatArrowNeg {
    background-image: url(images/arrow-down.png);
}

input[type=number], input[type=submit] {
    background-color: transparent;
    border: 1px solid #c3c3c2;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 5%;
}

.table-look th.column-last, .table-look td.column-last {
    padding-right: 2%;
}

/* IRChart =============================================================== */

.IRQuoteModule .updated {
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
    font-size: 12px;
}

div#IRChartNavigationClearComparison.basicButtonLook, div#IRChartNavigationClearTA.basicButtonLook, div#IRChartNavigationClear.basicButtonLook {
    color: #fff;
    text-align: center;
    line-height: 25px;
    height: 25px;
    background: #dc002d;
}

    div#IRChartNavigationClearComparison.basicButtonLook:hover, div#IRChartNavigationClearTA.basicButtonLook:hover, div#IRChartNavigationClear.basicButtonLook:hover {
        background: #aa0023;
        color: #fff;
    }

.IRChartColour {
    color: #DE076E;
}

.IRQuoteModule tr {
    border: 1px solid #CCC;
}

.IRQuoteModule th.Header {
    height: 32px;
    line-height: 32px;
    color: #de076e;
    font-weight: normal;
    background: #fafafa;
    border-bottom: 1px solid #CCC;
}
.IRQuoteModule td.Data {
    height: 32px;
    line-height: 32px;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;

}


.IRChartPlaceholderArea .IRChartPlaceholder {
    box-sizing: initial;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    text-transform: uppercase;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    color: #fff;
    background: #dc002d;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
        background: #aa0023;
    }

.table-look th {
    font-weight: bold;
    color: #505253;
    font-size: 16px;
    border: 0;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 10px;
    background: #f2f3f3;
}

.table-look.horizontal th, .table-look.horizontal td {
    border-left: 0;
    border-right: 0;
}

.table-look.horizontal td {
    border-bottom: 1px solid #f2f3f3;
}

.table-look td {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    border-bottom: 0px solid #dcdcdc;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}

.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #333;
}

.IRChartCurrency {
    color: #333;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}
/* End ====================================================================== */


/* @media only screen ======================================================== */

@media only screen and (max-width: 720px) {

    .IRQuoteHorizontalModule h3 {
        font-size: 18px;
    }

}

@media only screen and (max-width: 673px) {
    .section-then, .section-now {
        float: none;
        border: none;
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    #result-section {
        height: 300px;
    }
}

@media only screen and (min-width: 500px) {
    #tableV {
        display: none;
    }
}


@media only screen and (max-width: 479px) {
    .graph-section {
        display: none;
    }

    .lookup-result-wrapper {
        margin-top: 61px;
        border: 1px solid gray;
    }

    .blankFromSeletion {
        display: none;
    }
}




/* End ======================================================================== */

.table-look {
    border: none;
    margin-top: 0px;
}



.IRChartBottomNavigation {
    background-color: white;
}

    .IRChartBottomNavigation .row3 {
        display: block;
        float: left;
        width: 32%;
    }

.IRClearFloat {
    clear: both;
}

.IRChartOutsideCheckbox {
    display: inline-block;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    background-image: url(inc/checkbox_false.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .IRChartOutsideCheckbox.checked {
        background-image: url(inc/checkbox_true.png);
    }

.IRChartBottomNavigation .IRChartOutsideTACustomDays .IRChartOutsideTACustomDaysValue,
.IRChartBottomNavigation .IRChartOutsideTACustomDays .IRChartOutsideRadioButton,
.IRChartBottomNavigation .IRChartOutsideTACustomDays .IRChartOutsideTAMATrigger {
    float: left;
    line-height: 30px;
    height: 30px;
}

.IRChartBottomNavigation .IRChartOutsideTACustomDays .IRChartOutsideRadioButton {
    cursor: pointer;
}

.IRChartBottomNavigation .IRChartOutsideTACustomDays .IRChartOutsideTAMATrigger {
    display: block;
    position: relative;
    float: left;
    width: 75px;
    margin-left: 5px;
    background-color: #de076e;
    text-align: center;
    color: white;
    line-height: 32px;
    height: 32px;
    cursor: pointer;
}

.IRChartBottomNavigation .buttonLook {
    display: block;
    position: relative;
    width: 80%;
    background-color: #de076e;
    text-align: center;
    color: white;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
}

.IRChartOutsideRadioButton {
    display: inline-block;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    background-image: url(inc/radio_false.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .IRChartOutsideRadioButton.checked {
        background-image: url(inc/radio_true.png);
    }



.irChartNavigationBottom .featureCheckbox {
    display: block;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    background-image: url(inc/checkbox_false.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .irChartNavigationBottom .featureCheckbox.checked {
        background-image: url(inc/checkbox_true.png);
    }

.irChartNavigationBottom .diagramSelect,
.irChartNavigationBottom .chartModeSelect {
    display: block;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    background-image: url(inc/radio_false.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .irChartNavigationBottom .diagramSelect.checked,
    .irChartNavigationBottom .chartModeSelect.checked {
        background-image: url(inc/radio_true.png);
    }


.IRChartPlaceholderArea .IRChartChangePeriodOuterCustom {
    width: 100%;
    position: absolute;
    bottom: 55px;
}

.IRChartPlaceholderArea .IRChartChangePeriodCustom {
    height: 25px;
    line-height: 25px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.IRChartPlaceholderArea .IRChartChangePeriodCustom div {
    display: inline-block;
    width: auto;
    text-align: center;
    cursor: pointer;
    border-color: #ddd;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: clip;
}

.IRChartPlaceholderArea .IRChartChangePeriodCustom div.activePeriod {
    background-color: #de076e;
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriodCustom div:hover {
    background-color: lightgray;
}



.navBottomRow {
    float: left;
    width: 32%;
}

.navBottomRow .buttonLook {
    display: block;
    position: relative;
    width: 80%;
    background-color: #de076e;
    text-align: center;
    color: white;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
}


.tooltipHTML .historicalMode {
    background-color: red;
}

div.tooltipHTML.uniqueRSI {
    position: relative;
    top: 5px;
}

div.tooltipHTML.uniqueMACD {
    position: relative;
    top: 5px;
}

.navBottomRow.responsive{
    display: none;
}
/* END ============================================*/

/* @media =========================================*/

@media (max-width: 540px) {

    .yearlyStackedChart-wrapper, .chart-wrapper, .graph-section {
        display: none;
    }


    .IRChartPlaceholderArea .IRChartChangePeriodCustom #d5 {
        display: none;
    }

    
    .navBottomRow {
        width: 100%;
        float: none;
    }

    .navBottomRow:not(.responsive) .buttonLook{
        display: none;
    }

    .navBottomRow .buttonLook{
        width: 100%;
    }

    .navBottomRow.responsive{
        display: block;
    }

    .navBottomRow.responsive .buttonLook{
        margin: 12px 0;
    }
}


@media (max-width: 480px) {

        .IRChartPlaceholderArea .IRChartChangePeriodCustom div#y5 {
            display: none;
        }
}

@media (max-width: 403px) {


        .IRChartPlaceholderArea .IRChartChangePeriodCustom div#m3 {
            display: none;
        }
}

@media (max-width: 350px) {

        .IRChartPlaceholderArea .IRChartChangePeriodCustom div#max,
        .IRChartPlaceholderArea .IRChartChangePeriodCustom div#Max {
            display: none;
        }

    #d1 span, #d5 span, #m1 span, #m3 span, #y1 span, #y2 span, #y5 span{
        display: none;
    }
    #d1:after {
        content: '1D';
    }
    #d5:after {
        content: '5D';
    }#m1:after {
        content: '1M';
    }#m3:after {
        content: '3M';
    }#y1:after {
        content: '1Y';
    }#y2:after {
        content: '2Y';
    }#y5:after {
        content: '5Y';
    }
}

@media (max-width: 320px) {
    .result-box {
        height: 180px;
    }
}


