<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="IRBackendDB" connectionString="Data Source=eurosrv14;Initial Catalog=IRBackendDB;Persist Security Info=True;User ID=euroinvestor;Password=&quot;moneymoneymoney&quot;" providerName="System.Data.SqlClient"/>
    <add name="EuroInvestorStockDB" connectionString="Data Source=eurosrv14;Initial Catalog=EuroInvestorStockDB;Persist Security Info=True;User ID=euroinvestor;Password=&quot;moneymoneymoney&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultLanguageCode" value="en-us"/>
    <add key="StreamTarget" value="stream.euroinvestor.com"/>
    <add key="FileLogLevel" value="2"/>
    <add key="SolrHostName" value="webservices.euroinvestor.com:8983"/>
    <add key="SolrIndex" value="irnews"/>
    <add key="SolrTimeoutMs" value="30000"/>
    <add key="RequestLoggerActive" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="0.24:00:00"/>
    </staticContent>
  </system.webServer>
</configuration>