
@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('fonts/HelveticaLTStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/HelveticaLTStd-Light.woff.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Fira Sans', 'Comic Sans MS', serif;
    color: #585852;
    font-size: 16px;
    overflow-x: hidden !important;
}

iframe.calendarArchivedEvents {
    float: left;
    width: 100%;
    height: 1000px;
    /*margin-top: 60px;*/
}

button.showHideButton:focus {
    outline: 0;
}

h1 {
    color: #ff6a00;
    font-size: 20px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    font-weight: normal;
    display: block;
    padding-left: 5px;
}

.wrapper1 {
    margin-bottom: 27px;
}

.announcementsHeader {
    /*margin-bottom: 15px;*/
    height: 40px;
    line-height: 15px;
    /*border-bottom: 1px solid #d3d3d3;*/
}

    .announcementsHeader span {
        font-size: 21px;
        color: #666;
        line-height: 21px;
        padding-bottom: 20px;
        border-bottom: 3px solid #7fc0d4;
        width: 100%;
        float: left;
    }

a.calendarReminderAll.link-target {
    font-size: 16px;
    font-family: inherit;
}

.publishDateWrapper {
    float: left;
    line-height: 20px;
    /* margin-top: 5px; */
    /* margin-right: 20px; */
    /*border: 1px solid #BEBEBF;*/
    text-align: center;
}

    .publishDateWrapper .date {
        font-size: 18px;
        color: #585852;
        line-height: 30px;
        font-weight: 500;
    }

    .publishDateWrapper .monthText {
        text-transform: uppercase;
        background-color: #CF150A;
        color: #fff;
        font-size: 12px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 1px solid #CF150A;
        border-left: 1px solid #CF150A;
        border-right: 1px solid #CF150A;
    }



    .publishDateWrapper .dayText {
        border-left: 1px solid #BEBEBF;
        border-right: 1px solid #BEBEBF;
        font-size: 36px;
        line-height: 30px;
        padding-top: 3px;
        /* padding-bottom: 7px; */
        color: #272727;
        font-weight: 600;
    }

    .publishDateWrapper .yearText {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #B1B0AE;
        font-size: 12px;
        border-left: 1px solid #BEBEBF;
        border-right: 1px solid #BEBEBF;
        border-bottom: 1px solid #BEBEBF;
    }

.IRNewsTableFooter .IRNewsPagination {
    margin-bottom: 30px;
    border-top: 0;
}

.widgetModule .tabs-container li a.current, .categoryFilters li.active a, .categoryFilters li.active button {
    display: block;
}

a {
    color: #cf150a;
}

    a:hover {
        text-decoration: underline;
        color: #cf150a;
    }

h2.t_signUpEmailReminders {
    padding-left: 0px;
    font-size: 21px;
    color: #666;
    font-weight: normal;
    /* height: 40px; */
    padding-top: 20px;
}

p {
    color: #666;
    line-height: 25px;
}

.IRDataGroup.hide {
    display: none;
}

.attachmentsWrapper {
    margin-top: 10px;
    float: left;
}

.IRNewsPagination .IRNewsPageNumber.active {
    color: #272727;
}

.IRNewsPagination .nextPage, .IRNewsPagination .prevPage{width: 30px; height: 30px; background-repeat: no-repeat; padding: 0;}
.IRNewsPagination .nextPage{ background: url('images/nextPage.png')}
.IRNewsPagination .prevPage{ background: url('images/prevPage.png')}
.IRNewsTableFooter {
    border: none;
    float: left;
    width: 100%;
    text-align: center;
    max-width: initial;
}

.IRCalendar {
    line-height: 30px;
    border-top: 0px solid #ccc;
}

.calendarDate {
    width: 25%;
    float: left;
    font-size: 38px;
    /*height: 31px;*/
    text-align: center;
    font-weight: bold;
    min-width: 75px;
    color: #272727;
}

span.calendarTitle {
    font-size: 18px;
    color: #585852;
    font-weight: 500;
    width: 100%;
    float: left;
    padding-right: 8%;
}

span.descriptionText {
    color: #666;
    font-size: 16px;
    line-height: 25px;
    display: none;
    padding: 20px 0 20px 0;
    float: left;
}

span.calendarMonth {
    font-size: 12px;
}

span.calendarDay {
    display: block;
}

span.minuttes {
    width: 100px !important;
}


.CalendarContentWrapper {
    width: 75%;
    float: left;
}

.calendarTime {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    /*height: 30px;*/
}

.calendarLocation {
    font-weight: bold;
}

.calendarDetails, .calendarAddTo, .calendarReminder, .calendarReminderAll {
    float: left;
    width: 27%;
    padding: 0 0 0 10px;
    text-indent: 20px;
    font-weight: 600;
    font-size: 16px;
    min-width: 185px;
    text-decoration: inherit;
}

.calendarDetails {
    background: url('images/detailed.png') 5px no-repeat;
}

.calendarAddTo {
    background: url('images/remindMeIcon.png') 0px no-repeat;
}

.showHideButton {
    float: right;
    border-radius: 15px;
    color: #0082a9;
    background: #bfe0e9;
    width: 29px;
    font-size: 29px;
    line-height: 29px;
    height: 29px;
    border: 0;
    cursor: pointer;
    right: 0;
    position: absolute;
}
/*.calendarTime{display: none;}*/
.calendarReminder, .calendarReminderAll, .calendarAddTo {
    color: #585852;
    text-decoration: underline;
    font-weight: 400;
}

.calendarReminder, .calendarReminderAll {
    background: url('/inc/images/checkbox_false.png') 0px no-repeat;
    background-size: 20px 20px;
}

.calendarWebcastAttachment a, .calendarPDFAttachment a {
    line-height: 30px;
    height: 30px;
    color: #585852;
    text-decoration: underline;
}

.calendarWebcastAttachment, .calendarPDFAttachment {
    float: left;
    width: 100%;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 30px;
}

.calendarWebcastAttachment {
    background-image: url("images/calendarWebcastAttachment.png");
}

.calendarPDFAttachment {
    background-image: url("images/calendarPDFAttachment.png");
}

.calendarReminder_checked, .calendarReminderAll_checked {
    background: url('/inc/images/checkbox_true.png') 0px no-repeat;
    background-size: 20px 20px;
}

#emailCalendarSignup {
    max-width: 300px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    float: left;
    margin-right: 10px;
}

#emailCalendarSignup_submit, #emailCalendarUnsubscribe {
    color: #ffffff;
    background-color: #2bc4b6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    cursor: pointer;
    width: 140px;
    opacity: 0.8;
    height: 36px;
    line-height: 36px;
    float: left;
    padding: 0;
    -webkit-appearance: none;
}

a#unsibscribeLinkBtn {
    float: left;
    clear: both;
    width: 100%;
}

#emailCalendarUnsubscribe {
    height: 37px;
    text-transform: capitalize;
}

.divLineTop {
    width: 100%;
    float: left;
    border-bottom: 1px solid #a8a9a3;
    margin: 20px 0 20px 0;
}

.contentWrapper {
    width: 100%;
    float: left;
    margin-bottom: 13px;
    padding: 0px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

#\31 3340471 > div > div.divLineTop {
    width: 100%;
    float: left;
    border-bottom: 2px solid #7fc0d4;
    margin: 20px 0 20px 0;
}

.calendarMoreInfo {
    margin-left: 25%;
}

.calendarRemindAllEncapsulator {
    background-color: #F7F7F8;
    /*width: 100%;*/
    padding-top: 9px;
    /*padding-bottom: 9px;*/
    /*padding-left: 30px;*/
    /*border-radius: 4px;*/
    float: left;
    /*margin-left: 1%;*/
    position: relative;
}

#Encapsulator1 {
    width: 100%;
    border-top: 1px solid #D2D2D2;
}

#Encapsulator2 {
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.calendarRemindAllEncapsulator .calendarButtonStyle, input.calendarButtonStyle {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    -webkit-appearance: none;
}

/*.innerEncapsulator {
    padding: 0 30px;
}*/

calendarButtonStyle {
    width: 30%;
    margin-left: 2%;
}

.unsubscribe calendarButtonStyle {
    float: left;
    width: 60%;
    margin-left: 2%;
    max-width: 150px;
    height: 42px;
}

.enterInformationLoginEmail {
    float: left;
    width: 100%;
    max-width: 300px;
    border: 1px solid #A9A9A9;
    height: 36px;
    padding: 0 0 0 10px;
    /* border-radius: 5px; */
}

.subscribe p, .calendarRemindAllEncapsulator label {
}

.socialIcons {
    border-top: 1px solid #eee;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-top: 5px;
}

.twitterIcon {
    background-image: url("images/twitter-circle-light.png");
    height: 24px;
    width: 24px;
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: 2%;
}

    .twitterIcon:hover {
        background-image: url("images/twitter-circle-dark.png");
    }

.linkedinIcon {
    background-image: url("images/linkedin-box-light.png");
    height: 24px;
    width: 24px;
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: 2%;
}

    .linkedinIcon:hover {
        background-image: url("images/linkedin-box-dark.png");
    }

/* End ======================================================================== */



/* Calendar Test ============================================================== */

.IRCalendarModule {
    float: left;
    vertical-align: middle;
}

    .IRCalendarModule th {
        background: #0083A9;
        color: #fff;
        vertical-align: middle;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 5px 0 5px;
    }

    .IRCalendarModule .calendarInformation {
        text-align: left;
    }

    .IRCalendarModule .calendarDate {
        width: 20%;
    }





/* End ======================================================================== */


/* Select Reminder ============================================================ */
.select_wrapper {
    /*background: url("images/alarm.png") no-repeat top 3px left 0px;*/
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    float: left;
    width: 100%;
    color: #585852;
    text-decoration: underline;
    max-width: 280px;
}

    /*.select_wrapper:hover {
        background: url("images/alarm.png") no-repeat top 3px left 0px;
    }*/

    .select_wrapper span {
        display: block;
        text-align: center;
    }


    .select_wrapper .select_inner {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        color: #687278;
        display: none;
        position: absolute;
        left: 0;
        top: -100%;
        width: 120%;
        z-index: 3;
    }

        .select_wrapper .select_inner li {
            border-bottom: 1px solid #eee;
            padding: 0 15px;
        }

            .select_wrapper .select_inner li:hover {
                background: #eee;
            }

            .select_wrapper .select_inner li:last-child {
                border: none;
                border-radius: 0 0 5px 5px;
            }

            .select_wrapper .select_inner li:first-child {
                border-radius: 5px 5px 0 0;
            }

select#period {
    font-size: 14px;
    margin-bottom: 15px;
    height: 30px;
    color: #666;
    padding: 0px 10px 0 10px;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.calendarReminderAll {
    cursor: pointer;
    width: 100%;
}

.transparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: 0.7;
    z-index: 900;
}

.dialogueBox {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: 0px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    left: 30px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(204,204,204,1);
    box-shadow: 0px 0px 10px 4px rgba(204,204,204,1);
}

    .dialogueBox h3 {
        margin: 0px;
        padding: 0px;
    }

#dialogueBox_register {
    bottom: 40px;
    padding-left: 60px;
}

#dialogueBox_unsubscribe {
    padding-left: 60px;
}

.closeBox {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -15px;
    right: 0px;
    cursor: pointer;
}

.verificationImage {
    position: absolute;
    left: 10px;
    top: 18px;
    width: 40px;
    height: auto;
}

.unsubscribeConfirmEmail {
    text-decoration: underline;
}

.sendReminders1, .sendReminders2 {
    color: #666;
}

.sendMeReminderInAdvance div {
    display: inline-block;
    vertical-align: top;
}

.calendarDetails_expanded {
    background: url('images/detailedDown.png') 5px no-repeat;
}


/* IRWidgetModule ===================================================== */
.widgetModule {
    max-width: 450px;
}

    .widgetModule .categoryFilters li {
        list-style-type: none;
    }

.calendarWidget .divLineTop {
    border-bottom: 0;
}

.categoryFilters li {
    width: 50%;
    float: left;
    height: 50px;
    position: relative;
}

.widgetModule .categoryFilters li a:current::after {
    content: ' ';
    position: absolute;
    border: solid 10px transparent;
    border-top: solid 0px transparent;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
    border-color: #222 transparent transparent transparent;
}

.widgetModule .categoryFilters li a, .categoryFilters li a {
    background: #8F8D8A;
    display: block;
    float: left;
    text-decoration: none;
    color: #fff;
    display: block;
    float: left;
    /*line-height: 25px;*/
    height: 50px;
    width: 50%;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.widgetModule .categoryFilters li a {
    width: 100%;
}

.widgetModule .categoryFilters li {
    width: 32%;
    margin-right: 2%;
}

    .widgetModule .categoryFilters li.lastTab {
        margin-right: 0;
    }

.categoryFilters li button {
    background: #8F8D8A;
    display: block;
    float: left;
    text-decoration: none;
    color: #fff;
    display: block;
    float: left;
    line-height: 50px;
    height: 50px;
    width: 50%;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
}

    .widgetModule .categoryFilters li a:hover, .categoryFilters li button:hover {
        background-color: #A9A49F;
    }

.categoryFilters li.active::after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px #a11a46;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    margin-left: -10px;
}

.widgetModule ul.categoryFilters, ul.categoryFilters {
    float: left;
    padding-left: 0;
    width: 100%;
    position: relative;
    margin-top: 0;
}

.widgetModule .tabs-container li a.current, .categoryFilters li.active a, .categoryFilters li.active button {
    color: #fff;
    background-color: #a11a46;
    float: left;
    /*display: block;*/
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;*/
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*justify-content: center;*/
}

    .categoryFilters li.active a:hover, .categoryFilters li.active button:hover {
        background-color: #C12054;
    }

.categoryFilters li:hover {
    background-color: #A9A49F;
}

.widgetModule .tabs-container li.tabitem a.current:after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px #a11a46;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    margin-left: -10px;
}

.IRCalendar.calendarWidget .calendarTitle {
    float: left;
    width: 80%;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    color: #404343;
    white-space: nowrap;
    overflow: hidden;
}

.IRCalendar.calendarWidget .calendarDay {
    font-size: 25px;
    line-height: 25px;
    height: 25px;
}

.IRCalendar.calendarWidget .calendarMonth {
    font-size: 10px;
    line-height: 15px;
    height: 15px;
}

.IRCalendar.calendarWidget .calendarDate {
    float: left;
    text-align: center;
    width: 23%;
}

.calendarWidget .calendarLink a, .newsLink a {
    color: #058bca;
    font-size: 12px;
    line-height: 30px;
}

    .calendarWidget .calendarLink a:hover {
        text-decoration: underline;
    }

.calendarWidgetDisclaimer .disclaimer {
    display: none;
}


/* End ======================================================================== */



/* Responsive ================================================================= */

@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data; {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }
}

@media only screen and (max-width: 700px) {
    .publishDateWrapper .date {
        font-size: 14px;
    }
}

@media only screen and (max-width: 572px) {
    .calendarDate, .CalendarContentWrapper {
        width: 100%;
    }

    .calendarMoreInfo {
        margin-left: 0;
    }
}


@media only screen and (max-width: 550px) {

    .headlineWrapper {
        height: 70px;
    }

    .publishDateWrapper {
        line-height: 13px;
        width: 100%;
        text-align: left;
    }

        .publishDateWrapper .dayText {
            font-size: 22px;
        }

    #emailCalendarUnsubscribe {
        width: 98%;
        margin-left: 5px;
        margin-top: 10px;
    }

    a:hover {
        text-decoration: none;
    }

    /*.CalendarContentWrapper {
        width: 70%;
    }*/

    .calendarDate {
        font-size: 20px;
        line-height: 20px;
        width: 100%;
        float: left;
    }


    .calendarLocation {
        line-height: 20px;
    }

    .calendarTime {
        line-height: 5px;
        padding-bottom: 7px;
    }

    .calendarDetails, .calendarAddTo, .calendarReminder {
        width: 95%;
        margin: 0;
        margin-top: 10px;
        margin-right: 2%;
        text-indent: 10%;
    }

    .publishDateWrapper .monthText {
        font-size: 10px;
    }

    .wrapper2 {
        margin-top: 45px;
    }

    /*.calendarAddTo {
        background: #F2F2F2 url('images/calendar-check.png') 5px no-repeat;
    }*/

    .calendarMoreInfo .calendarReminder {
        /*padding: 0;*/
        margin-right: 0;
        width: 97%;
    }

    .calendarReminder [selected] {
        background: #b8b8b8;
    }

    .calendarReminder2 {
        background: #F2F2F2 url('images/alarm.png') 5px no-repeat;
        text-indent: 12%;
    }

    .select_wrapper span {
        /*background: #F2F2F2 url('images/alarm.png') 5px no-repeat;*/
        color: #CF150A;
        padding-left: 0px;
        font-weight: bold;
    }

    .calendarMoreInfo {
        margin-left: 1%;
    }

    .IRCalendar .calendarDay {
        padding-top: 0;
    }

    input.calendarButtonStyle {
        width: 98%;
        margin-left: 0;
        padding: 0;
    }

    .unsubscribe input.calendarButtonStyle, .enterInformationLoginEmail {
        width: 98%;
        float: left;
        max-width: none;
        margin-left: 1%;
    }

    .enterInformationLoginEmail {
        width: 96%;
    }

    .unsubscribe input.calendarButtonStyle {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .calendarReminderAll {
        padding-left: 7%;
    }

    .dialogueBox {
        width: 77%;
        left: 0px;
    }

    #emailCalendarSignup {
        max-width: 60%;
    }
}

@media only screen and (max-width: 464px) {
    /*h2 {
        padding: 3px 0px;
    }*/

    .calendarRemindAllEncapsulator {
        background-color: #F7F7F8;
        color: #272727;
        /* width: 100%; */
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 0px;
        /* border-radius: 4px; */
        float: left;
        /* margin-left: 1%; */
        position: relative;
    }

    #emailCalendarSignup_submit {
        margin-top: 10px;
        width: 100%;
        margin-left: 0px;
    }

    #emailCalendarSignup {
        max-width: 100%;
    }
}

@media only screen and (max-width: 385px) {
    a.calendarReminderAll.link-target {
        font-size: 12px;
    }
}

@media only screen and (max-width: 345px) {
    .select-style {
        margin-top: 15px;
    }
}



/* End =============================================================== */
