a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  margin: 0;
  outline: none;
}
a {
  text-decoration: none;
}
b,
b *,
strong,
strong * {
  font-weight: bold !important;
}
em,
em *,
i,
i * {
  font-style: italic !important;
}
a {
  color: #3d3d3d;
}
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  position: relative;
}
html {
  min-height: 100%;
  width: 100%;
}
body {
  background: #eeeeee;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
* h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
/*

*.IRSize1 {
    background-color: lightblue;
}
*.IRSize2 {
    background-color: cornflowerblue;
}
*/
.IRChartTypePieLegend {
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 11px;
  font-weight: normal;
  z-index: 100;
}
.tooltipHTML {
  position: relative;
  z-index: 400;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #eee;
  top: 0;
  font-family: sans-serif;
  height: 36px;
  width: 100px;
}
.tooltipHTML div {
  display: block;
  white-space: nowrap;
}
.tooltipHTML div span.subHeader {
  display: inline-block;
  text-align: left;
  width: 30px;
}
.tooltipHTML div span.subContent {
  text-align: left;
}
.IRFactsheetShareDataTable {
  width: 100%;
}
.IRFactsheetShareDataTable td,
.IRFactsheetShareDataTable th {
  text-align: left;
}
.IRFactsheetShareDataTable td.right,
.IRFactsheetShareDataTable th.right {
  text-align: right;
}
.IRFactsheetKeyFigureHighlightTable {
  width: 100%;
}
.IRFactsheetKeyFigureHighlightTable td,
.IRFactsheetKeyFigureHighlightTable th {
  text-align: left;
}
.IRFactsheetKeyFigureHighlightTable td.right,
.IRFactsheetKeyFigureHighlightTable th.right {
  text-align: right;
}
.IRColumnChartStackedLabels {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
}
.IRFactsheetFinancialHighlights {
  padding-right: 10px;
}
.IRFactsheetFinancialHighlights td {
  vertical-align: middle;
}
.IRFactsheetFinancialHighlights .rowHeader {
  max-width: 120px;
}
header {
  text-align: center;
  height: 70px;
  border-bottom: 1px solid #79abc4;
  background: #163c4e;
}
header span {
  line-height: 70px;
  font-size: 20px;
  color: #79abc4;
}
.wrapper {
  max-width: 850px;
  margin: 0 auto;
}
.grid {
  margin-top: 2%;
  background: #fff;
}
.grid.more-from-left .item {
  width: 65%;
}
.grid.more-from-left .item:nth-child(even) {
  width: 33%;
}
.grid.more-from-right .item {
  width: 33%;
}
.grid.more-from-right .item:nth-child(even) {
  width: 65%;
}
.grid .item {
  padding: 15px;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.grid .item:nth-child(odd) {
  margin-left: 0;
}
.grid .item img {
  width: 100%;
}
.grid .item.item-with-flex {
  display: flex;
  flex-direction: column;
}
.grid .item.item-with-flex > div {
  flex: 1;
  margin-bottom: 50px;
}
.grid .item.item-with-flex > div:last-child {
  margin-bottom: 0;
}
.grid .item.item-wide {
  width: 100%;
}
.grid .item .item-inside {
  margin-bottom: 20px;
}
.grid .item .item-inside:last-child {
  margin-bottom: 0;
}
.IRFactsheetKeyFigureHighlightTable th {
  background: #F0E5F5;
  font-size: 15px;
}
.IRFactsheetFinancialHighlights tr,
.IRFactsheetShareDataTable tr {
  border-bottom: 1px solid #F0E5F5;
}
.IRFactsheetFinancialHighlights tr:last-child,
.IRFactsheetShareDataTable tr:last-child {
  border-bottom: 0;
}
