@font-face {
    font-family: 'FSIngrid';
    src: url('fonts/fsingridweb-bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/fsingridweb-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/fsingridweb-bold.woff') format('woff'); /* Pretty Modern Browsers */
}

* {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
}

.table-look-horizontal {
    border-collapse: collapse;
    border: 0px;
}

    .table-look-horizontal th, .table-look-horizontal td {
        color: #333;
        text-align: left;
    }

    .table-look-horizontal th {
        font-weight: normal;
        color: #02006B;
        background-color: #f5f5f5;
        padding-top: 10px;
    }



.table-look th, .table-look td {
    padding-left: 3px;
    border: 0px;
}

.table-look-horizontal td {
    border-bottom: 1px solid #A4A4A3;
}

.table-look-horizontal tr.noBorder td {
    border: none;
}


.table-look th {
    color: #02006B;
    font-size: 14px;
}

.table-look td {
    padding: 0px;
    padding-bottom: 10px;
    padding-left: 3px;
    font-size: 12px;
}



.debugStatus {
    clear: both;
}

.contentWrapper {
    background-color: #F5F5F5;
    height: 765px;
}

.IRChartClientName {
    color: #333;
    background-color: #FFFFFF;
    display: none;
}

.IRChartCurrency {
    color: #333;
}

.chartCurrentPriceBox {
    border: 1px solid #02006B;
    background-color: #02006B;
}

.chartCurrentPriceBoxArrow div.irCPB1, .chartCurrentPriceBoxArrow div.irCPB2, .chartCurrentPriceBoxArrow div.irCPB3 {
    background-color: #02006B;
}

.chartChangePeriod div.activePeriod {
    background-color: #02006B;
}


.IRChartOuter {
    margin-top: 6px;
}

.fane {
    background-color: #fff;
    width: 100%;
    border-bottom: 3px solid #E3282E;
    margin-bottom: 34px;
}

    .fane ul {
        height: 38px;
    }

        .fane ul li div {
            padding: 10px 0;
            color: white;
            width: 100%;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            font-size: 16px;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
            height: 20px;
            line-height: 20px;
        }

        .fane ul li {
            background-color: #02006B;
            float: left;
            height: 38px;
            text-align: center;
            list-style: none;
            margin-right: 2px;
            width: 200px;
        }

            .fane ul li.active {
                background-color: #E3282E;
            }



/* IRMiniquote =================================================== */
.NSEMiniquote{width: 100%; height: 80px;}

.IRMiniquoteModule .miniquoteDetailsWrapper {
    font-family: 'FSIngrid', Helvetica, Arial, sans-serif;
    color: #272727;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
}


    .IRMiniquoteModule .miniquoteDetailsWrapper .miniquoteTable {
        float: left;
        width: 100%;
    }

    .IRMiniquoteModule .miniquoteDetailsWrapper h3 {
        line-height: 20px;
        height: 20px;
        margin-bottom: 10px;
        font-family: 'FSIngrid', Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    .IRMiniquoteModule .miniquoteDetailsWrapper .change-tr {
        line-height: 18px;
        height: 18px;
    }

    .IRMiniquoteModule .miniquoteDetailsWrapper a {
        color: #020156;
        text-decoration: none;
        font-size: 16px;
    }

    .IRMiniquoteModule .miniquoteDetailsWrapper strong {
        font-size: 26px;
        font-family: 'FSIngrid', Helvetica, Arial, sans-serif;
    }

    .IRMiniquoteModule .miniquoteDetailsWrapper a:hover {
        text-decoration: underline;
    }
    
    td.Data.change.formatColourPos:before {
    	content: '+';
	}
	
/* End =========================================================== */


@media screen and (max-width: 549px) {
    .fane ul li {
        width: 49%;
    }

        .fane ul li div {
            font-size: 12px;
        }

    .removeWhenSmall {
        display: none;
    }

    .showWhenSmall {
        display: table-row;
    }

    .showWhenSmalltable {
        display: table;
    }
}
