@font-face {
    font-family: "DINWebW01-Medium";
    src: url("Fonts/DINWebW01-Medium.eot?#iefix");
    src: url("Fonts/DINWebW01-Medium.eot?#iefix") format("eot"),url("Fonts/DINWebW01-Medium.woff2") format("woff2"),url("Fonts/DINWebW01-Medium.woff") format("woff"),url("Fonts/DINWebW01-Medium.ttf") format("truetype"),url("Fonts/DINWebW01-Medium.svg#46ee8af4-0995-4777-8c1e-26ee39272e83") format("svg");
}

@font-face {
    font-family: "DINWebW01-Regular";
    src: url("Fonts/DINWebW01-Regular.eot?#iefix");
    src: url("Fonts/DINWebW01-Regular.eot?#iefix") format("eot"),url("Fonts/DINWebW01-Regular.woff2") format("woff2"),url("Fonts/DINWebW01-Regular.woff") format("woff"),url("Fonts/DINWebW01-Regular.ttf") format("truetype"),url("Fonts/DINWebW01-Regular.svg#d149dc98-869c-4d46-8e10-d5c5c5fc466e") format("svg");
}

@font-face {
    font-family: "DINWebW01-Bold";
    src: url("Fonts/DINWebW01-Bold.eot?#iefix");
    src: url("Fonts/DINWebW01-Bold.eot?#iefix") format("eot"),url("Fonts/DINWebW01-Bold.woff2") format("woff2"),url("Fonts/DINWebW01-Bold.woff") format("woff"),url("Fonts/DINWebW01-Bold.ttf") format("truetype"),url("Fonts/DINWebW01-Bold.svg#12e006c8-1bef-45df-bbb1-cdc352a2a9da") format("svg");
}

@font-face {
    font-family: "DINWebW01-Light";
    src: url("Fonts/DINWebW01-Light.eot?#iefix");
    src: url("Fonts/DINWebW01-Light.eot?#iefix") format("eot"),url("Fonts/DINWebW01-Light.woff2") format("woff2"),url("Fonts/DINWebW01-Light.woff") format("woff"),url("Fonts/DINWebW01-Light.ttf") format("truetype"),url("Fonts/DINWebW01-Light.svg#c97450fd-e010-48a7-ad54-ebcbfb4343ef") format("svg");
}



body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 11px;
    overflow-x: hidden;
    color: #515151;
}

.table-look th {
    background: none;
    border: 2px solid #fff;
    font-weight: bold;
    text-align: left;
}

.table-look td {
    /* font-weight: bold; */
    text-align: left;
    border: none;
}

/* IRChart =============================================================== */

.IRQuoteModule .updated {
    text-align: right;
    color: #999999;
}

.IRChartColour {
    color: #435690;
}

.IRQuoteModule th.Header {
    height: 20px;
    line-height: 20px;
}

.IRQuoteModule td.Data {
    height: 20px;
    line-height: 20px;
    text-align: left;
}

.table-look th.column-last, .table-look td.column-last {
    text-align: right;
}


.IRChartPlaceholderArea .IRChartPlaceholder {
    box-sizing: initial;
}


.IRChartPlaceholderArea .IRChartChangePeriod div {
    width: 40px;
    border: none;
    border-right: 0;
    font-size: 12px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
        background-color: #435690;
        color: #fff;
    }


    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        /* text-transform: uppercase; */
        color: #fff;
        background: #86a3f8;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
            background: #435690;
            box-shadow: none;
        }

.IRChartNavigation .IRChartTA .pop-submit {
    color: #fff;
    background: #515054;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

    .IRChartNavigation .IRChartTA .pop-submit:hover {
        color: #fff;
    }

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 22px;
    line-height: 22px;
    /* width: 400px; */
    margin: auto;
    box-sizing: border-box;
}


.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    font-size: 12px;
    width: 120px;
    padding: 5px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 12px;
        font-weight: 700;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

.highcharts-tooltip span {
    color: #515054;
}

.tooltipHTML .IRChartTooltipDate, .tooltipHTML div.IRChartTooltipVolume span {
    color: #333;
}

.IRChartCompanyName {
    color: #333;
}

.IRChartCurrency {
    color: #333;
    font-size: 12px;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}

table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
    display: none;
}

.highcharts-background {
    fill: #fff;
}

.icon-enlarge:before {
    content: "\e989";
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRChartNavigation {
    border-bottom: 1px solid #eee;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(238,238,238,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(238,238,238,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(238,238,238,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6eeeeee',GradientType=0 ); /* IE6-9 */
}

    .IRChartNavigation .IRChartView, .IRChartNavigation .IRChartTA, .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR, .IRChartNavigation .IRChartCC, .IRChartNavigation .IRChartFullscreen, .IRChartNavigation .IRChartSettings, .IRChartNavigation .IRChartListings, .IRChartNavigation .IRChartMenuTrigger {
        background-color: transparent;
        color: #000;
        font-size: 11px;
    }

        .IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody div, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div, .IRChartNavigation .IRChartTSR .IRChartTSRBody div, .IRChartNavigation .IRChartSettings .IRChartSettingsBody div, .IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody div, .IRChartNavigation .IRChartTA .IRChartTABody div, .IRChartNavigation .IRChartCC .IRChartCCBody div {
            font-size: 10px;
            font-weight: 400;
            color: #555;
        }

            .IRChartNavigation .IRChartTA .IRChartTABody div.IRChartTABodyListHeader, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div.IRChartComparisonBodyListHeader, .IRChartNavigation .IRChartSettings .IRChartSettingsBody .IRChartSettingsBodyListHeader {
                color: #000;
                font-weight: 700;
                font-size: 11px;
            }

.IRChartPlaceholderArea .IRChartChangePeriod div#Max {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #adadad;
}

.IRChartPlaceholderArea .IRChartChangePeriod div#d1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.IRChartNavigation .IRChartView:hover, .IRChartNavigation .IRChartTA:hover, .IRChartNavigation .IRChartCC:hover, .IRChartNavigation .IRChartComparison:hover, .IRChartNavigation .IRChartTSR:hover, .IRChartNavigation .IRChartSettings:hover, .IRChartNavigation .IRChartFullscreen:hover, .IRChartNavigation .IRChartListings:hover {
    background-color: #d2d2d2;
    color: #fff;
}

.IRChartNavigation .IRChartCompanyName {
    font-weight: bold;
    font-size: 12px;
}
/* End ====================================================================== */

/* IRChart Comparison Colours =============================================== */
.basicButtonLook.color7FFF00:hover {
    border-left: 5px solid #7FFF00;
}

.basicButtonLook.color7FFF00.active {
    border-left: 5px solid #7FFF00;
}

.color7FFF00.active span {
    border-left: 5px solid #7FFF00;
}

.colorIndicator.color7FFF00.active {
    border-left: 5px solid #7FFF00;
    padding-right: 4px;
}

.basicButtonLook.color00BFFF:hover {
    border-left: 5px solid #00BFFF;
}

.basicButtonLook.color00BFFF.active {
    border-left: 5px solid #00BFFF;
}

.color00BFFF.active span {
    border-left: 5px solid #00BFFF;
}

.colorIndicator.color00BFFF.active {
    border-left: 5px solid #00BFFF;
    padding-right: 4px;
}

.basicButtonLook.color000000:hover {
    border-left: 5px solid #000000;
}

.basicButtonLook.color000000.active {
    border-left: 5px solid #000000;
}

.color000000.active span {
    border-left: 5px solid #000000;
}

.colorIndicator.color000000.active {
    border-left: 5px solid #000000;
    padding-right: 4px;
}

.basicButtonLook.colorC1D6D6:hover {
    border-left: 5px solid #C1D6D6;
}

.basicButtonLook.colorC1D6D6.active {
    border-left: 5px solid #C1D6D6;
}

.colorC1D6D6.active span {
    border-left: 5px solid #C1D6D6;
}

.basicButtonLook.color00FFFF.active {
    border-left: 5px solid #00FFFF;
    padding-right: 4px;
}

.basicButtonLook.color00FFFF:hover {
    border-left: 5px solid #00FFFF;
}

.color00FFFF.active span {
    border-left: 5px solid #00FFFF;
}

.colorIndicator.color00FFFF.active {
    border-left: 5px solid #00FFFF;
    padding-right: 4px;
}



/* End ====================================================================== */

/* Calculator and Lookup ====================================================================== */
.input-row {
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 30px;
}

.radio label {
    position: relative;
    vertical-align: bottom;
    padding-right: 20px;
}

select#from-day, select#from-month, select#from-year, select#to-day, select#to-month, select#to-year, select#frequency, select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 0px;
}

select#dividend {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 0px;
    width: 187px;
}

input[type=submit] {
    font-size: 14px;
    margin-right: 0px;
    background-color: #86a3f8;
    box-shadow: none;
    height: 30px;
    min-width: 186px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    float: right;
}

input#amount-invested, select#frequency, select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 187px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
}

.radioBtn {
    margin: 0 25px 0 0;
    cursor: pointer;
    padding-right: 5px;
}

    .radioBtn:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #d7d6d7;
        opacity: .8;
        top: 50%;
        margin-top: -8px;
    }

    .radioBtn.checked:before {
        background: #435690;
    }

.IRCalcModule #calc-form {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 480px;
}

.IRCalcModule #calculate-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

form#lookup-form {
    margin-top: 10px;
    width: 400px;
}

.IRCalcModule .vertical {
    display: none;
}

input[type=submit]:hover {
    box-shadow: none;
    color: #fff;
    background: #435690;
}

input:focus, select:focus {
    outline: none;
}

.table-look tr:nth-child(odd) {
    background: #f8f8f8 !important;
}

.table-look tr:nth-child(even) {
    background: #fdfdfd;
}

span.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.IRChartCalcPlaceholder {
    display: none;
}

.disclaimer.disclaimer-IRMiniquote {
    display: none;
}

.mini-image {
    background: url(images/some-arrow.png) no-repeat center;
    width: 70px;
    height: 70px;
    background-color: #4d679e;
    border-radius: 100px;
    background-size: 24px;
    display: inline-block;
}

.IRMiniquoteModule {
    width: 100%;
    height: 100%;
    background: #375095;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    float: left;
}

.miniquote-data-header {
    text-transform: uppercase;
    font-size: 15px;
    font-family: DINWebW01-Regular, Arial, sans-serif;
}

.miniquote-data-date {
    font-size: 12px;
    padding: 10px 0;
    font-family: DINWebW01-Regular, Arial, sans-serif;
}

.mini-last {
    padding: 10px 0;
    font-size: 25px;
    font-family: DINWebW01-Bold, Arial, sans-serif;
}

    .mini-last .currency {
        font-family: DINWebW01-Medium, Arial, sans-serif;
    }

.IRMiniquoteChartModule .change {
    font-size: 14px;
    font-weight: bold;
}

.mini-image-div {
    text-align: center;
    width: 100%;
}

.IRMiniquoteModule .change {
    font-size: 14px;
    font-family: DINWebW01-Bold, Arial, sans-serif;
}

.formatArrowPos {
    background-image: url(images/arrowup.png);
}

.formatArrowNeg {
    background-image: url(images/arrowdown2.png);
}

*.formatColorPos, *.formatColourPos {
    color: #00d63d;
}


/* End ====================================================================== */


/* IRMiniquoteMobile ======================================================== */
.mobileWrapper .columnLeft, .mobileWrapper .columnRight {
    float: left;
    width: 50%;
}

.mobileWrapper .columnRight {
    padding-top: 15px;
}

    .mobileWrapper .columnRight div {
        text-align: left;
    }



.mobileWrapper .mini-image {
    background: url(images/sharediagramMobile.png) no-repeat center;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

/* End ====================================================================== */


/* Media Queries ============================================================ */

@media only screen and (max-width: 480px) {
    input[type=submit] {
        width: 100%;
    }

    form#lookup-form {
        width: 100%;
    }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical {
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
    }

        .IRCalcModule .vertical th {
            line-height: 30px;
            height: 30px;
            width: 100%;
            border: none;
            text-align: left;
            padding: 0;
        }

        .IRCalcModule .vertical td {
            text-align: right;
            border: none;
        }

    .IRCalcModule #calc-form {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .mobileWrapper .mini-image {
        width: 130px;
        height: 130px;
        border-radius: 130px;
    }

    .mobileWrapper .columnLeft {
        width: 50%;
    }

    .mobileWrapper .columnRight {
        width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    input#amount-invested {
        width: 124px;
    }

    .mobileWrapper .mini-image {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    .mobileWrapper .columnRight {
        padding-top: 0px;
    }
}
