

*, body { 
    background: #ffffff;
    font-family: 'Neue Helvetica W01', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #acacac;
}

body {
    overflow-x: hidden;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: #0b0042; 
}

.table-look-horizontal {
    border: 1px solid #EEEEEE;
}

    .table-look-horizontal th, .table-look-horizontal td {
        height: 20px;
        line-height: 20px;
        border: none;
    }

    .table-look-horizontal th {
        border-bottom: 1px solid #354049;
        font-weight: 500;
        color: #404040;
    }

    .table-look-horizontal td {
        border-bottom: 1px solid #EEEEEE;
    }

.IRChartClientName {
    border-color: #EEEEEE;
    font-size: 16px;
    font-weight: 300;
    color: #0b0042;
    background-color: #fff;
}

.IRChartCurrency {
    color: #404040;
}

.chartCurrentPriceBox .chartLastPrice {
    color: #ffffff;
}

.chartChangePeriod {
    border-top: 1px solid #EEEEEE;
}

    .chartChangePeriod div {
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
    }

        .chartChangePeriod div.activePeriod {
            background-color: #06083e;
        }

.disclaimer {
}

.disclaimer {
    font-size: 10px;
    color: #777;
}

    .disclaimer a:link, .disclaimer a:visited {
        font-size: 10px;
        color: #777;
        text-decoration: none;
    }

    .disclaimer a:hover {
        color: #000;
    }

.inputTextTitle {
    padding-top: 10px;
    line-height: 20px;
    float: none;
    color: #808080;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}
input[type=text] {
    padding: 10px;
    line-height: 20px;
    height: 40px;
    box-sizing: border-box;
}
.buttonStyle {
    color: #FFF;
    height: 38px;
    border: 1px solid #06083e;
    background-color: #06083e;
    padding: 7px 10px 7px 10px;
}

    .buttonStyle:hover {
        color: #FFF;
        height: 38px;
        border: 1px solid #eb008c;
        background-color: #eb008c;
        cursor: pointer;
    }

.IRChartHTMLPlaceholder {
    height: 200px;
}
text {
    fill: #333 !important;
}
.chartChangePeriod div:hover {
    background-color: #eb008c;
    color: #fff
}
.required-field {
    font-weight: bold;
    font-size: 16px;
    color: #05b2dc;
}
.inputText {
    color: #808080;
    width: 100%;
}
.blockNoBorder {
    display: inline-block;
}
input.inputTextField.unsubscribeEmail {
    width: 100%;
}
.highcharts-xaxis-labels text:first-child {
    display: none;
}
.highcharts-xaxis-labels text {
    margin-left: -20px;
}

table.table-look.vertical.customResponsiveVertical {
    display: none;
    border-bottom: 1px solid;
}
table.table-look.vertical.customResponsiveVertical th {
    height: 30px;
    text-align: left;
    color: #333;
    box-sizing: border-box;
}
table.table-look.vertical.customResponsiveVertical td {
    text-align: right;
    width: 100%;
}
.IRChartOuter .IRChartCurrency {
    top: 23px;
}
.chartLastPriceTime {
    font-size: 10px;
}
.chartLastPrice {
    font-size: 12px;
}
/* @media only screen =========================================================*/
@media only screen and (max-width: 650px) {
    table.table-look.vertical.customResponsiveVertical {
        display: block;
    }
    table.IRToolQuoteTable.table-look.table-look-horizontal.quote.quote-horizontal.responsive-horizontal {
        display: none;
    }
}

@media only screen and (max-width: 505px) {
    .column-last,  .column-last {
        display:none;
        }

    input[type=text]{
        width: 100%;
    }
    input.inputTextField.unsubscribeEmail {
    width: 100%;
    }
}
/* End ======================================================================== */