

body {
    font-family: Verdana, Arial, sans-serif;
    color: #666666;
    overflow: hidden;
}
.IRChartNavigation .IRChartComparison .IRChartComparisonHeader{
    display:none!important;
}
input[type=submit] {
  height:35px;
    color:#ffffff;
    background-color:#000000;
    font-weight: bold;
    font-size: 11px;
    margin-top: 3px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    width: 120px;
    margin-left:10px;
    text-transform:uppercase;
}

    input[type=submit]:hover {
             height:35px;
    color:#ff6600;
    background-color:#000000;
    font-weight: bold;
    font-size: 11px;
    margin-top: 3px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    width: 120px;
    margin-left:10px;
    }

.updated {
    text-align: right;
    margin-top:2.5px;
    margin-bottom:2.5px;
    }
.buttonStyle {
   
    height:35px;
    color:#ffffff;
    background-color:#000000;
    font-weight: bold;
    font-size: 11px;
    margin-top: 3px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    width: 120px;
    margin-left:10px;
    text-transform:uppercase;
}

    .buttonStyle:hover {
          height:35px;
    color:#ff6600;
    background-color:#000000;
    font-weight: bold;
    font-size: 11px;
    margin-top: 3px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    width: 120px;
    margin-left:10px;
    }

input[type=number], input[type=submit] {
    font-size: 11px;
}

.table-look th {
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}


/* IRChart =============================================================== */
.IRChartColour {
    color: #ff6600;
}

.chartLastPrice {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}

.chartLastPriceTime {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 485px;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div,
    .IRChartChangePeriod div {
        font-size: 12px;
        height: 20px;
        line-height: 22px;
        color: #000;
        margin: 0 0.25em 0 0;
        font-family: Verdana, Arial, sans-serif;
    }

        .chartChangePeriod div.activePeriod,
        .IRChartChangePeriod div.activePeriod {
            background: #000000 !important;
        }

        .chartChangePeriod div:hover,
        .IRChartChangePeriod div:hover {
            color: #ff6600 !important;
            background: #000000 !important;

        }

        .chartChangePeriod div#max,
        .IRChartChangePeriod div#Max {
            border-right: 1px solid #000000;
        }

.IRChartHTMLPlaceholder {
    height: 200px;
    min-width: 300px;
    clear: both;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    font-family: Verdana, Arial, sans-serif;
}

.table-look th {
    color: #ffffff;
    background-color: #000000;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    height:20px;
    border-top:1px solid #000000;
}

.table-look td {
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #000000;
    font-size:11px;
    height:20px;
}

    .table-look th.column-first, .table-look td.column-first {
        border-left: 1px solid #000000;
    }

    .table-look th.column-last, .table-look td.column-last {
        border-right: 1px solid #000000;
    }
/* End ======================================================================== */


/* IRCalc ==================================================================== */
#calc-form {
    margin-top: 20px;
}

.IRCalcModule label {
    font-size: 16px;
}

.IRCalcModule select {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    height: inherit;
}
/* End ======================================================================== */


/* Miniquote ================================================================== */
.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 125px;
}

.IRMiniquoteChartModule .table-wrapper {
    height: 80px;
    background: #d7ecf9;
}

.IRMiniquoteChart.last-price {
    width: 125px;
    float: left;
    border: 0;
    margin-left: 15px;
    height: 93px;
}

.IRMiniquoteChart.change {
    float: right;
    width: 75px;
    text-align: left;
}

    .IRMiniquoteChart.change th {
        padding-top: 10px;
    }

    .IRMiniquoteChart.change td {
        padding-bottom: 0px;
    }

    .IRMiniquoteChart.change th, .IRMiniquoteChart.change td {
        float: left;
    }

.IRMiniquoteChartModule .table-look th {
    background: #d7ecf9;
}

.IRMiniquoteChartModule .table-look, .IRMiniquoteChartModule .table-look th, .IRMiniquoteChartModule .table-look td {
    color: #000000;
    border: 0;
}

    .IRMiniquoteChartModule .table-look th {
        font-weight: normal;
        font-size: 25px;
    }

    .IRMiniquoteChartModule .table-look.change td {
        font-size: 15px;
        font-style: italic;
    }

.IRMiniquoteChartModule th.column-first {
    font-style: italic;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    font-weight: 300;
    width: 125px;
    text-align: center;
    padding-bottom: 3px;
}

.IRMiniquoteChartModule td.column-first {
    line-height: 50px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    width: 125px;
    padding: 0;
}
/* End ======================================================================== */



/* @media only screen =========================================================*/
@media only screen and (min-width: 572px) {
    .IRToolCalcResultsTable.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .table-look th, .table-look td {
        text-align: left;
    }

    .table-look th {
        width: 40%;
    }

    .IRQuoteModule .high, .IRQuoteModule .low, .IRQuoteModule .bid, .IRQuoteModule .ask, .IRQuoteModule .volume {
        display: none;
    }

    .IRChartHTMLPlaceholder {
        height: 350px;
    }
}

@media only screen and (max-width: 430px) {
    #hideH, #hideD {
        display: none;
    }
}
/* End ======================================================================== */


.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background-color: #D7ECF9;
}
