body {
    background: #eae9e5;
    font-size: .75em;
    color: #787566;
    font-family: arial;
    margin: 0;
    padding: 0;
}

.table-look {
    border: 0;
}

.formatColourPos {
    color: #1BA71B;
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}
/*.formatColourPos::before{content:"+";}*/

/* IRChart =============================================================== */
.IRChartHTMLPlaceholder {
    height: 400px;
    min-width: 300px;
    clear: both;
}

.IRChartColour {
    color: #000;
}

.chartChangePeriod div {
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    background: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0.25em 0 0;
}

    .chartChangePeriod div.activePeriod {
        color: #58585a !important;
        background: #f4f4f4 !important;
        border: 1px solid #000;
    }

    .chartChangePeriod div:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }

    .chartChangePeriod div#max {
        border-right: 1px solid #000;
    }

.IRChartHTMLPlaceholder {
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}
/* End ====================================================================== */


/* IRDetailedSharePrice ===================================================== */
.IRQuoteHorizontalModule span {
    padding: 0;
    margin: 0 5px 0 0;
    font-size: 0.917em;
    float: left;
    padding-top: 4px;
    margin-bottom: 5px;
}

.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
    border: 0;
    font-size: 11px;
}

.IRDetailedSharePrice.table-look td {
    border-bottom: 0px;
    padding: 0.3333em 0.3333em 0.3333em 0em;
}

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 1.25em;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    font-size: 19.7px;
    font-family: Georgia, arial;
    color: #262626;
    padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    color: #787566;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.IRQuoteHorizontalModule h3 {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #232323;
    border-bottom: 1px solid #C2BEB3;
    margin-bottom: 0.917em;
    float: left;
    width: 100%;
}

.IRDetailedSharePrice.table-look th {
    color: #232323;
    font-size: 11px;
    background: transparent;
    font-weight: bold;
    border: 0;
}

.IRDetailedSharePrice th, .IRDetailedSharePrice td {
    padding: 0;
    text-align: left;
    width: 110px;
}

.IRDetailedSharePrice td {
    border-bottom-color: #019D54;
}

.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}
/* End ======================================================================== */



/* IRNewsModule ============================================================ */

.IRNewsModule .filter-wrapper {
    width: 100%;
    float: left;
}

.news-filter-wrapper {
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
    padding: 0.91em;
}

.IRNewsModule h2 {
    font-size: 20px;
    font-family: Georgia, arial;
    color: #262626;
    padding-bottom: 16px;
    font-weight: normal;
    padding-left: 0;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #019d56;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.news-filter-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.IRNewsModule .search-for-box {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box #allRNSnews {
    font-weight: bold;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: right;
}

.IRNewsModule .news-filter-wrapper #searchtext {
    cursor: text;
    padding-left: 5px;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
}


.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 80px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
}

.IRNewsModule .search-for-box input {
    padding-left: 5px;
    border: 0;
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    margin-right: 3px;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    width: 86px;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 60px;
}


.IRNewsModule .datepicker {
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    display: none;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 385px;
    width: 48%;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: right;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .news-range .submitButton {
    padding-left: 288px;
}

.IRNewsModule .submitButton {
    text-align: right;
    margin-top: 20px;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(images/calendar.gif);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    margin-right: 63px;
}

/* NewsContent ======================================================== */
.IRNewsModule .IRNewsTool th {
    line-height: 12px;
    text-align: left;
    background-color: #232323;
    color: #fff;
    padding: 0.3em;
    font-size: 11px;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool td {
    border-bottom: 1px solid #C2BEB3;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    background: #000;
    color: #fff;
}

.IRNewsModule .IRNewsTool th, .IRNewsModule .IRNewsTool td {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 11px;
    padding: 3px 0;
    height: 19px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .date {
    width: 20%;
    padding-left: 5px;
}

/*.IRNewsModule .IRNewsTool .time {
    width: 12%;
}*/

.IRNewsModule .IRNewsTool th.title {
    width: 79%;
    text-align: left;
}

.IRNewsModule .IRNewsTool th.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
}

.IRNewsTableFooter .IRNewsPagination {
    font-family: arial, verdana, sans-serif;
    float: left;
    font-size: 11px;
    padding-right: 5px;
    color: #fff;
    background: #000;
    text-transform: capitalize;
    max-width: initial;
}

.IRNewsPagination .IRNewsPageNumber.active {
    text-decoration: underline;
    color: #fff;
}

.IRNewsPagination .IRNewsPageNumber {
    font-weight: bold;
    color: #fff;
}

.IRNewsModule .IRNewsTool td.title {
    color: #262626;
    width: 79%;
    text-align: left;
}

.IRNewsModule .IRNewsTool td.data {
    color: inherit;
    padding-left: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #54ADC6;
}

.IRNewsModule .IRNewsTool td.DataHover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
}

.IRNewsTool td.title {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper td.download {
    width: 33%;
}
/* ========================================================================= */



/* @media only screen =========================================================*/
@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }
}

@media only screen and (min-width: 572px) {

    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .IRDetailedSharePrice.table-look th {
        width: 45%;
    }

    .IRDetailedSharePrice.horizontal {
        display: none !important;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }

    .IRNewsModule .news-filter-box .checkbox {
        width: 70%;
        min-width: 80% !important;
        margin-top: 5px;
        background-size: initial !important;
        background-position-y: 0 !important;
    }

    .IRNewsModule .datepicker .textArea.from-label, .IRNewsModule .datepicker .textArea.to-label, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
        height: 30px;
        line-height: 30px;
    }

    .IRNewsModule .filterRow .textArea {
        min-width: 0;
        padding-right: 20px;
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .entriesPerPage {
        width: 100%;
        float: left;
    }

    .IRNewsModule .news-filter-wrapper .search-to, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-for-box {
        width: 100% !important;
    }

    .IRNewsModule .search-for-box .textArea {
        display: none;
    }

    .IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 70%;
        float: left;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 28%;
        float: right;
        min-width: 60px;
    }

    .IRNewsModule .newsSubmit {
        margin-right: 0px;
    }

    .IRNewsModule .search-for-box input {
        width: 100%;
        height: 32px;
        border: 0;
    }

    .IRNewsModule .IRNewsTool .time {
        display: none;
    }

    .IRNewsModule .IRNewsTool th.title {
        width: 73%;
    }

    .IRNewsModule .IRNewsTool td.title {
        width: 73%;
    }

    .IRNewsModule .IRNewsTool th.pagination, .IRNewsModule .IRNewsTool .date {
        width: 25%;
        padding-left: 5px;
    }
}

@media (max-width: 500px) {
    .chartChangePeriod {
        width: initial;
    }
}
/* End ======================================================================== */


