/* main css for all tools */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

.IRChartColour {
    stroke: #1abc9c;
    /* Chart color*/
    fill: #0f6352;
    /* Chart volume bars color*/
    color: #fff;
    /* Chart plot background*/
    background-color: #fff;
    /* Chart background color*/
    border-color: #E9E9E9;
    /* Chart Border color */
}

.table-look .Header {
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
    height: 20px;
    line-height: 20px;
}

.table-look td {
    border: none;
    border-bottom: 1px solid #eee;
    height: 20px;
    line-height: 20px;
}

.table-look th.column-first, .table-look td.column-first {
    padding-left: 10px;
}

.table-look th.column-last, .table-look td.column-last {
    padding-right: 10px;
}

.input-row {
    margin-bottom: 5px;
}

input, select, input[type=number] {
    padding: 0 7px;
}

input, input[type=number], input[type=email], input[type=text] {
    width: 187px;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type=submit] {
    color: #ffffff;
    background-color: #ffae19;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #bb9143;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
}

input[type=submit]:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 2px 4px rgba(0, 0, 0, .16);
    color: #fff;
}

input[type=number] {
    cursor: pointer;
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-control {
    width: 187px;
    padding-right: 20px;
}


/* end of main css */


/*<%ChartModule*/


/* Chart */

.table-look, .highcharts-markers.highcharts-tracker, .IRChartCCHeader, .IRChartTSRHeader, .IRChartTAHeader, .IRChartComparisonHeader, .IRChartSettingsHeader {
    /*    display: none;*/
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #ffae19;
}

.IRChartToolMenu.IRChartChangeListing {
    text-align: right;
    padding: 10px 0;
}

.IRChartChangeListing .form-control {
    border: 1px solid #eee;
    width: auto;
}

.label-wrap:before {
    -moz-user-input: enabled;
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
}


/* end of Chart*/


/*ChartModule%>*/


/*<%OrdersModule*/


/* Orders */

.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: #ffae19;
}

.IROrdersModule .orderDepthBarRight .progress-bar {
    background-color: #2c3e50;
}

.IROrdersModule table tbody tr td .progress {
    margin-bottom: -1px;
    height: 15px;
    margin-top: 5px;
}


/* end of Orders */


/*OrdersModule%>*/


/*<%TradesModule*/


/* Trades */

.IRTradesResultsTable.table-look.horizontal.responsive thead {
    width: 100%;
    table-layout: fixed;
}

.IRTradesModule tr:hover {
    background: #eee;
}

.IRTradesModule table tbody tr td span.formatArrowPos, .IRTradesModule table tbody tr td span.formatArrowNeg {
    margin-left: 5px;
}


/* end of Trades */


/*TradesModule%>*/


/*<%LookupModule*/


/* Lookup */

select.frequency, select.format {
    width: 187px;
}

.lookup-form {
    margin-bottom: 10px;
}

.lookupButtonTable {
    display: inline-block;
    float: right;
}

.js-from, .js-to {
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#lookup-table-form {
    display: none;
}

.lookup-table-form .lookupFormLeft, .lookupLayFour .lookupFormLeft {
    display: inline-block;
    margin-right: 10px;
    height: 27px;
    line-height: 27px;
}

.IRLookupModule {
    margin-bottom: 20px;
}

.IRLookupModule .input-row .input-wrapper .showLookupValue {
    width: 187px;
    height: 30px;
    padding: 0 7px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.forLay3 {
    display: none;
}

.IRLookupModule .lookupLayFour .input-row select.input-wrapper {
    width: 124px;
}

.lookupLayFour {
    display: none;
    margin-top: 2px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.lookupLayFour .result-section {
    margin: 0;
    padding: 0;
    text-align: center;
}

.result-box {
    border: 1px solid #ccc;
    margin-top: 25px;
    margin-bottom: 25px;
    display: table;
    height: 100%;
    width: 100%;
}

.single-share-left {
    float: left;
    border-right: 1px solid #ccc;
}

.single-share-right {
    float: right;
}

.single-share-left, .single-share-right {
    width: 49%;
    line-height: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 3%;
    margin-top: 3%;
}

.historShareHead {
    font-size: 20px;
    font-weight: 500;
    color: #585852;
    display: inline;
}

.dateHistorPrice, .forClosePrice {
    color: #585852;
}

.sharePriceDownload {
    width: 240px;
}

.line {
    height: 1px;
    background: #ccc;
    margin: 15px 0;
}

.lookupLayFour .input-row .input-label {
    line-height: 27px;
}

.lookupLayFour .sharePriceDownload {
    cursor: pointer;
}


/* end of Lookup *
/*LookupModule%>*/


/*<%CalcModule*/


/* Calc */

.IRChartCalcPlaceholder {
    height: 400px;
}

select.dividend {
    width: 187px;
}

.Data.yield-cell, .Data.change-amount-cell {
    color: #2bc4b6;
}

input[type="radio"]:before {
    border: 2px solid #666666;
    background-color: #666666;
}

input[type="radio"]:checked::before {
    border-color: #ffae19;
    background-color: #ffffff;
}

input[type="radio"]:checked:after {
    background-color: #ffae19;
}

.IRToolCalcResultsTable.table-look.vertical th {
    height: 30px;
    font-size: 14px;
    color: #585852;
    background: none;
    border: 0;
    font-weight: 400;
    line-height: 30px;
}

.IRToolCalcResultsTable.vertical td, .IRToolCalcResultsTable.vertical th {
    border-left: none;
    line-height: 20px;
    height: 20px;
}

.IRToolCalcResultsTable.vertical td {
    border-bottom: 1px solid #d0d4d6;
}

.IRToolCalcResultsTable.table-look.vertical th, .IRToolCalcResultsTable.table-look.vertical td {
    border-bottom: 1px solid #bbc0c4;
}


/* end of Calc */


/*CalcModule%>*/


/*<%layouthorizontal*/


/* Calc horizontal layout */

.IRCalcModule .IRChartCalcPlaceholder.horizontalLayout {
    display: none;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look {
    border-top: 0;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .calc-form {
    width: 49%;
    float: left;
    margin-top: 15px;
    padding: 0 20px 0 0;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .result-section {
    display: inline-block;
    width: 49%;
    float: right;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout #calc-form {
    width: 49%;
    float: left;
    padding: 20px 30px;
    height: 400px;
    margin-top: 0;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical {
    display: inline-table;
    width: 100%;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical tbody {
    width: 100%;
    display: table;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look {
    display: none;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout #result-section {
    float: right;
    width: 49%;
    display: block;
    padding: 0 0 0 20px;
    margin-top: 0;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout #result-section .title, .IRCalcModule .customCalcModuleWrapper.horizontalLayout .calc-form .title {
    font-size: 18px;
    font-weight: 500;
    color: #585852;
    width: 100%;
    display: block;
    border-bottom: 2px solid #1abc9c;
    line-height: 30px;
    margin-bottom: 20px;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical tr, .IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical tr:nth-child(2n) {
    background: transparent;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical {
    display: block;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical th {
    width: 50%;
    height: 30px;
    font-size: 14px;
    color: #585852;
    background: none;
    border: 0;
    font-weight: 400;
    line-height: 30px;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical td {
    width: 50%;
    text-align: right;
    height: 30px;
    font-size: 14px;
    border: 0;
    font-weight: 700;
    line-height: 20px;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical th, .IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical td {
    border-bottom: 1px solid #bbc0c4;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical tr:last-child td, .IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical tr:last-child th {
    border: 0;
}

.IRCalcModule .customCalcModuleWrapper.horizontalLayout .IRToolCalcResultsTable.table-look.vertical {
    border-bottom: 0;
    margin-top: 0;
}

.formDivider .input-row .radio label {
    display: inline;
}

.formDivider .input-row .radio label:last-child {
    margin-right: 0;
}

.formDivider .input-row label.input-label, .input-row .lookupFormLeft label {
    width: 160px;
    line-height: 29px;
}


/* end of Calc horizontal layout */


/*layouthorizontal%>*/


/*<%calcLayoutThree*/

.calculatorLayoutThree .IRToolCalcResultsTable.horizontal {
    display: none;
}

.calculatorLayoutThree .IRToolCalcResultsTable.vertical {
    display: inline-table;
}

.calculatorLayoutThree .dividend, .calculatorLayoutThree .listing, .calculatorLayoutThree .date-picker-to, .calculatorLayoutThree .date-picker-from {
    display: none;
}

.calculatorLayoutThree .Header, .calculatorLayoutThree .Data {
    display: none;
}

.calculatorLayoutThree .value, .calculatorLayoutThree .buy-value-cell {
    display: table-cell;
}

.calculatorLayoutThree .value:after {
    content: " of your holding currently stands at";
}


/*calcLayoutThree%>*/


/*<%calcLayoutFour*/

.IRChartCalcPlaceholder.calculatorLayoutFour {
    display: inline-block;
    width: 49%;
    float: left;
}

.customCalcModuleWrapper.calculatorLayoutFour {
    display: inline-block;
    width: 49%;
    float: right;
}

.calculatorLayoutFour .IRToolCalcResultsTable.horizontal {
    display: none;
}

.calculatorLayoutFour .IRToolCalcResultsTable.vertical {
    display: inline-table;
}

.calculatorLayoutFour .dividend, .calculatorLayoutFour .listing {
    display: none;
}

.calculatorLayoutFour .Header, .calculatorLayoutFour .Data {
    display: none;
}

.calculatorLayoutFour .value, .calculatorLayoutFour .buy-value-cell, .calculatorLayoutFour .price, .calculatorLayoutFour .buy-price-cell, .calculatorLayoutFour .sell-price, .calculatorLayoutFour .sell-price-cell, .calculatorLayoutFour .change-in-price, .calculatorLayoutFour .yield-cell, .calculatorLayoutFour .change, .calculatorLayoutFour .yield-change-cell {
    display: table-cell;
}


/*calcLayoutFour%>*/


/*<%calcLayoutFive*/

.customCalcModuleWrapper.calculatorLayoutFive {
    height: 800px;
}

.calculatorLayoutFive .IRToolCalcResultsTable.horizontal {
    display: none;
}

.calculatorLayoutFive .IRToolCalcResultsTable.vertical {
    display: inline-table;
    position: absolute;
    top: 370px;
}

.calculatorLayoutFive .IRToolCalcResultsTable.vertical:before {
    content: "Results";
}

.IRChartCalcPlaceholder.calculatorLayoutFive {
    height: 150px;
    top: 200px;
    width: 100%;
    position: absolute;
}

.calculatorLayoutFive .calc-form {
    position: absolute;
    top: 0;
    width: 100%;
}

.calculatorLayoutFive .dividend, .calculatorLayoutFive .listing {
    display: none;
}

.calculatorLayoutFive .IRToolCalcResultsTable.vertical:before {
    content: "Results";
    font-size: 20px;
}


/*calcLayoutFive>*/


/* ui-datepicker */

.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
    border-color: #5ed1cc;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    background: #EFBE40;
}

.ui-datepicker-unselectable .ui-state-default {
    border: 2px solid transparent;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #1abc9c;
}

.ui-state-highlight:hover, .ui-widget-content .ui-state-highlightc:hover, .ui-widget-header .ui-state-highlight:hover {
    color: #1abc9c;
}


/* end of ui-datepicker */


/*<%NewsModule*/


/* News */

.IRNewsModule {
    font-size: 14px;
    background: transparent;
}

.news-filter-wrapper {
    width: 100%;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 0 0 20px;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.IRNewsModule .search-for-box {
    width: 370px;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper select {
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 183px;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.filterRow.news-select-filter-box select.select-filter {
    width: 100%;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 370px;
    float: left;
    margin-left: 30px;
}

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-right: 15px;
    line-height: 30px;
    height: 30px;
    min-width: 370px;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    width: 100%;
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 370px;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
    margin-left: 30px;
}

.IRNewsModule .submitButton {
    width: 370px;
    margin-left: 0;
}

.IRData.IRDate.column-first {
    color: #6B6B6B !important;
}

.IRNewsTool .IRDataGroup, .IRNewsTool .IRHeaderGroup {
    height: 30px;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    width: 51%;
    height: 30px;
    text-overflow: ellipsis;
}

.IRHeaderGroup {
    border: 0;
    height: 50px;
    background-color: #1abc9c;
    color: #ffffff;
    font-weight: 700;
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
}

.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
    margin-top: 0;
    height: 30px;
}

.IRNewsPagination .IRNewsPaginationPagePrev {
    background-position: 0 50%;
    width: 70px;
}

.IRNewsPagination .IRNewsPaginationPageNext {
    background-position: 100% 1px;
    width: 70px;
}

.IRNewsTableFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    margin-top: 3px;
}

.IRDataGroup {
    border-bottom: 1px solid #d0d4d6;
}

.IRNewsTool.table-look .IRDataGroup:hover {
    background-color: #eee;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 400px;
    margin-bottom: 0;
    margin-right: 0;
    color: #000;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    width: 23px;
    margin-left: -5px;
}

.IRNewsTool .IRDataGroup:hover {
    border-bottom: none;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader, div.IRNewsTool .IRDataGroup div.IRData {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
}


/* end of News */


/*NewsModule%>*/


/*<%EmailAlertsModule*/


/* email Alert */

.IREmailAlertModule .allRNSnews {
    display: block;
    margin-top: 10px;
}
.IREmailAlertModule .checkbox.checkboxFilter {
    width: 49%;
}
.IREmailAlertModule .emailAlertCheckboxes .checkbox.checkboxFilter {
    width: 100%;
}
.emailAlertCheckboxes .checkbox-row input, .RNSNews .checkbox-row input {
    width: 0px;
    height: 20px;
    visibility: hidden;
}

.checkbox-row, .checkboxAllAlerts, .checkboxAllRNS {
    line-height: 35px;
}

.checkbox-row input {
    cursor: pointer;
}

.emailAlertUnsubscribe .input-wrapper {
    position: inherit;
    padding: 5px 0;
}

.requiredField {
    display: none;
}

.input-wrapper .failedValidation {
    border: 1px solid #DB2A2A;
}

.emailAlertsRequiredField {
    color: #1abc9c;
    font-size: 22px;
    position: absolute;
    padding-left: 5px;
}

.IREmailAlertModule .emailAlertUnsubscribe .input-wrapper span {
    display: block;
    padding: 5px 0;
}

.IREmailAlertModule .formDivider .input-row input {
    width: 93%;
}

.emailAlertUnsubscribe .input-wrapper input {
    width: 46%;
    display: inline;
}

.unsubscribe {
    display: inline;
    margin-left: 10px;
}

.subscribeBtn, .unsubscribe {
    width: 270px;
}

.container-input div {
    display: inline-block;
}

.IREmailAlertModule .input-row {
    width: 49%;
}

.container-input .input-row:first-child {
    float: left;
}

.emailAlertUnsubscribe .input-row {
    width: 100%;
}

.formDivider .subscribe-btn {
    margin-top: 10px;
}

.emailAlertUnsubscribe .input-row {
    margin-top: 0;
}

.emailAlertUnsubscribe {
    margin-top: 10px;
}

.unsubscribe {
    cursor: pointer;
}

.unsubscribe:hover {
    text-decoration: underline;
}

.popup-window {
    position: fixed;
    z-index: 300;
    display: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 60%;
    background: #fff;
    border: 1px solid rgba(232, 232, 232, 0.54);
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.22), 1px 0 9px rgba(0, 0, 0, 0.51);
}

.popup-trigger {
    display: block;
    width: 100px;
    text-align: center;
    background: #aaa;
    margin: 10px auto;
    padding: 20px;
    cursor: pointer;
}

.x-close {
    font-size: 33px;
    line-height: 1;
    float: right;
    margin-right: 8px;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.popup-window .input-row {
    text-align: center;
    width: initial;
    padding: 10px 0;
}

.popup-window .input-row .unsubscribeBtn {
    margin-top: 20px;
}

.popup-window .input-row .input-wrapper .emailAddress {
    width: 65%;
}

.popup-window .input-row .input-wrapper .messageEmail {
    position: inherit;
}

.loginBox {
    width: 100%;
    display: inline-block;
    padding-top: 15px;
}

.loginBox .loginButton {
    color: #1abc9c;
}

.loginBox .cancel {
    border: 1px solid #ccc;
    line-height: 28px;
}

.overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
    outline: 0;
}

.register-simple, .basicAlert, .emailLayoutSix, .emailLayoutSeven, .emailLayoutEight, .emailLayoutNine, .popupEmail {
    display: none;
}

.emailAlertCheckboxes div span {
    line-height: 28px;
}

.currentPriceData {
    float: right;
    margin-right: 10%;
    font-weight: 900;
    color: #666;
}

.IREmailAlertModule input.amount-radio, .IREmailAlertModule input.shares-radio {
    min-width: 0;
}

/*EmailAlertsModule%>*/


/*<%emailLayoutThree*/

.IREmailAlertModule .basicAlert .register-form .formDivider .input-row .input-wrapper.wide-input.radio input {
    width: 0;
}

.basicAlert .formDivider .input-row .input-wrapper .subscribeBtn, .basicAlert .formDivider .input-row .input-wrapper .unsubscribe {
    display: inline;
    width: 30%;
}

.basicAlert .formDivider .input-row .input-wrapper .unsubscribe {
    margin-left: 10px;
}

.basicAlert .register-form .formDivider .input-row .input-wrapper.wide-input.radio {
    margin-top: 14px;
}


/*emailLayoutThree%>*/


/*<%emailLayoutFour*/

.posterHeading {
    width: 100%;
    height: 230px;
    background: #1abc9c;
    display: inline-block;
    position: relative;
}

.posterHeading i {
    width: 140px;
    height: 140px;
    background: url("../appFiles/images/getEmail.svg") center center no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-size: contain;
}

.popupEmail .textBox {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    line-height: initial;
}

.popupEmail .textBox span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.popupEmail .register-button-popup {
    color: #ffffff;
    background-color: #ffae19;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #bb9143;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    width: 100px;
    width: 180px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 50px;
}

.popupEmail .popupWindow {
    position: absolute;
    display: none;
    width: 80%;
    background: #fff;
    z-index: 4;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    padding-right: 0;
}

.popupEmail .input-row {
    width: 50%;
}

.popupEmail .popupWindow .formDivider {
    margin-bottom: 15px;
}

.popupEmail .popupWindow .x-close {
    position: absolute;
    right: 0;
    top: 0;
}

.popupEmail .overlayWindow {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
    outline: 0;
}

.popupEmail .popupWindow .subscribe-btn {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 5px;
}
/*emailLayoutFour%>*/


/*<%emailLayoutFive*/

.twoSides {
    display: none;
}

.twoSides .container-input {
    display: inline-block;
}

.twoSides .container-input .input-row:first-child {
    float: right;
    margin-top: 25px;
}

.twoSides .container-input .RNSNews {
    float: left;
    width: 49%;
}

.twoSides .container-input .RNSNews .checkbox-row {
    width: 100%;
}

.IREmailAlertModule .twoSides .formDivider .subscribeBtn {
    max-width: 270px;
}

.twoSides .messageEmail, .twoSides .messageFirstName, .twoSides .messageSurname {
    right: 0;
}

.twoSides .borderBottom {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    display: inline-block;
}

.IREmailAlertModule .twoSides .formDivider .input-row input {
    width: 100%;
}


/*emailLayoutFive%>*/


/*<%emailLayoutSix*/

.emailLayoutSix .input-wrapper.inline {
    display: table;
    position: inherit;
    width: 50%;
    margin-bottom: 15px;
}

.emailLayoutSix .formDivider .input-row label.input-label, .emailLayoutSix .input-row .lookupFormLeft label {
    width: 150px;
    line-height: 29px;
    display: inline-block;
    float: left;
}

.IREmailAlertModule .input-row.emailLayoutSix {
    width: 100%;
}

.emailLayoutSix .container-input div {
    display: block;
}

.emailLayoutSix .container-input .input-row:first-child {
    float: none;
}

.IREmailAlertModule .emailLayoutSix .formDivider .input-row .subscribeBtn, .IREmailAlertModule .emailLayoutSix .formDivider .input-row .unsubscribe, .emailAlertUnsubscribe .input-wrapper .unsubscribe {
    width: 93%;
}

.emailLayoutSix .unsubscribe {
    text-align: center;
    display: inline-block;
    padding-right: 15px;
    margin-top: 10px;
}

.IREmailAlertModule .emailLayoutSix .input-row {
    height: auto;
    margin-top: 0;
    width: 100%;
}


/*<%emailLayoutSix*/


/*<%emailLayoutSeven*/

.emailLayoutSeven .emailAlertCheckboxes {
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

.emailLayoutSeven p, .email-current-price {
    padding-left: 25px;
    line-height: 25px;
    color: #aaa;
}

.emailLayoutSeven .emailAlertCheckboxes .checkbox-row input[type=number] {
    visibility: visible;
    margin: 0 20px;
}

.emailLayoutSeven .emailAlertCheckboxes .checkbox-row .checkbox {
    margin-top: 10px;
}

.email-current-price {
    width: 190px;
}
.emailLayoutSeven .register-form {
    margin-bottom: 5px;
}

/*emailLayoutSeven%>*/


/*<%emailLayoutEight*/

.emailLayoutEight .formDivider {
    margin-bottom: 15px;
}

.emailLayoutEight .formDivider.subscribe-btn .input-wrapper .subscribeBtn {
    width: 225px;
}

.emailLayoutEight .emailAlertCheckboxes .checkbox-row .checkbox.checkboxFilter span {
    line-height: 27px;
}

.IREmailAlertModule .emailLayoutEight .input-row {
    height: auto;
    margin-top: 0;
}

.currencyForLowHigh {
    float: right;
    margin-right: 10px;
    ;
}

div .currentPriceLowHigh {
    width: 10px;
    font-weight: 200;
    text-align: right;
    float: right;
    margin-right: 10%;
}

.inlinePrice {
    width: 100%;
    display: inline-block;
    margin: 5px 0;
}

.stockInfoDataContainer {
    display: none;
}

.withChangePerc {
    display: none;
}

.withTresholdAlerts {
    margin-bottom: 10px;
}

.emailAlertCheckboxes .inputChangePercentage {
    display: none;
    width: 10px;
    text-align: right;
    margin-top: 5px;
}

.emailLayoutEight .formDivider .container-input .input-row {
    margin-bottom: 15px;
}


/*emailLayoutEight%>*/


/*<%emailLayoutNine*/

.emailLayoutNine .emailAlertCheckboxes {
    margin: 10px 0;
}

.emailLayoutNine p, .email-current-price {
    padding-left: 25px;
    line-height: 25px;
    color: #aaa;
    padding-bottom: 10px;
}

.emailLayoutNine .emailAlertCheckboxes .checkbox-row input[type=number] {
    visibility: visible;
    margin: 0 20px;
}

.IREmailAlertModule .emailLayoutNine .input-wrapper {
    margin-bottom: 9px;
}

.email-low-high {
    display: inline-block;
    width: 70px;
    padding-left: 25px;
    line-height: 25px;
    color: #aaa;
}

.email-current-price {
    width: 190px;
}


/*emailLayoutNine%>*/


/* end of email Alert */


/* @media */


/*<%NewsModule*/

@media only screen and (max-width: 820px) {
    .IRNewsModule .news-filter-box .checkbox {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .IRNewsModule select.to-year.date-select {
        float: right;
        width: 49%;
    }
    .IRNewsModule select.to-month.date-select {
        width: 48%;
    }
    .IRNewsModule select.from-month.date-select {
        width: 44%;
    }
    .IRNewsModule select.from-year.date-select {
        width: 49%;
        margin-left: 5px;
    }
    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }
    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to, .IRNewsModule .news-filter-wrapper .search-per-page {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
    }
    .IRNewsModule .news-select-filter-box .select-date {
        float: none;
    }
    .IRNewsModule .news-filter-wrapper .searchText {
        width: 95%;
        min-width: inherit;
    }
    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .search-to {
        float: right;
    }
    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
        min-width: inherit;
    }
    .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
        width: 45%;
        float: right;
    }
    .IRNewsModule .datepicker {
        width: 100%;
    }
    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        width: 53%;
    }
    .IRNewsModule .submitButton {
        width: 50%;
    }
    .news-filter-wrapper .submitButton input.newsSubmit {
        width: 95%;
        min-width: inherit;
    }
}


/*NewsModule%>*/


/*<%layouthorizontal*/

@media only screen and (max-width: 800px) {
    .IRCalcModule .customCalcModuleWrapper.horizontalLayout .calc-form {
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .IRCalcModule .customCalcModuleWrapper.horizontalLayout .result-section {
        display: block;
        width: 100%;
        float: right;
    }
    .IRNewsModule .news-select-filter-box {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 710px) {
    .IRCalcModule .customCalcModuleWrapper.horizontalLayout .calc-form {
        width: 100%;
        padding: 0;
    }
    .IRCalcModule .customCalcModuleWrapper.horizontalLayout #result-section {
        width: 100%;
        padding: 0
    }
}


/*layouthorizontal%>*/


/*<%NewsModule*/

@media only screen and (max-width: 600px) {
    .IRHeader.column-last.file-type, .IRHeader.IRTitle {
        display: none;
    }
    .IRNewsModule .news-filter-wrapper .searchText {
        width: 100%;
    }
    .news-filter-wrapper .submitButton input.newsSubmit {
        width: 100%;
    }
    .IRNewsModule .news-filter-box .checkbox {
        width: 70%;
        margin-top: 0;
        white-space: nowrap;
    }
    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .entriesPerPage {
        width: 100%;
        float: left;
        margin-left: 0;
    }
    .news-filter-wrapper {
        margin-bottom: 10px;
        padding: 0;
    }
    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }
    .IRNewsPaginationPageNew {
        font-size: 14px;
        letter-spacing: 1px;
        width: 30px;
    }
    div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        width: 100%;
        height: auto;
    }
    div.IRNewsTool .IRDataGroup {
        background-color: #fff;
        border: 0;
        font-weight: bold;
        border-bottom: 2px solid #E9E9E9;
        border-top: 0;
        height: 100%;
    }
    .IRNewsModule .search-for-box {
        width: 100%;
        margin-bottom: 10px;
    }
    .IRNewsModule .submitButton {
        width: 100%;
    }
    .IRNewsTool {
        padding: 0;
    }
}

@media screen and (min-width: 648px) and (max-width: 800px) {
    .IRNewsModule .news-filter-wrapper .submitButton input.newsSubmit {
        margin-top: 10px;
    }
}


/*NewsModule%>*/


/*<%ChartModule*/

@media screen and (min-width: 596px) {
    .IRChartMenuTrigger.icon {
        display: none;
    }
}


/*ChartModule%>*/


/*<%LookupModule*/

@media screen and (max-width: 700px) {
    .lookup-table-form .lookupFormLeft {
        display: block;
        margin-bottom: 5px;
    }
    .lookupFormLeft:nth-child(2) input {
        margin-left: 17px;
    }
    .lookupButtonTable {
        float: left;
        margin-left: 38px;
    }
    .lookupButtonTable input {
        width: 187px;
        margin: 5px 0 10px 0;
    }
    .lookupButtonTable {
        float: none;
    }
    .lookupLayFour .lookupButtonTable {
        float: right;
    }
}


/*LookupModule%>*/


/*<%calcLayoutFour*/

@media only screen and (max-width: 585px) {
    .IRChartCalcPlaceholder.calculatorLayoutFour {
        display: block;
        width: 100%;
        float: none;
        height: 150px;
    }
    .customCalcModuleWrapper.calculatorLayoutFour {
        display: block;
        width: 100%;
        float: none;
    }
}


/*calcLayoutFour%>*/


/*<%CalcModule*/

@media only screen and (max-width: 571px) {
    .IRToolCalcResultsTable.vertical {
        display: inline-block;
    }
    .table-look th, .table-look td {
        padding-right: 5px;
    }
}


/*CalcModule%>*/


/*<%ChartModule*/

@media screen and (max-width: 500px) {
    .IRChartNavigation {
        width: 100%;
    }
    .IRChartView, .IRChartTA, .IRChartCC, .IRChartComparison, .IRChartTSR, .IRChartSettings {
        float: none;
        display: inline-block;
        margin: 0 auto;
    }
    .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR, .IRChartNavigation .IRChartCC, .IRChartNavigation .IRChartSettings, .IRChartNavigation .IRChartTA {
        right: 0;
        position: relative;
    }
    .IRChartNavigation .IRChartView .IRChartViewBody, .IRChartNavigation .IRChartComparison .IRChartComparisonBody, .IRChartNavigation .IRChartTA .IRChartTABody, .IRChartNavigation .IRChartCC .IRChartCCBody, .IRChartNavigation .IRChartSettings .IRChartSettingsBody, .IRChartNavigation .IRChartTSR .IRChartTSRHeader, .IRChartNavigation .IRChartListings .IRChartListingsBody {
        position: relative;
        z-index: 10;
        right: 0;
        top: 0;
    }
}


/*ChartModule%>*/


/*<%OrdersModule*/

@media only screen and (max-width: 480px) {
    .IROrdersModule table tbody tr td .progress {
        display: none;
    }
    .IROrdersModule table tbody tr th.Header.bid, .IROrdersModule table tbody tr td.Data.bid, .IROrdersModule table tbody tr th.Header.ask, .IROrdersModule table tbody tr td.Data.ask {
        text-align: center;
        padding-left: 0;
    }
}


/*OrdersModule%>*/


/*<%ChartModule*/

@media screen and (max-width: 450px) {
    .IRChartCC, .IRChartTSR, .IRChartTA, .IRChartComparison, .IRChartSettings {
        display: none;
    }
}


/*ChartModule%>*/


/*<%NewsModule*/

@media only screen and (max-width: 450px) {
    .IRNewsModule select.from-year.date-select {
        margin-left: 0;
    }
    .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        float: none;
        width: 100%;
    }
    .IRNewsModule .news-select-filter-box .from-year, .IRNewsModule .news-select-filter-box .to-year {
        width: 60px;
    }
    .IRNewsModule .news-select-filter-box .from-month, .IRNewsModule .news-select-filter-box .to-month {
        width: 100px;
    }
    .IRNewsModule .select-date select.from-month.date-select {
        width: 48%;
        margin-right: 3%;
    }
}


/*NewsModule%>*/


/*<%EmailAlertsModule*/

@media screen and (max-width: 640px) {
    .formDivider.subscribe-btn .input-row {
        width: 100%;
    }
    .IREmailAlertModule .checkbox.checkboxFilter {
        width: 100%;
    }
    .emailAlertCheckboxes {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .emailAlertCheckboxes {
        width: 100%;
    }
    .formDivider.subscribe-btn .input-row .input-wrapper span.unsubscribe {
        display: block;
        margin: 15px auto;
        text-align: center;
    }
    .IREmailAlertModule input.inputChangePercentage {
        min-width: 20%;
    }
    .popup-window {
        width: 95%;
    }

    .subscribeBtn, .unsubscribe {
        width: 100%;
    }

    .popupEmail .popupWindow {
        padding-right: 20px;
        width: 95%;
    }
}

@media only screen and (max-width: 400px) {
    .IREmailAlertModule .input-row {
        width: 100%;
    }
    .unsubscribe {
        display: block;
        margin: 10px auto;
        margin-bottom: 0;
        text-align: center;
    }
}


/*EmailAlertsModule%>*/


/*<%emailLayoutThree*/

@media screen and (max-width: 320px) {
    .IREmailAlertModule .basicAlert .register-form .formDivider .input-row .input-wrapper.wide-input.radio input {
        display: inline;
    }
}


/*emailLayoutThree%>*/


/*<%emailLayoutFive*/
@media screen and (max-width: 400px) {
    .twoSides .container-input .RNSNews {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .IREmailAlertModule .twoSides .formDivider .subscribeBtn {
        margin-bottom: 20px;
    }
}


/*emailLayoutFive%>*/


/*<%emailLayoutSix*/

@media only screen and (max-width: 400px) {
    .emailLayoutSix .formDivider .input-row label.input-label, .emailLayoutSix .input-row .lookupFormLeft label {
        float: none;
    }
    .emailLayoutSix .input-wrapper.inline {
        width: 100%;
        margin-bottom: 10px;
    }
    .emailLayoutSix .unsubscribe {
        padding: 0;
    }
    .popup-window .input-row {
        padding: 14px;
    }
}


/*emailLayoutSix%>*/


/*<%emailLayoutEight*/

@media screen and (max-width: 320px) {
    .emailLayoutEight .formDivider.subscribe-btn .input-wrapper span.unsubscribe {
        display: block;
        margin: 15px auto;
        text-align: center;
    }
    .IREmailAlertModule .emailLayoutEight .formDivider .subscribeBtn {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .emailLayoutEight .formDivider .container-input .input-row {
        margin-bottom: 15px;
    }
}


/*emailLayoutEight%>*/


/*<%emailLayoutNine*/

@media only screen and (max-width: 400px) {
    .EmailLayoutNine .emailAlertCheckboxes {
        width: 100%;
    }
}


/*emailLayoutNine%>*/


/*<%ChartModule*/

@media only screen and (max-width: 767px) {
    .IRChartChangeListing .form-control {
        width: 100%;
    }
}


/*ChartModule%>*/

@media screen and (max-width: 310px) {
    select, input[type=number] {
        min-width: 51px;
        padding: 0 3px;
    }
    .radio label {
        padding-right: 10px;
    }
    .radioBtn {
        margin: 0 19px 0 0;
    }
    input[type=submit] {
        width: 100%;
    }
    .input-wrapper {
        width: 100%;
        text-align: right;
    }
    select.dividend, select.form-control, select.frequency, select.format, input.amount-invested {
        width: 160px;
    }
    .lookupButtonTable input {
        width: 187px;
    }
    .showLookupValue {
        width: 160px !important;
        float: right;
    }
}
