/* Fonts */
@font-face { font-family: DINWeb; src: url("inc/fonts/DINWeb.eot"); }
@font-face { font-family: DINWeb; src: url("inc/fonts/DINWeb.woff") format("woff"); }

@font-face { font-family: DINWeb-Light; src: url("inc/fonts/DINWeb-Light.eot"); }
@font-face { font-family: DINWeb-Light; src: url("inc/fonts/DINWeb-Light.woff") format("woff"); }

@font-face { font-family: DINWeb-Medium; src: url("inc/fonts/DINWeb-Medium.eot"); }
@font-face { font-family: DINWeb-Medium; src: url("inc/fonts/DINWeb-Medium.woff") format("woff"); }

@font-face { font-family: DINWeb-Bold; src: url("inc/fonts/DINWeb-Bold.eot"); }
@font-face { font-family: DINWeb-Bold; src: url("inc/fonts/DINWeb-Bold.woff") format("woff"); }
/* end of fonts */


body, * {
    font-family: DINWeb-Light, Arial, Helvetica, sans-serif;
}

.cleanLink, .cleanLink:hover {
    text-decoration: none;
    color: #0e78be;
}



body, h3 {
    font-family: DINWeb-Light, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #647783;
    line-height: 25px;
}

.IREmailAlerts {
    max-width: 767px;
}

h2,
h2 .loginText,
h2 .subheader3 {
    font-family: DINWeb-Bold, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
}



.divideLine {
    margin-top: 20px;
    line-height: 10px;
    height: 10px;
    border-top: 1px solid #ccc;
}


.checkbox {
    height: 22px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 31px;
    background-image: url('inc/checkbox_false_1.png');
    background-repeat: no-repeat;
    cursor: pointer;
    min-width: 145px;
    margin-top: 0px;
    margin-bottom: 0;
    background-size: 14px;
    background-position: center left;
}

    .checkbox.checked {
        background-image: url('inc/checkbox_true_1.png');
    }

.subGroupContactInfoWrapper {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.subGroup {
    width: 50%;
    padding-bottom: 20px;
    float: left;
}

    .subGroup.first {
        border-top: none;
    }

.contactDetails {
    width: 50%;
}

    .contactDetails .inputText {
        width: 55%;
    }

.checkbox {
    width: 100%;
    float: left;
    margin-left: 10px;
}

.clearBoth {
    clear: both;
}

.IREmailAlerts .formRegister {
    float: right;
}

.styledButton {
    cursor: pointer;
    background-color: #de076e;
    background-image: -moz-linear-gradient(center top, #de076e, #de076e);
    border: 1px solid transparent;
    color: #ffffff;
    height: 33px !important;
    font-size: 18px;
    font-weight: normal;
    margin-right: 15px;
    padding: 2px 20px !important;
    -webkit-appearance: none;
}

    .styledButton:hover {
    }

.requiredSymbol {
    display: none;
    width: 10px;
    color: red;
    float: right;
}

select {
    width: 101%;
    border: 1px solid #aaa;
    height: 25px;
    color: inherit;
    cursor: pointer;
    background-image: url(images/selectDown.png);
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-appearance: button;
}

input[type=text].informationInput {
    text-indent: 5px;
    height: 23px;
}

.blockInner {
    margin-top: 5px;
}

.blockOuter .subGroup {
    padding-bottom: 0;
}

.inputTextTitle {
    line-height: 25px;
    width: 40%;
}

#allRNSnews {
    font-family: DINWeb-Bold;
}

.requiredFieldMSG {
    color: red;
    text-decoration: none;
}




.semiTransparantOverlay, .transparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 900;
}

.registrationLightBox, .subPageLoginConfirm {
    z-index: 999;
    max-width: 400px;
}

.blockNoBorder.pageVerification_placedAtSubmitbutton {
        width: 100%;
    float: initial;
    margin-right: 0;
}

#dialogueBox_register{width: 90%; margin-left: auto; margin-right: auto; position: relative;}
.subPageLoginConfirm, .dialogueBox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    left: 0;
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 25px;
}

.registrationLightBox {
    word-break: normal;
    white-space: normal;
    width: 100%;
}
















@media screen and (max-width: 806px) {
    .checkbox {
        /*width: 42%;*/
        min-width: 42%;
    }
}


@media screen and (max-width: 500px) {
    .subGroup, .contactDetails {
        width: 100%;
    }
}


@media screen and (max-width: 410px) {
    .checkbox {
        width: 70%;
        min-width: 80%;
    }

    .outerWrapper {
        min-width: 300px;
    }
}


@media screen and (max-width: 350px) {
    .pageRegister {
        padding-left: 1%;
    }

        .pageRegister .inputText {
            width: 98%;
        }
}
