
body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000000;
}

.readingDirectionLRT {
    overflow: hidden;
}

h2 {
    color: #1c1e22;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
}


h3 {
    font-size: 86%;
    padding: 40px 0 20px 0;
    border-bottom: 1px solid #e9e9e9;
}

#calc-form, #lookup-form {
    font-size: 13px;
}

/*select{min-width: 50px;}*/

input[type=submit] {
    height: 35px;
    color: #fff;
    font-weight: 400;
    box-shadow: none !important;
    -webkit-appearance: none;
    /*background: #A7A7A7;
    color: #fff;
    cursor: pointer;
    box-shadow: none !important;
    */
    /*border: 1px solid #456477;
    border-top-color: #50748a;
    border-left-color: #50748a;*/
    border-radius: 4px;
    background-color: #1390A4;
}

    input[type=submit]:hover {
        color: #fff;
        background: #26B9D1;
    }

.miniquoteDisclaimer .disclaimer {
    text-align: left;
    padding: 5px;
    float: left;
}

.IRChartColour {
    color: #1390A4;
    /*color: rgb(0, 166, 213);*/
}

.updated {
    text-align: right;
    font-size: 11px;
}

.updatedText {
    font-weight: bold;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #1390A4;
    color: #fff;
}

.timestamp {
    font-size: 84.5%;
    padding-top: 10px;
}

.table-look {
    border: none;
}

    .table-look th, .table-look td {
        /*font-weight: 400;*/
        font-style: normal;
        line-height: 20px;
        border: none;
        text-align: left;
    }

    .table-look th {
        font-weight: normal;
        background-color: #1390A4;
        padding: 3px 3px 3px 3px;
        color: #FFFFFF;
        line-height: 20px;
        border-bottom: 1px solid #f6f6f6;
        font-size: 13px;
    }

    .table-look td {
        padding: 3px 3px 3px 3px;
        font-size: 13px;
        /*background: #FFFFFF;*/
        border-bottom: 1px solid #f6f6f6;
    }

th.Header.ask.IRElement4, td.Data.ask.IRElement4 {
    text-align: left;
}

.chartDisclaimer, .performanceDisclaimer, .calcDisclaimer, .lookupDisclaimer {
    display: none;
}

/* IRMiniquoteModule ===================================================== */
.IRMiniquoteModule {
    /*max-width: 270px;*/
    font-size: 14px;
    text-align: center;
    /*height: 280px;*/
}

    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        font-size: 25px;
        margin: 5px 0 10px 0;
        font-weight: normal;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    padding-top: 12px;
    padding: 5px;
}

.IRMiniQuoteQuoteModule .last {
    font-size: 48px;
    line-height: 62px;
    height: 74px;
    float: left;
    margin-left: 0px;
    background-color: #00A6D5;
    color: #fff;
    width: 100%;
}

.IRMiniQuoteQuoteModule .currency {
    color: #00A6D5;
    font-size: 18px;
    /*float: left;*/
    margin-top: 18px;
    padding-left: 5px;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.IRMiniQuoteQuoteModule .change {
    margin-top: 15px;
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule.table-look {
    width: initial;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    /*background-image: url(../2210/images/arrow.png);*/
    width: 11px;
    height: 16px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #00c8d7;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}

/*    TRADES   =================================*/
.disclaimer disclaimer-IRTrades {
    top: 4px;
}

.IRTradesModule tr:nth-child(even) {
    background-color: #f6f6f6;
}

.IRTradesModule {
    height: 465px;
    padding-top: 2px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*    Profile   =================================*/
#profile-table tr:nth-child(odd) {
    background-color: #f6f6f6;
}

/* IRLookuModule ================================ */

.IRLookupModule .IRLookupResultsTable.horizontal th,
.IRLookupModule .IRLookupResultsTable.horizontal td {
    font-family: arial, sans-serif;
    /*font-weight: 400;
    font-style: normal;*/
    border-bottom: 1px solid #f6f6f6;
    line-height: 20px;
    /*border: none;*/
    color: #000000;
}


.IRLookupModule .IRLookupResultsTable.horizontal th {
    color: #ffffff;
    border-bottom: 1px solid #e9e9e9;
}

.IRLookupModule .IRLookupResultsTable.horizontal tr:nth-child(odd) {
    background-color: #f6f6f6;
}

.IRPerformanceModule .Header {
    text-align: right;
}

.formatArrowNeg, .formatArrowPos {
    width: 11px;
    /*height: 22px;*/
    display: inline-block;
    background-position: center center;
    margin-right: 3px;
}

.formatArrowPos {
    /*background-image: url(../images/arrow_up.png);*/
    background-repeat: no-repeat;
    color: #91c453;
}

.formatArrowNeg {
    /*background-image: url(../images/arrow_down.png);*/
    background-repeat: no-repeat;
    color: red;
}

.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label {
    float: left;
    line-height: 24px;
    height: 24px;
}

.IRCalcModule label, .IRCalcModule input[type="radio"] {
    float: left;
    line-height: 24px;
    height: 24px;
}




.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #f6f6f6;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
    border-bottom: 1px solid #f6f6f6;
    background-color: #ffffff;
}
/* ===========  END  ============*/

/*  ORDERS============================================== */
.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: #1390A4;
}

.IROrdersModule .orderDepthBarRight .progress-bar {
    background-color: #848484;
}

th.Header.askSize, td.Data.askSize, th.Header.ask, td.Data.ask, th.Header.askCount, td.Data.askCount {
    text-align: right;
}

/* IRQuoteDualModule ======================================= */
.IRQuoteDualModule.table-look th, .IRQuoteDualModule.table-look td {
    font-size: 10px;
}

.IRQuoteDualModule.table-look th {
    line-height: 13px;
    font-size: 10px;
    background-color: #CED2E5;
    color: #00348B;
    text-align: center;
    font-weight: normal;
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #FFFFFF;
}

.IRQuoteDualModule.table-look td {
    line-height: 13px;
    background-color: #E5E7F1;
    color: #00348B;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.IRQuoteDualModule .exchange {
    width: 108px;
}

.IRQuoteDualModule.table-look .column-first {
    text-align: left;
}

.IRQuoteDualModule th.column-first, .IRQuoteDualModule th.column-last {
    visibility: hidden;
}

.IRQuoteDualModule .column-last {
    width: 60px;
}
/* End ===================================================== */

.IRCalcModule select {
    min-width: 50px;
}


/* Media Queries =========================================== */



/*@media screen and (max-width: 600px) {


    iframe.calc {
        height: 500px !important;
    }

    .horizontal.customResponsive .IRElement8 {
        display: none;
    }
}*/






@media only screen and (max-width: 472px) {

    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: block !important;
    }

    .IRQuoteVerticalModule {
        display: block;
    }

    .IRDetailedSharePrice.vertical {
        display: block;
    }

    h3.vertical-header {
        display: block;
    }

    .IRCalcModule .vertical {
        display: block;
    }

    .divideLine.vertical {
        display: block;
    }
}



/*@media only screen and (max-width: 572px) {
    .horizontal-header {
        display: none;
    }

    table.IRDetailedSharePrice.table-look.horizontal.responsive-flip {
        display: none;
    }
}*/

@media (max-width: 500px) {
    .horizontal.customResponsive .IRElement7 {
        display: none;
    }
}

@media (max-width: 400px) {
    .horizontal.customResponsive .IRElement5, .horizontal.customResponsive .IRElement6 {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }

    .IRTradesModule td.Data.volume, .IRTradesModule th.Header.volume {
        display: none;
    }

    .horizontal.customResponsive .IRElement3, .horizontal.customResponsive .IRElement4 {
        display: none;
    }

    .IRQuoteModule th.change, .IRQuoteModule td.change {
        text-align: right;
    }
}

.disclaimer-IRChart, .disclaimer-IRPerformance, .disclaimer-IRQuote, .disclaimer-IROrders, .disclaimer-IRTrades, .disclaimer-IRCalc {
    display: none !important;
}


/* End ===================================================== */
