@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-Thin.eot');
	src: url('FSAlbert/FSAlbertWeb-Thin.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-ThinItalic.eot');
	src: url('FSAlbert/FSAlbertWeb-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-Light.eot');
	src: url('FSAlbert/FSAlbertWeb-Light.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-LightItalic.eot');
	src: url('FSAlbert/FSAlbertWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-Regular.eot');
	src: url('FSAlbert/FSAlbertWeb-Regular.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-Italic.eot');
	src: url('FSAlbert/FSAlbertWeb-Italic.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-Bold.eot');
	src: url('FSAlbert/FSAlbertWeb-Bold.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-BoldItalic.eot');
	src: url('FSAlbert/FSAlbertWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'FS Albert Web';
	src: url('FSAlbert/FSAlbertWeb-ExtraBold.eot');
	src: url('FSAlbert/FSAlbertWeb-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('FSAlbert/FSAlbertWeb-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
