body {
    font-family: Verdana;
    font-size: 11px;
    color: #333;
}
.table-look-horizontal {
    border: 1px solid #C8C8C8;
}

    .table-look-horizontal th, .table-look-horizontal td {
        height: 20px;
        line-height: 20px;
		border: none;
    }

    .table-look-horizontal th {
        background-color: #EDEDED;
        font-weight: bold;
        border-bottom: 1px solid #C8C8C8;
    }
    .table-look-horizontal td {
        border-bottom: 1px solid #C8C8C8;    
    }

/*body {
    font-family: Verdana;
    font-size: 11px;
    color: #333;
}

.table-look-horizontal {
    
}

    .table-look-horizontal th, .table-look-horizontal td {
        height: 20px;
        line-height: 20px;
    }

    .table-look-horizontal th {
        background-color: #EDEDED;
        font-weight: bold;
        border-bottom: 1px solid #C8C8C8;
    }
    .table-look-horizontal td {
        border-bottom: 1px solid #C8C8C8;    
    }




.chartNavBarRange {
    border-top: 1px;
}

.chartNavBarRange {
    top: -94px;
    margin-top: 5px;
    border-top: 1px solid #;
}

.chartChangePeriod {
    top: 1px;
}


.chartChangePeriod div {
    padding: 2px;
    z-index: 100;
}
.chartChangePeriod div:hover {
    
    background-color: #DFDFDF;

}*/

.chartChangePeriod {
    
}

.IRChartClientName {
    border-color: #C8C8C8;
    color: #333;
    font-weight: bold;
    background-color: #F5F5F5;
}
