<!--
body {
    font: 11pt Arial;
}

.release_attachment_thumbnails {
}

.gnw_uline {
    border-bottom: solid black 1.0pt !important;
}

.gnw_ulinetop {
    border-top: solid black 1.0pt !important;
}

.gnw_dline {
    border-bottom: double black 2.5pt !important;
}

.gnw_dlinetop {
    border-top: double black 2.5pt !important;
}

.gnw_indent1 {
    padding-left: 40.0px !important;
}

.gnw_indent2 {
    padding-left: 80.0px !important;
}

.gnw_indent3 {
    padding-left: 120.0px !important;
}

.gnw_indent4 {
    padding-left: 160.0px !important;
}

.gnw_indent5 {
    padding-left: 200.0px !important;
}

.gnw_indent6 {
    padding-left: 240.0px !important;
}

td.gnw_indent1 {
    padding-left: 10.0px !important;
}

td.gnw_indent2 {
    padding-left: 20.0px !important;
}

td.gnw_indent3 {
    padding-left: 30.0px !important;
}

td.gnw_indent4 {
    padding-left: 40.0px !important;
}

td.gnw_indent5 {
    padding-left: 50.0px !important;
}

td.gnw_indent6 {
    padding-left: 60.0px !important;
}

.contacts {
    font: 11pt Arial;
}

h3.gnw_heading {
    font: Arial;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    margin-top: 18px;
}

h4.gnw_subhead {
    font: Arial;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
}

.gnw_colhead {
    font: 11pt Arial;
    text-align: center;
}

.gnw_colhead_uline {
    font: 11pt Arial;
    text-align: center;
    border-bottom: solid black 1.0pt;
}

.gnw_colhead_ulinetop {
    font: 11pt Arial;
    text-align: center;
    border-top: solid black 1.0pt;
}

.gnw_colhead_dline {
    font: 11pt Arial;
    text-align: center;
    border-bottom: double black 2.5pt;
}

.gnw_colhead_dlinetop {
    font: 11pt Arial;
    text-align: center;
    border-top: double black 2.5pt;
}

.gnw_label {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
}

.gnw_label_uline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
}

.gnw_label_ulinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-top: solid black 1.0pt;
}

.gnw_label_uline_i10 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-bottom: solid black 1.0pt;
}

.gnw_label_uline_i15 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-bottom: solid black 1.0pt;
}

.gnw_label_uline_i20 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-bottom: solid black 1.0pt;
}

.gnw_label_uline_i25 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-bottom: solid black 1.0pt;
}

.gnw_label_uline_i30 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-bottom: solid black 1.0pt;
}

.gnw_label_dline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
}

.gnw_label_dlinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-top: double black 2.5pt;
}

.gnw_label_i10 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 10.0px;
}

.gnw_label_i15 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 15.0px;
}

.gnw_label_i20 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 20.0px;
}

.gnw_label_i25 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 25.0px;
}

.gnw_label_i30 {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 30.0px;
}

.gnw_num {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
}

.gnw_num_uline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-bottom: solid black 1.0pt;
}

.gnw_num_ulinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-top: solid black 1.0pt;
}

.gnw_num_dline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-bottom: double black 2.5pt;
}

.gnw_num_dlinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-top: double black 2.5pt;
}

.gnw_right {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
}

.gnw_right_uline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-bottom: solid black 1.0pt;
}

.gnw_right_ulinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-top: solid black 1.0pt;
}

.gnw_right_dline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-bottom: double black 2.5pt;
}

.gnw_right_dlinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: right;
    border-top: double black 2.5pt;
}

.gnw_data {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    white-space: nowrap;
}

.gnw_data_uline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
}

.gnw_data_ulinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-top: solid black 1.0pt;
}

.gnw_data_dline {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
}

.gnw_data_dlinetop {
    font: 11pt Arial;
    vertical-align: bottom;
    text-align: left;
    border-top: double black 2.5pt;
}

.gnw_news_media_box {
    margin-top: 15px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    border-width: 1px;
    border-color: #A9A9A9;
    border-style: solid;
}

.gnw_media_caption {
    font-size: 8pt;
    font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

.gnw_media_bgcolor {
    background-color: transparent;
}

.gnw_table {
    border-collapse: separate;
    border-spacing: 0px;
}

.gnw_videotitle {
    font: bold 12pt Arial;
    color: #1d5296;
}

.gnw_heading {
    font: 16px Arial;
    text-align: center;
}

.gnw_subhead {
    font: 12px Arial;
    text-align: center;
}

.gnw_align_center {
    text-align: center !important;
}

.gnw_align_justify {
    text-align: justify !important;
}

.gnw_align_left {
    text-align: left !important;
}

.gnw_align_right {
    text-align: right !important;
}

.gnw_border_bottom_double {
    border-bottom: double black 3px !important;
}

.gnw_border_bottom_solid {
    border-bottom: solid black 1px !important;
}

.gnw_border_left_double {
    border-left: double black 3px !important;
}

.gnw_border_left_solid {
    border-left: solid black 1px !important;
}

.gnw_border_right_double {
    border-right: double black 3px !important;
}

.gnw_border_right_solid {
    border-right: solid black 1px !important;
}

.gnw_border_top_double {
    border-top: double black 3px !important;
}

.gnw_border_top_solid {
    border-top: solid black 1px !important;
}

.gnw_padding_left_none {
    padding-left: 0 !important;
}

.gnw_padding_right_none {
    padding-right: 0 !important;
}

.gnw_table_border_collapse td {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.gnw_table_border_collapse {
    border-collapse: collapse !important;
}

.gnw_vertical_align_bottom {
    vertical-align: bottom !important;
}

.gnw_vertical_align_middle {
    vertical-align: middle !important;
}

.gnw_vertical_align_top {
    vertical-align: top !important;
}


-->

<!--
.label, td.tdLabel label, label {
    font-family: verdana, arial;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    padding-top: 4px;
    margin-top: 4px;
}

-->
<!--
td.footer, .footer {
    font-family: verdana, arial;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    padding-top: 4px;
    margin-top: 4px;
    color: #888888;
    font-size: 10px;
}

    -->
    <!--
    .footer a, .footer a:link {
        color: #336699;
    }

-->
<!--
.IRToolArticleLogo {
    text-align: right;
}

.newsBorder {
    width: 620px;
    border: 1px solid #000000;
    padding: 10px;
}

.IRArticleModule {
    padding: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 100%;
}

.backBtn {
    margin-bottom: 10px;
    background: #eb2e2c;
    border: 0;
    color: #fff;
    line-height: 40px;
    height: 40px;
    min-width: 140px;
    text-transform: uppercase;
    cursor: pointer;
}

table#previewTable {
    width: 630px;
}

-->
<!--
table#previewTable {
    padding: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 100%;
}

-->
<!--
table#previewTable {
    color: #000000;
}

    -->
    <!--
    table#previewTable span.viewDisclosureHeadline {
        font-family: Verdana, Geneva, Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        padding-top: 6px;
        margin-bottom: 6px;
        padding-bottom: 6px;
        line-height: normal;
    }

    -->
    <!--
    table#previewTable span.viewDisclosureNameAndCategory {
        font-family: Verdana, Geneva, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #000000;
        padding-top: 6px;
        margin-bottom: 6px;
        padding-bottom: 6px;
        line-height: normal;
    }

    -->
    <!--
    table#previewTable label {
        font-family: Verdana, Geneva, Arial, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #000000;
    }

    -->
    <!--
    table#previewTable td.tdBodytext {
        color: #000000;
        font-family: Courier New, Lucida Console, monospace;
        font-size: 12px;
    }

    -->
    <!--
    table#previewTable td.tdAttachment, table#previewTable td.tdAttachment p {
        color: #888888;
        text-decoration: none;
        font-weight: bold;
        font-family: Verdana, Geneva, Arial, sans-serif;
        font-size: 10px;
    }

        -->
        <!--
        table#previewTable td.tdAttachment p.small {
            font-size: 9px;
            font-weight: normal;
        }

        -->
        <!--
        table#previewTable td.tdAttachment a {
            text-decoration: underline;
            color: #336699;
            font-weight: bold;
            font-family: Verdana, Geneva, Arial, sans-serif;
            font-size: 10px;
        }

-->
<!--
.textAreaCutter {
    overflow: hidden;
    width: 610px;
    clip: auto;
}

-->
<!--
.txtPre, .IRArticleModule pre {
    color: #000000;
    font-family: Arial, Lucida Console, monospace !important;
    font-size: 11pt !important;
}

.IRArticleModule {
    font-family: Arial, Courier New, Lucida Console, monospace;
    font-size: 11pt;
}

h2.newsArticleHeader {
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
}
-->

.IRArticleModule a {
    text-decoration: underline;
    color: #336699;
    font-weight: bold;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 10px;
}

.IRArticleModule .attachmentList{margin-bottom: 20px;}