@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    color: #090000;
    overflow-x: hidden;
    font-size: 12px;
    background-color: transparent;
}

.IRChartColour {
    color: #bca480;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.input-row {
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
}

.table-look {
    border: none;@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    color: #090000;
    overflow-x: hidden;
    font-size: 12px;
    background-color: #636466;
}

.IRChartColour {
    color: #bca480;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.input-row {
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
}

.table-look {
    border: none;
}

.table-look th {
    width: 244px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    padding: 3px 0;
    border-bottom: 1px solid #bcbdc0;
    background: transparent;
    color: #fff;
}

.customResponsiveVertical th {
    width: 100%;
}

.table-look td {
    border: 0;
    line-height: 20px;
    border-bottom: none;
    font-size: 12px;
    text-align: right;
    padding: 3px 0;
    color: #fff;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    height: auto;
    line-height: normal;
    vertical-align: bottom;
}

.table-look td.formatColourPos,
*.formatColourPos {
    color: green;
}

.table-look td.formatColourNeg,
*.formatColourNeg {
    color: red;
}

.table-look th.column-first,
.table-look td.column-first {
    border-left: none;
    font-size: 12px;
}


/* IRChart =============================================================== */

.IRQuoteModule .updated {
    text-align: right;
    padding: 10px 0;
    color: #fff;
}

.IRChartColour {
    color: #bca480;
}

.IRQuoteModule th.Header {
/*
    height: 25px;
    line-height: 25px;
*/
    border: none;
    border-bottom: 1px solid #929394;
    background: transparent;
    color: #fff;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: left;
    color: #99CCFF;
    background: #636466;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

.IRQuoteModule td.Data {
/*
    height: 32px;
    line-height: 34px;
*/
    border: none;
    border-bottom: 1px solid #929394;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    height: auto;
    line-height: normal;
    text-align: left;
    background: transparent;
    font-weight: normal;
    font-size: 1em;
}

.IRChartPlaceholderArea .IRChartPlaceholder {
    box-sizing: initial;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    width: 40px;
    border: 1px solid transparent;
    border-right: 0;
    font-size: 12px;
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    color: #fff;
    background: #bcbdc0;
    border: 1px solid #bcbdc0;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover,
.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
    background: #bca480;
    box-shadow: none;
    border: 1px solid #bca480;
}

.IRChartNavigation .IRChartTA .pop-submit {
    color: #fff;
    background: #bca480;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.IRChartNavigation .IRChartTA .pop-submit:hover {
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 22px;
    line-height: 22px;
    margin: auto;
    box-sizing: border-box;
}

.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    font-size: 12px;
    width: 120px;
    padding: 5px;
}

.tooltipHTML .IRChartTooltipDate {
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #a8a9a3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.highcharts-tooltip span {
    color: #bca480;
}

.IRChartCurrency {
    font-size: 12px;
    color: #000;
}

.highcharts-xaxis-labels text,
.highcharts-yaxis-labels {
    font-size: 10px !important;
}

table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
    display: none;
}

.highcharts-background {
    fill: transparent;
}

.icon-enlarge:before {
    content: "\e989";
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRChartNavigation {
    border-bottom: 1px solid #eee;
}

.IRChartNavigation .IRChartView,
.IRChartNavigation .IRChartTA,
.IRChartNavigation .IRChartComparison,
.IRChartNavigation .IRChartTSR,
.IRChartNavigation .IRChartCC,
.IRChartNavigation .IRChartFullscreen,
.IRChartNavigation .IRChartSettings,
.IRChartNavigation .IRChartListings,
.IRChartNavigation .IRChartMenuTrigger {
    background-color: #bcbdc0;
    font-size: 11px;
    border: 1px solid #bcbdc0;
    margin-left: 2px;
}

.IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody div,
.IRChartNavigation .IRChartComparison .IRChartComparisonBody div,
.IRChartNavigation .IRChartTSR .IRChartTSRBody div,
.IRChartNavigation .IRChartSettings .IRChartSettingsBody div,
.IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody div,
.IRChartNavigation .IRChartTA .IRChartTABody div,
.IRChartNavigation .IRChartCC .IRChartCCBody div {
    font-size: 10px;
    font-weight: 400;
}

.IRChartNavigation .IRChartTA .IRChartTABody div.IRChartTABodyListHeader,
.IRChartNavigation .IRChartComparison .IRChartComparisonBody div.IRChartComparisonBodyListHeader,
.IRChartNavigation .IRChartSettings .IRChartSettingsBody .IRChartSettingsBodyListHeader {
    font-weight: 700;
    font-size: 11px;
    text-align: left;
    padding-left: 10px;
}

.IRChartNavigation .IRChartView:hover,
.IRChartNavigation .IRChartTA:hover,
.IRChartNavigation .IRChartCC:hover,
.IRChartNavigation .IRChartComparison:hover,
.IRChartNavigation .IRChartTSR:hover,
.IRChartNavigation .IRChartSettings:hover,
.IRChartNavigation .IRChartFullscreen:hover,
.IRChartNavigation .IRChartListings:hover {
    background-color: #bca480;
    color: #fff;
    border: 1px solid #bca480;
}

.IRChartNavigation .IRChartCompanyName {
    font-weight: bold;
    font-size: 14px;
    color: #bca480;
}

#container div {
    padding-top: 35px;
}

#container ul {
    text-align: center;
    border-bottom: 0px;
    font-size: 0px !important;
    padding: 0;
}

.formatArrowNeg {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: none;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 51px;
    margin-top: -0.4em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.7em solid #FF0000;
}

.formatArrowPos {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: none;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 51px;
    margin-top: -0.4em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.7em solid #36A814;
}


/* End ====================================================================== */

/* IRProfile =============================================================== */

.IRQuoteModule.profile .Header.topHeader, .IRQuoteModule.profile .Data.topHeader {
    color: #99CCFF;
    text-transform: uppercase;
}

/* IRProfile End =============================================================== */

/* IRLookup, IRCalc =============================================================== */

.IRLookupModule .table-look th, .IRCalcModule .table-look th {
    color: #99CCFF;
    font-weight: bold;
    font-size: 12px!important;
    border-bottom: 1px solid #929394;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-transform: uppercase;
}

.IRLookupModule .table-look td, .IRCalcModule .table-look td {
    border-bottom: 1px solid #929394;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
}

.highcharts-grid path, rect, .highcharts-axis path,
.highcharts-navigator rect {
    stroke: rgb(146,147,148);
}

#lookup-form .input-wrapper input,
#calc-form .input-wrapper #calculate-button {
    background: #BCBDC0;
    color: #FFFFFF !important;
    padding: 1em;
    border: 0px;
    font-weight: bold;
    border-radius: 0px;
    height: auto;
    line-height: normal;
    text-transform: none;
    transition: background 0.5s, color 0.5s, border 0.5s;
}

#lookup-form .input-wrapper input:hover,
#calc-form .input-wrapper #calculate-button:hover {
    background: #bca480;
    color: #FFFFFF;
    cursor: pointer;
}
/* IRLookup, IRCalc End =============================================================== */

.radioBtn {
    top: -15px;
    margin: 0 28px 0 0;
    cursor: pointer;
}

.radioBtn:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bcbdc0;
    opacity: .8;
    top: 50%;
    margin-top: -8px;
}

.radioBtn.checked:before {
    background: #bca480;
}

.radio label {
    position: relative;
    vertical-align: bottom;
    padding-right: 22px;
    color: #fff;
}

select#from-day,
select#from-month,
select#from-year,
select#to-day,
select#to-month,
select#to-year,
select#frequency,
select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    background-image: url(images/arrowdown2.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 0px;
}

.IRCalcModule #amount-invested {
    height: 30px;
    box-sizing: border-box;
    min-width: 189px;
}

input[type=submit] {
    font-size: 14px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 4px;
    color: #fff;
    text-decoration: none;
    background-color: #bca480;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    /*padding: 5px 10px;*/
    -webkit-appearance: none;
    box-shadow: none;
    height: 30px;
    min-width: 189px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    color: #fff;
    box-shadow: none;
}

input#amount-invested,
select#frequency,
select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 189px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
}

.IRCalcModule #calc-form,
.IRCalcModule #calculate-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.IRLookupResultsTable {
    border-bottom: 2px solid #bca480;
}

.IRToolCalcResultsTable.horizontal {
    border: none;
    border-bottom: 1px solid #bcbdc0;
    margin-top: 40px;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

:focus {
    outline: none;
}

#lookup-form {
    margin-top: 10px;
}

.IRMiniquoteModule {
    background: transparent;
    color: #cecece;
    line-height: 35px;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.IRMiniQuoteQuoteModule .leftColumn {
    float: left;
    margin-right: 15px;
}

.IRMiniquoteModule .Data.last {
    font-size: 26px;
    color: #bca480;
    font-weight: bold;
}

.IRMiniquoteModule .Data.last,
.IRMiniquoteModule .Data.name,
.IRMiniquoteModule .Data.change,
.IRMiniquoteModule .Data.updated {
    line-height: 25px;
    height: 25px;
}

.IRMiniquoteModule span.formatArrowPos {
    width: 22px;
    height: 16px;
    background-size: 17px;
    background-repeat: no-repeat;
}

.IRMiniquoteModule .Data.change {
    font-size: 26px;
    padding: 5px 0;
}

.IRMiniquoteModule .Data.name {
    font-size: 14px;
}

.disclaimer.disclaimer-IRMiniquote {
    display: none;
}

.disclaimer {
    color: #000;
}

@media only screen and (max-width: 330px) {
    .IRCalcModule #amount-invested {
        width: 140px;
        min-width: 1px;
    }
}

@media only screen and (max-width: 480px) {
    .IRCalcModule .horizontal {
        display: none;
    }
    .IRCalcModule .vertical {
        margin-top: 30px;
        margin-bottom: 10px;
        display: inline-table;
        border-top: 1px solid #929394;
        border-bottom: 1px solid #929394;
        border-bottom: 1px solid #929394;
    }
    .IRCalcModule .vertical th {
        
        width: 100%;
        font-weight: bold;
        border: none;
        border-top: 1px solid #929394;
        border-bottom: 1px solid #929394;
        text-align: left;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 0.6em;
    }
    .IRCalcModule .vertical td {
        font-weight: normal;
        text-align: right;
        border-bottom: 1px solid #929394;
        border-right: 0;
        border-left: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 0.6em;
    }
}

@media (max-width: 400px) {
    .horizontal.responsive .IRElement3 {
        display: table-cell;
    }
}

@media (max-width: 300px) {
    .horizontal.responsive .IRElement2 {
        display: table-cell;
    }
}

table.IRQuoteModule.table-look.horizontal.responsive {
    border: none;
}

.IRChartNavigation {
    background: transparent;
    color: #fff;
    border: none;
}

#highcharts-0 rect {
    fill: transparent;
}

.highcharts-axis-labels.highcharts-yaxis-labels text {
    fill: #fff !important;
}

g.highcharts-axis-labels.highcharts-xaxis-labels text {
    fill: #fff !important;
}

label.input-label {
    color: #fff;
}

.dummyWhiteBox {
    background: transparent !important;
}

div.highcharts-axis-labels span div {
    background: transparent;
    color: #fff;
}

img.ui-datepicker-trigger {
    background: #fff;
}

.tabs-container #container {
    text-align: center;
}

li.tabitem {
    display: inline-block;
    width: 24%;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid #fff;
    position: relative;
    text-decoration: initial;
    font-weight: normal;
    text-transform: uppercase;
    transition: background 0.5s, color 0.5s, border 0.5s;
}

.tabs-container ul li a {
    list-style: none;
    color: #fff;
    height: 43px;
    line-height: 43px;
    min-width: 180px;
    font-size: 12px;
    margin: 21px 10px 21px 0;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: initial;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.4s ease;
    white-space: nowrap;
    background: transparent;
}

.tabs-container ul li.current,
.tabs-container ul li:hover {
    background: #bca480;
    border: 1px solid #bca480;
    color: #fff;
    cursor: pointer;
}

li.tabitem.currentActive {
    background: #bca480;
    color: #fff !important;
    cursor: pointer;
    border: 1px solid #bca480;
}

li.tabitem.currentActive:after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #bca480;
    content: " ";
    position: absolute;
    left: 45%;
    top: 40px;
    box-sizing: border-box;
}

.chartIFrame,
.calcIFrame,
.lookupIFrame {
    width: 100%;
    height: 800px;
}

.profile td.Header {
    text-align: left;
    border-bottom: 1px solid #929394;
}

.profile td.Data {
    text-align: right;
    border-bottom: 1px solid #929394;
}

@media only screen and (max-width: 600px) {
    li.tabitem {
        display: block;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #fff;
    }
    li.tabitem.currentActive:after {
        display: none;
    }
}
}

.table-look th {
    width: 244px;
    border: none;
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    border-bottom: 1px solid #bcbdc0;
    background: transparent;
    color: #fff;
}

.customResponsiveVertical th {
    width: 100%;
}

.table-look td {
    border: 0;
    line-height: 20px;
    border-bottom: none;
    font-size: 12px;
    text-align: right;
    color: #000;
    height: auto;
    line-height: normal;
    vertical-align: bottom;
}

.table-look td.formatColourPos,
*.formatColourPos {
    color: green;
}

.table-look td.formatColourNeg,
*.formatColourNeg {
    color: red;
}

.table-look th.column-first,
.table-look td.column-first {
    border-left: none;
    font-size: 12px;
    text-align: left !important;
}


/* IRChart =============================================================== */

.IRQuoteModule .updated {
    text-align: right;
    padding: 10px 0;
    color: #000;
}

.IRChartColour {
    color: #bca480;
}

.IRQuoteModule th.Header {
    /*
    height: 25px;
    line-height: 25px;
*/
    border: none;
    border-bottom: 1px solid #bca480;
    background: transparent;
    text-align: right;
    color: #000;
    background: transparent;
    font-weight: bold;
    padding: 0;
    line-height: 32px;
    }

.IRQuoteModule td.Data {
    /*
    height: 32px;
    line-height: 34px;
*/
    border: none;
    border-bottom: 2px solid #bca480;
    height: 32px;
    line-height: 32px;
    text-align: right;
    background: transparent;
    font-weight: normal;
    color: #000;
    padding: 0;
    }

.IRChartPlaceholderArea .IRChartPlaceholder {
    box-sizing: initial;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    width: 40px;
    border: 1px solid transparent;
    border-right: 0;
    font-size: 12px;
    color: #000;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    color: #fff;
    background: #bca480;
    border: 1px solid #bca480;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover,
.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
    background: #bca480;
    box-shadow: none;
    border: 1px solid #bca480;
}

.IRChartNavigation .IRChartTA .pop-submit {
    color: #fff;
    background: #bca480;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.IRChartNavigation .IRChartTA .pop-submit:hover {
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 22px;
    line-height: 22px;
    margin: auto;
    box-sizing: border-box;
}

.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    font-size: 12px;
    width: 120px;
    padding: 5px;
}

.tooltipHTML .IRChartTooltipDate {
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #a8a9a3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.highcharts-tooltip span {
    color: #bca480;
}

.IRChartCurrency {
    font-size: 12px;
    /* color: #fff; */
}

.highcharts-xaxis-labels text,
.highcharts-yaxis-labels {
    font-size: 10px !important;
}

table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
    display: none;
}

.highcharts-background {
    fill: transparent;
}

.icon-enlarge:before {
    content: "\e989";
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRChartNavigation {
    border-bottom: 1px solid #eee;
}

.IRChartNavigation .IRChartView,
.IRChartNavigation .IRChartTA,
.IRChartNavigation .IRChartComparison,
.IRChartNavigation .IRChartTSR,
.IRChartNavigation .IRChartCC,
.IRChartNavigation .IRChartFullscreen,
.IRChartNavigation .IRChartSettings,
.IRChartNavigation .IRChartListings,
.IRChartNavigation .IRChartMenuTrigger {
    font-size: 11px;
    margin-left: 2px;
    color: #000;
}

.IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody div,
.IRChartNavigation .IRChartComparison .IRChartComparisonBody div,
.IRChartNavigation .IRChartTSR .IRChartTSRBody div,
.IRChartNavigation .IRChartSettings .IRChartSettingsBody div,
.IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody div,
.IRChartNavigation .IRChartTA .IRChartTABody div,
.IRChartNavigation .IRChartCC .IRChartCCBody div {
    font-size: 10px;
    font-weight: 400;
}

.IRChartNavigation .IRChartTA .IRChartTABody div.IRChartTABodyListHeader,
.IRChartNavigation .IRChartComparison .IRChartComparisonBody div.IRChartComparisonBodyListHeader,
.IRChartNavigation .IRChartSettings .IRChartSettingsBody .IRChartSettingsBodyListHeader {
    font-weight: 700;
    font-size: 11px;
    text-align: left;
    padding-left: 10px;
}

.IRChartNavigation .IRChartView:hover,
.IRChartNavigation .IRChartTA:hover,
.IRChartNavigation .IRChartCC:hover,
.IRChartNavigation .IRChartComparison:hover,
.IRChartNavigation .IRChartTSR:hover,
.IRChartNavigation .IRChartSettings:hover,
.IRChartNavigation .IRChartFullscreen:hover,
.IRChartNavigation .IRChartListings:hover {
    background-color: #bca480;
    color: #fff;
    border: 1px solid #bca480;
}

.IRChartNavigation .IRChartCompanyName {
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

#container div {
    padding-top: 35px;
}

#container ul {
    text-align: center;
    border-bottom: 0px;
    font-size: 0px !important;
    padding: 0;
    width: 100%;
    display: table;
}

.formatArrowNeg {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: none;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 51px;
    margin-top: -0.4em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.7em solid #FF0000;
}

.formatArrowPos {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: none;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 51px;
    margin-top: -0.4em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.7em solid #36A814;
}


/* End ====================================================================== */

/* IRProfile =============================================================== */

.IRQuoteModule.profile .Header.topHeader, .IRQuoteModule.profile .Data.topHeader {
    color: #bca480;
    text-transform: uppercase;
}

/* IRProfile End =============================================================== */

/* IRLookup, IRCalc =============================================================== */

.IRLookupModule .table-look th, .IRCalcModule .table-look th {
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #bca480;
}

.IRLookupModule .table-look td, .IRCalcModule .table-look td {
    border-bottom: 1px solid #bca480;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
}

.highcharts-grid path, rect, .highcharts-axis path,
.highcharts-navigator rect {
    /* stroke: rgb(146,147,148); */
}

#lookup-form .input-wrapper input,
#calc-form .input-wrapper #calculate-button {
    background: #bca480;
    border-radius: 0px;
    line-height: normal;
    text-transform: uppercase;
    transition: background 0.5s, color 0.5s, border 0.5s;
}

#lookup-form .input-wrapper input:hover,
#calc-form .input-wrapper #calculate-button:hover {
    background: #bca480;
    color: #000;
    cursor: pointer;
}
/* IRLookup, IRCalc End =============================================================== */

.radioBtn {
    top: -15px;
    margin: 0 28px 0 0;
    cursor: pointer;
}

.radioBtn:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bcbdc0;
    opacity: .8;
    top: 50%;
    margin-top: -8px;
}

.radioBtn.checked:before {
    background: #bca480;
}

.radio label {
    position: relative;
    vertical-align: bottom;
    padding-right: 22px;
    /* color: #fff; */
}

select#from-day,
select#from-month,
select#from-year,
select#to-day,
select#to-month,
select#to-year,
select#frequency,
select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    background-image: url(images/arrowdown2.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 0px;
}

.IRCalcModule #amount-invested {
    height: 30px;
    box-sizing: border-box;
    min-width: 189px;
}

input[type=submit] {
    font-size: 14px;
    margin-right: 0px;
    color: #fff;
    text-decoration: none;
    background-color: #bca480;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    /*padding: 5px 10px;*/
    -webkit-appearance: none;
    box-shadow: none;
    height: 30px;
    min-width: 189px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    color: #fff;
    /* box-shadow: none; */
}

input#amount-invested,
select#frequency,
select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 189px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
}

.IRCalcModule #calc-form,
.IRCalcModule #calculate-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.IRLookupResultsTable {
    border-bottom: 2px solid #bca480;
}

.IRToolCalcResultsTable.horizontal {
    border: none;
    border-bottom: 2px solid #bca480;
    margin-top: 40px;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

:focus {
    outline: none;
}

#lookup-form {
    margin-top: 10px;
}

.IRMiniquoteModule {
    background: transparent;
    color: #cecece;
    line-height: 35px;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.IRMiniQuoteQuoteModule .leftColumn {
    float: left;
    margin-right: 15px;
}

.IRMiniquoteModule .Data.last {
    font-size: 26px;
    color: #bca480;
    font-weight: bold;
}

.IRMiniquoteModule .Data.last,
.IRMiniquoteModule .Data.name,
.IRMiniquoteModule .Data.change,
.IRMiniquoteModule .Data.updated {
    line-height: 25px;
    height: 25px;
}

.IRMiniquoteModule span.formatArrowPos {
    width: 22px;
    height: 16px;
    background-size: 17px;
    background-repeat: no-repeat;
}

.IRMiniquoteModule .Data.change {
    font-size: 26px;
    padding: 5px 0;
}

.IRMiniquoteModule .Data.name {
    font-size: 14px;
}

.disclaimer.disclaimer-IRMiniquote {
    display: none;
}

.disclaimer {
    color: #000;
}

@media only screen and (max-width: 330px) {
    .IRCalcModule #amount-invested {
        width: 140px;
        min-width: 1px;
    }
}

@media only screen and (max-width: 480px) {
    .IRCalcModule .horizontal {
        display: none;
    }
    .IRCalcModule .vertical {
        margin-top: 30px;
        margin-bottom: 10px;
        display: inline-table;
        border-top: 1px solid #bca480;
        border-bottom: 1px solid #bca480;
    }
    .IRCalcModule .vertical th {
        width: 100%;
        font-weight: bold;
        border: none;
        border-top: 1px solid #bca480;
        border-bottom: 1px solid #bca480;
        text-align: left;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 0.6em;
    }
    .IRCalcModule .vertical td {
        font-weight: normal;
        text-align: right;
        border-bottom: 1px solid #bca480;
        border-right: 0;
        border-left: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 0.6em;
    }
}

@media (max-width: 400px) {
    .horizontal.responsive .IRElement3 {
        display: table-cell;
    }
}

@media (max-width: 300px) {
    .horizontal.responsive .IRElement2 {
        display: table-cell;
    }
}

table.IRQuoteModule.table-look.horizontal.responsive {
    border: none;
}

.IRChartNavigation {
    background: transparent;
    color: #fff;
}

#highcharts-0 rect {
    /* fill: transparent; */
}

.highcharts-axis-labels.highcharts-yaxis-labels text {
    /* fill: #fff !important; */
}

label.input-label {
    /* color: #fff; */
}

.dummyWhiteBox {
    background: transparent !important;
}

div.highcharts-axis-labels span div {
    background: transparent;
    /* color: #fff; */
}

img.ui-datepicker-trigger {
    background: #fff;
}

.tabs-container #container {
    text-align: center;
}

li.tabitem {
    display: table-cell;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid #bca480;
    position: relative;
    text-decoration: initial;
    font-weight: normal;
    text-transform: uppercase;
    transition: background 0.5s, color 0.5s, border 0.5s;
    height: 43px;
    vertical-align: middle;
    width: 25%;
    padding: 0 5px;
}

.tabs-container ul li a {
    list-style: none;
    color: #000;
    height: 43px;
    /* line-height: 43px; */
    min-width: 180px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: initial;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.4s ease;
    background: transparent;
    font-weight: bold;
    white-space: initial;
}

.tabs-container ul li.current,
.tabs-container ul li:hover {
    background: #bca480;
    border: 1px solid #bca480;
    color: #fff;
    cursor: pointer;
}

li.tabitem.currentActive {
    background: #bca480;
    color: #fff !important;
    cursor: pointer;
    border: 1px solid #bca480;
}

li.tabitem.currentActive:after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #bca480;
    content: " ";
    position: absolute;
    left: 45%;
    top: 100%;
    box-sizing: border-box;
}

.chartIFrame,
.calcIFrame,
.lookupIFrame {
    width: 100%;
    height: 800px;
}

.profile td.Header {
    text-align: left;
    border-bottom: 1px solid #bca480;
}

.profile td.Data {
    text-align: right;
    border-bottom: 1px solid #bca480;
}

@media only screen and (max-width: 600px) {
    li.tabitem {
        display: block;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #fff;
        line-height: 43px;
        border-bottom: 1px solid #bca480;
    }
    li.tabitem.currentActive:after {
        display: none;
    }
}