/*
    General    
*/
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

h2 {
    padding: 3px 5px;
    padding-top: 10px;
}

h2:first-child {
    padding-top: 0px;
}

/*
    table-look   
*/
.table-look {
    width: 100%;
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

.table-look th, .table-look td {
    white-space: nowrap;
    text-align: center;
    padding: 6px 5px 4px 5px;
    border: 1px solid #ffffff;
}

.table-look th {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: inherit;
    font-weight: normal;
}

.table-look th.column-first, .table-look td.column-first {
    text-align: left;
}

.table-look th.column-last, .table-look td.column-last {
    text-align: right;
}

.table-look.quote-vertical th {
    text-align: left;
}

.table-look.quote-vertical td {
    text-align: left;
}

.table-look-vertical th {
    width: 40%;
}

@media only screen and (min-width: 572px) {
    .table-look-vertical.responsive-flip-vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .table-look-horizontal.responsive-flip-horizontal {
        display: none;
    }
}

@media only screen and (min-width: 572px) {
    .table-look .vertical .responsive {
        display: none;
    }
}

/*
    end table-look   
*/

/*
    Tools    
*/

/* Begin IROrders */
.IROrdersModule .progress {
    margin-bottom: 0;
    height: 15px;
}

.IROrdersModule .orderDepthBarLeft {
    padding-right: 1px;
    width: 15%;
    border-right: none;
    border-left: none;
}

.IROrdersModule .orderDepthBarRight {
    padding-left: 1px;
    width: 15%;
    border-right: none;
    border-left: none;
}

.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: #7CB5EC;
    width: 0%;
    float: right;
    display: block;
}

.IROrdersModule .orderDepthBarRight .progress-bar {
    background-color: #434348;
    width: 0%;
}

/* End IROrders */

/*
    Responsive begin
*/
/*
    IRQuoteModule    
*/
@media (max-width: 950px) {

    .horizontal.responsive .IRElement9 {
        display: none;
    }
}

@media (max-width: 900px) {

    .horizontal.responsive .IRElement8 {
        display: none;
    }
}

@media (max-width: 800px) {

    .horizontal.responsive .IRElement7 {
        display: none;
    }
}

@media (max-width: 700px) {

    .horizontal.responsive .IRElement6 {
        display: none;
    }
}

@media (max-width: 600px) {

    .horizontal.responsive .IRElement5 {
        display: none;
    }
}

@media (max-width: 500px) {

    .horizontal.responsive .IRElement4 {
        display: none;
    }
}

@media (max-width: 400px) {

    .horizontal.responsive .IRElement3 {
        display: none;
    }
}

@media (max-width: 300px) {

    .horizontal.responsive .IRElement2 {
        display: none;
    }
}

/*
    IROrdersModule
*/
@media only screen and (max-width: 571px) {
    .IROrdersModule .orderDepthBarRight .progress, .IROrdersModule .orderDepthBarLeft .progress {
        height: 12px;
    }

    .IROrdersModule th.bidAskLevel, .IROrdersModule td.bidAskLevel, .IROrdersModule td.askCount, .IROrdersModule th.askCount, .IROrdersModule td.bidCount, .IROrdersModule th.bidCount {
        display: none;
    }
}

/*
    responsive-horizontal (IRLookupResults)  
*/
/*Low*/
@media only screen and (max-width: 500px) {
    .IRLookupResultsTable.responsive th.low,
    .IRLookupResultsTable.responsive td.low {
        display: none;
    }
}

/*High*/
@media only screen and (max-width: 400px) {
    .IRLookupResultsTable.responsive th.high,
    .IRLookupResultsTable.responsive td.high {
        display: none;
    }
}

/*Open*/
@media screen and (max-width: 300px) {
    .IRLookupResultsTable.responsive th.openPrice,
    .IRLookupResultsTable.responsive td.openPrice {
        display: none;
    }
}

/*
    responsive-horizontal (IRToolQuoteTable)
*/
@media (max-width: 900px) {

    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(9),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(9) {
        display: none;
    }
}

@media (max-width: 800px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(8),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(8) {
        display: none;
    }
}

@media (max-width: 700px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(7),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(7) {
        display: none;
    }
}

@media (max-width: 600px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(6),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(6) {
        display: none;
    }
}

@media (max-width: 500px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(5),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(5) {
        display: none;
    }
}

@media (max-width: 400px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(4),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(4) {
        display: none;
    }
}

@media (max-width: 300px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(3),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(3) {
        display: none;
    }
}

/*
    end Responsive
*/

/*
    Shared    
*/

.datepicker-button {
    display: none;
}

/*
    end Shared    
*/

/*
    Calc    
*/
#calc-chart {
    height: 200px;
}

/*
    end Calc    
*/
/*
    Lookup    
*/
#lookup-chart {
    height: 200px;
}

/*
    end Lookup    
*/
/*
    Detailed Share Price    
*/
.detailedshareprice-horizontal {
}

/*
    end Detailed Share Price        
*/

/*
    end Tools    
*/

/*
    Disclaimer    
*/
.disclaimer {
    position: relative;
    top: 10px;
    max-width: 320px;
    margin: auto;
    color: #777;
    cursor: default;
    text-align: center;
    font-size: 10px;
    clear: both;
}

.disclaimer a:link, .disclaimer a:visited {
    color: inherit;
    text-decoration: none;
}

.disclaimer a:hover {
    color: #000;
}

@media all and (min-width: 0px) {
    .disclaimer-copyright {
        display: none;
    }

    .disclaimer-dataSource {
        display: none;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

@media all and (min-width: 290px) {
    .disclaimer-copyright {
        display: block;
    }

    .disclaimer-dataSource {
        display: none;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

@media all and (min-width: 400px) {
    .disclaimer-copyright {
        display: inline;
    }

    .disclaimer-dataSource {
        display: inline;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

.disclaimer-hidden {
    display: none;
}

.disclaimer-terms-and-conditions {
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

.disclaimer-terms-and-conditions h1 {
    font-size: 14px;
}

.disclaimer-terms-and-conditions p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.disclaimer-terms-and-conditions a:link, .disclaimer-terms-and-conditions a:visited {
    color: inherit;
    text-decoration: underline;
}

.disclaimer-terms-and-conditions a:hover {
    color: #000;
}

.disclaimer-IRQuote .disclaimer-copyright {
    display: none;
}

.disclaimer-IRQuote .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRQuote .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRQuote .disclaimer-terms {
    display: inline;
}

.disclaimer-IRMiniQuote .disclaimer-copyright {
    display: none;
}

.disclaimer-IRMiniQuote .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRMiniQuote .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRMiniQuote .disclaimer-terms {
    display: inline;
}

.disclaimer-IRMiniquoteChart .disclaimer-copyright {
    display: none;
}

.disclaimer-IRMiniquoteChart .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRMiniquoteChart .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRMiniquoteChart .disclaimer-terms {
    display: inline;
}

.disclaimer-IRNewsHeadline .disclaimer-copyright {
    display: none;
}

.disclaimer-IRNewsHeadline .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRNewsHeadline .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRNewsHeadline .disclaimer-terms {
    display: inline;
}

/*
    end Disclaimer    
*/

/*
    Alignments
*/
.textalign-left {
    text-align: left;
}

.textalign-right {
    text-align: right;
}

.textalign-center {
    text-align: center;
}

.float-right {
    float: right;
}

.news-accordion-inner {
    border: 1px solid #0082B4;
}

/*
    Debug
*/
.debug, .debug-sub {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 1px solid #aaa;
    background-color: #F9F9F9;
    padding: 3px;
    color: #aaa;
}

.debug a, .debug-sub a {
    color: #aaa;
    text-decoration: none;
}

.debug-sub {
    bottom: 40px;
}

.ajaxLoader {
    display: block;
    width: 16px;
    height: 16px;
    color: #aaa;
    font-family: sans-serif;
    font-size: 11px;
    padding-left: 20px;
    cursor: default;
    z-index: 1000;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
}

.chartCompareList {
    position: relative;
    display: block;
    top: 0px;
    margin: auto;
    height: 0px;
    z-index: 4;
}

.chartCompareList div {
    display: block;
    position: relative;
    float: left;
    width: 200px;
}

.chartCurrentPriceBoxOuter {
    position: relative;
    top: -6px;
    right: 0px;
    z-index: 300;
}

.chartCurrentPriceBox {
    position: relative;
    width: 68px;
    height: 35px;
    line-height: 20px;
    color: #fff;
    z-index: 300;
    text-align: right;
    /*
    position: relative;
    width: 80px;
    height: 35px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 19px;
    left: 0px;
    
    border: 1px solid #0284AA;
    background-color: #0284AA;
    border-left: 0px;
    top: 0px;
    right: 0px;
    color: #fff;
    text-align: right;
    border: 1px solid yellow;
    */
}

.chartLastPrice {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 19px;
    font-size: 11px;
    color: #ffffff;
    background-color: transparent;
    z-index: 500 !important;
}

.chartLastPriceDate {
    display: none;
}

.chartLastPriceTime {
    position: absolute;
    padding-right: 19px;
    right: 0px;
    top: 18px;
    font-size: 8px;
    color: #ffffff;
    Z-INDEX: 501 !important;
    background-color: transparent;
}

.chartCurrentPriceBoxArrow {
    position: absolute;
    display: block;
    left: -3px;
    top: 0px;
    width: 6px;
    height: 18px;
}

.chartCurrentPriceBoxArrow .irCPB1 {
    position: absolute;
    display: block;
    width: 2px;
    height: 3px;
    top: 16px;
    left: -3px;
}

.chartCurrentPriceBoxArrow .irCPB2 {
    position: absolute;
    display: block;
    width: 2px;
    height: 6px;
    top: 14px;
    left: -1px;
}

.chartCurrentPriceBoxArrow .irCPB3 {
    position: absolute;
    display: block;
    width: 2px;
    height: 10px;
    top: 12px;
    left: 1px;
}

/*
    Begin IRToolQuoteTable responsive
*/
/*
@media (max-width: 600px) {

    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(2),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 550px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(3),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(3) {
        display: none;
    }
}

@media (max-width: 500px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(4),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(4) {
        display: none;
    }
}

@media (max-width: 450px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(5),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(5) {
        display: none;
    }
}

@media (max-width: 400px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(5),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(5) {
        display: none;
    }
}

@media (max-width: 350px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(6),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(6) {
        display: none;
    }
}

@media (max-width: 300px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(7),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(7) {
        display: none;
    }
}
*/
/*
    
*/

/*
    IRToolMenu - IRChangeListing
*/
.ToolMenu {
    position: relative;
    float: left;
    z-index: 30;
}

.ToolMenu select {
    margin: 5px;
    color: #555;
    cursor: pointer;
}

.ToolMenu li.active {
    color: #000;
}

/*
    Begin IRChart
*/

.IRChartColour {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*
    Begin IRChartOuter    
*/
.IRChartOuter {
    margin-top: 0px;
    clear: both;
}

.IRChartHTMLPlaceholder {
    height: 500px;
    clear: both;
}

.IRChartHTMLMiniPlaceholder {
    height: 100%;
    /*padding-bottom: 50px;*/
}

/*
    IRChartHeader    
*/
.IRChartHeader {
    position: relative;
    top: 0px;
    width: 100%;
}

.IRChartClientName {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: -1px;
    background-color: #F9F9F9;
    border: 1px solid #E9E9E9;
    border-left: 2px solid #E9E9E9;
    color: #0284AA;
    height: 31px;
    line-height: 30px;
    padding-left: 6px;
    cursor: default;
    width: auto;
    right: 1px;
}

.IRChartOuter .IRChartCurrency {
    position: absolute;
    z-index: 1;
    top: 26px;
    right: 0px;
    width: 70px;
    line-height: 30px;
    padding-right: 6px;
    /*color: #0284AA;*/
    cursor: default;
    text-align: center;
}

.IRChartOuter .IRChartHeader .IRChangeListing {
    left: 100px;
}

/*
    Begin chartNavBarRange
*/
.chartNavBarRange {
    position: absolute;
    width: 100%;
    height: 0px;
}

.chartChangePeriod {
    position: relative;
    margin: auto;
    top: -79px;
    display: block;
    width: 420px;
    height: 0px;
    z-index: 5;
}

.chartChangePeriod div {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    line-height: 23px;
    margin: 0px;
    color: #777;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.chartChangePeriod div {
    background-color: #F9F9F9;
    margin: 0px;
    text-align: center;
    cursor: pointer;
}

.chartChangePeriod div#max {
    border-right: 1px solid #ddd;
}

.chartChangePeriod div:hover {
    background-color: #333;
    color: #fff;
}

.chartChangePeriod div.activePeriod {
    background-color: #0284AA;
    color: #fff;
}

@media (max-width: 500px) {
    div.chartChangePeriod div#m3 {
        display: none;
    }

    div.chartChangePeriod div#m6 {
        display: none;
    }

    .chartChangePeriod {
        width: 350px;
    }
}

@media (max-width: 320px) {
    div.chartChangePeriod div#m6 {
        display: none;
    }

    div.chartChangePeriod div#m3 {
        display: none;
    }

    div.chartChangePeriod div#y2 {
        display: none;
    }

    .chartChangePeriod {
        width: 260px;
    }
}

@media (max-width: 280px) {
    div.chartChangePeriod div#m6 {
        display: none;
    }

    div.chartChangePeriod div#m3 {
        display: none;
    }

    div.chartChangePeriod div#y2 {
        display: none;
    }

    div.chartChangePeriod div#y5 {
        display: none;
    }

    .chartChangePeriod {
        width: 200px;
    }
}

@media (max-width: 250px) {

    div.chartChangePeriod div#d5 {
        display: none;
    }

    div.chartChangePeriod div#m6 {
        display: none;
    }

    div.chartChangePeriod div#m3 {
        display: none;
    }

    div.chartChangePeriod div#y2 {
        display: none;
    }

    div.chartChangePeriod div#y5 {
        display: none;
    }

    .chartChangePeriod {
        width: 200px;
    }
}

@media (max-width: 200px) {

    div.chartChangePeriod div#y1 {
        display: none;
    }

    .chartChangePeriod {
        width: 160px;
    }
}

/*
    End chartNavBarRange
*/
/*
    End IRChartOuter    
*/
/*
    End IRChart
*/

.debugStatus {
    display: none;
}

/*
    Investment Calculator    
*/
.input-row {
    position: relative;
    height: 30px;
}

.input-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}

label {
    font-weight: normal;
}

.ui-datepicker-trigger {
    position: relative;
    top: 5px;
    float: none;
    cursor: pointer;
}

#ui-datepicker-div {
    margin-top: 22px;
}

/*
    Form Elements    
*/
select {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

input[type=number], input[type=submit] {
    height: 24px;
    line-height: 20px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
    border: 1px solid #aaa;
}

input[type=number] {
    color: #000;
}

input[type=submit] {
    color: #777;
}

input[type=submit]:hover {
    color: #000;
}

input[type=submit] {
    box-shadow: none;
    color: inherit;
    background: #eee;
    line-height: 20px;
    height: 24px;
    border: 1px solid transparent;
    padding: 0 15px 0 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .12);
}

input[type=submit]:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 2px 4px rgba(0, 0, 0, .16);
}

/*
    keyfigures    
*/
.key-figures {
}

.key-figures .chart-area {
    overflow: hidden;
}

.key-figures .series-toggle-button {
    padding: 4px;
    border: 0;
    color: white;
    font-size: 8pt;
}

.key-figures .sidebar {
    width: 100px;
    margin: 5px 0 5px 0;
    padding: 0 10px 0 0;
    background: lightgray;
    display: inline-block;
    position: relative;
    float: left;
}

.key-figures .y-axis-unit {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0) rotate(-90deg);
    -moz-transform: translate3d(0, -50%, 0) rotate(-90deg);
    -ms-transform: translate3d(0, -50%, 0) rotate(-90deg);
    -o-transform: translate3d(0, -50%, 0) rotate(-90deg);
    transform: translate3d(0, -50%, 0);
}

.key-figures .axis-label-container {
    position: relative;
}

.key-figures .y-axis-label-container {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.key-figures .y-axis-label,
.key-figures .square {
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-bottom: -7px;
}

.key-figures .y-axis-label {
    margin-bottom: -7px;
}

.key-figures .square {
    margin-bottom: -3px;
}

.key-figures .squares {
    display: inline-block;
    width: 5px;
    float: left;
    position: relative;
    margin: 3px 0 3px 0;
    position: relative;
}

.key-figures .square-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.key-figures .square {
    background: #333333;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* A trick to make a variable width perfectly square: http://blog.brianjohnsondesign.com/maintain-aspect-ratio-for-html-element-using-only-css-in-a-responsive-design/ */
}

.key-figures .chart {
    margin: 0.25% 0;
    overflow: hidden;
    vertical-align: top;
    background: url('../images/greyDots.png');
}

.key-figures .columns {
    position: relative;
}

.key-figures .horizontal-line {
    height: 1px;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}

#key-figures-horizontal-line-1,
#key-figures-y-axis-label-1,
#key-figures-square-1 {
    bottom: 16.7%;
}

#key-figures-horizontal-line-2,
#key-figures-y-axis-label-2,
#key-figures-square-2 {
    bottom: 33.3%;
}

#key-figures-horizontal-line-3,
#key-figures-y-axis-label-3,
#key-figures-square-3 {
    bottom: 50%;
}

#key-figures-horizontal-line-4,
#key-figures-y-axis-label-4,
#key-figures-square-4 {
    bottom: 66.7%;
}

#key-figures-horizontal-line-5,
#key-figures-y-axis-label-5,
#key-figures-square-5 {
    bottom: 83.3%;
}

.key-figures .company-logo {
    background: url('../images/fh_logo.png');
    float: right;
    width: 144px;
    height: 46px;
}

.key-figures .navigation-area {
    background: black;
    padding: 20px 1% 20px 1%;
    background: url('../images/blackTexture.png');
    display: inline-block;
    width: 98%;
}

.key-figures .bottom {
    padding-left: 115px;
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    font-weight: bold;
    background: url('../images/blackTexture.png');
}

.key-figures .column-group,
.key-figures .x-axis-label {
    width: 25%;
    position: absolute;
}

/*
#key-figures-x-axis-label-1 {
    left: 0;
}

#key-figures-x-axis-label-2 {
    left: 25%;
}

#key-figures-x-axis-label-3 {
    left: 50%;
}

#key-figures-x-axis-label-4 {
    left: 75%;
}
*/

.key-figures .column-group {
    padding-left: 4%;
    bottom: 0;
    display: inline-block;
}

.key-figures .x-axis-label {
    text-align: center;
    display: inline-block;
}

/*
#key-figures-column-group-1 {
    left: 0;
}

#key-figures-column-group-2 {
    left: 25%
}

#key-figures-column-group-3 {
    left: 50%;
}

#key-figures-column-group-4 {
    left: 75%;
}
*/

.key-figures .column {
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-size: 8pt;
    text-align: center;
    text-decoration: underline;
    width: 15%;
    display: inline-block;
    vertical-align: bottom;
}

.key-figures .series-1 {
    background: url('../images/redTexture.png');
}

.key-figures .series-2 {
    background: url('../images/greyTexture.png');
}

.key-figures .data-table {
    width: 100%;
    margin-top: 50px;
}

.key-figures .data-table .data-number,
.key-figures .data-table .year {
    text-align: right;
    padding-right: 5px;
}

.key-figures .main-header-row {
    background-color: darkgray;
    color: white;
    font-weight: bold;
    line-height: 30px;
}

.key-figures .header-row {
    font-weight: bold;
    line-height: 30px;
}

.key-figures .data-row {
    line-height: 25px;
    border-top: 1px dotted lightgray;
}

.key-figures .data-row:hover {
    background-color: lightblue;
}

/*
    end keyfigures    
*/

.tooltipHTML div {
    display: block;
    white-space: nowrap;
}

.tooltipHTML div span.subHeader {
    display: inline-block;
    text-align: left;
}

.tooltipHTML div span.subContent {
    text-align: right;
}
.tooltipHTML div span.subContent.extraSpace {
    margin-left: 30px;
}
.tooltipHTML.historicalMode {
    top: -37px;
}

.tooltipHTML.intradayMode {
    top: -49px;
}

.tooltipHTML.taMode {
    top: -9px;
}

/*
    Additional space when full OHLC is used.
*/
.tooltipHTML.useFullOHLCtrue div span.subHeader {
    width: 50px;
}

.tooltipHTML.useFullOHLCtrue div span.subContent {
    text-align: left;
}

.tooltipHtmlComparison.comparisonMode {
    top: 6px;
}

.tooltipHtmlNews {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    width: 110px;
    white-space: normal;
}

div.tooltipHtmlNewsDate {
    font-size: 9px;
}

div.tooltipHtmlNewsHeadline {
    font-size: 12px;
    font-weight: bold;
}

.tooltipHtmlComparison, .tooltipHtmlTA, .tooltipHTML{
    position: relative;
    z-index: 400;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #eee;
    top: -36px;
    font-family: sans-serif;
    max-width: 150px;
    white-space: normal;
    height: auto;
    min-width: 60px;
}

.tooltipHtmlTA .tooltipSep, .tooltipHTML .tooltipSep {
    width: 100%;
    display: block;
    margin: 10px 0 0 0;
}

.tooltipHtmlComparison div, .tooltipHtmlTA div, .tooltipHTML div {
    display: block;
    white-space: nowrap;
    width: auto;
}

.tooltipHtmlComparison div span.subHeader, .tooltipHtmlTA div span.subHeader, .tooltipHTML div span.subHeader {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.tooltipHtmlComparison div span.subContent, .tooltipHtmlTA div span.subContent, .tooltipHTML div span.subContent {
    text-align: right;
    position: absolute;
    right: 4px;
}

.tooltipHTML div span.subShadow,
.tooltipHtmlComparison div span.subShadow,
.tooltipHtmlTA div span.subShadow
{
    opacity: 0;
    margin-left: 10px;
}
.IRChartCompareListNavigation {
    position: relative;
    z-index: 101;
    float: right;
    cursor: pointer;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #777;
    height: 30px;
    line-height: 30px;
}

.IRChartCompareListNavigation:hover {
    color: #000;
}

.IRChartCompareListNavigation .compareListNavigation {
    line-height: 30px;
}

.IRChartCompareListNavigation .compareListNavigationInner {
    display: none;
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #eee;
    font-weight: normal;
    color: #000;
}

.IRChartCompareListNavigation div {
    display: block;
    width: auto;
    position: relative;
    float: left;
    min-width: 100px;
    padding-left: 5px;
    line-height: 20px;
    white-space: nowrap;
}

.IRChartCompareListNavigation .compareListNavigationInner {
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888');
}

.formatArrowPos {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: url(../images/up.gif);
    background-position: center center;
}

.formatArrowNeg {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: url(../images/down.gif);
    background-position: center center;
}

.IRNewsModule .news-filter-box .checkbox {
    height: 26px;
    line-height: 26px;
    padding-left: 31px;
    background-image: url('../images/checkbox_false.png');
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #015CAE;
    border: none !important;
    font-size: 12px;
    width: 49%;
    min-width: 200px;
    float: left;
    border: 0 !important;
    background-size: 20px;
    background-position-y: 2px;
}

.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('../images/checkbox_true.png');
}

.news-filter-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.IRNewsModule .news-filter-wrapper select {
    -webkit-appearance: button;
    -webkit-border-radius: 0px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/selectDown.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #EAEBEF;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
    width: 150px;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .news-filter-wrapper input, .IRNewsModule .news-filter-wrapper select {
    background-color: #fff;
}

/*
    .IRLookupResultsTable .horizontal .responsive .openPrice
    .IRLookupResultsTable .horizontal .responsive .high
    .IRLookupResultsTable .horizontal .responsive .low
    .IRLookupResultsTable .horizontal .responsive .closePrice
    .IRLookupResultsTable .horizontal .responsive .volume
*/

.IRNewsPagination {
    width: 100%;
    margin: auto;
    max-width: 750px;
    text-align: right;
    padding: 5px;
}

.IRNewsPagination .IRNewsPageNumber {
    cursor: pointer;
    display: inline;
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    color: #aaa;
    font-size: 12px;
}

.IRNewsPagination .active {
    color: #000;
}

.IRNewsModule .newsSubmit {
    margin-top: 10px;
}

/*.IRNewsTool .iconPDF {*/
table tr td.Data.download a div {
    width: 19px;
    height: 17px;
    background-image: url('../images/pdficonsmall.png');
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    padding-left: 5px;
    z-index: 100;
}

.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 150px;
}

/*
    IRChart
*/
/*
.IRChartOuter {
    position: relative;
    top: -30px;
    margin-top: 0px;
    clear: both;
}
.IRChartHeader {
    position: relative;
    top: 0px;
    height: 30px;
}
*/

/*  Navigation */
.IRChartNavigation {
    position: relative;
    z-index: 1000;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #eee;
    border: 1px solid #eee;
    border-bottom: 0px;
}

.IRChartNavigation div {
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

.IRChartNavigation div.IRChartNavigationInner {
    padding-left: 0px;
    padding-right: 0px;
}

.IRChartNavigation div.IRChartNavigationInner div.menuTrigger {
}

.IRChartNavigation .IRChartCompanyName {
    position: absolute;
    left: 0px;
    float: left;
}

.IRChartNavigation .IRChartView,
.IRChartNavigation .IRChartTA,
.IRChartNavigation .IRChartCC,
.IRChartNavigation .IRChartComparison,
.IRChartNavigation .IRChartTSR,
.IRChartNavigation .IRChartFullscreen,
.IRChartNavigation .IRChartListings,
.IRChartNavigation .IRChartMenuTrigger {
    background-color: #fff;
    float: right;
    cursor: pointer;
    /*border: 1px solid #eee;*/
    border-left: 1px solid #eee;
}

.IRChartNavigation .IRChartView:hover,
.IRChartNavigation .IRChartTA:hover,
.IRChartNavigation .IRChartCC:hover,
.IRChartNavigation .IRChartComparison:hover,
.IRChartNavigation .IRChartTSR:hover,
.IRChartNavigation .IRChartFullscreen:hover,
.IRChartNavigation .IRChartListings:hover {
    background-color: #eee;
}

.IRChartNavigation .IRChartView.active,
.IRChartNavigation .IRChartTA.active,
.IRChartNavigation .IRChartCC.active,
.IRChartNavigation .IRChartComparison.active,
.IRChartNavigation .IRChartTSR.active,
.IRChartNavigation .IRChartFullscreen.active,
.IRChartNavigation .IRChartListings.active {
    /*background-color: #eee;*/
}

.IRChartNavigation .IRChartView .IRChartViewHeader,
.IRChartNavigation .IRChartTA .IRChartTAHeader,
.IRChartNavigation .IRChartCC .IRChartCCHeader,
.IRChartNavigation .IRChartComparison .IRChartComparisonHeader,
.IRChartNavigation .IRChartTSR .IRChartTSRHeader,
.IRChartNavigation .IRChartFullscreen .IRChartFullscreenHeader,
.IRChartNavigation .IRChartListings .IRChartListingsHeader {
    position: relative;
    z-index: 10;
}

.IRChartNavigation .IRChartView .IRChartViewBody,
.IRChartNavigation .IRChartTA .IRChartTABody,
.IRChartNavigation .IRChartCC .IRChartCCBody,
.IRChartNavigation .IRChartComparison .IRChartComparisonBody,
.IRChartNavigation .IRChartTSR .IRChartTSRBody,
.IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody,
.IRChartNavigation .IRChartListings .IRChartListingsBody {
    display: none;
    position: absolute;
    z-index: 100;
    top: 30px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #eee;
    font-weight: normal;
    color: #000;
    padding-left: 10px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888');
}

.IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody {
    position: absolute;
    z-index: 10000;
    top: 83px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #eee;
    font-weight: normal;
    color: #000;
    padding-left: 10px;
    width: 160px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888');
}

.IRChartNavigation .IRChartView {
}

.IRChartNavigation .IRChartComparison,
.IRChartNavigation .IRChartTSR,
.IRChartNavigation .IRChartCC,
.IRChartNavigation .IRChartTA{
    position: relative;
}

.IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody div,
.IRChartNavigation .IRChartComparison .IRChartComparisonBody div,
.IRChartNavigation .IRChartTSR .IRChartTSRBody div,
.IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody div,
.IRChartNavigation .IRChartTA .IRChartTABody div,
.IRChartNavigation .IRChartCC .IRChartCCBody div {

    position: relative;
    left: 0px;
    width: 160px;
    cursor: pointer;
}

.IRChartComparison .IRChartComparisonBody .IRChartComparisonBodyCloseTrigger {
    position: absolute;
    top: 0px;
    right: 0px;
}

.IRChartMenuTrigger {
    display: none;
}

.IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody {
    display: none;
}

.IRChartNavigation .IRChartTA .inputBox {
    display: none;
    width: 100% !important;
    background: #ffffff;
    border-bottom: 1px solid #b9b9b9;
    padding: 0;
    padding-bottom: 6px;
    box-sizing: border-box;
}
.IRChartPlaceholderArea .chart-popup label {
    display: block;
    position: relative;
    top: 16px;
}

.IRChartNavigation .IRChartTA .period-list {
    border: 1px solid #b7b7b7;
    width: 80px;
    height: 24px;
    border-radius: 0 !important;
    background: transparent;
    padding: 0 6px;
    box-sizing: border-box;
}

.IRChartNavigation .IRChartTA .pop-submit {
    display: block;
    font-size: 13px;
    width: 80px;
    height: 24px;
    border: 1px solid #b7b7b7;
    background: transparent;
    color: #b7b7b7;
    padding: 3px;
    border-left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.IRChartNavigation .IRChartTA .pop-submit:hover {
    color: #333333;
    transition: all ease 0.5s;
}
@media (max-width: 500px) {

    .IRChartMenuTrigger {
        display: block;
    }

    .IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody {
        top: 30px;
    }

    .IRChartNavigation .IRChartComparison {
        z-index: 10000;
    }

    .IRChartNavigation .IRChartView .IRChartViewHeader,
    .IRChartNavigation .IRChartComparison .IRChartComparisonHeader,
    .IRChartNavigation .IRChartTA .IRChartTAHeader,
    .IRChartNavigation .IRChartCC .IRChartCCHeader,
    .IRChartNavigation .IRChartListings .IRChartListingsHeader {
        display: none;
    }

    .IRChartNavigation .IRChartView .IRChartViewBody,
    .IRChartNavigation .IRChartComparison .IRChartComparisonBody,
    .IRChartNavigation .IRChartTA .IRChartTABody,
    .IRChartNavigation .IRChartCC .IRChartCCBody,
    .IRChartNavigation .IRChartListings .IRChartListingsBody {
        position: absolute;
        z-index: 10000;
        top: 60px;
        right: 70px;
        /*width: 200px;*/
    }
}

/*  Chart */
.IRChartPlaceholderArea {
    position: relative;
    height: 500px;
}

.IRChartPlaceholderArea .IRChartPlaceholder {
    height: 500px;
}

.IRChartPlaceholderArea .IRChartChangePeriodOuter {
    width: 100%;
    position: absolute;
    bottom: 55px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 25px;
    line-height: 25px;
    /*width: 400px;*/
    width: 450px;
    margin: auto;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    display: block;
    float: left;
    width: 50px;
    text-align: center;
    cursor: pointer;
    border-color: #ddd;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.disabled {
                display: none;
            }

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #0284AA;
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background-color: lightgray;
}

@media (max-width: 500px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 450px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#m6 {
        display: none;
    }
}

@media (max-width: 450px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 380px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y5 {
        display: none;
    }
}

@media (max-width: 400px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 300px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#m3 {
        display: none;
    }
}

@media (max-width: 350px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 280px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#max,
    .IRChartPlaceholderArea .IRChartChangePeriod div#Max {
        display: none;
    }
}

@media (max-width: 300px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 210px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}

@media (max-width: 250px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 160px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#d5 {
        display: none;
    }
}

@media (max-width: 200px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 100px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y1 {
        display: none;
    }
}

/*@media (max-width: 320px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 320px;
    }


    .chartChangePeriod {
        width: 260px;
    }
}

@media (max-width: 280px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 280px;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div#m6 {
            display: none;
        }

        .IRChartPlaceholderArea .IRChartChangePeriod div#m3 {
            display: none;
        }

        .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
            display: none;
        }

        .IRChartPlaceholderArea .IRChartChangePeriod div#y5 {
            display: none;
        }

    .chartChangePeriod {
        width: 210px;
    }
}

@media (max-width: 260px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 260px;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div#d5 {
            display: none;
        }
}

@media (max-width: 250px) {

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 180px;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div#d5 {
            display: none;
        }
}

@media (max-width: 250px) {
    .IRChartPlaceholderArea .IRChartChangePeriod div#max {
        display: none;
    }

    .tooltipHTML {
        display: none;
    }
}

@media (max-width: 249px) {
    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 100%;
    }
}*/

/*
    .chartChangePeriod {
    position: relative;
    margin: auto;
    top: -79px;
    display: block;
    width: 420px;
    height: 0px;
    z-index: 5;
}

    .chartChangePeriod div {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        line-height: 23px;
        margin: 0px;
        color: #777;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }


    .chartChangePeriod div {
        background-color: #F9F9F9;
        margin: 0px;
        text-align: center;
        cursor: pointer;
    }

        .chartChangePeriod div#max {
            border-right: 1px solid #ddd;
        }

        .chartChangePeriod div:hover {
            background-color: #333;
            color: #fff;
        }

        .chartChangePeriod div.activePeriod {
            background-color: #0284AA;
            color: #fff;
        }
        */

.IRChartNewsFlag {
    color: blue;
    background: none;
}

.IRChartNewsFlag:hover {
    cursor: pointer;
    background: none;
}


/* IRNews (div) */

div.IRNewsModule h2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.IRNewsTool {
    width: 100%;
}

div.IRNewsTool div.DataHover {
    background-color: #eee;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

div.IRNewsTool .IRDataGroup.hide {
    display: none;
}

div.IRNewsTool .IRDataGroup,
div.IRNewsTool .IRHeaderGroup {
    clear: both;
    float: left;
    width: 100%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader,
div.IRNewsTool .IRDataGroup div.IRData {
    border-bottom: 1px solid #eee;
    color: inherit;
    line-height: 28px;
    height: 28px;
    white-space: nowrap;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader {
    cursor: default;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate,
div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    width: 19%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle,
div.IRNewsTool .IRDataGroup div.IRData.IRTitle {
    width: 50%;
    overflow: hidden;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload,
div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    display: inline-block;
    width: 19%;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
    float: left;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    width: 19%;
    float: left;
    position: relative;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
    background-image: url('../images/pdficonsmall.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: none;
    width: 19px;
    height: 17px;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media (max-width: 480px) {

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate,
    div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100%;
        border-bottom: none;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle,
    div.IRNewsTool .IRDataGroup div.IRData.IRTitle {
        width: 100%;
        border-bottom: none;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload,
    div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        width: 100%;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
        width: 60%;
        float: left;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
        width: 25px;
        float: left;
        position: relative;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        top: 4px;
        right: 0px;
    }
}

/* IRNews IE 8,7,6 Corrections */
div.IRNewsTool.IE876 .IRHeaderGroup div.IRHeader {
    display: none;
}

div.IRNewsTool.IE876 .IRDataGroup div.IRData {
    width: 100%;
}

div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
    position: absolute;
    top: 4px;
    left: 0px;
}

div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload {
    text-align: left;
}

div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    float: left;
    width: 25px;
}

/* end */

/**/
table.IRNewsTool tr.hide {
    display: none;
}

/**/

.IRChartModule .IRChartDownloadHistoricalDataAsExcel {
    display: inline-block;
    padding: 5px;
    border: 1px solid #eee;
    cursor: pointer;
}

.IRChartComparisonPlaceholder {
    position: absolute;
    top: 0px;
    left: 5px;
    line-height: 30px;
    z-index: 100;
}

.IRChartComparisonPlaceholder div {
    float: left;
    margin-left: 5px;
    display: none;
    cursor: pointer;
}

.IRChartComparisonPlaceholder div span {
    padding-left: 5px;
}

.IRChartTAPlaceholder {
    position: absolute;
    top: 0px;
    left: 5px;
    line-height: 30px;
    z-index: 100;
}

.IRChartTAPlaceholder div {
    float: left;
    margin-left: 5px;
    display: none;
    cursor: pointer;
}

.IRChartTAPlaceholder div span {
    padding-left: 5px;
}

.tooltipHtmlTA {
    position: absolute;
    top: 250px;
    background-color: #fff;
    border: 1px solid #eee;
    min-width: 60px;
    white-space: normal;
}

div.tooltipHtmlTARow {
    font-size: 12px;
    font-weight: bold;
}

.IRDEBUG {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #aaa;
}
/* KM */

.IRChartCC .convert-btn.selectableItem:hover {
    border-left:5px solid #000;
}


div#IRChartNavigationClearComparison.basicButtonLook,
div#IRChartNavigationClearTA.basicButtonLook,
div#IRChartNavigationClearTSR.basicButtonLook,
div#IRChartNavigationClear.basicButtonLook,
div#IRChartNavigationClear.convert-btn {
    color: #aaa;
}

div#IRChartNavigationClearComparison.basicButtonLook:hover,
div#IRChartNavigationClearTA.basicButtonLook:hover,
div#IRChartNavigationClearTSR.basicButtonLook:hover,
div#IRChartNavigationClear.basicButtonLook:hover,
div#IRChartNavigationClear.convert-btn:hover,
div#IRChartNavigationClear:hover {
    color: #000;
}

div.IRChartMenuTriggerBody div:hover {
    background-color: #eee;
}

.IRChartNavigation .IRChartComparison .IRChartComparisonBody {
    position: absolute;
    z-index: 100;
    top: 30px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #eee;
    font-weight: normal;
    color: #000;
    padding-left: 10px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888');
    line-height: 20px;
}

.IRChartNavigation .IRChartComparison .IRChartComparisonBody .basicButtonLook,
.IRChartNavigation .IRChartTSR .IRChartTSRBody .basicButtonLook {
    padding-top: 4px;
    padding-bottom: 4px;
}

.IRChartNavigation .IRChartComparison .IRChartComparisonBodyList .basicButtonLook,
.IRChartNavigation .IRChartTSR .IRChartTSRBodyList .basicButtonLook {
    color: #555;
}

.IRChartNavigation .IRChartComparison .IRChartComparisonBodyList .basicButtonLook:hover,
.IRChartNavigation .IRChartTSR .IRChartTSRBodyList .basicButtonLook:hover {
    color: #000;
}

.IRChartNavigation .IRChartComparison .IRChartComparisonBodyListHeader {
    font-weight: bold;
    line-height: 30px;
}

.IRChartNavigation .IRChartComparison .IRChartComparisonBody div .IRChartComparisonBodyListHeader:hover {
    cursor: default;
}

div.IRChartComparisonPlaceholder div.ComparisonOff {
    position: relative;
    float: right;
    top: 5px;
    right: 0px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/closeCircle.png');
    background-position: center;
    background-repeat: no-repeat;
}

div.TASettings {
    display: block;
    float: right;
    /*position: relative;
    display: block;
    float: left;
    top: 30px;
    left: 10px;
    border: 1px solid #eee;
    background-color: #fff;*/
}

div.TASettings .TASettingsInput {
    width: 100px;
}

div.TASettings .TASettingsUpdate {
    position: relative;
    display: block;
    float: right;
    width: 100px;
    border: 1px solid #eee;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    top: 4px;
    padding-left: 3px;
}

/*.IRChartTAPlaceholder div.updateTASettings {
    display: block;
    padding: 3px;
    border: 1px solid #eee;
}*/

.IRChartModule .IRChartPlaceholderArea .IRChartCurrency {
    position: absolute;
    z-index: 100;
    /*top: 26px;*/
    right: 0px;
    width: 70px;
    line-height: 30px;
    cursor: default;
    text-align: center;
}

/*
    Support for RTL languages
*/

/*
    htmlReadingDirection
*/
.readingDirectionRTL .table-look th.column-first,
.readingDirectionRTL .table-look td.column-first {
    text-align: right;
}

.readingDirectionRTL .table-look th.column-last,
.readingDirectionRTL .table-look td.column-last {
    text-align: left;
}

.readingDirectionRTL div span.subHeader {
    width: auto;
    padding-left: 5px;
}

/*475px


    .IRChartPlaceholderArea .IRChartChangePeriod {
        height: 25px;
        line-height: 25px;
        width: 450px;
        margin: auto;
    }*/

.language-ar .IRChartChangePeriod {
    width: 475px;
}

div#max.language-ar,
div#Max.language-ar {
    width: 75px;
}

*.formatColorPos, *.formatColourPos {
    color: green;
}

*.formatColorNeg, *.formatColourNeg {
    color: red;
}

*.formatColorDef, *.formatColourDef {
    color: inherit;
}

div.IRNewsTool .IRDataGroup div.IRData.ClosePriceChange.formatColorPos {
    color: green;
}

div.IRNewsTool .IRDataGroup div.IRData.ClosePriceChange.formatColorNeg {
    color: red;
}

div.IRNewsTool .IRDataGroup div.IRData.ClosePriceChange.formatColorDef {
    color: inherit;
}

.IRNewsPerformanceTool {
    width: 100%;
}

.IRNewsPerformanceTool .IRDataGroup,
.IRNewsPerformanceTool .IRHeaderGroup {
    clear: both;
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.IRNewsPerformanceTool div.DataHover {
    background-color: #eee;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.IRNewsPerformanceTool .IRHeaderGroup div.IRHeader,
.IRNewsPerformanceTool .IRDataGroup div.IRData {
    /*border-bottom: 1px solid #eee;*/
    color: inherit;
    line-height: 28px;
    height: 28px;
    white-space: nowrap;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}

.IRNewsPerformanceTool .IRHeaderGroup div.IRHeader.IRDate,
.IRNewsPerformanceTool .IRDataGroup div.IRData.IRDate {
    width: 14%;
}

.IRNewsPerformanceTool .IRHeaderGroup div.IRHeader.IRTitle,
.IRNewsPerformanceTool .IRDataGroup div.IRData.IRTitle {
    width: 66%;
}

.IRNewsPerformanceTool .IRHeaderGroup div.IRHeader.IRClosePriceChange,
.IRNewsPerformanceTool .IRDataGroup div.IRData.IRClosePriceChange {
    width: 14%;
}

.IRNewsPerformanceTool .IRDataGroup.alternative {
    background-color: #f7f7f7;
}

.IRNewsPerformanceTool .IRDataGroup div.IRData.IRClosePriceChange.formatColorPos {
    color: green;
}

.IRNewsPerformanceTool .IRDataGroup div.IRData.IRClosePriceChange.formatColorDef {
    color: inherit;
}

.IRNewsPerformanceTool .IRDataGroup div.IRData.IRClosePriceChange.formatColorNeg {
    color: red;
}

.IRNewsPerformanceTool .IRDataGroup.hide {
    display: none;
}

.IRNewsPerformanceTool .IRDataGroup.DataHover,
.IRNewsPerformanceTool .IRDataGroup.alternative.DataHover {
    background-color: #eee;
}

@media (max-width: 480px) {

    .IRNewsPerformanceTool .IRHeaderGroup div.IRHeader.IRDate,
    .IRNewsPerformanceTool .IRDataGroup div.IRData.IRDate,
    .IRNewsPerformanceTool .IRHeaderGroup div.IRHeader.IRTitle,
    .IRNewsPerformanceTool .IRDataGroup div.IRData.IRTitle,
    .IRNewsPerformanceTool .IRHeaderGroup div.IRHeader.IRClosePriceChange,
    .IRNewsPerformanceTool .IRDataGroup div.IRData.IRClosePriceChange {
        width: 100%;
        border: none;
    }

    .IRNewsPerformanceTool .IRHeaderGroup div.IRHeader,
    .IRNewsPerformanceTool .IRDataGroup div.IRData {
        height: 20px;
        line-height: 20px;
    }

    .IRNewsPerformanceTool .IRHeaderGroup,
    .IRNewsPerformanceTool .IRDataGroup {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

span.IRChartXAxisHeader {
    color: #666666;
    font-weight: bold;
    width: 200px;
}

.IRChartTechnicalAnalysisControlsPlaceholder .IRChartTA {
    cursor: pointer;
    color: #555;
}

.IRChartTechnicalAnalysisControlsPlaceholder .IRChartTA:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.IRChartTechnicalAnalysisActiveSettings {
    position: absolute;
    top: 141px;
    left: 0px;
    z-index: 200;
    height: 28px;
    line-height: 28px;
    padding-right: 10px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
}

.IRChartTechnicalAnalysisActiveSettings div, .IRChartTechnicalAnalysisActiveSettings span {
    display: block;
    float: left;
    height: inherit;
    line-height: inherit;
    margin-left: 5px;
}

.IRChartTechnicalAnalysisActiveSettings input {
    position: relative;
    top: 1px;
    height: 20px;
    line-height: 20px;
    width: 30px;
    margin-left: 5px;
}

.IRChartTechnicalAnalysisActiveSettings .updateButton {
    position: relative;
    background-color: white;
    border: 1px solid #aaa;
    padding-left: 5px;
    padding-right: 5px;
    height: 24px;
    line-height: 24px;
    top: 1px;
    left: 5px;
    cursor: pointer;
}

.IRChartTechnicalAnalysisControlsPlaceholder .IRChartTA {
    padding-left: 25px;
    height: 30px;
    line-height: 28px;
    background-image: url('../images/radio_false.png');
    background-position: left center;
    background-repeat: no-repeat;
    width: 100px;
    float: left;
    border-left: none;
}

.IRChartTechnicalAnalysisControlsPlaceholder .IRChartTA:hover {
    border-color: #ffffff;
}

.IRChartTechnicalAnalysisControlsPlaceholder .IRChartTA.active {
    background-image: url('../images/radio_true.png');
}

.IRChartTechnicalAnalysisControlsPlaceholder.long .IRChartTA {
    width: 300px;
}

.IRChartTechnicalAnalysisActiveSettings .showHideMe {
    display: none;
    float: right;
    cursor: pointer;
    color: #aaa;
}

.IRChartTechnicalAnalysisActiveSettings .showHideMe:hover {
    color: #000;
}

@media only screen and (max-width: 430px) {
    .IRChartTechnicalAnalysisActiveSettings {
        width: 150px;
        height: auto;
        z-index: 2;
    }

    .IRChartTechnicalAnalysisActiveSettings div.settingsPlaceholder {
        display: block;
        width: 100%;
    }

    .IRChartTechnicalAnalysisActiveSettings div.settingsPlaceholder span {
    }

    .IRChartTechnicalAnalysisActiveSettings div.settingsPlaceholder input {
        float: right;
        margin-right: 5px;
    }

    .IRChartTechnicalAnalysisActiveSettings .updateButton {
        float: right;
        margin-right: 10px;
    }

    .IRChartTechnicalAnalysisActiveSettings .showHideMe {
        display: block;
    }
}
