
body {
    font-size: 0.75em;
    font-family: Arial, Helvetica, Tahoma, Geneva, Verdana, Sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #333333;
    padding-left: 0;
    padding-right: 0;
    margin: 0px;
    line-height: 1.4em;
}
.clear {
    clear: both;
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}
input[type=text] {
    border: 1px solid #ccc;
    font-weight: 700;
    font-size: 12px;
}

/*.formatColourPos::before{content:"+";}*/

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}
input, select {
    padding: 0px 7px;
    line-height: 34px;
    height: auto;
    height: 34px
}
.wide-input {
    width: 195px;
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    font-weight: normal;
    cursor: pointer;
    box-shadow: none;
    -webkit-appearance: none;
    height: 40px;
    line-height: normal;
    width: 40px;
    color: #151515;
    padding: 0;
    margin: 0 0 0 5px;
}

/*input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    background: linear-gradient(to top, #6aabd0 0%, #3e76a2 100%);
    box-shadow: none;
    color: #fff;
}*/

h1 {
    display: block;
    position: initial;
    color: #434649;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 45px;
}
.IRQuoteModule {
    font-size: 14px;
}

.IRQuoteModule .updated{
    text-align: right;
    margin-bottom: 40px;
}

.table-look {
    table-layout: fixed;
}
.IRMiniquoteModule .table-look{border-bottom: 0;}

.table-look td, .table-look th{
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: left;
    font-size: 16px;
    border: 0;
    padding: 0;
}


.IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    height: auto;
    padding: 0 0 0 0;
    width: auto !important;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    line-height: 23px;
    border-bottom: none !important;
}
.table-look th {
    background: #555555;
    color: #fff;
    font-weight: bold;
}
.table-look td {
    font-weight: normal;
    background: #f5f5f5;
    border-bottom: 1px solid #cccccc;
}

.table-look td.formatColourPos, *.formatColourPos{
    color: green;
}

.table-look td.formatColourNeg, *.formatColourNeg{
    color: red;
}

.table-look th.column-first, .table-look td.column-first{
    padding-left: 20px;
}

.table-look th.column-last, .table-look td.column-last{
    padding-right: 20px;
    text-align: left;
    width: 18%;
}

.timestamp{
    text-align: center;
}
/* IRNewsModule  ===============================================================*/
.IRNewsModule .date-wrapper a{
    float: left !important;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    width: 95px !important;
    display: inline-block;
}
div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    width: 135px !important;
    font-weight: bold;
}

        .IRNewsPagination .IRNewsPaginationPageNew.active {
            font-weight: bold;
            color: #172F67;
        }

    /*.IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('../2582/images/prev.png') !important;
        opacity: 1;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('../2582/images/next.png') !important;
        opacity: 1;
    }*/

.IRNewsPagination div.IRNewsPaginationPageNew:hover {
    font-weight: bold;
    opacity: 1;
}

.IRNewsPagination div.IRNewsPaginationPageNew.active {
    font-weight: bold;
    color: #3bbde1;
}
div.IRNewsTool .IRDataGroup div.IRData.IRTitle {
    width: 378px !important;
}

.IRNewsTableFooter .IRNewsPagination {
    padding-left: 40px !important;
    display: none;
}
.filter-row {
    display: none;
}

div#dialog {
    display: none;
}

.datepicker {
    display: none;
}

.filterRow {
    display: none;
}

.date-wrapper {
    width: 100%;
    height: 26px;
    margin: 0 4px;
    border-bottom: 1px solid;
}

.date-selector {
    color: #951a26;
    font-size: 14px;
    width: 28px;
    padding: 0 7px 0 0;
    margin-right: 3px;
    text-decoration: none;
}
.IRNewsModule .date-selector {
    margin-right: 10px;
}
.IRNewsModule .date-selector::after {
    content: "";
    width: 1px;
    height: 10px;
    position: relative;
    display: block;
    left: -7px;
    top: -13px;
    background: #000;
}
.IRNewsModule .date-selector:first-child::after {
    display: none;
}
.date-selector-wrapper {
    width: 100%;
    height: 58px;
}

.IRNewsModule {
    /*max-width: 513px;*/
    width: 100%;
}

.date-selector:first-child {
    padding-left: 0;
}

span.heading {
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}

input.searchText {
    width: 260px;
    height: 44px;
    border: 1px solid #9CA1A4;
    font-size: 14px !important;
}

.news-filter-wrapper {
    margin-top: 6px;
    margin-left: 4px;
}
input.newsSubmit {
    background-image: url(img/btn.gif);
    background-repeat: no-repeat;
}
.IRHeaderGroup {
    display: none;
}

.IRNewsTool.table-look {
    padding-top: 28px;
}

.IRDataGroup {
    font-size: 14px;
}

div.IRData.IRTitle {
    font-weight: bold;
    color: #951a26 !important;
    width: auto !important;
}
.submitButton {
    display: none;
}
.IRData.IRDate:before {content: ' ';background: url(img/arrowRight.gif);height: 12px;width: 11px;display: inline-block;margin-left: 2px;background-repeat: no-repeat;}
div#next {
    background: url("img/arrowRight.gif") no-repeat scroll 40px 16px #E4E7E9;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 3px;
    padding-right: 15px;
    width: 30px;
    text-decoration: none;
    color: #951a26 !important;
    cursor: pointer;
}

.IRNewsTableFooter {
    margin-top: 25px;
}

div#prev {
    background: url("img/arrowLeft.gif") no-repeat scroll 5px 16px #E4E7E9;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 8px;
    text-decoration: none;
    color: #951a26 !important;
    cursor: pointer;
}

div#prev:hover, div#next:hover  {
    text-decoration: underline;
}
div.IRNewsTool div.DataHover {
    background: transparent;
}
div.IRNewsTool div.IRTitle.DataHover{
    text-decoration: underline;
}
/* End ======================================================================== */


/* @media only screen =========================================================*/

@media only screen and (max-width: 600px){
 
    .table-look {
        border: 0;
    }

    div.IRNewsTool .IRDataGroup {
        background-color: #fff;
        border: 0;
        font-weight: bold;
    }

    /*.table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 0px solid #EBEBEB;
    }*/

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        text-align: left;
    }
    
   
}
@media only screen and (max-width: 571px) {
    
    .table-look th, .table-look td {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
    }
    
    .table-look {
        border: 0;
    }
    
    .table-look .vertical th{
        border: 1px;
    }
    
    .table-look.vertical tbody{
        display: table;
        width: 100%;
    }
}
