@font-face {
    font-family: 'HelveticaLight';
    src: url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica-Bold.woff') format('woff');
    font-weight: 700;
}

* {
    color: #20245a;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
    font-weight: bold;
}

/*
    show/hide elements
*/

.unsubscribeNextToButton {
    display: block;
}

/*
    end show/hide elements
*/


.pageRegister .input-wrapper {
    width: 70%;
    float: left;
    max-width: 400px;
}

.buttonStyle {
    background: #b2bb1c;
    color: #fff;
    padding: 0px 30px;
    height: 35px;
    font-size: 16px;
    line-height: 29px;
    border: 0px;
    text-decoration: none;
    margin-top: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-left: 2%;
    font-family: 'HelveticaLight';
}

    .buttonStyle:hover {
        background: #b2bb1c;
        color: #fff;
        border: none;
    }

.pageVerification.pageVerification_bottom .blockNoBorder {
    width: 100%;
}

.closeBox {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -15px;
    right: 0px;
    cursor: pointer;
}

.dialogueBox, .subPageLoginConfirm, .pageVerification {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: 0px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    left: 30px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
}

    .dialogueBox p {
        line-height: 20px;
    }

    .dialogueBox h3 {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
    }

.emailToConfirm {
    width: 100%;
    float: left;
}

.pageVerification_placedAtSubmitbutton .buttonStyle, .pageVerification_placedAtSubmitbutton .buttonStyle:hover, .formLoginConfirm.buttonStyle, .formLoginConfirm.buttonStyle:hover {
    width: initial;
}

#dialogueBox_register {
    bottom: 40px;
    line-height: 22px;
    padding-left: 20px;
}

#dialogueBox_unsubscribe {
    top: 0px;
}

.blockNoBorder {
    max-width: 400px;
    width: 70%;
    float: left;
}

    .blockNoBorder .unsubscribeNextToButton {
        line-height: 32px;
        min-width: 120px;
        width: 20%;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
        color: #BA3E32;
        border: 1px solid #BA3E32;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        padding: 5px 20px 5px 20px;
        font-family: 'HelveticaLight';
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            color: #FFFFFF;
            border: 1px solid #F26522;
            background-color: #BA3E32;
            padding: 6px 21px 6px 21px;
            border: 0;
        }

    .blockNoBorder .formRegister-wrapper {
        float: right;
    }

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }

p {
    display: inline;
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.inputTextTitle {
    height: 29px;
    line-height: 29px;
    min-width: 130px;
    font-weight: bold;
    font-size: 16px;
    color: #434343;
}

.requiredField {
    font-weight: bold;
    font-size: 13px;
}

.disclaimerHighlight {
    font-size: 14px;
}

input.informationInput {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    float: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 4px;
    padding-bottom: 2.40000009536743px;
    padding-left: 2.40000009536743px;
    padding-right: 2.40000009536743px;
    padding-top: 2.40000009536743px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 300px;
    word-spacing: 0px;
    height: 29px;
    line-height: 29px;
}

b {
    font-weight: bold;
}

.pageRegister {
    padding-left: 2%;
    padding-right: 2%;
}

.divideLine {
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-bottom: 10px;
}

.checkboxOuter {
    margin-bottom: 6px;
}

.checkBoxText {
    margin-left: 0.909em;
    line-height: 1.364em;
    font-size: 16px;
    color: #20245a;
    font-weight: bold;
    font-family: 'HelveticaBold';
}

.blockInner {
    margin-top: 0px;
}

.requiredField {
    font-size: 14px;
}

.subPageLogin input.informationInput {
    width: 70%;
    position: relative;
    margin-bottom: 15px;
    position: relative;
    margin-bottom: 15px;
    height: 29px;
    line-height: 29px;
}

.header {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
}

h2.header {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
    font-size: 17px;
    color: #333333;
    padding: 0;
    width: 100%;
    height: 39px;
    color: #bebe00;
    font-family: 'HelveticaBold';
    clear: both;
}

.cleanLink {
    float: left;
    top: 50px;
}

.subPageLogin {
    min-height: 140px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.register-wrapper {
    width: 100%;
    float: left;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        font-size: 16px;
        margin-bottom: 3px;
        display: block;
        line-height: initial;
        font-family: 'HelveticaLight';
    }

.subPageLogin span {
    height: 29px;
    line-height: 29px;
    min-width: 120px;
    font-weight: bold;
    color: #434343;
    font-size: 16px;
    width: 20%;
    float: left;
}

.hidden {
    display: none;
}

.semiTransparantOverlay, .transparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 900;
}

.registrationLightBox, .subPageLoginConfirm {
    z-index: 999;
    max-width: 400px;
}

.blockNoBorder.pageVerification_placedAtSubmitbutton {
    width: 100%;
    float: initial;
    margin-right: 0;
}

#dialogueBox_register {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.subPageLoginConfirm, .dialogueBox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    left: 0;
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 25px;
}

.registrationLightBox {
    word-break: normal;
    white-space: normal;
    width: 100%;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
}

.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}

strong {
    font-weight: bold;
}

.blockInner {
    max-width: initial;
}

h2 {
    display: block;
    height: 16px;
    line-height: 16px;
    margin-top: 23px;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 1em;
    font-size: 17px;
    color: #333333;
    padding: 0;
    width: 100%;
    height: 39px;
}

.pageVerification_top p, .pageVerification_bottom p {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
    font-family: 'HelveticaLight';
}

.pageVerification_top .goToHome {
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    color: #20245a;
    border: 1px solid #20245a;
    background-color: #fff;
    font-size: 14px;
    height: 21px;
    padding-left: 15px;
    padding-right: 15px;
}

    .pageVerification_top .goToHome:hover {
        border: 0px;
        color: #fff;
        background-color: #20245a;
    }

.blockOuterWrapper {
    display: inline-block;
    width: 100%;
}

.blockOuter label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

input[type=text] {
    height: 29px;
    line-height: 29px;
}
/* @media only screen =========================================================*/

@media only screen and (max-width: 500px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .input-wrapper .buttonStyle {
        float: right;
        width: 100%;
    }

    .pageRegister .input-wrapper {
        width: 100%;
        padding-left: 0%;
        max-width: initial;
    }

    .blockOuter {
        width: 100%;
        padding-left: 0%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

    .blockNoBorder .unsubscribeNextToButton {
        width: 100%;
        float: left;
        padding: 10px 0px 10px 0px;
        text-align: center;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            width: 100%;
            float: left;
            padding: 10px 0px 10px 0px;
            text-align: center;
        }

    .blockNoBorder {
        width: 100%;
        float: right;
        margin-right: 0;
        margin-bottom: 10px;
        max-width: none;
    }

        .blockNoBorder .buttonStyle, .blockNoBorder .buttonStyle:hover {
            position: initial;
            float: right;
            width: 100%;
            margin-left: 0;
        }

    .subPageLogin {
        margin-bottom: 0;
    }

    input[type=text] {
        width: 100%;
    }

    .pageVerification_placedAtSubmitbutton .buttonStyle, .pageVerification_placedAtSubmitbutton .buttonStyle:hover, .formLoginConfirm.buttonStyle, .formLoginConfirm.buttonStyle:hover {
        width: 100%;
        margin: 0;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput {
        width: 70%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .unsubscribeNextToButton {
        min-width: 90px;
    }

    .blockNoBorder .buttonStyle {
        width: 120px;
    }
}

/* Ënd ========================================================================*/
