<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/core.css" type="text/css" rel="stylesheet">
</head>
<body style="width: auto; background: transparent; overflow-y: hidden">
<div id="slidebar" class="boxes"></div>
</body>
<script src="../js/jquerymin.js"></script>
<script src="../js/touchslider.js" type="text/javascript"></script>
<script>
    var data = [
        {
            title: "OMX C20",
            price: 11.11,
            change: 1.2
        },
        {
            title: "FTSE 100",
            price: 11.11,
            change: -1.2
        },
        {
            title: "OMX C20",
            price: 11.11,
            change: 1.2
        },
        {
            title: "FTSE 100",
            price: 11.11,
            change: -1.2
        },
        {
            title: "OMX C20",
            price: 11.11,
            change: 1.2
        },
        {
            title: "FTSE 100",
            price: 11.11,
            change: -1.2
        }
    ];

    $(document).ready( function () {
    (function () {
        data.forEach(function(item){
            var arrow ="";
            if (item.change > 0)
                arrow = "up";
            else if (item.change < 0)
                arrow = "down";

            var temp = `
            <div class="box">
                <div class="big-line">
                    <span class="title">${item.title}</span>
                    <span class="change-arrow ${arrow}"></span>
                </div>
                <div class="small-line">
                    <span class="price">${item.price}</span>
                    <span class="price-change">${item.change}%</span>
                </div>
            </div>`;

            $('#slidebar').append(temp);

        })
    })()

    });
</script>
</html>
