@font-face {
    font-family: 'proxima-nova';
    src: url('fonts/ProximaNova-Regular.eot') format('embedded-opentype'), url('fonts/ProximaNova-Regular.svg') format('svg'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.woff') format('woff');
}

body {
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.clear {
    clear: both;
}

h2 {
    font-weight: 400;
}

*.DataHover {
    background-color: #fff !important;
}

.formatColourPos {
    color: #1BA71B;
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 1px solid #ddd;
}

label {
    color: #333;
    font-size: 14px;
}
/*.formatColourPos::before{content:"+";}*/

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}

input, select {
    padding: 0px 7px;
    line-height: 25px;
    height: 25px;
}

.wide-input {
    width: 150px;
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    font-weight: 400;
    padding: 0 20px;
    line-height: 32px;
    height: 32px;
    cursor: pointer;
    border: 0;
    font-size: 12px;
    -webkit-appearance: none;
    border-radius: 3px;
    border: 1px solid #666666;
    padding: 0;
    background: linear-gradient(rgb(240, 240, 240), rgb(209, 209, 209));
}

.IRNewsModule .newsSubmit {
    font-weight: 400;
    padding: 0 20px;
    line-height: 32px;
    height: 32px;
    cursor: pointer;
    border: 0;
    margin-bottom: 20px;
    font-size: 16px;
    -webkit-appearance: none;
    border-radius: 0;
    float: right;
    margin-right: 10px;
    width: 140px;
}

.IRQuoteModule {
    font-size: 15px;
}

.table-look {
    border: 0;
}

    .table-look th, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        color: inherit;
        border: 0;
        font-weight: 700;
        border-top: 0;
        font-size: 14px;
    }

    .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 1px solid #ddd;
    }

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        text-align: left;
        /* line-height: 20px; */
        padding: 0;
        display: block;
    }

/* IRMiniquoteModule ===================================================== */
.IRMiniquoteModule {
    font-weight: 400;
    max-width: 215px;
    font-size: 14px;
    height: 255px;
}

    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        font-weight: 300;
        text-align: center;
        line-height: 38px;
        height: 38px;
        color: #3684c3;
        font-size: 20px;
        margin-top: 10px;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    height: 110px;
}

.IRMiniQuoteQuoteModule .last {
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    height: 48px;
    display: inline;
    color: #333333;
}

.IRMiniQuoteQuoteModule .currency {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    padding-left: 0px;
    display: inline;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.IRMiniQuoteQuoteModule .closeDate {
    font-weight: 300;
    display: none;
}

.IRMiniQuoteQuoteModule .delayed {
    font-weight: 300;
    margin-bottom: 0px;
}

.IRMiniQuoteQuoteModule .change {
    margin-top: 9px;
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    width: 11px;
    height: 15px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #172F67;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 19px;
    width: 100%;
    text-align: center;
    display: block;
    float: left;
    background-image: url('../2382/images/arrowRight.png');
    background-repeat: no-repeat;
    background-position: 13% center;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}
/* End =================================================================== */



/* IRChart =============================================================== */

/*IRChartPlaceholderArea{width: 99%;}*/
.IRChartPlaceholderArea .IRChartPlaceholder {
    min-width: 250px;
    /*height: 400px;
    clear: both;*/
    width: 99%; /* width: 99% <--- iPhone 6+ fix to stop iFrame expanding. */
}

.IRChartHTMLPlaceholder {
    height: 400px;
    min-width: 250px;
    clear: both;
}

.IRChartColour {
    color: #172F67;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div {
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        color: #fff;
        background: #172F67;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0.25em 0 0;
    }

        .chartChangePeriod div.activePeriod {
            color: #58585a !important;
            background: #f4f4f4 !important;
            border: 1px solid #000;
        }

        .chartChangePeriod div:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
        }

        .chartChangePeriod div#max {
            border-right: 1px solid #000;
        }

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #172F67;
    color: #fff;
}

.IRChartHTMLPlaceholder {
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}
/* End ====================================================================== */


/* IRDetailedSharePrice ===================================================== */
.IRQuoteHorizontalModule .quote {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 37px;
}

    .IRQuoteHorizontalModule .quote .current, .IRQuoteHorizontalModule .quote .change {
        margin: 20px;
        margin-left: 0;
        width: 200px;
        float: left;
    }

    .IRQuoteHorizontalModule .quote .current {
        color: #172F67;
        font-size: 30px;
        float: left;
        margin: 0;
        margin-top: 45px;
    }

    .IRQuoteHorizontalModule .quote .change {
        float: left;
        color: #616161;
        font-size: 16px;
        margin-top: 45px;
    }

        .IRQuoteHorizontalModule .quote .change div {
            margin-bottom: 15px;
            font-weight: 300;
        }

.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look td {
}

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 50px;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    font-size: 19.7px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.IRQuoteHorizontalModule h3 {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    float: left;
    width: 100%;
    color: #3684c3;
    line-height: 22px;
}

.IRDetailedSharePrice.table-look th {
}

.IRDetailedSharePrice th, .IRDetailedSharePrice td {
    padding-top: 0;
    padding-bottom: 0;
}

.IRDetailedSharePrice td {
    font-size: 14px;
    font-weight: 300;
}

.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}
/* End ======================================================================== */



/* IRNewsModule ============================================================ */
.IRNewsModule {
    font-size: 14px;
    background: transparent;
    border-bottom: 1px solid #e6e6e6;
}

    .IRNewsModule .filter-wrapper {
        width: 100%;
        float: left;
    }

    .IRNewsModule .heading {
        display: none;
    }

.news-filter-wrapper {
    display: none;
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
}

.IRNewsModule h2 {
    font-size: 24px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    display: none;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #666666;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.news-filter-wrapper {
    /*overflow: hidden;*/
    width: 100%;
}

.IRNewsModule .date-wrapper {
    float: left;
    line-height: normal;
}

.IRNewsModule .date-selector-wrapper {
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}

.IRNewsModule .date-wrapper a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    background-color: #666;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 10px;
    float: left;
}

    .IRNewsModule .date-wrapper a:hover {
        text-decoration: underline;
    }

    .IRNewsModule .date-wrapper a:active, .IRNewsModule .date-wrapper a.active {
        background-color: #2d6b86;
        color: #fff;
        font-weight: normal;
    }

    .IRNewsModule .date-wrapper a:focus {
        text-decoration: underline;
    }

.IRNewsModule .search-for-box {
    float: left;
    margin-top: 12px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
    display: none;
}

.IRNewsModule .news-filter-box #allRNSnews {
    font-weight: bold;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/
/*.IRNewsModule .news-filter-wrapper select {
    background-image: url(../2382/images/selectDown.png);
}*/

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    width: 183px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: left;
    display: none;
}

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 5px;
    height: 19px;
    line-height: 21px;
    width: 142px;
    margin-right: 7px;
    margin-bottom: 5px;
}


.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    display: none;
}

.IRNewsModule .search-for-box input {
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    width: 114px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    font-weight: 300;
    display: none;
}

.IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    font-weight: 300;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 64px;
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
}


.IRNewsModule .news-filter-wrapper #to-year {
    display: none !important;
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-top: -5px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .IRNewsTool .IRDataGroup div {
        border-bottom: 0;
    }

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .filter-wrapper .submitButton {
    margin-left: 46%;
}

.IRNewsModule .submitButton {
    margin-top: 0px;
    display: none;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(2382/images/calendar.gif);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    /*margin-right: 63px;*/
}

.IRNewsModule .heading {
    margin: 14px 0px;
    color: #4d4e53;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
}

/* NewsContent ======================================================== */
div.IRNewsTool .IRDataGroup {
    font-weight: normal;
    font-size: 12px;
    color: #4d4e53;
    font-weight: bold;
    line-height: 1.5em;
    padding: 4px 0;
}

.IRNewsModule .NewsDataGroupWrapper {
    float: left;
    width: 100%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRTitle {
    width: 50%;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    /*color: #4D4E53;*/
    display: block;
    /* padding-right: 12px; */
    white-space: normal;
    /*    height: 16px;
    line-height: 16px;*/
    /* padding: 15px 5px; */
    /* padding: 15px 5px; */
    height: auto;
}

.IRNewsTool .IRDataGroup .IRTitle.IRData:hover {
    text-decoration: none;
    cursor: pointer;
}

.IRNewsTool .IRDataGroup div {
}

.IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    font-size: 12px;
    padding: 0;
    border: 0;
    line-height: 2.5em;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    height: 16px;
    /*    line-height: 16px;*/
    cursor: initial;
    /* padding: 15px 5px; */
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    float: right;
    display: none;
    /*background-image: url(images/table-linkicon.png);*/
    background-repeat: no-repeat;
    display: block;
    /* background-position: 0px 0px; */
    background-size: 19px 22px;
    margin-left: auto;
    margin-right: auto;
    background-position: right;
    height: 28px;
}

/*.IRNewsModule .news-filter-wrapper .newsSubmit {
    min-width: 60px;
    line-height: 24px;
    height: 24px;
    width: 60px;
    padding: 0;
}*/

.IRNewsModule .news-filter-wrapper .newsSubmit, .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    /* background: #1DA9DF none repeat scroll 0 0; */
    border: 1px outset #d7d7d7;
    color: #333;
    /* font-family: Verdana; */
    /* font-size: 13.3px; */
    font-weight: normal;
    cursor: pointer;
    text-transform: initial;
    cursor: pointer;
    height: 21px;
    margin-left: 2px;
    width: 80px !important;
    min-width: auto;
    border-radius: 0;
    line-height: 21px;
}


.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 16px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .IRDate {
    width: 23%;
    color: #666666;
}

.IRNewsModule .IRNewsTool .IRData.file-type {
    width: 24%;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool .IRData.IRTitle {
}


.IRNewsModule .IRNewsTool .IRHeader.IRTitle, .IRNewsModule .IRNewsTool IRData.IRTitle {
    width: 55%;
    text-align: left;
    float: left;
}

/*.IRNewsModule .IRNewsTool .IRHeader.file-type {
    display: none;
}*/

.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /*width: initial;*/
    width: 20px;
        float: right;
}
  
    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
       
        background-image: url(images/table-linkicon.png);
        background-repeat: no-repeat;
        display: block;
        /* background-position: 0px 0px; */
        background-size: 19px 22px;
        margin-left: auto;
        margin-right: auto;
        background-position: right;
        height: 28px;
    }

.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
}

    .IRNewsPagination .IRNewsPaginationPageNew {
        font-weight: 400;
        color: #172F67;
    }

        .IRNewsPagination .IRNewsPaginationPageNew.active {
            font-weight: 300;
            color: #172F67;
        }

    .IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('images/prev.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('images/next.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

.IRNewsTableFooter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.IRNewsPaginationPageNew {
    width: 42px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.IRNewsTableFooter .IRNewsPagination {
    font-size: 14px;
    padding-right: 25px;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
    display: none;
}

.IRNewsPagination .IRNewsPageNumber {
    font-size: 16px;
    font-weight: normal;
    color: #172F67;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #757575;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

div.IRNewsTool .IRHeaderGroup div, .IRNewsTool .IRDataGroup div {
}


.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
}

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

.IRNewsModule .news-filter-wrapper .search-from {
    display: none;
}


/* ============================================================================ */

/* IRCalcModule =============================================================== */
.IRCalcModule {
    font-size: 14px;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.IRCalcModule #calc-form, .IRCalcModule #calculate-button {
    margin-top: 10px;
}

.IRCalcModule #amount-invested {
    margin-bottom: 10px;
}


.IRCalcModule input[type=number] {
    padding-left: 0;
    text-indent: 10px;
}
/* End ======================================================================== */


/* IRLookupModule =============================================================== */
.IRChartLookupPlaceholder {
    margin-bottom: 10px;
    height: 250px;
}



.IRLookupModule select {
    font-size: 14px;
}
/* End ======================================================================== */
/* Calc and Lookup ============================================================ */

.input-wrapper {
    text-align: right;
}

.formDivider {
    width: 40%;
    float: left;
    margin: 0 5%;
}

    .formDivider .input-row label {
        line-height: 25px;
    }

.radio label {
    position: relative;
    top: -5px;
}

@media only screen and (max-width: 800px) {
    .formDivider {
        width: 90%;
        float: left;
        padding: 0 10px;
    }
}

/* Email Alerts Module ======================================================== */
.emailAlerts p, .checkBoxText {
    color: #555555;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.emailAlerts h2 {
    color: #3684c3;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

input[type=email] {
    line-height: 31px;
    height: 31px;
}

.emailAlerts input[type=email] {
    width: 68%;
    margin-right: 2%;
    padding-right: 0;
    padding-left: 0;
}

.emailAlerts .loginField {
    width: 99%;
    float: left;
    max-width: 400px;
}

.emailAlerts .buttonStyle {
    width: 28%;
}

.inputTextTitle {
    font-size: 14px;
    font-weight: 400;
    float: left;
    min-width: 140px;
    line-height: 31px;
    height: 31px;
}

input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    /*min-width: 140px;*/
}

.emailAlerts .divideLine {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 37px;
    margin-top: 37px;
}

.checkboxRelease {
    float: left;
    margin-right: 10px;
    line-height: 23px;
}

.emailAlerts .blockOuter {
    /*margin-top: 20px;*/
}

/*.pageVerification_placedAtSubmitbutton .buttonStyle {
    margin-top: 30px;
}*/



/* End ======================================================================== */
/*CHAR TABEL======================================================================*/
.IRQuoteModule.table-look.horizontal.responsive th, .IRQuoteModule.table-look.horizontal.responsive td {
    height: 30px !important;
    line-height: 30px !important;
    padding: 0px !important;
}

/*Miniquotechart table*/
.IRMiniquoteChart.table-look.horizontal th, .IRMiniquoteChart.table-look.horizontal td {
    height: 20px !important;
    line-height: 20px !important;
    padding: 0px !important;
    color: black;
    background-color: transparent;
    border: 0px;
    font-weight: normal;
}
/*END=============================================================================*/
/*CALC Graf=======================================================================*/
.highcharts-container, .highcharts-background {
    /*height:200px!important;*/
}
/*END==============================================================================*/

/* Trades module ============================================================== */
.IRTradesModule .table-look {
    width: 100% !important;
}

    .IRTradesModule .table-look .column-last {
        padding-right: 17px;
    }

    .IRTradesModule .table-look th.column-last { /*padding-right: 34px;*/
    }

.IRTradesModule .hidden {
    display: none;
}

.IRTradesModule .table-seperator {
    background: none;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
}


table.IRTradesModule td.strong {
    font-weight: bold;
}

.IRTradesModule h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.IRTradesModule .table-look th {
}

.IRTradesModule .table-look td {
    font-weight: 300;
}

.IRTradesModule .table-look th, .IRTradesModule .table-look td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage, .IRTradesModule th.change, .IRTradesModule td.change {
    text-align: right;
}

.IRTradesModule th {
}

.IRTradesModule .table-look td {
}

    .IRTradesModule .table-look td.formatColourPos {
    }

    .IRTradesModule .table-look td.formatColourNeg {
    }

/*.IRTradesModule .table-look .formatArrowDef {
        background-image: url(../1984/images/formatArrowDefSimple.png);
        width: 9px;
        height: 9px;
        display: inline-block;

    }*/
.IRHeader.column-last.file-type {
    height: 20px !important;
    width: 19%;
    text-align: right !important;
}

.table-seperator tr {
}

.IRTradesModule .table-look td.table-seperator {
}

.table-seperator div {
    padding: 0px 5px;
    position: absolute;
    font-weight: normal;
    left: 50%;
    /*width: 100px;*/
    top: 5px;
    margin-left: -50px;
    background: #F0F0F0;
    height: 20px;
}

.table-seperator hr {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #bdc1c9 !important;
    border-width: 1px;
    border-top: 1px solid #cacaca;
}

.IRTradesDisclaimer, .disclaimer {
    display: none;
}
/* End ======================================================================== */
div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    width: 24%;
    font-weight: normal;
    min-width: 115px;
    /*color: #4d4e53;*/
}

.IRHeader.IRDate {
    font-weight: bold !important;
}

.IRNewsModule .date-wrapper a:first-child::after {
    /*content: none;*/
}

/*.IRNewsModule .date-wrapper a::after {
    content: "";
    width: 1px;
    height: 10px;
    position: absolute;
    right: -2px;
    top: 2px;
    background: #ccc;
}*/

.IRNewsModule .news-filter-wrapper input, .IRNewsModule .news-filter-wrapper select {
    background-color: #fff;
}

.IRNewsModule .newsSubmit {
    margin-top: 0px;
    background-color: #F0F0F0;
    color: black;
}

.clickhere {
    font-size: 12px;
    margin-bottom: 15px;
    color: #666666;
}

    .clickhere a {
        text-decoration: none;
        color: #00525E;
    }

        .clickhere a:hover {
            text-decoration: underline;
        }

div.IRNewsTool .IRDataGroup, div.IRNewsTool .IRHeaderGroup {
    clear: both;
    float: left;
    width: 99%;
    font-size: 16px;
    /* height: auto; */
    padding: 15px 0;
    /*    border-bottom: solid 1px #2d6b86;*/
    font-weight: 500;
    color: #2d6b86;
    text-transform: uppercase;
    letter-spacing: 0.005px;
    line-height: normal;
}

div.IRNewsTool .IRHeaderGroup {
    border-bottom: solid 1px #2d6b86;
    /* padding: 15px 5px; */
}

div.IRNewsTool .IRDataGroup {
    border-bottom: solid 1px #CCC;
}

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        /* width: 30%; */
        /* padding-right: 4%; */
        /* padding: 15px 5px; */
    }

div.IRNewsTool .IRHeaderGroup div.IRHeader.column-last {
    float: right;
    width: 19%;
    /* text-align: center !important; */
    /* padding: 15px 5px; */
    /* color: #2d6b86; */
}

div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    color: #333;
    text-transform: none;
    font-size: 16px;
    line-height: 30px;
    /* padding: 15px 5px; */
}

DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    text-transform: none;
    font-size: 16px;
    line-height: normal;
    /* padding: 15px 5px; */
    /* height: 16px; */
    /* box-sizing: border-box; */
}

@media only screen and (max-width: 500px) {
    div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        padding: 0;
        /* padding-left: 30%; */
        /* float: right; */
        /* box-sizing: border-box; */
        /* line-height: 16px; */
    }

    div.IRNewsTool .IRDataGroup, div.IRNewsTool .IRHeaderGroup {
        /*height: 50px;*/
        padding: 15px 0;
    }
    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate{width: 100%; float: left;    line-height: initial;}
    div.IRNewsTool .IRDataGroup div.IRData.IRTitle{width: 75%;}
}
/* @media only screen =========================================================*/
@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input {
        min-width: 175px;
    }
}

@media only screen and (max-width: 700px) {
    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 53%;
    }

    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    }

        .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
            min-width: 70px;
        }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 183px !important;
    }
}

@media only screen and (min-width: 572px) {

    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    /*.IRNewsTool{
        height: 100%;
    }*/

    .table-look th, .table-look td {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }

    .IRChartNavigation, .IRChartPlaceholderArea, .IRChartPlaceholder, .IRChartPlaceholderArea .IRChartChangePeriodOuter, .IRChartPlaceholderArea .IRChartChangePeriod {
        padding-left: 0;
        padding-right: 0;
    }

    input[type=submit] {
        height: 40px;
        line-height: 40px;
    }

    .IRDetailedSharePrice.table-look th {
        height: 60px;
        line-height: 60px;
        padding-left: 10px;
        background-color: #f9f9f9;
        font-weight: bold;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
    }

    .IRDetailedSharePrice.vertical td {
        height: 60px;
        line-height: 60px;
        padding-left: 10px;
        font-weight: normal;
        font-size: 14px;
        height: initial;
        line-height: initial;
        white-space: initial;
    }

    .IRDetailedSharePrice.table-look th {
        width: 45%;
    }

    .IRDetailedSharePrice.horizontal {
        display: none !important;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }

    .IRCalcModule #calculate-button {
        margin-top: 5px;
        width: 182px;
    }

    .IRLookupModule #lookup-button {
        width: 182px;
    }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical th {
        line-height: 60px;
        height: 60px;
        font-weight: bold;
    }

    .IRCalcModule .vertical td {
        font-weight: normal;
    }

    .divideLine.horizontal {
        display: none;
    }

    .IRTradesModule .formatArrowPos, .IRTradesModule .formatArrowNeg {
        display: inline-block;
    }
}

@media (max-width: 500px) {

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        width: 25%;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
            float: left;
        }

    .chartChangePeriod {
        width: 400px;
    }

    .IRTradesModule th.change, .IRTradesModule td.change {
        display: none;
    }

    .IRTradesModule .updated img {
        display: none;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.column-last {
        /* width: 30%; */
    }
}



@media only screen and (max-width: 470px) {
    .emailAlerts .loginField {
        width: 99%;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle {
        width: 52%;
    }

    .emailAlerts input[type=email], .formLogin.clearInput {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .formLogin.clearInput {
        width: 100%;
    }

    input[type=text].informationInput, .emailAlerts input[type=email] {
        padding-right: 0;
        padding-left: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
}

@media only screen and (max-width: 400px) {
    .IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        margin-right: 2%;
    }

    .IRNewsPaginationPageNew {
        width: 34px;
    }

    chartChangePeriod {
        width: 200px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }

    .IRNewsModule .newsSubmit {
        width: 100%;
    }
}
/* End ======================================================================== */
/*DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    color: #00525E;
}*/


