<!DOCTYPE html>
<html ng-app="galleryApp">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">

    <title>Modules Gallery</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="appFiles/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="node_modules/angular-resizable/angular-resizable.min.css"/>
</head>

<body ng-controller="indexController">

<header class="toolbar-wrapper">
    <div class="burger-menu" ng-click="burgerClick()" ng-class="{'active': clikedBurger}">
        <span class="burgerSpan"></span>
    </div>
    <div class="toolbar-title">
        {{msg}}
    </div>
    <div class="export-btn">
        <i class="icon icon-export"></i>
    </div>
</header>

<nav class="main-menu" ng-class="{'burgerActive expanded': clikedBurger}">
    <ul>
        <li>
            <a href="#/chart" data-related="chart-div" class="active">
                <i class="icon icon-chart"></i>
                <span class="nav-text">Interactive chart</span>
            </a>
        </li>

        <li>
            <a href="#/calc" data-related="calc-div">
                <i class="icon icon-calc"></i>
                <span class="nav-text">Calculator</span>
            </a>
        </li>

        <li>
            <a href="#/lookup" data-related="lookup-div">
                <i class="icon icon-lookup"></i>
                <span class="nav-text">Lookup</span>
            </a>
        </li>

        <li>
            <a href="#/miniquote" data-related="miniquote-div">
                <i class="icon icon-miniquote"></i>
                <span class="nav-text">Miniquote</span>
            </a>
        </li>

        <li>
            <a href="#/profile" data-related="profile-div">
                <i class="icon icon-profile"></i>
                <span class="nav-text">Profile</span>
            </a>
        </li>

        <li>
            <a href="#/news" data-related="news-div">
                <i class="icon icon-news"></i>
                <span class="nav-text">News</span>
            </a>
        </li>

        <li>
            <a href="#/emails" data-related="email-div">
                <i class="icon icon-emailAlerts"></i>
                <span class="nav-text">Email</span>
            </a>
        </li>
    </ul>
</nav>

<main class="main-gallery">
    <div class="scroll-wrapper">
        <div class="alert-wrapper" ng-include="alertUrl"></div>
        <div class="overlay" ng-class="{'unhide': overlay}" ng-click="closeMenu()"></div>
        <div class="module-wrapper" ng-view></div>
        <div class="edit-wrapper">
            <pre>{{fileContent}}</pre>
        </div>
    </div>
</main>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="node_modules/angular-resizable/angular-resizable.min.js"></script>
<script type="text/javascript" src="node_modules/file-saver/FileSaver.min.js"></script>
<script type="text/javascript" src="node_modules/jszip/dist/jszip.min.js"></script>


<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="controllers/chart.ctrl.js"></script>
<script type="text/javascript" src="controllers/calc.ctrl.js"></script>
</html>


