body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #03546B;
}

/*
    IRChart    
*/
.IRChartModule {
    border: 1px solid #eee;
}

    .IRChartModule .IRChartNavigation {
        position: relative;
        height: 40px;
        font-size: 14px;
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }

        .IRChartModule .IRChartNavigation .IRChartCompanyName {
            position: absolute;
            left: 0px;
            float: left;
            line-height: 40px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .IRChartModule .IRChartNavigation .IRChartNavigationInner {
            float: right;
        }

            .IRChartModule .IRChartNavigation .IRChartNavigationInner .workInProgressTodo {
                color: #eee;
            }

            /*
                IRChartNavigationNarrow
            */
            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow {
                position: relative;
                display: none;
            }

                .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter {
                }

                    .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRButton {
                        line-height: 40px;
                        height: 40px;
                        width: 40px;
                    }

                        .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRButton .IRHamburger {
                            position: relative;
                            display: block;
                            height: 40px;
                            width: 40px;
                            background-image: url('../images/icons/IRHamburger_777.png');
                            background-repeat: no-repeat;
                            background-position: center center;
                        }

                            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRButton .IRHamburger:hover {
                                background-image: url('../images/icons/IRHamburger_000.png');
                            }

                    .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu {
                        display: none;
                        position: absolute;
                        right: 0px;
                        min-width: 200px;
                    }

                        .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu ul {
                            list-style-type: none;
                        }

                            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu ul ul {
                                display: none;
                            }

                        .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu li {
                            list-style-type: none;
                            cursor: pointer;
                        }

                            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu li.has-sub span.IRSubHeader {
                                margin-top: 5px;
                                display: block;
                            }

                            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu li.has-sub .IRState {
                                display: inline-block;
                                margin-right: 5px;
                                width: 14px;
                                height: 10px;
                                background-image: url('../images/icons/chevron-down_777.png');
                                background-repeat: no-repeat;
                                background-position: center center;
                            }

                            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu li.has-sub.open .IRState {
                                background-image: url('../images/icons/chevron-up_777.png');
                            }

                            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu li li {
                                padding-left: 10px;
                            }

                                .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationNarrow .IRChartNavigationNarrowOuter .IRChartNavigationNarrowMenu li li:hover {
                                    color: #000;
                                }


            /*
                IRChartNavigationWide
            */
            .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationWide {
            }

                .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationWide .IRChartNavigationWideOuter {
                    position: relative;
                    float: left;
                }

                    .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationWide .IRChartNavigationWideOuter .IRButton {
                        padding-left: 15px;
                        padding-right: 15px;
                        font-family: Tahoma, verdana;
                        font-size: 12px;
                        display: inline-block;
                        *display: inline;
                        zoom: 1;
                        position: relative;
                        line-height: 40px;
                        background-color: #fff;
                        color: #777;
                        font-weight: bold;
                        cursor: pointer;
                    }

                        .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationWide .IRChartNavigationWideOuter .IRButton:hover {
                            color: #000;
                        }

                        .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationWide .IRChartNavigationWideOuter .IRButton.active {
                            background-color: #F2F2F2;
                        }



                    .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationWide .IRChartNavigationWideOuter .IRChartNavigationWideInner {
                        position: absolute;
                        right: 0px;
                        min-width: 200px;
                        display: none;
                        z-index: 300;
                    }

                        .IRChartModule .IRChartNavigation .IRChartNavigationInner .IRChartNavigationWide .IRChartNavigationWideOuter .IRChartNavigationWideInner div {
                            width: 100%;
                        }

    .IRChartModule span.IRChartCompareElement {
        display: block;
        padding-left: 10px;
    }

    .IRChartModule .IRChartCompareElement.color002395:hover {
        padding-left: 5px;
        border-left: 5px solid #002395;
    }

    .IRChartModule .IRChartCompareElement.color03C03C:hover {
        padding-left: 5px;
        border-left: 5px solid #03C03C;
    }

    .IRChartModule .IRChartCompareElement.color0F52BA:hover {
        padding-left: 5px;
        border-left: 5px solid #0F52BA;
    }

    .IRChartModule .IRChartCompareElement.color138808:hover {
        padding-left: 5px;
        border-left: 5px solid #138808;
    }

    .IRChartModule .IRChartCompareElement.color3B444B:hover {
        padding-left: 5px;
        border-left: 5px solid #3B444B;
    }

    .IRChartModule .IRChartCompareElement.color4B5320:hover {
        padding-left: 5px;
        border-left: 5px solid #4B5320;
    }

    .IRChartModule .IRChartCompareElement.color507D2A:hover {
        padding-left: 5px;
        border-left: 5px solid #507D2A;
    }

    .IRChartModule .IRChartCompareElement.color556B2F:hover {
        padding-left: 5px;
        border-left: 5px solid #556B2F;
    }

    .IRChartModule .IRChartCompareElement.colorFF0000:hover {
        padding-left: 5px;
        border-left: 5px solid #FF0000;
    }

    .IRChartModule .IRChartCompareElement.color779ECB:hover {
        padding-left: 5px;
        border-left: 5px solid #779ECB;
    }

    .IRChartModule .IRChartCompareElement.color915C83:hover {
        padding-left: 5px;
        border-left: 5px solid #915C83;
    }

    .IRChartModule .IRChartCompareElement.color91877D:hover {
        padding-left: 5px;
        border-left: 5px solid #91877D;
    }

    .IRChartModule .IRChartCompareElement.colorFF00DC:hover {
        padding-left: 5px;
        border-left: 5px solid #FF00DC;
    }

    .IRChartModule .IRChartCompareElement.color967117:hover {
        padding-left: 5px;
        border-left: 5px solid #967117;
    }

    .IRChartModule .IRChartCompareElement.color9932CC:hover {
        padding-left: 5px;
        border-left: 5px solid #9932CC;
    }

    .IRChartModule .IRChartCompareElement.color00FF90:hover {
        padding-left: 5px;
        border-left: 5px solid #00FF90;
    }

    .IRChartModule .IRChartCompareElement.colorA4C639:hover {
        padding-left: 5px;
        border-left: 5px solid #A4C639;
    }

    .IRChartModule .IRChartCompareElement.colorB2EC5D:hover {
        padding-left: 5px;
        border-left: 5px solid #B2EC5D;
    }

    .IRChartModule .IRChartCompareElement.colorCBA135:hover {
        padding-left: 5px;
        border-left: 5px solid #CBA135;
    }

    .IRChartModule .IRChartCompareElement.colorCD9575:hover {
        padding-left: 5px;
        border-left: 5px solid #CD9575;
    }

    .IRChartModule .IRChartCompareElement.color91877D:hover {
        padding-left: 5px;
        border-left: 5px solid #91877D;
    }

    .IRChartModule .IRChartCompareElement.color967117:hover {
        padding-left: 5px;
        border-left: 5px solid #967117;
    }

    .IRChartModule .IRChartCompareElement.colorFF8C00:hover {
        padding-left: 5px;
        border-left: 5px solid #FF8C00;
    }

    .IRChartModule .IRChartCompareElement.color779ECB:hover {
        padding-left: 5px;
        border-left: 5px solid #779ECB;
    }

    .IRChartModule .IRChartCompareElement.colorA4C639:hover {
        padding-left: 5px;
        border-left: 5px solid #A4C639;
    }

    .IRChartModule .IRChartCompareElement.color002395.active {
        padding-left: 5px;
        border-left: 5px solid #002395;
    }

    .IRChartModule .IRChartCompareElement.color03C03C.active {
        padding-left: 5px;
        border-left: 5px solid #03C03C;
    }

    .IRChartModule .IRChartCompareElement.color0F52BA.active {
        padding-left: 5px;
        border-left: 5px solid #0F52BA;
    }

    .IRChartModule .IRChartCompareElement.color138808.active {
        padding-left: 5px;
        border-left: 5px solid #138808;
    }

    .IRChartModule .IRChartCompareElement.color3B444B.active {
        padding-left: 5px;
        border-left: 5px solid #3B444B;
    }

    .IRChartModule .IRChartCompareElement.color4B5320.active {
        padding-left: 5px;
        border-left: 5px solid #4B5320;
    }

    .IRChartModule .IRChartCompareElement.color507D2A.active {
        padding-left: 5px;
        border-left: 5px solid #507D2A;
    }

    .IRChartModule .IRChartCompareElement.color556B2F.active {
        padding-left: 5px;
        border-left: 5px solid #556B2F;
    }

    .IRChartModule .IRChartCompareElement.colorFF0000.active {
        padding-left: 5px;
        border-left: 5px solid #FF0000;
    }

    .IRChartModule .IRChartCompareElement.color779ECB.active {
        padding-left: 5px;
        border-left: 5px solid #779ECB;
    }

    .IRChartModule .IRChartCompareElement.color915C83.active {
        padding-left: 5px;
        border-left: 5px solid #915C83;
    }

    .IRChartModule .IRChartCompareElement.color91877D.active {
        padding-left: 5px;
        border-left: 5px solid #91877D;
    }

    .IRChartModule .IRChartCompareElement.colorFF00DC.active {
        padding-left: 5px;
        border-left: 5px solid #FF00DC;
    }

    .IRChartModule .IRChartCompareElement.color967117.active {
        padding-left: 5px;
        border-left: 5px solid #967117;
    }

    .IRChartModule .IRChartCompareElement.color9932CC.active {
        padding-left: 5px;
        border-left: 5px solid #9932CC;
    }

    .IRChartModule .IRChartCompareElement.color00FF90.active {
        padding-left: 5px;
        border-left: 5px solid #00FF90;
    }

    .IRChartModule .IRChartCompareElement.colorA4C639.active {
        padding-left: 5px;
        border-left: 5px solid #A4C639;
    }

    .IRChartModule .IRChartCompareElement.colorB2EC5D.active {
        padding-left: 5px;
        border-left: 5px solid #B2EC5D;
    }

    .IRChartModule .IRChartCompareElement.colorCBA135.active {
        padding-left: 5px;
        border-left: 5px solid #CBA135;
    }

    .IRChartModule .IRChartCompareElement.colorCD9575.active {
        padding-left: 5px;
        border-left: 5px solid #CD9575;
    }

    .IRChartModule .IRChartCompareElement.color91877D.active {
        padding-left: 5px;
        border-left: 5px solid #91877D;
    }

    .IRChartModule .IRChartCompareElement.color967117.active {
        padding-left: 5px;
        border-left: 5px solid #967117;
    }

    .IRChartModule .IRChartCompareElement.colorFF8C00.active {
        padding-left: 5px;
        border-left: 5px solid #FF8C00;
    }

    .IRChartModule .IRChartCompareElement.color779ECB.active {
        padding-left: 5px;
        border-left: 5px solid #779ECB;
    }

    .IRChartModule .IRChartCompareElement.colorA4C639.active {
        padding-left: 5px;
        border-left: 5px solid #A4C639;
    }


    .IRChartModule .IRChartTAElement.active {
        color: #000;
        padding-left: 5px;
        border-left: 5px solid red;
    }

    .IRChartModule .IRChartViewElement.active {
        color: #000;
        padding-left: 5px;
        border-left: 5px solid blue;
    }


/*
    IRNavElement 
*/
.IRNavElement {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    font-size: inherit;
    background-color: #fff;
    border-radius: 2px;
    color: #777;
    z-index: 100;
    border: 1px solid #eee;
    transition: box-shadow 0.1s cubic-bezier(0.1, 0, 0.1, 1);
    transition-delay: 0.1s;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
    z-index: 200;
}

    .IRNavElement ul {
        padding: 0px;
    }

    .IRNavElement li {
        padding: 5px;
    }

    .IRNavElement div {
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        padding-right: 0px;
    }

        .IRNavElement div:hover {
            color: #000;
            cursor: pointer;
        }

        .IRNavElement div:active {
            color: #000;
        }

        .IRNavElement div.IRChartComparisonBodyListHeader {
            font-weight: bold;
            color: #000;
            padding-top: 5px;
            height: 25px;
        }

            .IRNavElement div.IRChartComparisonBodyListHeader:hover {
                cursor: default;
            }

    .IRNavElement span.IRChartComparisonBodyListHeader {
        font-weight: bold;
        color: #000;
        padding-left: 10px;
    }

        .IRNavElement span.IRChartComparisonBodyListHeader:hover {
            cursor: default;
        }
/*
            
        */

.IRChartModule .IRChartPlaceholderArea {
    position: relative;
}

    /*
            IRChartComparisonPlaceholder
        */
    .IRChartModule .IRChartPlaceholderArea .IRChartComparisonPlaceholder {
        position: absolute;
        top: 0px;
        left: 5px;
        line-height: 30px;
        z-index: 100;
    }

        .IRChartModule .IRChartPlaceholderArea .IRChartComparisonPlaceholder div {
            float: left;
            margin-left: 5px;
            display: none;
            cursor: pointer;
        }

            .IRChartModule .IRChartPlaceholderArea .IRChartComparisonPlaceholder div span {
                padding-left: 5px;
            }

    /*
            IRChartCurrency
        */
    .IRChartModule .IRChartPlaceholderArea .IRChartCurrency {
        position: absolute;
        z-index: 100;
        right: 0px;
        width: 70px;
        line-height: 30px;
        cursor: default;
        text-align: center;
    }

    /*
            IRChartChangePeriod
        */
    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter {
        width: 100%;
        position: absolute;
        bottom: 55px;
    }

        .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod {
            height: 25px;
            line-height: 25px;
            width: 450px;
            margin: auto;
        }

            .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div {
                display: block;
                float: left;
                width: 50px;
                text-align: center;
                cursor: pointer;
                border-color: #ddd;
            }

                .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div:hover {
                    background-color: lightgray;
                }

                .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div.activePeriod {
                    background-color: #0284AA;
                    color: #fff;
                }

@media (max-width: 500px) {
    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod {
        width: 450px;
    }

        .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div#m6 {
            display: none;
        }
}

@media (max-width: 450px) {

    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod {
        width: 380px;
    }

        .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div#y5 {
            display: none;
        }
}

@media (max-width: 400px) {

    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod {
        width: 300px;
    }

        .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div#m3 {
            display: none;
        }
}

@media (max-width: 350px) {



    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div#y2 {
        display: none;
    }
}

@media (max-width: 300px) {
    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div#Max {
        display: none;
    }
}

@media (max-width: 250px) {

    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod {
        width: 180px;
    }

        .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div#d5 {
            display: none;
        }

    .tooltipHTML {
        display: none;
    }
}

@media (max-width: 200px) {
    .IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div#y1 {
        display: none;
    }
}

.IRChartModule .tooltipHTML {
    position: relative;
    z-index: 400;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #eee;
    top: -36px;
    font-family: sans-serif;
    width: 110px;
}

    .IRChartModule .tooltipHTML div {
        display: block;
        white-space: nowrap;
    }

        .IRChartModule .tooltipHTML div span.subHeader {
            display: inline-block;
            text-align: left;
            width: 20px;
        }

    .IRChartModule .tooltipHTML.historicalMode {
        top: -37px;
    }

    .IRChartModule .tooltipHTML.intradayMode {
        top: 0px;
    }

    .IRChartModule .tooltipHTML.taMode {
        top: -9px;
    }

    .IRChartModule .tooltipHTML.comparisonMode {
        top: 5px;
    }

        .IRChartModule .tooltipHTML.comparisonMode div {
            display: block;
            white-space: nowrap;
        }

            .IRChartModule .tooltipHTML.comparisonMode div span.subHeader {
                display: inline-block;
                text-align: left;
                width: auto;
            }

            .IRChartModule .tooltipHTML.comparisonMode div span.subContent {
                display: inline-block;
                text-align: left;
            }

.IRChartModule .tooltipHtmlNews {
    position: absolute;
    /*top: 250px;*/
    background-color: #fff;
    border: 1px solid #eee;
    width: 110px;
    white-space: normal;
}

/*
    IRChartPlotline (CurrentPriceBox)
*/
.IRChartModule .chartCurrentPriceBoxOuter {
    position: relative;
    top: -6px;
    right: 0px;
    z-index: 300;
}

    .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox {
        position: relative;
        width: 68px;
        height: 35px;
        line-height: 20px;
        color: #fff;
        z-index: 300;
        text-align: right;
    }

        .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox .chartLastPrice {
            position: absolute;
            right: 0px;
            top: 0px;
            padding-right: 19px;
            font-size: 11px;
            color: #ffffff;
            background-color: transparent;
            z-index: 500 !important;
        }

        .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox .chartLastPriceDate {
            display: none;
        }

        .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox .chartLastPriceTime {
            position: absolute;
            padding-right: 19px;
            right: 0px;
            top: 18px;
            font-size: 8px;
            color: #ffffff;
            Z-INDEX: 501 !important;
            background-color: transparent;
        }

        .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox .chartCurrentPriceBoxArrow {
            position: absolute;
            display: block;
            left: -3px;
            top: 0px;
            width: 6px;
            height: 18px;
        }

            .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox .chartCurrentPriceBoxArrow .irCPB1 {
                position: absolute;
                display: block;
                width: 2px;
                height: 3px;
                top: 16px;
                left: -3px;
            }

            .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox .chartCurrentPriceBoxArrow .irCPB2 {
                position: absolute;
                display: block;
                width: 2px;
                height: 6px;
                top: 14px;
                left: -1px;
            }

            .IRChartModule .chartCurrentPriceBoxOuter .chartCurrentPriceBox .chartCurrentPriceBoxArrow .irCPB3 {
                position: absolute;
                display: block;
                width: 2px;
                height: 10px;
                top: 12px;
                left: 1px;
            }

/*
    end IRChartPlotline
*/

/*
    end IRChart
*/

/*
    table-look (IRQuote, IRCalc, IRLookup)
*/
.table-look {
    width: 100%;
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

    .table-look th,
    .table-look td {
        white-space: nowrap;
        text-align: center;
        padding: 6px 5px 4px 5px;
        border: 1px solid #eeeeee;
        background-color: #ffffff;
    }

    .table-look th {
        color: inherit;
        font-weight: bold;
    }

    .table-look td {
    }

        .table-look th.column-first,
        .table-look td.column-first {
            text-align: left;
        }

        .table-look th.column-last,
        .table-look td.column-last {
            text-align: right;
        }


/*
    Responsive begin    
*/

/*
    IRPerformanceModule    
*/

.IRPerformanceModule .Data {
    text-align: right;
}

@media (max-width: 600px) {

    .horizontal.responsive .months3 {
        display: none;
    }
}

@media (max-width: 500px) {

    .horizontal.responsive .months6 {
        display: none;
    }
}

@media (max-width: 400px) {

    .horizontal.responsive .months1 {
        display: none;
    }
}

@media (max-width: 330px) {

    .horizontal.responsive .year1 {
        display: none;
    }
}

/*
    end responsive    
*/

/*
    htmlReadingDirection (Support for RTL languages)
*/
.readingDirectionRTL .table-look th.column-first,
.readingDirectionRTL .table-look td.column-first {
    text-align: right;
}

.readingDirectionRTL .table-look th.column-last,
.readingDirectionRTL .table-look td.column-last {
    text-align: left;
}

.readingDirectionRTL div span.subHeader {
    width: auto;
    padding-left: 5px;
}

/*
    end table-look   
*/


/*
    Disclaimer    
*/
.disclaimer {
    position: relative;
    top: 10px;
    max-width: 320px;
    margin: auto;
    color: #777;
    cursor: default;
    text-align: center;
    font-size: 10px;
    clear: both;
}

    .disclaimer a:link, .disclaimer a:visited {
        color: inherit;
        text-decoration: none;
    }

    .disclaimer a:hover {
        color: #000;
    }

@media all and (min-width: 0px) {
    .disclaimer-copyright {
        display: none;
    }

    .disclaimer-dataSource {
        display: none;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

@media all and (min-width: 290px) {
    .disclaimer-copyright {
        display: block;
    }

    .disclaimer-dataSource {
        display: none;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

@media all and (min-width: 400px) {
    .disclaimer-copyright {
        display: inline;
    }

    .disclaimer-dataSource {
        display: inline;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

.disclaimer-hidden {
    display: none;
}

.disclaimer-terms-and-conditions {
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

    .disclaimer-terms-and-conditions h1 {
        font-size: 14px;
    }

    .disclaimer-terms-and-conditions p {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .disclaimer-terms-and-conditions a:link, .disclaimer-terms-and-conditions a:visited {
        color: inherit;
        text-decoration: underline;
    }

    .disclaimer-terms-and-conditions a:hover {
        color: #000;
    }


.disclaimer-IRQuote .disclaimer-copyright {
    display: none;
}

.disclaimer-IRQuote .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRQuote .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRQuote .disclaimer-terms {
    display: inline;
}

.disclaimer-IRMiniQuote .disclaimer-copyright {
    display: none;
}

.disclaimer-IRMiniQuote .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRMiniQuote .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRMiniQuote .disclaimer-terms {
    display: inline;
}

.disclaimer-IRMiniquoteChart .disclaimer-copyright {
    display: none;
}

.disclaimer-IRMiniquoteChart .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRMiniquoteChart .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRMiniquoteChart .disclaimer-terms {
    display: inline;
}


.disclaimer-IRNewsHeadline .disclaimer-copyright {
    display: none;
}

.disclaimer-IRNewsHeadline .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRNewsHeadline .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRNewsHeadline .disclaimer-terms {
    display: inline;
}

/*
    end Disclaimer    
*/


/*
    FormatX    
*/
*.formatColorPos, *.formatColourPos {
    color: green;
}

*.formatColorNeg, *.formatColourNeg {
    color: red;
}

*.formatColorDef, *.formatColourDef {
    color: inherit;
}
/*
    end FormatX    
*/



/* SLY chart navigation */

.IRSliderOuter {
    position: relative;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
    width: 400px;
}

.IRSlider {
    list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 14px;
    width: 2000px;

}
.IRSlider div {
    float: left;
	width: 227px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
    background-color: lightblue;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.IRSlider div.active {
    color: #fff;
	background-color: lightblue;
}


/* IRMiniquoteChartModule */
.IRMiniquoteChartModule .tooltipHTML {
    position: relative;
    z-index: 400;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #eee;
    top: 0px;
    font-family: sans-serif;
    width: 110px;
}
