/*@font-face {
    font-family: 'NotoSansTC';
    src: url('notosanstc-bold.eot');
    src: url('notosanstc-bold.eot?#iefix') format('embedded-opentype'),
         url('notosanstc-bold.woff2') format('woff2'),
         url('notosanstc-bold.woff') format('woff'),
         url('notosanstc-bold.ttf') format('truetype'),
         url('notosanstc-bold.svg#noto_sans_tc_boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url('notosanstc-regular.eot');
    src: url('notosanstc-regular.eot?#iefix') format('embedded-opentype'),
         url('notosanstc-regular.woff2') format('woff2'),
         url('notosanstc-regular.woff') format('woff'),
         url('notosanstc-regular.ttf') format('truetype'),
         url('notosanstc-regular.svg#noto_sans_tc_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face{font-family:'Noto Sans SC';font-style:normal;font-weight:400;src:url('NotoSansSC-Regular.eot');src:url('NotoSansSC-Regular?#iefix') format('embedded-opentype'),url("NotoSansSC-Regular.woff2") format('woff2'),url("NotoSansSC-Regular.woff") format('woff'),url("NotoSansSC-Regular.otf") format('opentype')}
@font-face{font-family:'Noto Sans TC';font-style:normal;font-weight:400;src:url('NotoSansTC-Regular.eot?#iefix') format('embedded-opentype'),url("NotoSansTC-Regular.woff2") format('woff2'),url("NotoSansTC-Regular.woff") format('woff'),url("NotoSansTC-Regular.otf") format('opentype')}

* {font-family: 'Noto Sans TC', 'Noto Sans SC' !important;}