* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.miniquoteDetailsWrapper {
    line-height: 24px;
}
.data-price {
    vertical-align: middle;
    text-align: -webkit-center;
}
.top-div {
    border-bottom: 2px solid #1abc9c;
    width: 70%;
}
.header {
    font-weight: bold;
}