@font-face {
    font-family: 'chevin';
    src: url('chevinmedium-webfont.eot');
    src: url('chevinmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('chevinmedium-webfont.woff') format('woff'),
         url('chevinmedium-webfont.woff2') format('woff2'),
         url('chevinmedium-webfont.ttf') format('truetype'),
         url('chevinmedium-webfont.svg#chevinmediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chevin';
    src: url('chevindemibold-webfont.eot');
    src: url('chevindemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('chevindemibold-webfont.woff') format('woff'),
         url('chevindemibold-webfont.woff2') format('woff2'),
         url('chevindemibold-webfont.ttf') format('truetype'),
         url('chevindemibold-webfont.svg#chevindemiboldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}