/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    cursor: default;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}

a {
    text-decoration: none;
    border: none;
}

h2 {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

input {
    cursor: pointer;
}

    input[type=text] {
        border: 1px solid #aaa;
        height: 20px;
        color: inherit;
        cursor: text;
    }

    input[type=email] {
        border: 1px solid #aaa;
        height: 20px;
        color: inherit;
        cursor: text;
    }


.informationInput {
    text-align: left;
}

i {
    font-style: italic;
}

.checkBoxText {
    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        text-decoration: underline;
    }

.blockOuter {
    width: 100%;
    display: block;
    float: left;
}

.blockInner {
    width: 100%;
    clear: both;
    float: left;
    max-width: 1000px;
    min-width: 200px;
    margin-top: 10px;
}

.inputTextTitle {
    float: left;
    width: 20%;
    min-width: 100px;
}

.inputText {
    float: left;
    width: 70%;
    max-width: 400px;
}

input[type=text].informationInput {
    width: 100%;
}

.cleanLink {
    cursor: pointer;
}

.buttonStyle {
    cursor: pointer;
    border: 1px solid #AAA;
    font-size: 14px;
    font-weight: normal;
    color: inherit;
    background-color: #eee;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

    .buttonStyle:hover {
        text-decoration: none;
        color: inherit;
        background-color: #bbb;
        border: 1px solid #aaa;
    }




.cleanLink {
    cursor: pointer;
    text-decoration: underline;
}

.divider {
    height: 16px;
    line-height: 16px;
}


.disclaimer {
    font-size: 10px;
    color: inherit;
}

    .disclaimer a, .disclaimer a:visited {
        text-decoration: none;
        color: inherit;
    }

.requiredFieldMSG {
    text-decoration: underline;
}
.requiredOptionsMSG {
    text-decoration: underline;
}