@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=0d6a9e5a-8de2-40db-bf55-ed7a035c4d64");

@font-face {
    font-family: "Avenir W01_n3";
    src: url("fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Avenir W01";
    src: url("fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
    src: url("fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype"),url("fonts/0979215b-3a1b-4356-9c76-e90fa4551f1d.svg#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Avenir W01_n4";
    src: url("fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Avenir W01";
    src: url("fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
    src: url("fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype"),url("fonts/15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir W01_n5";
    src: url("fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Avenir W01";
    src: url("fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
    src: url("fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),url("fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Avenir W01_n8";
    src: url("fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Avenir W01";
    src: url("fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src: url("fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Soho Gothic W01_n2";
    src: url("fonts/cf0c19e1-bbc5-47a0-9a31-9c85f4a93401.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Soho Gothic W01";
    src: url("fonts/cf0c19e1-bbc5-47a0-9a31-9c85f4a93401.eot?#iefix");
    src: url("fonts/cf0c19e1-bbc5-47a0-9a31-9c85f4a93401.eot?#iefix") format("eot"),url("fonts/f6210665-870c-4c4a-ba55-fa928528dc0f.woff2") format("woff2"),url("fonts/d4fbadb6-703e-49d0-a195-84c39f891657.woff") format("woff"),url("fonts/073a86b5-49df-4c95-8627-7c1e97ceb661.ttf") format("truetype"),url("fonts/b30758e0-7935-4267-80e6-3686573ffad0.svg#b30758e0-7935-4267-80e6-3686573ffad0") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Soho Gothic W01_n5";
    src: url("fonts/b9715fdb-09a5-4b7e-be15-69e328c1b44a.eot?#iefix") format("eot");
}

@font-face {
    font-family: "Soho Gothic W01";
    src: url("fonts/b9715fdb-09a5-4b7e-be15-69e328c1b44a.eot?#iefix");
    src: url("fonts/b9715fdb-09a5-4b7e-be15-69e328c1b44a.eot?#iefix") format("eot"),url("fonts/598b0845-9116-49c3-921c-0faad7a564df.woff2") format("woff2"),url("fonts/df20967e-6948-4e78-a4a5-bae27b4a03b9.woff") format("woff"),url("fonts/d6e767ca-8efd-405f-b1e0-964985cb73f9.ttf") format("truetype"),url("fonts/6b2eeb65-8052-4e20-9b95-402b3ef267a3.svg#6b2eeb65-8052-4e20-9b95-402b3ef267a3") format("svg");
    font-weight: 500;
    font-style: normal;
}


body {
    font-family: 'Avenir W01', Arial, Helvetica, sans-serif;
    color: #20245a;
    overflow: hidden;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: Arial,'Oswald', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #E2001A;
    padding: 5px 10px;
    font-size: 14px;
    height: inherit;
    line-height: inherit;
    border-radius: 3px;
}

    input[type=submit]:hover {
        color: #fff;
        background-color: #000;
    }

input[type=number], input[type=submit] {
    font-size: 16px;
}

.table-look th {
    font-weight: bold;
    font-family: 'Avenir W01', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.table-look td {
    font-size: 16px;
}
/* IRChart =============================================================== */
.IRChartColour {
    color: #001F5B;
}

.IRChartNavigation {
    margin-top: 20px;
}

    .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR {
        background: #2fa986;
        color: #fff;
    }

        .IRChartNavigation .IRChartComparison:hover, .IRChartNavigation .IRChartTSR:hover {
            background: #20245a;
        }

.chartLastPrice {
    font-family: 'Avenir W01', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.chartLastPriceTime {
    font-family: 'Avenir W01', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/*.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 485px;
}*/

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div,
    .IRChartChangePeriod div {
        font-size: 12px;
        height: 20px;
        line-height: 22px;
        color: #fff;
        background: #20245a;
        text-transform: uppercase;
        margin: 0 0.25em 0 0;
        border-radius: 3px;
        font-family: 'Avenir W01', Arial, sans-serif;
        font-weight: 400;
    }

        .chartChangePeriod div.activePeriod,
        .IRChartChangePeriod div.activePeriod {
            color: #20245a !important;
            background: #D7ECF9 !important;
            border: 1px solid #20245a;
        }

        .chartChangePeriod div:hover,
        .IRChartChangePeriod div:hover {
            color: #20245a;
            background-color: #D7ECF9;
            border: 1px solid #20245a;
        }

        .chartChangePeriod div#max,
        .IRChartChangePeriod div#Max {
            border-right: 1px solid #20245a;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

.IRChartHTMLPlaceholder {
    height: 500px;
    min-width: 300px;
    clear: both;
}

.tooltipHTML {
    background-color: #fff;
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px 2px #ccc;
    box-shadow: 0px 0px 2px 2px #ccc;
    font-family: 'Avenir W01', Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 140px;
    padding: 10px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }


.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    font-family: 'Avenir W01', Arial, Helvetica, sans-serif;
}
/* End ======================================================================== */


/* IRCalc ==================================================================== */
#calc-form {
    margin-top: 20px;
}

.IRCalcModule label {
    font-size: 16px;
}

.IRCalcModule select {
    font-family: 'Avenir W01', Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: inherit;
}
/* End ======================================================================== */


/* Miniquote ================================================================== */
.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 125px;
}

.IRMiniquoteChartModule .table-wrapper {
    height: 80px;
    background: #d7ecf9;
}

    .IRMiniquoteChartModule .table-wrapper.IRMiniquoteChart2, .IRMiniquoteChartModule .IRMiniquoteChart2 .table-look th {
        background: transparent;
        color: #fff;
    }

.IRMiniquoteChartModule .IRMiniquoteChart2 .table-look td, .IRMiniquoteChart2disclaimer .disclaimer {
    color: #fff;
}

.IRMiniquoteChartPlaceholder.IRMiniquoteChart2 rect {
    fill-opacity: 0;
}

.IRMiniquoteChartPlaceholder.IRMiniquoteChart2 text {
    fill: #fff !important;
}

.IRMiniquoteChart.last-price {
    width: 125px;
    float: left;
    border: 0;
    margin-left: 15px;
    height: 93px;
}

.IRMiniquoteChart.change {
    float: right;
    width: 75px;
    text-align: left;
}

    .IRMiniquoteChart.change th {
        padding-top: 10px;
    }

    .IRMiniquoteChart.change td {
        padding-bottom: 0px;
    }

    .IRMiniquoteChart.change th, .IRMiniquoteChart.change td {
        float: left;
    }

.IRMiniquoteChartModule .table-look th {
    background: #d7ecf9;
}

.updated {
    margin-bottom: 20px;
    color: #001F5B;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
}

.miniquoteTableWrapper.miniquoteTableWrapper2 .table-look {
    border: 0;
}

.miniquoteTableWrapper.miniquoteTableWrapper2 {
    background: transparent;
}

    .miniquoteTableWrapper.miniquoteTableWrapper2 .formatArrowNeg {
        background-image: url(images/down.png);
    }

    .miniquoteTableWrapper.miniquoteTableWrapper2 .formatArrowPos {
        background-image: url(images/up.png);
    }

    .miniquoteTableWrapper.miniquoteTableWrapper2 .updated, .miniquoteTableWrapper.miniquoteTableWrapper2 .data-change {
        color: #fff;
    }

    .miniquoteTableWrapper.miniquoteTableWrapper2 .updated {
        margin-bottom: 5px;
    }

    .miniquoteTableWrapper.miniquoteTableWrapper2 .data-last {
        color: #00a887;
    }

.miniquoteDisclaimer2 .disclaimer {
    color: #fff;
}


.data-last {
    color: #001F5B;
    font-size: 29px;
    line-height: 1;
    margin-bottom: 5px;
}

.data-change {
    font-size: 12px;
    line-height: 17px;
    margin-right: 15px;
    color: #666;
    font-weight: 700;
    float: left;
}

.miniquoteDisclaimer {
    line-height: 5px;
}

    .miniquoteDisclaimer .disclaimer {
        text-align: left;
        max-width: initial;
        line-height: 12px;
    }

.IRMiniquoteChartModule .table-look, .IRMiniquoteChartModule .table-look th, .IRMiniquoteChartModule .table-look td {
    color: #20245a;
    border: 0;
}

    .IRMiniquoteChartModule .table-look th {
        font-weight: normal;
        font-size: 25px;
    }

    .IRMiniquoteChartModule .table-look.change td {
        font-size: 15px;
        font-style: italic;
    }

.IRMiniquoteChartModule th.column-first {
    font-style: italic;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    font-weight: 300;
    width: 125px;
    text-align: center;
    padding-bottom: 3px;
}

.IRMiniquoteChartModule td.column-first {
    line-height: 50px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    width: 125px;
    padding: 0;
}
/* End ======================================================================== */

/* IRDetailedSharePrice ======================================================= */
h4 {
    color: #001F5B;
    font-size: 17px;
    font-weight: 800;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
}

.IRDetailedSharePrice.table-look {
    margin-bottom: 30px;
}

    .IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
        padding: 8px;
        line-height: 1.42857143;
        text-align: left;
    }

.IRDetailedSharePrice th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    color: #fff;
    background: #001F5B;
    font-size: 16px;
    font-weight: 400;
}

.IRDetailedSharePrice.table-look td {
    color: #666;
    border: 1px solid #000;
}
/* End ======================================================================== */


/* IRTrades Module ============================================================ */

.IRTradesModule.table-look th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    color: #fff;
    background: #001F5B;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

.IRTradesModule.table-look th, .IRTradesModule.table-look td {
    text-align: left;
    height: 37px;
    line-height: 37px;
    padding-top: 0;
    padding-bottom: 0;
}

.IRTradesModule .Header.volume, .IRTradesModule .Data.volume, .IRTradesModule .Header.value, .IRTradesModule .Data.value {
    text-align: right;
}

.IRTradesModule.table-look td {
    border: 0;
    border-left: 1px solid #000;
}

    .IRTradesModule.table-look td.column-last {
        border-right: 1px solid #000;
    }


.IRTradesModule tr:nth-child(2n-1) {
    background: #EBEDF2;
}

.IRTradesModule.table-look tr:last-child {
    border-bottom: 0px solid #000 !important;
    border-bottom: 1px solid #000 !important;
}

/* End ======================================================================== */


/* IRPerformance ============================================================== */
.IRPerformanceModule .Data {
    text-align: center;
}

.IRPerformanceModule .table-look th, .IRPerformanceModule .table-look td {
    border: none;
}

.IRPerformanceModule .table-look th {
    border: 1px solid #001f5b;
    background: #001f5b;
    color: #fff;
}


/* @media only screen =========================================================*/

@media only screen and (min-width: 651px) {
    .vertical-header, .IRDetailedSharePrice.table-look.vertical {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

    .horizontal-header, .IRDetailedSharePrice.table-look.horizontal {
        display: none;
    }
}


@media only screen and (min-width: 572px) {
    .IRToolCalcResultsTable.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .table-look th, .table-look td {
        text-align: left;
    }

    .IRDetailedSharePrice.table-look td {
        text-align: right;
    }

    .table-look th {
        width: 40%;
    }

    .IRQuoteModule .high, .IRQuoteModule .low, .IRQuoteModule .bid, .IRQuoteModule .ask, .IRQuoteModule .volume {
        display: none;
    }

    .IRChartHTMLPlaceholder {
        height: 350px;
    }

    .IRPerformanceModule .table-look th {
        text-align: center;
    }

    .IRPerformanceModule .table-look .column-first {
        text-align: left;
    }
}

@media (max-width: 500px) {
    .IRPerformanceModule .horizontal.responsive .months6 {
        display: table-cell;
    }
}

@media only screen and (max-width: 430px) {
    #hideH, #hideD {
        display: none;
    }
}
/* End ======================================================================== */


.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background-color: #D7ECF9;
}

.disclaimer.disclaimer-IRChart,
.disclaimer-IRPerformance {
    display: none;
}
