
/* IRChart =============================================================== */
.IRChartColour {
    color: #02ae66;
}
    .chartChangePeriod div.activePeriod {
        color: #fff;
        background: #BA3E32;
}

 .table-look.horizontal th, .table-look.horizontal td {
  border-bottom: 1px solid #BA3E32;
  border-left: 0;
  border-right: 0;
  color: #333;
  line-height: 20px;
}

 .table-look.horizontal td {
  border-bottom: 2px solid #BA3E32;
}


.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}
/* End ====================================================================== */


/* IRNewsModule ============================================================ */

.IRNewsModule .filter-wrapper {
    width: 100%;
    float: left;
}

.news-filter-wrapper {
    width: 100%;;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float:left;
    background: #f4f4f4;
  border: 1px solid #019d54;
  padding: 0.91em;
  
}

.IRNewsModule h2 {
   border-bottom: 1px solid #b2b2b2;
   padding: 6px 0 10px;
   color: #019d54;
     font-size: 20px;
     font-weight: bold;
       font-family: Helvetica, Arial, sans-serif;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #019d56;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.IRNewsModule .newsSubmit {

 margin-bottom: 10px;
 margin-left: 10px;
}


.IRNewsModule .placeholder {
    color: #aaa;
}

.news-filter-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.IRNewsModule .search-for-box {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box #allRNSnews {
    font-weight: bold;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}


.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: right;
}

.IRNewsModule .news-filter-wrapper #searchtext {
    cursor: text;
    padding-left: 5px;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
}


.IRNewsModule .news-filter-wrapper label {
    /*cursor: pointer;*/
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 80px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
}

.IRNewsModule .search-for-box input {
    padding-left: 5px;
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    margin-right: 3px;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    width: 86px;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 60px;
}


.IRNewsModule .datepicker {
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 385px;
    width: 48%;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: right;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .news-range .submitButton {
    padding-left: 288px;
}

.IRNewsModule .submitButton {
    text-align: right;
    margin-top: 20px;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(images/calendar.gif);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}


/* NewsContent ======================================================== */
.IRNewsModule .IRNewsTool th {
    font-size: 1.00em;
    padding: 0.65em 0em 0.65em 0.91em;
    border-bottom: 2px solid #019d54;
    border-top: 0px solid #019d54;
    border-left: 0;
    border-right: 0;
    background: #f4f4f4;
    text-transform: capitalize;
    color: #019d56;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool td {
    padding: 0.45em 0.45em 0.45em 0.91em;
    border-bottom: 1px solid #019d54;
    border-left: 0;
    border-right: 0;
}


.IRNewsModule .IRNewsTool th, .IRNewsModule .IRNewsTool td {
    border-right: 0px;
    border-left: 0px;
    /*cursor: pointer;*/
    float: left;
    text-align: left;
    font-size: 12px;
}

.IRNewsModule .IRNewsTool .date {
    width: 10%;
}

.IRNewsModule .IRNewsTool .time {
    width: 12%;
}

/*.IRNewsModule .IRNewsTool th.title {
    width: 30%;
    text-align: left;
}*/

.IRNewsModule .IRNewsTool th.pagination {
    width: 41%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}
.IRNewsPagination {max-width:none;}
.IRNewsTableFooter .IRNewsPagination{font-family: arial, verdana, sans-serif;
  float: left;
  font-size: 1em;
  padding: 0.65em 0em 0.65em 0.91em;
  padding-right: 5px;
  background: #f4f4f4;
  text-transform: capitalize;
  border-bottom: 2px solid #019d54;
  max-width: initial;
}

.IRNewsPagination .IRNewsPageNumber.active {
    color: #019D56;
    text-decoration: underline;
}
.IRNewsPagination .IRNewsPageNumber {
    color: #A4A4A4;
    font-weight: bold;
}
.IRNewsModule .IRNewsTool th.title, .IRNewsModule .IRNewsTool td.title {
    color: #019d54;
    width: 50%;
    text-align: left;
}

.IRNewsModule .IRNewsTool td.data {
    color: inherit;
    vertical-align: middle;
    border-bottom: 1px solid #54ADC6;
}
.IRNewsModule .IRNewsTool th.data, .IRNewsModule .IRNewsTool td.data {
    width: 30%;
}
.IRNewsModule .IRNewsTool th.download, .IRNewsModule .IRNewsTool td.download {
    width: 10%;
}
.IRNewsModule .IRNewsTool td.DataHover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
}

.IRNewsTool td.title {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper td.download {
    width: 33%;
}
/* ============================================================================ */



/* @media only screen =========================================================*/
@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }
}

@media only screen and (min-width: 572px) {

    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }
}
@media only screen and (max-width: 320px) {

     .exchange, .updated, .date, .high52week, .low52week, .time, .bid,.mid,.ask{
        display: none !important;
    }

}
/* End ======================================================================== */
