

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

input[type=submit] {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #E2001A;
    padding: 5px 10px;
    font-size: 14px;
    height: inherit;
    line-height: inherit;
    border-radius: 3px;
}

    input[type=submit]:hover {
        color: #fff;
        background-color: #000;
    }

input[type=number], input[type=submit] {
    font-size: 16px;
}

.table-look th {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

.table-look td {
    font-size: 16px;
}
/* IRChart =============================================================== */
.IRChartColour {
    color: #767571;
}

.chartLastPrice {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

.chartLastPriceTime {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div {
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        color: #fff;
        background: #E2001A;
        text-transform: uppercase;
        margin: 0 0.25em 0 0;
        border-radius: 3px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }

        .chartChangePeriod div.activePeriod {
            color: #58585a !important;
            background: #f4f4f4 !important;
            border: 1px solid #02ae66;
        }

        .chartChangePeriod div:hover {
            color: #fff;
            background-color: #000;
            -webkit-transition: color 0.2s linear, background 0.2s linear;
            -moz-transition: color 0.2s linear, background 0.2s linear;
            -o-transition: color 0.2s linear, background 0.2s linear;
            transition: color 0.2s linear, background 0.2s linear;
        }

.IRChartHTMLPlaceholder {
    height: 500px;
    min-width: 300px;
    clear: both;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* End ======================================================================== */


/* IRCalc ==================================================================== */
#calc-form {
    margin-top: 20px;
}

.IRCalcModule label {
    font-size: 16px;
}

.IRCalcModule select {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    height: inherit;
}
/* End ======================================================================== */


/* Miniquote ================================================================== */
.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 125px;
}

.IRMiniquoteChartModule .table-wrapper {
    height: 80px;
    background: #767571;
}

.IRMiniquoteChart.last-price {
    width: 125px;
    float: left;
    border: 0;
    margin-left: 15px;
    height: 93px;
}

.IRMiniquoteChart.change {
    float: right;
    width: 75px;
    text-align: left;
}

    .IRMiniquoteChart.change th {
        padding-top: 10px;
    }

    .IRMiniquoteChart.change td {
        padding-bottom: 0px;
    }

    .IRMiniquoteChart.change th, .IRMiniquoteChart.change td {
        float: left;
    }

.IRMiniquoteChartModule .table-look th {
    background: #767571;
}

.IRMiniquoteChartModule .table-look, .IRMiniquoteChartModule .table-look th, .IRMiniquoteChartModule .table-look td {
    color: #fff;
    border: 0;
}

    .IRMiniquoteChartModule .table-look th {
        font-weight: normal;
        font-size: 25px;
    }

    .IRMiniquoteChartModule .table-look.change td {
        font-size: 15px;
        font-style: italic;
    }

.IRMiniquoteChartModule th.column-first {
    font-style: italic;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    font-weight: 300;
    width: 125px;
    text-align: center;
    padding-bottom: 3px;
}

.IRMiniquoteChartModule td.column-first {
    line-height: 50px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    width: 125px;
    padding: 0;
}
/* End ======================================================================== */



/* @media only screen =========================================================*/
@media only screen and (min-width: 572px) {
    .IRToolCalcResultsTable.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .table-look th, .table-look td {
        text-align: left;
    }

    .table-look th {
        width: 40%;
    }

    .IRQuoteModule .high, .IRQuoteModule .low, .IRQuoteModule .bid, .IRQuoteModule .ask, .IRQuoteModule .volume {
        display: none;
    }

    .IRChartHTMLPlaceholder {
        height: 350px;
    }
}
/* End ======================================================================== */

