body {
    /*max-height: 650px;*/
    /*width: 750px;*/
        font-family: Verdana, Arial, sans-serif;
}

.wrapper {
    /*height: 670px;*/
    /*overflow: auto;*/
}

.table-look th, .table-look td {
    text-align: left;
    max-width: 250px;
    white-space: normal;
    border: none;
}
.table-look.summary td {
    background-color: #fff;
    padding-left: 0px;
    border: none;
    width: 60px;
    text-align: right
}
.table-look.summary .column-first {
    width: 150px;
    text-align: left;
}
.table-look.summary {
    margin-top: 10px;
}

.summary-wrapper {
    margin-top: 10px;
    width: 300px;
}

.hide {
    display: none;
}

a {
    text-decoration: underline;
}

    a.link-target.current {
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }

.profile-back {
    cursor: pointer;
}

.navbar-header {
    height: 35px;
    line-height: 35px;
    background-color: #005195;
}

.navbar-left {
    float: left;
    font-size: 17px;
    padding-left: 10px;
    font-weight: bold;
    color: #fff;
}

.navbar-right {
    float: right;
    color: #fff;
    font-size: 12px;
}

    .navbar-right #selectAmountOfShareholders, .navbar-right #selectArchivePeriod {
        height: 20px;
        margin: 0px 10px 0px 10px;
    }

.personInFocus {
    display: none;
}

li {
    display: inline;
}

    li.tabitem {
        padding: 0 20px 0 20px;
        white-space: nowrap;
    }

ul.navbar {
    /*height: 25px;*/
    line-height: 25px;
    background-color: #C8C8C8;
    /*margin-bottom: 30px;*/
}

a.link-target {
    color: #808080;
}

    a.link-target:hover {
        color: #000;
    }


.table-look th {
    background-color: #005195;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    border: none;
}

th.Header {
    min-width: 80px;
}

    th.Header.column-first {
        width: 30px;
    }

    td.Data.column-first, th.Header.column-first {
        white-space: normal;
        border-left: none;
    }

    td.Data.column-last, th.Header.column-last {
        white-space: normal;
        border-right: none !important;
    }
    .table-look td .column-last {
        border-right: none;
    }
td.Header {
    font-weight: bold;
    font-size: 13px;
}

table.table-look.transactions th.Header {
    background-color: #f3f3f3;
    color: #000;
    font-size: 12px;
    text-align: center;
    border-top: 0;
    border-left: 1px solid #B7BABC;
    border-bottom: 1px solid #B7BABC;
}


table.table-look.transactions td.Data {
    font-size: 12px;
    padding: 0px 5px;
    border: 0;
    border-right: 1px solid #bbb;
}

    table.table-look.transactions td.Data.column-last {
        border-right: 0;
    }

.table-wrapper.insiders {
    margin-top: 20px;
}

.table-wrapper .table-look td, .table-wrapper .table-look th {
    padding: 0 5px;
}

#IRDataShareholders .table-wrapper {
    max-height: 600px;
    overflow-y: auto;
}

.table-look td {
    height: 22px;
    line-height: 22px;
    border-right: 1px solid #e0e0e0;
}

td.Data.total {
    background-color: #E5E5E5;
    font-weight: bold;
}


tr.userRow {
    cursor: pointer;
}

.hiddenUserContent {
    display: none;
}

tr:nth-child(even) {
    background: #F3F3F3;
}

tr:nth-child(odd) {
    background: #F7F7F7;
}

/* profile  */
.profile-header {
    height: 20px;
}

    .profile-header .profile-name {
        font-weight: bold;
        float: left;
    }

    .profile-header .profile-back {
        float: right;
    }

.table-criteria-wrapper {
    height: 100px;
}

.table-look.criteria td.Data {
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-bottom: none;
}

    .table-look.criteria td.Data.column-first {
        width: 300px;
    }

    .table-look.criteria td.Data.date {
        width: 150px;
    }

    .table-look.criteria td.Data.column-last {
        border-right: none;
    }

    .table-look.criteria td.Data.column-first {
        background-color: #fff;
    }

.table-holdings-wrapper {
    height: 122px;
}

.table-linkage-wrapper {
    height: 150px;
    overflow: auto;
}

.table-transHistory-wrapper {
    height: 150px;
}


/*@media screen and (max-width: 550px) {
.col-3 {
    display: none;
}
}*/
.tablesaw thead tr:first-child th {
    padding: 0 5px;
}
.tablesaw thead {
    border: none;
}

.tablesaw thead tr:first-child th {
    color: #fff;
    border-right: 1px solid #fff;
}
.table-look td, .table-look th {
    font-size: 12px;
}
.table-look tr:nth-child(odd) {
    background-color: #fff;
}

.numberalignment, .numberalignment button {
    text-align: right !important;
}
.tablesaw thead tr:first-child th {
    font-weight: normal;
}

@media screen and (max-width: 420px) {
    .navbar-header {
        height: 70px;
    }
    .navbar-right {
        float: left;
    }
}
