body
{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 14px;
}

h1
{
    color: #fff;
    background: #3DA0BD;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

a
{
    text-decoration: none;
    color: #004A96;
}

    a:hover
    {
        text-decoration: underline;
    }

h2
{
    font-size: 20px;
    color: #000;
}

.IRCalendar
{
    line-height: 30px;
}

.calendarDate
{
    width: 16%;
    float: left;
    font-size: 38px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    min-width: 75px;
    color: #000;
}

.CalendarContentWrapper
{
    width: 82%;
    float: left;
}

.calendarTitle
{
    font-size: 22px;
    line-height: 22px;
    height: 30px;
    width: 100%;
    float: left;
    color: #000;
}

.calendarTime
{
    float: left;
    width: 100%;
    height: 30px;
}

.calendarLocation
{
    font-weight: bold;
}

.calendarDetails, .calendarAddTo, .calendarReminder
{
    float: left;
    width: 27%;
    border-radius: 5px;
    padding: 0 0 0 2%;
    text-indent: 20px;
    font-weight: bold;
    font-size: 13px;
    min-width: 117px;
}

.calendarDetails
{
    background: url('images/detailed.png') 5px no-repeat;
}

.calendarAddTo
{
    background: url('images/calendar-check.png') 5px no-repeat;
}

.calendarReminder
{
    background: url('images/alarm.png') 5px no-repeat;
}


.divLine
{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    margin: 30px 0 20px 0;
}

.calendarMoreInfo
{
    margin-left: 16%;
}

.calendarRemindAll
{
    background: #f2f2f2;
    color: #000;
    width: 97%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 1%;
    border-radius: 4px;
    float: left;
    margin-left: 1%;
}

    .calendarRemindAll .calendarButtonStyle, input.calendarButtonStyle
    {
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        border: 0;
    }

input.calendarButtonStyle
{
    width: 30%;
    margin-left: 2%;
}

.unsubscribe input.calendarButtonStyle
{
    float: left;
    width: 60%;
    margin-left: 2%;
    max-width: 150px;
    height: 40px;
}

.enterInformationLoginEmail
{
    float: left;
    width: 30%;
    max-width: 200px;
    border: 1px solid #ececec;
    height: 36px;
    border-radius: 5px;
}

.subscribe p, .calendarRemindAll label
{
}


/* End ======================================================================== */



/* Responsive ================================================================= */


@media only screen and (min-width: 801px)
{
    .CalendarWrapper
    {
        width: 33%;
        float: left;
        border: 1px solid #e3e3e3;
        max-width: 340px;
    }

    .calendarTitle
    {
        background: #e3e3e3;
        padding: 5px 10px 5px 10px;
    }

    .divLine
    {
        display: none;
    }
}

@media only screen and (max-width: 800px)
{
    .profile-wrapper .IRTable.company-listing-data;
    {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data
    {
        width: 100% !important;
    }
}

@media only screen and (max-width: 480px)
{
    a
    {
        color: #000;
    }

        a:hover
        {
            text-decoration: none;
        }

    .CalendarContentWrapper
    {
        width: 70%;
    }

    .calendarDate
    {
        font-size: 30px;
        line-height: 35px;
    }

    .calendarTitle
    {
        font-size: 18px;
        min-height: 45px;
    }

    .calendarTime, .calendarLocation
    {
        font-size: 12px;
        height: 20px;
        line-height: 20px;
    }

    .calendarDetails, .calendarAddTo, .calendarReminder
    {
        width: 95%;
        margin: 0;
        margin-top: 10px;
        margin-left: 1%;
        margin-right: 2%;
        font-size: 12px;
        text-indent: 10%;
    }

    .calendarDetails
    {
        background: #F2F2F2 url('images/detailed.png') 5px no-repeat;
    }

    .calendarAddTo
    {
        background: #F2F2F2 url('images/calendar-check.png') 5px no-repeat;
    }

    .calendarReminder
    {
        background: #F2F2F2 url('images/alarm.png') 5px no-repeat;
    }

    .calendarMoreInfo
    {
        margin-left: 1%;
    }

    input.calendarButtonStyle
    {
        width: 98%;
        margin-left: 0;
        padding: 0;
    }

    .unsubscribe input.calendarButtonStyle, .enterInformationLoginEmail
    {
        width: 98%;
        float: left;
        max-width: none;
        margin-left: 1%;
    }

    .unsubscribe input.calendarButtonStyle
    {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 400px)
{
}


/* End =============================================================== */
