
/* General ================================================================== */
.table-look th {
    background: #54ADC6;
    color: #fff;
}

.formatArrowPos {
    background-image: url(http://devir.euroinvestor.com/solutions/template/10010/tabs/images/up.gif);
    color: green !important;
}

.formatArrowNeg {
    background-image: url(http://devir.euroinvestor.com/solutions/template/10010/tabs/images/down.gif);
    color: red !important;
}

*.formatColourPos {
    color: green;
}

*.formatColourNeg {
    color: red;
}
/* ========================================================================== */


/* Tabs ===================================================================== */
.tabs-container .tabs ul {
    border-bottom: 1px solid #d7d7d7;
}

.tabs-container .tabs a {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    text-transform: capitalize;
    border: 1px solid #d7d7d7;
}

    .tabs-container .tabs a:hover {
        background-color: #54ADC6;
    }

    .tabs-container .tabs a.current {
        background-color: #54ADC6;
        color: #eee;
    }
/* ========================================================================== */


/* IRChart Module =========================================================== */




.chartChangePeriod div {
    background-color: #F9F9F9;
}

    .chartChangePeriod div.activePeriod {
        background-color: #0284AA;
        color: #fff;
    }

    .chartChangePeriod div:hover {
        background-color: #00141F;
    }
/* ========================================================================== */


/* IRCalcModule ============================================================= */
/*
.IRCalcModule .IRChartCalcPlaceholder {
    height: 250px;
}
.IRCalcModule th {
    color: #fff;
}
*/
/* ========================================================================== */
.test {
    border: 0 !important;
    border: none !important;
}

/* IRLookup ================================================================= */
.IRLookupModule .IRChartLookupPlaceholder {
    height: 250px;
}

.IRCalcModule th {
    color: #fff;
}
/* ========================================================================== */

/* IRNewsModule ============================================================= */
.IRNewsModule h2 {
    color: #fff;
    background-color: #54ADC6;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.IRNewsModule .news-filter-wrapper {
    background-color: #EAEBEF;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #000;
    width: 150px;
}

.IRNewsModule .news-filter-box .checkbox {
    background-image: url('/inc/images/checkbox_false.png');
}

    .IRNewsModule .news-filter-box .checkbox.checked {
        background-image: url('/inc/images/checkbox_true.png');
    }

.IRNewsModule .news-filter-wrapper select {
    background-image: url('/inc/images/selectDown.png');
    color: #555;
}

.IRNewsModule .news-filter-wrapper input, .IRNewsModule .news-filter-wrapper select {
    background-color: #fff;
}

.IRNewsModule .IRNewsTool th, .IRNewsModule .IRNewsTool td {
    border-bottom: 1px solid #fff;
    cursor: pointer;
    width: 33%;
    font-size: 12px;
}

    .IRNewsModule .IRNewsTool td.data {
        background-color: #FCFCFC;
        color: #9A9A9A;
    }

    .IRNewsModule .IRNewsTool td.DataHover {
        background-color: #E5F4FB;
        color: #000;
    }

.IRNewsModule .news-table td.filterRow {
    border: 0px solid #fff;
    color: rgb(18, 141, 185);
    font-weight: bold;
}
/* ========================================================================== */




/* IRMiniquote Module ======================================================= */
.IRMiniQuoteQuoteModule td.data {
    font-size: 2.4em;
    color: #E31837;
    font-weight: 400;
}
/* ========================================================================== */




/*.IRNewsModule span.no-border{float: left;
  overflow: hidden;
  border: 0;}

.IRNewsModule span select#select-filter {
  margin: -2px;
}

.IRNewsModule #select-filter{background: #fff;
  border: none;
  color: #575652;
  float: left;
  font-size: 14px;
  outline: none;
  text-align: left;
  text-decoration: none;
  width: 163px;}*/



@media screen and (max-width: 800px) {
    .IRQuoteModule.responsive th:nth-child(8),
    .IRQuoteModule.responsive td:nth-child(8) {display: none !important;}

}
@media screen and (max-width: 700px) {
    .IRQuoteModule.responsive th:nth-child(7),
    .IRQuoteModule.responsive td:nth-child(7) {display: none !important;}

}
@media screen and (max-width: 600px) {
    .IRQuoteModule.responsive th:nth-child(6),
    .IRQuoteModule.responsive td:nth-child(6) {display: none !important;}

}
@media screen and (max-width: 500px) {
    .IRQuoteModule.responsive th:nth-child(5),
    .IRQuoteModule.responsive td:nth-child(5) {display: none !important;}

}
@media screen and (max-width: 400px) {
    .IRQuoteModule.responsive th:nth-child(4),
    .IRQuoteModule.responsive td:nth-child(4) {display: none !important;}

}



/*
    .IRChartColour {
        color: #0284AA;
    }
*/

/* IRProfile Module ========================================================= */
/*
.profile-wrapper {
    color: #45596B;
    font-size: 10pt;
}

    .profile-wrapper h2 {
        font-size: 16px;
    }
*/
/* ========================================================================== */
