body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #1d1b1b;
}

.table-look {
    border: 2px solid #d8d8b7;
}

    .table-look th, .table-look td {
        padding: 0;
        line-height: 26px;
    }

    .table-look .column-first {
        padding-left: 5px;
    }

    .table-look .column-last {
        padding-right: 5px;
    }

    .table-look th {
        background-color: #ccde54;
        border: 0;
    }

    .table-look td {
    }

.IRChartColour {
    color: #c0d72f;
}

.updatedWrapper {
    text-align: right;
    margin-top: 5px;
}

.IRChartHTMLPlaceholder {
}

*.formatColourPos {
    color: green;
}

.formatArrowPos {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
}
.IRMiniQuoteQuoteModule .formatArrowPos {
    background-image: url(images/arrowup.png);
        width: 20px;
    height: 25px;
    background-repeat: no-repeat;
}
.IRMiniQuoteQuoteModule .formatArrowNeg {
    background-image: url(images/arrowdown.png);
        width: 20px;
    height: 25px;
    background-repeat: no-repeat;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    border-radius: 3px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        background-color: #c0d72f;
        color: #fff;
        border-radius: 3px;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
            background-color: #9db122;
            -webkit-transition: background-position 0.1s linear;
            -moz-transition: background-position 0.1s linear;
            -o-transition: background-position 0.1s linear;
            transition: background-position 0.1s linear;
        }



/*.IRChartModule, .IRChartPlaceholderArea, .IRChartHTMLPlaceholder {
    height: 321px;
}

    .IRChartPlaceholderArea .IRChartPlaceholder {
        height: 321px;    
    }*/


/*
    Chart Mini    
*/
.IRChartHTMLMiniPlaceholder {
    height: 150px;
}

/*
    IRChart    
*/
.IRChartPlaceholderArea .IRChartPlaceholder {
    height: 500px;
}

.IRChartPlaceholderArea {
    height: 500px;
}

/*
    IRChart DOM    
*/
.IRChartHTMLPlaceholder {
    height: 432px;
}


.IRChartScrollOnYAxis {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 440px;
    /*background-color: rgba(255,255,0,0.5);*/
}





/*
    Debug Hit boxes    
*/
/*.IRChartScrollOnYAxis {
    background-color: rgba(0,255,255,0.1);
}
.IRChartNavigation {
    background-color: rgba(255,0,255,0.1);
}

.IRChartNavigation .IRChartCompanyName {
    background-color: rgba(255,255,0,0.1);
}

.IRChartNavigation .IRChartView .IRChartViewHeader,
.IRChartNavigation .IRChartTA .IRChartTAHeader,
.IRChartNavigation .IRChartComparison .IRChartComparisonHeader,
.IRChartNavigation .IRChartFullscreen .IRChartFullscreenHeader,
.IRChartNavigation .IRChartListings .IRChartListingsHeader {
    background-color: rgba(0,0,255,0.1);
}

.IRChartChangePeriodOuter {
    background-color: rgba(255,0,0,0.1);
}
.IRChartChangePeriod {
    background-color: rgba(255,255,0,0.1);
}*/

/*.IRChartTAPlaceholder, .IRChartComparisonPlaceholder {
    background-color: rgba(0,255,255,0.1);
}*/


/*.table-look th, .table-look td {
    background-color: #ffffff;
    border: 1px solid #eee;
    color: inherit;
    font-weight: normal;
}*/


/** {
    direction: ltr;
}*/



.statusTable th, .statusTable td {
    text-align: left;
    padding: 4px;
    border: 1px solid #aaa;
}


.IRMiniquoteChartModule .IRMiniquoteChartPlaceholderArea .IRMiniquoteChartPlaceholder {
    height: 150px;
}

.IRMiniquoteModule.sharepriceWrapper {
    background-color: transparent;
}

.IRMiniQuoteQuoteModule.table-look {
    border: none;
    background-color: transparent;
}

    .IRMiniQuoteQuoteModule.table-look th {
        background-color: transparent;
        text-align: left;
    }

    .IRMiniQuoteQuoteModule.table-look td {
        text-align: right;
    }
    /*.IRMiniQuoteQuoteModule.formatArrowPos {
        height: 20px;
    }*/
    .IRMiniQuoteQuoteModule.table-look .Data.last {
        font-size: 35px;
        padding-bottom: 10px;
    }

.IRMiniquoteModuleWrapper .data-delayed {
    margin-top: 10px;
    font-size: 11px;
}

.disclaimer-delayed {
    display: none;
}


/*
    Responsive begin
*/
/*
    IRQuoteModule    
*/
@media (max-width: 950px) {

    .horizontal.responsive .IRElement9 {
        display: none;
    }
}

@media (max-width: 900px) {

    .horizontal.responsive .IRElement8 {
        display: none;
    }
}

@media (max-width: 800px) {

    .horizontal.responsive .IRElement7 {
        display: none;
    }
}

@media (max-width: 700px) {

    .horizontal.responsive .IRElement6 {
        display: none;
    }
}

@media (max-width: 600px) {

    .horizontal.responsive .IRElement5 {
        display: none;
    }

    .horizontal.responsive .IRElement4 {
        text-align: right;
        padding-right: 5px;
    }
}

@media (max-width: 500px) {

    .horizontal.responsive .IRElement4 {
        display: none;
    }

    .horizontal.responsive .IRElement3 {
        text-align: right;
        padding-right: 5px;
    }
}

@media (max-width: 400px) {

    .horizontal.responsive .IRElement3 {
        display: none;
    }

    .horizontal.responsive .IRElement2 {
        text-align: right;
        padding-right: 5px;
    }
}

@media (max-width: 300px) {

    .horizontal.responsive .IRElement2 {
        display: none;
    }

    .horizontal.responsive .IRElement1 {
        text-align: right;
        padding-right: 5px;
    }
}
