body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

select {
    padding: 0;
    height: 30px;
    line-height: 30px;
    width: 33%;
    font-size: 14px;
    float: left;
    border: 1px solid #e5e5e5;
    background: none;
}

.table-look td.column-first {
    text-align: left;
}

.table-look td.column-last {
    text-align: right;
}

.input-wrapper {
    position: relative;
}
.IRInsiderListTool th.quantity, .IRInsiderListTool td.quantity{text-align: right;}
.input-row {
    width: 32%;
    float: left;
    margin-right: 1%;
}

input.hasDatepicker {
    width: 98%;
    background: #fff url(http://ir.euroinvestor.com/Solutions/EmperorTBA/images/calendarIcon.png);
    background-repeat: no-repeat;
    background-position: 98% 60%;
    padding-left: 5px;
    border: 0;
    height: 30px;
    line-height: 30px;
    border: 1px solid #bdbdbd;
    font-size: 14px;
    color: #666666;
}

.ui-datepicker-trigger {
    position: absolute;
    padding-left: 5px;
    display: none;
}

.table-look th, .table-look td {
    padding-top: 0;
    padding-bottom: 0;
}

.submitButton {
    float: left;
    width: 33%;
}

    .submitButton input {
        color: #ffffff;
        background-color: #eb2e2c;
        font-weight: 400;
        font-size: 14px;
        border-radius: 0;
        cursor: pointer;
        width: 100%;
        opacity: 0.8;
        line-height: 32px;
    height: 34px;
    }

    .submitButton:hover input {
        color: #fff;

    }

.datepicker-wrapper {
    margin-bottom: 15px;
}


.IRInsiderTool, .IRInsiderListTool {
    margin-top: 30px;
    width: 100%;
    border: 0;
    border-top: 2px solid #eb2e2c;
    border-bottom: 1px solid #a8a9a3;
}

    .IRInsiderTool th, .IRInsiderListTool th {
        line-height: 40px;
        height: 40px;
        text-align: left;
        font-size: 14px;
        font-weight: 700;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid #f0f0f0;
    }

    .IRInsiderTool td, .IRInsiderListTool td {
        border-bottom: 1px solid #f0f0f0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        height: 32px;
        line-height: 32px;
        white-space: normal;
        text-align: left;
        padding: 0 5px 0 5px;
    }

        .IRInsiderTool td.name {
            color: #3DA0BD;
            text-decoration: underline;
        }

/* Datepicker ========================================================== */
.ui-widget-content {
    border: 1px solid #e5e5e5;
    border-radius: 0;
}

#ui-datepicker-div {
    width: 340px;
    height: 300px;
}

.ui-icon {
    width: 24px;
    height: 24px;
}

.ui-datepicker .ui-datepicker-header {
    padding-bottom: 0;
}

.ui-widget-header {
    height: 50px;
    background: none;
    border: 0;
}

.ui-datepicker th {
    padding: 0.4em .3em;
    font-weight: normal;
    font-size: 16px;
}

.ui-datepicker select.ui-datepicker-month {
    margin: 8px 5px 0 7px;
    padding-left: 5px;
}

.ui-datepicker select.ui-datepicker-year {
    margin-top: 8px;
}

.ui-datepicker .ui-datepicker-title {
    margin-left: auto;
    line-height: 1.8em;
    text-align: center;
    width: 192px;
    text-align: center;
    margin-right: auto;
    height: 49px;
    border-bottom: 1px solid#e5e5e5;
}

.ui-datepicker-today {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
}

.ui-datepicker .ui-datepicker-prev {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    width: 70px;
    height: 50px;
}

.ui-datepicker .ui-datepicker-next {
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    width: 70px;
    height: 50px;
}

.ui-datepicker-year {
    margin-top: 8px;
    float: left;
}

.ui-widget-header .ui-datepicker-prev .ui-icon {
    background: url(http://ir.euroinvestor.com/Solutions/EmperorTBA/images/arrow-left.png);
    left: 36%;
    top: 35%;
}

.ui-datepicker .ui-datepicker-next span {
    left: 42%;
}

.ui-widget-header .ui-datepicker-next .ui-icon {
    background: url(http://ir.euroinvestor.com/Solutions/EmperorTBA/images/arrow-right.png);
    right: 34%;
    top: 35%;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
    border-radius: 0;
    background: #fbfbfb;
    border-top: 0;
    transition: background 0.15s ease;
    margin-top: 1px;
}

.ui-datepicker-prev.ui-state-hover {
    border-left: 0;
    margin-left: 1px;
}

.ui-datepicker-next.ui-state-hover {
    border-right: 0;
    margin-right: 1px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 44px;
    height: 23px;
    background: none;
    border: none;
    padding: 0;
    padding-top: 9px;
    padding-left: 1px;
    border: 1px solid #fff;
}

    .ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
        border: 1px solid #3DA0BD;
        padding-top: 8px;
    }

.ui-datepicker td span, .ui-datepicker td a {
    text-align: center;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #0083A9;
    padding-top: 8px;
}



/* End ================================================================= */



/* Media Queries ======================================================= */

@media screen and (min-width: 701px) {

    .IRInsiderTool.vertical {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    table.horizontal {
        display: none;
    }

    .IRInsiderTool table.vertical {
        display: block;
    }

    table.vertical th {
        width: 30%;
    }

    table.vertical td {
        width: 70%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .IRHeaderGroup .mobile {
        padding: 0 5px 0 5px;
    }

    .input-row {
        width: 100%;
        margin-bottom: 7px;
        clear: both;
    }

    .submitButton {
        width: 100%;
    }

    .input-label {
        display: none;
    }

    .IRInsiderTool td {
        height: 23px;
        line-height: 23px;
        vertical-align: middle;
    }

    .IRInsiderListTool th.position, .IRInsiderListTool td.position, .IRInsiderListTool th.instrument, .IRInsiderListTool td.instrument {
        display: none;
    }

    .vertical.IRInsiderListTool th.position, .vertical.IRInsiderListTool td.position, .vertical.IRInsiderListTool th.instrument, .vertical.IRInsiderListTool td.instrument {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .table-look td.column-first, .IRInsiderListTool a {
        height: 20px;
        line-height: 20px;
    }

    .IRInsiderTool td, .IRInsiderListTool td {
        padding: 0 5px 0 5px;
    }

    .IRInsiderTool th, .IRInsiderListTool th {
    }
}
