
* {
    color: #20245a;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

strong {
    font-weight: bold;
}

/*
    show/hide elements
*/
.unsubscribeNextToButton {
    display: block;
}
/*
    end show/hide elements
*/

.pageRegister .input-wrapper {
    width: 70%;
    float: left;
    max-width: 400px;
}

.buttonStyle {
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #20245a;
    background-color: #20245a;
    font-size: 14px;
    height: 21px;
    margin-top: 3px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    width: 26%;
    float: left;
    margin-left: 2%;
}

    .buttonStyle:hover {
        border: none;
        background-repeat: no-repeat;
        background-position: left;
        color: #20245a;
        border: 1px solid #20245a;
        background-color: #D7ECF9;
        font-size: 14px;
        cursor: pointer;
        border-radius: 3px;
        width: 26%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='link.png', sizingMethod='scale');
        -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='link.png', sizingMethod='scale');
    }
    .pageVerification.pageVerification_bottom .blockNoBorder{width: 100%;}
.closeBox {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -15px;
    right: 0px;
    cursor: pointer;
}

.dialogueBox, .subPageLoginConfirm, .pageVerification {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: 0px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    left: 30px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(204,204,204,1);
    box-shadow: 0px 0px 10px 4px rgba(204,204,204,1);
}

    .dialogueBox p {
        line-height: 20px;
    }

    .dialogueBox h3 {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
    }

.emailToConfirm {
    width: 100%;
    float: left;
}

.pageVerification_placedAtSubmitbutton .buttonStyle, .pageVerification_placedAtSubmitbutton .buttonStyle:hover, .formLoginConfirm.buttonStyle, .formLoginConfirm.buttonStyle:hover {
    width: initial;
}

#dialogueBox_register {
    bottom: 40px;
    line-height: 22px;
    padding-left: 20px;
}

#dialogueBox_unsubscribe {
    top: 0px;
}

.blockNoBorder {
    max-width: 400px;
    width: 70%;
    float: left;
}

    .blockNoBorder .unsubscribeNextToButton {
        line-height: 32px;
        min-width: 120px;
        width: 20%;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
        color: #BA3E32;
        border: 1px solid #BA3E32;
        background-color: #fff;
        font-size: 14px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        padding: 5px 20px 5px 20px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            color: #FFFFFF;
            border: 1px solid #F26522;
            background-color: #BA3E32;
            padding: 6px 21px 6px 21px;
            border: 0;
        }

    .blockNoBorder .formRegister-wrapper {
        float: right;
    }

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }


p {
    display: inline;
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.inputTextTitle {
    height: 25px;
    line-height: 25px;
    min-width: 120px;
    font-weight: bold;
    color: #20245a;
    font-size: 12px;
}

.requiredField {
    font-weight: bold;
    font-size: 13px;
}


.disclaimerHighlight {
    font-size: 14px;
}

input.informationInput {
    height: 30px;
    line-height: 32px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    float: left;
    position: relative;
    top: 4px;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(229, 228, 234);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229, 228, 234);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(229, 228, 234);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(173, 173, 175);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 14px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 2.40000009536743px;
    padding-left: 2.40000009536743px;
    padding-right: 2.40000009536743px;
    padding-top: 2.40000009536743px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 300px;
    word-spacing: 0px;
}


b {
    font-weight: bold;
}

.divideLine {
    margin-top: 20px;
    /*border-bottom: 1px solid #F26522;*/
}

.checkboxOuter {
    margin-bottom: 6px;
}

.checkBoxText {
    margin-left: 0.909em;
    line-height: 1.364em;
    font-size: 12px;
    color: #20245a;
    font-weight: bold;
}

.blockInner {
    margin-top: 0px;
}

.requiredField {
    font-size: 14px;
}


.subPageLogin input.informationInput {
    width: 70%;
    position: relative;
    margin-bottom: 15px;
}


.header {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
}

h2.header {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 1em;
    font-size: 17px;
    color: #333333;
    padding: 0 0 1em 0;
    background: url("../images/border.gif") repeat-x scroll left bottom transparent;
    width: 100%;
    height: 39px;
}

.cleanLink {
    float: left;
    top: 50px;
}

.subPageLogin {
    min-height: 140px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.register-wrapper {
    width: 100%;
    float: left;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        font-size: 12px;
        margin-bottom: 3px;
        display: block;
    }

.subPageLogin span {
    height: 25px;
    line-height: 25px;
    min-width: 120px;
    font-weight: bold;
    color: #20245a;
    font-size: 12px;
    width: 20%;
    float: left;
}

.hidden {
    display: none;
}

.semiTransparantOverlay, .transparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 900;
}

.registrationLightBox, .subPageLoginConfirm {
    z-index: 999;
    max-width: 400px;
}

.blockNoBorder.pageVerification_placedAtSubmitbutton {
        width: 100%;
    float: initial;
    margin-right: 0;
}

#dialogueBox_register{width: 90%; margin-left: auto; margin-right: auto; position: relative;}
.subPageLoginConfirm, .dialogueBox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    left: 0;
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 25px;
}

.registrationLightBox {
    word-break: normal;
    white-space: normal;
    width: 100%;
}


.removeHeight {
    height: 20px;
    line-height: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
}

.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}


strong {
    font-weight: bold;
}

.blockInner {
    max-width: initial;
}

h2 {
    display: block;
    height: 16px;
    line-height: 16px;
    margin-top: 23px;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 1em;
    font-size: 17px;
    color: #333333;
    padding: 0;
    width: 100%;
    height: 39px;
}

.pageVerification_top p, .pageVerification_bottom p {
    font-size: 12px;
    margin-bottom: 3px;
    display: block;
}

.pageVerification_top .goToHome {
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    color: #20245a;
    border: 1px solid #20245a;
    background-color: #fff;
    font-size: 14px;
    height: 21px;
    padding-left: 15px;
    padding-right: 15px;
}

    .pageVerification_top .goToHome:hover {
        border: 0px;
        color: #fff;
        background-color: #20245a;
    }
/* @media only screen =========================================================*/
@media only screen and (max-width: 500px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        height: 18px;
    }

    .input-wrapper .buttonStyle {
        float: right;
        width: 30%;
    }

    .pageRegister .input-wrapper {
        width: 95%;
        padding-left: 2%;
        max-width: initial;
    }

    .blockOuter {
        width: 95%;
        padding-left: 2%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

        .inputText .informationInput {
            height: 18px;
            line-height: 18px;
        }



    .blockNoBorder .unsubscribeNextToButton {
        min-width: 100px;
        float: left;
        padding: 5px 5px 5px 5px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            padding: 6px 6px 6px 6px;
            width: auto;
        }

    .blockNoBorder {
        width: 70%;
        float: right;
        margin-right: 2%;
        margin-bottom: 10px;
    }

        .blockNoBorder .buttonStyle, .blockNoBorder .buttonStyle:hover {
            position: initial;
            float: right;
            width: 135px;
        }
}

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput {
        width: 70%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .unsubscribeNextToButton {
        min-width: 90px;
    }

    .blockNoBorder .buttonStyle {
        width: 120px;
    }
}
/* Ënd ========================================================================*/
