
body {
    font-family: arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #333;
    overflow-x: hidden;
}
/*
.table-look th.column-last, .table-look td.column-last {
    padding-right: 2%;
}*/

.iframe.chart2 {
	width: 100%;
	height: 70px;
}

/* IRChart =============================================================== */
.table-look {
    border: none;
}
.IRQuoteModule .updated {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}

.IRChartColour {
    color: #008fd5;
}

.IRQuoteModule th.Header {
    height: 20px;
    line-height: 20px;
    color: #002664;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #002664;
    text-align: left;
    background: transparent;
}

.IRQuoteModule td.Data {
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: none;
}

.IRQuoteModule td.Data.column-last,
.IRQuoteModule th.Header.column-last {
    text-align: right;
}
.IRChartPlaceholderArea, .IRChartPlaceholderArea .IRChartPlaceholder {
    height: 467px;
}

    .IRChartPlaceholderArea .IRChartPlaceholder {
        box-sizing: initial;
    }


.IRChartPlaceholderArea .IRChartChangePeriod div {
    background: transparent;
    border: none;
}
.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #008fd5;
    color: #fff;
    /* border: 1px solid #008fd5; */
}
.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background: #008fd5;
    box-shadow: none;
    color: #fff;
}
.IRChartNavigation .IRChartTA .pop-submit {
    color: #fff;
    background: #0189D1; 
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

    .IRChartNavigation .IRChartTA .pop-submit:hover {
        color: #fff;
    }

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 22px;
    line-height: 22px;
    /* width: 400px; */

    margin: auto;
    box-sizing: border-box;
}


.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    font-size: 12px;
    width: 120px;
    padding: 5px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 12px;
        font-weight: 700;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

.highcharts-tooltip span {
    color: #0189D1;
}

.tooltipHTML .IRChartTooltipDate, .tooltipHTML div.IRChartTooltipVolume span {
    color: #333;
}

.IRChartCompanyName {
    color: #002664;
}

.IRChartCurrency {
    color: #333;
    font-size: 12px;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}

table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
    display: none;
}

.highcharts-background {
    fill: transparent;
}

.disclaimer {
    display: none;
}

.icon-enlarge:before {
    content: "\e989";
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRChartNavigation {
    border-bottom: 1px solid #eee;
    background: transparent;
}

    .IRChartNavigation .IRChartView, .IRChartNavigation .IRChartTA, .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR, .IRChartNavigation .IRChartCC, .IRChartNavigation .IRChartFullscreen, .IRChartNavigation .IRChartSettings, .IRChartNavigation .IRChartListings, .IRChartNavigation .IRChartMenuTrigger {
        background-color: transparent;
        color: #000;
        font-size: 11px;
    }

        .IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody div, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div, .IRChartNavigation .IRChartTSR .IRChartTSRBody div, .IRChartNavigation .IRChartSettings .IRChartSettingsBody div, .IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody div, .IRChartNavigation .IRChartTA .IRChartTABody div, .IRChartNavigation .IRChartCC .IRChartCCBody div {
            font-size: 10px;
            font-weight: 400;
            color: #555;
        }

            .IRChartNavigation .IRChartTA .IRChartTABody div.IRChartTABodyListHeader, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div.IRChartComparisonBodyListHeader, .IRChartNavigation .IRChartSettings .IRChartSettingsBody .IRChartSettingsBodyListHeader {
                color: #000;
                font-weight: 700;
                font-size: 11px;
            }

.IRChartNavigation .IRChartView:hover, .IRChartNavigation .IRChartTA:hover, .IRChartNavigation .IRChartCC:hover, .IRChartNavigation .IRChartComparison:hover, .IRChartNavigation .IRChartTSR:hover, .IRChartNavigation .IRChartSettings:hover, .IRChartNavigation .IRChartFullscreen:hover, .IRChartNavigation .IRChartListings:hover {
    background-color: #008fd5;
    color: #fff;
}
.IRChartNavigation .IRChartCompanyName {
    font-weight: bold;
    font-size: 12px;
}
/*
.highcharts-series rect{
    fill: #ff0000 !important;
}*/

/* End ====================================================================== */
@media (max-width: 700px) {

    .horizontal.responsive .IRElement6 {
        display: table-cell;
    }
}