/*@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.ttf") format('truetype'), url("fonts/ProximaNova-Regular.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Bold.ttf") format('truetype'), url("fonts/ProximaNova-Bold.woff") format('woff');
    font-weight: bold;
}*/



body {
    font-size: 12px;
    color: #333;
    overflow: hidden;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    font-weight: bold;
}

/*
    show/hide elements
*/
.unsubscribeNextToButton {
    display: block;
}
/*
    end show/hide elements
*/
h1 {
    font-size: 20px;
    color: #262626;
    padding-top: 20px;
    font-weight: normal;
}

.input-wrapper {
    width: 100%;
    float: left;
    max-width: 600px;
}

.buttonStyle {
    width: 140px;
    color: #fff;
    background: #aea75e;
    font-weight: bold;
    /* padding: 0 50px; */
    height: 25px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 2px solid #aea75e;
}

.input-wrapper .buttonStyle {
    margin-left: 5%;
}

.buttonStyle:hover {
    color: #006c64;
    border: 2px solid #006c64;
    box-shadow: none;
    background-color: #fff;

}

/*.pageRegister {
    padding-left: 2%;
}*/

.blockNoBorder {
    max-width: 400px;
    width: 70%;
    float: left;
}

    .blockNoBorder .unsubscribeNextToButton {
        line-height: 32px;
        min-width: 120px;
        width: 20%;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
        color: #BA3E32;
        border: 1px solid #BA3E32;
        background-color: #fff;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        padding: 5px 20px 5px 20px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            color: #FFFFFF;
            border: 1px solid #F26522;
            background-color: #BA3E32;
            padding: 6px 21px 6px 21px;
            border: 0;
        }

    .blockNoBorder .formRegister-wrapper {
        float: right;
    }

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }

h2 {
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin-top: 15px;
    margin-bottom: 22px;
}

p {
    display: inline;
    height: auto;
    line-height: 23px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    width: 170px;
}

.inputTextTitle {
    height: 25px;
    line-height: 25px;
    min-width: 130px;
}

.requiredField {
    font-weight: bold;
}


.disclaimerHighlight {
}

input.informationInput {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    float: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2.40000009536743px;
    padding-right: 2.40000009536743px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 300px;
    word-spacing: 0px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
}


b {
    font-weight: bold;
}

.divideLine {
    margin-top: 20px;
    border-bottom: 1px solid #cacaca;
}

.checkboxOuter {
    margin-bottom: 6px;
}

.checkBoxText {
    margin-left: 0.909em;
    line-height: 1.364em;
}

.blockInner {
    margin-top: 0px;
}

.requiredField {
}


.subPageLogin input.informationInput {
    width: 40%;
    position: relative;
    margin-bottom: 15px;
}

.subPageLogin input.informationInput {
    width: 70%;
    position: relative;
    margin-bottom: 15px;
    height: 25px;
    line-height: 25px;
}

.header {
    box-sizing: border-box;
    color: #007f74;
    display: block;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
}

h3.header {
    padding: 4px 0 0 0;
    margin: 0 0 12px 0;
    color: #262626;
    border-bottom: 1px solid #C2BEB3;
    font-weight: bold;
}

.cleanLink {
    float: left;
    top: 50px;
}

.subPageLogin {
    min-height: 120px;
    width: 100%;
    float: left;
}

.register-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        margin-bottom: 3px;
        display: block;
    }


.subPageLogin span {
    height: 29px;
    min-width: 130px;
    width: 20%;
    float: left;
    line-height: 29px;
}


.hidden, .disclaimer.disclaimer-IRCustomModule {
    display: none;
}

.semiTransparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: 0.7;
    z-index: 900;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
}

.pageVerification_bottom p, .pageVerification_top p {
    margin-bottom: 3px;
    display: block;
}

.pageVerification_top .goToHome {
    /*color: #3e89cc;
    width: 70px;
    background: initial;
    font-size: 16px;
    border: 0;
    font-family: inherit;
    border-bottom: 3px solid #07205d;
    padding: 0;
    height: 29px;
    text-align: center;*/
    line-height: 45px;
    }

    .pageVerification_top .goToHome:hover {
            color: #006c64;

    }

.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}


strong {
    font-weight: bold;
}

.blockInner {
    max-width: initial;
}

h2 {
    color: #000;
    display: block;
    font-family: inherit;
    font-size: 25px;
    font-weight: normal;
}



.buttonUnsubscribe,
.formUnsubscribeGoBack {
    cursor: pointer;
    color: #988c01;
    margin-left: 20px;
}

.buttonUnsubscribe:hover,
.formUnsubscribeGoBack:hover {
    color: #006c64;

}

    label.checkBoxLabel {
    line-height: 30px;
}


/* @media only screen =========================================================*/

@media only screen and (max-width: 600px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 95%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .input-wrapper .buttonStyle {
        width: 95%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
    }

    .input-wrapper .buttonStyle, .blockNoBorder .buttonStyle {
        float: right;
        margin-left: 0;
        width: 100%;
    }

    .pageRegister .input-wrapper {
        width: 95%;
        max-width: initial;
    }

    .blockOuter {
        width: 95%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

    .blockNoBorder {
        width: 95%;
        float: left;
        margin-right: 2%;
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: 0;
        max-width: initial;
    }


        .blockNoBorder .buttonStyle {
            position: initial;
            float: right;
        }
}

@media only screen and (max-width: 450px) {

    .blockNoBorder .unsubscribeNextToButton {
        min-width: 100px;
        float: left;
        padding: 5px 5px 5px 5px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            padding: 6px 6px 6px 6px;
            width: auto;
        }


}

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput {
        width: 70%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .unsubscribeNextToButton {
        min-width: 90px;
    }

    .blockNoBorder .buttonStyle {
        width: 120px;
    }
}
/* End ========================================================================*/
