@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(inc/fonts/styles.css);
body {
    color: #333333;
    overflow: hidden;
}
* {
    font-family: 'Proxima Nova W01', sans-serif !important;  
}
.table-look  {
    margin-bottom: 15px;
}
.table-look th {
    font-family: 'Libre Baskerville', sans-serif !important;  
    color: #B0976D;
    font-size: 16px;
}

.table-look td {
    font-size: 16px;
}
/* IRChart =============================================================== */
.IRChartColour {
   color: #B0976D; /*  color: #666;*/
}
.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #B0976D;
}
.IRChartPlaceholderArea {
	position:relative;
}
.unitSwitchButton_outer {
	position:absolute;
	top:-30px;
	right:5px;
	z-index:10000;
	height:20px;
	width:160px;
}
.unitSwitchButton {
	height:30px;
	line-height:30px;
	vertical-align:middle;
	width:78px;
	border:1px solid #B0976D;
	color:#B0976D;
	display:inline-block;
	font-size:14px;
	text-align:center;
	position:relative;
	background-color:white;
}
#unitSwitchButton_OZ:hover,#unitSwitchButton_KG:hover {
	cursor:pointer;
	text-decoration:underline;
}
.unitSwitchButton_active {
	color:white!important;
	background-color:#B0976D;
}
.unitSwitchButton_active_arrowdown {
	position:absolute;
	bottom:-17px;
	left:22px;
}



.chartLastPrice {
    font-size: 14px;
}

.chartLastPriceTime {
    font-size: 10px;
}
/*#d1,#d5 {
    display: none;
}*/
/* Close IRChart =============================================================== */
/* Tabs =============================================================== */
.CUR {
    border: 1px solid #B0976D;
    font-size: 14px;
    color: #B0976D;
    text-transform: uppercase;
    padding: 16px 26px;
    cursor: pointer;
    margin-right: 10px;
}
.arrow {
    margin-right: 10px;
    height: 35px;
}
    .CUR:hover {
        text-decoration: underline;
    }

.CUR.active {
    background-color: #B0976D;
    color: #fff;
}
.arrow.active {
    background-image: url('images/select.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.tabs {
    margin: auto;
    width: 300px;
}
.row {
    display: table-row;
}
.tabs-container {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}
/* Close tabs =============================================================== */


.tooltipHTML {
    margin-top: 2px;
}
.IRChartModule .IRChartCurrency {
       color: #606060;
	   display:none;
}