/*   reset   */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}


body {
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #474646;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    line-height: initial;
}


.iframe-chart {
    width: 100%;
    border: none;
    height: 600px;
}

.iframe-calc {
    width: 100%;
    border: none;
    height: 700px;
}

.iframe-lookup {
    width: 100%;
    border: none;
    height: 550px;
}

.iframe-profile {
    width: 100%;
    border: none;
    height: 550px;
}

.table-look td.formatColourNeg {
    color: red;
}

.table-look td.formatColourPos {
    color: green;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: #3a3a3a;
}

strong, b, strong *, b * {
    font-weight: bold !important;
}

em, i, em *, i * {
    font-style: italic !important;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.disclaimer {
    top: 0;
    padding-top: 10px;
}

.clear {
    clear: both;
}

h2 {
    font-weight: 400;
}

.formatColourPos {
    color: #1BA71B;
}

.IRNewsEntries .tab-container {
    display: none;
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 1px solid #ccc;
}

label {
    color: #474646;
    font-size: 14px;
    line-height: 30px;
}


/*.formatColourPos::before{content:"+";}*/

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}

input, select {
    padding: 0px 7px;
    line-height: 25px;
    height: 25px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 65px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-image: url(images/selectDown.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
    color: #3a3a3a;
}

    /*for IE10*/
    select::-ms-expand {
        display: none;
    }

.wide-input {
    /* width: 195px; */
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    color: #fff;
    /* font-weight: bold; */
    background: #ff5800;
    padding: 0 50px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    /* text-transform: uppercase; */
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    /* border: 2px solid #97d045; */
    width: 200px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        background-color: #6f6f6f;
        /* border: 2px solid #97d045; */
        color: #fff;
        box-shadow: none;
    }

    input[type=submit]:focus, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:focus {
        outline: none;
        background: #6f6f6f;
        /* border: 1px solid #6f6f6f; */
        color: #fff;
    }

.IRQuoteModule {
    font-size: 15px;
    /* border-top: 2px solid #7fc0d4; */
    /*margin-bottom: 20px;*/
}

    .IRQuoteModule h2 {
        font-size: 18px;
    }

.table-look {
    border: 0;
    border-bottom: 1px solid #e1e1e1;
}


    .table-look th, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        border: 0;
        font-weight: 700;
        border-top: 0;
        border-bottom: 1px solid #434343;
        font-size: 14px;
    }

    .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 1px solid #a8a9a3;
    }

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        height: 20px;
        text-align: left;
        line-height: 20px;
    }

    .table-look th, .table-look td {
        border-bottom: 1px solid #646567;
        text-align: left;
    }

.table-look {
    /* border-top: 2px solid #7fc0d4; */
    border-bottom: 1px solid #a8a9a3;
}

.stockQuote.table-wrapper .table-look, .globalSales.table-look {
    border-top: 0;
}

    .stockQuote.table-wrapper .table-look th, .stockQuote.table-wrapper .table-look td, .globalSales.table-look th, .globalSales.table-look td {
        text-align: left;
    }


.table-look th {
    color: #fff;
    font-weight: 500;
    padding: 0;
    border: 1px solid #6F6F6F;
    background: #6F6F6F;
}

    .table-look th:first-child {
        border-radius: 3px 0 0 3px;
    }

    .table-look th:last-child {
        border-radius: 0 3px 3px 0;
    }

.table-look td {
    border-left: none;
    border-right: none;
    font-size: 14px;
    color: #646567;
    padding: 0;
}

/* IR Tabs =============================================================== */
#summaryIframe, #simpleLookupiFrame, #miniquoteChartiFrame {
    width: 100%;
    margin-top: 20px;
}

#simpleLookupiFrame {
    margin-top: 0px;
}

#miniquoteChartiFrame {
    height: 750px;
}

#summaryIframe, #simpleLookupiFrame {
    height: 600px;
}

.tabs-container #container {
    text-align: center;
}

.tabs-container ul {
    float: left;
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

    .tabs-container ul li {
        list-style: none;
        width: 49%;
        float: left;
        color: #fff;
        background: #6f6f6f;
        padding: 0 50px;
        line-height: 30px;
        height: 30px;
        cursor: pointer;
        border: 0;
        font-size: 14px;
        box-shadow: none;
        box-sizing: border-box;
        -webkit-appearance: none;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline;
        color: #fff;
    }

li.tabitem.HistorLookup, li.tabitem.sharePriceChart {
    /* border-right: 1px solid #ff5800; */
}

.tabs-container ul li a {
    color: #fff;
}


.tabs-container ul li.current, .tabs-container ul li:hover {
    background: #ff5800;
    color: #fff;
    cursor: pointer;
}

.currentActive {
    border: 2px #82e600 solid;
    background: #82e600;
    color: #fff !important;
    cursor: pointer;
}

/*
#tab-2, #tab-3, #tab-4 {
    display: none;
}
*/
/*
.iframe-chart, .iframe-calc, .iframe-lookup, .iframe-profile {
    position: relative;
    visibility: visible;
    display: block;
}
*/
.hidder {
    position: absolute;
    visibility: hidden;
}

.tabs-container ul li.firstTab a {
    background-image: url(images/summaryIcon.png);
    background-size: 21px 18px;
    background-repeat: no-repeat;
    background-position: 13% center;
    text-indent: 3%;
}

.tabs-container ul li.tab2 a {
    background-image: url(images/tableIcon.png);
    background-size: 21px 18px;
    background-repeat: no-repeat;
    background-position: 13% center;
}

.tabs-container ul li.lastTab a {
    background-image: url(images/lineChartIcon.png);
    background-size: 21px 18px;
    background-repeat: no-repeat;
    background-position: 13% center;
    text-indent: 3%;
}
/* End =================================================================== */

/* IRMiniquoteModule ===================================================== */

.IRMiniquoteModule {
    font-weight: 400;
    font-size: 22px;
    padding: 20px 30px;
}

.lastChange {
    line-height: 62px;
    height: 62px;
    float: left;
    margin-right: 20px;
}

/*.IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
    border: 0;
}*/

.formatArrowNeg, .formatArrowPos {
    background-repeat: no-repeat;
    line-height: 22px;
    height: 17px;
    width: 18px;
    vertical-align: middle;
    background-size: 10px;
}

.formatArrowNeg {
    display: inline-block;
    background-image: url(images/arrowdown.png);
    background-position: center center;
}

.formatArrowPos {
    /* display: inline-block; */
    /* background-image: url(images/arrowup.png); */
    /* background-position: center center; */
}

.miniquoteDetailsWrapper .formatArrowNeg, .miniquoteDetailsWrapper .formatArrowPos {
    width: 60px;
    height: 60px;
    background-size: 60px;
}

.IRMiniquoteModule h2 {
    text-align: left;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    padding: 0;
    color: #0a008b;
    display: none;
}


.IRMiniQuoteQuoteModule .currency {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 0px;
    display: inline;
    color: #fff;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    /* float: left; */
    text-align: left;
    /* line-height: 28px; */
    font-size: 22px;
    display: block;
    width: 100%;
}

.disclaimer-IRQuote {
    display: none;
}

.miniquoteDisclaimer .disclaimer-IRQuote {
    display: block;
}


.IRMiniQuoteQuoteModule .delayed {
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 12px;
    margin-left: 30px;
}

.IRMiniQuoteQuoteModule .change {
    /* margin-top: 12px; */
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    width: 11px;
    height: 15px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #164172;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 19px;
    width: 100%;
    text-align: left;
    display: block;
    float: left;
    background-image: url('../images/arrowRight.png');
    background-repeat: no-repeat;
    background-position: 13% center;
}

.disclaimer-IRMiniquote {
    text-align: left;
    max-width: none;
    font-size: 14px;
}

/* End =================================================================== */


/* IRChart =============================================================== */


.IRChartNavigation .IRChartCompanyName {
    font-size: 16px;
    font-weight: 700;
    color: #646567;
}

/*IRChartPlaceholderArea{width: 99%;}*/
.IRChartPlaceholderArea {
    height: auto;
}

.IRChartHTMLPlaceholder {
    height: 200px;
    min-width: 250px;
    clear: both;
}

.IRChartHTMLMiniPlaceholder {
    height: 650px;
}

.IRChartColour {
    color: #ff5800;
}

.chartChangePeriod {
    width: 450px;
}


.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 460px;
    transition: all 0.3s ease;
}


    .IRChartPlaceholderArea .IRChartChangePeriod div {
        text-transform: uppercase;
        /* transition: all 0.3s ease; */
        border: 1px solid transparent;
        color: #646567;
    }


#chartLast {
    font-size: 74px;
    font-weight: 300;
    width: 25%;
    min-width: 260px;
}

.table-look td.Data.change {
    /* color: #2bc4b6; */
}

.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    color: #fff;
    border: 1px solid #6f6f6f;
    background: #6f6f6f;
}


.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    color: #fff;
    margin-right: 0;
    border: 1px solid #ff5800;
    background: #ff5800;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.4s ease;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
        background: #ff5800;
        border: 1px solid #ff5800;
    }



.tooltipHTML {
    background-color: #fff;
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px 2px #ccc;
    box-shadow: 0px 0px 2px 2px #ccc;
    font-size: 12px;
    width: 140px;
    padding: 5px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

.highcharts-markers.highcharts-tracker path {
    fill: #97d045;
}

.IRChartClientName, .IRChartCurrency, .highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    color: #3a3a3a;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px;
}

.chartNavBarRange {
    margin-top: 5px;
}

.companyInfoWrapper {
    color: #003e5c;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
}

.IRQuoteModule .companyInfoWrapper .chartName {
    width: 58%;
    float: left;
}

.company-listing-data {
    margin-top: 15px;
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRQuoteHorizontalModule-time-updated {
    width: 100%;
    text-align: right;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #ccc;
}

/* End ====================================================================== */


/* IRDetailedSharePrice ===================================================== */

.IRQuoteHorizontalModule .quote {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 37px;
}

    .IRQuoteHorizontalModule .quote .current, .IRQuoteHorizontalModule .quote .change {
        margin: 20px;
        margin-left: 0;
        width: 200px;
        float: left;
    }

    .IRQuoteHorizontalModule .quote .current {
        color: #164172;
        font-size: 30px;
        float: left;
        margin: 0;
        margin-top: 45px;
    }

    .IRQuoteHorizontalModule .quote .change {
        float: left;
        color: #616161;
        font-size: 16px;
        margin-top: 45px;
    }

        .IRQuoteHorizontalModule .quote .change div {
            margin-bottom: 15px;
            font-weight: 300;
        }

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 50px;
    table-layout: fixed;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    color: #97d045;
    text-transform: uppercase;
    font-size: 24 padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.IRQuoteHorizontalModule h3 {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    font-weight: 700;
    float: left;
    text-transform: uppercase;
    width: 100%;
    color: #003e5c;
    line-height: 17px;
}

.IRDetailedSharePrice td, .IRDetailedSharePrice th {
    padding: 5px 20px;
}


.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}

.IRDetailedSharePrice th:first-child {
    width: 25%;
}

.IRDetailedSharePrice th:nth-child(2) {
    width: 14%;
}

.IRDetailedSharePrice th:nth-child(3) {
    width: 18%;
}

.IRDetailedSharePrice th:nth-child(4) {
    width: 17%;
}

.IRDetailedSharePrice th:nth-child(5) {
}

/* End ======================================================================== */


/* IRNewsModule ============================================================ */

.IRNewsModule {
    font-size: 14px;
    background: transparent;
}

    .IRNewsModule .filter-wrapper {
        width: 100%;
        float: left;
    }

.news-filter-wrapper {
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
    padding: 0.91em;
}

.IRNewsModule h2 {
    font-size: 36px;
    color: #161f39;
    line-height: 36px;
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}



.IRNewsModule .placeholder {
    color: #aaa;
}

.IRNewsModule input:focus, .IRNewsModule textarea:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #c6007e;
}

.news-filter-wrapper {
    padding: 10px;
    margin-bottom: 30px;
    /*overflow: hidden;*/
    width: 100%;
}

.IRNewsModule .search-for-box {
    width: 370px;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/

.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/selectDown.png);
    border: 1px solid #e1e1e1;
    width: 183px;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

    .IRNewsModule .news-filter-wrapper select:focus, .IRNewsModule .news-filter-wrapper #from-month:focus, .IRNewsModule .news-filter-wrapper #to-month:focus, .IRNewsModule .news-filter-wrapper #from-year:focus, .IRNewsModule .news-filter-wrapper #to-year:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #c6007e;
    }

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    width: 183px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 370px;
    float: left;
    margin-left: 30px;
}

    .IRNewsModule .news-filter-wrapper .filterRow ul li {
        float: left;
    }

        .IRNewsModule .news-filter-wrapper .filterRow ul li input[type="radio"] {
            position: absolute;
            left: -999999px;
        }

        .IRNewsModule .news-filter-wrapper .filterRow ul li .radio {
            padding-left: 25px;
            background: url(images/radio.png) left center no-repeat;
            font-size: 16px;
            cursor: pointer;
            margin-right: 20px;
        }

            .IRNewsModule .news-filter-wrapper .filterRow ul li .radio.active {
            }

        .IRNewsModule .news-filter-wrapper .filterRow ul li input[type="radio"]:checked + label {
            background: url(images/radio-active.png) left center no-repeat;
        }

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    height: 40px;
    min-width: 370px;
    font-size: 14px;
    color: #777777;
}

    .IRNewsModule .news-filter-wrapper .searchText::-webkit-input-placeholder {
        color: #777;
    }

.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    width: 100%;
}

.IRNewsModule .search-for-box input {
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #777777;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #select-filter {
    min-width: 200px;
    height: 40px;
    line-height: 40px;
    color: #777777;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-weight: 300;
    margin-right: 5px;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    font-weight: 400;
    padding: 0 5px;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #777777;
    float: right;
}

.IRNewsModule .news-filter-wrapper #select-filter {
    width: 100%;
}

.IRNewsModule .datepicker {
    float: left;
    display: none;
}

.bottom-controls {
    width: 100%;
    float: left;
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    display: none;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 370px;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-per-page {
    float: left;
    margin-top: 30px;
    width: 370px;
    margin-right: 30px;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
    margin-left: 30px;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .IRNewsTool .IRDataGroup div {
        border-bottom: 0;
    }

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .submitButton {
    margin-top: 40px;
    float: left;
    display: none;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url('../images/calendar.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    /*margin-right: 63px;*/
}

.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/select.png);
}

/* NewsContent ======================================================== */

/*.IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    display: none;
}*/

.IRNewsModule .NewsDataGroupWrapper {
    border-bottom: 1px solid #3684c3;
    float: left;
    width: 100%;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    width: 79%;
    font-size: 16px;
    font-weight: 400;
    color: #585852;
}

.IRNewsTool .IRDataGroup div {
}

.IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    font-weight: 300;
    font-size: 14px;
    width: 18%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    font-size: 18px;
    font-weight: 700;
    width: 21%;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate {
    width: 100%;
    color: #003e5c;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #97d045;
    margin-top: 40px;
    line-height: 30px;
}

div.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader.IRTitle, .IRNewsModule .IRNewsTool .IRHeader.file-type {
    display: none;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDate, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    color: #585852;
    height: 57px;
    padding: 10px;
    line-height: 38px;
    white-space: normal;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    font-weight: 400;
}

/*div.IRNewsTool .IRDataGroup:nth-child(2n), div.IRNewsTool .IRHeaderGroup:nth-child(2n) {
    background: #f5f5f5;
}*/

/*div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    width: 20%;
}*/

.IRNewsModule .news-filter-wrapper .newsSubmit {
    width: 100px;
    padding: 0;
    text-align: center;
    margin-top: 0;
    font-size: 18px;
}

    .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    }

.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 16px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .IRDate {
    width: 23%;
    color: #666666;
}

.IRNewsModule .IRNewsTool .IRData.file-type {
    width: 24%;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool .IRData.IRTitle {
}

.IRNewsModule .IRNewsTool .IRHeader.IRTitle, .IRNewsModule .IRNewsTool IRData.IRTitle {
    width: 55%;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRHeader.file-type {
    width: 28%;
}


.IRNewsModule .tab-container ul li.li-tab {
    /*width: 49%;*/
    width: 48%;
    float: left;
    margin-right: 2%;
}

    .IRNewsModule .tab-container ul li.li-tab select {
        width: 100%;
        background: #e7f4f9;
        border: 0;
        height: 50px;
        line-height: 50px;
        background-image: url(images/selectDown.png);
        background-repeat: no-repeat;
        background-position: 93% 50%;
        background-size: 16px;
    }

    .IRNewsModule .tab-container ul li.li-tab.tab-3 {
        margin-right: 0;
        display: none;
    }

/*.IRNewsModule .search-filter-wrapper, .IRNewsModule .datepicker, .IRNewsModule .submitButton {
    display: none;
}*/
.search-filter-wrapper, .select-filter, .textArea, .datepicker .search-from, #to-month, .submitButton {
    /* display: none; */
}


.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

.IRNewsTool .IRDataGroup div {
    color: #585852;
    font-size: 16px;
    font-weight: 400;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /*background: url(images/pdficon.png) no-repeat left center;*/
    width: 20px;
}

    /* JR: removed width: initial;*/

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('images/pdficon.png');
        float: left;
        margin-top: 0px;
        height: 30px;
        width: 20px;
        /* JR: changed from 10 to 13 */
        background-repeat: no-repeat;
        background-position: left center;
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        text-indent: 5000px;
        overflow: hidden;
    }

.IRNewsModule .select_inner .close_box {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #79b6d6;
    /* position: fixed; */
    margin-left: 33%;
    margin-top: -15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.select_wrapper .ul.hasAttachments .li {
    background: #fff url('images/pdficon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
    /* padding: 0 0 0 35px; */
    overflow: hidden;
    /* width: 100%; */
    height: 40px;
    line-height: 40px;
    text-indent: 35px;
    overflow: hidden;
    width: 97%;
}

.select_wrapper .select_inner {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #687278;
    display: none;
    position: absolute;
    /* left: 0; */
    width: 150%;
    top: -50%;
    left: -100%;
    z-index: 3;
    overflow: visible;
}

.IRNewsTool .IRDataGroup div .select_inner .headerAttachment {
    font-weight: bold;
    padding-left: 3%;
    height: 50px;
    line-height: 50px;
    background-color: #f0f0f0;
    width: 97%;
}

.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

    .IRNewsPagination .IRNewsPaginationPageNew.active {
        font-weight: 700;
        color: #666666;
    }

    .IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('images/prev.png');
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('images/next.png');
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
    }

.IRNewsTableFooter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.IRNewsPaginationPageNew {
    width: 42px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #0e9ad5;
}

.IRNewsTableFooter .IRNewsPagination {
    font-size: 14px;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
    margin-top: 15px;
}

.IRNewsPagination .IRNewsPageNumber {
    font-size: 16px;
    font-weight: normal;
    color: #2bc4b6;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #585852;
        background-color: #deded8;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .IRNewsTool .IRData.IRDataHover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}


.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
    font-size: 14px;
}

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

/* ============================================================================ */


/* IRCalcModule =============================================================== */

.IRCalcModule {
    font-size: 14px;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.IRCalcModule #calc-form, .IRCalcModule #calculate-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.IRCalcModule #calculate-button {
    float: right;
}

.IRCalcModule #amount-invested {
    margin-bottom: 10px;
}

.IRCalcModule input[type=number] {
    padding-left: 0;
    text-indent: 10px;
}

.input-wrapper.button-input-wrapper {
    position: relative;
    float: right;
}

/* End ======================================================================== */


/* IRLookupModule =============================================================== */

.IRChartLookupPlaceholder {
    margin-bottom: 10px;
    height: 250px;
}

.IRLookupModule select {
    font-size: 14px;
}

.lookup-table {
    width: 100%;
    height: 400px;
    overflow-x: scroll;
}

#lookup-table-form .submit {
    width: 100px;
    height: 30px;
    color: #fff;
    background: #c60d18;
    border: none;
    outline: none;
    float: left;
    border-radius: 3px;
    line-height: 20px;
}

#lookup-table-form div {
    float: left;
    margin-right: 10px;
}

    #lookup-table-form div label {
        margin-right: 10px;
        font-size: 14px;
    }

    #lookup-table-form div input {
        height: 30px;
        border-radius: 3px;
    }

/* End ======================================================================== */


/* Calc and Lookup ============================================================ */

.formDivider {
    /*width: 40%;
    float: left;
    margin: 0 5%;*/
}

    .formDivider .input-row label {
        line-height: 25px;
    }

.radio label {
    position: relative;
    top: 0px;
}

@media only screen and (max-width: 800px) {
    .formDivider {
        width: 100%;
        float: left;
        padding: 0px;
    }
}

/* Email Alerts Module ======================================================== */

.emailAlerts p, .checkBoxText {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    height: 28px;
}

.emailAlerts h2 {
    color: #3684c3;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

input[type=email] {
    line-height: 31px;
    height: 31px;
}

.emailAlerts input[type=email] {
    width: 68%;
    margin-right: 2%;
    padding-right: 0;
    padding-left: 0;
}

.emailAlerts .loginField {
    width: 99%;
    float: left;
    max-width: 400px;
}

.emailAlerts .buttonStyle {
    width: 28%;
}

.inputTextTitle {
    font-size: 14px;
    font-weight: 400;
    float: left;
    min-width: 140px;
    line-height: 31px;
    height: 31px;
}

input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    /*min-width: 140px;*/
}

.emailAlerts .divideLine {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 37px;
    margin-top: 37px;
}

.checkboxRelease {
    /* float: left; */
    margin-right: 10px;
    line-height: 23px;
}

.emailAlerts .blockOuter {
    margin-top: 20px;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    margin-top: 30px;
}

/* End ======================================================================== */

}
/* End ======================================================================== */

table.table-look.vertical.customResponsiveVertical {
    display: none;
}

    table.table-look.vertical.customResponsiveVertical th {
        width: 100%;
        background: transparent;
        color: #333;
        height: 20px;
        line-height: 20px;
        border: none;
    }

    table.table-look.vertical.customResponsiveVertical td {
        background: transparent;
        text-align: right;
        height: 20px;
        line-height: 20px;
        border: none;
    }

.chartLastPrice {
    font-size: 12px;
}

.chartLastPriceTime {
    font-size: 10px;
    padding: 0;
}

.input-row {
    height: 40px;
}

.radioBtn {
    top: -15px;
    margin: 0 28px 0 0;
    cursor: pointer;
}

    .radioBtn:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #ccc;
        opacity: .8;
        top: 50%;
        margin-top: -8px;
    }

    .radioBtn.checked:before {
        background: #ff5800;
    }

input#amount-invested {
    width: 133px;
}

.IRNewsModule select#to-month {
    display: none;
}

.IRNewsModule label.textArea.input-label.to-label {
    display: none;
}

.buttonStyle:hover {
    text-decoration: none;
    color: inherit;
    background-color: #97d045;
    border: 1px solid #97d045;
    color: #fff;
}

input[type=text].informationInput,
input.inputTextField.unsubscribeEmail {
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.radioBtn {
    top: 0px;
    margin: 0 28px 0 0;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.bold {
    font-weight: bold;
    float: left;
}

input.formUnsubscribeInTool.buttonStyle.clearInput {
    margin-top: 30px;
}

select#enterInformationType {
    float: left;
    width: 70%;
    max-width: 400px;
}

span.checkboxOuter.indent {
    vertical-align: -webkit-baseline-middle;
}

.exchangeName {
    text-align: left;
    line-height: 1.5;
    font-size: 27px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.profile-wrapper .table-look th {
    background: #fff;
    color: #474646;
    border: none;
}

.profile-wrapper .table-look td {
    border: none;
    width: 50%;
    text-align: left;
}

.profile-wrapper table.IRTable.table-look.responsive {
    /*border-bottom: 2px solid #ff5800;*/
    border-top: 2px solid #ff5800;
    /*width: 50%;*/
    margin: 0 auto;
}

.price-data {
    clear: both;
    padding-top: 20px;
}

select#frequency, select#format {
    width: 133px;
}

.IRChartNavigation {
    border-top: none;
    border: none;
}
/* @media only screen =========================================================*/
@media only screen and (max-width: 1100px) {



    .lastChange {
        margin-right: 0;
    }

    .IRMiniQuoteQuoteModule .miniquoteDetailsWrapper.main-data > div, .Data-list {
        width: 100%;
    }


    .IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
        2px;
    }

    #Data-color {
        font-size: 32px;
    }

    .Data-list li {
        font-size: 13px;
        line-height: inherit;
        padding: 10px 0px;
    }

    .IRMiniQuoteQuoteModule .change.percentage {
        margin-top: -20px;
    }

    .IRMiniQuoteQuoteModule .change.latest {
        margin-top: 0;
    }
}



@media only screen and (max-width: 800px) {


    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }



    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to,
    .IRNewsModule .news-filter-wrapper .search-per-page {
        width: 48%;
        margin-left: 0;
        margin-right: 0;
    }

    .IRNewsModule .news-filter-wrapper .searchText {
        width: 100%;
        min-width: inherit;
    }

    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .search-to {
        float: right;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
        min-width: inherit;
    }

    .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
        width: 45%;
        float: right;
    }

    .IRNewsModule .datepicker {
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        width: 53%;
    }
}


@media only screen and (max-width: 700px) {
    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 53%;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 10px;
    }

    .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
        min-width: 70px;
    }

    #simpleLookupiFrame {
        height: 850px;
    }
}

@media only screen and (max-width: 600px) {
    .IRNewsModule .tab-container {
        margin-bottom: 21px;
        float: left;
        width: 100%;
    }

        .IRNewsModule .tab-container ul li.li-tab {
            width: 100%;
            margin-right: 0;
            margin-top: 22px;
        }

    .IRNewsModule #tab1 {
        margin-top: 0;
    }

    .IRMiniquoteModule .yearHigh, .IRMiniquoteModule .yearLow {
        display: none;
    }

    .IRDetailedSharePrice.table-look.vertical {
        border-top: 0;
        border-bottom: 0;
    }



        .IRDetailedSharePrice.table-look.vertical tbody {
            display: table;
            width: 100%;
        }

    .divideLine.horizontal {
        display: none;
    }

    .IRPerformanceModule .price, .IRPerformanceModule .Data {
        text-align: left;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        font-size: 16px;
    }

    .IRDetailedSharePrice.horizontal, h3.horizontal-header {
        display: none;
    }

    .IRDetailedSharePrice.vertical, h3.vertical-header {
        display: block;
    }

        .IRDetailedSharePrice.vertical tr th {
            background: none;
        }

        .IRDetailedSharePrice.vertical tr td {
            border-bottom: 1px solid #a8a9a3;
            border-top: 1px solid #a8a9a3;
        }



    .IRDetailedSharePrice th:first-child {
        width: auto;
    }

    .IRNewsModule h2 {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .IRNewsTool {
        border-top: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 100% !important;
        min-width: auto;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 100% !important;
    }

    .IRNewsModule .IRNewsTool .IRData {
        height: 100px;
        line-height: 100px;
        padding-left: 10px;
    }

    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0px;
    }

    .emailAlerts .inputText {
        width: 95%;
    }

    .IRNewsModule .news-filter-box .checkbox {
        width: 70%;
        min-width: 80% !important;
        margin-top: 5px;
        background-size: initial !important;
        background-position-y: 0 !important;
    }

    .IRNewsModule .datepicker .textArea.from-label, .IRNewsModule .datepicker .textArea.to-label, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
        height: 30px;
        line-height: 30px;
    }

    .IRNewsModule .filterRow .textArea {
        min-width: 0;
        padding-right: 20px;
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .entriesPerPage {
        width: 100%;
        float: left;
        margin-left: 0;
    }

    .IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 58%;
        float: left;
        min-width: inherit;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 39%;
        float: right;
        min-width: 60px;
    }

    .IRNewsModule .datepicker {
        width: 100%;
    }

    .IRNewsModule .newsSubmit {
        margin-right: 0px;
        margin-top: 0;
    }

    .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper .searchText {
        width: 183px;
        height: 40px;
        line-height: 40px;
        padding-left: 0;
        text-indent: 5px;
        padding: 0 10px;
        min-width: inherit;
    }

    .IRNewsModule .IRNewsTool .time {
        display: none;
    }

    .IRNewsModule .IRNewsTool .IRHeader.IRTitle {
        width: 75%;
        font-weight: bold;
    }

    .IRNewsModule .IRNewsTool IRData.IRTitle {
        width: 100%;
        border-bottom: 0;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRData.file-type {
        width: 100%;
        padding-left: 0px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRData.IRDate {
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRHeader.IRDate, .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRData.IRDate {
        width: 100%;
        border-bottom: 0;
        height: 20px;
        line-height: 20px;
    }

    .IRNewsTool .iconPDF {
        margin-top: 11px;
    }

    .IRNewsModule {
        padding: 0px;
    }

    .news-filter-wrapper {
        margin-bottom: 40px;
        padding: 0;
    }

    .IRNewsModule .submitButton {
        margin-top: 10px;
        width: 100%;
    }

    .IRNewsModule .IRNewsTool .IRHeader {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        padding: 0 15px;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 0;
    }

    .IRNewsTableFooter .IRNewsPagination {
        max-width: initial;
        text-align: center;
        background: transparent;
        border-top: 1px solid #4880C4;
        z-index: 10;
    }

    DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
        width: 48%;
        font-size: 14px;
    }

    div.IRNewsTool .IRDataGroup div.IRData {
        padding-left: 3%;
    }

    .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsTool .IRDataGroup div {
        height: 25px;
        line-height: 25px;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRTitle, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 0;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        width: 100%;
        padding: 0px;
        /* height: auto; */
        line-height: 33px;
        font-size: 16px;
        white-space: normal;
        line-height: initial;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
            margin-top: 0;
            margin-left: 0px;
            height: 25px;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
            width: 20px;
            top: 0;
        }
            /* JR Removed width: initial;*/
            div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
                background-image: url('images/pdficon.png');
                top: 0px;
            }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        top: 0;
        width: 20px;
    }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
        width: 20px;
    }

    div.IRNewsTool .IRDataGroup {
        border-bottom: 1px solid #f0f0f0;
        background: #e5e5e5;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
            font-size: 14px;
        }

    div.IRNewsTool .IRDataGroup {
        background-color: #fff;
        color: #3D5480;
        border: 0;
        font-weight: bold;
        border-bottom: 2px solid #E9E9E9;
        border-top: 0;
        height: 90px;
    }

        div.IRNewsTool .IRDataGroup .IRDate {
            color: #6B6B6B !important;
        }

    .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 0px solid #EBEBEB;
    }

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        /* height: 36px; */
        text-align: left;
        /* line-height: 36px; */
    }

        .table-look td.totalVolumeAsk {
            text-align: right;
        }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100%;
        padding: 0;
        height: auto;
        line-height: 20px;
        font-size: 16px;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        /*padding-top: 10px;*/
        line-height: 33px;
    }

    .IRNewsModule .search-filter-wrapper {
        float: right;
        width: 100%;
        margin-bottom: 15px;
    }

    .IRNewsModule .search-for-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        width: 100%;
        min-width: inherit;
        margin-left: 0;
    }

    .IRNewsModule .news-filter-wrapper .search-to {
        margin-top: 15px;
    }

    .IRNewsModule .news-filter-wrapper .search-per-page {
        width: 100%;
        margin-top: 10px;
    }

    .IRDetailedSharePrice.horizontal, h3.horizontal-header {
        display: none;
    }
}

@media only screen and (min-width: 572px) {
    .IRQuoteVerticalModule {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 591px) {
    li.tabitem.HistorLookup, li.tabitem.sharePriceChart {
        border-right: none;
    }

    .profile-wrapper table.IRTable.table-look.responsive {
        width: 100%;
    }

    .table-look th, .table-look td {
        padding-left: 0;
        padding-right: 0;
    }

    .tabs-container ul li {
        width: 100%;
        /* float: left; */
        /* margin-top: 1px; */
    }

    .tabs-container ul {
        margin-bottom: 20px;
    }

    .IRChartNavigation, .IRChartPlaceholderArea, .IRChartPlaceholder, .IRChartPlaceholderArea .IRChartChangePeriodOuter, .IRChartPlaceholderArea .IRChartChangePeriod {
        padding-left: 0;
        padding-right: 0;
    }

    input[type=submit] {
        /* height: 40px; */
        /* line-height: 40px; */
    }

    .IRDetailedSharePrice.table-look th {
        padding-left: 10px;
        background-color: #fff;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        color: #282828;
        text-transform: none;
        padding: 14px 10px;
        padding-top: 7px;
        border-top: 1px solid #a8a9a3;
    }

    .IRLookupModule #lookup-button {
        /* width: 100%; */
    }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical {
        margin-top: 20px;
        /* display: inline-block; */
    }

        .IRCalcModule .vertical th {
            line-height: 30px;
            height: 30px;
            font-weight: bold;
            background: none;
            color: #474646;
            font-weight: 400;
            border: none;
        }

        .IRCalcModule .vertical td {
            font-weight: normal;
            border-bottom: 0;
            width: 10%;
            text-align: right;
        }

        .IRCalcModule .vertical tr td, .IRCalcModule .vertical tr th {
            background: #fff;
            border-bottom: 1px solid #cccccc;
        }

    .IRCalcModule .customCalcModuleWrapper .vertical tr td, .IRCalcModule .customCalcModuleWrapper .vertical tr th {
        background: #f6f6f5;
    }

    .IRCalcModule .vertical tr:nth-child(2n) td, .IRCalcModule .vertical tr:nth-child(2n) th {
        /* background: #f5f5f5; */
    }

    .divideLine.horizontal {
        display: none;
    }

    .IRTradesModule .formatArrowPos, .IRTradesModule .formatArrowNeg {
        display: inline-block;
    }

    .IRCalcModule .calculateButton, .IRCalcModule #calculate-button, .input-wrapper.button-input-wrapper {
        margin-top: 5px;
        /* width: 100%; */
    }

    .input-wrapper.lookupButton {
        width: 100%;
    }

    .IRQuoteHorizontalModule h3 {
        padding-left: 10px;
        line-height: 30px;
    }

    .IRDetailedSharePrice td, .IRDetailedSharePrice th {
        padding: 9px 10px;
    }

    table.IRDetailedSharePrice {
        margin-bottom: 27px;
    }

    #lookup-table-form div {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

        #lookup-table-form div input {
            width: 100%;
            margin-right: 0;
        }

    #lookup-table-form .submit {
        width: 100%;
    }

    #lookup-table-form div label {
        margin-bottom: 5px;
        display: block;
    }

    /*.IRMiniquoteModule {
        height: 160px;
        padding: 10px 20px;
    }*/

    .IRMiniQuoteQuoteModule .change {
        width: 100%;
    }

    .IRMiniQuoteQuoteModule .delayed {
        margin: 0;
        width: 100%;
    }

    .IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
        /* line-height: 37px; */
    }
}

@media (max-width: 500px) {
    #simpleLookupiFrame {
        margin-top: 20px;
    }

    .IRMiniquoteModule .high, .IRMiniquoteModule .low {
        display: none;
    }

    .chartChangePeriod {
        width: 400px;
    }

    #chartLast {
        font-size: 60px;
    }

    .IRTradesModule th.change, .IRTradesModule td.change {
        display: none;
    }

    .IRTradesModule .updated img {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100% !important;
    }
}

@media only screen and (max-width: 467px) {
    .inputText, select#enterInformationType {
        width: 100%;
        max-width: none;
    }
}

@media only screen and (max-width: 450px) {
    .IRQuoteModule .companyInfoWrapper .chartName, .companyInfoWrapper .updated {
        width: 100%;
        float: left;
        text-align: left;
    }

    .companyInfoWrapper {
        line-height: 30px;
    }
}


@media only screen and (max-width: 400px) {
    .IRMiniquoteModule .open, .IRMiniquoteModule .prevClose {
        display: none;
    }

    .IRMiniquoteModule .change, .IRMiniquoteModule .volume {
        /* text-align: right; */
    }

    .IROrdersModule .orderDepthBarLeft {
        padding-right: 2%;
    }

    .IROrdersModule .orderDepthBarRight {
        padding-left: 2%;
    }

    .IROrdersModule .orderDepthBarRight, .IROrdersModule .orderDepthBarLeft {
        width: 15%;
    }

    .IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        margin-right: 2%;
    }

    .IRNewsPaginationPageNew {
        width: 34px;
    }

    chartChangePeriod {
        width: 200px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}

/* End ======================================================================== */



/*
    Responsive begin
*/
/*
    IRQuoteModule    
*/
@media (max-width: 950px) {

    .horizontal.customResponsive .IRElement9 {
        display: none;
    }
}



@media (max-width: 600px) {

    .horizontal.customResponsive .IRElement4, .horizontal.customResponsive .IRElement8 {
        display: none;
    }

    .companyInfoWrapper {
        font-size: 16px;
    }

    .IRQuoteModule.customResponsive th {
        border-top: 1px solid #a8a9a3;
    }
}

@media (max-width: 500px) {

    .horizontal.customResponsive .IRElement3, .horizontal.customResponsive .IRElement7 {
        display: none;
    }

    .companyInfoWrapper {
        font-size: 14px;
    }

    #chartLast {
        min-width: 200px;
    }
}

@media (max-width: 500px) {
    .horizontal.customResponsive .IRElement2, .horizontal.customResponsive .IRElement6 {
        display: none;
    }

    .horizontal.customResponsive .IRElement1, .horizontal.customResponsive .IRElement5 {
        text-align: right;
    }
}

.disclaimer.disclaimer-IRChart {
    display: none;
}
