* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.table-look {
    border: 0;
    font-size: 12px;
}

.table-look td.column-first, .table-look th.column-first {
    text-align: center;
    border-left: 0;
}

/*BORDER*/
.table-look th {
    background-color: #c9e9ff; 
}

.table-look th, .table-look td {
    padding: 5px 3px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    white-space: normal;
    text-align: center;
}

.table-look td.column-last, .table-look th.column-last {
    text-align: center;
    border-right: 0;
}

td#chartLast.Data.symbol.column-first {
    vertical-align: middle;
}

.table-look td.column-first {
    font-weight: bold;
    font-size: 28px;
}

.table-look td.column-first, .table-look th.column-first {
    text-align: center;
    border-left: 0;
}


