.table-look th, .table-look td {
    text-align: left;
}

.hide {
    display: none;
}

a.link-target.current {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.navbar-header {
    height: 35px;
    line-height: 35px;
    background-color: #00A2C0;
    font-size: 17px;
    padding-left: 10px;
    font-weight: bold;
    color: #fff;
}

li {
    display: inline;
}

    li.tabitem {
        padding: 0 40px 0 40px;
        white-space: nowrap;
    }

ul.navbar {
    /*height: 25px;*/
    line-height: 25px;
    background-color: #C8C8C8;
    /*margin-bottom: 30px;*/
}

a.link-target {
    color: #808080;
}

    a.link-target:hover {
        color: #000;
    }


.table-look th {
    background-color: #00A2C0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
}

table.table-look.transactions th.Header {
    background-color: #f3f3f3;
    color: #5F5F5F;
    font-size: 11px;
    text-align: center;
    border-top: 0;
    border-left: 1px solid #B7BABC;
    border-right: 1px solid #B7BABC;
    border-bottom: 1px solid #B7BABC;
}

table.table-look.transactions td.Data {
    border-right: 1px solid #B7BABC;
    text-align: center;
}

    table.table-look.transactions td.Data.column-last {
        border-right: 0;
    }

.table-wrapper.insiders {
    margin-top: 20px;
}

.table-wrapper .table-look td, .table-wrapper .table-look th {
    padding: 0 5px;
}

.table-look td {
    height: 22px;
    line-height: 22px;
}

td.Data.total {
    background-color: #E5E5E5;
    font-weight: bold;
}

tr.userRow {
    cursor: pointer;
}
.hiddenUserContent {
    display: none;
}

tr:nth-child(even) {
    background: #F3F3F3;
}

tr:nth-child(odd) {
    background: #F7F7F7;
}




/*@media screen and (max-width: 550px) {
.col-3 {
    display: none;
}
}*/
