
body {
    font-weight: normal;
    padding: 0;
    overflow: hidden;
    margin: 0;
    color: #353535;
    font-size: 0.75em;
    line-height: 1.4em;
    font-family: 'Open Sans', sans-serif;
}
.clear {
    clear: both;
}
a{
    text-transform: none;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
/* NewsHead =================================================================== */
.IRNewsHeadTitle{
    font-weight: 400;
    font-size: 21px;
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

/* News headline tool */
.IRNewsHeadlineModule {
    margin: 0 0 16px;
}

.IRNewsHeadlineTool{
    font-size: 14px;
    line-height: 20px;
}
.IRNewsHeadlineTool .Data {

}

.IRNewsHeadlineTool .dataLink .Data{
    border-bottom: 1px solid #3D9DB8;
    padding: 8px 0;
}

.IRNewsHeadlineTool .dataLink:last-child .Data{
    border-bottom: none;
}

.IRNewsHeadlineTool .Data .date{
    display: block;
    color: #3D9DB8;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 2em;
}

.IRNewsHeadlineTool .Data .title{
    display: block;
    color: #353535;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.4em;
}

.IRNewsHeadlineTool .Data:hover .title{
    cursor: pointer;
    color: #3D9DB8;
}


/* End ======================================================================== */
