/*.table-look th, .table-look td {
    border: 1px solid lightgreen;
}

.table-look th {
    background-color: lightgreen;
    border: 1px solid lightgreen;
}*/








/********* Flyt til ir.style.css ***********/
/*#lookup-form { padding:20px; min-height: 200px; }*/

/* ================================================= */



/* Calendar style - til Step 2 */
/*.ui-datepicker{padding: 0 !important;}
.ui-datepicker table{margin: 0 !important;}
.ui-datepicker .ui-datepicker-header{background: #0D89AD; color: #fff;}
.ui-datepicker th{line-height: 20px;
font-size: 9px;
padding: 0 !important;
font-weight: normal !important;
color: #696969;
text-transform: uppercase;
background: #f3f3f3;
border-left: 1px solid #f3f3f3;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{background:#f3f3f3;}
.ui-datepicker td{font-size: 11px;
font-weight: bold;
border-top: 1px solid #c2c2c2 !important;
border-left: 1px solid #c2c2c2 !important;
padding: 0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border-bottom-right-radius: 0 !important;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{border-bottom-left-radius: 0 !important;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-top-left-radius: 0 !important;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{border-top-right-radius: 0 !important;}
.ui-datepicker td a {
clear: both;
display: block;
position: relative;
text-align: center;
text-shadow: 0 1px rgba(255, 255, 255, 0.8);
line-height: 28px;
color: #666;
background-image: -webkit-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
background-image: -moz-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
background-image: -o-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
background-image: linear-gradient(to bottom, #eaeaea, #e5e5e5 60%, #d9d9d9);
-webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background: #0D86AA !important; color: #fff !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border: none !important;}
.ui-datepicker td span, .ui-datepicker td a{padding: 0 !important;}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{text-align: center; font-weight: bold !important;}*/

/* =============================================================================================== */



/****** Should also be moved to style.css file instead to make it more generic *******/
.table-look-vertical th, .table-look-vertical td{padding: 6px 5px 4px 5px;}
.input-row{line-height: 24px;}
/********* Chart **********/
.table-look th, .table-look td{text-align: left;}
.chartChangePeriod div:hover{background-color:#00141F;}


/*********** @media only screen **************/

@media only screen and (max-width: 320px) {
    #v4 .twolines .frequency-label {margin-right: 0;}
}

@media only screen and (max-width: 571px) {
    th.column-last, td.column-last{padding-bottom: 4px; }
    .detailed-share-price th {min-width: 90px; }
    /*.detailed-share-price th { white-space: nowrap; }*/
    .detailed-share-price td {width: 65%; }
    .IRCalcModule .responsive-horizontal{display: none;}
    .IRQuoteVerticalModule th.column-last, .IRQuoteVerticalModule td.column-last {border-bottom: 1px solid #f4f4f4; }
    .IRToolCalcResultsTable th.IRToolCalcResultsTableItem{width: 40%;}
    .detailed-share-price-records th, .detailed-share-price-summary th, .detailed-share-price-market th{font-weight: normal; padding-left: 5px;}
    .IRCalcModule #calc-form{height: 150px; padding-top: 5px; margin-bottom: 10px;}
    #v4 .twolines{height: 60px;}
    #v4 .download-buttons {position: relative; text-align: right; margin-top: 15px;}
}

@media screen and (min-width: 572px) {
    #lookup-form {
        width: 47% !important;
        float: right;
        padding-left: 5px;
        height: 250px;
    }
    #v4 .twolines{width: 100%;}
    #v4 .download-buttons {position: inherit; text-align: inherit; margin-top: 0px; float: left !important;}
    #v4 .input-wrapper{position:relative !important;}
    #v3 #lookup-form, #v4 #lookup-form, #v4 #lookup-form .input-row {float:left; }
    #v4 .input-row{margin-right: 20px;}
    #v4 .twolines select#frequency{margin-right: 30px;}
    #v4 .ui-datepicker-trigger{top: 3px;}
    #v4 #lookup-form{height: inherit;} 
    #v4 #lookup-form .from-label, #v4 #lookup-form .to-label, #v4 #lookup-form .frequency-label {min-width: 0; margin-right: 10px; float:left;}
    #v4 .to-label, #v4 .from-label, #v4 .frequency-label{line-height: 24px;}
    #v4 #lookup-form, #v4 #lookup-chart {width: 100% !important;}
     #v4 .input-wrapper{ float:left;}

    .IRLookupModule #lookup-chart, .IRCalcModule #calc-chart {
        width: 53% !important;
        float: left;
    }
    label.dividend-label{width: 50px;}
    #calc-form .from-label, #calc-form .to-label, label.dividend-label, label.invested-label {
        padding-left: 10px; line-height: 20px;
    }
    #calc-form .from-label, #calc-form .to-label, label.dividend-label{line-height: 24px;}
    #v2 #calc-form .from-label, #v2 #calc-form .to-label, #v2 label.dividend-label, #v2 label.invested-label{line-height: 24px;}
}
    #calc-form .from-label, #calc-form .to-label, label.dividend-label{float:left; margin-right: 10px; line-height: 30px;}
@media screen and (min-width: 650px) {
    #lookup-form, #calc-form {
        width: 40%; float: right;  
    }
    #v3 #lookup-form {float:left; padding-right: 10px;}
    .IRLookupModule #lookup-chart,.IRCalcModule #calc-chart {
        width: 60%; 
    }
}

@media screen and (min-width: 780px) {
    #lookup-form,  #calc-form {
        width: 35%;
    }
    .IRLookupModule #lookup-chart, .IRCalcModule #calc-chart { width: 65%; }
    .IRCalcModule #calc-chart .highcharts-container{width: 100%; }
}


@media screen and (min-width: 1024px) {
    .IRCalcModule #calc-chart{width: 70% !important; float:left;}
    .IRCalcModule #calc-chart .highcharts-container{width: 100%; }
    .IRCalcModule #calc-form{float:left;}
    #v4 .twolines{width: 50%;}
    
    #lookup-form {
        width: 30% !important;
        float: right;
        /*padding:20px;*/
        height: 250px;
    }
    .IRLookupModule #lookup-chart {
        width: 70% !important;
        float: left;
    }
    #calc-form {
        width: 30%;
        float: right;
        /*padding:20px;*/
        height: 250px;
    }

    .IRQuoteModule .table-look-horizontal th {
        width: 120px;
    }
    
}
@media screen and (min-width: 1250px) {
    label.dividend-label {
        width: 150px;
    }
}


@media only screen and (min-width: 572px) {
    .IRQuoteVerticalModule {display:none; }
     .table-look-vertical{display: none;}
     .table-look-horizontal{display: block;}
     .calc_2 label.dividend-label{width: 120px;}
     .calc_2 .second-row-responsive{margin-left: 50px;}
     .labels-and-button {display: block; float:left;}
}

@media only screen and (min-width: 650px) {
     .labels-and-button {float:left;}
}

@media only screen and (max-width: 700px) {
 .calc_2 .second-row-responsive{ margin-left: 0px;}
 .labels-and-button {width: 100%;}
 
}


@media only screen and (max-width: 571px) {
    .table-look th, .table-look td {
        text-align: left;
    }

    /*.table-look-horizontal {
        display: none;
    }*/

    .IRQuoteHorizontalModule {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    label.dividend-label {
        width: 150px;
    }
}

@media screen and (max-width: 1300px) {
    .calc_2 {
        width: 100%;
        float: left;
    }
}
@media screen and (min-width: 1300px) {
     .calc_2 .input-row {margin-left: 50px;}
}



/* End ======================================================================== */


/*.table-look-horizontal {
    border: 1px solid #0284AA;
}

.table-look-horizontal th, .table-look-horizontal td, .table-look-vertical th, .table-look-vertical td {
    border: 1px solid #0284AA;
}

.table-look-horizontal th {
    color: #ffffff;
}*/

#v2 #calc-form{width: 100%; float:right; }
#v2 #result-section{float: left;}
#v2 #calc-chart{width: 100% !important;}
#v2 #calc-form{height: inherit; margin-bottom: 10px;}
#v2 #result-section{width: 100%; margin-bottom: 10px;}

@media screen and (min-width: 572px) {
    #v2 .input-row{float: left; }
    .second-row-responsive {line-height: 30px; height: 30px;}
    #v2 .input-wrapper{position: relative; float:left; line-height:24px;}
}

#v4 input {vertical-align: inherit !important; padding: 0 10px 0 10px;}

.table-look th{background: #54ADC6; color:#fff;}
.detailed-share-price tr:nth-child(2n) td {background: #f4f4f4; }
.detailed-share-price th.Highlight, .detailed-share-price td.Highlight {background: #54ADC6 !important; color: #fff;}




/*test*/

.debugStatus {
    clear: both;
}


/* IRCalcModule & Lookup */

.IRCalcModule .input-row {position: relative; /*height: 25px;*/}
.IRCalcModule .input-wrapper { position:absolute; right: 0; top: 0;}

/*.IRCalcModule  #lookup-table { width: 100%;}*/
.IRCalcModule #lookup-form label.dividend-label {display: block; width: 36%;}
.IRCalcModule th.left-aligned, .IRCalcModule td.left-aligned {text-align: left;}
.IRCalcModule th {color: #fff;}
.IRCalcModule th, .IRCalcModule td {text-align: left; padding: 5px;}
.IRCalcModule .input-row #currency-symbol {margin-right: 5px; display:inline; width: 140px;}
/*.IRCalcModule #lookup-table tr.first-row{background: #00659C;}*/
.IRCalcModule select, .IRLookupModule select{vertical-align: top; height: 24px; line-height: 24px;}

.IRLookupModule #lookup-form{text-align: right;}
.IRLookupModule #lookup-chart {height:250px;}
.IRLookupModule #lookup-form .frequency-label{ text-align: left;}
.IRLookupModule #lookup-form select#format{width: 77px;}
/*.IRLookupModule #lookup-table th{color: #fff; padding: 5px 10px 5px 10px;} 
.IRLookupModule #lookup-table td{border: 1px solid #0284AA; padding: 5px 10px 5px 10px;} 
.IRLookupModule #lookup-table {width: 100%;}*/

#lookup-form .frequency-label, #calc-form .frequency-label {
        float: left;
        min-width: 70px;
    }

#lookup-form .input-row, #calc-form .input-row  {
       line-height: 24px;
    }

#lookup-form .from-label, #lookup-form .to-label, #calc-form .from-label, #calc-form .to-label {
        float: left;
        margin-right: 10px;
	    text-align: left;      
    }

/* End ======================================================================== */



/* IRCuote */

.IRQuoteModule .table-look-horizontal th {
    width: 110px;
}

.IRQuoteVerticalModule .table-look-vertical th{
    background-color: #00659C;
}

/* End ======================================================================== */



/**** DetailedSharePrice *****/
.detailed-share-price-exchange td:first-child, .detailed-share-price-market td:first-child, .detailed-share-price-records td:first-child, .detailed-share-price-summary td:first-child { 
    padding-left: 5px; text-align:left;
}
.detailedSharePriceSplit h2{margin-top: 30px;}
.detailed-share-price-records th, .detailed-share-price-summary th, .detailed-share-price-market th, .detailed-share-price-records td, .detailed-share-price-summary td, .detailed-share-price-market td {text-align: left !important;}

table.detailed-share-price {width:100%;}

.detailed-share-price th, .detailed-share-price td {
    padding: 5px 10px;
    letter-spacing: -0.5px;
}

.detailed-share-price tr:nth-child(2n) td, .detailed-share-price tr:nth-child(2n) th, .detailed-share-price-exchange tr:nth-child(2n) th, .detailed-share-price-exchange tr:nth-child(2n) td {
    background: #f4f4f4;
    width: 0%;
}

.detailed-share-price tr:nth-child(2) td{
    background: #00659C;
    color: #fff;
}

.detailed-share-price th{
    /*background: #00659C;*/
    color: #000;
    font-weight: normal;
}

/* End ======================================================================== */