
body {
    font-size: 13px;
    color: #333;
}

.disclaimer-delayed {
    display: none;
}


.table-look {
    border-top: 0;
    border-bottom: 0;
    table-layout: fixed;
}

    .table-look tbody {
        border-bottom: 0;
    }

    .table-look tr.Header th.column-left {
        font-style: normal;
    }

    .table-look tr.Header th.name {
        width: 90px;
    }

    .table-look tr td.column-left {
        white-space: normal;
    }

    .table-look tr.Header th.column-left, .table-look tr td.column-left {
        text-align: left;
    }

    .table-look th, .table-look td {
        text-align: left;
        word-wrap: normal;
        white-space: normal;
    }

.IRDividendsInformation {
    width: 100%;
    float: left;
    border: 1px solid black;
}


@media only screen and (max-width: 630px) {

    .table-look th, .table-look td {
        align-items: flex-start;
        line-height: 23px;
        padding-left: 5px;
        text-indent: 0;
        font-size: 13px;
    }

        .table-look th.column-last, .table-look td.column-last {
            padding-right: 10px;
        }
}


@media only screen and (max-width: 600px) {
    h4.horizontal-header {
        display: inline-block;
    }
}
