.deck__header {
    font-weight: bold;
    color: #005daa;
    font-size: 1.875em;
    text-align: center;
    margin-bottom: 0.625rem;
}
@media all and (min-width: 40em) {
  .deck__header {
    font-size: 2.5em; } }

    .deck__headertext {
      font-weight: 300;
      text-align: center;
      margin-bottom: 1.875rem; }
      .deck--blue .deck__headertext, .deck--green .deck__headertext {
        color: #fff; }
      @media all and (min-width: 46.25em) {
        .deck__headertext {
          margin-bottom: 3.75rem; } }
