@import url(fonts/style.css);  
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'OpenSansHebrew', 'Open Sans', serif;
    color: #4d4d4d;
    /*overflow: hidden;*/
    font-size: 15px; 
    line-height: 19.5px;
}

input, select, .IRNewsModule .news-filter-box .checkbox ,.IRNewsModule .news-filter-wrapper select{
    font-family: 'OpenSansHebrew', 'Open Sans', serif;
    font-size: 14px;
    color: #4d4d4d;
}
input,select { 
    line-height: 28px;
    border: 1px solid #4d4d4d !important;
    height: 35px;
}
select {
    background-image: url(../images/selectDown.png) !important;
}
.filterRow .textArea {
    width: 95px;
}
.filterRow,.search-from,.search-to {
    margin-top:10px;
}

input[type=submit],button ,.buttonStyle  {
    border: 1px solid #ff8800;
    width: 100px;
    height: 40px;
    border: none!important;
    background-color: #ff8800!important;
    color: white!important;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
}
.IRNewsModule .news-filter-box .checkbox {
    float: none;
}
.IRNewsModule .news-filter-box{ float: left;}
.divider{
    width: 100%;
}
    input[type=submit]:hover,button:hover,.buttonStyle:hover {

    }

input[type=number], input[type=submit] {
    font-size: 16px;
}
.IRNewsModule .news-filter-box .checkbox {
    width: 200px;
}
.table-look {
        border: 1px solid #E6E6E6;
}

    .table-look th {
        background: transparent;
        font-weight: bold;
        font-size: 16px;
        border-bottom : 1px solid #E6E6E6;
    }

    .table-look td {
        font-size: 16px;
    }
/* IRChart =============================================================== */
.IRChartModule {
    padding-top: 15px;
}

.IRChartNavigation {
    position: relative;
    z-index: 1000;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    border: none;
    border-right: 1px solid #eee;
    border-bottom: 0px;
}

.IRChartNavigation div.IRChartNavigationInner {
    border-top: 1px solid #eee;
}

.IRChartColour {
    color: #ff8800;
}

.chartLastPrice {
    font-family: 'OpenSansHebrew', 'Open Sans', serif;
    font-size: 12px;
}

.chartLastPriceTime {
    font-family: 'OpenSansHebrew', 'Open Sans', serif;
    font-size: 10px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 500px;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div,
    .IRChartChangePeriod div {
        font-size: 12px;
        height: 20px;
        line-height: 22px;
        color: #fff;
        background: #FF8800;
        border: 1px solid #FF8800;
        text-transform: uppercase;
        margin: 0 0.25em 0 0;
        font-family: 'OpenSansHebrew', 'Open Sans', serif;
        font-weight: 400;
    }

        .chartChangePeriod div.activePeriod,
        .IRChartChangePeriod div.activePeriod {
            color: #4d4d4d !important;
            background: #fff !important;
            border: 1px solid #FF8800;
        }

        .chartChangePeriod div:hover,
        .IRChartChangePeriod div:hover {
            color: #4d4d4d;
            background-color: #fff;
            border: 1px solid #f80;
        }

        .chartChangePeriod div#max,
        .IRChartChangePeriod div#Max {
            border-right: 1px solid #FF8800;
        }

.IRChartHTMLPlaceholder {
    height: 500px;
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    min-width: 300px;
    clear: both;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #4d4d4d;
}

.IRChartCurrency {
    color: #4d4d4d;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    font-family: 'OpenSansHebrew', 'Open Sans', serif;
}

.tooltipHTML.tooltipModehistorical.htmlReadingDirectionRTL .IRChartTooltipOpen span.subShadow,
.IRChartTooltipHigh span.subShadow, .IRChartTooltipLow span.subShadow, .IRChartTooltipClose span.subShadow, .IRChartTooltipVolume
span.subShadow {
    display: none;
}

.tooltipHTML.tooltipModehistorical.htmlReadingDirectionRTL .IRChartTooltipOpen span.subHeader,
.IRChartTooltipHigh span.subHeader, .IRChartTooltipLow span.subHeader, .IRChartTooltipClose span.subHeader, .IRChartTooltipVolume
span.subHeader {
    margin-right: 60px;
}
.tooltipHTML.tooltipModehistorical.htmlReadingDirectionRTL .IRChartTooltipOpen span.subContent,
.IRChartTooltipHigh span.subContent, .IRChartTooltipLow span.subContent, .IRChartTooltipClose span.subContent, .IRChartTooltipVolume
span.subContent {
/*
    padding-left: 50px;
    left: 50px;
*/
}

.tooltipHTML.tooltipModehistorical.htmlReadingDirectionRTL .IRChartTooltipDate {
    padding-left: 5px;
}

.IRChartChangePeriod.language-he {
    display: inline-block;
    width: auto;
    position: relative;
    right: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(50%);
}
/* End ======================================================================== */


/* IRCalc ==================================================================== */
#calc-form {
    margin-top: 20px;
}

.IRCalcModule label {
    font-size: 16px;
}

.IRCalcModule select {
    font-family: 'OpenSansHebrew', 'Open Sans', serif;
    font-size: 16px;
    height: inherit;
}
/* End ======================================================================== */


/* Miniquote ================================================================== */
.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 125px;
}

.IRMiniquoteChartModule .table-wrapper {
    height: 80px;
    background: #FFDBB3;
}

.IRMiniquoteChart.last-price {
    width: 125px;
    float: left;
    border: 0;
    margin-left: 15px;
    height: 93px;
}

.IRMiniquoteChart.change {
    float: right;
    width: 75px;
    line-height: 15px;
    text-align: left;
}

    .IRMiniquoteChart.change th {
        padding-top: 10px;
    }

    .IRMiniquoteChart.change td {
        padding-bottom: 0px;
    }

    .IRMiniquoteChart.change th, .IRMiniquoteChart.change td {
        float: left;
    }

.IRMiniquoteChartModule .table-look th {
}

.IRMiniquoteChartModule .table-look, .IRMiniquoteChartModule .table-look th, .IRMiniquoteChartModule .table-look td {
    color: #4d4d4d;
    border: 0;
}

    .IRMiniquoteChartModule .table-look th {
        font-weight: normal;
        font-size: 25px;
    }

    .IRMiniquoteChartModule .table-look.change td {
        font-size: 15px;
        font-style: italic;
    }

.IRMiniquoteChartModule th.column-first {
    font-style: italic;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    font-weight: 300;
    width: 125px;
    text-align: center;
    padding-bottom: 3px;
}

.IRMiniquoteChartModule td.column-first {
    line-height: 50px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    width: 125px;
    padding: 0;
}
/* End ======================================================================== */



/* @media only screen =========================================================*/
@media only screen and (min-width: 600px) {
    .IRDetailedSharePrice.vertical {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    .table-look th, .table-look td {
        text-align: left;
    }

    .table-look th {
        width: 40%;
    }

    .IRQuoteModule .high, .IRQuoteModule .low, .IRQuoteModule .bid, .IRQuoteModule .ask, .IRQuoteModule .volume {
        display: none;
    }

    .IRChartHTMLPlaceholder {
        height: 350px;
    }
}
@media only screen and (max-width: 450px) {
    .news-filter-box {
        width: 100%;
    }
}
@media only screen and (max-width: 430px) {
    #hideH, #hideD {
        display: none;
    }
}
/* End ======================================================================== */


.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background-color: #fff;
}

/* IRDetailedSharePrice ===================================================== */
.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look.vertical td {
    border-left: 0;
    text-align: right;
    border-bottom: 1px solid #E6E6E6;
}

.IRDetailedSharePrice.table-look.vertical th {
    border-right: 0;
    text-align: left;
    border-bottom: 1px solid #E6E6E6;
}

.IRQuoteHorizontalModule h3 {
    font-size: 17px;
    padding-left: 5px;
    padding-bottom: 5px;
}

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 1.25em;
}


/*** News **************/
.search-for-box input.searchText {
    padding-left: 5px;
}