
.IRCalcModule select{width: 44px;}

.IRCalcModule .IRChartCalcPlaceholder {
    display: none;
}

.customCalcModuleWrapper .IRToolCalcResultsTable.table-look {
    border-top: 0;
}

.IRCalcModule .customCalcModuleWrapper #calc-form {
    width: 49%;
    float: left;
    /*padding: 20px 30px;*/
    /*background: #f6f6f5;*/
    height: 400px;
    margin-top: 0;
}

.customCalcModuleWrapper .IRToolCalcResultsTable.table-look.vertical tr {
    float: left;
    width: 100%;
}

.customCalcModuleWrapper .IRToolCalcResultsTable.table-look.vertical th {
    float: left;
    text-align: left;
}

.customCalcModuleWrapper .IRToolCalcResultsTable.table-look.vertical td {
    float: left;
}



#result-section {
    float: right;
    width: 49%;
    display: block;
    /*padding: 20px 30px;*/
    /*background: #f6f6f5;*/
    height: 400px;
}

.customCalcModuleWrapper #result-section .title, .IRCalcModule .customCalcModuleWrapper #calc-form .title {
    font-size: 18px;
    font-weight: bold;
    color: #777;
    width: 100%;
    display: block;
    border-bottom: 2px solid #00A6D5;
    line-height: 30px;
    margin-bottom: 20px;
}

.IRToolCalcResultsTable.table-look.vertical tr, .IRToolCalcResultsTable.table-look.vertical tr:nth-child(2n) {
    background: transparent;
}

.IRToolCalcResultsTable.table-look.vertical {
    display: block;
}

    .IRToolCalcResultsTable.table-look.vertical th {
        width: 50%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #777;
        background: none;
        border: 0;
        border-bottom: 1px solid #a8a9a3;
        font-weight: normal;
    }

    .IRToolCalcResultsTable.table-look.vertical td {
        width: 50%;
        text-align: right;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        border: 0;
        border-bottom: 1px solid #a8a9a3;
        font-weight: 700;
    }

    .IRToolCalcResultsTable.table-look.vertical tr:last-child td, .IRToolCalcResultsTable.table-look.vertical tr:last-child th {
        border: 0;
    }
.IRCalcModule select {
    width: 44px;
    height: 30px;
    line-height: 30px;
    /* text-indent: 10px; */
}
.IRToolCalcResultsTable.table-look.vertical {
    border-bottom: 0;
}

.divideLine {
    display: none;
}

label {
    font-size: 14px;
    color: #777;
}

.formDivider .input-row input[type="radio"], .formDivider .input-row .radio label {
    vertical-align: middle;
    top: 0;
}

.formDivider .input-row .radio label {
    margin-right: 30px;
}

    .formDivider .input-row .radio label:last-child {
        margin-right: 0;
    }

.formDivider .input-row {
    margin-bottom: 20px;
}

    .formDivider .input-row label.input-label {
        width: 160px;
        line-height: 29px;
    }

.input-wrapper {
    left: 165px;
    right: inherit;
}

.wide-input {
    width: 188px;
}
input#amount-invested {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
}
    .wide-input.radio {
        width: auto;
    }

.calculateButton input[type=submit] {
    /*color: #ffffff;
    background-color: #2bc4b6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    cursor: pointer;*/
    width: 114px;
    padding: 10px 15px;
    height: auto;
    float: left;
    margin-left: 78px;
    /*opacity: 0.8;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;*/
}
.table-look td, .table-look th {
    padding: 0px;
} 

/*input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    background-color: #2bc4b6;
    color: #fff;
    box-shadow: none;
    border: 0;
    opacity: 1;
    font-weight: 500;
}*/

.Data.yield-cell, .Data.yield-change-cell {
    color: #0096c6;
}

@media only screen and (max-width: 800px) {
    #result-section, .IRCalcModule .customCalcModuleWrapper #calc-form {
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

        .IRCalcModule .customCalcModuleWrapper #calc-form .title {
            padding-top: 20px;
        }

    #lookup-table-form .submit {
        width: 100%;
    }

    #summaryIframe {
        height: 810px;
    }
    /*.IRCalcModule .customCalcModuleWrapper #calc-form {
        margin-bottom: 20px;
    }*/

    .formDivider .input-row {
        /*height: auto;*/
        margin-bottom: 10px;
    }
    label.input-label.invested-label {
        display: none;
    }
    .formDivider .input-row label.input-label {
        width: 160px;
        line-height: 21px;
    }
    
    .formDivider .input-row label.input-label, .IRCalcModule #amount-invested {
        /*display: block;*/
        width: auto;
    }
    .input-wrapper.wide-input.radio {
        float: left;
    }
    /*.calculateButton input[type=submit] {
        width: 114px;
        padding: 10px 15px;
        height: auto;
        float: right;
        margin-left: 78px;
    }*/
    .IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
        float: right;
    }
    .input-wrapper {
        position: static;
    }
    input#amount-invested {
        width: 190px !important;
    }
    .input-wrapper.calculateButton {
        /*margin-top: 20px;*/
        float: right;
    }
}

@media only screen and (max-width: 500px) {
    .tabs-container ul li a {
        width: 100%;
        max-width: initial;
        margin: 0px 0px 10px 0;
    }

    .tabs-container ul li.firstTab a {
        margin-top: 21px;
        background-position: 40% center;
        text-indent: 45%;
        text-align: left;
    }

    .tabs-container ul li.tab2 a {
        background-position: 40% center;
        text-indent: 45%;
        text-align: left;
    }


    .tabs-container ul li.lastTab a {
        margin-bottom: 21px;
        background-position: 40% center;
        text-indent: 45%;
        text-align: left;
    }
}


.customCalcModuleWrapper #to-month{display: initial;}

@media only screen and (max-width: 330px) {
    .tabs-container ul li.firstTab a, .tabs-container ul li.tab2 a, .tabs-container ul li.lastTab a {
        background-position: 35% center;
    }
}
