
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=49481b1a-8d2d-40cf-8f81-7db0eccc9302");





body {
    font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
    color: #777777;
}

h2 {
    color: #0e0e0e;
    font-weight: normal;
    font-size: 16px;
}

input[type=submit] {
    -webkit-appearance: none;
    box-shadow: none;
}

    input[type=submit]:hover {
        color: #fff;
        box-shadow: none !important;
    }

#calc-form, #lookup-form {
    font-size: 14px;
}

select {
    color: #777;
    font-size: 14px;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
}
.input-row {
    position: relative;
    height: 35px;
}
    select#format, select#frequency, #lookup-button {
        width: 111px;
    }


input[type=submit] {
    /*font-family: 'Calibri W01', arial, sans-serif;*/
    background: #00A6D5;
    color: #fff;
    padding: 10px 15px;
    height: auto;
    cursor: pointer;
    border-radius: 4px;
    -webkit-appearance: none;
}

.miniquoteDisclaimer .disclaimer {
    display: none;
}

.IRChartColour {
    /*color: #00A6D5;*/
    color: rgb(0, 166, 213);
}

.tooltipHTML {
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    font-size: 12px;
    width: 120px;
    padding: 5px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 12px;
        font-weight: 700;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

.highcharts-tooltip span {
    color: #006152;
}

.tooltipHTML .IRChartTooltipDate, .tooltipHTML div.IRChartTooltipVolume span {
    color: #333;
}


.updated {
    text-align: right;
    font-size: 11px;
    height: 20px;
    line-height: 30px;
}

.updatedText {
    font-weight: bold;
}

/*.IRChartNavigation div.IRChartNavigationInner {
    display: none;
}*/

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #0096c6;
    color: #fff;
    border: 1px solid #0096c6;
    border-radius: 0px;
    border-radius: 4px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    /*border: 1px solid black;*/
    line-height: 23px;
    font-size: 12px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div {
        /* border: 1px solid #0e0e0e; */
        display: block;
        float: left;
        width: 50px;
        text-align: center;
        /*border: 1px solid rgb(40, 36, 37);*/
        cursor: pointer;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
            background-color: #0096c6;
            color: #fff;
            /*border: 1px solid #0096c6;*/
            border-radius: 4px;
        }

.IRChartChangePeriod {
    font-weight: bold;
}

.table-look {
    border: none;
    border-bottom: 1px solid #777;
}

    .table-look th, .table-look td {
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        border: none;
        text-align: right;
    }

    .table-look th {
        padding: 3px;
        color: #777;
        line-height: 20px;
        font-weight: bold;
        border-bottom: 1px solid #777;
        font-size: 1em;
    }

    .table-look td {
        padding: 3px;
        font-size: 1em;
        background: #ffffff;
    }

.chartDisclaimer, .performanceDisclaimer, .calcDisclaimer, .lookupDisclaimer {
    display: none;
}
td.rowCounter, .IRTradesModule td.price, .IRTradesModule th.price {
    text-align: left;
}
/* IRMiniquoteModule ===================================================== */
.IRMiniquoteModule {
    text-align: left;
}

    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        font-size: 25px;
        margin: 5px 0 10px 0;
        font-weight: normal;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    padding-top: 12px;
    padding: 5px;
}

.IRMiniQuoteQuoteModule .last {
    font-size: 38px;
    color: #0096c6;
    width: 100%;
    padding: 20px 0;
}

.IRMiniQuoteQuoteModule .currency {
    color: #0096c6;
    font-size: 18px;
    margin-top: 18px;
    padding-left: 5px;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    text-transform: uppercase;
}

.IRMiniQuoteQuoteModule .change {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    width: 100%;
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule.table-look {
    width: initial;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    /*background-image: url(../2210/images/arrow.png);*/
    width: 11px;
    height: 16px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #00c8d7;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}

/* IRLookuModule ================================ */

.IRLookupModule .IRLookupResultsTable.horizontal th,
.IRLookupModule .IRLookupResultsTable.horizontal td {
    /*font-family: 'Calibri W01', arial, sans-serif;*/
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    border: none;
    color: #666;
}


.IRLookupModule .IRLookupResultsTable.horizontal th {
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.IRPerformanceModule .Header {
    text-align: right;
}

.formatArrowNeg, .formatArrowPos {
    vertical-align: middle;
    width: 11px;
    /*height: 22px;*/
    display: inline-block;
    background-position: center center;
    margin-right: 3px;
}

.formatArrowPos {
    background-repeat: no-repeat;
    background-size: 10px;
}

.formatArrowNeg {
    /*background-image: url(../images/arrow_down.png);*/
    background-repeat: no-repeat;
    color: red;
}

.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label {
    float: left;
    line-height: 24px;
    height: 24px;
}

.IRCalcModule label, .IRCalcModule input[type="radio"] {
    float: left;
    line-height: 28px;
    height: 24px;
}


.IRCalcModule .IRToolCalcResultsTable.horizontal th {
}

.IRCalcModule .IRToolCalcResultsTable.horizontal td {
}

.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
    border-bottom: 2px solid #DDD;
}


/* IRQuoteDualModule ======================================= */
.IRQuoteDualModule.table-look th, .IRQuoteDualModule.table-look td {
    font-size: 10px;
}

.IRQuoteDualModule.table-look th {
    line-height: 13px;
    font-size: 10px;
    background-color: #CED2E5;
    color: #00348B;
    text-align: center;
    font-weight: normal;
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #FFFFFF;
}

.IRQuoteDualModule.table-look td {
    line-height: 13px;
    background-color: #E5E7F1;
    color: #00348B;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.IRQuoteDualModule .exchange {
    width: 108px;
}

.IRQuoteDualModule.table-look .column-first {
    text-align: left;
}

.IRQuoteDualModule th.column-first, .IRQuoteDualModule th.column-last {
    visibility: hidden;
}

.IRQuoteDualModule .column-last {
    width: 60px;
}
/* End ===================================================== */


.IRCalcModule select {
    min-width: 55px;
}


/* Share price tool ===================================================== */


table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #777;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }
.table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    padding: 0 0 0 0;
}

.table-look th {
    width: 244px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #0096c6;
    font-weight: bold;
    border: 1px solid #0096c6;
    font-size: 12px;
    color: #fff;
}


/* END ===================================================== */
a {
    text-decoration: none;
    color: #666;
    /*font-family: 'Calibri W01', arial, sans-serif;*/
}

li.tabitem {
    float: left;
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a.link-target.current {
    color: #00ade6;
}




li.tabitem a:hover {
    color: #0e0e0e;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

ul {
    border-bottom: 2px solid #00ade6;
    height: 40px;
}
h3.horizontal-header {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-wrapper td.Header {
    color: #0096c6;
    line-height: 30px;
    text-align: left;
}

.profile-wrapper td.Data {
    text-align: right;
    color: #777;
}

.profile-wrapper table.IRTable.table-look.responsive {
    border: none;
}

.profile-wrapper .disclaimer {
    display: none;
}

h3.vertical-header {
    font-size: 16px;
    margin-bottom: 5px;
}

table.IRDetailedSharePrice.table-look.vertical.responsive-flip {
    border-top: 1px solid #777;
}
/* Media Queries =========================================== */



@media screen and (max-width: 600px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.vertical {
        display: table;
    }

    iframe.calc {
        height: 500px !important;
    }

    .horizontal.customResponsive .IRElement8 {
        display: none;
    }
}

@media (max-width: 550px) {
    li.tabitem {
        float: none;
        height: 22px;
        line-height: 22px;
    }

    ul {
        height: 70px;
    }
}

@media (max-width: 500px) {
    .horizontal.customResponsive .IRElement7 {
        display: none;
    }
}

@media (max-width: 400px) {
    .horizontal.customResponsive .IRElement5, .horizontal.customResponsive .IRElement6 {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }

    .horizontal.customResponsive .IRElement3, .horizontal.customResponsive .IRElement4 {
        display: none;
    }

    .IRQuoteModule th.change, .IRQuoteModule td.change {
        text-align: right;
    }
    .IRTradesModule .volume {
        display: none;
    }
}
@media only screen and (min-width: 572px) {
    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {

    .IRDetailedSharePrice.table-look th {
        /* padding-left: 10px; */
        background-color: #fff;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        color: #282828;
        text-transform: none;
        text-align: left;
    }

    .IRDetailedSharePrice.vertical td {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        font-weight: normal;
        font-size: 14px;
        height: initial;
        line-height: initial;
        white-space: initial;
        color: #282828;
        border-bottom: 0;
        text-align: right;
    }

    .IRDetailedSharePrice.table-look th {
        width: 45%;
        background: none;
        border: none;
        color: #0096c6;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }
}


/* End ===================================================== */
.hidden {
    display: none;
}

td.table-seperator {
    text-align: center;
}