.table-look th, .table-look td {
    text-align: right;
}

.hide{
    display:none;
}
.left {
    text-align: left !important;
    width: 50%;
}
.name {
    width: 18%;
}
.Note {
    width: 40px;
}

.rowButton {
    width: 20px;
}

.baricon_outer {
    z-index: 9999;
    width: 19px;
    height: 15px;
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-right: 6px;
}

.bariconFill {
    position: absolute;
    bottom: 0px;
    width: 5px;
    /*background-color: rgb(181,230,29);*/
    background-color: rgb(240, 240, 240);
    padding: 0px;
    margin: 0px;
}

.bariconBorder {
    position: absolute;
    bottom: 0px;
    width: 5px;
    border: 1px solid Black;
    padding: 0px;
    margin: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.baricon_underline {
    position: absolute;
    bottom: 0px;
    width: 20px;
    border-bottom: 1px solid rgb(120, 120, 120);
    padding: 0px;
    margin: 0px;
    height: 1px;
}
.row{
    cursor: pointer;
}
.row.kfActive {
    font-weight: 600;
}

.row.kfActive .left, .row.kfActive .cell{
    color: #007fc5;
}
.cell.note {
    border-right: 1px solid #ddd;
}

.name.Note {
    border-right: 1px solid #ddd;
}
.hidden{
    
}

.rangeText {
    line-height: 32px;
    padding-right: 2px;
}
.btnNewerOlder {
    height: 38px;
    display: none;
}
.btnOuter {
    height: 30px;
    width: 30px;
    display: block;
    float: right;
    padding: 10px;
}
.btnSeeOlder,.btnSeeNewer {
    cursor: pointer;
    display: block;
    height: 28px;
    width: 24px;
    float: right;
    color: #fff;
    text-align: center;
    margin: -6px;
    padding: 2px;
}
.btnSeeNewer {
    background-repeat: no-repeat;
    background: url("../Images/icons-sprite.png") no-repeat -210px -274px;
}
.btnSeeOlder {
    background-repeat: no-repeat;
    background: url("../Images/icons-sprite.png") no-repeat -180px -274px;
}
.btnSeeOlder:hover, .btnSeeNewer:hover {

}

@media (max-width: 600px) {

    .name{
        width: 63px;
    }
}