
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15px;
    color: #4f4f4f;
}

a:hover {
    color: #00c8d7;
}

h2 {
    color: #722a94;
}

input[type=number], input[type=submit] {
    background-color: transparent;
    border: 1px solid #c3c3c2;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 5%;
}

.table-look th.column-last, .table-look td.column-last {
    padding-right: 2%;
}



/* IRMiniquoteModule ===================================================== */
.IRMiniquoteModule {
    /*max-width: 270px;*/
    font-size: 14px;
    text-align: left;
    /*height: 280px;*/
}

    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        font-size: 25px;
        margin: 5px 0 10px 0;
        font-weight: normal;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    height: 110px;
    padding-top: 12px;
    padding: 5px;
}

.IRMiniQuoteQuoteModule .last {
    font-size: 33px;
    line-height: 40px;
    height: 40px;
    float: left;
    margin-left: 0px;
}

.IRMiniQuoteQuoteModule .currency {
    color: #722a94;
    font-size: 18px;
    /*float: left;*/
    margin-top: 18px;
    padding-left: 5px;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
}


.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule.table-look {
    width: initial;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    background-image: url(../2202/images/arrow.png);
    width: 11px;
    height: 16px;
}

.formatArrowNeg, .formatArrowPos {
    width: 11px;
    height: 13px;
    display: inline-block;
    background-position: center center;
    margin-right: 3px;
}

.formatArrowPos {
    background-image: url(../images/arrow_up.png);
    background-repeat: no-repeat;
    color: #91c453;
}

.formatArrowNeg {
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    color: red;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #00c8d7;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}
/* End =================================================================== */

