
/* Fonts */
@font-face {
    font-family: DINWeb;
    src: url("inc/fonts/DINWeb.eot");
}

@font-face {
    font-family: DINWeb;
    src: url("inc/fonts/DINWeb.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Light;
    src: url("inc/fonts/DINWeb-Light.eot");
}

@font-face {
    font-family: DINWeb-Light;
    src: url("inc/fonts/DINWeb-Light.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("inc/fonts/DINWeb-Medium.eot");
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("inc/fonts/DINWeb-Medium.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Bold;
    src: url("inc/fonts/DINWeb-Bold.eot");
}

@font-face {
    font-family: DINWeb-Bold;
    src: url("inc/fonts/DINWeb-Bold.woff") format("woff");
}
/* end of fonts */

body {
    font-family: 'DINWeb', Arial;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #647783;
    overflow-x: hidden;
}

.viewActive {
    color: #fff;
    background-color: #de076e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

.tabs-menu {
    width: 100%;
    height: 30px;
    float: left;
    clear: both;
}

    .tabs-menu li {
        width: 25%;
        height: 50px;
        line-height: 50px;
        float: left;
        background-color: #e1e7eb;
    }

        .tabs-menu li.current {
            position: relative;
            background-color: #DE076E;
            border-bottom: 1px solid #DE076E;
            z-index: 5;
        }

        .tabs-menu li a {
            padding: 10px;
            text-transform: uppercase;
            color: #DE076E;
            text-decoration: none;
        }

    .tabs-menu .current a {
        color: #FFF;
    }

ul {
    list-style-type: none;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    width: 660px;
    padding: 20px;
    display: none;
}

.navbar-wrapper {
    border-bottom: 5px solid #DE076E;
    height: 50px;
    width: 100%;
}

#tab-1 {
    display: block;
}
