
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=49481b1a-8d2d-40cf-8f81-7db0eccc9302");

@font-face {
    font-family: "Calibri W01_n2";
    src: url("Fonts/3bf8ead2-2902-446a-af57-fcf4e5da22db.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Calibri W01";
    src: url("Fonts/3bf8ead2-2902-446a-af57-fcf4e5da22db.eot?#iefix");
    src: url("Fonts/3bf8ead2-2902-446a-af57-fcf4e5da22db.eot?#iefix") format("eot"),url("Fonts/52f16f8c-2868-43ee-a2ca-378b097a3580.woff2") format("woff2"),url("Fonts/9cb02ba8-d928-43f5-a1bd-32fb78238194.woff") format("woff"),url("Fonts/1cc9eda5-6732-4a23-ad69-782421f8c81b.ttf") format("truetype"),url("Fonts/bf08ac41-3def-4da6-976b-7f125842a2c3.svg#bf08ac41-3def-4da6-976b-7f125842a2c3") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Calibri W01_i2";
    src: url("Fonts/443c8ba0-016c-4a11-af5c-58f3c01f635c.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Calibri W01";
    src: url("Fonts/443c8ba0-016c-4a11-af5c-58f3c01f635c.eot?#iefix");
    src: url("Fonts/443c8ba0-016c-4a11-af5c-58f3c01f635c.eot?#iefix") format("eot"),url("Fonts/aa102de4-ec9f-42ac-b628-6c30e83d0d93.woff2") format("woff2"),url("Fonts/b67d06e6-0656-41da-a1f4-e700d786580b.woff") format("woff"),url("Fonts/ed45e86a-ab65-4c27-9c41-b4b3d13bc2c6.ttf") format("truetype"),url("Fonts/301a0a5a-16af-4dae-84e6-c032da865cac.svg#301a0a5a-16af-4dae-84e6-c032da865cac") format("svg");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Calibri W01_n4";
    src: url("Fonts/d4acc8cd-67f2-4139-80be-d669bb2564d7.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Calibri W01";
    src: url("Fonts/d4acc8cd-67f2-4139-80be-d669bb2564d7.eot?#iefix");
    src: url("Fonts/d4acc8cd-67f2-4139-80be-d669bb2564d7.eot?#iefix") format("eot"),url("Fonts/367341fc-4cc6-4a79-89ad-d6c61561611e.woff2") format("woff2"),url("Fonts/1ff86dd4-d3b2-4325-89bc-c6eb493cedba.woff") format("woff"),url("Fonts/aa6b4b64-5ce0-48fd-887a-bece037cd9c9.ttf") format("truetype"),url("Fonts/59b6060c-d311-413e-b351-d79aaf982f7a.svg#59b6060c-d311-413e-b351-d79aaf982f7a") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Calibri W01_n7";
    src: url("Fonts/26989e0d-2435-46c9-ab53-ae63e1816b99.eot?#iefix") format("eot")
}

@font-face {
    font-family: "Calibri W01";
    src: url("Fonts/26989e0d-2435-46c9-ab53-ae63e1816b99.eot?#iefix");
    src: url("Fonts/26989e0d-2435-46c9-ab53-ae63e1816b99.eot?#iefix") format("eot"),url("Fonts/3ded7064-503f-4fa0-853b-9f7a2cf55f20.woff2") format("woff2"),url("Fonts/4e7b2126-77d3-4e53-810d-7ccfde46450a.woff") format("woff"),url("Fonts/dcb27c78-fcd6-43bb-ab8b-9152bcfeb336.ttf") format("truetype"),url("Fonts/ab531dcb-6916-45d8-9326-ab3e33d75ef3.svg#ab531dcb-6916-45d8-9326-ab3e33d75ef3") format("svg");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Calibri W01';
    font-size: 1em;
    color: #282425;
}

h2 {
    color: #282425;
    font-weight: normal;
    font-size: 16px;
}

input[type=submit] {
    -webkit-appearance: none;
    box-shadow: none;
}

    input[type=submit]:hover {
        color: #000;
        box-shadow: none !important;
    }

#calc-form, #lookup-form {
    font-size: 13px;
}

select {
    color: #666;
}

    select#format, select#frequency, #lookup-button {
        width: 80px;
    }


input[type=submit] {
    font-family: 'Calibri W01', arial, sans-serif;
    background: #00A6D5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -webkit-appearance: none;
}

.miniquoteDisclaimer .disclaimer {
    text-align: center;
    padding: 15px;
}

.IRChartColour {
    /*color: #00A6D5;*/
    color: rgb(0, 166, 213);
}

.tooltipHTML {
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    font-size: 12px;
    width: 120px;
    padding: 5px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 12px;
        font-weight: 700;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

.highcharts-tooltip span {
    color: #006152;
}

.tooltipHTML .IRChartTooltipDate, .tooltipHTML div.IRChartTooltipVolume span {
    color: #333;
}


.updated {
    text-align: right;
    font-size: 11px;
    height: 20px;
    line-height: 30px;
}

.updatedText {
    font-weight: bold;
}

/*.IRChartNavigation div.IRChartNavigationInner {
    display: none;
}*/

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: rgb(40, 36, 37);
    color: #fff;
    border: 1px solid rgb(40, 36, 37);
    border-radius: 0px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    border: 1px solid black;
    line-height: 23px;
    font-size: 12px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div {
        /* border: 1px solid #282425; */
        display: block;
        float: left;
        width: 50px;
        text-align: center;
        border: 1px solid rgb(40, 36, 37);
        cursor: pointer;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
            background-color: #282425;
            color: #fff;
            border: 1px solid #282425;
        }

.IRChartChangePeriod {
    font-weight: bold;
}

.table-look {
    border: none;
}

    .table-look th, .table-look td {
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        border: none;
        text-align: left;
    }

    .table-look th {
        padding: 3px;
        color: rgb(40, 36, 37);
        line-height: 20px;
        font-weight: bold;
        border-bottom: 1px solid #282425;
        font-size: 1em;
    }

    .table-look td {
        padding: 3px;
        font-size: 1em;
        background: #ffffff;
    }

.chartDisclaimer, .performanceDisclaimer, .calcDisclaimer, .lookupDisclaimer {
    display: none;
}

/* IRMiniquoteModule ===================================================== */
.IRMiniquoteModule {
    /*max-width: 270px;*/
    font-size: 14px;
    text-align: center;
    /*height: 280px;*/
}

    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        font-size: 25px;
        margin: 5px 0 10px 0;
        font-weight: normal;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    padding-top: 12px;
    padding: 5px;
}

.IRMiniQuoteQuoteModule .last {
    font-size: 48px;
    line-height: 62px;
    height: 50px;
    float: left;
    margin-left: 0px;
    color: rgb(55, 161, 201);
    width: 100%;
}

.IRMiniQuoteQuoteModule .currency {
    color: #00A6D5;
    font-size: 18px;
    /*float: left;*/
    margin-top: 18px;
    padding-left: 5px;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    font-size: 1em;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.IRMiniQuoteQuoteModule .change {
    margin-top: 15px;
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule.table-look {
    width: initial;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    /*background-image: url(../2210/images/arrow.png);*/
    width: 11px;
    height: 16px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #00c8d7;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}

/* IRLookuModule ================================ */

.IRLookupModule .IRLookupResultsTable.horizontal th,
.IRLookupModule .IRLookupResultsTable.horizontal td {
    font-family: 'Calibri W01', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    border: none;
    color: #666;
}


.IRLookupModule .IRLookupResultsTable.horizontal th {
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.IRPerformanceModule .Header {
    text-align: right;
}

.formatArrowNeg, .formatArrowPos {
    vertical-align: middle;
    width: 11px;
    /*height: 22px;*/
    display: inline-block;
    background-position: center center;
    margin-right: 3px;
}

.formatArrowPos {
    /*background-image: url(../images/arrow_up.png);*/
    background-repeat: no-repeat;
    color: #91c453;
}

.formatArrowNeg {
    /*background-image: url(../images/arrow_down.png);*/
    background-repeat: no-repeat;
    color: red;
}

.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label {
    float: left;
    line-height: 24px;
    height: 24px;
}

.IRCalcModule label, .IRCalcModule input[type="radio"] {
    float: left;
    line-height: 24px;
    height: 24px;
}


.IRCalcModule .IRToolCalcResultsTable.horizontal th {
}

.IRCalcModule .IRToolCalcResultsTable.horizontal td {
}

.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
    border-bottom: 2px solid #DDD;
}


/* IRQuoteDualModule ======================================= */
.IRQuoteDualModule.table-look th, .IRQuoteDualModule.table-look td {
    font-size: 10px;
}

.IRQuoteDualModule.table-look th {
    line-height: 13px;
    font-size: 10px;
    background-color: #CED2E5;
    color: #00348B;
    text-align: center;
    font-weight: normal;
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #FFFFFF;
}

.IRQuoteDualModule.table-look td {
    line-height: 13px;
    background-color: #E5E7F1;
    color: #00348B;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.IRQuoteDualModule .exchange {
    width: 108px;
}

.IRQuoteDualModule.table-look .column-first {
    text-align: left;
}

.IRQuoteDualModule th.column-first, .IRQuoteDualModule th.column-last {
    visibility: hidden;
}

.IRQuoteDualModule .column-last {
    width: 60px;
}
/* End ===================================================== */


.IRCalcModule select {
    min-width: 50px;
}


/* Share price tool ===================================================== */



/* END ===================================================== */
a {
    text-decoration: none;
    color: #666;
    font-family: 'Calibri W01', arial, sans-serif;
}

li.tabitem {
    float: left;
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a.link-target.current {
    color: #00ade6;
}




li.tabitem a:hover {
    color: #000;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

ul {
    border-bottom: 2px solid #00ade6;
    height: 40px;
}

/* Media Queries =========================================== */



@media screen and (max-width: 600px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.vertical {
        display: table;
    }

    iframe.calc {
        height: 500px !important;
    }

    .horizontal.customResponsive .IRElement8 {
        display: none;
    }
}

@media (max-width: 550px) {
    li.tabitem {
        float: none;
        height: 22px;
        line-height: 22px;
    }

    ul {
        height: 70px;
    }
}

@media (max-width: 500px) {
    .horizontal.customResponsive .IRElement7 {
        display: none;
    }
}

@media (max-width: 400px) {
    .horizontal.customResponsive .IRElement5, .horizontal.customResponsive .IRElement6 {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }

    .horizontal.customResponsive .IRElement3, .horizontal.customResponsive .IRElement4 {
        display: none;
    }

    .IRQuoteModule th.change, .IRQuoteModule td.change {
        text-align: right;
    }
}




/* End ===================================================== */
