/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/32cf87");


@font-face {
    font-family: 'UniversLTStd-Light';
    src: url('fonts/32CF87_0_0.eot');
    src: url('fonts/32CF87_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/32CF87_0_0.woff2') format('woff2'), url('fonts/32CF87_0_0.woff') format('woff'), url('fonts/32CF87_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'UniversLTStd-Bold';
    src: url('fonts/32CF87_1_0.eot');
    src: url('fonts/32CF87_1_0.eot?#iefix') format('embedded-opentype'), url('fonts/32CF87_1_0.woff2') format('woff2'), url('fonts/32CF87_1_0.woff') format('woff'), url('fonts/32CF87_1_0.ttf') format('truetype');
}


@font-face {
    font-family: 'UniversLTStd';
    src: url('fonts/32CF87_2_0.eot');
    src: url('fonts/32CF87_2_0.eot?#iefix') format('embedded-opentype'), url('fonts/32CF87_2_0.woff2') format('woff2'),url('fonts/32CF87_2_0.woff') format('woff'), url('fonts/32CF87_2_0.ttf') format('truetype');
}


body {
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

* {
    font-family: "ProximaNova", sans-serif;
}

strong {
    font-weight: bold;
}

/*
    show/hide elements
*/
.unsubscribeNextToButton {
    display: block;
}
/*
    end show/hide elements
*/
h1 {
    font-size: 20px;
    color: #262626;
    padding-top: 20px;
    font-weight: normal;
}

.input-wrapper {
    width: 100%;
    float: left;
    max-width: 600px;
}

input[type=email].informationInput {
    width: 100%;
}

.messageEmail {
    color: red;
    margin-bottom: 10px;
    display: none;
    position: relative;
    height: 26px;
    bottom: 2px;
    margin-top: 48px;
    padding-left: 12px;
    background-color: #FFEDED;
    border: 1px solid #FFD1DE;
}

.informationInput.enterInformationEmail.failedValidation {
    border: 2px solid red;
}

.buttonStyle {
    width: 140px;
    border: 0;
    font-family: inherit;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    color: #263238;
    background: #fff;
    border: 2px solid #263238;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
}

.input-wrapper .buttonStyle {
    margin-left: 5%;
}

.buttonStyle:hover {
    background-color: #ffa000;
    color: #fff;
    border: 2px solid #ffa000;
}

/*.pageRegister {
    padding-left: 2%;
}*/

.blockNoBorder {
    max-width: 400px;
    width: 100%;
    float: left;
}

.customPopUp {
    margin-top: 470px;
}

.blockNoBorder .unsubscribeNextToButton {
    line-height: 32px;
    min-width: 120px;
    width: 20%;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    color: #BA3E32;
    border: 1px solid #BA3E32;
    background-color: #fff;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

    .blockNoBorder .unsubscribeNextToButton:hover {
        color: #FFFFFF;
        border: 1px solid #F26522;
        background-color: #BA3E32;
        padding: 6px 21px 6px 21px;
        border: 0;
    }

.blockNoBorder .formRegister-wrapper {
    float: right;
}

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }

h2 {
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin-top: 23px;
    margin-bottom: 22px;
}

p {
    display: inline;
    height: auto;
    line-height: 23px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    width: 170px;
}

.inputTextTitle {
    height: 46px;
    line-height: 46px;
    min-width: 130px;
}

.requiredField {
    font-weight: bold;
    color: red;
}


.disclaimerHighlight {
}

input.informationInput {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    float: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2.40000009536743px;
    padding-right: 2.40000009536743px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 300px;
    word-spacing: 0px;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    text-indent: 10px;
}


b {
    font-weight: bold;
}

.divideLine {
    margin-top: 20px;
    border-bottom: 1px solid #cacaca;
}

.checkboxOuter {
    margin-bottom: 6px;
}

.checkboxRelease {
    position: absolute;
    margin-top: 1px;
}

.alert-wrapper .checkboxRelease {
    position: relative;
    float: left;
    width: 20px;
}

.alert-wrapper label, .alert-wrapper .checkboxOuter {
    width: 100%;
    float: left;
}

.checkBoxText {
    margin-left: 0.909em;
    line-height: 1;
    float: left;
    width: 80%;
    /*padding-left: 20px;*/
}

.blockInner {
    margin-top: 0px;
}

.requiredField {
}


.subPageLogin input.informationInput {
    width: 40%;
    position: relative;
    margin-bottom: 15px;
}

.subPageLogin input.informationInput {
    width: 70%;
    position: relative;
    margin-bottom: 15px;
    height: 40px;
    line-height: 40px;
}

.header {
    box-sizing: border-box;
    color: #000;
    display: block;
    text-align: left;
    font-weight: 100;
}

h3.header {
    padding: 4px 0 0 0;
    margin: 0 0 12px 0;
    color: #262626;
    border-bottom: 1px solid #C2BEB3;
    font-weight: bold;
}

.cleanLink {
    float: left;
    top: 50px;
}

.subPageLogin {
    min-height: 120px;
    width: 100%;
    float: left;
}

.register-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        margin-bottom: 3px;
        display: block;
    }




.subPageLogin span {
    height: 29px;
    min-width: 130px;
    width: 20%;
    float: left;
    line-height: 29px;
}


.hidden, .disclaimer.disclaimer-IRCustomModule {
    display: none;
}

.semiTransparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: 0.7;
    z-index: 900;
    cursor: pointer;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
    margin-top: 20px;
}

.pageVerification_bottom p, .pageVerification_top p {
    margin-bottom: 3px;
    display: block;
}

.pageVerification_top .goToHome, .cleanLink {
    color: #ffa000;
    width: 70px;
    background: initial;
    font-size: 16px;
    border: 0;
    font-family: inherit;
    padding: 0;
    text-decoration: underline;
    height: 30px;
    line-height: 30px;
}

    .pageVerification_top .goToHome:hover, .cleanLink:hover {
        color: #263238;
    }

.pageVerification_bottom {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.pageVerification_top {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    /*    bottom: 0px;*/
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
    top: 469px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}

strong {
    font-weight: bold;
}

.blockInner {
    max-width: initial;
}

h2 {
    color: #000;
    display: block;
    font-family: inherit;
    font-size: 25px;
    font-weight: normal;
}

.buttonUnsubscribe,
.formUnsubscribeGoBack {
    cursor: pointer;
    color: #ffa000;
    margin-left: 20px;
    text-decoration: underline;
    height: 30px;
    line-height: 30px;
}

    .buttonUnsubscribe:hover,
    .formUnsubscribeGoBack:hover {
        color: #263238;
    }

.x-close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #ffa000;
    margin-right: -16px;
    position: relative;
    top: -92px;
    cursor: pointer;
}

/* @media only screen =========================================================*/

@media only screen and (max-width: 600px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 95%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .input-wrapper .buttonStyle {
        width: 95%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {

    .customPopUp {
        margin-top: 770px;
    }

    .pageVerification_top {
        width: 70%;
        top: 692px;
        left: 0;
    }

    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
    }

    .input-wrapper .buttonStyle, .blockNoBorder .buttonStyle {
        float: right;
        margin-left: 0;
        width: 100%;
    }

    .pageRegister .input-wrapper {
        width: 95%;
        max-width: initial;
    }

    .blockOuter {
        width: 95%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

    .blockNoBorder {
        width: 95%;
        float: left;
        margin-right: 2%;
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: 0;
        max-width: initial;
    }

    .pageUnsubscribe .blockNoBorder {
        width: 100%;
    }

    .blockNoBorder .buttonStyle {
        position: initial;
        float: right;
    }
}

@media only screen and (max-width: 450px) {

    .blockNoBorder .unsubscribeNextToButton {
        min-width: 100px;
        float: left;
        padding: 5px 5px 5px 5px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            padding: 6px 6px 6px 6px;
            width: auto;
        }
}

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput {
        width: 70%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .unsubscribeNextToButton {
        min-width: 90px;
    }

    .customPopUp {
        margin-top: 820px;
    }
}
/* End ========================================================================*/
