* {
    font-family: 'campton-bookuploaded_file', sans-serif;
}

body {
    font-family: 'campton-bookuploaded_file', sans-serif;
    font-size: 14px;
    color: #333;
}
.IRChartColour {
    color: #0040A0;
}
.IRChartCalcPlaceholder,.IRChartLookupPlaceholder {
    height: 200px;
}

.disclaimer-IRChart, .disclaimer-IRPerformance, .disclaimer-IROrders, .disclaimer-IRTrades, .disclaimer-IRQuote, .disclaimer-IRCalc{display: none;}

.hidden {
    display: none;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}
input[type=submit].IRButton {
    line-height: 50px;
    height: 50px;
    background-color: #506070;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding-right: 30px;
}
input[type=submit].IRButton:hover {
    
    background-color: #38434e;
}

.table-look.horizontal {
}

    .table-look th, .table-look td {
        border: 0;
        line-height: 20px;
        text-align: left;
        padding: 12px 5px;
    }

    .table-look th {
        font-weight: bold;
        background-color: #dfd7cf;
        color: #333;
    }

    .table-look td {
        
        color: #333;
    background-color: #fff;
    }

/*test*/
.IRToolQuoteTable.shareinfo th,.IRToolQuoteTable.shareinfo td {
    width: 50%;
    
}

.debugStatus {
    clear: both;
}

.IRChartClientName {
    color: #333;
}

.IRChartCurrency {
    color: #333;
}

.chartCurrentPriceBox {
    border: 1px solid #0040A0;
    background-color: #0040A0;
}

.chartCurrentPriceBoxArrow div.irCPB1, .chartCurrentPriceBoxArrow div.irCPB2, .chartCurrentPriceBoxArrow div.irCPB3 {
    background-color: #0040A0;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #0040A0;
}
.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}
.IRLookupModule .IRLookupResultsTable.horizontal th,
.IRLookupModule .IRLookupResultsTable.horizontal td {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    border: none;
}
.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label {
    float: left;
    line-height: 24px;
    height: 24px;
}

.IRCalcModule label, .IRCalcModule input[type="radio"] {
    float: left;
    line-height: 24px;
    height: 24px;
}


.IRCalcModule .IRToolCalcResultsTable.horizontal th {
    text-align: center;
}

.IRCalcModule .IRToolCalcResultsTable.horizontal td {
    text-align: center;
}

.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
}


/* IRTrades Module */

.IRTradesModule .formatColourPos{color: green;}
.IRTradesModule .formatColourNeg{color: red;}

.IRTradesModule .changePercentage, .IRTradesModule .change{text-align: right;}

/* Media Queries =========================================== */
@media screen and (max-width: 600px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.vertical {
        display: table;
    }

    iframe.calc {
        height: 500px !important;
    }
}

@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }
}
/* End ===================================================== */
