<div class="export-box">
    <div class="toolbar-wrapper mini">
        <div class="toolbar-title">{{exportMsg}}</div>
        <div class="closeAlert animate-click">
            <i class="icon icon-close"></i>
        </div>
    </div>
    <div class="card-content">
        <ul class="selected-for-export-list">
            <li ng-repeat="itm in selectedList" ng-show="itm.use">
                <span>{{itm.name}}</span>
                <ul class="selected-features">
                    <li ng-repeat="fea in itm.featName track by $index">{{fea}}</li>
                </ul>
            </li>
        </ul>
        <label>
            <input type="text" class="niceInput"  ng-model="inputBox" ng-attr-placeholder="{{inputTitle}}"/>
        </label>
        <div class="fold-divider"></div>
        <button type="button" ng-click="initExport(inputBox)" class="exportBtn animate-click" ng-class="{'activeBtn': inputBox.length}" ng-hide="hideExportBtn">{{btnText}}</button>
        <div loadingbar perc="{{completed}}"></div>
    </div>
</div>