.IRChartColour {
    color: green;
}

.chartChangePeriod div.activePeriod {
    background-color: #0284AA;
}
.chartChangePeriod div:hover {
    background-color: #0284AA;
}

.IRChartHTMLPlaceholder {
}


.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}



/* Her starter Jennies CSS Kode */

th.Header  /* Föste räkke på tabellen */
{
	color:#666; /* Tekstfarven */
	border-bottom:1px solid #F26522;
	border-left:none;
	border-right:none;
} 
td.Data  /* Andre räkke på tabellen */
{
	color:#666; /* Tekstfarven */
	border-bottom:2px solid #F26522;
	border-left:none;
	border-right:none;
	background-color: yellow;
	padding-left:0px;
} 
th.last {
	text-align:right; /* Her bliver last headeren right aligned */
	
}
td.last 
{
	text-align:right;/* Her bliver last anden räkke right aligned */
	font-family:Arial;
	font-weight: bold;
	background-color: yellow;
}
.table-look {
	margin-bottom:20px;
}












































