
.checkboxImgFalse {
    background: url('images/checkbox_false.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    text-align: right;
    padding-right: 20px;
    height: 28px;
    line-height: 28px;
}

.checkboxImgTrue {
    background: url('images/checkbox_true.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    text-align: right;
    padding-right: 20px;
    height: 28px;
    line-height: 28px;
}


.IRNewsModule .news-filter-box .checkbox.checked {
    background: url('images/checkbox_true.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    color: #5b5377;
    font-size: 14px;
}

.IRNewsModule .news-filter-box .checkbox {
    background: url('images/checkbox_false.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    float: none;
    position: relative;
    width: 25px;
    background: none;
    background-position: center 12px;
    background-repeat: no-repeat;
    background-size: 14px;
    height: 0;
    display: inline-block;
}

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        float: left;
        margin-top: 0px;
        width: 250px;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url(images/pdficonsmall.png);
        margin-right: 10px;
        background: none;
    }

.IRDownloadPDF .downloadAlign a {
    padding-left: 10px;
    color: #000;
    text-decoration: none;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    width: 19%;
    line-height: 38px;
    float: right;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    width: 50%;
    text-overflow: ellipsis;
}

.download-span {
    float: right;
    margin-right: 3px;
    margin-left: 3px;
    color: #25a6dd;
    font-weight: bold;
    font-size: 18px;
}

    .download-span:hover {
        color: #18759d;
    }

.table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    line-height: 38px;
}

.table-look th {
    font-size: 14px;
    width: 244px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: solid 1px #DBDAD4;
    color: #f14f11;
    background-color: #f3f2f1;
    text-align: left;
    line-height: 32px;
    height: 32px;
}

.customResponsiveVertical th {
    width: 100%;
}

.table-look td {
    font-size: 14px;
    font-weight: normal;
    border: 0;
}

.formatZero {
    color: #158D7A;
}

.table-look td.formatColourPos, *.formatColourPos {
    color: #158D7A;
}

.table-look td.formatColourNeg, *.formatColourNeg {
    color: #B8123E;
}

.table-look th.column-first, .table-look td.column-first {
    text-align: center;
    border-left: none;
}

.table-look td.column-first {
}

.table-look th.column-last, .table-look td.column-last {
    text-align: center;
}

.IRNewsModule div.IRNewsTool .IRHeaderGroup, DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, .table-look th, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    line-height: 32px;
    height: 32px;
    font-size: 14px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #15365e;
    font-size: 12px;
    color: #15365e;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
}

.IRNewsTableFooter .IRNewsPagination {
    background: transparent;
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    width: 183px;
    margin-left: 0;
    color: #25a6dd;
    border: 2px solid #25a6dd;
    border-radius: 100px;
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

    .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        background: #25a6dd;
        color: #fff;
    }

.IRNewsModule h2 {
    display: none;
}

.news-filter-wrapper {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #select-filter {
    min-width: initial;
    width: 114px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 5px;
    padding-right: 0;
    font-weight: 300;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 5px;
    border: none;
    background-color: #eee;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 64px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    border: none;
    background-color: #eee;
}

.IRNewsModule .search-for-box {
    width: 46%;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: left;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    color: #656565;
    font-size: 12px;
}

.IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    font-weight: 400;
    text-indent: 5px;
    padding-right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 5px;
    line-height: 30px;
    height: 30px;
    width: 183px;
    font-size: 14px;
    border: none;
    background: #eee;
}

.IRNewsModule .news-filter-wrapper #select-filter {
    text-indent: 5px;
    padding-right: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    width: 183px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #eee;
}


.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
}

.IRNewsModule .filter-wrapper .submitButton {
    margin-top: 20px;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
    float: none;
    display: none;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
    width: 46%;
}

/* End ======================================================================== */

/* @media only screen =========================================================*/

@media only screen and (max-width: 800px) {

    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input {
        min-width: 175px;
    }
}

@media only screen and (max-width: 700px) {
    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 53%;
    }

    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        width: 50%;
    }


        .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
            min-width: 70px;
        }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 183px !important;
    }
}

@media only screen and (max-width: 600px) {
    .IRNewsTool {
        border-top: 0;
    }

    .IRNewsModule .IRNewsTool .IRData {
        height: 100px;
        line-height: 100px;
        padding-left: 10px;
    }

    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 0;
    }

    .IRNewsModule .datepicker .textArea.from-label, .IRNewsModule .datepicker .textArea.to-label, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
        height: 30px;
        line-height: 30px;
    }

    .IRNewsModule .filterRow .textArea {
        min-width: 0;
        padding-right: 0;
        width: 100%;
    }


    .IRNewsModule .search-for-box .textArea {
        /* display: none; */
    }

    .IRNewsModule .newsSubmit {
        margin-right: 0px;
    }

    .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper .searchText {
        width: 183px;
        height: 32px;
        line-height: 32px;
        padding-left: 0;
        text-indent: 5px;
        padding-right: 0;
    }

    .IRNewsModule .IRNewsTool .time {
        display: none;
    }

    .IRNewsModule .IRNewsTool .IRHeader.IRTitle {
        width: 75%;
        font-weight: bold;
    }



    .IRNewsModule .IRNewsTool .IRData.file-type {
        width: 100%;
        padding-left: 0px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRData.IRDate {
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRHeader.IRDate, .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRData.IRDate {
        width: 100%;
        border-bottom: 0;
        height: 20px;
        line-height: 20px;
    }

    .IRNewsTool .iconPDF {
        margin-top: 11px;
    }

    .IRNewsModule {
        padding: 0x;
    }

    .news-filter-wrapper {
        margin-bottom: 0;
        padding: 0;
    }

    .IRNewsModule .newsSubmit {
        margin-top: 20px;
    }

    .IRNewsModule .submitButton {
        margin-bottom: 20px;
    }

    .IRNewsModule .IRNewsTool .IRHeader {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
    }

    .IRNewsTableFooter .IRNewsPagination {
        max-width: initial;
        text-align: center;
        background: transparent;
        border-top: 1px solid #000;
        z-index: 10;
    }

    DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
        width: 67%;
        font-size: 14px;
        white-space: nowrap;
    }

    div.IRNewsTool .IRDataGroup div.IRData {
        padding-left: 3%;
    }

    .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsTool .IRDataGroup div {
        height: 25px;
        line-height: 25px;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRTitle, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 0;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        /* width: 96%; */
        position: relative;
        line-height: 30px;
        padding: 0 !important;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
            margin-top: 0;
            margin-left: 0px;
            height: 25px;
            width: 90px;
            margin-right:0;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
            width: 90px;
            /* top: -6px; */
            z-index: 9999;
            display: block;
            height: 25px;
            position: absolute;
            float: left;
        }


    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        top: 0;
        width: 20px;
    }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
        width: 20px;
    }

    div.IRNewsTool .IRDataGroup {
        height: 100px;
        border-bottom: 1px solid #f0f0f0;
        background: #e5e5e5;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
            font-size: 14px;
            line-height: 28px;
        }

        div.IRNewsTool .IRHeaderGroup div.IRHeader, div.IRNewsTool .IRDataGroup div.IRData {
            border-bottom: 2px solid #7b7491;
            color: #7b7491;
        }

    .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        color: #7b7491;
        font-weight: bold;
    }

    .table-look {
        border: 0;
    }

    div.IRNewsTool .IRDataGroup {
        background-color: #fff;
        border: 0;
        font-weight: bold;
        border-bottom: 2px solid #eee;
        border-top: 0;
        height: auto;
        padding-bottom: 5px;
    }

    .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    }

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding: 0 !important;
        font-size: 14px;
    }

    .download-span {
        font-size: 16px;
        position: absolute;
    }

    .IRNewsModule .news-filter-box .checkbox {
        width: 40%;
        min-width: 40%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


@media only screen and (max-width: 480px) {
    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100% !important;
        padding: 0 !important;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        top: 0;
        width: 90px;
        margin-right: 0;
    }
}


@media only screen and (max-width: 410px) {
    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        margin-right: 2%;
    }

    .IRNewsPaginationPageNew {
        width: 25px;
        margin: 2px;
    }

    .IRNewsModule .news-filter-box .checkbox {
        width: 100%;
        min-width: 80%;
        margin-top: 5px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 100% !important;
        margin: 0;
    }

    .IRNewsModule .news-filter-wrapper .search-to, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-for-box {
        width: 100% !important;
    }

    .IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 70%;
        float: left;
        margin: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 100% !important;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 28%;
        float: right;
        min-width: 60px;
        margin: 0;
    }


    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .entriesPerPage {
        width: 100%;
        float: left;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 0;
        width: 100%;
        margin-top: 0;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        width: 96%;
        position: relative;
        line-height: 30px;
        padding: 0 !important;
        float: left;
    }
}

@media (max-width: 480px) {
    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
        width: 30%;
        /* position: absolute; */
    }
}

select::-ms-expand {
    display: none;
}
