@import url(http://fonts.googleapis.com/css?family=Ubuntu:100,300,400,500,600,700,800,900);

body {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #757575;
    overflow: hidden;
}

tbody tr:hover {
    background-color: #f5f5f5;
}


.input-row {
    height: 35px;
}

select {
    height: 30px;
    line-height: 30px;
}



.IRChartColour {
    color: #c22026;
}

.table-look {
    border: none;
}

input {
    height: 24px;
    line-height: 24px;
}

    input[type=submit] {
        line-height: 40px;
        height: 40px;
        cursor: pointer;
        -webkit-appearance: none;
        background-color: #c22026;
        color: #fff;
        box-shadow: none;
        font-size: 16px;
    }

        input[type=submit]:hover {
            background-color: #000;
            color: #FFF;
            box-shadow: none;
        }

.table-look th, .table-look td {
    font-weight: 400;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    border: none;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0px 15px 0px 15px;
    text-transform: uppercase;
    background: #f1f1f1;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    word-break: break-all;
    color: #333;
    text-transform: uppercase;
}

.table-look th {
    font-size: 14px;
    font-weight: bold;
}



.table-look td.formatColourPos {
    color: green;
}

.table-look td.formatColourNeg {
    color: red;
}

.IRChartNavigation .IRChartComparison {
    display: none;
}



.tooltipHTML div span.subHeader {
    width: 60px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: initial;
    max-width: 450px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
        background: #000;
        color: #fff;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        background-color: #c22026;
        color: #fff;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
            background-color: #000;
            color: #fff;
        }


.IRLookupModule .IRLookupResultsTable.horizontal {
    font-weight: 400;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    border: none;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0px 15px 0px 15px;
    text-transform: uppercase;
    background: #f1f1f1;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    word-break: break-all;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

    .IRLookupModule .IRLookupResultsTable.horizontal th {
        font-weight: bold;
    }

.IRPerformanceModule .Header {
    text-align: right;
}

.IRPerformanceModule tbody tr:hover {
    background-color: initial;
}

.IRPerformanceModule tbody tr.TRData:hover {
    background-color: #f5f5f5;
}

.formatArrowNeg, .formatArrowPos {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-position: center center;
}

.formatArrowPos {
    background-image: url(../2242/images/up.gif);
}

.formatArrowNeg {
    background-image: url(../2242/images/down.gif);
}


/* IRTradesModule =========================================== */

.timestampFull{display: none;}

/* End ====================================================== */

/* IRCalcModule ============================================= */

#result-section {
    margin-top: 40px;
}

.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label, .IRCalcModule label, .IRCalcModule input[type="radio"] {
    float: left;
    line-height: 30px;
    height: 30px;
}


/*.IRCalcModule .IRToolCalcResultsTable.horizontal th {
    text-align: center;
}

.IRCalcModule .IRToolCalcResultsTable.horizontal td {
    text-align: center;
}*/

.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
    width: 20%;
}
/* End ====================================================== */

/* IROrdersModule =========================================== */
.IROrdersModule .progress {
    height: 18px;
}

.IROrdersModule .table-look td {
    height: 31px;
    line-height: 31px;
}

    .IROrdersModule .table-look td .progress {
        height: 18px;
        margin-top: 10px;
    }

.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: #c22026;
}
/* End  ===================================================== */

/* IRMiniquoteChart ========================================= */


.IRMiniquoteModule tbody tr:hover {
    background-color: transparent;
}

.IRMiniquoteChart, .IRMiniquoteChart table, .disclaimer-miniquote {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    /*background: #404040;*/
}

.disclaimer {
    color: rgba(255, 255, 255, 0.6);
}

.IRMiniquoteChart th, .IRMiniquoteChart td {
    height: 26px;
    line-height: 26px;
}

.miniquoteDetailsWrapper .last {
    font-size: 30px;
    font-weight: bold;
    line-height: 28px;
    height: 28px;
}

.miniquoteDetailsWrapper .updated {
    margin-top: 20px;
}

.IRMiniquoteChart td {
    padding: 0;
}

.IRMiniquoteChart table td {
    text-align: center;
}

.last-table .Data {
    line-height: 48px;
    font-size: 38px;
    padding: 9px 0px 0px 12px;
    font-weight: bold;
}

.last-table .changePercent {
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0px 0px 12px;
}


.IRMiniquoteChart .Data.last, .IRMiniquoteChart .low {
    border-bottom: 1px solid #ddd;
}


/* END ======================================================*/

/* IRQuoteDualModule ======================================= */
.IRQuoteDualModule.table-look th, .IRQuoteDualModule.table-look td {
    font-size: 10px;
}

.IRQuoteDualModule.table-look th {
    line-height: 13px;
    font-size: 10px;
    background-color: #CED2E5;
    color: #00348B;
    text-align: center;
    font-weight: normal;
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #FFFFFF;
}

.IRQuoteDualModule.table-look td {
    line-height: 13px;
    background-color: #E5E7F1;
    color: #00348B;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.IRQuoteDualModule .exchange {
    width: 108px;
}

.IRQuoteDualModule.table-look .column-first {
    text-align: left;
}

.IRQuoteDualModule th.column-first, .IRQuoteDualModule th.column-last {
    visibility: hidden;
}

.IRQuoteDualModule .column-last {
    width: 60px;
}
/* End ===================================================== */



/* Media Queries =========================================== */
@media screen and (max-width: 600px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.vertical {
        display: table;
    }

    iframe.calc {
        height: 500px !important;
    }
}


@media screen and (max-width: 600px) {
    .horizontal.responsive .IRElement3 {
        display: none;
    }

    .IRCalcModule .input-wrapper input[type=submit], .IRCalcModule .submitButton, .IRLookupModule .submitButton, .IRLookupModule .input-wrapper input[type=submit] {
        width: 100%;
        float: left;
        clear: both;
    }

    .IRCalcModule .submitbuttonWrapper, .IRLookupModule .submitbuttonWrapper {
        margin-top: 10px;
    }
}
@media screen and (max-width: 320px){
    #hideMe1, #hideMe2, #hideMe3, #hideMe4{
        display:none;
    }
}

@media screen and (max-width: 400px) {
.IROrdersModule .orderDepthBarLeft, .IROrdersModule .orderDepthBarRight {
    display: none;
}
.IROrdersModule .bid, .IROrdersModule .bidSize{text-align-left;}
.IROrdersModule .ask, .IROrdersModule .askSize{text-align: right;}

}

@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }

    .inputFieldAmountInvested input {
        width: 80%;
    }

    .horizontal.responsive .IRElement3 {
        display: none;
    }
}
/* End ===================================================== */

