/*
    General    
*/
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #03546B;
}

h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

h2 {
    padding: 3px 5px;
    padding-top: 10px;
}

    h2:first-child {
        padding-top: 0px;
    }

/*
    table-look   
*/
.table-look {
    width: 100%;
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

    .table-look th, .table-look td {
        white-space: nowrap;
        text-align: center;
        padding: 6px 5px 4px 5px;
        border: 1px solid #ffffff;
    }

    .table-look th {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: inherit;
        font-weight: normal;
    }

        .table-look th.column-first, .table-look td.column-first {
            text-align: left;
        }

        .table-look th.column-last, .table-look td.column-last {
            text-align: right;
        }


    .table-look.quote-vertical th {
        text-align: left;
    }

    .table-look.quote-vertical td {
        text-align: left;
    }

.table-look-vertical th {
    width: 40%;
}

@media only screen and (min-width: 572px) {
    .table-look-vertical.responsive-flip-vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .table-look-horizontal.responsive-flip-horizontal {
        display: none;
    }
}

@media only screen and (min-width: 572px) {
    .table-look .vertical .responsive {
        display: none;
    }
}





/*
    end table-look   
*/


/*
    Tools    
*/

/* Begin IROrders */
.IROrdersModule .progress {
    margin-bottom: 0;
    height: 15px;
}

.IROrdersModule .orderDepthBarLeft {
    padding-right: 1px;
    width: 15%;
    border-right: none;
    border-left: none;
}

.IROrdersModule .orderDepthBarRight {
    padding-left: 1px;
    width: 15%;
    border-right: none;
    border-left: none;
}

.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: #7CB5EC;
    width: 0%;
    float: right;
    display: block;
}

.IROrdersModule .orderDepthBarRight .progress-bar {
    background-color: #434348;
    width: 0%;
}
/* End IROrders */


/*
    Responsive begin
*/
/*
    IROrdersModule
*/
@media only screen and (max-width: 571px) {
    .IROrdersModule .orderDepthBarRight .progress, .IROrdersModule .orderDepthBarLeft .progress {
        height: 12px;
    }

    .IROrdersModule th.bidAskLevel, .IROrdersModule td.bidAskLevel, .IROrdersModule td.askCount, .IROrdersModule th.askCount, .IROrdersModule td.bidCount, .IROrdersModule th.bidCount {
        display: none;
    }
}
/*
    responsive-horizontal (IRLookupResults)  
*/
/*Low*/
@media only screen and (max-width: 500px) {
    .IRLookupResultsTable.responsive th.low,
    .IRLookupResultsTable.responsive td.low {
        display: none;
    }
}

/*High*/
@media only screen and (max-width: 400px) {
    .IRLookupResultsTable.responsive th.high,
    .IRLookupResultsTable.responsive td.high {
        display: none;
    }
}

/*Open*/
@media screen and (max-width: 300px) {
    .IRLookupResultsTable.responsive th.openPrice,
    .IRLookupResultsTable.responsive td.openPrice {
        display: none;
    }
}
/* 
    responsive-horizontal (IRToolQuoteTable)
*/
@media (max-width: 900px) {

    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(9),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(9) {
        display: none;
    }
}

@media (max-width: 800px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(8),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(8) {
        display: none;
    }
}

@media (max-width: 700px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(7),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(7) {
        display: none;
    }
}

@media (max-width: 600px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(6),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(6) {
        display: none;
    }
}

@media (max-width: 500px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(5),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(5) {
        display: none;
    }
}

@media (max-width: 400px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(4),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(4) {
        display: none;
    }
}

@media (max-width: 300px) {
    .quote-horizontal.responsive-horizontal th.IRToolQuoteTableItem:nth-child(3),
    .quote-horizontal.responsive-horizontal td.IRToolQuoteTableItem:nth-child(3) {
        display: none;
    }
}

/*
    end Responsive
*/


/*
    Shared    
*/

.datepicker-button {
    display: none;
}

/*
    end Shared    
*/

/*
    Calc    
*/
#calc-chart {
    height: 200px;
}
/*
    end Calc    
*/
/*
    Lookup    
*/
#lookup-chart {
    height: 200px;
}
/*
    end Lookup    
*/
/*
    Detailed Share Price    
*/
.detailedshareprice-horizontal {
}



/*
    end Detailed Share Price        
*/


/*
    end Tools    
*/








/*
    Disclaimer    
*/
.disclaimer {
    position: relative;
    top: 10px;
    max-width: 320px;
    margin: auto;
    color: #777;
    cursor: default;
    text-align: center;
    font-size: 10px;
}

    .disclaimer a:link, .disclaimer a:visited {
        color: inherit;
        text-decoration: none;
    }

    .disclaimer a:hover {
        color: #000;
    }

@media all and (min-width: 0px) {
    .disclaimer-copyright {
        display: none;
    }

    .disclaimer-dataSource {
        display: none;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

@media all and (min-width: 290px) {
    .disclaimer-copyright {
        display: block;
    }

    .disclaimer-dataSource {
        display: none;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

@media all and (min-width: 400px) {
    .disclaimer-copyright {
        display: inline;
    }

    .disclaimer-dataSource {
        display: inline;
    }

    .disclaimer-delayed {
        display: block;
    }

    .disclaimer-terms {
        display: block;
    }
}

.disclaimer-hidden {
    display: none;
}

.disclaimer-terms-and-conditions {
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

    .disclaimer-terms-and-conditions h1 {
        font-size: 14px;
    }

    .disclaimer-terms-and-conditions p {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .disclaimer-terms-and-conditions a:link, .disclaimer-terms-and-conditions a:visited {
        color: inherit;
        text-decoration: underline;
    }

    .disclaimer-terms-and-conditions a:hover {
        color: #000;
    }


.disclaimer-IRQuote .disclaimer-copyright {
    display: none;
}

.disclaimer-IRQuote .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRQuote .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRQuote .disclaimer-terms {
    display: inline;
}

.disclaimer-IRMiniQuote .disclaimer-copyright {
    display: none;
}

.disclaimer-IRMiniQuote .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRMiniQuote .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRMiniQuote .disclaimer-terms {
    display: inline;
}

.disclaimer-IRMiniquoteChart .disclaimer-copyright {
    display: none;
}

.disclaimer-IRMiniquoteChart .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRMiniquoteChart .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRMiniquoteChart .disclaimer-terms {
    display: inline;
}


.disclaimer-IRNewsHeadline .disclaimer-copyright {
    display: none;
}

.disclaimer-IRNewsHeadline .disclaimer-dataSource {
    display: none;
}

.disclaimer-IRNewsHeadline .disclaimer-delayed {
    display: inline;
}

.disclaimer-IRNewsHeadline .disclaimer-terms {
    display: inline;
}

/*
    end Disclaimer    
*/

























/*
    Alignments
*/
.textalign-left {
    text-align: left;
}

.textalign-right {
    text-align: right;
}

.textalign-center {
    text-align: center;
}

.float-right {
    float: right;
}

.news-accordion-inner {
    border: 1px solid #0082B4;
}




/*
    Debug
*/
.debug, .debug-sub {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 1px solid #aaa;
    background-color: #F9F9F9;
    padding: 3px;
    color: #aaa;
}

    .debug a, .debug-sub a {
        color: #aaa;
        text-decoration: none;
    }

.debug-sub {
    bottom: 40px;
}


.ajaxLoader {
    display: block;
    width: 16px;
    height: 16px;
    color: #aaa;
    font-family: sans-serif;
    font-size: 11px;
    padding-left: 20px;
    cursor: default;
    z-index: 1000;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
}















.chartCompareList {
    position: relative;
    display: block;
    top: 0px;
    margin: auto;
    height: 0px;
    z-index: 4;
}

    .chartCompareList div {
        display: block;
        position: relative;
        float: left;
        width: 200px;
    }




.chartCurrentPriceBoxOuter {
    position: relative;
    top: -6px;
    right: 0px;
    z-index: 300;
}

.chartCurrentPriceBox {
    position: relative;
    width: 68px;
    height: 35px;
    line-height: 20px;
    color: #fff;
    z-index: 300;
    text-align: right;
    /*
    position: relative;
    width: 80px;
    height: 35px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 19px;
    left: 0px;
    
    border: 1px solid #0284AA;
    background-color: #0284AA;
    border-left: 0px;
    top: 0px;
    right: 0px;
    color: #fff;
    text-align: right;
    border: 1px solid yellow;
    */
}

.chartLastPrice {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 19px;
    font-size: 11px;
    color: #ffffff;
    background-color: transparent;
    z-index: 500 !important;
}

.chartLastPriceDate {
    display: none;
}

.chartLastPriceTime {
    position: absolute;
    padding-right: 19px;
    right: 0px;
    top: 18px;
    font-size: 8px;
    color: #ffffff;
    Z-INDEX: 501 !important;
    background-color: transparent;
}

.chartCurrentPriceBoxArrow {
    position: absolute;
    display: block;
    left: -3px;
    top: 0px;
    width: 6px;
    height: 18px;
}

    .chartCurrentPriceBoxArrow .irCPB1 {
        position: absolute;
        display: block;
        width: 2px;
        height: 3px;
        top: 16px;
        left: -3px;
    }

    .chartCurrentPriceBoxArrow .irCPB2 {
        position: absolute;
        display: block;
        width: 2px;
        height: 6px;
        top: 14px;
        left: -1px;
    }

    .chartCurrentPriceBoxArrow .irCPB3 {
        position: absolute;
        display: block;
        width: 2px;
        height: 10px;
        top: 12px;
        left: 1px;
    }






/*
    Begin IRToolQuoteTable responsive
*/
/*
@media (max-width: 600px) {

    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(2),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 550px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(3),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(3) {
        display: none;
    }
}

@media (max-width: 500px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(4),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(4) {
        display: none;
    }
}

@media (max-width: 450px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(5),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(5) {
        display: none;
    }
}

@media (max-width: 400px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(5),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(5) {
        display: none;
    }
}

@media (max-width: 350px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(6),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(6) {
        display: none;
    }
}

@media (max-width: 300px) {
    IRToolQuoteTable th.IRToolQuoteTableItem:nth-last-child(7),
    IRToolQuoteTable td.IRToolQuoteTableItem:nth-last-child(7) {
        display: none;
    }
}
*/
/*
    
*/



/*
    IRToolMenu - IRChangeListing
*/
.ToolMenu {
    position: relative;
    float: left;
    z-index: 30;
}

    .ToolMenu select {
        margin: 5px;
        color: #555;
        cursor: pointer;
    }

    .ToolMenu li.active {
        color: #000;
    }
/*
    Begin IRChart
*/

/*
    Begin IRChartOuter    
*/
.IRChartOuter {
    margin-top: 0px;
    clear: both;
}

.IRChartHTMLPlaceholder {
    height: 500px;
    min-width: 300px;
    clear: both;
}

.IRChartHTMLMiniPlaceholder {
    height: 100%;
    padding-bottom: 50px;
}

/*
    IRChartHeader    
*/
.IRChartHeader {
    position: relative;
    top: 0px;
}

.IRChartClientName {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: -1px;
    background-color: #F9F9F9;
    border: 1px solid #E9E9E9;
    border-left: 2px solid #E9E9E9;
    color: #0284AA;
    width: 100%;
    height: 31px;
    line-height: 30px;
    padding-left: 6px;
    cursor: default;
}

.IRChartCurrency {
    position: absolute;
    z-index: 1;
    top: 26px;
    right: 0px;
    width: 70px;
    line-height: 30px;
    padding-right: 6px;
    color: #0284AA;
    cursor: default;
    text-align: center;
}

.IRChartOuter .IRChartHeader .IRChangeListing {
    left: 100px;
}
/*
    Begin chartNavBarRange
*/
.chartNavBarRange {
    position: absolute;
    width: 100%;
    height: 0px;
}

.chartChangePeriod {
    position: relative;
    margin: auto;
    top: -79px;
    display: block;
    width: 420px;
    height: 0px;
    z-index: 5;
}

    .chartChangePeriod div {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        line-height: 23px;
        margin: 0px;
        color: #777;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }


    .chartChangePeriod div {
        background-color: #F9F9F9;
        margin: 0px;
        text-align: center;
        cursor: pointer;
    }

        .chartChangePeriod div#max {
            border-right: 1px solid #ddd;
        }

        .chartChangePeriod div:hover {
            background-color: #333;
            color: #fff;
        }

        .chartChangePeriod div.activePeriod {
            background-color: #0284AA;
            color: #fff;
        }

@media (max-width: 500px) {
    div.chartChangePeriod div#m3 {
        display: none;
    }

    div.chartChangePeriod div#m6 {
        display: none;
    }

    .chartChangePeriod {
        width: 300px;
    }
}

@media (max-width: 320px) {
    div.chartChangePeriod div#m6 {
        display: none;
    }

    div.chartChangePeriod div#m3 {
        display: none;
    }

    div.chartChangePeriod div#y2 {
        display: none;
    }

    .chartChangePeriod {
        width: 250px;
    }
}

@media (max-width: 280px) {
    div.chartChangePeriod div#m6 {
        display: none;
    }

    div.chartChangePeriod div#m3 {
        display: none;
    }

    div.chartChangePeriod div#y2 {
        display: none;
    }

    div.chartChangePeriod div#y5 {
        display: none;
    }

    .chartChangePeriod {
        width: 200px;
    }
}

/*
    End chartNavBarRange
*/
/*
    End IRChartOuter    
*/
/*
    End IRChart
*/






.debugStatus {
    display: none;
}








/*
    Investment Calculator    
*/
.input-row {
    position: relative;
    height: 30px;
}

.input-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}

label {
    font-weight: normal;
}

.ui-datepicker-trigger {
    position: relative;
    top: 5px;
    float: none;
    cursor: pointer;
}

#ui-datepicker-div {
    margin-top: 22px;
}


/*
    Form Elements    
*/
select {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

input[type=number], input[type=submit] {
    height: 24px;
    line-height: 20px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
    border: 1px solid #aaa;
}

input[type=number] {
    color: #000;
}

input[type=submit] {
    color: #777;
}

    input[type=submit]:hover {
        color: #000;
    }




input[type=submit] {
    box-shadow: none;
    color: inherit;
    background: #eee;
    line-height: 20px;
    height: 24px;
    border: 1px solid transparent;
    padding: 0 15px 0 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.12),0 1px 3px rgba(0,0,0,.12);
}

    input[type=submit]:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,.23),0 2px 4px rgba(0,0,0,.16);
    }





/*
    keyfigures    
*/
.key-figures {
}

    .key-figures .chart-area {
        overflow: hidden;
    }

    .key-figures .series-toggle-button {
        padding: 4px;
        border: 0;
        color: white;
        font-size: 8pt;
    }

    .key-figures .sidebar {
        width: 100px;
        margin: 5px 0 5px 0;
        padding: 0 10px 0 0;
        background: lightgray;
        display: inline-block;
        position: relative;
        float: left;
    }

    .key-figures .y-axis-unit {
        position: absolute;
        top: 50%;
        -webkit-transform: translate3d(0,-50%,0) rotate(-90deg);
        -moz-transform: translate3d(0,-50%,0) rotate(-90deg);
        -ms-transform: translate3d(0,-50%,0) rotate(-90deg);
        -o-transform: translate3d(0,-50%,0) rotate(-90deg);
        transform: translate3d(0,-50%,0);
    }

    .key-figures .axis-label-container {
        position: relative;
    }

    .key-figures .y-axis-label-container {
        position: absolute;
        bottom: 0;
        right: 10px;
    }

    .key-figures .y-axis-label,
    .key-figures .square {
        font-weight: bold;
        position: absolute;
        right: 0;
        margin-bottom: -7px;
    }

    .key-figures .y-axis-label {
        margin-bottom: -7px;
    }

    .key-figures .square {
        margin-bottom: -3px;
    }

    .key-figures .squares {
        display: inline-block;
        width: 5px;
        float: left;
        position: relative;
        margin: 3px 0 3px 0;
        position: relative;
    }

    .key-figures .square-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .key-figures .square {
        background: #333333;
        width: 100%;
        height: 0;
        padding-bottom: 100%; /* A trick to make a variable width perfectly square: http://blog.brianjohnsondesign.com/maintain-aspect-ratio-for-html-element-using-only-css-in-a-responsive-design/ */
    }

    .key-figures .chart {
        margin: 0.25% 0;
        overflow: hidden;
        vertical-align: top;
        background: url('../images/greyDots.png');
    }

    .key-figures .columns {
        position: relative;
    }

    .key-figures .horizontal-line {
        height: 1px;
        width: 100%;
        background-color: gray;
        opacity: 0.5;
        position: absolute;
        z-index: 1;
    }

#key-figures-horizontal-line-1,
#key-figures-y-axis-label-1,
#key-figures-square-1 {
    bottom: 16.7%;
}

#key-figures-horizontal-line-2,
#key-figures-y-axis-label-2,
#key-figures-square-2 {
    bottom: 33.3%;
}

#key-figures-horizontal-line-3,
#key-figures-y-axis-label-3,
#key-figures-square-3 {
    bottom: 50%;
}

#key-figures-horizontal-line-4,
#key-figures-y-axis-label-4,
#key-figures-square-4 {
    bottom: 66.7%;
}

#key-figures-horizontal-line-5,
#key-figures-y-axis-label-5,
#key-figures-square-5 {
    bottom: 83.3%;
}

.key-figures .company-logo {
    background: url('../images/fh_logo.png');
    float: right;
    width: 144px;
    height: 46px;
}

.key-figures .navigation-area {
    background: black;
    padding: 20px 1% 20px 1%;
    background: url('../images/blackTexture.png');
    display: inline-block;
    width: 98%;
}

.key-figures .bottom {
    padding-left: 115px;
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    font-weight: bold;
    background: url('../images/blackTexture.png');
}

.key-figures .column-group,
.key-figures .x-axis-label {
    width: 25%;
    position: absolute;
}

/*
#key-figures-x-axis-label-1 {
    left: 0;
}

#key-figures-x-axis-label-2 {
    left: 25%;
}

#key-figures-x-axis-label-3 {
    left: 50%;
}

#key-figures-x-axis-label-4 {
    left: 75%;
}
*/

.key-figures .column-group {
    padding-left: 4%;
    bottom: 0;
    display: inline-block;
}

.key-figures .x-axis-label {
    text-align: center;
    display: inline-block;
}

/*
#key-figures-column-group-1 {
    left: 0;
}

#key-figures-column-group-2 {
    left: 25%
}

#key-figures-column-group-3 {
    left: 50%;
}

#key-figures-column-group-4 {
    left: 75%;
}
*/

.key-figures .column {
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-size: 8pt;
    text-align: center;
    text-decoration: underline;
    width: 15%;
    display: inline-block;
    vertical-align: bottom;
}

.key-figures .series-1 {
    background: url('../images/redTexture.png');
}

.key-figures .series-2 {
    background: url('../images/greyTexture.png');
}

.key-figures .data-table {
    width: 100%;
    margin-top: 50px;
}

    .key-figures .data-table .data-number,
    .key-figures .data-table .year {
        text-align: right;
        padding-right: 5px;
    }

.key-figures .main-header-row {
    background-color: darkgray;
    color: white;
    font-weight: bold;
    line-height: 30px;
}

.key-figures .header-row {
    font-weight: bold;
    line-height: 30px;
}

.key-figures .data-row {
    line-height: 25px;
    border-top: 1px dotted lightgray;
}

    .key-figures .data-row:hover {
        background-color: lightblue;
    }
/*
    end keyfigures    
*/



.tooltipHTML {
    position: relative;
    z-index: 400;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #eee;
    top: -36px;
    font-family: sans-serif;
    width: 110px;
}

    .tooltipHTML div {
        display: block;
        white-space: nowrap;
    }

        .tooltipHTML div span.subHeader {
            display: inline-block;
            text-align: left;
            width: 20px;
        }

        .tooltipHTML div span.subContent {
            text-align: left;
        }

.tooltipHtmlNews {
    position: absolute;
    top: 250px;
    background-color: #fff;
    border: 1px solid #eee;
    width: 110px;
    white-space: normal;
}

div.tooltipHtmlNewsDate {
    font-size: 9px;
}

div.tooltipHtmlNewsHeadline {
    font-size: 12px;
    font-weight: bold;
}

.IRChartCompareListNavigation {
    position: relative;
    z-index: 101;
    float: right;
    cursor: pointer;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #777;
    height: 30px;
    line-height: 30px;
}

    .IRChartCompareListNavigation:hover {
        color: #000;
    }

    .IRChartCompareListNavigation .compareListNavigation {
        line-height: 30px;
    }

    .IRChartCompareListNavigation .compareListNavigationInner {
        display: none;
        position: absolute;
        top: 30px;
        right: 0px;
        background-color: #fff;
        border: 1px solid #eee;
        font-weight: normal;
        color: #000;
    }

    .IRChartCompareListNavigation div {
        display: block;
        width: auto;
        position: relative;
        float: left;
        min-width: 100px;
        padding-left: 5px;
        line-height: 20px;
        white-space: nowrap;
    }

    .IRChartCompareListNavigation .compareListNavigationInner {
        -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
        box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#888888');
    }

*.formatColorPos, *.formatColourPos {
    color: green;
}

*.formatColorNeg, *.formatColourNeg {
    color: red;
}

*.formatColorDef, *.formatColourDef {
    color: inherit;
}

.formatArrowPos {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: url(../images/up.gif);
    background-position: center center;
}

.formatArrowNeg {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-image: url(../images/down.gif);
    background-position: center center;
}

.IRNewsTool tr Data.hide {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    height: 26px;
    line-height: 26px;
    padding-left: 31px;
    background-image: url('../images/checkbox_false.png');
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #015CAE;
    border: none !important;
    font-size: 12px;
    width: 49%;
    min-width: 200px;
    float: left;
    border: 0 !important;
    background-size: 20px;
    background-position-y: 2px;
}

    .IRNewsModule .news-filter-box .checkbox.checked {
        background-image: url('../images/checkbox_true.png');
    }




.IRNewsModule .news-filter-wrapper select {
    -webkit-appearance: button;
    -webkit-border-radius: 0px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/selectDown.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #EAEBEF;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
    width: 150px;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .news-filter-wrapper input, .IRNewsModule .news-filter-wrapper select {
    background-color: #fff;
}


/*
    .IRLookupResultsTable .horizontal .responsive .openPrice
    .IRLookupResultsTable .horizontal .responsive .high
    .IRLookupResultsTable .horizontal .responsive .low
    .IRLookupResultsTable .horizontal .responsive .closePrice  
    .IRLookupResultsTable .horizontal .responsive .volume
*/

.IRNewsPagination {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 750px;
    text-align: right;
    padding: 5px;
}

    .IRNewsPagination .IRNewsPageNumber {
        cursor: pointer;
        display: inline;
        padding: 5px;
        padding-left: 2px;
        padding-right: 2px;
        color: #aaa;
        font-size: 12px;
    }

    .IRNewsPagination .active {
        color: #000;
    }


.IRNewsModule .newsSubmit {
    margin-top: 10px;
}

/*.IRNewsTool .iconPDF {*/
table tr td.Data.download a div {
    width: 19px;
    height: 17px;
    background-image: url('../images/pdficonsmall.png');
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    padding-left: 5px;
    z-index: 100;
}

.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    height: 150px;
}



/*
    IRChart    
*/
/*
.IRChartOuter {
    position: relative;
    top: -30px;
    margin-top: 0px;
    clear: both;
}
.IRChartHeader {
    position: relative;
    top: 0px;
    height: 30px;
}
*/

/*  Navigation */
.IRChartNavigation {
    background-color: lightgreen;
    height: 30px;
    line-height: 30px;
}

    .IRChartNavigation div {
        padding-left: 5px;
        padding-right: 5px;
        float: right;
    }


    .IRChartNavigation .IRChartCompanyName {
        float: left;
        background-color: lightcyan;
    }

    .IRChartNavigation .IRChartView,
    .IRChartNavigation .IRChartComparison,
    .IRChartNavigation .IRChartListings {
        float: right;
        cursor: pointer;
        background-color: lightcyan; /* DEBUG */
    }

        .IRChartNavigation .IRChartView:hover,
        .IRChartNavigation .IRChartComparison:hover,
        .IRChartNavigation .IRChartListings:hover {
            background-color: #eee;
        }

    .IRChartNavigation .IRChartView {
    }

    .IRChartNavigation .IRChartComparison {
    }

    .IRChartNavigation .IRChartListings {
    }





/*  Chart */
.IRChartPlaceholderArea {
    position: relative;
    background-color: lightblue;
    height: 500px;
}

    .IRChartPlaceholderArea .IRChartPlaceholder {
        height: 500px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriodOuter {
        background-color: lightskyblue;
        width: 100%;
        position: absolute;
        bottom: 50px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod {
        background-color: lightsalmon;
        height: 30px;
        line-height: 30px;
        width: 400px;
        margin: auto;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div {
            background-color: lightyellow;
            display: block;
            float: left;
            width: 50px;
            text-align: center;
            cursor: pointer;
            border-color: #ddd;
        }

            .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
                background-color: #0284AA;
                color: #fff;
            }

            .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
                background-color: lightgray;
            }


@media (max-width: 500px) {
    .IRChartPlaceholderArea .IRChartChangePeriod div#m3 {
        display: none;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#m6 {
        display: none;
    }

    .chartChangePeriod {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .IRChartPlaceholderArea .IRChartChangePeriod div#m6 {
        display: none;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#m3 {
        display: none;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }

    .chartChangePeriod {
        width: 250px;
    }
}

@media (max-width: 280px) {
    .IRChartPlaceholderArea .IRChartChangePeriod div#m6 {
        display: none;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#m3 {
        display: none;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y5 {
        display: none;
    }

    .chartChangePeriod {
        width: 200px;
    }
}



/*
    .chartChangePeriod {
    position: relative;
    margin: auto;
    top: -79px;
    display: block;
    width: 420px;
    height: 0px;
    z-index: 5;
}

    .chartChangePeriod div {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        line-height: 23px;
        margin: 0px;
        color: #777;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }


    .chartChangePeriod div {
        background-color: #F9F9F9;
        margin: 0px;
        text-align: center;
        cursor: pointer;
    }

        .chartChangePeriod div#max {
            border-right: 1px solid #ddd;
        }

        .chartChangePeriod div:hover {
            background-color: #333;
            color: #fff;
        }

        .chartChangePeriod div.activePeriod {
            background-color: #0284AA;
            color: #fff;
        }
        */


.IRChartNewsFlag {
    color: blue;
    background: none;
}

    .IRChartNewsFlag:hover {
        cursor: pointer;
        background: none;
    }


div.IRNewsTool .HeaderGroup {
}

    div.IRNewsTool .HeaderGroup div, .IRNewsTool .DataGroup div {
        line-height: 28px;
        height: 28px;
        white-space: nowrap;
        border-bottom: 1px solid #eee;
        padding-left: 5px;
        padding-right: 5px;
    }

    div.IRNewsTool .HeaderGroup .Header {
        float: left;
    }

div.IRNewsTool .DataGroup {
    clear: both;
}

    div.IRNewsTool .DataGroup .Data {
        float: left;
    }

        div.IRNewsTool .DataGroup .Data.title {
            overflow: hidden;
        }



div.IRNewsTool div.Data {
    color: inherit;
    padding-left: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

div.IRNewsTool div.DataHover {
    background-color: #eee;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

div.IRNewsTool {
    background-color: yellow;
    /*border: 1px solid #eee;*/
}

div.IRNewsTool .Data.download a div {
    width: 19px;
    height: 17px;
    background-image: url('../images/pdficonsmall.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    float :right;
    top: 0px;
    left: 0px;
}

div.IRNewsTool div.Data.date, div.IRNewsTool div.Header.date {
    width: 20%;
    background-color: lightblue;
}

div.IRNewsTool div.Data.title, div.IRNewsTool div.Header.title {
    width: 55%;
    background-color: lightgreen;
}

div.IRNewsTool div.Data.download, div.IRNewsTool div.Header.download {
    width: 20%;
    display: inline-block;
    float:right;
}



@media (max-width: 480px) {

    div.IRNewsTool div.Header.title,
    div.IRNewsTool div.Header.date,
    div.IRNewsTool div.Header.download {
        display: none;
    }

    div.IRNewsTool div.Data.title {
        width: 100%;
        float: left;
        border-bottom: none;
    }

    div.IRNewsTool div.Data.date {
        width: 100%;
        float: left;
        border-bottom: none;
    }

    div.IRNewsTool div.Data.download {
        width: 100%;
        float: left;
        text-align: left;
    }

    /*.IRNewsTool .iconPDF {
        position: relative;
        float: left;
        display: block;
    }*/
}



/* IRNews (div) */
