.IRQuoteModule {
    display: none;
}
.IRChartNavigation {
    display: none;
}
*.IRChartComparison,
.IRChartChangePeriodOuter,
.showHideVolume,
.showHidePercent,
.toggleFullscreen,
.IRChartTAPlaceholder,
.IRChartComparisonPlaceholder,
.downloadHistoricalData,
.printChart,
.IRChartOutsideTATrigger,
.IRChartCurrency,
.IRChartBottomNavigation {
    display: none;
}