
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    /*src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');*/
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #333;
}


* {
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
}

strong {
    font-weight: bold;
}

/*
    show/hide elements
*/
.unsubscribeNextToButton {
    display: block;
}
/*
    end show/hide elements
*/
h1 {
    font-size: 20px;
    color: #262626;
    padding-top: 20px;
    font-weight: normal;
}

.input-wrapper {
    width: 70%;
    float: left;
}

.buttonStyle {
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    background-color: #00c8d7;
    font-family: 'Open Sans';
    box-shadow: none;
    border: none;
    -webkit-appearance: none;
}

.input-wrapper .buttonStyle {
    margin-left: 2%;
}

.buttonStyle:hover {
    background-color: #000;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-perspective: 1000;
    color: #fff;
    border: none;
}



.pageRegister, .pageUnsubscribe {
    padding-left: 2%;
}

.blockNoBorder {
    width: 590px;
    float: left;
}

    .blockNoBorder .unsubscribeNextToButton {
        line-height: 32px;
        min-width: 120px;
        width: 20%;
        font-weight: normal;
        line-height: 20px;
        float: right;

        font-size: 14px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
    }

    .blockNoBorder .formRegister-wrapper {
        float: right;
    }

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }

h2 {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    font-size: 24px;
    float: left;
    width: 100%;
    color: #83a1a5;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom:22px;
}

p {
    display: inline;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    width: 140px;
    background-position: 110px 12px;
}

.inputTextTitle {
    height: 40px;
    line-height: 40px;
    min-width: 160px;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.requiredField {
    font-weight: bold;
    font-size: 13px;
}


.disclaimerHighlight {
    font-size: 14px;
}


input.informationInput, input.unsubscribeEmail{
    background-color: #fff;
    border: 1px solid #bdbdbd;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    float: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 4px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 300px;
    word-spacing: 0px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #c3c3c2;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    height: 38px;
    line-height: 38px;
    width: 205px;
    font-size: 14px;
    color: #999999;
    border-radius: 2px;
}


b {
    font-weight: bold;
}

.divideLine {
    margin-top: 20px;
    border-bottom: 1px solid #e6eced;
}

.checkboxOuter {
    margin-bottom: 6px;
}

.checkBoxText {
    margin-left: 0.909em;
    line-height: 1.364em;
    font-size: 14px;
    font-weight: bold;
}

.blockInner {
    margin-top: 0px;
}

.requiredField {
    font-size: 14px;
}

.checboxLabel {
    line-height: 40px;
}

.subPageLogin input.informationInput, input.unsubscribeEmail {
    width: 40%;
    position: relative;
    margin-bottom: 15px;
}

.subPageLogin input.informationInput, input.unsubscribeEmail {
    /*width: 70%;*/
    width: 97%;
    position: relative;
    border: 1px solid #c3c3c2;
    cursor: pointer;
    margin: 0px;
    padding: 0;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #999999;
    border-radius: 2px;
}

}

.header {
    display: block;
    text-align: left;
    font-weight: normal;
    text-align: left;
    font-size: 24px;
    float: left;
    width: 100%;
    color: #83a1a5;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
}

h3.header {
    padding: 4px 0 0 0;
    margin: 0 0 12px 0;
    color: #262626;
    border-bottom: 1px solid #C2BEB3;
    font-weight: bold;
}

.cleanLink {
    float: left;
    top: 50px;
}

.subPageLogin {
    min-height: 120px;
    width: 100%;
    float: left;
}

.register-wrapper {
    width: 100%;
    float: left;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        margin-bottom: 3px;
        display: block;
    }

    .register-wrapper p {
        margin-bottom: 20px;
    }

.subPageLogin span {
    height: 40px;
    min-width: 160px;
    width: 10%;
    float: left;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.hidden {
    display: none;
}

.semiTransparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: 0.7;
    z-index: 900;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
}

.pageVerification_bottom p, .pageVerification_top p {
    margin-bottom: 3px;
    display: block;
}

.pageVerification_top .goToHome {
    color: #000;
    border: 1px solid #000;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

    .pageVerification_top .goToHome:hover {
        color: #fff;
        background-color: #000;
        border: 0px;
    }

    .goToHome{
        margin-right: 20px;
    }
.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}


strong {
    font-weight: bold;
}

.blockInner {
    max-width: initial;
}





/* @media only screen =========================================================*/

@media only screen and (max-width: 650px) {
    .blockNoBorder .unsubscribeNextToButton {
        font-weight: normal !important;
        left: 0px !important;
        min-width: 90px;
        float: right !important;
        line-height: 15px;
        position: relative; 
        top:10px;
    }

    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .input-wrapper .buttonStyle {
        float: right;
        width: 100%;
        text-align: center;
        background-image: none;
        margin-top: 10px;
    }

    .pageRegister .input-wrapper {
        width: 95%;
        max-width: initial;
    }

    .blockOuter {
        width: 95%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

    .blockNoBorder {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        max-width: initial;
    }

        .blockNoBorder .buttonStyle {
            position: initial;
            float: left;
            width: 98%;
            text-align: center;
            padding-left: 2%;
            background-image: none;
        }

    .inputTextTitle {
        height: 20px;
        line-height: 20px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {

    /*.blockNoBorder .unsubscribeNextToButton {
        padding: 5px 5px 5px 5px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            padding: 6px 6px 6px 6px;
        }
}*/

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput, input.unsubscribeEmail {
        width: 97%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .buttonStyle {
    }
}
/* End ========================================================================*/
