body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #707070;
}

h2 {
    color: #0097d6;
    font-weight: normal;
    font-size: 16px;
}


input[type=submit] {
    height: 30px;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: 'Raleway', sans-serif;
    background-color: #7785A4;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
}

    input[type=submit]:hover {
        color: #333;
    }

input#amount-radio, input#shares-radio {
    height: 26px;
}

input#amount-invested {
    width: 160px;
}

.IRChartColour {
    color: #7785A4;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #7785A4;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
        background-color: #7788A4;
        color: #333;
    }

.table-look {
    border: none;
}

    .table-look th, .table-look td {
        font-weight: 400;
        font-style: normal;
        border: none;
        text-align: left;
        padding: 0 5px;
        text-rendering: optimizeLegibility;
    }

    .table-look th {
        line-height: 30px;
        font-weight: 500;
        color: #fff;
        background: #7785A4;
        padding: 20px 20px;
        font-size: 16px;
    }

    .table-look td {
        line-height: 20px;
        text-transform: uppercase;
        height: 20px;
        font-weight: 400;
        padding: 20px 20px;
        font-size: 13px;
        color: #707070;
    }

td.Header {
    text-align: left !important;
    text-transform: none;
    padding-left: 0px;
}

tr:nth-child(odd) {
    background: rgba(118,132,165,.1);
    border-bottom: 1px solid rgba(118,132,165,.5);
    border-top: 1px solid rgba(118,132,165,.5);
}

.chartDisclaimer, .performanceDisclaimer, .calcDisclaimer, .lookupDisclaimer {
    display: none;
}



/* IRChartModule ==================================== */

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: initial;
    max-width: 450px;
}

/* End ============================================== */



/* IRLookupModule =================================== */

.IRLookupModule .IRLookupResultsTable.horizontal th,
.IRLookupModule .IRLookupResultsTable.horizontal td {
    font-style: normal;
    border: none;
    line-height: 30px;
    padding: 0px 5px;
}

.IRLookupModule .IRLookupResultsTable.horizontal td {
    padding: 20px 20px;
    font-size: 13px;
    font-weight: 400;
    color: #707070;
    line-height: 20px;
}

.input-row {
    height: 37px;
}

select {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.IRLookupModule .IRLookupResultsTable.horizontal th {
    /*font-weight: bold;*/
    padding: 20px 20px;
    line-height: 30px;
}

.IRPerformanceModule .Header {
    text-align: right;
}

.formatArrowNeg, .formatArrowPos {
    width: 11px;
    height: 13px;
    display: inline-block;
    background-position: center center;
    margin-right: 3px;
}

.formatArrowPos {
    background-image: url(images/arrow_up.png);
    color: #91c453;
}

.formatArrowNeg {
    background-image: url(images/arrow_down.png);
    background-repeat: no-repeat;
    color: red;
}

.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label {
    float: left;
    line-height: 30px;
    height: 24px;
}
.IRNewsPaginationPageNew {
	display:inline-block;
	padding:8px;
	cursor:pointer;
}
.IRNewsPaginationPageNew.active {
	text-decoration:underline;
	font-weight:bold;
}
.IRNewsPagination {
	text-align:center;
}
.IRCalcModule label, .IRCalcModule input[type="radio"], .IRLookupModule label {
    text-rendering: optimizeLegibility;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #707070;
    float: left;
    line-height: 31px;
    height: 24px;
}


.IRCalcModule .IRToolCalcResultsTable.horizontal th {
}

.IRCalcModule .IRToolCalcResultsTable.horizontal td {
}

.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
}

/* IRMiniquoteModule ===================================================== */

.IRMiniquoteModule {
    /*max-width: 270px;*/
    text-align: center;
    /*height: 280px;*/
}

    .IRMiniquoteModule .table-look th, .IRMiniquoteModule .table-look td {
        border: 0;
    }

    .IRMiniquoteModule h2 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
        color: #915A4C;
    }

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    padding-top: 12px;
    padding: 5px;
}

.IRMiniQuoteQuoteModule .last {
    font-size: 48px;
    line-height: 62px;
    height: 47px;
    float: left;
    margin-left: 0px;
    color: #7785A4;
    width: 100%;
}

.IRMiniQuoteQuoteModule .currency {
    color: #7785A4;
    font-size: 17px;
    /* float: left; */
    margin-top: 18px;
    padding-left: 5px;
}

.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    color: #707070;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.IRMiniQuoteQuoteModule .change {
    margin-top: 15px;
}

.IRMiniQuoteQuoteModule .divideLine {
    margin-bottom: 28px;
    margin-top: 35px;
    border-bottom: 2px solid #cacaca;
    width: 84%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.IRMiniQuoteQuoteModule.table-look {
    width: initial;
}

.IRMiniQuoteQuoteModule .arrow {
    font-size: 20px;
    color: #42c7b6;
    font-weight: bold;
    float: left;
    margin-left: 45px;
    margin-right: 10px;
    /*background-image: url(../2210/images/arrow.png);*/
    width: 11px;
    height: 16px;
}

.IRMiniQuoteQuoteModule .sharePriceLink a {
    color: #00c8d7;
    font-weight: bold;
    font-size: 17px;
    float: left;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}

/* END =======================================================*/


/* IRQuoteDualModule ======================================= */
.IRQuoteDualModule.table-look th, .IRQuoteDualModule.table-look td {
    font-size: 10px;
}

.IRQuoteDualModule.table-look th {
    line-height: 13px;
    font-size: 10px;
    background-color: #CED2E5;
    color: #00348B;
    text-align: center;
    font-weight: normal;
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #FFFFFF;
}

.IRQuoteDualModule.table-look td {
    line-height: 13px;
    background-color: #E5E7F1;
    color: #00348B;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.IRQuoteDualModule .exchange {
    width: 108px;
}

.IRQuoteDualModule.table-look .column-first {
    text-align: left;
}

.IRQuoteDualModule th.column-first, .IRQuoteDualModule th.column-last {
    visibility: hidden;
}

.IRQuoteDualModule .column-last {
    width: 60px;
}
/* End ===================================================== */

.IRCalcModule select {
    min-width: 50px;
}

/* detailedSharePrice ====================================== */

h3.horizontal-header, h3.vertical-header {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #915A4C;
}

table.IRDetailedSharePrice.table-look.vertical.responsive-flip {
    border-bottom: 1px solid rgba(118,132,165,.5);
    border-top: 1px solid rgba(118,132,165,.5);
}

/*===========================================================*/


/* Media Queries =========================================== */
@media screen and (min-width: 660px) {
    .IRDetailedSharePrice.table-look.vertical.responsive-flip {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .IRDetailedSharePrice.table-look.horizontal.responsive-flip {
        margin-bottom: 30px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 660px) {
    .IRDetailedSharePrice.table-look.horizontal.responsive-flip {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.vertical {
        display: table;
    }

    .table-look th {
        padding: 10px 0px;
        font-size: 13px;
    }

    .table-look td {
        padding-left: 10px;
        line-height: 10px;
        height: 0px;
        padding: 15px 10px;
    }

    iframe.calc {
        height: 500px !important;
    }

    .IRPerformanceModule .avg_volume_Past12monthsHeader, .IRPerformanceModule .avg_volume_Past12months, .IRPerformanceModule .percentageChangeHeader, .IRPerformanceModule .percentageChange {
        display: none;
    }

    .IRPerformanceModule .avg_volume_Past6monthsHeader, .IRPerformanceModule .avg_volume_Past6months, .IRPerformanceModule .pctChange_12monthsHeader, .IRPerformanceModule .pctChange_12months {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .IRPerformanceModule .avg_volume_Past6monthsHeader, .IRPerformanceModule .avg_volume_Past6months, .IRPerformanceModule .pctChange_12monthsHeader, .IRPerformanceModule .pctChange_12months {
        display: none;
    }

    .IRPerformanceModule .avg_volume_Past3monthsHeader, .IRPerformanceModule .avg_volume_Past3months, .IRPerformanceModule .pctChange_YTDmonthsHeader, .IRPerformanceModule .pctChange_ytd {
        text-align: left;
    }
}


@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }
}


/* End ===================================================== */



.emailAlerts .buttonStyle {
    box-shadow: none;
    color: inherit;
    background: #eee;
    line-height: 20px;
    height: 24px;
    border: 1px solid transparent;
    padding: 0 15px 0 15px;
    height: 30px;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: 'Raleway', sans-serif;
    background-color: #7785A4;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
}
.emailAlerts .buttonStyle:hover {
    color: #333;
}


* {
    font-family: 'Raleway', sans-serif;
}