@font-face {
  font-family: 'Frutiger Light';
  src: url('fonts/Frutiger-45-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Frutiger-45-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Frutiger-45-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Frutiger-45-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Frutiger-45-Light.svg#frutiger45_light') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Frutiger Bold';
  src: url('fonts/Frutiger-65-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Frutiger-65-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Frutiger-65-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Frutiger-65-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Frutiger-65-Bold.svg#frutiger65_bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Frutiger Roman';
  src: url('fonts/Frutiger-55-Roman.eot'); /* IE9 Compat Modes */
  src: url('fonts/Frutiger-55-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Frutiger-55-Roman.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Frutiger-55-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Frutiger-55-Roman.svg#frutiger55_roman') format('svg'); /* Legacy iOS */
}


body {
    color: #585852;
    font-size: 16px;
}

#lookup-table-form div label {
    font-weight: 500;
    font-size: 18px;
}

input, button {
    height: 43px !important;
    width: 140px;
}

input, button, label {
    margin-top: 20px;
    margin-bottom: 20px;
}

    input[type=text] {
        font-family: 'Frutiger Light', Arial, sans-serif;
        border: 0;
        border-radius: 0;
        background-color: #f6f6f5;
        font-size: 16px;
        color: #585852;
        font-weight: 500;
        text-align: center;
    }

select {
  
    font-family: 'Frutiger Bold', Arial, sans-serif;
}

.js-from, .js-to {
    background-image: url('images/l_calendar.png');
    background-repeat: no-repeat;
    background-position: 140px 12px;
    width: 170px;
    cursor: pointer;
    margin-right: 20px;
}

#lookup-table-form .submit {
    margin-top: 19px;
    margin-bottom: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    height: 43px;
}

#lookup-table-form .submit {
    color: #ffffff;
    background-color: #2bc4b6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    cursor: pointer;
    width: 140px;
    opacity: 0.8;
}


#lookup-table-form div.excelButtonWrapper {
    text-align: right;
    float: right;
}

#lookup-table-form div.downloadHistoricalData {
    text-align: right;
    font-size: 16px;
    margin-top: 36px;
    float: right;
    background-image: url("images/dl_arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    width: 62px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

#lookup-table-form .submit:hover {
    opacity: 1;
}

a:-webkit-any-link {
    color: #585852;
}

#excel {
    font-family: 'Frutiger Light', Arial, sans-serif;
    position: absolute;
    right: 0px;
    top: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #585852;
}

    #excel:before {
        position: relative;
        content: "";
        background: url("images/dl_arrow.png") no-repeat;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-right: 5px;
        top: 10px;
    }

.table-look th, .table-look td, label {
    font-family: 'Frutiger Light', Arial, sans-serif;
    color: #585852;
}

.table-look th, .table-look td {
    padding: 0;
}

.table-look th {
    height: 75px;
    line-height: 75px;
}

.table-look td {
    line-height: 30px;
    height: auto;
}

.table-look th {
    font-size: 18px;
    font-weight: 500;
    border-top: 1px solid #a8a9a3;
    border-bottom: 1px solid #a8a9a3;
    margin-bottom: 10px;
}

.ui-widget {
    font-family: 'Frutiger Light', Arial, sans-serif;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 10px #a8a9a3;
}

.ui-widget-header {
    background: none;
    color: #585852;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #c2c2c2;
    font-size: 17px;
    font-weight: 400;
}


.ui-datepicker-calendar thead tr th {
    font-weight: 500;
    color: #585852;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #c2c2c2;
    border: 0;
    background: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
}

.ui-datepicker .ui-datepicker-next {
    border: 0px solid transparent;
}

    .ui-datepicker .ui-datepicker-next span {
        background: url(images/arrow-right.png) center center no-repeat;
    }

    .ui-datepicker .ui-datepicker-next.ui-state-hover {
        top: 2px;
        right: 2px;
        border: 0;
        background: none;
    }

.ui-datepicker .ui-datepicker-prev.ui-state-hover {
    top: 2px;
    left: 2px;
    border: 0;
    background: none;
}

.ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover.ui-state-hover span {
    background: url(images/arrow-right-hover.png) center center no-repeat;
}

.ui-datepicker .ui-datepicker-prev span {
    background: url(images/arrow-left.png) center center no-repeat;
}

.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover.ui-state-hover span {
    background: url(images/arrow-left-hover.png) center center no-repeat;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover {
    color: #585852;
    background: #deded8;
}

.ui-state-default.ui-state-active {
    color: #ffffff;
    background: #2bc4b6;
}

.ui-state-default:active, .ui-widget-content .ui-state-default:active {
    color: #ffffff;
    background: #2bc4b6;
}

.table-look2 td.Data.change.formatColourPos, .table-look2 td.Data.change.formatColourDef {
    color: #2bc4b6;
}

.table-look2 td.Data.change.formatColourNeg {
    color: #e34a27;
}

.table-look2 .formatColourPos {
    color: #2bc4b6;
}

.table-look2 .formatColourNeg {
    color: #e34a27;
}



.IRLookupTable.columnWrapper {
    float: left;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.IRLookupTable.columnLeftWrapper, .IRLookupTable.columnRightWrapper {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;
}

.IRLookupTable.columnLeftWrapper {
    border-right: 0;
}


.IRLookupTable.columnRightWrapper {
    border-left: 0;
    border-right: 1px solid #e3e3e3;
}



.IRLookupTable.columnWrapper .column-first {
    width: 50%;
    border: 0;
    font-weight: 300;
    padding-left: 4%;
    border-left: 1px solid #e3e3e3;
}

.IRLookupTable.columnWrapper .column-right {
    text-align: right;
    width: 50%;
    font-weight: 700;
}

.IRLookupTable.columnWrapper td {
    font-family: 'Frutiger Bold', Arial, sans-serif;
    font-size: 16px;
    padding-right: 4%;
}

.showLookupValue {
    margin-top: 30px;
}

    .IRLookupModule h3.tableHeader, .showLookupValue h3 {
        font-weight: 300;
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        line-height: 75px;
        height: 75px;
        padding-left: 2%;
        font-size: 18px;
    }


@media only screen and (max-width: 740px) {
    #lookup-table-form div.excelButtonWrapper {
        width: 100%;
        float: left;
    }

    #lookup-table-form div.downloadHistoricalData {
        margin-top: 0;
    }
}



@media only screen and (max-width: 670px) {
    #lookup-table-form .submit, #lookup-table-form .lookupSubmitButtonWrapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    #lookup-table-form div::after {
        content: none;
    }

    input, button, label {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    #excel {
        display: none;
    }

    input[type=text] {
        text-align: left;
    }

    .lookup-table {
        margin-top: 10px;
    }

        .lookup-table.table-only {
            margin-top: 0;
        }

    .IRLookupTable.columnLeftWrapper, .IRLookupTable.columnRightWrapper {
        width: 100%;
    }

    #lookupIframe {
        height: 700px;
    }

    .IRLookupTable.columnLeftWrapper {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .IRLookupModule h3.tableHeader, .showLookupValue h3 {
        padding-left: 4%;
    }
}


@media only screen and (max-width: 550px) {

    select#from-month, select#from-day, select#from-year {
        width: 100%;
        margin-bottom: 5px;
        padding-left: 4%;
        padding-right: 0;
        margin-right: 0;
    }
}
