
    .input-row {
        position: relative;
        height: 25px;
    }

    .input-wrapper {
        position:absolute;
        right: 0;
        top: 0;
    }

    label {
        font-weight: bold;
    }

    #lookup-table {
        width: 100%;
    }
    

    th.left-aligned, td.left-aligned {
        text-align: left;
    }
    /*
    tr:nth-child(odd) {
        background: rgb(240, 240, 240);
    }
        */

    /*
    tr.first-row {
        background: rgb(122, 182, 104);
        color: white;
    }
        */

    th, td {
        text-align: right;
        padding: 5px;
    }

    /*
    td {
        border: background: rgb(240, 240, 240);
    }
        */

     .datepicker-button {
         width: 25px;
         height: 25px;
         background: red;
     }

     #ui-datepicker-div {
         margin-top: 22px;
     }
     