a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  margin: 0;
  outline: none;
}
a {
  text-decoration: none;
}
b,
b *,
strong,
strong * {
  font-weight: bold !important;
}
em,
em *,
i,
i * {
  font-style: italic !important;
}
a {
  color: #3d3d3d;
}
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  position: relative;
}
html {
  min-height: 100%;
  width: 100%;
}
body {
  font-size: 14px;
  background: #f4f4f4;
  color: #000;
  min-height: 670px;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 200px;
}
body.no-footer {
  margin-bottom: 0;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.clearfix {
  clear: both;
}
.normal {
  text-transform: none !important;
}
.block {
  display: block;
}
.text_right {
  text-align: right;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.text_justify {
  text-align: justify;
}
.relative {
  position: relative;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
button.btn,
input.btn {
  line-height: normal;
}
header {
  background: #ffffff url("../img/header_bg.jpg");
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  height: 80px;
}
header .nav {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
header .nav li {
  display: inline-block;
  vertical-align: middle;
}
header .nav li a {
  font-size: 16px;
  color: #fff;
  padding: 18px 25px;
  font-weight: 500;
  display: inline-block;
}
header .nav li a:hover {
  background: #3D9DB8;
  color: #fff;
}
main {
  margin-top: 20px;
}
.tool-block {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  border-radius: 3px;
}
.title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  display: block;
  padding-bottom: 5px;
}
.side-tools-menu {
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 2;
  background: #577fa8;
  width: 40px;
  transition: all .5s;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.side-tools-menu ul li {
  display: block;
}
.side-tools-menu ul li a {
  color: #fff;
  padding: 5px 20px;
  display: inline-block;
  white-space: nowrap;
  transition: all .5s;
  opacity: 0;
  font-size: 14px;
  font-weight: 600;
}
.side-tools-menu.open {
  width: 130px;
  padding-left: 0;
}
.side-tools-menu.open ul li a {
  padding-left: 10px;
  opacity: 1;
}
#nav-icon3 {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 6px;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px;
}
#nav-icon3 span:nth-child(4) {
  top: 20px;
}
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon3.open {
  left: 95px;
}
#nav-icon3.open span {
  opacity: .5;
}
#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
