* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: #585852;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}

.keyfigures .heading {
    font-size: 20px;
    color: #003e5c;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    float: left;
}

.table-look {
    font-size: 16px;
    text-align: center;
}

    .table-look .thead {
        border-top: 3px solid #7fc0d4;
        border-bottom: 1px solid #a8a9a3;
        line-height: 40px;
    }

.downloadToExcel {
    background: none;
    border: none;
    background-image: url('images/pdficon.png');
    padding: 4px;
    width: 20px;
    background-repeat: no-repeat;
    height: 20px;
    cursor: pointer;
}

.table-look tbody {
    border-bottom: 1px solid #a8a9a3;
}

    .table-look tbody td.last {
        padding-bottom: 15px;
    }

    .table-look tbody td.first {
        padding-top: 15px;
    }

.table-look th, .table-look tr.Header {
    font-size: 18px;
    font-weight: 500;
}

.table-look tr.Header {
    line-height: 50px;
    height: 50px;
    border-top: 1px solid #a8a9a3;
}

.table-look td {
    line-height: 25px;
}

.table-look th.header {
    height: 50px;
}

.keyfigures .table-look {
    text-align: right;
}

.table-look .firstCol {
    text-align: left;
    width: 40%;
}

.highlight {
    background: #e5f2f6;
    /*padding-right: 2%;*/
}
.table-look th, .table-look td{padding-right: 2%;}
.table-look th.column-last, .table-look td.column-last{padding-right: 0;}