/*@import url(/t/1.css?apiType=css&projectid=537d9083-455d-4769-b80a-89480a608bf0);

@font-face {
    font-family: "ProximaSmbd";
    src: url("http://fast.fonts.net/cssapi/dv2/2/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#iefix");
    src: url("http://fast.fonts.net/cssapi/dv2/2/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#iefix") format("eot"),url("/dv2/14/ae47a7f5-89da-4879-b934-29722c3dd451.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("woff2"),url("/dv2/3/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("woff"),url("/dv2/1/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("truetype"),url("/dv2/11/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
}

@font-face {
    font-family: "ProximaReg";
    src: url("http://fast.fonts.net/cssapi/dv2/2/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#iefix");
    src: url("http://fast.fonts.net/cssapi/dv2/2/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#iefix") format("eot"),url("/dv2/14/64017d81-9430-4cba-8219-8f5cc28b923e.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("woff2"),url("/dv2/3/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("woff"),url("/dv2/1/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("truetype"),url("/dv2/11/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
    font-weight: normal;
}

@font-face {
    font-family: "ProximaBold";
    src: url("http://fast.fonts.net/cssapi/dv2/2/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#iefix");
    src: url("http://fast.fonts.net/cssapi/dv2/2/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#iefix") format("eot"),url("/dv2/14/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("woff2"),url("/dv2/3/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("woff"),url("/dv2/1/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0") format("truetype"),url("/dv2/11/8152bc4e-d700-4c78-b6be-326893e6f53f.svg?d44f19a684109620e484157aa090e818164b583323d003aed8738c486c8f2be5451a12b579fdb3b84f52c077b1b063612babe72c6cf13ea84e96a257fd04ef0e513a5aff4fc2f9f07f31656a7db497a9a554a3be22ece5e46a98639ccc5de5efe1b9dffa4cd2366949ffa0aebb5130c3df5b611d87f715a03dc018e4292b96e2259b543840941f71a3&projectId=537d9083-455d-4769-b80a-89480a608bf0#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
    font-weight: bold;
}*/

*, body {
    /*font-family: "Arial", Helvetica, sans-serif;*/
    font-size: 14px;
    color: #333;
    -webkit-appearance: none;	
	font-family:'FS Albert Web Regular', Verdana , sans-serif; 
	font-size-adjust:0.48; 
	font-weight:normal; 
	font-style:normal;
	
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #404040;
}

/* Chart ======================================================= */
.IRChartColour {
    color: #b2bb1e;
}

.IRChartOuter .IRChartCurrency {
    top: 0;
    z-index: 999;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 24px;
    line-height: 24px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        background: #3e4518;
        border-radius: 4px;
        font-weight: bold;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
            opacity: 0.9;
        }

    .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
        border-radius: 4px;
    }


.IRChartComparisonHeader, .basicButtonLook, .IRChartCompanyName {
    color: #1E398D;
}


/* End ========================================================= */

.IRQuoteModule {
    border: none;
}

    .IRQuoteModule th, .IRQuoteModule td {
        height: 27px;
        line-height: 27px;
        border: none;
        text-align: left;
    }

    .IRQuoteModule th {
        border-bottom: 2px solid #fff;
        font-weight: bold;
        background-color: #D6CFC9;
        border-left: 2px solid #fff;
    }

    .IRQuoteModule td {
        background-color: #f1efed;
        border-left: 2px solid #fff;
    }

.IRChartClientName {
    border-color: #EEEEEE;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    background-color: #F5F5F5;
}

.IRChartCurrency {
    color: #404040;
}

.chartCurrentPriceBox .chartLastPrice {
    color: #ffffff;
}

.chartChangePeriod {
    border-top: 1px solid #EEEEEE;
}

    .chartChangePeriod div {
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
    }

        .chartChangePeriod div.activePeriod {
            background-color: #5985A6;
        }

.disclaimer {
}

.disclaimer {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 10px;
    color: #777;
	font-family:"FS Albert Web Regular", Verdana , sans-serif; 
	font-size-adjust:0.48; 
	font-weight:normal; 
	font-style:normal;
}

    .disclaimer a:link, .disclaimer a:visited {
        /*font-family: Arial, Helvetica, sans-serif;*/
        font-size: 10px;
        color: #777;
        text-decoration: none;
		font-family:"FS Albert Web Regular", Verdana , sans-serif; 
		font-size-adjust:0.48; 
		font-weight:normal; 
		font-style:normal;
    }

    .disclaimer a:hover {
        /*font-family: Arial, Helvetica, sans-serif;*/
        color: #000;
		font-family:"FS Albert Web Regular", Verdana , sans-serif; 
		font-size-adjust:0.48; 
		font-weight:normal; 
		font-style:normal;
    }

.inputTextTitle {
    padding-top: 10px;
    line-height: 20px;
}

input[type=text] {
    padding: 10px;
    line-height: 34px;
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
}

input[type=email] {
    height: 32px;
    float: left;
    margin-right: 2%;
}


.buttonStyle {
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    -webkit-appearance: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background: #3e4518;
    border: 0;
}

    .buttonStyle:hover {
        opacity: 0.9;
        color: #fff;
        background: #b2bb1e;
        border: 0;
    }

.IRChartHTMLPlaceholder {
    height: 200px;
}

/* @media only screen =========================================================*/
@media only screen and (max-width: 550px) {
    .inputTextTitle {
        width: 100%;
    }

    .inputText {
        max-width: initial;
        width: 99%;
    }

    input[type=text] {
        padding: 0;
    }

    .buttonStyle {
        width: 100%;
    }

    input[type=email] {
        margin-right: 0;
        width: 99%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .column-last, .column-last {
        display: none;
    }
}
/* End ======================================================================== */
