
/* Fonts */
@font-face {
    font-family: DINWeb;
    src: url("inc/fonts/DINWeb.eot");
}

@font-face {
    font-family: DINWeb;
    src: url("inc/fonts/DINWeb.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Light;
    src: url("inc/fonts/DINWeb-Light.eot");
}

@font-face {
    font-family: DINWeb-Light;
    src: url("inc/fonts/DINWeb-Light.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("inc/fonts/DINWeb-Medium.eot");
}

@font-face {
    font-family: DINWeb-Medium;
    src: url("inc/fonts/DINWeb-Medium.woff") format("woff");
}

@font-face {
    font-family: DINWeb-Bold;
    src: url("inc/fonts/DINWeb-Bold.eot");
}

@font-face {
    font-family: DINWeb-Bold;
    src: url("inc/fonts/DINWeb-Bold.woff") format("woff");
}
/* end of fonts */

body {
    font-family: 'DINWeb', Arial;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #647783;
    overflow-x: hidden;
}

a {
}

a:hover {
    color: #00c8d7;
}

h2 {
    padding-top: 5px !important;
    color: #647783;
    font-family: 'DINWeb-Bold';
    font-weight: 400;
}

.formatArrowNeg, .formatArrowPos {
    background-size: 15px 15px;
    background-repeat: no-repeat;
    height: 30px;
    width: 25px;
    vertical-align: middle;
}

.IRMiniquoteModuleDisclaimer {
    display: none;
}

.clear {
    clear: both;
}

.formatArrowPos, .formatArrowNeg {
    background-size: 16px;
    height: 17px;
}

.formatArrowPos {
    background-image: url(images/arrow-up.png);
}

.formatArrowNeg {
    background-image: url(images/arrow-down.png);
}

input[type=number], input[type=submit] {
    background-color: transparent;
    border: 1px solid #c3c3c2;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 5%;
}

.table-look th.column-last, .table-look td.column-last {
    padding-right: 2%;
}

/*Trades styling ============================================================*/
.IRTradesModule {
    padding-right: 5px !important;
    padding-left: 5px !important;
    height: 500px;
    overflow-y: hidden;
}

.Trades {
    height: 32px !important;
    line-height: 32px !important;
}

.Trades.Data {
    padding-left: 5px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    font-size: 18px !important;
}

.tradePriceUpDown span {
    padding-right: 16px;
}

.tradeUp {
    color: green;
    background-image: url('images/tradesUp.gif');
    background-repeat: no-repeat;
    background-position: right;
}

.tradeDown {
    color: red;
    background-image: url('images/tradesDown.gif');
    background-repeat: no-repeat;
    background-position: right;
}

.tradeUnchanged {
    color: gray;
    background-image: url('images/tradesUnchanged.gif');
    background-repeat: no-repeat;
    background-position: right;
}


.Trades.Header {
    color: #de076e;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-weight: normal;
    background: none repeat scroll 0 0 #fafafa;
    font-size: 18px !important;
}

.Trades.Header.volume {
    border-right: 1px solid #cccccc !important;
    padding-right: 5px !important;
    text-align: right !important;
}

.Trades.Data.volume {
    text-align: right !important;
}

.Trades.Header.price, Trades.Data.price {
    text-align: center !important;
}

.Trades.Header.updated {
    border-left: 1px solid #cccccc !important;
    padding-left: 5px !important;
}

.table-look {
    border: none;
    margin-top: 0px;
}
/*End =======================================================================*/
/* @media only screen ======================================================== */

/*End =======================================================================*/