* {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.IRChartColour {
    color: #00948e;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #00948e;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
        background-color: #00948e;
    }

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}


.table-look {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid #00afec;
    border-bottom: 1px solid #ced7dd;
}

    .table-look th, .table-look td {
        border: 1px solid #ced7dd;
        border-top: none;
        border-bottom: none;
        white-space: nowrap;
        text-align: center;
        padding: 6px 5px 4px 5px;
    }

    .table-look th {
        border-collapse: collapse;
        background-color: #ffffff;
        color: inherit;
        font-weight: normal;
    }

/*
    Client specific          
*/
.IRTicker {
    background: #404040;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
    width: 80px;
}

.IRLastPrice {
    font-size: 40px;
}

.IRHeader {
    text-transform: uppercase;
    font-weight: bold;
}

.subHeader {
    font-weight: bold;
}

.dataRow2 {
}

    .dataRow2 td {
        border-right: 1px solid #888;
        height: 75px;
    }













/**/
.bold {
    font-weight: bold;
}

.clientBorderTop {
    border-top: 3px solid #00948e;
    background-image: url('../images/dashboard_top.jpg');
    background-repeat: repeat-x;
    height: 45px;
}
.clientBorderBottom {
    position: relative;
    top: -10px;
    background-image: url('../images/dashboard_bottom.jpg');
    background-repeat: repeat-x;
    height: 40px;
}
    .clientBorderBottom .subGroup3 {
        position: relative;
        top: 10px;
        left: 10px;
    }

.contentBox1 {
    clear: left;
}

    .contentBox1 div {
        float: left;
        padding-left: 10px;
        line-height: 20px;
    }

.subHeader1 {
    font-size: 16px;
}

.contentBox2 {
    clear: left;
}

    .contentBox2 div {
        float: left;
        padding-left: 10px;
        line-height: 20px;
    }

.subgroup2 {
    text-align: center;
}

.subHeader2 {
    display: block;
    font-weight: normal;
    line-height: 20px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(64, 64, 64);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    color: rgb(255, 255, 255);
    display: block;
    font-family: din, sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 58px;
    zoom: 1;
}

div.IRQuoteLastPrice {
    color: rgb(34, 34, 34);
    display: inline;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 70px;
    text-align: left;
    zoom: 1;
    vertical-align: middle;
}
.contentBox3 {
    
}
.contentBox3 {
    clear:left;
    line-height: 12px;
}
.subGroup3 {
    float: left;
}
.contentBox2 .subHeader3,
.contentBox3 .subHeader3 {
    font-weight: bold;
    padding-left: 10px;
}
.contentBox2 .subData,
.contentBox3 .subData {
    padding-left: 10px;
}
/**/
