body {
    font-size: .75em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #5c5c5b;
}

.cleanLink {
    position: relative;
    top: 50px;
}

.requiredFieldMSG {
    color: red;
}

.cleanLink.unsubscribeNextToButton, .cleanLink.goToHome {
    float: left;
    width: 125px;
    color: #5c5c5b;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    top: 0;
    margin-left: 20px;
}

    .unsubscribeNextToButton:hover, .cleanLink.goToHome:hover {
        text-decoration: none;
        /* text-decoration: underline; */
        color: #000;
    }
/*
    end show/hide elements
*/


.buttonStyle {
    color: #fff;
    font-weight: 400;
    background-color: #e66817;
    padding: 0 50px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 4px;
    width: 189px;
    float: left;
}

    .buttonStyle:hover {
        color: #fff;
        border: none;
        background-color: #5c5c5b;
    }

.hidden, .disclaimer.disclaimer-IRCustomModule {
    display: none;
}

h2 {
    display: block;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-top: 23px;
    margin-bottom: 22px;
}

p {
    display: inline;
    font-size: 14px;
    height: auto;
    line-height: 16px;
    width: auto;
}

.semiTransparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: 0.7;
    z-index: 900;
}

.inputText {
    width: 100%;
}
/* Transparent overlay =========================== */
.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}


.blockNoBorder {
    max-width: 400px;
    width: 70%;
    float: left;
}

.pageUnsubscribeWrapper.blockNoBorder {
    width: 100%;
}

.inputTextTitle {
    font-size: 16px;
    line-height: 16px;
    height: 25px;
    line-height: 25px;
    min-width: 120px;
    width: 100%;
    float: left;
    margin: 10px 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
}

.pageVerification_top .goToHome {
    color: #fff;
    width: 70px;
    background-color: #d8ab12;
    font-size: 16px;
    border: 0;
    
    padding: 0;
    height: 29px;
    line-height: 29px;
    text-align: center;
}

    .pageVerification_top .goToHome:hover {
        color: #fff;
    }

/* Transparent overlay End ======================== */


.blockNoBorder.buttonsWrapper {
    width: 100%;
}

.requiredField {
    font-weight: bold;
    font-size: 13px;
}


.disclaimerHighlight {
    font-size: 14px;
}

input.informationInput, .inputTextField.unsubscribeEmail {
    height: 39px;
    line-height: 39px;
    text-indent: 5px;
    color: #000;
    font-size: 14px;
    position: relative;
    top: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

    input.informationInput:focus, .inputTextField.unsubscribeEmail:focus {
        border: 1px solid #666;
    }

.inputTextField.unsubscribeEmail {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

b {
    font-weight: bold;
}

.divideLine {
    margin-top: 20px;
    border-bottom: 1px solid #F26522;
}


.checkBoxText {
    font-size: 14px;
}

.blockInner {
    margin-top: 5px;
}

.requiredField {
    font-size: 14px;
}


.header {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
}
