.resizable{position:relative}.resizable.no-transition{transition:none!important}.rg-bottom,.rg-left,.rg-right,.rg-top{display:block;width:14px;height:14px;line-height:14px;position:absolute;z-index:1;-moz-user-select:-moz-none;-ms-user-select:none;-webkit-user-select:none;user-select:none;background:0 0}.rg-bottom span,.rg-left span,.rg-right span,.rg-top span{position:absolute;box-sizing:border-box;display:block;border:1px solid #ccc}.rg-left span,.rg-right span{border-width:0 1px;top:50%;margin:-10px 0 0 3.5px;height:20px;width:7px}.rg-bottom span,.rg-top span{border-width:1px 0;left:50%;margin:3.5px 0 0 -10px;width:20px;height:7px}.rg-top{cursor:row-resize;width:100%;top:0;left:0;margin-top:-14px}.rg-right{cursor:col-resize;height:100%;right:0;top:0;margin-right:-14px}.rg-bottom{cursor:row-resize;width:100%;bottom:0;left:0;margin-bottom:-14px}.rg-left{cursor:col-resize;height:100%;left:0;top:0;margin-left:-14px}
*, *:before, *:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
    position: relative;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

iframe {
    border: none;
    background: transparent;
    width: 100%;
/*    min-height: 150px;*/
    min-height: inherit;
}

a, button {
    cursor: pointer;
}

/* ==================== Icons ==================== */
.icon {
    display: inline-block;
    line-height: 1;
    width: 65px;
    height: 65px;
    float: left;
}

.icon-logo {
    background: url(../images/logo.svg) no-repeat center center;
    background-size: 32px;
    margin-left: 3px;
}
.main-menu:hover .icon-logo {
    background: url(../images/logo-main.svg) no-repeat left center;
    background-size: 180px 43px;
    width: 100%;
}
.icon-chart {
    background: url(../images/icons/chart-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-calc {
    background: url(../images/icons/calculator-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-lookup {
    background: url(../images/icons/lookup-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-miniquote {
    background: url(../images/icons/miniquote-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-profile {
    background: url(../images/icons/profile-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-news {
    background: url(../images/icons/news-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-emailAlerts {
    background: url(../images/icons/email-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-trades {
    background: url(../images/icons/trades-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-orders {
    background: url(../images/icons/orders-icon.svg) no-repeat center center;
    background-size: 32px;
}

.icon-export {
    background: url(../images/download.svg) no-repeat center center;
    background-size: 25px;
    height: 65px;
    width: 65px;
}

.icon-close {
    background: url(../images/cross.svg) no-repeat center center;
    width: 40px;
    height: 40px;
    background-size: 30px;
}

.icon-plus {
    background: url(../images/plus.svg) no-repeat center center;
    width: 29px;
    height: 29px;
    background-size: cover;
}

.icon-minus {
    background: url(../images/minus.svg) no-repeat center center;
    width: 29px;
    height: 29px;
    background-size: cover;
}

.icon-check {
    background: url(../images/checkmark.svg) no-repeat center center;
    width: 29px;
    height: 29px;
    background-size: cover;
}

.icon-dev-phone {
    background: url(../images/device-mobile.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    background-size: cover;
}

.icon-dev-tablet {
    background: url(../images/device-tablet.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    background-size: cover;
}

.icon-dev-desktop {
    background: url(../images/device-desktop.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    background-size: cover;
}
/* @ end of icons */
/* ==================== Toolbar ==================== */

.toolbar-wrapper {
    position: fixed;
    width: 100%;
    height: 65px;
    box-shadow: 0 0 5px -1px #2c3e50;
    background: #ffffff;
    z-index: 100;
    top: 0;
}

.toolbar-wrapper .toolbar-title {
    position: relative;
    font-size: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    left: 50%;
}

.toolbar-wrapper .export-btn {
    float: right;
    width: 65px;
    height: 65px;
}

/* @ end of toolbar */
/* ==================== Navigation ==================== */
.main-menu:hover, nav.main-menu.expanded {
    width: 180px;
    overflow: hidden;
    opacity: 1;
}

.main-menu {
    background: #1d223c;
    position: fixed;
    height: 100%;
    width: 68px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.22), 1px 0 9px rgba(0, 0, 0, 0.51);
    z-index: 200;
    top: 0;
}

.main-menu li > a:hover, .main-menu li.active a {
    border-left: 3px solid #1abc9c;
    background: #121b30;
}

.main-menu .nav-text, .main-menu-burger .nav-text {
    position: absolute;
    display: inline-block;
    width: 115px;
    top: 50%;
    transform: translateY(-50%);
}

/* Burger menu */
.burger-menu {
    position: relative;
    /* background: #2c3e50; */
    cursor: pointer;
    width: 65px;
    height: 65px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    /* box-shadow: 1px 0 15px #666; */
    float: left;
}

.burger-menu span, .burger-menu span:before, .burger-menu span:after {
    transition: all .5s linear;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 31px;
    margin-left: 9px;
    background: black;
    position: absolute;
    top: 32px;
    display: block;
    content: '';
}

.burger-menu span:before {
    top: -9px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.burger-menu span:after {
    top: 9px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.burger-menu.active span:before, .burger-menu.active span:after {
    top: 0;
}

.burger-menu.active span:before {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.burger-menu.active span:after {
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.burger-menu.active span {
    background-color: transparent;
}

/* @ end of burger menu */

.main-menu-burger {
    background: #2c3e50;
    position: fixed;
    height: 100%;
    width: 180px;
    overflow: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

.main-menu > ul, .main-menu-burger > ul {
    margin: 0;
    padding: 0;
    position: relative;
    /* top: 60px; */
}
.main-menu li.logo-box {
    background: #1abc9c;
    box-shadow: 0 2px 5px rgba(152, 152, 152, 0.47);
}
.main-menu li, .main-menu-burger li {
    display: block;
    height: 65px;
}

.main-menu li:hover, .main-menu-burger li:hover {
}

.main-menu li > a, .main-menu-burger li > a {
    width: 180px;
    display: block;
    color: #ffffff;
    font-size: 13px;
    height: 100%;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    cursor: pointer;
    position: relative;
    border-left: 3px solid transparent;
}

.main-menu li > a:first-child {
}

.burger-menu.active, .main-menu-burger {
    z-index: 30;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9;
    display: none;
    outline: 0;
}



/* end of Navigation */

.main-gallery {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 40px 0 108px;
    height: 100%;
    top: 0;
}

.module-wrapper {
    position: relative;
    top: 65px;
}

/* Feature List */
.feature-box .feature-list label {
    padding: 0 8px 0 0;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    text-transform: capitalize;
    background: #1abc9c;
    line-height: 30px;
    color: #ffffff;
    margin: 5px 5px 0 0;
}

.feature-box .feature-list label.inactive {
    background: #ffae19;
}

.feature-box .feature-list.invisible-card  label {
    margin: 0 5px 0 0;
    position: relative;
    top: -5px;
}

.feature-box .iconSet {
    position: absolute;
    top: 0;
    right: 0;
    margin: 13px 16px 0 0;
    z-index: 10;
}

.feature-box .iconBtn {
    border-radius: 3px;
    background: transparent;
    display: inline-block;
    margin-left: 6px;
}

.feature-box .addModule.iconBtn.active, .feature-box .addModule.iconBtn:hover, .feature-box .removeModule.iconBtn.active {
    background: #1abc9c;
}

.feature-box .removeModule.iconBtn:hover {
    background: #ffae19;
}

.feature-box .removeModule.iconBtn:hover .icon {
    background: url(../images/minus.svg) no-repeat center center;
    background-size: cover;
}

.feature-box .changeModule {
    opacity: .5;
    transition: opacity 0.4s ease-in-out;
}

.feature-box .changeModule:hover {
    opacity: .8;
}

.feature-box .changeModule.active {
    opacity: 1;
}

.checkboxRelease {
    position: relative;
    top: 4px;
    left: 0;
    height: 16px;
    width: 0;
    -webkit-appearance: none;
    cursor: pointer;
    opacity: 0;
}

.checkboxRelease:checked {
    width: 16px;
}
.label-wrap.checkBox.checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);

}

.label-wrap.checkBox:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 4px;
    top: 9px;
    z-index: 1;
    width: 16px;
    height: 8px;
    border: 2px solid #ffffff;
    border-top-style: none;
    border-right-style: none;
}
/* @ end of feature list */

.features {
    display: block;
    width: 100%;
    color: #1abc9c;
    font-weight: bold;
    font-size: 20px;
}

.tool-div {
    padding-top: 36px;
}

.main-gallery .iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-gallery .edit-wrapper {
    position: relative;
    top: 65px;
}
/* ==================== Cards ==================== */
.feature-box .card {
    padding: 16px;
    height: auto;
    position: relative;
    margin: 16px auto 0;
    background: #fff;
    border-radius: 3px;
    min-height: 61px;
    overflow: hidden;
    border: 1px solid rgba(232, 232, 232, 0.54);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* more blurry shadow 0 4px 8px 0 rgba(189, 188, 188, 0.3), 0 2px 2px 0 rgba(255, 255, 255, 0.2);*/
}

.feature-box .invisible-card {
    padding: 16px 0 0 0;
    height: auto;
    position: relative;
    margin: 16px auto 0;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.feature-box .extra-card {
    padding: 8px 16px;
    height: auto;
    position: relative;
    margin: 16px auto 0;
    background: #fff;
    border-radius: 3px;
    min-height: 61px;
    overflow: hidden;
    border: 1px solid rgba(232, 232, 232, 0.54);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.feature-box .iframe-card.card {
    overflow: visible;
}

.feature-box .card .fold-divider,
.feature-box .invisible-card .fold-divider,
.feature-box .grid-card .fold-divider,
.export-box .card-content .fold-divider{
    width: 100%;
    height: 1px;
    background: rgba(230, 230, 230, 0.61);
    margin: 8px 0;
}

/* ==================== Grid card ==================== */
.grid-card {
    height: auto;
    position: relative;
    margin: 16px auto 0;
    background: transparent;
    border-radius: 3px;
    /*overflow: hidden;*/
}

.grid-card  .grid-card-item {
    position: relative;
    overflow: hidden;
    padding: 8px 16px;
    background: #fff;
    margin: 0 0 16px;
    border: 1px solid rgba(232, 232, 232, 0.54);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
}
.grid-card  .grid-card-item.choosenOne {
    border: 5px solid #1abc9c;
}

.feature-box .grid-card-item .iconSet {
    margin: 10px 10px 0 0;
}

.grid-card-item-name {
    display: block;
    width: 100%;
    color: #252525;
    font-size: 16px;
    line-height: 18px;
    padding-top: 5px;
}

.grid-card  .grid-card-item img {
    width: 100%;
}

.feature-box .card:last-child,
.feature-box .grid-card:last-child  {
    margin-bottom: 32px;
}
/* @ end of cards */
/* ==================== Tabs ==================== */
ul.style-list {
    position: relative;
    padding: 0;
    margin: 0;
}

ul.style-list li {
    display: block;
    position: relative;
    float: left;
    margin-top: -16px;
    padding: 16px 10px 16px 10px;
    width: 120px;
    cursor: pointer;
    color: #bfbfbf;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

ul.style-list li.activeTab {
    color: #1abc9c;
}
.tab-selector {
    position: relative;
    width: 120px;
    height: 3px;
    background: #1abc9c;
    bottom: 0;
    top: 40px;
    left: 0;
    transition: left 300ms ease-in;
}

.left-tab-arrow, .right-tab-arrow {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.86);
    width: 30px;
    height: 100%;
    text-align: center;
    color: #a7a7a7;
    font-size: 25px;
    line-height: 60px;
    opacity: .4;
    cursor: pointer;
}
.left-tab-arrow {
    left: 0;
}

.right-tab-arrow {
    right: 0;
}

.left-tab-arrow:hover, .right-tab-arrow:hover {
    opacity: 1;
    color: #1abc9c;
}
.blank-tab-box {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    width: 30px;
    height: 100%;
}
/* @ end of tabs */
/* ==================== Alert wrapper ==================== */
.alert-wrapper {
    position: absolute;
    min-width: 300px;
    max-width: 500px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 6px 0 #9a9a9a;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    z-index: 300;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    overflow: hidden;
}

.toolbar-wrapper.mini {
    height: 40px;
}

.toolbar-wrapper.mini .toolbar-title {
    left: 0;
    padding-left: 8px;
    font-size: 20px;
    transform: translate(0, -50%);
}

.alert-wrapper .closeAlert {
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.alert-wrapper .card-content {
    position: relative;
    margin-top: 40px;
    padding: 8px;
    height: auto;
}

.alert-wrapper ul.selected-for-export-list {
    padding: 0;
    list-style: none;
}

.alert-wrapper ul.selected-for-export-list li  ul.selected-features li {
    list-style: none;
    display: inline-block;
    margin-right: 11px;
    padding: 0;
    border-left: none;
    border-bottom: 3px solid #1abc9c;
    text-transform: capitalize;
    font-weight: normal;
}

.alert-wrapper ul.selected-for-export-list li  ul.selected-features {
    padding: 0;
}

.alert-wrapper ul.selected-for-export-list li {
    border-left: 4px solid #1d223c;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 8px;
}

.alert-wrapper .niceInput {
    height: 30px;
    min-width: 200px;
    display: block;
    width: 100%;
    color: #1abc9c;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background: transparent;
}

.alert-wrapper .exportBtn, .loader, .loader .load-bar {
    margin: 0 auto;
    width: 200px;
    height: 40px;
    display: block;
    padding: 5px 8px 3px 8px;
    background: #e6e8e7;
    border: none;
    color: #989393;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: 0 1px 3px 1px #d8d7d7;
    border-radius: 3px;
    border-bottom: 5px solid #c9cccb;
}

.alert-wrapper .exportBtn.activeBtn, .loader .load-bar {
    background: #1abc9c;
    color: #fff;
    box-shadow: 0 1px 3px 1px #d8d7d7;
    border-bottom: 5px solid #03a988;
    padding: 0;
}

.loader {
    width: 100%;
    position: relative;
    display: none;
}
.loader.show {
    display: block;
}
.loader .load-bar-perc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.load-bar {
    position: absolute;
    top: 0;
    left: 0;
}

/* @ end of alert box (export) */

/* ================= Miniquote grid ==================*/
.miniquote-table {
    display: table;
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

.miniquote-table img {
    width: 100%;
}

.miniquote-row-2 {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.box {
    list-style: none;
    display: inline-block;
    position: relative;
}

#filters label.active {
    background: #4281f5;
    color: #ffffff;
}

.forMiniquote {
    width: 100%;
}

.miniquoteCont {
    column-width: 300px;
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    padding: 0;
}

.miniquoteCont .box.miniquoteLarge {
    /* column-width: 500px; */
    -moz-column-width: 500px;
    /* -webkit-column-width: 500px; */
    /* column-count: 2; */
    /* -webkit-column-count: 2; */
    -moz-column-count: 2;
}

.miniquoteCont .imgBox {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.zoomImageBox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 3;
    padding: 30px;
    background: #fff;
    display: none;
}

.zoomImageBox img {
    max-width: 360px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);

}

.miniquoteCont .box.miniquoteLarge .zoomImageBox img,
.miniquoteCont .box.miniquoteMedium .zoomImageBox img,
.miniquoteCont .box.miniquoteSmall .zoomImageBox img
{
    max-width: none;
}

.miniquoteCont .box.miniquoteLarge .zoomImageBox {
    width: 70%;
}

.miniquoteCont .box.miniquoteMedium .zoomImageBox {
    width: 40%;
}

.miniquoteCont .box.miniquoteSmall .zoomImageBox {
    width: 25%;
}

.zoomImageBoxOverflow {
    position: fixed;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(000,000,000,0.5);
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
}

.zoomImageBox .close-button-zoom {
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 3px;
    top: 0;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
}
.zoomImageBox .close-button-zoom:before,
.zoomImageBox .close-button-zoom:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 49%;
    margin-top: -1px;
    margin-left: -9px;
    display: block;
    height: 3px;
    width: 20px;
    background-color: #ccc;
    transition: all 0.2s ease-out;
}
.zoomImageBox .close-button-zoom:after {
    transform: rotate(45deg);
}

span.miniquoteName {
    display: inline-block;
    width: 100%;
    color: #E7E7E7;
    text-align: left;
    margin-bottom: 10px;
}
/* @ end of miniquote */

/* =============== For Css Animations ================*/
.unhide {
    display: block;
}

.animate-click {
    position: relative;
    overflow: hidden;
}
.circle {
    background: rgba(128, 128, 128, 0.42);
}

.circle {
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.circle.animate {
    -webkit-animation: effect 0.65s linear;
    animation: effect 0.65s linear;
}

@-webkit-keyframes effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@keyframes effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

/* @ end of css animatios */

@media screen and (min-width: 800px) {
    .burger-menu {
        display: none
    }
}

@media screen and (min-width: 1000px) {
    .main-gallery{
        max-width: 1400px;
    }
}

@media screen and (max-width: 768px) {
    .changeModule.iconBtn {
        display: none;
    }
}

@media screen and (min-width: 720px) {
    .main-gallery{
        max-width: 1200px;
    }
}

@media screen and (max-width: 800px) {
    .main-menu {
        transition: 0.5s linear all;
        left: -100px;
    }

    .main-menu.burgerActive {
        left: 0;
    }

    .burger-menu {
        display: block;
    }

    .toolbar-wrapper .toolbar-title {
        transform: translateY(-50%);
        left: 0;
    }

    .tool-div {
        padding-left: 0;
    }

    .chart-iframe, .features {
        width: 100%;
    }

    .main-gallery {
        width: 90%;
        padding: 0;
    }
}
@media screen and (min-width: 768px) {
    .imgBox {
        cursor: pointer;
    }

}
@media only screen and (max-width: 767px) {
    .main-gallery {
        width: 100%;
    }
    .feature-box .card, .feature-box .extra-card, .feature-box .invisible-card {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    .rg-left, .rg-right {
        display: none;
    }
    .feature-box .card:last-child, .feature-box .grid-card:last-child {
        margin-bottom: 0;
    }
    .disclaimer {
        margin: 0 auto;
    }
}
.feature-box .feature-list label+.checkboxRelease:checked {
    background: red;
}
