<div class="export-box">
    <div class="toolbar-wrapper mini">
        <div class="toolbar-title">{{exportMsg}}</div>
        <div class="closeAlert">
            <i class="icon icon-close"></i>
        </div>
    </div>
    <div class="card-content">
        <label>
            {{inputTitle}}
            <input type="text" class="niceInput"  ng-model="inputBox"/>
        </label>

        <button type="button" ng-click="initExport(inputBox)" class="exportBtn" ng-class="{'activeBtn': inputBox.length}">{{btnText}}</button>
    </div>
</div>