
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
    font-family: "Gotham A", "Gotham B";
    /*font-family: 'Gotham Book', Gotham-Book, Arial, serif;*/
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15.4px;
    color: #333;
}

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
	overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.progress-button[data-style="fill"][data-horizontal] .content::before,
.progress-button[data-style="fill"][data-horizontal] .content::after {
	top: 100%;
	right: auto;
	left: 50%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.progress-button[data-style="fill"][data-horizontal].state-success .content,
.progress-button[data-style="fill"][data-horizontal].state-error .content {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}



strong {
    font-weight: bold;
}

/*
    show/hide elements
*/
.unsubscribeNextToButton {
    display: block;
}
/*
    end show/hide elements
*/
h1 {
    font-size: 20px;
    color: #262626;
    padding-top: 20px;
    font-weight: normal;
}

.input-wrapper {
    width: 70%;
    float: left;
}
.subPageLogin .buttonStyle span{font-size: 14px; color: #fff;}
.buttonStyle {
    text-transform: uppercase;
    display: inline-block;
    line-height: 62px;
    height: 62px;
    color: #fff;
    background-color: #dc002d;
    box-shadow: none;
    border: none;
    -webkit-appearance: none;
}

.input-wrapper .buttonStyle {
    margin-left: 2%;
}

.buttonStyle:hover {
    background-color: #aa0023;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-perspective: 1000;
    color: #fff;
    border: none;
}

.pageRegister {
    padding-left: 2%;
}

.blockNoBorder {
    max-width: 400px;
    width: 70%;
    float: left;
}

    .blockNoBorder .unsubscribeNextToButton {
        line-height: 32px;
        min-width: 120px;
        width: 20%;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
        color: #BA3E32;
        border: 1px solid #BA3E32;
        background-color: #fff;
        font-size: 14px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        padding: 5px 20px 5px 20px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            color: #FFFFFF;
            border: 1px solid #F26522;
            background-color: #BA3E32;
            padding: 6px 21px 6px 21px;
            border: 0;
        }

    .blockNoBorder .formRegister-wrapper {
        float: right;
    }

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }

h2 {
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-top: 23px;
    margin-bottom: 22px;
}

p {
    display: inline;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    width: 140px;
    background-position: 110px 12px;
}

.inputTextTitle {
    height: 62px;
    line-height: 62px;
    min-width: 160px;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.requiredField {
    font-weight: bold;
    font-size: 13px;
}


.disclaimerHighlight {
    font-size: 14px;
}

input.informationInput {

    margin-bottom: 10px;
    cursor: auto;
    display: inline-block;
    float: left;
        border: 0px solid #c3c3c2;
    cursor: pointer;
    margin: 0px;
    padding: 0;
    height: 62px;
    line-height: 62px;
    font-size: 24px;
    color: #77787c;
    background: #f7f7f7;
    text-indent: 2%;
}


b {
    font-weight: bold;
}

.divideLine {
    margin-top: 20px;
    border-bottom: 1px solid #e6eced;
}

.checkboxOuter {
    margin-bottom: 6px;
}

.checkBoxText {
    margin-left: 0.909em;
    line-height: 1.364em;
    font-size: 14px;
    font-weight: bold;
}

.blockInner {
    margin-top: 0px;
    margin-bottom: 10px;
}

.requiredField {
    font-size: 14px;
}

.checboxLabel {
    line-height: 40px;
}

.subPageLogin input.informationInput {
    width: 40%;
    position: relative;
    margin-bottom: 15px;
}

.subPageLogin input.informationInput {
    width: 60%;
    position: relative;
    border: 0px solid #c3c3c2;
    cursor: pointer;
    margin: 0px;
    padding: 0;
    height: 62px;
    line-height: 62px;
    font-size: 24px;
    color: #77787c;
    background: #f7f7f7;
}

}

.header {
    display: block;
    text-align: left;
    font-weight: normal;
    text-align: left;
    font-size: 24px;
    float: left;
    width: 100%;
    color: #83a1a5;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
}

h3.header {
    padding: 4px 0 0 0;
    margin: 0 0 12px 0;
    color: #262626;
    border-bottom: 1px solid #C2BEB3;
    font-weight: bold;
}

.cleanLink {
    float: left;
    top: 50px;
}

.subPageLogin {
    min-height: 120px;
    width: 100%;
    float: left;
}

.register-wrapper {
    width: 100%;
    float: left;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        margin-bottom: 3px;
        display: block;
    }

    .register-wrapper p {
        margin-bottom: 20px;
    }

.subPageLogin span {
    height: 62px;
    min-width: 178px;
    width: 10%;
    float: left;
    line-height: 62px;
    font-size: 28px;
    color: #dc002d;
}


.hidden {
    display: none;
}

.semiTransparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: 0.7;
    z-index: 900;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
}

.pageVerification_bottom p, .pageVerification_top p {
    margin-bottom: 3px;
    display: block;
}

.pageVerification_top .goToHome {
    color: #000;
    border: 1px solid #000;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

    .pageVerification_top .goToHome:hover {
        color: #fff;
        background-color: #000;
        border: 0px;
    }

.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}


strong {
    font-weight: bold;
}

.blockInner {
    max-width: initial;
}

h2 {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    font-size: 24px;
    float: left;
    width: 100%;
    color: #83a1a5;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
}



/* @media only screen =========================================================*/

@media only screen and (max-width: 800px) {
    .input-wrapper{width: 100%;}
   
}


@media only screen and (max-width: 600px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;

    }
    .subPageLogin .buttonStyle span{text-align: center; width: 100%;}
    .input-wrapper .buttonStyle {
        float: right;
        width: 100%;
        text-align: center;
        background-image: none;
        margin-top: 10px;
    }

    .pageRegister .input-wrapper {
        width: 95%;
        max-width: initial;
    }

    .blockOuter {
        width: 95%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

    .blockNoBorder {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        max-width: initial;
    }

        .blockNoBorder .buttonStyle {
            position: initial;
            float: left;
            width: 98%;
            text-align: center;
            padding-left: 2%;
            background-image: none;
        }
        .inputTextTitle{height: 20px; line-height:20px; margin-top: 10px;}
}

@media only screen and (max-width: 450px) {

    .blockNoBorder .unsubscribeNextToButton {
        min-width: 100px;
        float: left;
        padding: 5px 5px 5px 5px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            padding: 6px 6px 6px 6px;
            width: auto;
        }

    .blockNoBorder {
    }

        .blockNoBorder .buttonStyle {
        }
}

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput {
        width: 70%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .unsubscribeNextToButton {
        min-width: 90px;
    }

    .blockNoBorder .buttonStyle {
    }
}
/* End ========================================================================*/
