
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

.disclaimer-delayed{display: none;}

.table-look th, .table-look td {
    text-align: right;
}

.hide {
    display: none;
}

.left {
    text-align: left !important;
}

#IRData{margin-bottom: 10px;}

.table-look {
    border-top: 0;
    border-bottom: 0;
    table-layout: fixed;
}

    .table-look tbody {
        border-bottom: 0;
    }

    .table-look td, .table-look th {
        line-height: 24px;
        height: 24px;
        color: #333;
        border: 0;
        padding: 0;
    }

    .table-look th {
        border-bottom: 0;
    }

    .table-look td {
        border-bottom: 0;
    }

    .table-look tr.Header th {
        line-height: 18px;
        border-bottom: 1px solid #333;
        font-style: italic;
        background: #fff;
        white-space: normal;
        vertical-align: bottom;
    }

        .table-look tr.Header th.column-left {
            font-style: normal;
        }

        .table-look tr.Header th.name {
            width: 90px;
        }

    .table-look tr td.column-left  {
        white-space: normal;
    }
    .table-look tr.Header th.column-left, .table-look tr td.column-left{text-align: left;}