body {
    background: #f9f9f9;
    padding-top: 20px;
}

.table-look th, .table-look td {
    text-align: right;
    position: relative;
}

.hide{
    display:none;
}
.left {
    text-align: left !important;
    width: 60%;
}
.name {
    width: 18%;
}
.Note {
    width: 40px;
}

.rowButton {
    width: 20px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.baricon_outer {
    z-index: 9999;
    width: 19px;
    height: 15px;
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-right: 6px;
}

.bariconFill {
    position: absolute;
    bottom: 0px;
    width: 5px;
    /*background-color: rgb(181,230,29);*/
    background-color: rgb(240, 240, 240);
    padding: 0px;
    margin: 0px;
}

.bariconBorder {
    position: absolute;
    bottom: 0px;
    width: 5px;
    border: 1px solid Black;
    padding: 0px;
    margin: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.baricon_underline {
    position: absolute;
    bottom: 0px;
    width: 20px;
    border-bottom: 1px solid rgb(120, 120, 120);
    padding: 0px;
    margin: 0px;
    height: 1px;
}
.row{
    cursor: pointer;
}
.row.kfActive {
    font-weight: 600;
    background: #f6f6f6;
}

.row.kfActive .left, .row.kfActive .cell{
    font-weight: 400;
}
/*.cell.note {
    border-right: 1px solid #ddd;
    display: none;
}

.name.Note {
    border-right: 1px solid #ddd;
    display: none;
}*/
.hidden{
    display: none;
}

.rangeText {
    line-height: 32px;
    padding-right: 2px;
}
.btnNewerOlder {
    height: 38px;
    margin-top: 15px;
    display: none;
}
.btnOuter {
    height: 30px;
    width: 30px;
    display: block;
    float: right;
    padding: 10px;
}
.btnSeeOlder,.btnSeeNewer {
    cursor: pointer;
    display: block;
    height: 28px;
    width: 24px;
    float: right;
    color: #fff;
    text-align: center;
    margin: -6px;
    padding: 2px;
}
.btnSeeNewer {
    background-repeat: no-repeat;
    background: url("../Images/icons-sprite.png") no-repeat -210px -274px;
}
.btnSeeOlder {
    background-repeat: no-repeat;
    background: url("../Images/icons-sprite.png") no-repeat -180px -274px;
}
.btnSeeOlder:hover, .btnSeeNewer:hover {

}

.chart-type {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    z-index: 10;
    vertical-align: middle;
    margin-right: 3px;
    border-radius: 40px;
    border: 1px solid #fff;
}

.chart-type.column {
    background: url(../images/column-chart.png) center center no-repeat;
    background-size: 50px;
}
.chart-type.line {
    background: url(../images/line-chart.png) center center no-repeat;
    background-size: 50px;
}
.chart-type.area {
    background: url(../images/area-chart.png) center center no-repeat;
    background-size: 50px;
}
.chart-type.active-type {
    border-color: #169c78;
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
}

span.columnPrewPos {
    position: absolute;
    display: block;
    width: 100%;
    background: rgba(104, 234, 104, 0.21);
    bottom: 30px;
    margin-left: -3px;
}

span.columnPrewNeg {
    position: absolute;
    display: block;
    width: 100%;
    background: rgba(234, 131, 104, 0.21);
    top: -30px;
    margin-left: -3px;
}

.table-look {
    background: #fff;
}

.table-look tr {
    border-bottom: 1px solid #eeeeee;
}

.table-look td:first-child, .table-look th:first-child {
    padding-left: 20px;
    border-right: 1px solid #ddd;
}
.table-look td:last-child, .table-look th:last-child {
    padding-right: 20px;
}

.chart-box {
    padding: 30px 15px 15px 15px;
    background: #fff;
    border: 1px solid #eee;
    position: relative;
}

#clearAllBtn {
    position: absolute;
    right: 25px;
    top: 38px;
    cursor: pointer;
    z-index: 10;
    border:1px solid #ccc;
    border-radius: 3px;
    color: #ccc;
    text-align: center;
    width: 70px;
    height: 25px;
    line-height: 23px;
}

.table-box {
    border: 1px solid #eee;
    background: #fff;
}

.table-box.tabs {
    border:0;
    background: none;
    margin-bottom: 50px;
}

.tabs {
    display: table;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabs .us {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    background: #fff;
    margin: 0 5px;
    color: #333;
    max-width: 270px;
    height: 60px;
    text-decoration: none;
    position: relative;
}

.tabs .us:last-child {
    border-right: 0;
}

.tabs .us.active {
    color: #169c78;
}

.tabs .us.active:before,
.tabs .us:hover:before {
    content: "";
    background: #169c78;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tabs .us span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.pers {
    display: none;
}

.tablesaw-cell-persist span {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.group {
    margin-bottom: 10px;
    border:1px solid #EEEEEE;
}

.group h3 {
    width: 100%;
    background: #fff;
    padding: 20px;
    text-align: left;
}

.group h3.ui-state-active {
    background: #169c78;
    color: #fff;
    border-bottom: 2px solid #5b6464;
}

.scrollable {
    height: 400px;
    overflow: auto;
    margin-top: 20px;
}


.table-look td.formatColourPos, *.formatColourPos {
    color: #169c78;
}

.table-look td.formatColourNeg, *.formatColourNeg {
    color: #c32121;
}



@media (max-width: 970px) {
    .tablesaw-cell-persist span {
        width: 50%;
    }
}

@media (max-width: 790px) {
    .tablesaw-cell-persist span {
        width: 100%;
    }

    .table-look td, .table-look th {
        height: 80px;
    }

    .tabs {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .tabs .us {
        display: table;
        width: 100%;
        max-width: none;
        border-radius: 0;
        border-bottom: 1px solid #ddd;
        border-right: 0;
        margin: 0;
    }

    .tabs .us span {
        display: table-cell;
    }

    .tabs .us:last-child {
        border-bottom: 0;
    }

    .btnNewerOlder {
        margin-bottom: 5px;
    }

    .table-look td:last-child, .table-look th:last-child {
        padding-right: 0;
    }

    .tablesaw-cell-persist span {
        margin-top: 3px;
    }

}

@media (max-width: 700px) {
    .btnNewerOlder {
        display: block;
    }
}

@media (max-width: 600px) {
    .name{
        width: auto;
    }

    .chart-type {
        width: 30px;
        height: 30px;
    }

    .left {
        width: 50%;
    }

    .chart-type {
        border: 1px solid #ccc;
    }
}

@media (max-width: 400px) {
    .table-look td, .table-look th {
        font-size: 12px;
    }
}
