* {
    font-size: 13px;
}

body {
    color: #000;
    overflow: auto;
    font-size: 13px;
    font-family: "myriad-pro","Trebuchet MS",Trebuchet,Verdana,Geneva,sans-serif;
}

.buttonStyle {
    font-family: "myriad-pro","Trebuchet MS",Trebuchet,Verdana,Geneva,sans-serif;
    width: auto;
    height: 27px;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0 4px;
    margin-right: 4px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    line-height: 29px;
    background-color: #007FC5 !important;
    -webkit-appearance: none;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

/*
    show/hide elements
*/
.unsubscribeNextToButton {
    display: block;
}
/*
    end show/hide elements
*/

.pageRegister .input-wrapper {
    width: 70%;
    float: left;
    max-width: 400px;
}

input, select {
    height: 13px;
}

/*.blockNoBorder {
    max-width: 400px;
    width: 70%;
    float: left;
}*/
.indent {
    margin-left: 10px;
}

    .blockNoBorder .unsubscribeNextToButton {
        line-height: 32px;
        min-width: 120px;
        width: 20%;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
        color: #BA3E32;
        border: 1px solid #BA3E32;
        background-color: #fff;
        font-size: 13px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        padding: 5px 20px 5px 20px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            color: #FFFFFF;
            border: 1px solid #F26522;
            background-color: #BA3E32;
            padding: 6px 21px 6px 21px;
            border: 0;
        }

    .blockNoBorder .formRegister-wrapper {
        float: right;
    }

.empty-box-left {
    width: 20%;
    min-width: 120px;
    float: left;
    height: 20px;
    max-width: 200px;
}

a {
    color: #019D54;
    text-decoration: none;
}

    a:hover {
        color: #0ee588;
    }


p {
    display: inline;
    font-size: 13px;
    height: auto;
    line-height: 16px;
    width: auto;
}

.pageVerification .block p {
    float: left;
}

.inputTextTitle {
    height: 25px;
    line-height: 25px;
    min-width: 120px;
}

.requiredField {
    font-weight: bold;
    font-size: 13px;
}


.disclaimerHighlight {
    font-size: 14px;
}

input.informationInput {
    font-weight: bold;
    font-size: 14px;
    float: left;
    position: relative;
    top: 4px;
    cursor: auto;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    letter-spacing: normal;
    margin-bottom: 9px;
    width: 300px;
    padding-left: 5px;
}


b {
    font-weight: bold;
}

.divideLine {
    margin-top: 20px;
    /*border-bottom: 1px solid #F26522;*/
}

.checkboxOuter {
    margin-bottom: 6px;

}

.checkBoxText {
    margin-bottom: 16px;
}

.blockInner {
    margin-top: 0px;
}

.requiredField {
    font-size: 14px;
}

input.checkboxRelease {
    height: 12px;
    line-height: 12px;
}

.subPageLogin input.informationInput {
    width: 70%;
    position: relative;
    margin-bottom: 15px;
}


.header {
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
}

h2.header {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 1em;
    font-size: 17px;
    color: #000;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #4d4d4d;
    width: 100%;
    height: 39px;
}

.cleanLink {
    float: left;
    top: 50px;
}

.subPageLogin {
    min-height: 140px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.register-wrapper {
    width: 100%;
    float: left;
}

    .subPageLogin p, .register-wrapper p, .alert-wrapper p {
        margin-bottom: 3px;
        display: block;
    }

.subPageLogin span {
    height: 25px;
    line-height: 25px;
    min-width: 120px;
    font-weight: bold;
    color: #20245a;
    font-size: 13px;
    width: 20%;
    float: left;
}

.hidden {
    display: none;
}

.semiTransparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: 0.7;
    z-index: 900;
}

.removeHeight {
    height: 20px;
    line-height: 20px;
}

.pageVerification_placedAtSubmitbutton {
    position: relative;
}

.pageVerification {
    width: 100%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    background-color: white;
    max-width: 300px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}


strong {
    font-weight: bold;
}

.blockInner {
    font-size: 13px;
    font-family: inherit;
}

.blockOuter {
    font-size: 13px;
}

    .blockOuter p {
        font-size: 13px;
        margin-left: 19px;
        margin-top: 0px;
    }

p.inputTextLow, p.inputTextHigh {
    float: left;
}

.inputHighLow {
    margin-top: 10px;
}

.inputRowHigh {
    margin-bottom: 10px;
}

.inputBoxHighLowCurrency {
    margin-left: -50px;
}

.inputBoxLow {
    margin-left: 45px;
}

.inputBoxHigh {
    margin-left: 42px;
}

input, select {
    line-height: normal;
}



h2 {
    display: block;
    height: 16px;
    line-height: 16px;
    margin-top: 23px;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 1em;
    font-size: 17px;
    color: #333333;
    padding: 0;
    width: 100%;
    height: 39px;
}

h6 {
    color: #000;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 15px;
    text-align: left;
    width: auto;
    padding: 10px;
    padding-left: 0px;
}

.pageVerification_top p, .pageVerification_bottom p {
    font-size: 12px;
    margin-bottom: 3px;
    display: block;
}

.pageVerification_top .goToHome {
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    color: #20245a;
    border: 1px solid #20245a;
    background-color: #fff;
    font-size: 14px;
    height: 21px;
    padding-left: 15px;
    padding-right: 15px;
}

    .pageVerification_top .goToHome:hover {
        border: 0px;
        color: #fff;
        background-color: #20245a;
    }
/* @media only screen =========================================================*/
@media only screen and (max-width: 500px) {
    .subPageLogin .input-wrapper .enterInformationLoginEmail {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        height: 18px;
    }

    .input-wrapper .buttonStyle {
        float: left;
        width: 30%;
    }

    .pageRegister .input-wrapper {
        width: 95%;
        padding-left: 2%;
        max-width: initial;
    }

    .blockOuter {
        width: 95%;
        padding-left: 2%;
    }

    .inputText {
        width: 100%;
        max-width: initial;
    }

        .inputText .informationInput {
            height: 18px;
            line-height: 18px;
        }



    .blockNoBorder .unsubscribeNextToButton {
        min-width: 100px;
        float: left;
        padding: 5px 5px 5px 5px;
    }

        .blockNoBorder .unsubscribeNextToButton:hover {
            padding: 6px 6px 6px 6px;
            width: auto;
        }

    .blockNoBorder {
        float: left;
        margin-bottom: 10px;
    }

        .blockNoBorder .buttonStyle {
            position: initial;
            float: right;
            width: 135px;
        }
}

@media only screen and (max-width: 400px) {
    .subPageLogin span {
        width: 100%;
    }

    .subPageLogin input.informationInput {
        width: 70%;
        margin-right: 20px;
    }

    .subPageLogin .buttonStyle {
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .blockNoBorder .unsubscribeNextToButton {
        min-width: 90px;
    }

    .blockNoBorder .buttonStyle {
        width: 120px;
    }
}
/* Ënd ========================================================================*/
