


body {
    font-size: 12px;
    overflow: hidden;
    color: #666666;
    font-family: Arial, Arial, Helvetica, Tahoma, sans-serif;
    line-height: 22px;
}

.checkbox {
    height: 22px;
    line-height: 22px;
    padding-left: 31px;
    background-image: url('checkbox_false.png');
    background-repeat: no-repeat;
    cursor: pointer;
    min-width: 145px;
    margin-bottom: 10px;
    font-size: 12px;
    background-size: 22px;
}

    .checkbox.checked {
        background-image: url('checkbox_true.png');
    }

.inputTextTitle {
    width: 100%;
    float: left;
    font-weight: 700;
}

input[type=text].informationInput {
    max-width: 175px;
}

.requiredFieldMSG {
    color: #ff0000;
    text-decoration: none;
}

.blockInner, p.requiredField {
    margin-top: 0;
    margin-bottom: 0;
}


.pageUnsubscribe {
    display: block;
}

h2 {
    color: #00ADEF;
}

.buttonStyle, .buttonStyle:hover {
    background: #1DA9DF none repeat scroll 0 0;
    border: 1px outset #1DA9DF;
    color: #fff;
    font-family: Verdana;
    font-size: 13.3px;
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
    padding: 2px 5px;
    cursor: pointer;
    height: 20px;
    margin-left: 2px;
}

.subPageLoginConfirm .pageVerification {
    top: 0%;
    height: 100px;
}

.hidden {
    display: none;
}

.semiTransparantOverlay, .transparantOverlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 900;
}


.blockNoBorder.pageVerification_placedAtSubmitbutton {
    width: 100%;
    float: initial;
    margin-right: 0;
}


.pageVerification_placedAtSubmitbutton {
    position: relative;
}


.pageVerification_top p, .pageVerification_bottom p {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
}

.closeBox {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -15px;
    right: 0px;
    cursor: pointer;
}

.dialogueBox, .subPageLoginConfirm, .pageVerification {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: 0px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    left: 30px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 10px 4px rgba(204, 204, 204, 1);
}

.pageVerification_top .goToHome {
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    color: #20245a;
    border: 1px solid #20245a;
    background-color: #fff;
    font-size: 14px;
    height: 21px;
    padding-left: 15px;
    padding-right: 15px;
}


    .pageVerification_top .goToHome:hover {
        border: 0px;
        color: #fff;
        background-color: #20245a;
    }


@media only screen and (max-width: 500px) {

    .pageVerification_placedAtSubmitbutton .buttonStyle, .pageVerification_placedAtSubmitbutton .buttonStyle:hover, .formLoginConfirm.buttonStyle, .formLoginConfirm.buttonStyle:hover {
        margin: 0;
        margin-top: 5px;
        width: 100%;
    }

    input[type=text].informationInput  {
        max-width: initial;
        width: 99%;
    }
    .inputText{width: 100%;}
    .pageVerification{width:initial;}
}
