.IRChartColour {
   stroke: #1abc9c ; /* Chart color*/
   fill: #1abc9c ; /* Chart volume bars color*/
   color: #F4EFEB ; /* Chart plot background*/
   background-color: #fff ; /* Chart background color*/
   border-color: #E9E9E9 ; /* Chart Border color */
}

.table-look, .highcharts-markers.highcharts-tracker, .IRChartCCHeader, .IRChartTSRHeader, .IRChartTAHeader, .IRChartComparisonHeader, .IRChartSettingsHeader {
/*    display: none;*/
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #ffae19;
}

@media screen and (min-width: 596px) {
    .IRChartMenuTrigger.icon {display: none;}
}

 
@media screen and (max-width: 500px) {
    .IRChartNavigation {
        width: 100%;
    }
     .IRChartView, .IRChartTA, .IRChartCC, .IRChartComparison, .IRChartTSR, .IRChartSettings {
        float: none;
        display: inline-block;
        margin: 0 auto;
    }
    
    .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR, .IRChartNavigation .IRChartCC, .IRChartNavigation .IRChartSettings, .IRChartNavigation .IRChartTA {
        right: 0;
        position: relative;
    }
    .IRChartNavigation .IRChartView .IRChartViewBody, .IRChartNavigation .IRChartComparison .IRChartComparisonBody, .IRChartNavigation .IRChartTA .IRChartTABody, .IRChartNavigation .IRChartCC .IRChartCCBody, .IRChartNavigation .IRChartSettings .IRChartSettingsBody, .IRChartNavigation .IRChartTSR .IRChartTSRHeader, .IRChartNavigation .IRChartListings .IRChartListingsBody {
        position: relative;
        z-index: 10;
        right: 0;
        top: 0;
    }    
}

@media screen and (max-width: 450px) {
    .IRChartCC, .IRChartTSR, .IRChartTA, .IRChartComparison, .IRChartSettings {display: none;}
}



