@font-face {
    font-family: "HelveticaNeueW02-65Medi";
    src: url("fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix");
    src: url("fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix") format("eot"), url("fonts/5b4a262e-3342-44e2-8ad7-719998a68134.woff") format("woff"), url("fonts/4a3ef5d8-cfd9-4b96-bd67-90215512f1e5.ttf") format("truetype"), url("fonts/58ab5075-53ea-46e6-9783-cbb335665f88.svg#58ab5075-53ea-46e6-9783-cbb335665f88") format("svg");
}

@font-face {
    font-family: "HelveticaNeueW02-55Roma";
    src: url("fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
    src: url("fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"), url("fonts/d5af76d8-a90b-4527-b3a3-182207cc3250.woff") format("woff"), url("fonts/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf") format("truetype"), url("fonts/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg");
}

@font-face {
    font-family: "HelveticaNeueW02-45Ligh";
    src: url("fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
    src: url("fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"), url("fonts/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"), url("fonts/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"), url("fonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}

body {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #697378;
    padding-left: 0;
    padding-right: 0;
    font-family: "HelveticaNeueW02-45Ligh","Helvetica",sans-serif;
}

.clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

.formatArrowPos, .formatArrowNeg {
}

.formatArrowPos {
    background-image: url('images/upNew.png');
}

.formatArrowNeg {
    background-image: url('images/down.gif');
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 1px solid #ccc;
    font-weight: 700;
    font-size: 12px;
}

*.DataHover {
    background-color: transparent !important;
}
/*.formatColourPos::before{content:"+";}*/

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}

input, select {
    padding: 0px 7px;
    line-height: 30px;
    height: auto;
    height: 30px;
    color: #697378;
}

select {
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 7px center;
    background-size: 6px;
    padding-right: 24px;
    text-overflow: ellipsis;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: inherit;
    font-size: 16px;
    line-height: 2.5;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: 2px;
    color: inherit;
    color: inherit;
    font-size: inherit;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.wide-input {
    width: 195px;
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    background: #82b51e;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 195px;
    border: none;
    border-radius: 0px;
    font-size: 15px;
    height: auto;
    box-shadow: none;
    cursor: pointer;
}

g.highcharts-grid path {
    stroke: #ccc;
}

input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    color: #fff;
    box-shadow: none;
}

input[type=submit]:focus, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:focus {
}

.IRQuoteModule {
    font-size: 14px;
}

    .IRQuoteModule .name {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .IRQuoteModule .updated {
        text-align: right;
        margin: 10px 0px;
        font-size: 12px;
        font-weight: bold;
    }

.table-look {
    /*margin-bottom: 10px;*/
    table-layout: fixed;
    border: 0;
}

.table-wrapper {
    background: #edeff0;
    width: 100%;
    padding: 8px 20px 10px 20px;
}

.IRMiniquoteModule .table-look {
    border-bottom: 0;
}

.table-look tr {
}

.table-look td, .table-look th {
    font-size: 15px;
    background: #edeff0;
}

/*
.table-look td:after, .table-look th:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 34px;
    box-sizing: border-box;
    background-color: #d5d4d0;
    display: inline-block;
    top: 8px;
    left: 0px;
}

.table-look td:first-child:after, .table-look th:first-child:after{
    content: "";
    display: none;
}
*/

.table-look tr:last-child td {
    border-bottom: none;
}

.IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    padding: 0 0 0 0;
}

.table-look th {
    border: 0;
    border-bottom: solid 2px #c2bdaa;
    padding: 10px 2px;
    color: #6ea218;
}

.table-look td {
    border: 0;
    border-bottom: solid 1px #c2bdaa;
    padding: 10px 2px;
    color: #8c8677;
    font-weight: 300;
    padding-top: 12px;
}

    .table-look td.formatColourPos, *.formatColourPos {
        color: #6ea218;
    }

    .table-look td.formatColourNeg, *.formatColourNeg {
        color: red;
    }

    .table-look th.column-first, .table-look td.column-first {
        text-align: left;
    }

    .table-look th.column-last, .table-look td.column-last {
        text-align: right;
    }


.timestamp {
    text-align: center;
}

/* IRMiniquoteModule ===================================================== */
.disclaimer-IRMiniquote {
    display: none;
}

.IRMiniquoteModule {
    color: #fff;
}

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    font-size: 14px;
    padding-bottom: 28px;
}

table.miniquoteChartTable {
    width: 100%;
    font-size: 12px;
}

.miniquoteChartTable td {
    max-width: 100px;
}

    .miniquoteChartTable td.lastColumn {
        text-align: right;
        width: 90px;
    }

.miniquoteChartTable .Symbol {
    vertical-align: middle;
    font-size: 16px;
    width: 40%;
}

.IRMiniQuoteQuoteModule h3 {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.IRMiniQuoteQuoteModule .updated {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 3px;
}

.IRMiniQuoteQuoteModule .last {
    font-size: 48px;
    line-height: 48px;
    display: inline-block;
    font-weight: 500;
}

.IRMiniQuoteQuoteModule .currency {
    font-size: 22px;
    display: inline-block;
    font-weight: 300;
    margin-left: -12px;
}

.IRMiniQuoteQuoteModule .change {
    font-weight: 300;
    font-size: 15px;
}

    .IRMiniQuoteQuoteModule .change .decimals {
        display: inline-block;
        margin-right: 13px;
    }


.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    width: 100%;
    float: left;
    text-align: left;
    font-weight: 400;
}

.IRMiniQuoteQuoteModule .closeDate {
    font-weight: 300;
    display: none;
}

.IRMiniQuoteQuoteModule .delayed {
    font-weight: 300;
    margin-bottom: 0px;
}

.IRMiniQuoteQuoteModule .bottom-link {
    border-top: 1px solid #cccccc;
    padding-top: 14px;
}

    .IRMiniQuoteQuoteModule .bottom-link a {
        color: inherit;
        font-size: 15px;
        padding-left: 12px;
        text-decoration: none;
        position: relative;
        font-weight: 300;
    }

        .IRMiniQuoteQuoteModule .bottom-link a:hover {
            text-decoration: underline;
        }

        .IRMiniQuoteQuoteModule .bottom-link a:before {
            content: "\f2fb";
            text-decoration: none;
            position: absolute;
            top: 2px;
            left: 2px;
            ;
        }

.IRMiniQuoteQuoteModule .arrow {
    width: auto;
    height: auto;
}

    .IRMiniQuoteQuoteModule .arrow.formatArrowPos {
        background-image: none;
    }

.IRMiniQuoteQuoteModule *:before {
    color: inherit;
    font-size: inherit;
    position: relative;
    font-family: 'Material-Design-Iconic-Font';
}

.IRMiniQuoteQuoteModule .arrow.formatArrowPos:before, .IRMiniQuoteQuoteModule .arrow.formatArrowNeg:before {
    margin-right: 4px;
}

.IRMiniQuoteQuoteModule .arrow.formatArrowPos:before {
    content: '\f303';
}

.IRMiniQuoteQuoteModule .arrow.formatArrowNeg {
    background-image: none;
}

    .IRMiniQuoteQuoteModule .arrow.formatArrowNeg:before {
        content: "f2fe";
    }

.IRMiniQuoteQuoteModule .sharePriceLink a {
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 19px;
    width: 100%;
    text-align: left;
    display: block;
    float: left;
    background-image: url('images/arrowRight.png');
    background-repeat: no-repeat;
    background-position: 13% center;
}

.IRMiniQuoteQuoteModule .sharePriceLinkWrapper {
}

.miniquoteChartWrapper div {
    line-height: 18px;
    text-indent: 5px;
}

    .miniquoteChartWrapper div.Header {
        font-weight: 700;
    }

    .miniquoteChartWrapper div.Data {
        padding-bottom: 3px;
    }

    .miniquoteChartWrapper div.formatColourNeg {
        color: red;
    }

    .miniquoteChartWrapper div.formatColourPos {
        color: green;
    }

/* End =================================================================== */


/* IRChart =============================================================== */


/*IRChartPlaceholderArea{width: 99%;}*/

.IRChartPlaceholderArea .IRChartPlaceholder {
    /* width: 99% <--- iPhone 6+ fix to stop iFrame expanding. */
}

.IRChartHTMLPlaceholder {
    height: 200px;
    min-width: 250px;
    clear: both;
}

.IRChartColour {
    color: #6ea218;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div {
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        background: #fff;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0.25em 0 0;
    }

        .chartChangePeriod div#max {
            border-right: 0;
        }

div.highcharts-axis-labels.highcharts-xaxis-labels {
    top: -5px !important;
}

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod,
.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
    background: #82b51e;
    color: #fff;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    margin-right: -1px;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    background: transparent;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
        color: #6ea218;
        background: #fff;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div:first-child {
        border-left: 0;
    }

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 480px;
}

.IRChartHTMLPlaceholder {
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels text {
    font-size: 12px !important;
    fill: #697378 !important;
    font-family: "HelveticaNeueW02-45Ligh";
}

div.highcharts-axis-labels span div {
    font-family: "HelveticaNeueW02-45Ligh";
    font-size: 12px;
}

.chartNavBarRange {
    margin-top: 5px;
}

.IRChartNavigation div.IRChartNavigationInner {
    display: none;
}

.IRChartNavigation .updated {
    float: right;
    padding-right: 10px;
}

/* End ====================================================================== */


/* IRDetailedSharePrice ===================================================== */

.IRDetailedSharePrice.first {
    table-layout: auto;
}

.IRQuoteHorizontalModule .quote {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 37px;
}

    .IRQuoteHorizontalModule .quote .current, .IRQuoteHorizontalModule .quote .change {
        margin: 20px;
        margin-left: 0;
        width: 200px;
        float: left;
    }

    .IRQuoteHorizontalModule .quote .current {
        color: #164172;
        font-size: 30px;
        float: left;
        margin: 0;
        margin-top: 45px;
    }

    .IRQuoteHorizontalModule .quote .change {
        float: left;
        color: #616161;
        font-size: 16px;
        margin-top: 45px;
    }

        .IRQuoteHorizontalModule .quote .change div {
            margin-bottom: 15px;
            font-weight: 300;
        }

.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look tr {
}

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 30px;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    font-size: 19.7px;
    padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.IRQuoteHorizontalModule h3 {
    font-size: 18px;
    font-weight: normal;
    color: #6ea218;
    line-height: normal;
    text-transform: uppercase;
}

    .IRQuoteHorizontalModule h3 .currency {
        text-transform: none;
    }

.IRDetailedSharePrice.table-look th {
}

.IRDetailedSharePrice td {
}

.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}

/* End ======================================================================== */


/* IRNewsModule ============================================================ */
.IRNewsModule {
    font-size: 14px;
    background: transparent;
    border-bottom: 1px solid #e6e6e6;
}

    .IRNewsModule .filter-wrapper {
        width: 100%;
        float: left;
    }

        .IRNewsModule .filter-wrapper .datepicker {
            float: right;
            width: 55%;
        }

.news-filter-wrapper {
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
}

.IRNewsModule h2 {
    font-size: 24px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    display: none;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #666666;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.news-filter-wrapper {
    /*overflow: hidden;*/
    width: 100%;
    margin-bottom: 25px;
}

.IRNewsModule .date-wrapper {
    width: 100%;
    float: left;
    border-bottom: 2px solid #4c4c4c;
    line-height: normal;
    margin-bottom: 8px;
    display: none;
}

    .IRNewsModule .date-wrapper .date-selector {
        float: left;
        height: 49px;
        line-height: 49px;
        background: #ececec;
        font-size: 16px;
        padding: 0 20px;
        color: inherit;
        text-decoration: none;
        border-radius: 6px 6px 0 0;
        font-weight: 500;
        margin-right: 5px;
    }

.date-wrapper .date-selector.active {
    background: #4c4c4c;
    color: #fff;
}

.IRNewsModule .search-for-box {
    width: 46%;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box #allRNSnews {
    font-weight: bold;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/
.IRNewsModule .news-filter-wrapper select {
    background-image: url(../2382/images/selectDown.png);
}

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    width: 183px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 48%;
    float: left;
    display: none;
}

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 5px;
    line-height: 30px;
    height: 30px;
    width: 220px;
}


.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    min-width: 140px;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .search-for-box input {
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
    width: 85px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #ccc;
    font-weight: 300;
    text-align: center;
    margin-right: 8px;
    padding-left: 12px;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    text-align: center;
}


.IRNewsModule .news-filter-wrapper #to-year {
}

.IRNewsModule .search-filter-wrapper {
    width: 40%;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}

    .IRNewsTool .IRDataGroup div {
        border-bottom: 0;
    }

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .filter-wrapper .submitButton {
    margin-left: 46%;
}

.IRNewsModule .submitButton {
    margin-top: 20px;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
}

input#from, input#to {
    background-image: url(2382/images/calendar.gif);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    /*margin-right: 63px;*/
}

.IRNewsModule .heading {
    font-size: 2.333em;
    color: #003772;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    clear: both;
    display: inline-block;
    margin-top: 15px;
    line-height: normal;
    font-weight: 700;
}

/* NewsContent ======================================================== */
div.IRNewsTool .IRDataGroup {
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-bottom: 0;
    transition: all 0.3s;
}

    div.IRNewsTool .IRDataGroup:hover {
        cursor: pointer;
        background: #e9ebed;
    }

div.IRNewsTool .IRHeaderGroup {
    display: none;
}

.IRNewsModule .NewsDataGroupWrapper {
    float: left;
    width: 100%;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    width: auto;
    color: #333;
    display: block;
    font-weight: 500;
    /*
    padding-right: 12px;
    background: url(images/arrow-link.png) no-repeat right center;
*/
    white-space: normal;
}

.IRNewsTool .IRDataGroup div {
}

.IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    font-size: 12px;
    padding: 0;
    border: 0;
    height: auto;
    line-height: 1.5;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    width: 100%;
    color: #999;
    font-style: italic;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    width: 16%;
    float: right;
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    width: 126px;
}

    .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
    }

.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 16px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .IRDate {
    width: 23%;
    color: #666666;
}

.IRNewsModule .IRNewsTool .IRData.file-type {
    width: 24%;
    font-weight: bold;
}

.IRNewsModule .IRNewsTool .IRData.IRTitle {
}


.IRNewsModule .IRNewsTool .IRHeader.IRTitle, .IRNewsModule .IRNewsTool IRData.IRTitle {
    width: 55%;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRHeader.file-type {
    width: 17%;
}

.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /*width: initial;*/
    width: 20px;
}
    /* JR: removed width: initial;*/
    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('images/pdf-icon.png');
        float: left;
        margin-top: 0px;
        height: 17px;
        width: 20px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        top: 0;
    }

.IRNewsPagination {
    max-width: none;
    padding: 0;
}


    .IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('../2382/images/prev.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('../2382/images/next.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

.IRNewsTableFooter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.IRNewsPaginationPageNew {
    width: auto;
    display: inline-block;
    cursor: pointer;
    margin: 0px 11px;
    font-size: 13px;
    color: #b0013a;
    font-weight: 500;
    line-height: 40px;
}

    .IRNewsPaginationPageNew:hover {
        color: #333;
    }

.IRNewsTableFooter .IRNewsPagination {
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    background: #fff;
    height: 60px;
    line-height: 60px;
}

.IRNewsPagination .IRNewsPageNumber {
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #757575;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

div.IRNewsTool .IRHeaderGroup div, .IRNewsTool .IRDataGroup div {
}


.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
}

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

.IRNewsModule .news-filter-wrapper .search-from {
}

/*
::selection {
    background: #000;
    color: #fff;
    
}
::-moz-selection {
    background: #000;
    color: #fff;
}
*/

/* ============================================================================ */


/* IRCalcModule =============================================================== */

.IRCalcModule {
    font-size: 14px;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.IRCalcModule #calculate-button {
    margin-top: 10px;
}

.IRCalcModule #calc-form {
    margin-top: 40px;
}

.IRCalcModule #amount-invested {
    margin-bottom: 10px;
}

.IRCalcModule input[type=number] {
    padding-left: 0;
    text-indent: 10px;
}

.IRCalcModule .table-wrapper, .IRCalcModule #result-section {
    float: left;
    width: 100%;
}

.IRCalcModule #ui-datepicker-div {
    display: none;
}

/* End ======================================================================== */


/* IRLookupModule =============================================================== */

.IRChartLookupPlaceholder {
    margin-bottom: 40px;
    height: 250px;
}

.IRLookupModule select {
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 7px center;
    background-size: 6px;
    padding-right: 24px;
    text-overflow: ellipsis;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: inherit;
    font-size: 16px;
    line-height: 2.5;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: 2px;
    color: inherit;
    color: inherit;
    font-size: inherit;
}

    .IRLookupModule select:focus {
        border: 1px solid #22A8DA;
        outline: none;
    }

.input-row {
    height: 45px;
}

table.IRLookupResultsTable th {
    /*
    font-size: 14px;
*/
}


/* End ======================================================================== */


/* Calc and Lookup ============================================================ */

.formDivider {
    /*width: 40%;
    float: left;
    margin: 0 5%;*/
}

    .formDivider .input-row label {
        line-height: 38px;
        font-size: 15px;
    }

.radio label {
    position: relative;
    vertical-align: bottom;
}

@media only screen and (max-width: 800px) {
    .formDivider {
        width: 100%;
        float: left;
        padding: 0px;
    }
}

/* Email Alerts Module ======================================================== */

.emailAlerts p, .checkBoxText {
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.emailAlerts h2 {
    color: #3684c3;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

input[type=email] {
    line-height: 31px;
    height: 31px;
}

.emailAlerts input[type=email] {
    width: 68%;
    margin-right: 2%;
    padding-right: 0;
    padding-left: 0;
}

.emailAlerts .loginField {
    width: 99%;
    float: left;
    max-width: 400px;
}

.emailAlerts .buttonStyle {
    width: 28%;
}

.inputTextTitle {
    font-size: 14px;
    font-weight: 400;
    float: left;
    min-width: 140px;
    line-height: 31px;
    height: 31px;
}

.emailAlerts .divideLine {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 37px;
    margin-top: 37px;
}

.checkboxRelease {
    float: left;
    margin-right: 10px;
    line-height: 23px;
}

.emailAlerts .blockOuter {
    margin-top: 20px;
}

.pageVerification_placedAtSubmitbutton .buttonStyle {
    margin-top: 30px;
}

/* End ======================================================================== */


/* Trades module ============================================================== */

.IRTradesModule .table-look {
    width: 100% !important;
}

    .IRTradesModule .table-look .column-last {
    }

    .IRTradesModule .table-look th.column-last {
    }

.IRTradesModule .hidden {
    display: none;
}

.IRTradesModule .table-seperator {
    background: none;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
}

table.IRTradesModule td.strong {
    font-weight: bold;
}

.IRTradesModule h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.IRTradesModule .table-look th {
}

.IRTradesModule .table-look td {
    font-weight: 300;
}

.IRTradesModule .table-look th, .IRTradesModule .table-look td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage, .IRTradesModule th.change, .IRTradesModule td.change {
    text-align: right;
}

.IRTradesModule th {
}

.IRTradesModule .table-look td {
}

    .IRTradesModule .table-look td.formatColourPos {
    }

    .IRTradesModule .table-look td.formatColourNeg {
    }

/*.IRTradesModule .table-look .formatArrowDef {
        background-image: url(../1984/images/formatArrowDefSimple.png);
        width: 9px;
        height: 9px;
        display: inline-block;

    }*/

.table-seperator tr {
}

.IRTradesModule .table-look td.table-seperator {
}

.table-seperator div {
    padding: 0px 5px;
    font-weight: bold;
    left: 50%;
    top: 5px;
    background: #F0F0F0;
    height: 25px;
    line-height: 25px;
}

.table-seperator hr {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #bdc1c9 !important;
    border-width: 1px;
    border-top: 1px solid #cacaca;
}

.IRTradesDisclaimer {
    display: none;
}

/* End ======================================================================== */


/* MiniquoteChart ======================================================================== */

.IRMiniquoteChartModule .IRMiniQuoteQuoteModule .change {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    width: auto;
}

.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    float: left;
    width: 100%;
    height: 125px;
}

.IRMiniquoteChartModule .left {
    float: left;
}

.IRMiniquoteChartModule .right {
    float: right;
}

.IRMiniquoteChartModule .topData {
    color: #6ea218;
    font-weight: 600;
}

    .IRMiniquoteChartModule .topData .last {
        font-size: 18px;
        line-height: 1;
    }

    .IRMiniquoteChartModule .topData .updated {
        width: 100%;
        display: block;
        color: #697378;
        clear: both;
        line-height: 2;
        font-weight: 100;
    }

.IRMiniquoteChartModule .bottomData table {
    width: 100%;
}

    .IRMiniquoteChartModule .bottomData table th {
        text-align: left;
        font-weight: 400;
    }

    .IRMiniquoteChartModule .bottomData table td {
        text-align: right;
    }

/* End ======================================================================== */


/* News headline tool */
.IRNewsHeadlineTool {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

    .IRNewsHeadlineTool .Data {
        padding: 10px;
    }

        .IRNewsHeadlineTool .Data:nth-child(2) {
            border-top: 1px solid #88a3c7;
            border-bottom: 1px solid #88a3c7;
        }

        .IRNewsHeadlineTool .Data .date {
            display: block;
            font-weight: 400;
            color: #b0c5e0;
            font-style: italic;
        }

        .IRNewsHeadlineTool .Data .title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 500;
        }

            .IRNewsHeadlineTool .Data .title:hover {
                cursor: pointer;
            }

/* orders */

.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: #6ea218;
}

/* Share Price Tools - Tabs ............... */

.tabs ul li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

.tabs-container .tabsWrapper {
    float: left;
    width: 100%;
    height: 30px;
    background: #fff;
    /*
    position: fixed;
    padding-bottom: 5px;
    background: #fff;
    transition: all 0.2s;
*/
}

    .tabs-container .tabsWrapper.shadow {
        box-shadow: 0 0 10px #ccc;
    }

.tabs-container .tabs a {
    float: left;
    color: #6ea218;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    text-decoration: underline;
}

    .tabs-container .tabs a.current, .tabs-container .tabs a:hover, .tabs-container .tabs a.current, .tabs-container .tabs a:focus {
        text-decoration: none;
        color: #8c8677;
    }

.tabs-container iframe {
    margin-top: 7px;
    width: 100%;
    height: 800px;
}

#lookupiFrame {
    height: 550px;
}

.disclaimer-IRChart, .disclaimer-IRLookup {
    display: none;
}



/* @media only screen =========================================================*/

@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }
}

.IRNewsModule .filter-wrapper .submitButton {
    margin-left: 0;
}

.IRNewsModule .search-for-box input {
    width: 53%;
}

.IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 50%;
}

    .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
        min-width: 70px;
    }

.IRNewsModule .news-filter-wrapper #select-filter {
    width: 183px !important;
}


@media only screen and (min-width: 651px) {

    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical {
        margin-top: 20px;
        display: inline-block;
        padding: 10px;
        background: #edeff0;
    }

        .IRCalcModule .vertical th {
            width: 50%;
            border-width: 1px;
            text-align: left;
        }

        .IRCalcModule .vertical td {
            font-weight: normal;
            text-align: center;
            border-right: 0;
            border-left: 0;
            width: 50%;
            text-align: right;
        }

        .IRCalcModule .vertical.table-look tr:last-child th {
            border-bottom: none;
        }
        /*
    .IRCalcModule .vertical tr {
        background: #fff;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
*/
        .IRCalcModule .vertical tr:nth-child(2n) {
        }

    .divideLine.horizontal {
        display: none;
    }

    .IRTradesModule .formatArrowPos, .IRTradesModule .formatArrowNeg {
        display: inline-block;
    }

    .IRCalcModule .calculateButton, .IRCalcModule #calculate-button, .input-wrapper.input-wrapper.buttonWrapper {
        margin-top: 5px;
        width: 100%;
    }

    .IRCalcModule .table-wrapper {
        display: none;
    }

    .table-look .vertical th {
        border: 1px;
    }

    .table-look.vertical tbody {
        display: table;
        width: 100%;
    }

    .IRLookupModule #lookup-button {
        width: 100%;
    }
}

@media only screen and (max-width: 571px) {


    .IRNewsModule .news-filter-box .checkbox, .IRNewsModule .search-for-box {
        width: 100%;
    }

        .IRNewsModule .search-for-box .textArea {
            display: block;
        }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .searchText, .IRNewsModule .search-filter-wrapper {
        width: 100%;
    }

    .IRNewsModule .filter-wrapper .datepicker {
        width: 100%;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        float: left;
        width: 100%;
        display: block;
        margin-top: 10px;
    }

    .IRNewsModule .date-wrapper .date-selector {
        padding: 0px 12px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }

    .IRQuoteHorizontalModule h3 {
        line-height: 1;
    }

    .IRDetailedSharePrice.table-look tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .IRDetailedSharePrice.table-look tr, .IRDetailedSharePrice.table-look td {
        border-left: 0;
    }

    .table-look th.column-first, .table-look td.column-first {
    }



    .IRChartNavigation, .IRChartPlaceholderArea, .IRChartPlaceholder, .IRChartPlaceholderArea .IRChartChangePeriodOuter, .IRChartPlaceholderArea .IRChartChangePeriod {
        padding-left: 0;
        padding-right: 0;
    }

    input[type=submit] {
    }

    .IRDetailedSharePrice.table-look th {
        padding-left: 10px;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-transform: none;
    }

    .IRDetailedSharePrice.vertical td {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        font-weight: normal;
        font-size: 14px;
        height: initial;
        line-height: initial;
        white-space: initial;
        text-align: right;
    }

    .IRDetailedSharePrice.table-look th {
        width: 45%;
        text-align: left;
    }

    .IRDetailedSharePrice.horizontal {
        display: none !important;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }

    .IRLookupModule #lookup-button {
        width: 100%;
    }

    .input-wrapper.lookupButton {
        width: 100%;
    }

    .disclaimer.disclaimer-IRLookup {
        margin-top: 180px;
    }

    .IRQuoteHorizontalModule h3 {
        padding-left: 10px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod {
        width: 100%;
        text-align: center;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div {
            float: none;
            display: inline-block;
        }
}

@media (max-width: 500px) {
    .chartChangePeriod {
        width: 400px;
    }

    .IRTradesModule th.change, .IRTradesModule td.change {
        display: none;
    }

    .IRTradesModule .updated img {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        margin-right: 2%;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}

@media (max-width: 700px) {
    .IRElement11 {
        display: none;
    }
}

@media (max-width: 600px) {
    .IRElement10 {
        display: none;
    }
}

/*IRMiniquoteChart chart fix*/
@media only screen and (min-width: 681px) {
    .IRMiniquoteChartPlaceholder_outer{
        margin-left: 25px;
    }
    .IRMiniquoteChartPlaceholder .IRMiniquoteChartPlaceholder_outer .highcharts-container svg{
        overflow: visible !important;
    }
}

@media only screen and (max-width: 352px) {
    .IRMiniquoteChartPlaceholder_outer{
        margin-left: 25px;
    }
    .IRMiniquoteChartPlaceholder .IRMiniquoteChartPlaceholder_outer .highcharts-container svg{
        overflow: visible !important;
    }
}
/* End ======================================================================== */
