@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('fonts/HelveticaLTStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/HelveticaLTStd-Light.woff.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
    overflow-x: hidden;
    margin: 0px;
    color: #666666;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Open Sans', serif;
    font-size: 12px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', serif;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.wrapper {
    /*max-width: 60em;*/
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}
/*____ ul li Tabs _____*/
li {
    border: 0;
}

a.minusIcon {
    height: 20px;
    cursor: default;
    background-position: center center;
    background-size: 20px 20px;
}

ul {
    list-style-type: none;
}

.category_Investorpresentations {
    display: none;
}

button {
    font-family: inherit;
    display: inline-block;
    padding: 0 20px 0 20px;
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-size: 16px;
}

    button:hover {
        background-color: #A9A49F;
    }
/* download Centre Search */
#searchForKeyword {
    height: 20px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.searchWrapper {
    width: 350px;
    height: 100px;
}

.checkboxCategory {
    float: left;
    clear: both;
}

#searchForKeyword {
    width: 100%;
    clear: both;
    /*float: left;*/
}

#categorySearchBtn {
    max-width: 100px;
    clear: both;
    border: none;
    float: right;
    margin-top: -40px;
}

.listenOn {
    font-size: 12px;
    margin-top: 14px;
}

.checkBoxWrapper {
    width: 50%;
    height: 15px;
    margin-top: 10px;
    line-height: 20px;
}


.current button {
    background-color: #cf150a;
    border: 0;
    color: #fff;
    outline: 0;
    /*padding: 17px 5px;*/
}
/*_________________________*/


/*.current button:hover {
		background-color: #C12054;
		border: 0;
		color: #fff;
		outline: 0;
	}*/

#tab-one {
    display: block;
    /*width: 200px;
	height: 200px;*/
}

#tab-two {
    display: none;
    /*width: 200px;
	height: 200px;*/
}

.li-tab {
    width: 100%;
}

.ul-list-tabs {
    /*display: inline-flex;*/
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 0px;
    clear: both;
}

    .ul-list-tabs:after {
        clear: both;
        content: '';
        display: table;
    }

    .ul-list-tabs li {
        float: left;
    }

.list_reset {
    /* font-size: 1em; */
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul-list-tabs button {
    width: 100%;
    border: none;
}

/*_________END_______*/


/*_____TAB CONTENT_______*/
.tab-content {
    /*padding: 20px 15px;*/
}

.select-style {
    margin: 45px 20px 0px 20px;
    border: 1px solid #ccc;
    width: 120px;
    height: 22px;
    overflow: hidden;
    background: #fff url("../../includes/images/select_arrow.png") no-repeat 90% 50%;
    background-size: 10px;
}

    .select-style select {
        padding: 0px 8px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .select-style select:focus {
            outline: none;
        }

select::-ms-expand {
    display: none;
}

/*.pointer {
	position: relative;
	margin: 0 auto;
	height: auto;
}


	.pointer::after {
		position: absolute;
		top: 100%;
		left: 50%;
		content: '';
		width: 0;
		height: 0;
		border-top: solid 10px #a11a46;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
	}*/
/*______END_________*/

/*______Table______*/
.announcementsHeader {
    margin-bottom: 20px;
    height: 25px;
}

    .announcementsHeader span {
        font-size: 21px;
        color: #666;
    }

.announcementsWidgetHeader {
    height: 50px;
    padding: 0 20px 0 20px;
    line-height: 50px;
    background-color: #cf150a;
}

    .announcementsWidgetHeader span {
        color: #fff;
        font-size: 18px;
    }

.IRDownloadCentreFooter {
    padding: 0 20px 0 20px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

    .IRDownloadCentreFooter span {
        font-size: 16px;
        color: #cf150a;
    }

.headline a.minusIcon {
    background-image: none;
}

.table-look {
    border-spacing: 0;
}

    .table-look th {
        font-family: inherit;
        line-height: 17px;
        font-size: 16px;
        height: 36px;
    }


    .table-look th, .table-look td {
        padding: 3px 0px;
        border: none;
        vertical-align: middle;
        font-weight: normal;
    }

    .table-look td {
        border: none;
        border-top: 1px solid #ccc;
        color: #CF150A;
        line-height: 60px;
        vertical-align: middle;
        height: 60px;
        font-size: 14px;
        font-weight: normal;
    }

td.IRData.column-first.title.headline {
    font-weight: 600;
    color: #666;
    word-wrap: break-word;
    white-space: normal;
    line-height: normal;
}

.table-look th.column-last, .table-look td.column-last {
    padding-right: 0px;
}

.widget th.Header, .widget td.IRData {
    min-width: 65px;
    border-right: none;
}

.widget .publishDateWrapper {
    margin-left: px;
    margin-right: 0px;
}

.publishDateWrapper {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 3px;
    width: 40px;
    text-align: center;
}

    .publishDateWrapper .monthText {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 12px;
        text-transform: uppercase;
        background-color: #CF150A;
        color: #fff;
        line-height: 17px;
    }

    .publishDateWrapper .yearText {
        color: #B1B0AE;
    }

    .publishDateWrapper .dayText {
        background-color: #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        font-size: 21px;
        line-height: 25px;
        border-bottom: 1px solid #BEBEBF;
        border-left: 1px solid #bebebf;
        border-right: 1px solid #bebebf;
        color: #272727;
        font-weight: 600;
    }

.Header {
    background: #555555;
    color: #fff;
    font-weight: normal;
}


th.Header, td.IRData {
    min-width: 70px;
    text-align: center;
}

td.IRData {
    background-color: #FFF;
    white-space: normal;
}

td.title-vertical {
    text-align: left;
    line-height: normal;
    white-space: normal;
    height: 40px;
    border: none;
    border-top: 1px solid #ccc;
    background-color: #f7f7f8;
    font-weight: 600;
    color: #666;
}

th.Header-vertical.title, td.Header-vertical.title {
    height: 36px;
    line-height: 36px;
    border: none;
    background: #FFF;
    color: #666;
    font-weight: normal;
}



td.Header-vertical, td.Data-vertical {
    color: #666;
    background-color: #fff;
    border: none;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid #ccc;
}

.Header-vertical {
    width: 100%;
    text-align: left;
}

th.column-first, td.column-first {
    white-space: nowrap;
    text-align: left;
    width: 100%;
}

tr:nth-child(even) {
    background: rgb(243, 240, 232);
}

.external-link {
    background: url(../../includes/images/icon_external_link.png) no-repeat 0 0;
    display: block;
    height: 50px;
    margin-left: 15%;
    background-position: center center;
}

.pdf-link {
    background: url(../../includes/images/pdfIcon.png) no-repeat 0 0;
    display: block;
    height: 50px;
    background-position: center center;
}

.excel-link {
    background: url(../../includes/images/icon_excel_link.png) no-repeat 0 0;
    background-size: 32%;
    display: block;
    height: 20px;
    margin-left: 40%;
    background-position: center center;
    background-size: 20px 20px;
}

.plusIcon {
    background: url(../../includes/images/plusIcon.png) no-repeat;
    background-size: 30%;
    line-height: 15px;
    display: block;
    width: 50px;
    margin-left: 20px;
    background-position: center center;
}

.minusIcon {
    background: url(../../includes/images/minusIcon.png) no-repeat;
    background-size: 20%;
    line-height: 20px;
    display: block;
    cursor: default !important;
    background-position: center left;
}

.widgetArrow {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -5px;
    background-position: center center;
}

.widget-pdf-link {
    background: url(../../images/widgetPDFicon.png) no-repeat 0 0;
    background-size: 80%;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    background-position: center center;
}
/*____END_____*/


/*_______PAGINATION_______*/

/* .IRDataGroup {
		cursor: pointer;
} */
.IRDataGroup-vertical {
    display: none;
}

.IRDataGroup.hide {
    display: none;
}

.IRNewsPagination .IRNewsPageNumber.active {
    color: #272727;
    text-decoration: underline;
}

.IRNewsPagination {
    margin-top: 20px;
    text-align: center;
}


.IRNewsPageNumber {
    padding: 0 10px;
}

    .IRNewsPageNumber:hover {
        color: #058bca;
    }

.table-look a {
    font-weight: 600;
    cursor: pointer;
    color: #CF150A;
    font-size: 14px;
    text-decoration: none;
}

    .table-look a:hover {
        color: #CF150A;
    }

.widget td.IRData.press {
    border: none;
}

.widget td.IRData, .IRDownloadCentreFooter {
    background-color: #f7f7f8;
}

.widget .disclaimer {
    display: none;
}

@media screen and (max-width: 649px) {
    .scrollbox {
        display: none;
    }

    .IRDataGroup-vertical .plusIcon {
        margin-left: 0;
    }

    .category_Resultannouncements {
        display: table-row;
    }

    .IRNewsTableFooter {
        border: none;
    }

    .pdf-link {
        background: url(../../includes/images/pdfIcon.png) no-repeat 0 0;
        background-size: 60%;
        display: block;
        height: 36px;
        width: 50px;
        background-position: center center;
    }

    .plusIcon {
        background: url(../../includes/images/plusIcon.png) no-repeat;
        background-size: 30%;
        line-height: 15px;
        display: block;
        width: 50px;
        margin-left: 0px;
        background-position: center center;
    }

    .minusIcon {
        background: url(../../includes/images/minusIcon.png) no-repeat;
        background-size: 20%;
        line-height: 20px;
        display: block;
        cursor: default !important;
        background-position: center center;
    }

    .IRNewsTableFooter {
        display: none;
    }

    a.minusIcon {
        display: none;
    }
}

@media screen and (min-width: 650px) {
    table.table-look.vertical.responsive-flip {
        display: none;
    }

    .table-look {
        border-collapse: collapse;
    }
}

@media screen and (max-width: 530px) {
    .announcementsHeader span {
        clear: both;
        float: left;
    }

    .select-style {
        margin: 20px 0px 10px 0px;
        float: left !important;
        clear: both;
        width: 100%;
        background: #fff url(../../includes/images/select_arrow.png) no-repeat 97% 50%;
            background-size: 10px;
    }

    .searchWrapper {
        width: 100%;
    }
}
