* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.containerData {
    font-size: 14px;
    color: #666666;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.miniquoteDetailsWrapper .containerData .currency {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: #a6192e;
    display: inline-block;
}

.containerData .Data.change {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
}

.IRQuoteModule .formatArrowNeg, .IRQuoteModule .formatArrowPos, .IRMiniQuoteQuoteModule .formatArrowNeg, .IRMiniQuoteQuoteModule .formatArrowPos {
    margin-right: 5px;
    background-repeat: no-repeat;
}

.containerData>.Data {
    display: inline-block;
}

.txtBold {
    font-weight: bold;
}

.txtRight {
    margin-left: 4px;
}

.txt {
    font-weight: 100;
}