/* Email ALerts */
.alerts-wraapper {
    max-width: 515px;
    font-family: Arial;
    font-size: 14px;
    padding-left: 4px;
    box-sizing: border-box;
    padding-bottom: 12px;
}

    .alerts-wraapper p {
        font-size: 14px;
        word-wrap: break-word;
        line-height: 16px;
        width: 100%;
        box-sizing: border-box;
    }

    .alerts-wraapper ul li {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
    }

    .alerts-wraapper ul {
        display: block;
        padding-top: 13px;
        padding-bottom: 12px;
        line-height: 16px;
    }

.inputTextTitle {
    display: block;
    padding-left: 5px;
    padding-bottom: 8px;
    font-size: 14px;
    float: none;
    width: 100%;
    font-weight: bold;
    font-family: Arial;
}

.inputText {
    float: none;
    display: block;
    padding-left: 5px;
    width: 150px;
}

input#enterInformationEmail {
    border: 1px solid #9CA1A4;
    font-size: 14px !important;
    height: 42px;
}

.buttonStyle {
    background-color: transparent;
    color: #000;
    border: 1px solid #9CA1A4;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    float: none;
    margin-left: 5px;
    margin-top: 8px;
    width: 50px;
    line-height: 6px;
    height: 20px;
}

    .buttonStyle:hover {
        background-color: transparent;
        color: #000;
        border: 1px solid #9CA1A4;
    }

.blockInner {
    margin-top: 0;
}

.pageVerification {
    display: none;
}
