body {
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
}

.clear {
    clear: both;
}

h2 {
    font-weight: 400;
}

.formatColourPos {
    color: #1BA71B;
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 1px solid #ddd;
}

label {
    color: #000;
    font-size: 14px;
}

/*.formatColourPos::before{content:"+";}*/

.divideLine {
    margin-top: 10px;
    float: left;
    width: 100%;
}

input, select {
    padding: 0px 7px;
    line-height: 25px;
    height: 25px;
}

.wide-input {
    width: 150px;
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    color: #fff;
    font-weight: 400;
    background-color: #000;
    padding: 0 20px;
    line-height: 32px;
    height: 32px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    -webkit-appearance: none;
    border-radius: 0;
}

    input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        background-color: #000;
        border: 0;
        color: #fff;
    }

.IRQuoteModule {
    font-size: 12px;
}

.table-look {
    border: 0;
}

    .table-look th, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        border: 0;
        font-weight: 700;
        border-top: 0;
        /* border-bottom: 1px solid #78C5F9; */
        font-size: 14px;
    }

    .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        /* border-bottom: 1px solid #78C5F9; */
        background: transparent;
        border: none;
        border-bottom: 1px dotted #A8A8A8;
        color: #666;
    }

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .table-look th {
        height: 20px;
        text-align: center;
        line-height: 17px;
        background: #A8A8A8;
        color: #fff;
        font-size: 13px;
        white-space: normal;
        padding: 0 10px;
        vertical-align: middle;
    }
.exchange span {
    margin-right: 15px;
    font-size: 12px;
}
/* IRChart =============================================================== */


/*IRChartPlaceholderArea{width: 99%;}*/

.IRChartPlaceholderArea .IRChartPlaceholder {
    /*height: 400px;
    min-width: 250px;
    clear: both;
    width: 99%;*/
    /* width: 99% <--- iPhone 6+ fix to stop iFrame expanding. */
}

.highcharts-markers.highcharts-tracker path {
    fill: #db4a07;
}

.highcharts-series.highcharts-tracker > rect {
    fill: #03295A;
}

.IRChartHTMLPlaceholder {
    height: 400px;
    min-width: 250px;
    clear: both;
}

.IRChartColour {
    color: #F37020;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div {
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        color: #fff;
        background: #000;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0.25em 0 0;
    }

        .chartChangePeriod div.activePeriod {
            color: #58585a !important;
            background: #f4f4f4 !important;
            border: 1px solid #000;
        }

        .chartChangePeriod div:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
        }

        .chartChangePeriod div#max {
            border-right: 1px solid #000;
        }

.IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
    background-color: #F37020;
    color: #fff;
}
.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background-color: #A8A8A8;
    color: #fff;
}
.IRChartHTMLMiniPlaceholder {
    height: 190px;
}

.IRChartHTMLPlaceholder {
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
    color: #000 !important;
    fill: #000 !important;
}

/* End ====================================================================== */


/* IRDetailedSharePrice ===================================================== */

.IRQuoteHorizontalModule .quote {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 37px;
}

    .IRQuoteHorizontalModule .quote .current, .IRQuoteHorizontalModule .quote .change {
        margin: 20px;
        margin-left: 0;
        width: 200px;
        float: left;
    }

    .IRQuoteHorizontalModule .quote .current {
        color: #164172;
        font-size: 30px;
        float: left;
        margin: 0;
        margin-top: 45px;
    }

    .IRQuoteHorizontalModule .quote .change {
        float: left;
        color: #616161;
        font-size: 16px;
        margin-top: 45px;
    }

        .IRQuoteHorizontalModule .quote .change div {
            margin-bottom: 15px;
            font-weight: 300;
        }

.IRDetailedSharePrice.table-look th, .IRDetailedSharePrice.table-look td {
}

.IRDetailedSharePrice.table-look td {
}

table.IRDetailedSharePrice {
    width: 100%;
    margin-bottom: 30px;
}

    table.IRDetailedSharePrice tr.last {
        border-bottom: 1px solid #C2BEB3;
    }

.IRQuoteHorizontalModule h1 {
    font-size: 19.7px;
    color: #262626;
    padding-bottom: 16px;
    font-weight: normal;
    display: block;
    position: relative;
}

.IRQuoteHorizontalModule h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
}

.IRQuoteHorizontalModule h3 {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    float: left;
    width: 100%;
}

.IRDetailedSharePrice.table-look th {
}

.IRDetailedSharePrice th, .IRDetailedSharePrice td {
    padding-top: 0;
    padding-bottom: 0;
}

.IRDetailedSharePrice td {
    font-size: 14px;
    font-weight: 300;
}

.IRDetailedSharePrice .formatColourPos {
    color: #1BA71B;
}

.IRTable th {
    border-color: #000;
}


/* End ======================================================================== */


/* End ======================================================================== */

.updated {
    margin-top: 10px;
}
table.table-look.vertical.customResponsiveVertical {
        display: none;
}
table.table-look.vertical.customResponsiveVertical th {
    width: 100%;
    background: transparent;
    color: #333;
    height: 20px;
    line-height: 20px;
}
table.table-look.vertical.customResponsiveVertical td {
    background: transparent;
    text-align: right;
    height: 20px;
    line-height: 20px;
}

.basicButtonLook.colorD54B0A:hover {
    border-left: 5px solid #D54B0A;
}

.basicButtonLook.colorD54B0A.active {
    border-left: 5px solid #D54B0A;
}

.colorD54B0A.active span {
    border-left: 5px solid #D54B0A;
}

.colorIndicator.colorD54B0A.active {
    border-left: 5px solid #D54B0A;
    padding-right: 4px;
}
.exchange {
	text-align: right;
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 14px;
	color: #666;
}
.updated {
	text-align: right;
	font-size: 14px;
	color: #666;
}
.table-look th, .table-look td {
    /* padding: 0; */
    width: 50px;
}
.IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR {
    background: #F37020;
    color: #fff;
}
.IRChartNavigation .IRChartComparison:hover, .IRChartNavigation .IRChartTSR:hover {
    background: #A8A8A8;
    color: #fff;
}

.table-look th.column-last, .table-look td.column-last {
    text-align: left;
}

th.Header.change.IRElement2 {
    white-space: nowrap;
}
/* @media only screen =========================================================*/

@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100% !important;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input {
        min-width: 175px;
    }
}

@media only screen and (max-width: 700px) {
    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 53%;
    }

    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        width: 50%;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 50%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
        min-width: 70px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 183px !important;
    }
}


@media only screen and (max-width: 600px) {
    .IRNewsTool {
        border-top: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 100% !important;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 100% !important;
    }

    .IRNewsModule .IRNewsTool .IRData {
        height: 100px;
        line-height: 100px;
        padding-left: 10px;
    }

    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0px;
    }

    .emailAlerts .inputText {
        width: 95%;
    }

    .IRNewsModule .news-filter-box .checkbox {
        width: 70%;
        min-width: 80% !important;
        margin-top: 5px;
        background-size: initial !important;
        background-position-y: 0 !important;
    }

    .IRNewsModule .datepicker .textArea.from-label, .IRNewsModule .datepicker .textArea.to-label, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
        height: 30px;
        line-height: 30px;
    }

    .IRNewsModule .filterRow .textArea {
        min-width: 0;
        padding-right: 20px;
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .entriesPerPage {
        width: 100%;
        float: left;
    }

    .IRNewsModule .news-filter-wrapper .search-to, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-for-box {
        width: 100% !important;
    }

    .IRNewsModule .search-for-box .textArea {
        display: none;
    }

    .IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 70%;
        float: left;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 28%;
        float: right;
        min-width: 60px;
    }

    .IRNewsModule .newsSubmit {
        margin-right: 0px;
    }

    .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper .searchText {
        width: 183px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #bdbdbd;
        padding-left: 0;
        text-indent: 5px;
        padding-right: 0;
    }

    .IRNewsModule .IRNewsTool .time {
        display: none;
    }

    .IRNewsModule .IRNewsTool .IRHeader.IRTitle {
        width: 75%;
        font-weight: bold;
    }

    .IRNewsModule .IRNewsTool IRData.IRTitle {
        width: 100%;
        border-bottom: 0;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRData.file-type {
        width: 100%;
        padding-left: 0px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRData.IRDate {
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRHeader.IRDate, .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRData.IRDate {
        width: 100%;
        border-bottom: 0;
        height: 20px;
        line-height: 20px;
    }

    .IRNewsTool .iconPDF {
        margin-top: 11px;
    }

    .IRNewsModule {
        padding: 10px;
    }

    .news-filter-wrapper {
        border-bottom: 2px solid #cacaca;
        margin-bottom: 20px;
        padding: 0;
    }

    .IRNewsModule .newsSubmit {
        margin-top: 20px;
    }

    .IRNewsModule .submitButton {
        margin-bottom: 20px;
    }

    .IRNewsModule .IRNewsTool .IRHeader {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .IRNewsTableFooter .IRNewsPagination {
        max-width: initial;
        text-align: center;
        background: transparent;
        border-top: 1px solid #4880C4;
        z-index: 10;
    }

    DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
        width: 48%;
        font-size: 14px;
    }

    div.IRNewsTool .IRDataGroup div.IRData {
        padding-left: 3%;
    }

    .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsTool .IRDataGroup div {
        height: 25px;
        line-height: 25px;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRTitle, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 0;
    }

    div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        width: 96%;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
            margin-top: 0;
            margin-left: 0px;
            height: 25px;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
            width: 20px;
            top: 0;
        }
            /* JR Removed width: initial;*/
            div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
                background-image: url('../images/pdficonsmall.png');
                top: 0px;
            }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        top: 0;
        width: 20px;
    }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
        width: 20px;
    }

    div.IRNewsTool .IRDataGroup {
        height: 100px;
        border-bottom: 1px solid #f0f0f0;
        background: #e5e5e5;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
            font-size: 14px;
        }

    .table-look {
        border: 0;
    }

    div.IRNewsTool .IRDataGroup {
        background-color: #F8F8F8;
        color: #3D5480;
        border: 0;
        font-weight: bold;
        border-bottom: 2px solid #E9E9E9;
        border-top: 0;
    }

        div.IRNewsTool .IRDataGroup .IRDate {
            color: #6B6B6B !important;
        }

    .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
        border-bottom: 0px solid #EBEBEB;
    }

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        height: 20px;
	    text-align: left;
	    line-height: 20px;
	    border-bottom: 1px dotted #A8A8A8;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-indent: 3%;
    }
}

@media only screen and (min-width: 572px) {
    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .table-look th, .table-look td {
        padding-left: 0;
        padding-right: 0;
    }

    .IRChartNavigation, .IRChartPlaceholderArea, .IRChartPlaceholder, .IRChartPlaceholderArea .IRChartChangePeriodOuter, .IRChartPlaceholderArea .IRChartChangePeriod {
        padding-left: 0;
        padding-right: 0;
    }

    input[type=submit] {
        height: 40px;
        line-height: 40px;
    }

    .IRDetailedSharePrice.table-look th {
        padding-left: 10px;
        font-weight: bold;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }

    .IRDetailedSharePrice.vertical td {
        height: 60px;
        line-height: 60px;
        padding-left: 10px;
        font-weight: normal;
        font-size: 14px;
        height: initial;
        line-height: initial;
        white-space: initial;
        border-bottom: 1px solid #78C5F9;
    }

    .IRDetailedSharePrice.table-look th {
        width: 45%;
    }

    .IRDetailedSharePrice.horizontal {
        display: none !important;
    }

    .IRDetailedSharePrice.horizontal {
        display: none;
    }

    h3.horizontal-header {
        display: none;
    }

    .IRCalcModule .calculateButton, .IRCalcModule #calculate-button {
        margin-top: 5px;
        width: 100%;
    }

    .IRLookupModule {
        float: left;
        margin-bottom: 20px;
        width: 100%;
    }

        .IRLookupModule .lookupButton {
            width: 100%;
        }

        .IRLookupModule #lookup-button {
            width: 100%;
        }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical th {
        line-height: 60px;
        height: 60px;
        font-weight: bold;
        width: 70%;
    }

    .IRCalcModule .vertical td {
        font-weight: normal;
        border-bottom: 1px solid #ccc;
        text-align: right;
    }

    .IRCalcModule .IRToolCalcResultsTable {
        float: left;
        width: 100%;
        margin-top: 20px;
    }

    .divideLine.horizontal {
        display: none;
    }

    .IRTradesModule .formatArrowPos, .IRTradesModule .formatArrowNeg {
        display: inline-block;
    }
}

@media (max-width: 500px) {
    .chartChangePeriod {
        width: 400px;
    }
}

@media only screen and (max-width: 400px) {

    chartChangePeriod {
        width: 200px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}

/* End ======================================================================== */
/*
    IRQuoteModule    
*/
@media (max-width: 950px) {

    .horizontal.responsive .IRElement9 {
        display: table-cell;
    }
}

@media (max-width: 900px) {

    .horizontal.responsive .IRElement8 {
        display: table-cell;
    }
}

@media (max-width: 800px) {

    .horizontal.responsive .IRElement7 {
        display: table-cell;
    }
}

@media (max-width: 700px) {

    .horizontal.responsive .IRElement6 {
        display: none;
    }
}

@media (max-width: 600px) {

    .horizontal.responsive .IRElement5 {
        display: none;
    }
}

@media (max-width: 500px) {

    .horizontal.responsive .IRElement4 {
        display: none;
    }
}

@media (max-width: 400px) {

    .horizontal.responsive .IRElement3 {
        display: none;
    }
}

@media (max-width: 300px) {

    .horizontal.responsive .IRElement2 {
        display: none;
    }
}
@media (max-width: 950px) {
    .horizontal.customResponsive .IRElement9 {
        display: none;
    }
}

@media (max-width: 900px) {
    .horizontal.customResponsive .IRElement8 {
        display: none;
    }
}

/*@media (max-width: 800px) {
    .horizontal.customResponsive .IRElement7 {
        display: none;
    }
}

@media (max-width: 700px) {
    .horizontal.customResponsive .IRElement6 {
        display: none;
    }
}

@media (max-width: 600px) {
    .horizontal.customResponsive .IRElement5 {
        display: none;
    }
}

@media (max-width: 500px) {
    .horizontal.customResponsive .IRElement4 {
        display: none;
    }
}

@media (max-width: 400px) {
    .horizontal.customResponsive .IRElement3 {
        display: none;
    }
}


@media (max-width: 300px) {
    .horizontal.customResponsive .IRElement2 {
        display: none;
    }
  }