

body {
    font-family: Helvetica, sans-serif;
    color: #20245a;
    overflow: hidden;
    font-size: 14px;
}

input[type=submit] {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #E2001A;
    padding: 5px 10px;
    font-size: 14px;
    height: inherit;
    line-height: inherit;
    border-radius: 3px;
}

    input[type=submit]:hover {
        color: #fff;
        background-color: #000;
    }

input[type=number], input[type=submit] {
    font-size: 14px;
}

.table-look {
    border: 0;
}

    .table-look th, .table-look td {
        padding: 0 5px 0 5px;
        line-height: 36px;
        height: 36px;
    }

    .table-look th {
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        font-size: 14px;
        color: #fff;
        background: #0095a0;
        border: 0;
    }

    .table-look td {
        border-bottom: 1px solid #ddd;
    }


.IRChartHTMLPlaceholder.IRChartHTMLMiniPlaceholder {
    height: 380px;
}

/* IRChart =============================================================== */
.updated {
    text-align: right;
    margin-top: 10px;
}

.IRChartColour {
    color: #2FAE55;
}

.IRChartNavigation {
    margin-top: 20px;
}

    .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR {
        background: #2fa986;
        color: #fff;
    }

        .IRChartNavigation .IRChartComparison:hover, .IRChartNavigation .IRChartTSR:hover {
            background: #20245a;
        }

.tooltipHTML {
    background-color: #fff;
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px 2px #ccc;
    box-shadow: 0px 0px 2px 2px #ccc;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    width: 140px;
    padding: 5px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

.chartLastPrice {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.chartLastPriceTime {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
}

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 485px;
}

.chartChangePeriod {
    width: 450px;
}

    .chartChangePeriod div,
    .IRChartChangePeriod div {
        background: #0095a0 none repeat scroll 0 0;
        color: white;
        font-size: 12px;
        position: relative;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-transition: background-color .3s ease;
        -moz-transition: background-color .3s ease;
        -o-transition: background-color .3s ease;
        transition: background-color .3s ease;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod,
        .IRChartChangePeriod div.activePeriod {
            background: #fff;
            color: #555;
        }

            .chartChangePeriod div:hover,
            .IRChartChangePeriod div:hover, .chartChangePeriod div.activePeriod:hover,
            .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
                background-color: #eee;
                border-color: #eee;
                color: #0095a0;
            }

/*.chartChangePeriod div#max,
        .IRChartChangePeriod div#Max {
            border-right: 1px solid #20245a;
        }*/

.IRChartHTMLPlaceholder {
    height: 500px;
    min-width: 300px;
    clear: both;
}

.tooltipHTML {
    background-color: #fff;
}

.IRChartClientName {
    color: #666;
}

.IRChartCurrency {
    color: #666;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 12px !important;
    font-family: Helvetica, sans-serif;
}
/* End ======================================================================== */


/* IRCalc ==================================================================== */
#calc-form {
    margin-top: 20px;
}

.IRCalcModule label {
    font-size: 16px;
}

.IRCalcModule select {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    height: inherit;
}
/* End ======================================================================== */


/* Miniquote ================================================================== */
.IRMiniquoteChartModule .IRMiniquoteChartPlaceholder {
    margin-bottom: 10px;
    clear: both;
}

.IRMiniquoteChartModule .highcharts-container {
    height: 150px;
}

disclaimer-IRMiniquoteChart {
    top: 40px;
}

.IRMiniquoteChartModule .table-wrapper {
    height: 80px;
    background: #0095A0;
}

.IRMiniquoteChart.last-price {
    width: 125px;
    float: left;
    border: 0;
    margin-left: 15px;
    height: 93px;
}

.IRMiniquoteChart.change {
    float: right;
    width: 75px;
    text-align: left;
}

    .IRMiniquoteChart.change th {
        padding-top: 10px;
    }

    .IRMiniquoteChart.change td {
        padding-bottom: 0px;
    }

    .IRMiniquoteChart.change th, .IRMiniquoteChart.change td {
        float: left;
    }

.IRMiniquoteChartModule .table-look th {
    background: #0095A0;
}

.IRMiniquoteChartModule .table-look, .IRMiniquoteChartModule .table-look th, .IRMiniquoteChartModule .table-look td {
    color: #fff;
    border: 0;
}

    .IRMiniquoteChartModule .table-look th {
        font-weight: normal;
        font-size: 25px;
    }

    .IRMiniquoteChartModule .table-look.change td {
        font-size: 15px;
        font-style: italic;
    }

.IRMiniquoteChartModule th.column-first {
    font-style: italic;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    font-weight: 300;
    width: 125px;
    text-align: center;
    padding-bottom: 3px;
}

.IRMiniquoteChartModule td.column-first {
    line-height: 50px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    width: 125px;
    padding: 0;
}
/* End ======================================================================== */

.IRPerformanceModule .Data {
    text-align: center;
}

.IRPerformanceModule .table-look th, .IRPerformanceModule .table-look td {
    border: none;
}

.IRPerformanceModule .table-look th {
    border: 1px solid #001f5b;
    background: #001f5b;
    color: #fff;
}


.highcharts-navigator-handle-right rect {
    fill: #0095a0;
}

.highcharts-navigator-handle-right path {
    fill: #fff;
}

.highcharts-navigator-handle-left rect {
    fill: #0095a0;
}

.highcharts-navigator-handle-left path {
    fill: #fff;
}

/* Chart period change */
.IRChartPlaceholderArea .IRChartChangePeriodOuter {
    width: 100%;
    position: absolute;
    bottom: -65px;
}


.IRChartPlaceholderArea .IRChartChangePeriod {
    width: 100%;
}

.IRChartChangePeriod div {
    background: #0095a0 none repeat scroll 0 0;
    color: white;
    /* font-size: 12px; */
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

/*.periodRowOne, .periodRowTwo, .periodRowThree {
    margin: 2px 0px;
    width: 100% !important;
    height: 40px;
    line-height: 40px;
    background: none !important;
    border: none !important;
}*/

#d1, #d5, #m1, #m3, #m6, #y1, #y2, #y5, #Max {
    height: 40px;
    line-height: 40px;
    width: 24%;
    margin-left: 1px;
    margin-right: 1px;
}

span#periodHeader {
    font-size: 14px;
    color: rgb(0, 149, 160);
    font-weight: bold;
    padding-left: 5px;
    line-height: 45px;
}




/* @media only screen =========================================================*/
@media only screen and (min-width: 572px) {
    .IRToolCalcResultsTable.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .table-look th, .table-look td {
        text-align: left;
    }


    .table-look th {
        width: 40%;
    }

    .IRQuoteModule .high, .IRQuoteModule .low, .IRQuoteModule .bid, .IRQuoteModule .ask, .IRQuoteModule .volume {
        display: none;
    }

    .IRChartHTMLPlaceholder {
        height: 350px;
    }

    .IRPerformanceModule .table-look th {
        text-align: center;
    }

    .IRPerformanceModule .table-look .column-first {
        text-align: left;
    }
}

@media (max-width: 500px) {
    .IRPerformanceModule .horizontal.responsive .months6 {
        display: table-cell;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#m6, .IRChartPlaceholderArea .IRChartChangePeriod div#y5, .IRChartPlaceholderArea .IRChartChangePeriod div#m3 {
        display: block;
    }
}

@media only screen and (max-width: 430px) {
    #hideH, #hideD {
        display: none;
    }
}
/* End ======================================================================== */


.IRChartPlaceholderArea .IRChartChangePeriod div:hover {
    background-color: #eee;
}

.disclaimer.disclaimer-IRChart,
.disclaimer-IRPerformance {
    display: none;
}

@media only screen and (max-width: 400px) {

    #d1, #d5, #m1, #m3, #m6, #y1, #y2, #y5, #Max {
        width: 23.5%;
    }
}
