
body {
    font-size: 12px;
    /*font-size: 16px;*/
    font-family: Arial;
    font-weight: 400;
    color: #333;
}

.disclaimer{display: none;}

.table-look th, .table-look td {
    border: none;
    padding: 6px 12px;
}
.IRChartNavigation .IRChartMenuTrigger {
    background-color: #fff;
    float: right;
    cursor: pointer;
    /* border: 1px solid #eee; */
    border-left: 1px solid #eee;
    color: #333;
}

    .IRChartNavigation .IRChartMenuTrigger:hover {
        color: #349A37;
        border-left: 1px solid #349A37;
    }

.disclaimer-customMiniquote a,
.disclaimer-customMiniquote a:visited {
    color: #353535;
}

.formatArrowNeg {
    /*height: 10px;*/
    margin-right: 5px;
    background: no-repeat;
    background-size: 10px;
    background-image: url('../images/medium-down.gif');
    background-position: center center;
}

.formatArrowPos {
    margin-right: 5px;
    background: no-repeat;
    background-size: 10px;
    background-image: url('../images/medium-up.gif');
    background-position: center center;
}

.formatArrowDef {
    margin-right: 5px;
    background: no-repeat;
    background-size: 10px;
    background-image: url('../images/medium-unchanged.gif');
    background-position: center center;
}

.IRChartModule * {
    font-size: 12px;
}

.IRChartModule .IRChartPlaceholderArea .IRChartChangePeriodOuter .IRChartChangePeriod div.activePeriod {
    background-color: #3FA43C;
}

.IRChartColour {
    color: rgb(63, 168, 54);
}

.IROrdersModule .orderDepthBarLeft .progress-bar {
    background-color: rgb(63, 164, 60);
}

table.IRToolQuoteTable.table-look.responsive th {
    font-weight: bold;
    line-height: 11pt;
}


.IRCalcSection .floatBoxOuter {
    width: 100%;
    display: block;
    float: left;
    margin-top: 15px;
    max-width: 600px;
    float: none;
    margin: auto;
    border: 0px solid red;
    height: 80px;
}

.IRCalcSection .floatBoxOuterRes {
    max-width: 600px;
    float: none;
    margin: auto;
    border: 0px solid red;
    height: 80px;
}

.IRLookupSection .floatBoxOuter {
    width: 100%;
    display: block;
    float: left;
    margin-top: 15px;
    max-width: 600px;
    float: none;
    margin: auto;
    border: 0px solid red;
    height: 80px;
}

.IRCalcSection .floatBox {
    display: block;
    float: left;
    height: 60px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.IRLookupSection .floatBox {
    display: block;
    float: left;
    height: 60px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}







.IRCalcSection .floatBox.right {
    float: right;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
}

.IRLookupSection .floatBox.right {
    float: right;
    height: 60px;
    line-height: 60px;
    padding-left: 5px;
}

.IRCalcModule .IRCalculateButton {
    border: none;
    background-color: #D42D27;
    color: #fff;
    font-weight: bold;
    border: 1px solid #D42D27;
    height: 58px;
    line-height: 58px;
    text-align: center;
    width: 200px;
}

    .IRCalcModule .IRCalculateButton:hover {
        cursor: pointer;
    }

.IRLookupSection .IRLookupButton {
    border: none;
    background-color: #D42D27;
    color: #fff;
    font-weight: bold;
    border: 1px solid #D42D27;
    height: 58px;
    line-height: 58px;
    text-align: center;
    width: 200px;
}

    .IRLookupSection .IRLookupButton:hover {
        cursor: pointer;
    }

.IRCalcSection .IRCalcButton {
    border: none;
    line-height: 30px;
}

.IRLookupSection .IRCalcButton {
    border: none;
    line-height: 30px;
}


h3 {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    margin: 1.25rem 0rem .625rem 0rem;
    vertical-align: baseline;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 30px;
    border: 1px solid #D9D9D9;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #404040;
}

.dividerBar {
    border: 1px solid #D9D9D9;
}


/*select, input {
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    border: 1px solid #D9D9D9;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    width: 200px;
}

select {
    padding-left: 15px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0.01px;
    text-overflow: "";
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
    background-image: url('Images/dropdownArrow.png');
    background-repeat: no-repeat;
    background-position: right top;
}*/

select {
    height: 20px;
    /*height: auto;*/
    cursor: pointer;
    line-height: 12px;
    font-family: inherit;
    font-size: 12pt;
    padding: 0px 12px;
    max-width: 96px;
}

    select::-ms-expand {
        display: none;
    }

.IRChangeListing select {
    width: 290px;
}

input {
    padding-left: 30px;
    width: 170px;
}

.input-row {
    position: relative;
    height: 35px;
}




.calcResultOuter .floatBoxOuter,
.calcResultOuter .floatBox {
    line-height: 15px;
    height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}

.floatBoxOuter sup {
    font-size: 12px;
    vertical-align: super;
}



.floatBoxOuterRes {
    width: 100%;
    height: 30px;
    clear: both;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .floatBoxOuterRes .floatBoxInner {
        line-height: inherit;
    }

        .floatBoxOuterRes .floatBoxInner.left {
            float: left;
        }

        .floatBoxOuterRes .floatBoxInner.right {
            float: right;
        }



label {
    font-size: 12pt;
}



input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(images/calendar.gif);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}



/* IRPerformanceModule =========================================== */

.IRPerformanceModule{background-color:#EA5E0D; color: #fff; width:100%; overflow: hidden; height: 37px; line-height: 37px;}
.IRPerformanceModule .mask{float: left;}
.IRPerformanceModule .Data{float: left; height:37px; line-height: 37px; display: inline; color: #fff;}
.IRPerformanceModule li{list-style-type: none;}
/* End =========================================================== */

/* Media Queries ================================================= */


@media only screen and (max-width: 800px) {
    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input {
        min-width: 175px;
    }
}



@media only screen and (min-width: 572px) {
    h3.vertical-header {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media (max-width: 400px) {

    table.IRQuoteModule {
        margin-left: -1px;
        margin-right: -1px;
    }

    div.IRNewsModule div.IRData {
        padding-left: 0 !important;
    }

    div.IRNewsModule div.IRTitle {
        max-width: 230px;
        overflow: hidden;
    }
}

.IRDownloadPDF {
    display: inline;
}

.IRDownloadPDF {
    display: inline;
}

.IRDownloadKB {
    display: inline;
}
/* IRNews end */


.IRDetailedSharePrice th.Header {
    background-color: #EEEFEF;
    color: #2a2623;
}

th.Header {
    font-weight: bold;
    text-align: right;
    background-color: #EEEFEF;
}

.IRDetailedSharePrice.table-look.horizontal th.Header {
    /*border-top: 1px solid #BFBFBF;*/
    font-weight: bold;
}

.IRDetailedSharePrice.table-look.horizontal td.Data {
    background-color: #FFF;
}

.table-look th, .table-look td {
    text-align: right;
}

td.Header.profile {
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: left;
    border-right: none;
}


td.Data.profile{
    font-size: 12px;
    border: 1px solid #ccc;
    border-left: none;
}
#profile-table tr:nth-child(odd){
    background: #EEEFEF;
    border: 1px solid #ccc;
}

.table-look {
    border: 0px solid #ffffff;
    border-collapse: collapse;
}



/* Miniquote */
.miniquote-name {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #5F5F5F;
    text-transform: uppercase;
}

.IRMiniquoteModule {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #EEEFEF;
}

.Data.miniquote-last {
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
}

.Data.change.miniquote-change-today {
    /*float:left;*/
    padding-bottom: 10px;
    /*padding-top: 10px;*/
}

#yearToDate{
    margin-left: 30px;
}
.IRQuoteModule * {
    color: #404040;
    font-size: 12px;
}

.IRQuoteModule .lastAndCurrency {
    font-weight: bold;
}

th.Header.miniquoteChart {
    background-color: #fff;
    text-align: left;
}

#lookup-form {
    line-height: 30px;
    padding: 6px 12px;
}

#lookup-button {
    -webkit-appearance: none;
    border: none;
    /*margin-top: 5px;*/
    background-color: #d7d7d7;
    color: #333;
    /*border: 1px solid #A9A9A9;*/
    height: auto;
    text-align: center;
    /* width: 200px; */
    box-shadow: none;
    font-size: 12pt;
    width: 96px;
}

.option-select {
    width: 96px;
}


.IRLookupSection .floatBox.left {
    width: 110px;
}


.IRLookupSection .floatBox .date-select {
    width: 95px;
}


.IRChartModule .IRChartComparison {
    font-weight: bold;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.IRChartNavigation .IRChartComparison:hover {
    background-color: #ffffff;
    border-left: 1px solid #349a37;
    color: #349a37;
}

.IRChartNavigation .IRChartComparison.active {
    background-color: #fff;
}

/*.IRChartModule .IRChartComparison {
    background-color: #fbce07
}*/



IRLookupResultsTable th, .IRLookupResultsTable td {
    font-size: 12pt;
    padding: 6px 12px;
    color: #333;
}

.IRLookupResultsTable th {
    font-weight: bold;
    font-size: 12px;
}



@media screen and (max-width: 720px) {
    .volume {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .low {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .high {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .IRChartModule .IRChartComparison {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .ask {
        display: none;
    }

    table.IRToolQuoteTable.table-look.responsive .bid {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .last, .updated-timestamp {
        display: none;
    }

    .ui-datepicker-trigger {
        display: none;
    }
}



/* End =========================================================== */