
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    margin: 0;
    outline: none;
}

    select::-ms-expand {
        display: none;
    }

a {
    text-decoration: none;
}

strong, b, strong *, b * {
    font-weight: bold !important;
}

/* style */
.table-look td.formatColorNeg, .table-look td.formatColourNeg {
    color: red;
}

.table-look td.formatColorPos, .table-look td.formatColourPos {
    color: green;
}

em, i, em *, i * {
    font-style: italic !important;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

h2 {
    font-weight: 400;
}

.formatColourPos {
    color: #1BA71B;
}

.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 1px solid #ccc;
}

label {
    color: #333333;
    font-size: 14px;
    font-family: 'JohnSansWhitePro-Bold', RobotoRegular, Helvetica, Arial;
}

/*.formatColourPos::before{content:"+";}*/

.divideLine.horizontal {
    margin-top: 30px;
    float: left;
    width: 100%;
}

.divideLine.vertical {
    display: none;
}

input, select {
    padding: 0px 7px;
    line-height: 25px;
    height: 25px;
}

.wide-input {
    width: 195px;
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    color: #fff;
    font-weight: 700;
    background-color: #338dba;
    padding: 0 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    /*font-weight: 700;*/
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    -webkit-appearance: none;
}

    input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        /*         background-color: #066891; */
        background-color: #0071a9;
        border: 0;
        color: #fff;
        box-shadow: none;
    }

/*	
    input[type=submit]:focus, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:focus {
        outline: none;
        background: #066891;
		background-color: #b71C78;
        border: 0;
        color: #fff;
    }
*/

.IRQuoteModule {
    font-size: 15px;
}

.table-look {
    border: 0;
    /*   border-bottom: 1px solid #e1e1e1; */
}

    .table-look th, .table-look td {
        border-bottom: 1px solid #cccccc;
    }

.sharepriceWrapper .table-look {
    border: 0;
}

.table-look th {
    border: 0;
    border-top: 0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.table-look td {
}

.table-look th, .table-look td {
    height: 50px;
    text-align: left;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}


/* customized table-look */
.table-look th {
    /*  color: #002b54; */
    color: #ffffff;
    background-color: #666666;
    font-family: 'JohnSansMediumPro-Bold', RobotoRegular, Helvetica, Arial;
    font-weight: 400;
    font-size: 16px;
    border-right: 1px solid #8e8e8e;
    padding-left: 20px;
}

    .table-look th:first-child {
        /* border-radius: 3px 0 0 3px; */
    }

    .table-look th:last-child {
        /* border-radius: 0 3px 3px 0; */
        border-right: 0px;
    }

.table-look td {
    border-left: none;
    border-right: none;
    font-family: 'JohnSansWhitePro-Bold', RobotoRegular, Helvetica, Arial;
    border-radius: 0;
    font-size: 16px;
    color: #333333;
    background: #ededed;
    border-top: 4px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 0px;
    padding-left: 20px;
}

    .table-look td:last-child {
        /* border-radius: 0 3px 3px 0; */
        border-right: 0px;
    }

.table-look tr {
    background: #fff;
}

/*    .table-look tr:nth-child(2n) {
        background: #f5f5f5;
    } */

.table-look th.column-last, .table-look td.column-last {
    text-align: right;
    padding-right: 20px;
}


/* IRNewsModule ============================================================ */

.IRNewsModule {
    font-size: 14px;
    background: transparent;
}

    .IRNewsModule .filter-wrapper {
        width: 100%;
        float: left;
    }

.news-filter-wrapper {
    width: 100%;
    padding: 0px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: left;
    padding: 0.91em;
}

.IRNewsModule h2 {
    font-size: 36px;
    color: #338cb6;
    line-height: 36px;
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
    width: 100%;
    padding-bottom: 0px;
    border-bottom: 1px solid #cccccc;
    display: none;
}

.IRNewsModule input, .IRNewsModule textarea {
    color: #666666;
}

.IRNewsModule .placeholder {
    color: #aaa;
}

.IRNewsModule input:focus, .IRNewsModule textarea:focus {
    box-shadow: none;
    outline: none;
}

.news-filter-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    /*overflow: hidden;*/
    width: 100%;
}

.IRNewsModule .search-for-box {
    width: 370px;
    float: left;
    margin-bottom: 5px;
}

.news-filter-wrapper .news-filter-box {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.IRNewsModule .news-filter-box label {
    line-height: 26px;
}

/*
.IRNewsModule .news-filter-box .checkbox.checked {
    background-image: url('images/checkbox_true.png');
}
*/

.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/select.png);
    border: 1px solid #e1e1e1;
    width: 183px;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    font-family: 'JohnSansWhitePro-Bold', RobotoRegular, Helvetica, Arial;
    font-size: 14px;
}

    .IRNewsModule .news-filter-wrapper select:focus, .IRNewsModule .news-filter-wrapper #from-month:focus, .IRNewsModule .news-filter-wrapper #to-month:focus, .IRNewsModule .news-filter-wrapper #from-year:focus, .IRNewsModule .news-filter-wrapper #to-year:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #e1e1e1;
    }

.IRNewsModule .news-filter-wrapper #select-filter {
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    width: 183px;
}

.IRNewsModule .news-filter-wrapper .filterRow {
    width: 370px;
    float: left;
    margin-left: 30px;
}

    .IRNewsModule .news-filter-wrapper .filterRow ul li {
        float: left;
    }

        .IRNewsModule .news-filter-wrapper .filterRow ul li input[type="radio"] {
            position: absolute;
            left: -999999px;
        }

        .IRNewsModule .news-filter-wrapper .filterRow ul li .radio {
            padding-left: 25px;
            background: url(images/radio.png) left center no-repeat;
            font-size: 16px;
            cursor: pointer;
            margin-right: 20px;
        }

            .IRNewsModule .news-filter-wrapper .filterRow ul li .radio.active {
            }

        .IRNewsModule .news-filter-wrapper .filterRow ul li input[type="radio"]:checked + label {
            background: url(images/radio-active.png) left center no-repeat;
        }

.IRNewsModule .news-filter-wrapper .searchText {
    cursor: text;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    height: 40px;
    min-width: 370px;
    font-size: 14px;
    color: #777777;
}

    .IRNewsModule .news-filter-wrapper .searchText::-webkit-input-placeholder {
        color: #777;
    }

.IRNewsModule .news-filter-wrapper label {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    background-color: transparent;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    font-weight: bold;
}

.IRNewsModule .news-filter-wrapper .textArea {
    float: left;
    min-width: 140px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    font-family: 'JohnSansWhitePro-Bold', RobotoRegular, Helvetica, Arial;
    width: 100%;
}

.IRNewsModule .search-for-box input {
}

.IRNewsModule .news-range .textArea {
    width: 100%;
}

.IRNewsModule .search-for-box .textArea {
}

.IRNewsModule .news-filter-wrapper .filterRow input {
    height: 30px;
    line-height: 30px;
    margin: 0px;
    border: none;
    float: left;
    background: none;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper .radiofix {
    position: relative;
    margin-right: 5px !important;
    float: left;
    top: 7px;
}

.IRNewsModule .news-filter-wrapper .form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #to-year, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #from-month {
    padding: 0px;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #777777;
}

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #select-filter {
    min-width: 200px;
    height: 40px;
    line-height: 40px;
    color: #777777;
    font-size: 14px;
    border: 1px solid #ccc;
    font-family: 'JohnSansWhitePro-Bold', RobotoRegular, Helvetica, Arial;
    padding: 0 15px;
    font-weight: 300;
    margin-right: 5px;
    font-size: 14px;
}

.IRNewsModule .news-filter-wrapper #select-filter, .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    font-family: 'JohnSansWhitePro-Bold', RobotoRegular, Helvetica, Arial;
    font-weight: 400;
    padding: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #777777;
    float: right;
}

.IRNewsModule .news-filter-wrapper #select-filter {
    width: 100%;
}

.IRNewsModule .datepicker {
    float: left;
}

.bottom-controls {
    width: 100%;
    float: left;
}

.IRNewsModule .search-filter-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
    width: 370px;
}

.IRNewsModule .news-filter-wrapper .search-from {
    float: left;
}

.IRNewsModule .news-filter-wrapper .search-per-page {
    float: left;
    margin-top: 30px;
    width: 370px;
    margin-right: 30px;
}

.IRNewsModule .news-filter-wrapper .search-to {
    float: left;
    margin-left: 30px;
}

.IRNewsModule #ui-datepicker-div {
    margin-top: 0;
}

.IRNewsModule .news-filter-wrapper input#refreshiframe {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    width: 80px;
    margin-top: 10px;
}

.IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to, .IRNewsModule .datepicker input.from, .IRNewsModule .datepicker input.to {
    width: 240px;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
}

.IRNewsTool {
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .IRNewsTool .IRDataGroup div {
        border-bottom: 0;
    }

.IRNewsModule .entriesPerPage {
    float: right;
}

.IRNewsModule .records-per-page #entriesPerRow {
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 120px;
    font-size: 12px;
}

.IRNewsModule .news-filter-box .textArea {
    width: 100%;
}

.IRNewsModule .datepicker .textArea.date-range {
    margin-top: 10px;
    width: 100%;
}

.IRNewsModule .news-range .submitButton {
    margin-bottom: 10px;
}

.IRNewsModule .submitButton {
    margin-top: 20px;
    float: left;
    width: 100%;
}

input#from.hide-background, input#to.hide-background {
    background: none;
}

.ui-datepicker-divHide {
    display: none;
}

input#from, input#to {
    background-image: url(images/calendar.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    font-size: 12px;
}

.IRNewsModule .newsSubmit {
    /*margin-right: 63px;*/
}

/*.IRNewsModule .news-filter-wrapper select {
    background-image: url(images/select.png);
}*/

/* NewsContent ======================================================== */


.IRNewsModule .NewsDataGroupWrapper {
    border-bottom: 1px solid #3684c3;
    float: left;
    width: 100%;
}

DIV.IRNewsTool .IRHeaderGroup DIV.IRTitle.IRHeader, DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
    width: 51%;
    font-size: 16px;
    /*font-weight: 700;*/
    height: 50px;
    text-overflow: ellipsis;
}

.IRNewsTool .IRDataGroup div {
}

.IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
    font-weight: 300;
    font-size: 14px;
    height: 50px;
    width: 18%;
    /*background-color: #f5f5f5;*/
    line-height: 40px;
}


div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDownload, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
    width: 25%;
    /* line-height: 5px !important; */
}

.IRNewsModule .news-filter-wrapper .newsSubmit {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.IRNewsModule .IRNewsTool .IRHeader, .IRNewsModule .IRNewsTool .IRData {
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    float: left;
    text-align: left;
    font-size: 16px;
}

.IRNewsModule p {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.IRNewsModule .IRNewsTool .IRHeader.pagination {
    width: 40%;
    margin: 0;
    padding: 3px;
    border-radius: 0;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
    /* background: url(images/pdf.png) no-repeat left center; */
    width: 20px;
}

    /* JR: removed width: initial;*/

    div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        background-image: url('../images/pdficonsmall.png?dp');
        float: left;
        margin-top: 0px;
        height: 44px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 16px;
    }

.IRNewsPagination {
    max-width: none;
    padding: 0;
    padding-right: 5px;
}

    .IRNewsPagination .IRNewsPaginationPageNew.active {
        font-weight: 700;
        color: #666666;
    }

    .IRNewsPagination .IRNewsPaginationPagePrev {
        background-image: url('images/prev3.png');
        background-repeat: no-repeat;
        /*background-position: center center;
        display: none;*/
        background-position: 0% 50%;
        width: 70px;
        float: left;
    }

    .IRNewsPagination .IRNewsPaginationPageNext {
        background-image: url('images/next3.png');
        background-repeat: no-repeat;
        /*background-position: center center;
        display: none;*/
        background-position: 100% 1px;
        width: 70px;
        float: right;
    }

.IRNewsTableFooter {
    /*max-width: 400px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    margin-top: 3px;
}

.IRNewsPaginationPageNew {
    width: 42px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    /*font-weight: 700;*/
    color: #04474D;
}

.IRNewsTableFooter .IRNewsPagination {
    font-size: 14px;
    text-transform: capitalize;
    max-width: initial;
    text-align: center;
    height: 50px;
    line-height: 15px;
    padding: 30px 0 35px 0;
}

.IRNewsPagination .IRNewsPageNumber {
    font-size: 16px;
    font-weight: normal;
    color: #497FC4;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

    .IRNewsPagination .IRNewsPageNumber.active {
        color: #757575;
    }

.IRNewsModule .IRNewsTool IRData.IRTitle {
    color: #333;
    text-align: left;
}

.IRNewsModule .IRNewsTool .IRData.IRDate {
    color: inherit;
    vertical-align: middle;
    /* width: 23%; */
    color: #0071a9;
}

.IRNewsModule .IRNewsTool .IRData.IRDataHover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
}

.IRNewsModule .news-table td.filterRow {
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    border-collapse: collapse;
    border: 0px solid White;
    color: rgb(18, 141, 185);
    font-weight: bold;
}

.IRNewsTool .IRDataGroup div {
    color: #A70C68;
    font-size: 14px;
    font-weight: 700;
}

.IRNewsModule .pagelabel, .IRNewsModule .pagelabelNEXT, .IRNewsModule .pagelabelPREV {
    cursor: pointer;
    font-size: 14px;
    color: #3C5267;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #3C5267;
}

.IRNewsModule .pagelabelNEXT {
    margin-left: 19px;
}

.IRNewsModule .pagelabelPREV {
    margin-right: 19px;
}

.IRNewsModule .pagelabelhidden {
    display: none;
}

.IRNewsModule .pagelabelhover, .IRNewsModule .pagelabelclick {
    color: #000;
    font-size: 14px;
}

.IRNewsModule #pagecounter {
    cursor: pointer;
}

.IRNewsModule .filesize {
    margin-bottom: 0px;
    border: 1px solid black;
}

.IRNewsModule .newsRowHidden {
    display: none;
}

.IRNewsModule .news-filter-box .checkbox {
    width: 43%;
    min-width: 43%;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #000;
    font-family: 'JohnSansWhitePro-Bold', RobotoRegular, Helvetica, Arial;
    font-size: 14px;
}

.IRNewsTool IRData.IRTitle {
    overflow: hidden;
}

.IRNewsModule .news-filter-wrapper .IRData.download {
    width: 33%;
}

/* ============================================================================ */


/* @media only screen =========================================================*/

@media only screen and (max-width: 800px) {
    .profile-wrapper .IRTable.company-listing-data {
        margin-bottom: 35px;
    }

    .profile-wrapper .table-wrapper .company-listing-data, .profile-wrapper .table-wrapper .price-data {
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        min-width: 100px;
    }

    .IRNewsModule .search-for-box, .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to,
    .IRNewsModule .news-filter-wrapper .search-per-page {
        width: 48%;
        margin-left: 0;
        margin-right: 0;
    }

    .IRNewsModule .news-filter-wrapper .searchText {
        width: 100%;
        min-width: inherit;
    }

    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .search-to {
        float: right;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
        min-width: inherit;
    }

    .IRNewsModule .news-filter-wrapper #from-year, .IRNewsModule .news-filter-wrapper #to-year {
        width: 45%;
        float: right;
    }

    .IRNewsModule .datepicker {
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        width: 53%;
    }
}

@media only screen and (max-width: 700px) {
    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 53%;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        /* margin-left: 10px; */
    }

    .IRNewsModule .news-filter-wrapper .filterRow .textArea, .IRNewsModule .news-filter-wrapper .search-to .textArea {
        min-width: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .divideLine.horizontal {
        display: none;
    }

    .divideLine.vertical {
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .textArea {
        font-size: 16px;
    }

    .IRNewsModule h2 {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .IRNewsTool {
        border-top: 0;
    }

    .IRNewsModule .search-for-box input {
        width: 100% !important;
        min-width: auto;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        width: 100% !important;
    }

    .IRNewsModule .IRNewsTool .IRData {
        height: 100px;
        line-height: 100px;
        padding-left: 10px;
    }

    .IRNewsModule .filter-wrapper .submitButton {
        margin-left: 0px;
    }

    .emailAlerts .inputText {
        width: 95%;
    }

    .IRNewsModule .news-filter-box .checkbox {
        width: 70%;
        min-width: 80% !important;
        margin-top: 5px;
        background-size: initial !important;
        background-position-y: 0 !important;
    }

    .IRNewsModule .datepicker .textArea.from-label, .IRNewsModule .datepicker .textArea.to-label, .IRNewsModule .news-filter-wrapper select {
        width: 100%;
        height: 30px;
        line-height: 30px;
    }

    .IRNewsModule .filterRow .textArea {
        min-width: 0;
        padding-right: 20px;
        width: 100%;
    }

    .IRNewsModule .news-filter-wrapper .filterRow, .IRNewsModule .news-filter-wrapper .entriesPerPage {
        width: 100%;
        float: left;
        margin-left: 0;
    }

    .IRNewsModule .select-date #from-month, .IRNewsModule .select-date #to-month {
        width: 58%;
        float: left;
        min-width: inherit;
    }

    .IRNewsModule .select-date #from-year, .IRNewsModule .select-date #to-year {
        width: 39%;
        float: right;
        min-width: 60px;
    }

    .IRNewsModule .datepicker {
        width: 100%;
    }

    .IRNewsModule .newsSubmit {
        margin-right: 0px;
        margin-top: 0;
    }

    .IRNewsModule .search-for-box input, .IRNewsModule .news-filter-wrapper .searchText {
        width: 183px;
        height: 40px;
        line-height: 40px;
        padding-left: 0;
        text-indent: 5px;
        padding: 0 10px;
        min-width: inherit;
    }

    .IRNewsModule .IRNewsTool .time {
        display: none;
    }

    .IRNewsModule .IRNewsTool .IRHeader.IRTitle {
        width: 75%;
        font-weight: bold;
    }

    .IRNewsModule .IRNewsTool IRData.IRTitle {
        width: 100%;
        border-bottom: 0;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRData.file-type {
        width: 100%;
        padding-left: 0px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRData.IRDate {
        font-size: 14px;
    }

    .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRHeader.IRDate, .IRNewsModule .IRNewsTool .IRHeader.pagination, .IRNewsModule .IRNewsTool .IRData.IRDate {
        width: 100%;
        border-bottom: 0;
        height: 20px;
        line-height: 20px;
    }

    .IRNewsTool .iconPDF {
        margin-top: 11px;
    }

    .IRNewsModule {
        padding: 0x;
    }

    .news-filter-wrapper {
        margin-bottom: 20px;
        padding: 0;
    }

    .IRNewsModule .submitButton {
        margin-top: 10px;
        width: 100%;
    }

    .IRNewsModule .IRNewsTool .IRHeader {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #select-filter {
        padding: 0 15px;
    }

    .IRNewsModule .news-filter-wrapper .newsSubmit {
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }

    .IRNewsTableFooter .IRNewsPagination {
        max-width: initial;
        text-align: center;
        /*background: transparent;
        border-top: 1px solid #4880C4;*/
        z-index: 10;
    }

    .IRNewsPaginationPageNew {
        font-size: 14px;
        letter-spacing: 0.9px;
        width: 30px;
    }

    .IRNewsPagination .IRNewsPaginationPagePrev, .IRNewsPagination .IRNewsPaginationPageNext {
        width: 65px;
    }

    DIV.IRNewsTool .IRDataGroup DIV.IRTitle.IRData {
        width: 48%;
        font-size: 14px;
    }

    div.IRNewsTool .IRDataGroup div.IRData {
        padding-left: 3%;
    }

        /*.IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsTool .IRDataGroup div {
        height: 25px;
        line-height: 25px;
    }*/

        div.IRNewsTool .IRHeaderGroup div.IRHeader.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRTitle, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData {
            border-bottom: 0;
        }

        div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
            width: 100%;
            padding: 0 10px;
            height: auto;
            line-height: 20px;
            font-size: 16px;
        }

            div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
                margin-top: 0;
                margin-left: 0px;
                height: 40px;
            }

            div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
                width: 20px;
                top: 0;
            }
                /* JR Removed width: initial;*/
                div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
                    background-image: url('../images/pdficonsmall.png');
                    top: 0px;
                }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF .iconPDF {
        top: 0;
        width: 20px;
    }

    div.IRNewsTool.IE876 .IRDataGroup div.IRData.IRDownload .IRDownloadPDF {
        width: 20px;
    }

    div.IRNewsTool .IRDataGroup {
        border-bottom: 1px solid #f0f0f0;
        background: #e5e5e5;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
            font-size: 14px;
        }

    .table-look {
        border: 0;
    }

    div.IRNewsTool .IRDataGroup {
        background-color: #fff;
        color: #3D5480;
        border: 0;
        font-weight: bold;
        border-bottom: 2px solid #E9E9E9;
        border-top: 0;
    }

        div.IRNewsTool .IRDataGroup .IRDate {
            color: #6B6B6B !important;
        }

    .table-look th, .table-look td, .IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
        height: 50px;
        text-align: left;
        line-height: 50px;
    }

    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100%;
        padding: 0 10px;
        height: auto;
        line-height: 20px;
    }


    .IRNewsModule .search-filter-wrapper {
        float: right;
        width: 100%;
        margin-bottom: 15px;
    }

    .IRNewsModule .search-for-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .IRNewsModule .news-filter-wrapper .search-from, .IRNewsModule .news-filter-wrapper .search-to {
        width: 100%;
        min-width: inherit;
        margin-left: 0;
    }

    .IRNewsModule .news-filter-wrapper .search-to {
        margin-top: 15px;
    }

    .IRNewsModule .news-filter-wrapper .search-per-page {
        width: 100%;
        margin-top: 10px;
    }

    .IRDetailedSharePrice.horizontal, h3.horizontal-header {
        display: none;
    }

    .iframeH3 {
        margin-bottom: 15px !important;
    }
}

@media only screen and (min-width: 572px) {
    .IRQuoteVerticalModule {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .table-look th, .table-look td {
        padding-left: 0;
        padding-right: 0;
    }

    .IRChartNavigation, .IRChartPlaceholderArea, .IRChartPlaceholder, .IRChartPlaceholderArea .IRChartChangePeriodOuter, .IRChartPlaceholderArea .IRChartChangePeriod {
        padding-left: 0;
        padding-right: 0;
    }

    input[type=submit] {
        height: 40px;
        line-height: 40px;
    }
}


@media only screen and (max-width: 480px) {
    div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .IRTradesModule th.changePercentage, .IRTradesModule td.changePercentage {
        display: none;
    }

    .IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month {
        margin-right: 2%;
    }



    chartChangePeriod {
        width: 200px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        display: none;
    }
}

/* End ======================================================================== */


td.Data {
    margin-top: 5px;
    background-color: #ededed;
}

.IRNewsModule .IRNewsTool .IRHeaderGroup {
    border: 0px;
    height: 50px;
    background-color: #0071a9;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

@media (max-width: 600px) {
    .IRNewsModule .IRNewsTool .IRHeaderGroup {
        display: none;
    }
}

.IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    border: 0px;
    /*border-right: 1px solid #ffffff;*/
    height: 50px;
    vertical-align: middle;
    color: #ffffff;
    line-height: 30px;
    padding: 10px;
    border-left: 1px solid #0084c6;
    box-sizing: border-box;
    background: #0071a9;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

/* data */
.IRNewsModule .IRNewsTool .IRDataGroup {
    /*height: 50px;*/
    border: 0px;
    border-top: 3px solid #ffffff;
    border-bottom: 1px solid #e9e9e9;
}

    .IRNewsModule .IRNewsTool .IRDataGroup div {
        font-weight: normal;
        border: 0px;
        padding: 5px;
        line-height: 50px;
        color: #0071a9;
        line-height: 35px;
    }

div.IRNewsTool .IRHeaderGroup div.IRHeader, div.IRNewsTool .IRDataGroup div.IRData {
    border: 0px;
}

    div.IRNewsTool .IRDataGroup div.IRData.IRTitle, div.IRNewsTool .IRDataGroup div.IRData.IRDownload {
        line-height: 40px;
        background: transparent;
    }

.IRNewsModule .news-filter-wrapper #from-month, .IRNewsModule .news-filter-wrapper #to-month, .IRNewsModule .news-filter-wrapper #select-filter {
    margin-right: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 15px;
}

select::-ms-expand {
    display: none;
}

div.IRNewsTool .IRDataGroup div.IRData.IRDownload .IRDownloadKB {
    float: none;
}

div.IRNewsTool .IRHeaderGroup div.IRHeader.IRDate, div.IRNewsTool .IRDataGroup div.IRData.IRDate {
    width: 24%;
    background: transparent;
}

.IRDataGroup:hover {
    background: #eee !important;
}
