* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.IRMiniquoteModule {
    font-weight: 400;
    font-size: 14px;
    height: auto;
    padding: 0;
    width: 100%;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.IRMiniquoteModule h2 {
    text-align: left;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    padding: 0;
    color: #0a008b;
    display: none;
}

.IRMiniQuoteQuoteModule.table-look.responsive {
    border-bottom: 0;
}

.IRMiniQuoteQuoteModule.table-look.responsive {
    width: 100%;
}

.table-look {
    border: 0;
}

.IRMiniQuoteQuoteModule .miniquoteDetailsWrapper {
    width: 100%;
    float: left;
    background-color: #007d79;
    color: #fff;
    padding: 10px;
    height: 190px;
}

.IRMiniQuoteQuoteModule .last {
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    margin: 0px 0 10px 0;
}

.IRMiniQuoteQuoteModule .currency {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 0px;
    display: none;
    color: #fff;
}

.IRMiniQuoteQuoteModule .change {
    margin-top: 12px;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #42A09F;
    font-size: 20px;
    line-height: 20px;
}

.IRMiniQuoteQuoteModule .delayed {
    margin-bottom: 0px;
    margin-top: 12px;
    margin-left: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    padding-top: 10px;
}



@media only screen and (max-width: 571px)
.IRMiniQuoteQuoteModule .change {
    width: 100%;
    letter-spacing: 1px;
}

@media only screen and (max-width: 571px)
.IRMiniQuoteQuoteModule .delayed {
    margin: 0;
    width: 100%;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1100px)
.IRMiniQuoteQuoteModule .closeDate, .IRMiniQuoteQuoteModule .change, .IRMiniQuoteQuoteModule .delayed {
    margin-top: 0;
    line-height: 20px;
}

