@font-face {
    font-family: 'FuturaBTBookRegular';
    src: url('fonts/futubw__-webfont.eot');
    src: url('fonts/futubw__-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futubw__-webfont.woff') format('woff'), url('fonts/futubw__-webfont.ttf') format('truetype'), url('fonts/futubw__-webfont.svg#FuturaBTBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBTHeavyRegular';
    src: url('fonts/futubh__-webfont.eot');
    src: url('fonts/futubh__-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futubh__-webfont.woff') format('woff'), url('fonts/futubh__-webfont.ttf') format('truetype'), url('fonts/futubh__-webfont.svg#FuturaBTHeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #525252;
    padding-left: 0;
    padding-right: 0;
    font-family: 'FuturaBTBookRegular', Arial, sans-serif;
    overflow-x: hidden;
}

h2.allTools {
    color: #009A78;
    font-weight: bold;
    font-size: 22px;
    font-family: 'FuturaBTHeavyRegular', 'Comic Sans MS', Arial, sans-serif;
}

.tools-container .right {
    display: inline-block;
    width: 58%;
    float: right;
}

.tools-container .left {
    display: inline-block;
    width: 40%;
}

iframe {
    width: 100%;
    margin-bottom: 15px;
    display: block;
}

    iframe.miniquote {
        height: 125px;
    }

    iframe.chart {
        height: 675px;
    }

    iframe.orders {
        height: 370px;
    }

    iframe.profile {
        height: 260px;
    }

    iframe.trades {
        height: 690px;
    }

    iframe.calc {
        height: 620px;
        margin-bottom: 50px;
    }

    iframe.lookup {
        height: 550px;
    }

.clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

.disclaimer {
    text-align: center;
}
.disclaimer-IROrders, .disclaimer-IRTrades, .disclaimer-IRQuote, .disclaimer-IRCalc{display: none;}
.IRQuoteHorizontalModule span.formatArrowPos {
    margin-top: 6px;
}

input[type=text] {
    border: 1px solid #ccc;
    font-weight: 700;
    font-size: 12px;
}

*.DataHover {
    background-color: transparent !important;
}

.divideLine {
    margin-top: 20px;
    float: left;
    width: 100%;
}

input, select {
    padding: 0px 7px;
    line-height: 40px;
    height: auto;
    height: 40px;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.wide-input {
    width: 195px;
}

input[type=number] {
    background: #fff;
    height: 29px;
    line-height: 29px;
}

input[type=submit], input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit {
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 4px 30px;
    height: auto;
    line-height: normal;
    width: 195px;
    background: #00C81E;
    color: #fff;
    line-height: 23px;
}

    input[type=submit]:hover, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:hover {
        color: #fff;
    }

    input[type=submit]:focus, input[type=button], .IRNewsModule .news-filter-wrapper .newsSubmit:focus {
    }

.IRQuoteModule {
    font-size: 14px;
}

    .IRQuoteModule span.arrow {
        margin-right: 3px;
    }

    .IRQuoteModule .name {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .IRQuoteModule .updated {
        text-align: right;
        margin-bottom: 15px;
        font-size: 14px;

        color: #999;
    }

.table-look {
    margin-bottom: 10px;
    border: 0;
}

.IRMiniquoteModule .table-look {
    border-bottom: 0;
}

.table-look tr {
}

.table-look td, .table-look th {
    line-height: 25px;
    padding: 0;
    border: 0;
    font-size: 16px;
    border: 1px solid #fff;
}


.table-look tr:nth-child(odd) td {
    background: #dadada;
}


.IRNewsModule .IRNewsTool .IRDataGroup div.IRData, .IRNewsModule .IRNewsTool .IRHeaderGroup .IRHeader {
    padding: 0 0 0 0;
}

.table-look th, .table-look td {
    height: 40px;
    line-height: 40px;
}

.table-look th {
    font-weight: bold;
    background-color: #009A78;
    color: #C8F000;
}

.table-look td {
    background: #e4e4e4;
}

table > tbody > tr:nth-child(odd) {
    background-color: #dadada;
}

.table-look td.formatColourPos, *.formatColourPos {
    color: green;
}

.table-look td.formatColourNeg, *.formatColourNeg {
    color: red;
}

.table-look th.column-first, .table-look td.column-first {
    text-align: left;
    padding-left: 5px;
}

.table-look th.column-last, .table-look td.column-last {
    text-align: right;
    padding-right: 5px;
}

.timestamp {
    text-align: center;
}


/* IRChart =============================================================== */


.IRChartColour {
    color: #009A78;
}


/* IRCalcModule =============================================================== */

.IRCalcModule {
    font-size: 14px;
}

.IRChartCalcPlaceholder {
    height: 250px;
}

.IRCalcModule #calc-form, .IRCalcModule #calculate-button {
    margin-top: 10px;
}

.IRCalcModule #amount-invested {
    margin-bottom: 10px;
}

.IRCalcModule input[type=number] {
    padding-left: 0;
    text-indent: 10px;
}

/* End ======================================================================== */


/* IRLookupModule =============================================================== */

.IRChartLookupPlaceholder {
    margin-bottom: 10px;
    height: 250px;
}

.IRLookupModule select {
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 6px;
    padding-right: 24px;
    text-overflow: ellipsis;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    padding-left: 16px;
    padding-right: 15px;
    font-family: inherit;
    font-size: 16px;
    line-height: 2.5;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #B3B1A8;
    margin-left: 2px;
}

.IRLookupModule #lookup-form label{
    line-height: 40px;
}

.input-row {
    height: 45px;
}


/* End ======================================================================== */


/* Calc and Lookup ============================================================ */

    .formDivider .input-row label {
        line-height: 40px;
        font-size: 16px;
    }

.radio label {
    position: relative;
    vertical-align: bottom;
}



/* profile */

table.IRTable.table-look .Header {
    text-align: left;
    padding-left: 10px;
}

table.IRTable.table-look .Data {
    text-align: left;
    padding-left: 10px;
}

/* @media only screen =========================================================*/
@media only screen and (max-width: 800px) {
    .formDivider {
        width: 100%;
        float: left;
        padding: 0px;
    }
}

@media (max-width: 700px) {
    .tools-container .left, .tools-container .right {
        width: 100%;
        display: block;
        float: none;
    }
}

@media only screen and (min-width: 572px) {

    .IRDetailedSharePrice.vertical {
        display: none !important;
    }

    .IRQuoteVerticalModule {
        display: none;
    }

    .IRDetailedSharePrice.vertical {
        display: none;
    }

    h3.vertical-header {
        display: none;
    }

    .IRCalcModule .vertical {
        display: none;
    }

    .divideLine.vertical {
        display: none;
    }
}

@media only screen and (max-width: 571px) {

    .table-look th.column-first, .table-look td.column-first {
    }

    .table-look .vertical th {
        border: 1px;
    }

    .table-look.vertical tbody {
        display: table;
        width: 100%;
    }

    h3.horizontal-header {
        display: none;
    }

    .IRLookupModule .lookupButton, .IRLookupModule #lookup-button {
        width: 100%;
    }

    .IRCalcModule .horizontal {
        display: none;
    }

    .IRCalcModule .vertical {
        margin-top: 20px;
        display: inline-block;
    }

        .IRCalcModule .vertical th {
          
            text-align: left;
            padding-left: 10px;
           
        }

        .IRCalcModule .vertical td {
            font-weight: normal;
            text-align: center;
            border-right: 0;
            border-left: 0;
            width: 50%;
            text-align: right;
            padding-right: 10px;
        }

        .IRCalcModule .vertical tr:nth-child(2n) {
            background: #F4FAFF;
        }

    .IRCalcModule .calculateButton, .IRCalcModule #calculate-button {
        margin-top: 5px;
        width: 100%;
    }

    .input-wrapper.lookupButton {
        width: 100%;
    }

}
@media screen and (max-width: 400px) {
    .tabs ul li, .tabs-container .tabs a {
        display: block;
        width: 100%;
    }
}



/* End ======================================================================== */
