@font-face {
    font-family: '2F5C55_0_0';
    src: url('fonts/2F5C55_0_0.eot');
    src: url('fonts/2F5C55_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/2F5C55_0_0.woff') format('woff'), url('fonts/2F5C55_0_0.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}



* {
    box-sizing: border-box;
}

body {
    font-family: '2F5C55_0_0', Arial, sans-serif;
    font-size: 16px;
    color: #141414;
    overflow-x: hidden;
}


select#from-day, select#from-month, select#from-year, select#to-day, select#to-month, select#to-year, select#frequency, select#format, input#amount-invested, select#frequency, select#format {
    font-family: '2F5C55_0_0', Arial, sans-serif;
}


/* IRChart =============================================================== */

.IRChartNavigation div {
    font-size: 14px;
}

.IRQuoteModule .updated {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}

.IRChartColour {
    color: #8FA8CB;
}

.IRQuoteModule th.Header {
    height: 32px;
    line-height: 32px;
    color: #333;
    font-weight: normal;
}

.IRQuoteModule td.Data {
    height: 32px;
    line-height: 34px;
}

.IRChartPlaceholderArea {
    height: 350px;
}

    .IRChartPlaceholderArea .IRChartPlaceholder {
        box-sizing: initial;
        height: 350px;
    }

.IRChartCalcPlaceholder, .IRChartLookupPlaceholder {
    height: 200px;
}

.IRChartPlaceholderArea .IRChartChangePeriod div {
    width: 40px;
    border: 1px solid #adadad;
    border-right: 0;
    font-size: 12px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(238,238,238,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(238,238,238,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(238,238,238,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6eeeeee',GradientType=0 );
    font-size: 14px;
}

    .IRChartPlaceholderArea .IRChartChangePeriod div:hover {
        -webkit-box-shadow: inset 0px 0px 8px 2px rgba(171,168,171,0.82);
        -moz-box-shadow: inset 0px 0px 8px 2px rgba(171,168,171,0.82);
        box-shadow: inset 0px 0px 8px 2px rgba(171,168,171,0.82);
    }


    .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod {
        text-transform: uppercase;
        color: #fff;
        background: #8FA8CB;
    }

        .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover, .IRChartPlaceholderArea .IRChartChangePeriod div.activePeriod:hover {
            background: #8FA8CB;
            box-shadow: none;
        }

.IRChartNavigation .IRChartTA .pop-submit {
    color: #fff;
    background: #8FA8CB;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

    .IRChartNavigation .IRChartTA .pop-submit:hover {
        color: #fff;
    }

.IRChartPlaceholderArea .IRChartChangePeriod {
    height: 22px;
    line-height: 22px;
    /* width: 400px; */
    margin: auto;
    box-sizing: border-box;
}


.IRChartMiniHTMLPlaceholder .IRChartHTMLPlaceholder {
    height: 200px;
}

.tooltipHTML {
    border: 0;
    -moz-box-shadow: 0px 0px 2px 2px #d2d2d2;
    -webkit-box-shadow: 0px 0px 2px 2px #d2d2d2;
    box-shadow: 0px 0px 2px 2px #d2d2d2;
    font-size: 12px;
    width: 120px;
    padding: 5px;
}

    .tooltipHTML .IRChartTooltipDate {
        font-size: 12px;
        font-weight: 700;
        border-bottom: 1px solid #a8a9a3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

.highcharts-tooltip span {
    color: #8FA8CB;
}

.tooltipHTML .IRChartTooltipDate, .tooltipHTML div.IRChartTooltipVolume span {
    color: #333;
}

.IRChartCompanyName {
    color: #333;
}

.IRChartCurrency {
    color: #333;
    font-size: 12px;
}

.highcharts-xaxis-labels text, .highcharts-yaxis-labels {
    font-size: 10px !important;
}

table.IRQuoteModule.table-look.vertical.customResponsiveVertical {
    display: none;
}

.highcharts-background {
    fill: #fff;
}

.disclaimer {
    display: none;
}

    .disclaimer.disclaimer-IRLookup2 {
        display: block;
    }

.icon-enlarge:before {
    content: "\e989";
}

.companyInfoWrapper .updated {
    float: right;
    width: 42%;
    text-align: right;
}

.IRChartNavigation {
    border-bottom: 1px solid #eee;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(238,238,238,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(238,238,238,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(238,238,238,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6eeeeee',GradientType=0 ); /* IE6-9 */
}

    .IRChartNavigation .IRChartView, .IRChartNavigation .IRChartTA, .IRChartNavigation .IRChartComparison, .IRChartNavigation .IRChartTSR, .IRChartNavigation .IRChartCC, .IRChartNavigation .IRChartFullscreen, .IRChartNavigation .IRChartSettings, .IRChartNavigation .IRChartListings, .IRChartNavigation .IRChartMenuTrigger {
        background-color: transparent;
        color: #000;
        font-size: 11px;
    }

        .IRChartNavigation .IRChartFullscreen .IRChartFullscreenBody div, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div, .IRChartNavigation .IRChartTSR .IRChartTSRBody div, .IRChartNavigation .IRChartSettings .IRChartSettingsBody div, .IRChartNavigation .IRChartNavigationInner .IRChartMenuTriggerBody div, .IRChartNavigation .IRChartTA .IRChartTABody div, .IRChartNavigation .IRChartCC .IRChartCCBody div {
            font-size: 10px;
            font-weight: 400;
            color: #555;
        }

            .IRChartNavigation .IRChartTA .IRChartTABody div.IRChartTABodyListHeader, .IRChartNavigation .IRChartComparison .IRChartComparisonBody div.IRChartComparisonBodyListHeader, .IRChartNavigation .IRChartSettings .IRChartSettingsBody .IRChartSettingsBodyListHeader {
                color: #000;
                font-weight: 700;
                font-size: 11px;
            }

.IRChartPlaceholderArea .IRChartChangePeriod div#Max {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #adadad;
}

.IRChartPlaceholderArea .IRChartChangePeriod div#d1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.IRChartNavigation .IRChartView:hover, .IRChartNavigation .IRChartTA:hover, .IRChartNavigation .IRChartCC:hover, .IRChartNavigation .IRChartComparison:hover, .IRChartNavigation .IRChartTSR:hover, .IRChartNavigation .IRChartSettings:hover, .IRChartNavigation .IRChartFullscreen:hover, .IRChartNavigation .IRChartListings:hover {
    background-color: #d2d2d2;
    color: #fff;
}

.IRChartNavigation .IRChartCompanyName {
    font-weight: bold;
    font-size: 15px;
}
/*
.highcharts-series rect{
    fill: #ff0000 !important;
}*/

/* End ====================================================================== */
.table-look th {
    width: 244px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #8fa8cb;
    height: 40px;
    line-height: 40px;
}

/* Calculator and Lookup ====================================================================== */
.input-row {
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 30px;
}

.radio label {
    position: relative;
    vertical-align: bottom;
    padding-right: 18px;
    font-size: 14px;
}

select#from-day, select#from-month, select#from-year, select#to-day, select#to-month, select#to-year, select#frequency, select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 0px;
}

input[type=submit] {
    font-size: 14px;
    margin-right: 0px;
    background-color: #8fa8cb;
    box-shadow: none;
    height: 30px;
    min-width: 186px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    float: right;
}

input#amount-invested, select#frequency, select#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 187px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    padding-left: 5px;
}

.radioBtn {
    margin: 0 25px 0 0;
    cursor: pointer;
    padding-right: 5px;
}

    .radioBtn:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #8FA8CB;
        opacity: .8;
        top: 50%;
        margin-top: -8px;
    }

    .radioBtn.checked:before {
        background: #16315B;
    }

.IRCalcModule #calc-form, .IRCalcModule #calculate-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

.IRCalcModule .vertical {
    display: none;
}

input[type=submit]:hover {
    box-shadow: none;
    color: #fff;
    background: #16315B;
}

input:focus, select:focus {
    outline: none;
}
/* End ====================================================================== */

/* Miniquote ====================================================================== */

.miniquoteDetailsWrapper {
    line-height: 1.4;
}

.Data.share {
    font-weight: bold;
    font-size: 22px;
}

.Data.last {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

.arrow-right {
    background: url(images/arrow-right.png) 0px 7px no-repeat;
    background-size: 8px;
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 20px;
}
/* End ====================================================================== */



@media only screen and (max-width: 480px) {


    .IRCalcModule .vertical {
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        border-top: 2px solid #8fa8cb;
        border-bottom: 1px solid #8fa8cb;
    }

        .IRCalcModule .vertical th {
            line-height: 30px;
            height: 30px;
            width: 100%;
            font-weight: bold;
            background-color: #fff;
            border-bottom: 1px solid #8fa8cb;
            text-align: left;
            color: #000;
            padding: 0;
        }

        .IRCalcModule .vertical td {
            text-align: right;
            background-color: #fff;
            border: none;
            border-bottom: 1px solid #8fa8cb;
        }

        .IRCalcModule .vertical tr {
            background: #fff;
        }

            .IRCalcModule .vertical tr:nth-child(2n) {
                background-color: #f5f6f3;
            }
}


@media only screen and (max-width: 450px) {
    .IRToolCalcResultsTable .est-shares, .IRToolCalcResultsTable .est-shares-cell {
        display: none;
    }
}

@media only screen and (max-width: 350px) {

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid #adadad;
    }
}


@media only screen and (max-width: 450px) {
    .IRToolCalcResultsTable .est-shares, .IRToolCalcResultsTable .est-shares-cell {
        display: none;
    }
}

@media only screen and (max-width: 350px) {

    .IRChartPlaceholderArea .IRChartChangePeriod div#y2 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid #adadad;
    }
}

@media only screen and (max-width: 300px) {
    input#amount-invested {
        width: 124px;
    }

    .IRChartPlaceholderArea .IRChartChangePeriod div#y1 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid #adadad;
    }
}
