@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: Verdana, arial, sans-serif;
    font-size: 12px;
    color: #505050;
}

h2 {
    color: #0097d6;
    font-weight: normal;
    font-size: 16px;
}

input[type=submit] {
    -webkit-appearance: none;
}
/*select{min-width: 50px;}*/

input[type=submit] {
    background: #7B7C7D;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    text-transform: uppercase;
    box-shadow: none;
}

.IRChartClientName {
    color: #505050;
}

.table-look {
    border: none;
}

    .table-look th, .table-look td {
        font-weight: 400;
        font-style: normal;
        line-height: 21px;
        border: none;
        text-align: left;
    }

    .table-look th {
        background-color: #e7e7e8;
    }

    .table-look td {
        background: #fff;
    }


.IRChartClientName {
    position: relative;
}

.chartDisclaimer, .performanceDisclaimer, .calcDisclaimer, .lookupDisclaimer {
    display: none;
}



/* IRMiniquoteModule ============================================ */
.miniquoteDetailsWrapper {
    font-size: 12px;
}

    .miniquoteDetailsWrapper .currency {
        line-height: 12px;
        height: 12px;
    }

    .miniquoteDetailsWrapper .last {
        font-size: 30px;
        font-weight: bold;
        line-height: 28px;
        height: 28px;
    }

    .miniquoteDetailsWrapper .updated {
        margin-top: 20px;
    }
/* End ========================================================== */


/* IRChartModule ================================================ */

.IRChartPlaceholderArea .IRChartChangePeriod {
    width: initial;
    max-width: 450px;
}

.IRChartColour {
    color: #7B7C7D;
}

.chartChangePeriod div {
    text-transform: uppercase;
}

    .chartChangePeriod div.activePeriod {
        background: #7B7C7D;
        color: #fff;
    }

.tooltipHTML {
    background-color: #fff;
    border: 1px solid #eee;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 14px;
    width: 140px;
    padding: 5px;
}

.tooltipHTML .IRChartTooltipDate {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #a8a9a3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* End ========================================================== */

/* IRLookupModule =============================================== */

.IRLookupModule .IRLookupResultsTable.horizontal th,
.IRLookupModule .IRLookupResultsTable.horizontal td {
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    border: none;
    color: #505050;
}

.IRLookupModule .IRLookupResultsTable.horizontal th {
    /*font-weight: bold;*/
}

.IRPerformanceModule .Header {
    text-align: right;
}

.formatArrowNeg, .formatArrowPos {
    width: 11px;
    height: 13px;
    display: inline-block;
    background-position: center center;
    margin-right: 3px;
}

.formatArrowPos {
    background-image: url(../images/arrow_up.png);
    color: #91c453;
}

.formatArrowNeg {
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    color: red;
}

.IRToolCalcResultsTable.horizontal {
    display: table;
}

.IRToolCalcResultsTable.vertical {
    display: none;
}

.IRCalcModule .input-wrapper, .IRLookupModule .input-wrapper {
    text-align: right;
}

.IRLookupModule label {
    float: left;
    line-height: 24px;
    height: 24px;
}

.IRCalcModule label, .IRCalcModule input[type="radio"] {
    float: left;
    line-height: 24px;
    height: 24px;
}


.IRCalcModule .IRToolCalcResultsTable.horizontal th {
}

.IRCalcModule .IRToolCalcResultsTable.horizontal td {
}

.IRCalcModule .IRToolCalcResultsTable.vertical th {
    text-align: left;
}

.IRCalcModule .IRToolCalcResultsTable.vertical td {
    text-align: right;
}


/* IRQuoteDualModule ============================================ */
.IRQuoteDualModule.table-look th, .IRQuoteDualModule.table-look td {
    font-size: 10px;
}

.IRQuoteDualModule.table-look th {
    line-height: 13px;
    font-size: 10px;
    background-color: #CED2E5;
    color: #00348B;
    text-align: center;
    font-weight: normal;
    border-collapse: collapse;
    padding: 5px;
    border: 2px solid #FFFFFF;
}

.IRQuoteDualModule.table-look td {
    line-height: 13px;
    background-color: #E5E7F1;
    color: #00348B;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #FFFFFF;
    vertical-align: middle;
}

.IRQuoteDualModule .exchange {
    width: 108px;
}

.IRQuoteDualModule.table-look .column-first {
    text-align: left;
}

.IRQuoteDualModule th.column-first, .IRQuoteDualModule th.column-last {
    visibility: hidden;
}

.IRQuoteDualModule .column-last {
    width: 60px;
}
/* End ========================================================== */

.IRCalcModule select {
    min-width: 50px;
}


/* Media Queries ================================================ */
@media screen and (max-width: 600px) {
    .IRToolCalcResultsTable.horizontal {
        display: none;
    }

    .IRToolCalcResultsTable.vertical {
        display: table;
    }

    iframe.calc {
        height: 500px !important;
    }

    .IRPerformanceModule .avg_volume_Past12monthsHeader, .IRPerformanceModule .avg_volume_Past12months, .IRPerformanceModule .percentageChangeHeader, .IRPerformanceModule .percentageChange {
        display: none;
    }

    .IRPerformanceModule .avg_volume_Past6monthsHeader, .IRPerformanceModule .avg_volume_Past6months, .IRPerformanceModule .pctChange_12monthsHeader, .IRPerformanceModule .pctChange_12months {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .IRPerformanceModule .avg_volume_Past6monthsHeader, .IRPerformanceModule .avg_volume_Past6months, .IRPerformanceModule .pctChange_12monthsHeader, .IRPerformanceModule .pctChange_12months {
        display: none;
    }

    .IRPerformanceModule .avg_volume_Past3monthsHeader, .IRPerformanceModule .avg_volume_Past3months, .IRPerformanceModule .pctChange_YTDmonthsHeader, .IRPerformanceModule .pctChange_ytd {
        text-align: left;
    }
}


@media screen and (max-width: 350px) {
    .formatArrowNeg, .formatArrowPos {
        width: 9px;
        height: 9px;
    }
}


/* End ========================================================== */
