body {
    margin: 0px;
    padding: 10px;
    font-family: 'Grotesque MT W01 Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #414141;
}

.IREmailAlertsRSS {
    margin: auto;
    border-collapse: collapse;
}

.outerWrapper {
    margin: auto;
    max-width: 960px;
    border: 1px solid #E7E7E7;
}

.subGroup {
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid #E7E7E7;
}

.subGroup.first {
   border-top: none;
}

h3 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: normal;
    background-color: #F9F9F9;
    border-bottom: 1px solid #E7E7E7;
}

.innerGroup {
    width: 49%;
    float: left;
    margin-bottom: 10px;
    padding-top: 20px;
    min-width: 290px;
}

label, input[type="text"] {
    margin-left: 10px;
}

label {
    color: #015CAE;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    
}

input[type="text"] {
    background-color: #F9F9F9;
    border: none;
    margin-left: 10px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-top: 10px;
}
input[type="image"] {
    background-image: url('inc/checkbox_false.png');
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 26px;
    height: 26px;
}

.clearBoth {
    clear: both;
}


.innerGroupSmall {
    width: 32%;
    float: left;
    margin-bottom: 10px;
    padding-top: 20px;
    min-width: 145px;
}

label.checkBoxLabel {
    position: relative;
    top: -8px;
}

.RSS_SubmitForm {
    background-color: #F9F9F9;
    padding-bottom: 0px;
}

.RSS_SubmitFormButton {
    position: relative;
    float: right;
    height: 60px;
    line-height: 60px;
    color: #fff;
    padding-left: 20px;
    padding-right: 80px;
    cursor: pointer;
    background-color: #015CAE;
}
    .RSS_SubmitFormButton:hover {
        background-color: #014079;
        
    }

@media screen and (max-width: 746px) {
    .innerGroup {
        width: 99%;
        min-width: 99%;
    }
}

@media screen and (max-width: 500px) {
    .innerGroupSmall {
        width: 99%;
        min-width: 99%;
    }
}

    
