a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
g,
ins,
kbd,
label,
legend,
li,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  margin: 0;
  outline: none;
}
a {
  text-decoration: none;
}
b,
b *,
strong,
strong * {
  font-weight: bold !important;
}
em,
em *,
i,
i * {
  font-style: italic !important;
}
a {
  color: #3d3d3d;
}
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  position: relative;
}
html {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #4E5053;
}
* h2 {
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.IRChartTypePieLegend {
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 11px;
  font-weight: normal;
  z-index: 100;
}
.tooltipHTML {
  position: relative;
  z-index: 400;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #eee;
  top: 0;
  font-family: sans-serif;
  height: 36px;
  width: 100px;
}
.tooltipHTML div {
  display: block;
  white-space: nowrap;
}
.tooltipHTML div span.subHeader {
  display: inline-block;
  text-align: left;
  width: 30px;
}
.tooltipHTML div span.subContent {
  text-align: left;
}
.IRFactsheetShareDataTable {
  width: 100%;
}
.IRFactsheetShareDataTable td,
.IRFactsheetShareDataTable th {
  text-align: left;
  line-height: 18px;
}
.IRFactsheetShareDataTable td.right,
.IRFactsheetShareDataTable th.right {
  text-align: right;
}
.IRFactsheetKeyFigureHighlightTable {
  width: 100%;
}
.IRFactsheetKeyFigureHighlightTable td,
.IRFactsheetKeyFigureHighlightTable th {
  text-align: left;
  line-height: 18px;
}
.IRFactsheetKeyFigureHighlightTable td.right,
.IRFactsheetKeyFigureHighlightTable th.right {
  text-align: right;
}
.IRColumnChartStackedLabels {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
}
.IRFactsheetFinancialHighlights {
  padding-right: 10px;
}
.IRFactsheetFinancialHighlights td {
  vertical-align: middle;
}
.IRFactsheetFinancialHighlights .rowHeader {
  max-width: 120px;
}
header {
  text-align: center;
  height: 70px;
  border-bottom: 1px solid #79abc4;
  background: #163c4e;
}
header span {
  line-height: 70px;
  font-size: 20px;
  color: #79abc4;
}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.grid {
  margin-top: 2%;
  background: #fff;
}
.grid.to-right .item {
  width: 445px;
}
.grid.to-right .item:nth-of-type(odd) {
  padding-left: 0;
}
.grid.to-right .item:nth-of-type(even) {
  width: 250px;
  padding-right: 0;
}
.grid.to-right .item.wide {
  width: 700px;
  padding-right: 0;
}
.grid.to-left .item {
  width: 250px;
}
.grid.to-left .item:nth-of-type(even) {
  width: 445px;
  padding-right: 0;
}
.grid.to-left .item:nth-of-type(odd) {
  padding-left: 0;
}
.grid.to-left .item.wide {
  width: 100%;
}
.grid .item {
  width: 348px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
.grid .item:nth-of-type(odd) {
  margin-left: 0;
}
.grid .item img {
  width: 100%;
}
.grid .item.wide {
  width: 100%;
}
.grid .item .item-inside {
  margin-bottom: 20px;
}
.grid .item .item-inside:last-child {
  margin-bottom: 0;
}
.grid .item.boxes {
  display: table;
  table-layout: fixed;
}
.grid .item .box-cell {
  display: table-cell;
  vertical-align: top;
}
.grid .item .IconTextBox {
  text-align: center;
  margin-bottom: 30px;
}
.grid .item .IconTextBox:last-child {
  margin-bottom: 0;
}
.grid .item .IconTextBox img {
  width: 40%;
  display: inline-block;
}
.grid .item .IconTextBox span {
  width: 100%;
  display: inline-block;
  color: #6D6875;
  font-size: 25px;
  font-weight: 700;
  line-height: initial;
}
.grid .item .IconTextBox p {
  font-size: 16px;
}
.grid .item .IconTextBox .icon {
  width: 100%;
  display: inline-block;
}
.grid .item .IconTextBox .icon i {
  width: 70px;
  height: 60px;
  display: inline-block;
}
.grid .item .IconTextBox.growth i {
  background: url("../images/img/growth.svg") center center no-repeat;
  background-size: contain;
}
.grid .item .IconTextBox.handshake i {
  background: url("../images/img/handshake.svg") center center no-repeat;
  background-size: contain;
}
.grid .item .IconTextBox.goal i {
  background: url("../images/img/goal.svg") center center no-repeat;
  background-size: contain;
}
.grid .item .IconTextBox.lightbulb i {
  background: url("../images/img/lightbulb.svg") center center no-repeat;
  background-size: contain;
}
.grid .item .IconTextBoxwrap {
  margin-bottom: 30px;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.grid .item .IconTextBoxwrap:last-child {
  margin-bottom: 0;
}
.grid.half-box {
  display: table;
  padding-right: 0;
}
.grid.half-box .item {
  width: 485px;
  display: table-cell;
  padding-bottom: 0;
}
.grid.half-box .item .section {
  margin-bottom: 30px;
  width: 460px;
  display: inline-block;
}
.grid.half-box .item .section:last-child {
  margin-bottom: 0;
}
.grid.half-box .item .section.boxes {
  display: table;
  table-layout: fixed;
}
.grid.half-box .item .section.wide {
  width: 100%;
}
.grid.half-box .item:nth-child(even) {
  width: 260px;
  background: #EFF4DA;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.grid.with-paddings .item-wide-wrap .item {
  padding: 15px;
}
.grid.with-paddings .item-wide-wrap .item:nth-of-type(odd) {
  padding-left: 15px;
}
.grid.with-paddings .item-wide-wrap .item:nth-of-type(even) {
  padding-right: 15px;
}
.grid.all-in-borders {
  border-bottom: 1px solid;
}
.grid.all-in-borders .item {
  padding: 20px !important;
  border: 2px solid #ccc;
  border-bottom: 0;
}
.grid.all-in-borders .item:nth-of-type(even) {
  border-left: 0;
}
.grid.colored {
  margin-top: 0;
}
.grid.colored .item-wide-wrap .item {
  padding: 10px !important;
  border: 1px solid #fff;
}
.IRFactsheetKeyFigureHighlightTable th {
  background: #6D6875;
  font-size: 15px;
  color: #fff;
}
.IRFactsheetFinancialHighlights tr,
.IRFactsheetShareDataTable tr {
  border-bottom: 1px solid #6D6875;
}
.IRFactsheetFinancialHighlights tr:last-child,
.IRFactsheetShareDataTable tr:last-child {
  border-bottom: 0;
}
.boxFact {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  border-right: 5px solid #fff;
  border-left: 5px solid #fff;
  position: relative;
  box-shadow: none;
  overflow: hidden;
}
.boxFact:before {
  content: "";
  height: 40px;
  background: #fff;
  width: 100%;
  display: block;
}
.boxFact:first-child {
  border-left: 0;
}
.boxFact:last-child {
  border-right: 0;
}
.boxFact .icon {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: #6F9091;
  display: inline-block;
  border: 3px solid #fff;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -35px;
}
.boxFact .icon.share {
  background: #6f9091 url("../images/img/share.png") center center no-repeat;
  background-size: 30px;
}
.boxFact .icon.send {
  background: #6f9091 url("../images/img/send.png") center center no-repeat;
  background-size: 30px;
}
.boxFact .icon.chart {
  background: #6f9091 url("../images/img/chart.png") center center no-repeat;
  background-size: 30px;
}
.boxFact .text {
  padding: 40px 20px 20px 20px;
  color: #fff;
  border: 0;
  position: relative;
}
.boxFact .text .title {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}
.boxFact .fake-bg {
  background: #6F9091;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  right: 0;
}
.bigShapes-box {
  text-align: center;
  display: inline-block;
  color: #fff;
  background: #6D6875;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}
.bigShapes-box.small {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
.bigShapes-box.small .bigNumberBox {
  height: 85px;
}
.bigShapes-box.small .bigNumberBox span {
  font-size: 40px;
}
.bigShapes-box.small .bigNumberBox p {
  font-size: 15px;
}
.bigShapes-box.small .text {
  font-size: 12px;
}
.bigShapes-box.medium {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.bigShapes-box.medium .bigNumberBox {
  height: 120px;
}
.bigShapes-box.medium .bigNumberBox span {
  font-size: 60px;
}
.bigShapes-box.medium .bigNumberBox p {
  font-size: 20px;
}
.bigShapes-box.medium .text {
  font-size: 14px;
}
.bigShapes-box.big {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}
.bigShapes-box.big .bigNumberBox {
  height: 155px;
}
.bigShapes-box.big .bigNumberBox span {
  font-size: 75px;
}
.bigShapes-box.big .bigNumberBox p {
  font-size: 25px;
}
.bigShapes-box.big .text {
  font-size: 15px;
}
.bigShapes-box.huge {
  width: 300px;
  height: 300px;
  border-radius: 300px;
}
.bigShapes-box.huge .bigNumberBox {
  height: 190px;
}
.bigShapes-box.huge .bigNumberBox span {
  font-size: 90px;
}
.bigShapes-box.huge .bigNumberBox p {
  font-size: 30px;
}
.bigShapes-box.huge .text {
  font-size: 17px;
}
.bigShapes-box .bigNumberBox {
  width: 100%;
  position: relative;
}
.bigShapes-box .bigNumberBox span {
  position: absolute;
  width: 100%;
  font-weight: 600;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.bigShapes-box .bigNumberBox span p {
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
}
.bigShapes-box .text {
  text-transform: uppercase;
}
.fact-list {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}
.fact-list li {
  display: table;
  width: 100%;
  padding: 0px 10px;
  height: 45px;
}
.fact-list li span {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.fact-list.radius-left li {
  border-radius: 40px 0 0 40px;
  padding-left: 20px;
}
.circle-list {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.circle-list .pie-item {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}
.circle-list .pie-item .pie-item-title {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.IRFactsheetVisualList {
  border-left: 2px solid #222;
  padding-top: 20px;
  padding-bottom: 20px;
}
.IRFactsheetVisualList li {
  height: 40px;
  display: table;
  padding: 0 10px;
  background: #FFB4A2;
  margin-bottom: 5px;
  font-weight: 600;
}
.IRFactsheetVisualList li div {
  display: table-cell;
  vertical-align: middle;
}
.IRFactsheetVisualList li span {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}
.IRFactsheetVisualList li p {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  line-height: 14px;
}
.IRFactsheetVisualList li:nth-child(2) {
  background: #FFCDB2;
}
.IRFactsheetVisualList li:nth-child(3) {
  background: #FFB4A2;
}
.IRFactsheetVisualList li:nth-child(4) {
  background: #E5989B;
}
.IRFactsheetVisualList li:nth-child(5) {
  background: #B5838D;
}
.IRFactsheetVisualList li:last-child {
  margin-bottom: 0;
}
.bigNumbersShapes {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.bigNumbersShapes .number {
  font-size: 100px;
  font-weight: 600;
  line-height: initial;
  width: 100%;
  display: inline-block;
  line-height: 70px;
}
.bigNumbersShapes .number sup {
  font-size: 60px;
  display: inline-block;
  vertical-align: super;
  font-weight: 400;
}
.bigNumbersShapes p {
  font-size: 16px;
  margin-top: 20px;
}
.item-wide-wrap {
  display: table;
  width: 100%;
}
.item-wide-wrap .item {
  display: table-cell;
  padding: 10px;
}
.item-wide-wrap.to-right .item {
  width: 445px;
}
.item-wide-wrap.to-right .item:nth-of-type(odd) {
  padding-left: 0;
}
.item-wide-wrap.to-right .item:nth-of-type(even) {
  width: 250px;
  padding-right: 0;
}
.item-wide-wrap.to-right .item.wide {
  width: 700px;
  padding-right: 0;
}
.item-wide-wrap.to-left .item {
  width: 250px;
}
.item-wide-wrap.to-left .item:nth-of-type(even) {
  width: 445px;
  padding-right: 0;
}
.item-wide-wrap.to-left .item:nth-of-type(odd) {
  padding-left: 0;
}
.item-wide-wrap.to-left .item.wide {
  width: 100%;
}
.bgColor {
  background: #F6F6F7;
}
.borderAll {
  border: 4px solid;
  border-color: #C78283;
}
.boxColored {
  background: #C78283;
  color: #fff;
}
.boxColored > div {
  padding: 0 15px;
}
.verticalCenter {
  position: relative;
}
.verticalCenter > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.three-in-row-rnd {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.three-in-row-rnd .rndBox {
  position: absolute;
  border-radius: 100%;
  top: 55%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.three-in-row-rnd .rndBox.small {
  width: 140px;
  height: 140px;
  background: #FFCAD4;
  left: 15%;
}
.three-in-row-rnd .rndBox.medium {
  width: 180px;
  height: 180px;
  background: #F4ACB7;
  left: 42%;
}
.three-in-row-rnd .rndBox.medium .infoBox .biggerText {
  font-size: 40px;
  line-height: 35px;
}
.three-in-row-rnd .rndBox.big {
  width: 200px;
  height: 200px;
  background: #9D8189;
  left: 70%;
}
.three-in-row-rnd .rndBox.big .infoBox .biggerText {
  font-size: 50px;
  line-height: 40px;
}
.three-in-row-rnd .infoBox {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  width: 100%;
}
.three-in-row-rnd .infoBox .upperText {
  width: 100%;
  display: inline-block;
}
.three-in-row-rnd .infoBox .biggerText {
  font-size: 30px;
  line-height: 30px;
}
.three-in-row-rnd .infoBox .biggerText p {
  display: inline-block;
  font-size: 20px;
}
.progressBox {
  width: 100%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}
.progressBox .progressBar {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.progressBox .progressBar .text-out {
  position: absolute;
  top: 0px;
  font-size: 14px;
  color: #4E5053;
  padding-bottom: 5px;
  border-bottom: 1px solid #4E5053;
  line-height: initial;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.progressBox .progressBar .text-out:after {
  content: "";
  width: 1px;
  height: 10px;
  background: #4E5053;
  position: absolute;
  left: -4px;
  bottom: -9px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
}
.progressBox .progressBar:nth-child(even) .text-out {
  top: auto;
  bottom: 10px;
}
.progressBox .progressBar:nth-child(even) .text-out:after {
  left: auto;
  left: -7px;
  height: 20px;
  bottom: -3px;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
}
.grid-background {
  background: url(http://static.wixstatic.com/media/858114_4af20e660fb54583a992b7c0786e5a93.gif) center center no-repeat;
  background-size: contain;
}
.heading {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background: #bebfc0;
  padding: 0 15px;
}
.totalUnderline {
  border-bottom: 2px dotted #000;
  padding: 0 10px;
  display: inline-block;
  margin-bottom: -7px;
}
.totalUnderline .totalUnderlineNumber {
  font-size: 40px;
  display: inline-block;
}
.totalUnderline .totalUnderlineText {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
}
.extraInformationBox {
  width: 100%;
  color: #fff;
}
.extraInformationBox .extraInformationBoxHeading {
  background: #6F9091;
  font-weight: 600;
  text-align: center;
  height: 28px;
  line-height: 28px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  font-size: 14px;
}
.extraInformationBox .extraInformationBoxTable {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.extraInformationBox .extraInformationBoxTable li {
  display: table-cell;
  background: #90c4b5;
  text-align: center;
  padding: 10px 0 20px 0;
}
.extraInformationBox .extraInformationBoxTable li:nth-child(2n) {
  background: #bad9d1;
}
.extraInformationBox .extraInformationBoxTable .extraInformationBoxNumbers {
  font-size: 35px;
  font-weight: 600;
  line-height: initial;
}
.extraInformationBox .extraInformationBoxTable .extraInformationBoxText {
  font-size: 14px;
}
.dataColumnUpWithText {
  width: 100%;
  text-align: center;
}
.dataColumnUpWithText .dataColumnUpBox {
  width: 30%;
  float: left;
}
.dataColumnUpWithText .dataColumnUpBox .dataColumnUpBoxColumnWrap {
  height: 120px;
}
.dataColumnUpWithText .dataColumnUpBox .dataColumnUpBoxColumnWrap .dataColumnUpBoxColumnFake {
  width: 100%;
  background: transparent;
  display: inline-block;
}
.dataColumnUpWithText .dataColumnUpBox .dataColumnUpBoxColumn {
  width: 100%;
  display: inline-block;
  position: relative;
  background: #A3C4BC;
}
.dataColumnUpWithText .dataColumnUpBox .dataColumnUpBoxColumn .dataColumnUpBoxColumnText {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 30px;
}
.dataColumnUpWithText .dataColumnUpBox .dataColumnUpBoxText {
  border-top: 1px solid #E7EFC5;
  margin-top: 10px;
  padding-top: 5px;
}
.dataColumnUpWithText .dataColumnUpBox:last-child {
  float: right;
}
.dataColumnUpWithText .dataColumnUpBox:last-child .dataColumnUpBoxColumn {
  background: #cdcf88;
}
.dataColumnUpWithText .dataColumnUpBox:nth-child(2) {
  float: none;
  display: inline-block;
}
.dataColumnUpWithText .dataColumnUpBox:nth-child(2) .dataColumnUpBoxColumn {
  background: #BFD7B5;
}
.bg {
  background: url("../images/img/bgcover.jpg") top center no-repeat;
  background-size: cover;
}
.bg .grid {
  background: none;
}
.design1 {
  margin-top: 0;
}
.design1 .heading {
  background: #213A52;
}
.design1 .bigShapes-box {
  background: #2B4D6E;
}
.design1 .borderAll {
  border-color: #2B4D6E;
  border: 2px solid;
}
.design1 .bgColor {
  background: #2B4D6E;
  color: #fff;
}
.company-name-headline {
  padding: 0 20px;
  font-size: 25px;
  line-height: initial;
  color: #2b4d6e;
  height: 60px;
  line-height: 40px;
  padding-top: 10px;
  font-weight: 600;
}
.company-name-headline span {
  border-bottom: 1px solid #2b4d6e;
  padding-right: 50px;
  padding-bottom: 5px;
}
.bigShapes-row {
  text-align: center;
}
.bigShapes-row .bigShapes-box {
  position: static;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  vertical-align: middle;
  margin: 0 10px;
}
.about-text-box {
  margin-bottom: 20px;
}
.about-text-box h2 {
  margin-bottom: 0;
}
.heading-title {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.heading-title span {
  padding-bottom: 5px;
  padding-right: 10%;
  border-bottom: 2px solid #EFF4DA;
  display: inline-block;
}
.canvas-wrapper {
  float: left;
}
.IRFactsheetShareData {
  min-width: 211px;
}
.bg1 {
  background: #8797B2;
  color: #fff;
}
.bg2 {
  background: #80c7cd;
  color: #fff;
}
.bg3 {
  background: #FCE24F;
  color: #fff;
}
.bg4 {
  background: #AAC0AA;
}
.bg5 {
  background: #FCFBEC;
}
.bg6 {
  background: darkseagreen;
  color: #fff;
}
 
.test {
	
}